[2014-06-24 21:29] jbenet opened #1 "Add to cli: `ipfs pin [-r] <ipfs-path>`"
Add to cli: `ipfs pin [-r] <ipfs-path>`

[2014-06-26 21:57] jbenet opened #2 "Mounting read only /ipfs"
Read only mounting works now:

in one term:
[code]

in another:
[code]

wow, thanks unix :)  :heart:

## todo

- [ ] service/daemonize
- [ ] listing root shows things available locally
- [ ] leveldb not re-entrant, so ipfs cli should check if a service is running.
- [ ] mount subdirectories. e.g. `ipfs mount <ipfs-path> <os-path>`

[2014-06-27 00:44] jbenet opened #3 "DHT implementation"
The next major subsystem to do is the DHT.

The rough plan in order of importance:
- [ ] basic kademlia alg (ipfs-dht) <-- enough for now.
- [ ] coral locality clusters (ipfs-dht)
- [ ] s/kademlia disjoint path lookups (ipfs-dht)
- [ ] s/kademlia peer addressing (ipfs-peer)
- [ ] s/kademlia signatures (ipfs-msgproto-crypto)

Note that this module should work on top of a [msgproto](https://github.c

[2014-07-26 13:15] garyhodgson opened #4 "No build on Windows due to FUSE dependency"
As with https://github.com/jbenet/go-ipfs/issues/9, the app fails to build on Windows due to the dependency on fuse (fuse4js).

[2014-09-03 20:18] mappum opened #11 "Submodule Structure"
I understand you want to modularize the project, but breaking up into a huge tree of git submodules is a little insane. Node already uses a module system by default, so we can put the same module structure you designed into directories. Each one as its own repo just makes the project a pain to maintain and to contribute to. If we move the modules into directories we will barely need to change the

[2014-09-03 20:48] mappum opened #12 "Grunt Install"
The project currently uses Make to automate installation. This hurts portability, since Windows developers would need Cygwin or something similar. Grunt is a much better alternative since Node developers are used to it and it is fully cross-platform (since it's Node-based).

Resolving #11 would eliminate the need for a build system since the project could be installed via NPM.

[2015-02-03 21:40] Latrasis commented on #11
Hey Guys, is this the official repo? If so i'd be happy to help on reformatting to a more npm friendly structure. No git submodule voodoo magic.

There's two ways:

Seperate Repo way:
1. Get rid of git submodules, don't need them.
2. Seperate each submodule to a seperate repo and register to the npm registry.
3. Then have node-ipfs as a seperate repo that fetches each module in package.json from n

[2015-02-03 21:49] Latrasis commented on #11
In terms of a README alternative, using github's wiki is a good option.

[2015-04-24 14:37] martindale commented on #3
There is now also [gordonwritescode/kad](http://github.com/gordonwritescode/kad).  Solid.

[2015-04-24 22:12] jbenet commented on #3
@martindale thanks!

[2015-06-01 20:15] diasdavid opened #13 "Basic spec compliance needed to get a node-ipfs running"
#### minimum spec

- **network**
  - [ ] NAT Traversal
  - [ ] TCP
- **routing**
  - [ ] mDNS
  - [ ] DHT
- **exchange**
  - [ ] bitswap
- **merkleDAG**

#### validate the usefulness of code already created (deprecate/rebuild/good)

- **network**
  - https://github.com/ipfs/node-ipfs/tree/master/submodules/ipfs-network-pipe
  - https://github.com/ipfs/node-ipfs/tree/master/submodules/ipfs-network

[2015-06-02 10:12] diasdavid commented on #13
@jbenet "candidate attack plan" from the meeting notes is ready :)

[2015-06-02 19:08] jbenet commented on #13
@diasdavid candidate attack plan looks great to me!

- we should whittle down assignments to one person (a single Directly Responsible Individual)
- I wrote up the wire stuff yesterday (pushing shortly). It's not what go-ipfs does today, but it's what we'll move to (cc @whyrusleeping) for node-ipfs interop.
- still writing module interfaces

[2015-06-03 08:04] diasdavid commented on #13
From @jbenet on IRC
- https://github.com/ipfs/specs/blob/wire/protocol/network/wire.md
- https://github.com/ipfs/specs/pull/9/files

[2015-06-03 09:00] jbenet commented on #13
Great! :+1:

[2015-06-03 09:01] jbenet commented on #13
we can probably assign the rest once we have a clearer scope. also, i think @krl began working on the node merkledag.

[2015-06-03 14:48] jbenet commented on #13
For basic wire protocol interop, all we need is (lots of steps but each one is relatively small):
- [x] write out a wire protocol description (@jbenet) https://github.com/ipfs/specs/blob/wire/protocol/network/wire.md
- [ ] write go-multistream and go-multistream-select (may be just one pkg)
- [ ] write node-multistream and node-multistream-select (may be just one pkg)
- [ ] make go-ipfs use go-mul

[2015-06-03 14:50] jbenet commented on #13
@whyrusleeping have time this week to take on any of the go things above? (part the spdy part?)

[2015-06-03 15:02] jbenet commented on #13
@diasdavid @mappum @krl @travisperson -- what things from the wire interop list might you be able to take this week?

if we had a thing by the end of the week that spoke the wire protocol, it would be a great start.

[2015-06-03 15:02] jbenet commented on #13
(and anyone else watching, feel free to help! \o/)

[2015-06-04 14:14] diasdavid commented on #13
After thesis delivery on Friday morning, my intent is to to focus entirely on:
- write node-multistream and node-multistream-select (may be just one pkg)
- work with someone on "write go-multistream and go-multistream-select (may be just one pkg)" and write tests to test both impl interop (I'm not very go lang savy yet, but guaranteeing that the interop worked from the start can save us a lot of t

[2015-06-04 16:57] mafintosh commented on #13
@jbenet @diasdavid in multistream, is the newline included in the length? (if so i more or less already have that module done)

[2015-06-04 17:57] whyrusleeping commented on #13
@jbenet i was going to work on the records ipns stuff, but i can do this instead.

[2015-06-04 22:09] jbenet commented on #13
@mafintosh yes, the newline is included in the length. what's your module?

[2015-06-04 22:10] whyrusleeping commented on #13
ill take on  "write go-multistream and go-multistream-select (may be just one pkg)"

[2015-06-04 22:14] jbenet commented on #13
@whyrusleeping edit my message and sign yourself up? + link to relevant issues there as they're made?

[2015-06-05 17:38] diasdavid commented on #13
@jbenet do we want multistream to be aware if the stream is binary/plain text? If we have, is the binary version already have a defined expected length? (To know how much bytes should be reserved for the length in the beginning)

[2015-06-05 18:20] jbenet commented on #13
Multistream itself shouldn't care-- it just defines the header. As for the expected length, it's a varint, but for now the go impl uses 'encoding/binary', which bounds it to a uint64 maximum (larger varints are treated by the implementation as errors, so the functionality is there to grow, but we can do the easy safe thing for now).

Also I need to adjust the docs for multistream-select -- @whyrus

[2015-06-05 18:22] jbenet commented on #13
(Also we should make sure whether the encoding/binary varint is what we want. I'd like a flavor of varint that means "<127" is the same byte value (I.e. Highest order bit is continuation), so impls can check easily)

—
Sent from Mailbox

On Fri, Jun 5, 2015 at 10:38 AM, David Dias <notifications@github.com>
wrote:

[2015-06-07 11:14] diasdavid commented on #13
update:
 - made a node-multistream impl https://github.com/diasdavid/node-multistream
 - felt the need to add two status messages, so that the `client` can tell if it got the protocol right and if it is good to pass the stream to the handler that is going to use it. @whyrusleeping what do you think about it?
    - https://github.com/diasdavid/node-multistream/blob/master/src/index.js#L40
    - htt

[2015-06-07 21:57] jbenet commented on #13
@diasdavid

great! :+1:

So this is for `multistream-select` specifically, right?

There's already an ack, but the ack "confirms the protocol name", and is also the same thing as starting a conversation, too:

[code]

If we added an `ok\n` message, we'd get:

[code]

Without this extra ACK, you could have a totally one-sided conversation -- meaning a push-stream that is not duplex, _without_ needi

[2015-06-08 16:16] diasdavid commented on #13
Thank you @jbenet, that was indeed a good explanation! I've updated the module (and published it to make sure we don't loose that name), categorising the two modes of working as `silent-broadcast` and `interactive-select` (feel free to recommend better names :)). All the updates, tests and examples here: https://github.com/diasdavid/node-multistream

[2015-06-08 16:41] diasdavid commented on #13
ok, got what was the problem with the interop problems I was having between go and node multistream impls. It seems that sorribas impl of length-prefixed-message doesn't include a '\n', and since we changed the protocol to include it, well, it barfed :). I'll just add the '\n' myself to the buffer that is passed onto lpm when a write occurs and trim it for the reads :). On it :)

[2015-06-08 21:46] whyrusleeping commented on #13
TODO:
- [ ] build of go-ipfs without secio
- [ ] @jbenet needs to draw a diagram for multistream integration into go-ipfs
- [ ] @whyrusleeping needs to follow that diagram to implement the new multistream-go-ipfs
- [ ] @diasdavid work on testing against live go-ipfs daemon, goal of implementing dht ping

[2015-06-14 22:02] diasdavid commented on #3
@jbenet if you happen to have something on the DHT spec written down already, please feel free to push it so I can start on it tomorrow fresh and early :)

[2015-09-10 15:44] RichardLitt opened #14 "Repository description unclear"
I'm not sure what this repo is doing. Can I use any of the stuff here? Can I install and help out? If so, how?

The top description is also confusing: `ipfs implementation in node https://github.com/jbenet/ipfs`. Does that mean that https://github.com/jbenet/ipfs is a more up-to-date version of this? Or is that just a link to what IPFS is?

[2015-09-10 15:54] ralphtheninja commented on #14
@RichardLitt Afaict the link you pointed to is only about the `ipfs` project itself, which in turn is a protocol that can have many implementations of it. The `go-ipfs` project is the canonical project and `node-ipfs` would be a node implementation of the same protocol.

[2015-09-10 16:01] RichardLitt commented on #14
Ok, cool. That should be changed, and added to the Readme for this repository. I'll see if I can do this when I get push access from @jbenet.

[2015-09-10 16:15] jbenet commented on #14
@richardlitt: make sure to follow the PR model:

make a branch in this same repo, submit as PR and tag someone (ideally
maintainer, in this case @diasdavid) to CR

On Thu, Sep 10, 2015 at 6:01 PM, Richard Littauer <notifications@github.com>
wrote:

[2015-09-10 16:20] RichardLitt commented on #14
Got it. Just changed the description to point to http://ipfs.io, because that is less ambiguous and can't be done in a PR. Will do a README PR now.

[2015-09-10 16:44] diasdavid opened #15 "Guide for review"
@RichardLitt, thank you so much for helping me review stuff, as I explain in IRC, there isn't exactly PR to review, since I'm pretty much the only one maintaining the code and I just keep iterating over master till we hit a alpha version.

There is a simple ['roadmap' in this repo's Readme](https://github.com/ipfs/node-ipfs/blob/master/README.md#roadmap), however, if it is the first time you are d

[2015-09-10 16:47] diasdavid commented on #14
Didn't this show to you int he Readme? Also added a https://github.com/ipfs/node-ipfs/issues/15 to help with direction

[code]

[2015-09-12 21:12] RichardLitt commented on #14
@diasdavid Made a PR. Should close this issue if merged.

[2015-09-12 21:14] RichardLitt commented on #15
@diasdavid Thanks for writing this up! Good to know there's no real PRs to review, just general overall QAQC. Will see what I can do. I don't understand pretty much anything of what is said in ipfs/specs#19, but I'm thinking of starting a document for technical overview and discussion to help out a) me b) future people like me.

I'll add reviewing swarm components to my log of things to do. Sounds

[2015-09-12 21:28] RichardLitt opened #17 "track: `bitswap`"
@diasdavid Bitswap doesn't have a repository associated with it. (Neither does Peer routing, but I'm not sure if that is top-level and if it needs one yet or not).

Has work been started on it yet? @mafintosh is keen to help now, if so, or to just start cracking.

[2015-09-13 04:39] RichardLitt commented on #14
Closing as issue is now answered.

[2015-09-13 04:39] #14 closed

[2015-09-13 06:59] diasdavid commented on #12
Closing this issue as it referes to the 1st impl of node-ipfs that is no longer supported (as we are building the new one compliant with the spec :) ).

[2015-09-13 06:59] #12 closed

[2015-09-13 07:00] diasdavid commented on #4
Closing this issue as it referes to the 1st impl of node-ipfs that is no longer supported (as we are building the new one compliant with the spec :) ).

[2015-09-13 07:00] #4 closed

[2015-09-13 07:01] diasdavid commented on #3
Closing this issue as it referes to the 1st impl of node-ipfs that is no longer supported (as we are building the new one compliant with the spec :) ).

[2015-09-13 07:01] #3 closed

[2015-09-13 07:01] diasdavid commented on #2
Closing this issue as it referes to the 1st impl of node-ipfs that is no longer supported (as we are building the new one compliant with the spec :) ).

[2015-09-13 07:01] #2 closed

[2015-09-13 07:01] diasdavid commented on #1
Closing this issue as it referes to the 1st impl of node-ipfs that is no longer supported (as we are building the new one compliant with the spec :) ).

[2015-09-13 07:01] #1 closed

[2015-09-15 10:15] diasdavid opened #18 "node-ipfs-kad-router"
# node-ipfs-kad-router
https://github.com/diasdavid/node-ipfs-kad-router

Module to perform lookup for peers in a Kademlia DHT. For a given 'key' it must return a pq(priority queue) of peers that are the closest to that key - https://github.com/diasdavid/node-ipfs-kad-router/blob/master/src/index.js#L79

## How you can help?

- Adding more tests for code coverage (target 100%)
- Adding documentati

[2015-09-15 10:17] diasdavid opened #19 "node-libp2p-mdns-discovery"
# node-libp2p-mdns-discovery
https://github.com/diasdavid/node-libp2p-mdns-discovery

Node.js libp2p mDNS discovery implementation. mDNS is used to discover IPFS peers in a local area network.

## How can you help
- Add more tests for code coverage to 100%

[2015-09-15 10:18] diasdavid opened #20 "node-ipfs-random-walk"
# node-ipfs-random-walk
https://github.com/diasdavid/node-ipfs-random-walk

In order to refresh the peers in our k-buckets for the Kademlia DHT, we perform 'random-walks' on the DHT, finding leaf peers, so that we can consider them for our k-buckets.

## How you can help
- build the module
  - write the docs
  - write the tests
  - 100% code coverage

[2015-09-15 10:22] diasdavid opened #21 "node-ipfs-railing"
# node-ipfs-railing
https://github.com/diasdavid/node-ipfs-railing

Simple module to parse a list of bootstrap peers list, attempt to connect to them and return which ones are reachable and valid, so that we can populate our DHT initially. This process is known on the P2P literature as Railing

## How you can help
- Write tests to 100% coverage
- Add CI

[2015-09-15 10:24] diasdavid opened #22 "node-libp2p-swarm"
# node-libp2p-swarm
https://github.com/diasdavid/node-lib2p-swarm

This module is currently under a major refactoring, keep posted for updates.

[2015-09-15 10:29] diasdavid opened #23 "stream-muxing"
# stream-muxing
https://github.com/diasdavid/node-spdy-stream-muxer
https://github.com/diasdavid/abstract-stream-muxer
https://github.com/indutny/spdy-transport

# How can you help
- It would be amazing if spdy-transport started returning a duplex stream https://github.com/indutny/spdy-transport/issues/14

[2015-09-15 10:31] diasdavid opened #24 "node-multistream"
# node-multistream
https://github.com/diasdavid/node-multistream

Follows https://github.com/jbenet/multistream/tree/master/multistream spec

# How you can help
- make code coverage go up to 100%

[2015-09-15 10:37] diasdavid opened #25 "Record System"
# Record System

Modules that are part of the Record System are about to change due to recent finding https://github.com/ipfs/specs/issues/24#issuecomment-140136140

Once we decided on a good solution for this issue, the development will continue and I will update the issue

[2015-09-15 10:40] diasdavid opened #26 "node-multihashing and multihash"
# node-multihashing and multihash
https://github.com/jbenet/node-multihashing
https://github.com/jbenet/node-multihash

Use all the functions in multihash.

Wait, why, how is this different from Node crypto?
This module just makes working with multihashes a bit nicer. node-multihash is only for encoding/decoding multihashes, and does not depend on other libs. This module will depend on various imp

[2015-09-15 10:42] diasdavid opened #27 "webcrypto"
# webcrypto
https://github.com/diasdavid/webcrypto

WebCryptoAPI polyfil to work in Node.js in the Browser (so that you don't have to be concerned about moving crypto code between a browser and server side app)

Context: https://github.com/nodejs/node/issues/2833

# How can you help
- The module is still being made, if someone wants to take the lead, it would be great :)

[2015-09-15 10:47] diasdavid commented on #17
Thanks for adding this @RichardLitt :)

I would love to be able to give you something like bitswap, even if a rough implementation, but what happens is that we are currently under the development of libp2p in Node.js and during this process, we learned how to improve IPFS' network stack. What this means is that now we also have to upgrade go-ipfs network stack to be full libp2p and until then, eve

[2015-09-15 12:43] autoit4you commented on #27
I'd definitively interested in helping, although I'm not sure where to start.

[2015-09-15 13:36] diasdavid commented on #27
@autoit4you we need to create a interface that hopefully takes the most from the overlap of both worlds and then make a shim for the remaining calls that differ from both implementations.

One thing to have in mind is that WebCryptoAPI is promises based, while the Node.js Crypto module is callback based (for now), so we will need to define both interfaces too

[2015-09-15 19:47] RichardLitt commented on #17
@diasdavid I don't think I'd be able to do this, either way. But @mafintosh could probably make it work without needing to improve IPFS, he's hoping to use this module for something else, too.

@mafintosh What do you think?

[2015-09-17 07:20] harlantwood commented on #27
Not sure if it helps, but I've found Bluebird's

`.promisify( function )`

And

`.promisifyAll( module )`

To be very useful and easy ways to automatically create promises from functions that take callbacks... (though they don't work with all libs).

[2015-09-17 07:22] harlantwood commented on #27
For more on that: https://github.com/petkaantonov/bluebird/blob/master/API.md#promisification

[2015-09-22 10:41] diasdavid opened #30 "captain.log - IPFS Node.js implementation"
Aye mates!

This is your captain speaking, the IPFS Node.js ship as been to set sail and good winds are blowing! Thank you for all the messages and enthusiasm shared so far, we truly appreciate your support and since some of you are eager to get their hands on code and help with the development, I'll keep this issue updated every week with what has been going on and where you can help the most. To

[2015-09-23 22:26] diasdavid commented on #22
Just went through the planned revisit - https://github.com/diasdavid/node-libp2p-swarm/pull/10

Could use a hand getting all the other transports(see other options in the Roadmap  https://github.com/ipfs/node-ipfs#roadmap) in place and getting it more tested :)

[2015-09-24 13:24] diasdavid commented on #19
[Just released a new version](https://www.npmjs.com/package/libp2p-mdns-discovery), using the new Swarm and here is one more thing of how you can help the dev! Announce all of the transports through mDNS, should be fun!

https://github.com/diasdavid/node-libp2p-mdns-discovery/issues/4

[2015-09-29 12:17] diasdavid commented on #30
Aye! Check my new entry, arr :)

### LOG - Week of 21st of September

**Plan:**

- Have a interoperable version of libp2p in Go, to that the primitives and coverage become stronger so that then the remaining parts of IPFS can implemented with confidence (cli, bitswap, chunker, etc)

**Where you can help during this week:**

- Making SPDY become a duplex stream - https://github.com/indutny/spdy-tra

[2015-10-19 20:12] diasdavid opened #31 "List the remaining IPFS modules to be built, once libp2p is done"
(repo, config, fs, etc)

[2015-10-28 21:08] #15 closed

[2015-10-28 21:39] diasdavid opened #32 "We are renaming the prefix of our JavaScript modules from 'node-' to 'js-'"
As discussed on the Oct 26 Sprint meeting, we will be renaming the prefix of any of our github repos that contain any JavaScript module, from 'node-' to 'js-'.

This decision came from hearing the feedback from the IPFS community, where there was always some confusion with the words 'node' and 'ipfs' and also a the lack of clarity if a module is supposed to be Node.js only. 'node' is a very overlo

[2015-10-28 22:18] Dignifiedquire commented on #32
just saw this, really good decision!

[2015-10-28 22:20] diasdavid commented on #32
thank you, @Dignifiedquire :)

[2015-10-28 22:32] bcomnes commented on #32
What, you dont want to change ipfs node to hub everywhere? :trollface:

This is a good decision :+1:

[2015-10-28 23:52] RichardLitt commented on #32
Don't forget:

- https://github.com/ipfs/ipfs/blob/master/project-directory.md
  - [ ] open issue to link to this one
  - [ ] rename all back links

Should've used IPNS for everything I guess :P

[2015-10-31 02:44] diasdavid commented on #32
done :)

[2015-10-31 02:44] #32 closed

[2015-11-13 14:54] diasdavid opened #36 "IPFS Repo JavaScript Implementation"
`ipfs-repo` is the module that implements and offers the functionality offer in [`repo spec`](https://github.com/ipfs/specs/tree/master/repo)

git repo: https://github.com/ipfs/js-ipfs-repo

It should work natively using the fs or in the browser using local storage

js-ipfs-repo should be able to grab an ipfs repo generated by go-ipfs and manipulate it without breaking interopability.

[2015-11-14 15:39] diasdavid opened #37 "js-ipfsd-ctl"
# ipfsd-ctl
https://github.com/ipfs/js-ipfsd-ctl

# How can you help
https://github.com/ipfs/js-ipfsd-ctl/issues

[2015-11-16 16:05] RichardLitt commented on #36
Thanks for this issue: added this to https://github.com/ipfs/ipfs/pull/116.

[2015-11-18 17:15] diasdavid commented on #13
Oh, how time flies :) June 1, feels just like yesterday :)

[2015-11-18 17:15] #13 closed

[2015-12-11 00:42] #37 closed

[2015-12-11 00:43] diasdavid commented on #36
### js-ipfs-repo repo https://github.com/ipfs/js-ipfs-repo

Where you can help:
- https://github.com/ipfs/js-ipfs-repo/issues

thank you :)

[2015-12-11 00:48] diasdavid commented on #27
Getting everything more organised, moving libp2p endeavours to js-libp2p, new issue can be found at - https://github.com/diasdavid/js-libp2p/issues/4

[2015-12-11 00:48] #27 closed

[2015-12-11 01:17] #26 closed

[2015-12-11 01:17] #25 closed

[2015-12-11 01:18] diasdavid commented on #26
-> https://github.com/diasdavid/js-libp2p/issues/5

[2015-12-11 01:18] diasdavid commented on #24
-> https://github.com/diasdavid/js-libp2p/issues/5

[2015-12-11 01:18] #23 closed

[2015-12-11 01:18] #22 closed

[2015-12-11 01:18] #21 closed

[2015-12-11 01:19] #20 closed

[2015-12-11 01:19] #19 closed

[2015-12-11 01:19] #18 closed

[2015-12-11 01:19] #24 closed

[2015-12-12 05:48] diasdavid commented on #31
I've added a bunch more, @jbenet can you go through the list and add all the other pieces that can be subsystems that come to your mind?
https://github.com/ipfs/js-ipfs#roadmap-for-the-full-ipfs-implementation-in-javascript

[2015-12-12 05:51] diasdavid commented on #11
Going to close this issue as it respects to the (waay waay) old js-ipfs :)

@Latrasis if you have free cycles to help ship js-ipfs, join the :ship: ! :D

[2015-12-12 05:51] #11 closed

[2015-12-13 16:03] jbenet commented on #31
@diasdavid i think that's comprehensive for the core -- the rest of the go-ipfs modules are extensions i think.

https://github.com/ipfs/specs/blob/master/overviews/implement-ipfs.md for posterity

[2015-12-13 19:53] diasdavid opened #41 "IPLD Data Importing - Set of Importers"
One of the core pieces to get jsipfs working, is having a IPLD importer (file -> chunker -> merkleDAG), so that we can create MerkleDAG structures that can be used to be moved around bitswap.

The goals of the importers are described here - https://github.com/ipfs/specs/blob/master/overviews/implement-ipfs.md#ipld-data-importing

Probably it is possible to use some of the work developed by @mafint

[2015-12-13 19:58] diasdavid commented on #17
Bitswap is fun! So fun that we even made it the first episode of "[Jeromy](@whyrusleeping) coffee talks" [link](https://www.youtube.com/watch?v=9UjqJTCg_h4)

We can start hacking on bitswap, specially if we are able to define its interface beforehand, which would enable us to have multiple bitswaps working for us, some using libp2p, others using other transports or even disks that are mounted on t

[2015-12-13 20:01] diasdavid commented on #31
Sounds good, thank you :)

[2015-12-13 20:01] #31 closed

[2015-12-13 20:11] mafintosh commented on #41
I'm actually working on making on decoupling the chunker so any chunking stratrgy can br used (a chunker is just a through stream)

[2015-12-13 20:13] mafintosh commented on #17
This is great! I was actually reading up on this yesterday. Thanks for making the video.

[2015-12-13 20:19] whyrusleeping commented on #17
@diasdavid yeah, bitswap actually has a really simple interface.

The idea is that bitswap implements the same interface that a blockstore does, so you have:
[code]

[2015-12-14 07:44] jbenet commented on #41
Agree fully. [I started with Go](https://github.com/jbenet/go-chunk) but vendoring crap... time to pick it back up!

So far, we have this model in go-ipfs:
- `chunkers or splitters`  algorithms that read a stream and produce a series of chunks. for our purposes should be deterministic on the stream. divided into:
  - `universal chunkers` which work on any streams given to them. (eg size, rabin, et

[2015-12-14 07:44] jbenet commented on #41
@whyrusleeping see the model above.

[2015-12-21 06:23] diasdavid opened #42 "init"
What are the things that occur during a `ipfs init`? (From key generation, if those base files are c&p or fetched from the network, etc). It would be good to make this part of IPFS spec itself.

#### Implementation roadmap

- [x] define/list what happens on an ipfs init
- [x] jsipfs init
  - [x] core
  - [x] http-api
  - [x] cli

[2015-12-23 09:41] diasdavid commented on #30
### LOG - Week of December 21

**Update:**

- We have now IPFS Repo implemented in JS https://github.com/ipfs/js-ipfs-repo
- Bitswap work has started
  - https://github.com/diasdavid/js-ipfs-bitswap
  - https://github.com/ipfs/specs/pull/53

**Next:**

- Make a IPLD Data Importing spec https://github.com/ipfs/js-ipfs/issues/41#issuecomment-164370167
- jsipfs init - https://github.com/ipfs/js-ipfs/

[2016-01-11 12:39] diasdavid opened #46 "bootstrap"
I've started working on this on https://github.com/ipfs/js-ipfs/pull/45, but as the HTTP API is in flux/being written (between a RPC vs REStful discussion), I'm going to defer this until that part is spec.

Whole spec https://github.com/ipfs/specs/pull/65
HTTP API spec - https://github.com/ipfs/api

- add
  - [x] core
    - [x] tests
  - [x] http-api
    - [x] tests
  - [x] cli
    - [x] tests
- r

[2016-01-11 17:36] RichardLitt commented on #46
Ahh, so this is why you've been trying to get the API moving faster. ;)

[2016-01-11 18:40] diasdavid commented on #46
It definitely helps everyone. js-ipfs-api and the other client libraries keep getting broken

[2016-01-13 13:04] jbenet commented on #46
I thought we agreed that it was going to remain as is (a rest like thing) and we would only _add_ a "single endpoint json rpc" api as _another_ thing.

[2016-01-14 15:04] diasdavid opened #49 "config"
#### To learn more about config, you can

- try out the ipfs config command with a go-ipfs daemon
- check the config http-api-spec https://github.com/ipfs/http-api-spec/pull/29

#### Implementation Roadmap

- [x] jsipfs config           - Gets or sets the value of a given key of the config file.
  - [x] core
  - [x] http-api (#72)
  - [x] cli
- [x] jsipfs config show           - Outputs the conten

[2016-01-14 15:06] diasdavid opened #50 "block"
Interact with raw blocks in the datastore. It uses IPFS-repo to store and get blocks

#### To learn more about the Block API, you can

- check out the go impl https://github.com/ipfs/go-ipfs/tree/master/blocks
- read datastore spec https://github.com/ipfs/specs/tree/master/repo#datastore

#### Implementation Roadmap

- [x] ipfs-blocks JavaScript implementation https://github.com/ipfs/js-ipfs-block

[2016-01-14 15:10] diasdavid opened #51 "track: `IPFS Repo`"
IPFS Repo is the storage driver for IPFS.
#### To learn more about the repo, you can
- Read the IPFS Repo Spec https://github.com/ipfs/specs/tree/master/repo
#### Implementation Roadmap
- [x] IPFS Repo JS Implementation https://github.com/ipfs/js-ipfs-repo
- [x] Integration of BlockService with IPFS Repo https://github.com/ipfs/js-ipfs-blocks
- [x] Integration of IPFS Repo with js-ipfs https://git

[2016-01-14 16:50] diasdavid commented on #50
need `remove` in [js-ipfs-repo](https://github.com/ipfs/js-ipfs-repo) for `del`

[2016-01-23 09:48] diasdavid opened #54 "commands"
The `commands` command simply prints out all the available commands (and their subcommands). It is part of tooling.

- [x] jsipfs commands

[2016-01-25 16:23] diasdavid commented on #36
Update:

Currently we have a working IPFS Repo implementation and @xicombd has helped getting that working on the browser as well. There is a bug however, which is that values being stored in localStorage are being converted to utf8 strings, adding a lot of information that is not required, making the buffer bigger (breaking the hash, size and so on).

We changed local-storage-blob-store to use he

[2016-01-26 16:28] diasdavid commented on #36
Update: ways you can help

- [ ] Up the code coverage (now at 90%)
- [ ] Tests for storing binary data through the datastore (blocks)
- [ ] Help document the items that are currently stored in go-ipfs levelDB https://github.com/ipfs/js-ipfs-repo/issues/21
- [ ] Create repo init feature (start each repo, put default files in each)

[2016-01-26 16:30] diasdavid opened #57 "daemon"
`jsipfs node` is the interface that enables us to start and stop a daemon and also get some information about it

- [x] id
- [x] daemon

[2016-01-26 16:47] diasdavid opened #58 "object"
The object API enables IPFS users to create graph structures with IPFS were links are MerkleLinks (multihashes)

#### To learn more about the object API, you can

- check go implementation of the MerkleDAG https://github.com/ipfs/go-ipfs/tree/master/merkledag
- check the MerkleDAG spec https://github.com/ipfs/specs/tree/master/merkledag
- see the http-api spec for the object API https://github.com

[2016-01-26 16:52] diasdavid opened #59 "track: `Pinning`"
The pin command let's you control what hashes (blocks) are not garbage collected, meaning that they are not removed unless you specifically tell the IPFS node to do so.
#### To learn more about the pinning, you can
- check go implementation https://github.com/ipfs/go-ipfs/tree/master/pin
#### Implementation Roadmap
- [x] complemente core object implementation https://github.com/ipfs/js-ipfs/issues

[2016-01-26 16:53] diasdavid opened #60 "track: `Files API + MFS`"
The `files` API offers an interface to work with unixfs, a Merklelized Data Structure that represents a typical FileSystem used in a Unix OS. with files, dirs and symlinks. This API is what enables IPFS to add and retrieve files without having to ask the users to convert their data into a graph data structure.
#### To learn more about the Files API, you can
- watch https://www.youtube.com/watch?v=

[2016-01-26 17:55] diasdavid commented on #30
### LOG - 26 of January

#### Update:

- You can now do `npm i -g jsipfs` and use the already implemented commands, full list on project status https://github.com/ipfs/js-ipfs#project-status
- We have an MerkleDAG implementation that interops with go-ipfs MerkleDAG implementation (this means you can write and read blocks from the same repo and will work for both implementations)
- We have currentl

[2016-01-30 02:09] JAremko opened #65 "Broken link"
https://github.com/ipfs/js-ipfs#per-component-view

Network layer - See **h**https://github.com/diasdavid/js-libp2p

[2016-02-02 23:35] diasdavid commented on #49
config http-api spec - https://github.com/ipfs/http-api-spec/pull/29

[2016-02-02 23:35] diasdavid commented on #50
blocks http-api spec - https://github.com/ipfs/http-api-spec/pull/25

[2016-02-03 17:48] RichardLitt commented on #50
Let me know if I can help.

[2016-02-03 17:48] RichardLitt commented on #49
Let me know if the spec needs updating.

[2016-02-23 16:40] diasdavid opened #70 "http-api - get version test with js-ipfs-api fails **only** on Travis"
**TEST**

https://github.com/ipfs/js-ipfs/blob/master/tests/test-http-api/test-version.js#L38-L47

**LOG**

[code]

[2016-02-23 17:59] diasdavid commented on #65
fixed with https://github.com/ipfs/js-ipfs/pull/71

[2016-02-23 17:59] #65 closed

[2016-02-23 18:20] diasdavid commented on #60
**Updated this issue**

[2016-02-23 18:25] diasdavid commented on #59
**Updated this issue**

[2016-02-23 18:38] diasdavid commented on #57
this is finished :)

[2016-02-23 18:38] #57 closed

[2016-02-23 18:41] diasdavid commented on #54
**updated issue**

[2016-02-23 18:41] diasdavid commented on #58
**updated this issue**

[2016-02-23 18:48] diasdavid commented on #51
**Updated this issue**

[2016-02-23 19:05] diasdavid commented on #49
**updated this issue**

[2016-02-23 19:06] diasdavid commented on #46
**This is now complete**

[2016-02-23 19:06] #46 closed

[2016-02-23 19:15] diasdavid commented on #42
**updated this issue**

[2016-02-23 22:51] diasdavid commented on #30
# LOG - February 23 🚣

![](https://media.giphy.com/media/IehS5CoFfzQuQ/giphy.gif)

We've been pretty busy working on the JavaScript implementation of IPFS, there are more things that you can use now and all of them interop the Go implementation. Before starting with the formal update and next steps, I just wanted give a shout to everyone that has been submitting patches or contributing with featur

[2016-02-24 14:58] xicombd commented on #49
@diasdavid I was looking into `jsipfs config edit` but couldn't find any way of accessing the repo's path.
Should we expose it on `js-ipfs-repo` or did I miss something?

[2016-02-24 18:11] diasdavid commented on #49
@xicombd note that the jsipfs cli might be working through the network, so essentially the way to do it is to fetch the config, open it on a editor and when on save, write it back.

[2016-02-24 18:27] xicombd commented on #49
Ahhh, makes sense. Thanks for the clarification!

[2016-02-27 20:38] xicombd commented on #49
[I'm implementing the `/config/replace` api endpoint](https://github.com/ipfs/js-ipfs/compare/feature/http-api-config-show...feature/http-api-config-replace), but although it works fine with the [spec's curl example](https://github.com/ipfs/http-api-spec/blob/feature/config/apiary.apib#L1822), and the [hapi tests](https://github.com/ipfs/js-ipfs/compare/feature/http-api-config-show...feature/http-

[2016-02-27 21:02] diasdavid commented on #49
"multipart strikes again™"

@xicombd good catch, we certainly need to document that, the reality is that go-ipfs uses a custom made Multipart message format which hapijs is rejecting since it expects something with the format of the spec. This might require some hackery in order to get the same Multipart parser that we have in Go.

A way to get this done is

- 1. capture a multipart message for fi

[2016-02-29 15:53] diasdavid commented on #49
https://public.etherpad-mozilla.org/p/multipart-madness

### js-ipfs hacking

[code]

#### TODO
- [ ] fork hapi and add option to skip the payload read/parse for a route for a given route
- [ ] make PEZ understand our multipart messages

#### NOTES

Hapi passes the request.raw.req here https://github.com/hapijs/subtext/blob/master/lib/index.js#L296 to `subtext`, that pipes it to `pez` here: https:

[2016-02-29 23:14] xicombd commented on #49
Started implementing a multipart parser for ipfs here: https://github.com/xicombd/ipfs-multipart

[2016-03-01 00:39] noffle commented on #42
First pass on this!

---

# input
[code]
# steps

1. check if config file is already locked by a daemon process
2. parse input flags
3. stdout: `"initializing ipfs node at %s", repoRoot`
4. ensure the repo root dir is writeable
5. bail if the repo root already exists & `--force` is not supplied
6. generate rsa keypair
 1. bail if < 1024 bits
 2. stdout: `"generating %v-bit RSA keypair...", nbits`

[2016-03-01 19:58] nginnever commented on #60
<h3>jsipfs files get</h3>

Taking a note from @noffle and a stab at ```jsipfs files get```

Relevant go-ipfs links:
https://github.com/ipfs/go-ipfs/blob/master/core/commands/get.go

<h3>ARGUMENTS:</h3>

    <ipfs-path> - The path to the IPFS object(s) to be outputted

<h3>OPTIONS:</h3>

    -o, --output            string - The path where output should be stored
    -a, --archive           bool   -

[2016-03-01 23:55] nginnever commented on #60
<h3>jsipfs files cat</h3>

A look at ```jsipfs files cat```

Relevant go-ipfs links:
https://github.com/ipfs/go-ipfs/blob/master/core/commands/cat.go
https://github.com/ipfs/go-ipfs/blob/master/core/coreunix/cat.go

<h3>ARGUMENTS:</h3>

    <ipfs-path>... - The path to the IPFS object(s) to be outputted

<h3>DESCRIPTION:</h3>

    Retrieves the object named by <ipfs-or-ipns-path> and outputs the d

[2016-03-04 18:35] #54 closed

[2016-03-04 22:02] #49 closed

[2016-03-09 11:27] lhenocque opened #79 "webui fails to load properly"
On a mac, el capitan. IPFS installed fine. All command line tests run fine.
Video streaming works fine
Only ada.jpg loads on the photo demo (I may not have tried all)

Trying to load http://localhost:5001/webui. It stalls on
http://localhost:5001/ipfs/QmRyWyKWmphamkMRnJVjUTzSFSAAZowYP4rnbgnfMXC9Mr/#/?_k=***
It fails on three browsers : Firefox, Safari and Chrome. Chrome reports "waiting for localh

[2016-03-09 17:36] xicombd commented on #58
Started working on this on [feature/object](https://github.com/ipfs/js-ipfs/tree/feature/object) branch :)

[2016-03-10 09:51] diasdavid commented on #58
@xicombd :+1: :D

[2016-03-10 18:57] noffle commented on #42
Draft for a "real" spec: https://github.com/ipfs/specs/pull/83

[2016-03-10 19:03] noffle commented on #51
Hey @diasdavid. I have some questions about js-ipfs repo init that I could use some clarification on:

1. What specifically does js-ipfs `repo init` need to do? I'm unclear on where `repo init` differs from `ipfs init` in this case. Do things like key generation happen here, or is that a separate non-repo init step? Some help on understanding the boundaries between repo initialization and general

[2016-03-10 19:11] diasdavid commented on #51
Starting from the bottom:

You can find on the [Architecture diagram on the README of js-ipfs-repo](https://github.com/ipfs/js-ipfs-repo#architecture) that an IPFS repo is constructed by several 'subrepos' or blob-store instances, to enable the user to have a repo running on fs, an in memory db, indexeddb, even a networkDB or mixed :)

The benefit of using abstract-blob-store is that paths are han

[2016-03-10 19:36] noffle commented on #51
That helps, @diasdavid.

Doesn't this mean that all of the repo's stores must share the same key? What if that doesn't make sense in all implementations? E.g. I wish to store keys in fs-repo but the rest in index-db. I have to use an FS path like `/home/stephen/ipfs/` to make fs-repo work, but this means the name in index-db will also be `/home/stephen/ipfs/`. You could imagine other combinations

[2016-03-10 19:40] diasdavid commented on #51
I made it this way because go-ipfs uses `flatfs` and `levelDB` simultaneously, which invalidates option b). On option a), fine by me, it didn't hurt anyone so far, but if you have a reason to add that to the API, I'm happy to take that PR :)

[2016-03-10 23:01] RichardLitt commented on #50
Why isn't `del` in go-ipfs?

[2016-03-10 23:52] noffle commented on #51
"repo root" has no meaning in `js-ipfs` then, correct? The repo here is defined as a map of abstract-blob-stores. Since there is no common store there can be no "root".

[2016-03-11 00:49] noffle commented on #51
Another question!

Why should we exposed `ipfs repo init`? Is there any reason why we'd want users to use this? Doesn't `ipfs init` cover this?

[2016-03-11 12:07] diasdavid commented on #51
re: `ipfs repo init` yeah, we don't really need to expose that one :) (It was added to the list of features on the API spec some time ago)

[2016-03-11 12:09] diasdavid commented on #50
@RichardLitt go-ipfs doesn't expose it (yet). But it is what gc does internally. Exposing it is nice for testing and convenience.

[2016-03-11 18:55] diasdavid opened #82 "js-multiaddr support for uTP, WebSockets and IPFS"
It is time to give js-multiaddr a spin and upgrade it to support uTP, WebSockets and IPFS.

multiaddr spec - https://github.com/jbenet/multiaddr
js impl - https://github.com/jbenet/js-multiaddr
go impl - https://github.com/jbenet/go-multiaddr

Note how uTP, WebSockets and IPFS are not yet recognized by multiaddr https://github.com/jbenet/js-multiaddr/blob/master/src/protocols.js#L29-L37. We need t

[2016-03-13 23:14] #70 closed

[2016-03-17 00:33] noffle opened #90 "Pick random ports on tests"
We ought to gracefully use port zero (like go-ipfs).

[code]

[2016-03-17 02:29] diasdavid commented on #90
go-ipfs doesn't use port 0 for the Gateway, which is where that is failing.

[code]

It is strange however, because I changed the config to launch the http-api on port 9090 to avoid those kind of collisions, but it seems that you had something else running on port 9090?

[2016-03-17 16:05] noffle commented on #90
[It does for
tests](https://github.com/ipfs/go-ipfs/blob/master/test/sharness/lib/test-lib.sh#L149),
and we should too.

I run other software on 8080, so I run the gateway on 9090, as may many
other users -- 8080 is pretty popular and 9090 is the next most
"logical" choice. ;)

[2016-03-17 20:01] xicombd commented on #58
Started working on the object patch commands on the [feature/object-patch](https://github.com/ipfs/js-ipfs/tree/feature/object-patch)

Their spec is now available at https://github.com/ipfs/http-api-spec/pull/68 \o/

[2016-03-20 18:01] diasdavid commented on #79
Hi @lhenocque , this repo is focused on the JavaScript implementation of IPFS. For the webui repo, visit https://github.com/ipfs/webui

Tagging @dignifiedquire which can follow up and provide help to you. Closing this one

[2016-03-20 18:01] #79 closed

[2016-03-20 18:12] diasdavid commented on #82
I've done this now :) check the latest versions of multiaddr and mafmt :)

[2016-03-20 18:12] #82 closed

[2016-03-21 09:51] lhenocque commented on #79
ok, thanks David

Le 20/03/2016 19:01, David Dias a écrit :

[2016-03-21 13:13] diasdavid commented on #60
merged https://github.com/ipfs/js-ipfs/pull/67

[2016-03-21 13:22] diasdavid opened #92 "track: `jsipfs swarm`"
The swarm API enables IPFS users to learn about their connected peers and connect to other peers if desired
#### To learn more about the swarm API, you can:
- read about libp2p and how ipfs swarm features are implemented on top of libp2p - https://github.com/ipfs/specs/tree/master/libp2p
#### Implementation Roadmap
- [x] jsipfs daemon - turn own swarm when it boots up
- jsipfs swarm peers
  - [x]

[2016-03-21 14:04] diasdavid commented on #90
Got it, wanna submit a PR for that?

[2016-03-21 21:00] upfs opened #93 "Small issues getting up and running with js-ipfs"
I want to get up on speed with js-ipfs and ran into a few small issues.

reads `"main": "src/index.js"` I changed it locally to `"main": "src/ipfs-core/index.js"` to be able to follow the README usage:

[code]

otherwise yields error: ipfs module not found

Should this be added to package.json?
`'fs-blob-store'`

`Initializing daemon...
error   listen EAFNOSUPPORT :::4001`

if run a second time

`

[2016-03-21 22:38] noffle commented on #90
This isn't on my short term list, so let's open it up as `Help Wanted` until it gets picked up.

[2016-03-22 08:56] diasdavid commented on #93
Good catch!

Could you confirm which Node.js and npm versions you are using?

Which go-ipfs version did you use it for init? jsipfs is compatible with the repo version 3, which is generated by go-ipfs 0.4.0. You can check your repo version with:

[code]

Currently, you have to use webpack, but we are working on a solution([notes](https://github.com/ipfs/community/pull/111)) to make it work with an

[2016-03-22 18:58] nginnever commented on #90
Took a shot at it, was actually playing with this last night.

https://github.com/ipfs/js-ipfs/pull/94

[2016-03-22 19:56] upfs commented on #93
Thank you for the detailed information, I hope this will be useful to more devs interested to get started with ipfs.

I'm trying to do exactly this: https://github.com/ipfs/ipfs.js/blob/master/README.md

Is that already possible?

node v5.8.0
npm 3.8.0

I installed js-ipfs v0.4.4 in a new directory, running ./node_modules/.bin/jsipfs  I'm missing 'fs-blob-store'

I had repo v 2, `rm ~/.ipfs` and c

[2016-03-22 23:37] noffle opened #95 "util module for repo setup/teardown"
[Via @diasdavid](https://github.com/ipfs/js-ipfs/pull/91#discussion_r57087894):

[2016-03-25 15:39] diasdavid commented on #90
thank you :)

[2016-03-25 15:39] #90 closed

[2016-03-27 10:27] #58 closed

[2016-03-29 15:40] RichardLitt commented on #58
Woo! Thanks @xicombd!

[2016-03-30 17:26] diasdavid commented on #42
This is done! :D thank you @noffle

[2016-03-30 19:00] noffle commented on #42
Does this still need to be open?

[2016-03-30 19:14] diasdavid commented on #42
just missing https://github.com/ipfs/js-ipfs/pull/96 to be merged, right?

[2016-03-31 03:54] AdamStone commented on #59
Hi, really interested in the possibilities of fully browser-based IPFS apps so I wanted to try to contribute. I started a pin implementation [here](https://github.com/AdamStone/js-ipfs/tree/feature/pin). Let me know if you see any obvious problems with what I have so far, I'm basically trying to figure out the infrastructure as I go. Thanks!

[2016-04-02 22:55] diasdavid commented on #50
Booooom! :D done, thank @RichardLitt and @xicombd for getting this done ! :D

[2016-04-02 22:55] #50 closed

[2016-04-02 22:56] diasdavid commented on #42
🎉🎉🎉🎉 one more issue that can be closed! :D

Thank you @noffle :D

[2016-04-02 22:56] #42 closed

[2016-04-02 22:57] #36 closed

[2016-04-02 22:58] diasdavid commented on #95
- [x] util module https://github.com/ipfs/js-ipfs/blob/master/test/utils/temp-repo.js
- [ ] make tests use it across the board

[2016-04-03 17:21] diasdavid commented on #59
Hi @AdamStone , welcome! :D

My apologies for the time to reply, wanted to get back to you faster. This is great, thank you for contributing! Pinning is one of the things it would be really nice to have for the js-ipfs milesone 1 :):)

It would really help the process if you could submit a PR, making it very obvious what code you have changed (and also CI will run the tests per commit). Would you

[2016-04-03 18:18] AdamStone commented on #59
Sure, no problem.

[2016-04-04 23:50] diasdavid opened #110 "Shared Core API (standardise across js-ipfs and js-ipfs-api)"
Once `js-ipfs` milestone 1 is reached, we will start seeing more applications that will use IPFS and perhaps even depend fully on it in order to work. It is very important that we standardise as most as possible the core-API, so that we save our users from countless upgrading hurdles.

This will also help us identify how IPFS should be used directly. While we are at it, we must update `js-ipfs-api

[2016-04-04 23:54] diasdavid commented on #17
### TASKS:

- [ ] write down the spec (how it works)
- calls
  - [ ] jsipfs bitswap stat            - Show some diagnostic information on the bitswap agent.
  - [ ] jsipfs bitswap unwant <key>... - Remove a given block from your wantlist.
  - [ ] jsipfs bitswap wantlist        - Show blocks currently on the wantlist.

[2016-04-05 00:09] diasdavid opened #111 "js-ipfs-api"
This issue focus on detailing the improvements we are committing to do for `js-ipfs milestone 1`.

`js-ipfs-api` is the IPFS HTTP-API client library used by js-ipfs cli and a ton of other applications that want to interact with an IPFS node through HTTP (mostly go-ipfs nodes). Currently, for `js-ipfs` we have to use a branch of `js-ipfs-api` since IPFS 0.3.11 and 0.4.0 versions different in how th

[2016-04-05 00:11] diasdavid opened #112 "js-ipfs-unixfs-engine"
This issue focus on detailing the improvements we are committing to do for `js-ipfs milestone 1`.

Currently, @nginnever is leading the charge on data-importing + files API. It would be excellent to have a couple of extra hands with the list of tasks below.

https://github.com/ipfs/js-ipfs-data-importing

### TODO list:

- [ ] increase code coverage to 100%
- [x] enable circle-ci
- [x] update rele

[2016-04-05 00:13] diasdavid opened #113 "js-ipfs-unixfs"
This issue focus on detailing the improvements we are committing to do for `js-ipfs milestone 1`.

`unixfs` is one of the Data Structures that gets mounted on top of the MerkleDAG, it is what enables ipfs to handle files, like adding and getting them to IPFS. Currently this module is pretty close to finished, only requiring a second (or third) pair of eyes to go through the code, increase the code

[2016-04-05 00:15] diasdavid opened #114 "js-ipfs-repo"
This issue focus on detailing the improvements we are committing to do for `js-ipfs milestone 1`.

`ipfs-repo` is one of the core pieces of `js-ipfs`. It enables js-ipfs to use different storage backends without having to introduce any complex logic for the other IPFS subsystems. Although this module is quite stable at the time, its performance has room for improvement and documentation needs some

[2016-04-05 00:22] diasdavid opened #115 "js-ipfs-blocks"
This issue focus on detailing the improvements we are committing to do for `js-ipfs milestone 1.`

`ipfs-blocks` holds the Block data structure and the `block-service`.

https://github.com/ipfs/js-ipfs-blocks

### TODO list:

- [ ] increase code coverage to 100%
- [x] enable circle-ci
- [x] update release process to the dignified pipeline
- [x] examples
  - [x] creating and manipulating a Block

[2016-04-05 00:38] diasdavid opened #116 "js-peer-info"
This issue focus on detailing the improvements we are committing to do for `js-ipfs milestone 1.`

https://github.com/diasdavid/js-peer-info

### TODO list:

- [x] increase code coverage to 100%
- [x] enable circle-ci
- [x] update release process to the dignified pipeline
- [x] examples
  - [x] creating a Peer
- [x] ensure that every API call is documented

[2016-04-05 00:38] diasdavid opened #117 "js-peer-id"
This issue focus on detailing the improvements we are committing to do for `js-ipfs milestone 1.`

https://github.com/diasdavid/js-peer-id

### TODO list:

- [x] increase code coverage to 100%
- [x] enable circle-ci
- [x] update release process to the dignified pipeline
- [x] examples
  - [x] creating an Id
- [x] ensure that every API call is documented

[2016-04-05 00:38] diasdavid opened #118 "js-multihash"
This issue focus on detailing the improvements we are committing to do for `js-ipfs milestone 1.`

https://github.com/jbenet/js-multihash

### TODO list:

- [x] increase code coverage to 100%
- [x] enable circle-ci
- [x] update release process to the dignified pipeline
- [x] ensure that every API call is documented

[2016-04-05 00:38] diasdavid opened #119 "js-multihashing"
This issue focus on detailing the improvements we are committing to do for `js-ipfs milestone 1.`

https://github.com/jbenet/js-multihashing

### TODO list:

- [x] increase code coverage to 100%
- [x] enable circle-ci
- [x] update release process to the dignified pipeline
- [x] ensure that every API call is documented

[2016-04-05 00:39] diasdavid opened #120 "js-multiaddr"
This issue focus on detailing the improvements we are committing to do for `js-ipfs milestone 1.`

https://github.com/jbenet/js-multiaddr

### TODO list:

- [x] increase code coverage to 100%
- [ ] enable circle-ci (https://github.com/jbenet/js-multiaddr/issues/17)
- [x] update release process to the dignified pipeline
- [x] ensure that every API call is documented

[2016-04-05 00:39] diasdavid opened #121 "js-multistream"
This issue focus on detailing the improvements we are committing to do for `js-ipfs milestone 1.`

https://github.com/diasdavid/js-multistream

### TODO list:

- [ ] increase code coverage to 100%
- [x] enable circle-ci
- [x] update release process to the dignified pipeline
- [x] ensure that every API call is documented

[2016-04-05 00:40] diasdavid opened #122 "js-libp2p-swarm"
This issue focus on detailing the improvements we are committing to do for `js-ipfs milestone 1.`

https://github.com/diasdavid/js-libp2p-swarm

### TODO list:

- [ ] increase code coverage to 100%
- [x] enable circle-ci
- [x] update release process to the dignified pipeline
- [x] ensure that every API call is documented

[2016-04-05 00:40] diasdavid opened #123 "js-libp2p-tcp"
This issue focus on detailing the improvements we are committing to do for `js-ipfs milestone 1.`

https://github.com/diasdavid/js-libp2p-tcp

### TODO list:

- [ ] increase code coverage to 100%
- [x] enable circle-ci
- [x] update release process to the aegir pipeline
- [x] ensure that every API call is documented

[2016-04-05 00:41] diasdavid opened #124 "js-libp2p-spdy"
This issue focus on detailing the improvements we are committing to do for `js-ipfs milestone 1.`

https://github.com/diasdavid/js-libp2p-spdy

### TODO list:

- [x] increase code coverage to 100%
- [x] enable circle-ci
- [x] update release process to the dignified pipeline
- [x] ensure that every API call is documented

[2016-04-05 00:41] diasdavid opened #125 "js-libp2p-ipfs"
This issue focus on detailing the improvements we are committing to do for `js-ipfs milestone 1.`

https://github.com/ipfs/js-libp2p-ipfs

### TODO list:

- [ ] increase code coverage to 100%
- [x] enable circle-ci
- [x] update release process to the dignified pipeline
- [x] examples

[2016-04-05 00:41] diasdavid opened #126 "js-libp2p-ipfs-browser"
https://github.com/ipfs/js-libp2p-ipfs-browser

[2016-04-05 00:45] diasdavid opened #127 "example: Use js-ipfs to load the entire assets of a WebSite/WebApplication"
Build a `js-ipfs` example where a browser page gets loaded, loads an IPFS node and loads all of the page html through IPFS.

Bonus points:
- progress bars
- some kind of visualisation that makes it clear what is going on

[2016-04-05 00:46] diasdavid opened #128 "Video player with js-ipfs"
Similar to https://github.com/ipfs/js-ipfs/issues/127, but that loads a video from IPFS (with seeks and everything)

[2016-04-05 00:53] diasdavid commented on #51
It would make sense to upgrade https://github.com/ipfs/js-ipfs-repo to be able to tell stats about the repo.

`repo gc` still requires the pinning still :)

[2016-04-05 16:27] diasdavid commented on #30
# LOG - April 5 📖

![](https://media.giphy.com/media/xT9DPn2xTR5mVs0mRO/giphy.gif)

**We’re close!™**. That is right, we are indeed pretty close to get a workable JavaScript implementation of IPFS that can be ran on the browser. I want to thank first, everyone that has been actively contributing to js-ipfs, with features, tests, documentation and experimentation! This participation is key to get t

[2016-04-05 19:46] upfs commented on #93
@diasdavid I know you've been quite busy, just a little bump here to see if you can help me get this working, much appreciated!

[2016-04-05 22:08] RichardLitt commented on #93
@diasdavid note note.

@upfs thanks for the ping; sorry, we've been really busy the past few days. I'll make sure @diasdavid gets to this. :)

[2016-04-05 22:53] upfs commented on #93
Awesome, thank you so much! I saw all the great progress you've accomplished over the past few days!!

[2016-04-07 14:29] vijayee commented on #127
Going to give this a shot.

[2016-04-07 18:40] diasdavid commented on #92
follow on -> https://github.com/ipfs/js-ipfs/pull/101

[2016-04-08 00:10] diasdavid commented on #93
@upfs sorry for the delay in getting back to you. I'm taking just a bit more time because we actually hit some many times in the issues you are having, that we are cleaning our assets pipeline so that users can require our modules without having to go through all the config steps. News soon ™ :)

[2016-04-08 02:23] upfs commented on #93
:thumbsup: thanks! looking forward to getting going with js-ipfs

[2016-04-11 19:18] vijayee opened #140 "multiaddr dependency missing"
The 'multiaddr' module seems to be missing from the dependency list causing failure when executing 'IPFS()'. Also of note there appears to be a failing peerDependency of karma-webpack on an older version webpack.

[2016-04-12 09:12] diasdavid commented on #140
WebPack uses peerDependencies (unfortuantely) and so it conflicts with a older version that you might have installed globally. Do `npm uninstall webpack -g` and `npm i` again on this repo and check if it is all ok

[2016-04-12 16:29] diasdavid commented on #117
Thank you for getting this module close to completeness @noffle  :) Now it is just making circle-ci happy and we are golden 🌟

[2016-04-12 16:59] diasdavid opened #142 "`jsipfs init` creates a repo that is not compatible with go-ipfs"
[code]

I believe this is due go-ipfs does `datastore` (the LevelDB thing) checks, which we never implemented (since we didn't needed until we have the DHT going). Is there a way to create that folder eitherway so that a `js-ipfs` generated repo does work for a go-ipfs daemon? Simply dropping the same default `datastore` that go-ipfs generates should do the trick, not sure if there would be any co

[2016-04-12 17:25] noffle commented on #142
I already have a PR waiting for merge. :D  https://github.com/ipfs/go-ipfs/pull/2497

[2016-04-12 17:26] diasdavid commented on #142
Is it better to make the go-ipfs more loose? Or make js-ipfs more compliant? @whyrusleeping ?

[2016-04-12 18:19] noffle commented on #142
Good Q. Is `datastore` mandatory for all IPFS repos?

[2016-04-12 18:49] diasdavid commented on #142
@noffle if we had the DHT that go-ipfs implements, yes, it would be.

[2016-04-12 19:05] whyrusleeping commented on #142
making the go-ipfs daemon more loose on its requirements is good, but datastores are a mandatory thing, otherwise how will you store data?

(the 'datastore' directory itself is not required, as long as you have *a* datastore of some kind)

[2016-04-12 19:35] diasdavid commented on #142
@whyrusleeping we have the datastore that stores blocks, not the datastore that stores DHT records (levelDB)

[2016-04-12 19:54] whyrusleeping commented on #142
theyre the same really, we just have a single datastore in go-ipfs. Its just a mounted datastore that stores certain key prefixes in one place and other key prefixes elsewhere.

I'm going to be changing the datastore config code soon, heres a preview of what our current setup looks like in that new format: https://gist.github.com/whyrusleeping/0252846bc655632449b1

[2016-04-12 19:59] noffle commented on #142
So, it sounds like we're for looser reqs + non-mandatory `datastore` directory? If so, let's go ahead and get https://github.com/ipfs/go-ipfs/pull/2497 in.

[2016-04-13 17:28] noffle commented on #116
Does the example in the readme count, or did you have something else in mind?

[2016-04-13 17:32] noffle commented on #142
Tested this with latest `go-ipfs` -- it works!

[2016-04-13 17:32] #142 closed

[2016-04-13 18:15] vijayee commented on #127
Ok so concerns burning my neurons. Resolving dependency requests in a page. Initially I was thinking that the HTML5 LocalFileSystem API could be used to store a page and its dependencies. Turns out only one browser has or will implement it, Chrome. In other browsers its not available.

Then I thought this could be done using data urls that encompass all the resources. Strangely different browsers

[2016-04-13 20:53] dignifiedquire commented on #127
Actually there is another way you could handle this. As far as I understand service workers allow you to proxy requests from your page, so if we had an ipfs proxy inside a service worker we could transparently proxy all the requests and resolve them through that. Service workers are available in FF and Chrome so that's not too bad.

Ref: https://developer.mozilla.org/en-US/docs/Web/API/Service_Wor

[2016-04-13 21:05] vijayee commented on #127
Ok this is a way more natural approach. I'm going to start implementing based on workers. Thanks @dignifiedquire.

[2016-04-13 23:02] diasdavid commented on #117
🎉 This one is all done now ! :D

[2016-04-13 23:02] #117 closed

[2016-04-13 23:05] diasdavid commented on #142
awesome! :D thank you!

[2016-04-13 23:05] diasdavid commented on #116
It does count :) forgot to tick the box

[2016-04-13 23:55] diasdavid commented on #116
Another one that is complete! :D

[2016-04-13 23:55] #116 closed

[2016-04-13 23:56] diasdavid commented on #140
Do you still see that issue?

[2016-04-14 01:11] diasdavid commented on #122
Updated the list with https://github.com/diasdavid/js-libp2p-swarm/issues/22 :)

[2016-04-14 13:36] diasdavid commented on #93
@upfs sorry for the lack of news here. Getting it ready for prime time has been taking a bit more than I initially expected, since we have a lot of dependencies in the project and they all need to be updated.

Is this currently blocking you? What is your timeline? Again, apologies for the wait

[2016-04-14 16:25] vijayee commented on #140
No unfortunately. Webpack was installed globally but after removal and install locally resulted in the same error message as follows.
[code]
the error is not critical everything seems to work anyway. However the missing 'multiaddr' stops you from  `var node = new IPFS()`

[2016-04-14 17:27] upfs commented on #93
@diasdavid no worries, I appreciate the effort. I was more wondering if it is already supposed to work and I'm doing it wrong or if it's not working yet at all. I'm happy to help where I can, if you can identify an introductory issue for me I'd be happy to tackle it ..

[2016-04-14 19:31] diasdavid commented on #93
Thank you for understanding :)

Have you read the entry on the Captain.log? It lists several issues you can help on :)

https://github.com/ipfs/js-ipfs/issues/30#issuecomment-205884015

[2016-04-14 19:57] upfs commented on #93
So since @vijayee is actively working #127 and you're looking for a #128 example it means that js-ipfs is already working? Or is it? I'm confused :-)

[2016-04-15 05:45] diasdavid commented on #124
Another one done! Thank you @JGAntunes for the precious help!

[2016-04-15 05:45] #124 closed

[2016-04-15 06:25] diasdavid commented on #140
We've updated the master branch to have multiaddr as a dep.

On the Webpack issue, which npm version are you using?

[2016-04-15 13:49] dignifiedquire commented on #140
it says in the error message `v2.15.0`

[2016-04-15 19:15] vijayee opened #150 "files.add incorrectly calls importer function"
The call is erroneous:
https://github.com/ipfs/js-ipfs/blob/master/src/core/index.js#L337-L341
when compared to:
https://github.com/ipfs/js-ipfs-data-importing/blob/master/src/index.js#L18
it should be:
[code]
will pr later to fix

[2016-04-15 19:38] nginnever commented on #150
Hey vijayee!

This was noticed by @bdrieder as well and he created a <a href="https://github.com/ipfs/js-ipfs/pull/104">PR</a> already which opened up a whole can of discussion, mostly about <a href="https://github.com/ipfs/js-ipfs-data-importing/pull/25">data-exporting</a> which I am currently working on . Ultimately we will want to restructure the way data-importing is done as well to match thin

[2016-04-15 22:44] diasdavid commented on #140
@vijayee you will need npm 3 to work with Webpack. run `npm i -g npm`

[2016-04-16 20:08] diasdavid commented on #150
I wouldn't call it an 'idea', it is the plan :) ipfs-core shouldn't have to handle fs directly if used programatically. The file streams will come through the http-api, just like go-ipfs handles it.

[2016-04-17 07:16] diasdavid commented on #111
Updated the list with: https://github.com/ipfs/js-ipfs-api/issues/252

[2016-04-17 19:25] #119 closed

[2016-04-17 19:52] diasdavid commented on #118
done! Thank you @nginnever :)

[2016-04-17 22:40] #118 closed

[2016-04-18 08:07] diasdavid commented on #92
Update: Now we are only missing

- [ ] jsipfs swarm disconnect
- [ ] jsipfs swarm addrs
- [ ] jsipfs swarm addrs local

[2016-04-18 13:53] dignifiedquire commented on #120
@diasdavid I talke to @jbenet and as long as this on his account no circleci because their permission handling is so bad. So I think we can close it for now

[2016-04-18 13:54] diasdavid commented on #120
This is pretty much done. Thank you @dignifiedquire for checkin in the remaining parts. The last mile is just activating circle ci, but since the config file is already there, we can close this issue.

[2016-04-18 13:54] #120 closed

[2016-04-18 13:54] diasdavid commented on #120
@dignifiedquire posted at the same time :)

[2016-04-18 14:00] dignifiedquire commented on #121
working on this

[2016-04-18 15:37] diasdavid commented on #121
Thank you @dignifiedquire :)

The only point missing on the list is code coverage, which we are at 86%, but as I said in the beginning, that isn't an hard goal and since now we `aegir` set up, it is very easy to understand what is our state on that end and can come back later, if needed. Closing this issue to make sure all the attention of js-ipfs contributors can go to the other, higher priority,

[2016-04-18 15:37] #121 closed

[2016-04-18 20:00] diasdavid commented on #115
Closing this one on the same line of https://github.com/ipfs/js-ipfs/issues/121#issuecomment-211435981

[2016-04-18 20:00] #115 closed

[2016-04-18 21:02] vijayee commented on #127
Ok, so progress.....I was able to get the repo into the browser as well as get router setup to respond to /ipfs/:hash with service workers. Caveat: service workers have to be used over ssl which makes it not completely serverless. But now I don't know how to get the data back out of the repo. I don't believe there is export functionality yet, is there? (I'm professionally certified in being wrong)

[2016-04-18 21:26] nginnever commented on #127
Not this time! haha

I am working on an export function in this <a href="https://github.com/ipfs/js-ipfs-data-importing/pull/25">PR</a>

[2016-04-19 07:47] diasdavid commented on #113
On the same lines as https://github.com/ipfs/js-ipfs/issues/121#issuecomment-211435981, closing this one :)

[2016-04-19 07:47] #113 closed

[2016-04-19 07:48] #95 closed

[2016-04-19 20:29] diasdavid commented on #115
Booom! One more done. Thank you @noffle for finishing this up :)

[2016-04-19 20:31] dignifiedquire commented on #115
Soo many issues getting closed :)

[2016-04-19 20:32] diasdavid commented on #115
And you can see the bar filling up.

![image](https://cloud.githubusercontent.com/assets/1211152/14654558/378c9dee-0676-11e6-91b9-0377edb79403.png)

It is very satisfying

progress bars @jbenet ! :D

[2016-04-19 20:46] #126 closed

[2016-04-22 00:41] diasdavid commented on #114
On the same lines as https://github.com/ipfs/js-ipfs/issues/121#issuecomment-211435981, closing this one :)

[2016-04-22 00:41] #114 closed

[2016-04-22 00:49] diasdavid commented on #123
Just missing now the move to `aegir` :)

[2016-04-22 13:05] diasdavid commented on #93
@upfs apologies for taking so long, but good news here! With the new version (0.4.6) You should be able to require js-ipfs and do not need to do any magic when it comes to webpack shims now :) Hope this makes the process way less cumbersome

//cc @dignifiedquire

[2016-04-22 15:10] diasdavid commented on #60
@nginnever I know you are working on this. Can you make a PR tagged with WIP from a branch under this project?

[2016-04-22 15:37] vijayee commented on #93
Sweet! @diasdavid  now for senselessly modular abuse of power

[2016-04-22 18:45] diasdavid commented on #30
# LOG - April 5 🐳

Aye! This is a short captain.log entry to update everyone on the state of things. It is a short entry because we are really close of having `js-ipfs` ready and because of that, there is a set of very specific focus points we need to put our attention too. This entry enumerates those action items.

# What's left

**files API**

- [ ] get unixfs-engine fully operational in the bro

[2016-04-22 19:04] diasdavid commented on #60
-> https://github.com/ipfs/js-ipfs/pull/156

[2016-04-24 23:04] diasdavid commented on #122
Closing this one on the same line of https://github.com/ipfs/js-ipfs/issues/121#issuecomment-211435981

[2016-04-24 23:04] #122 closed

[2016-04-25 21:41] vijayee commented on #127
@nginnever  how's the export coming?

[2016-04-25 22:16] nginnever commented on #127
hey @vijayee

The export function has been merged in the new ipfs-unixfs-engine and is power the get and cat commands in the cli on this <a href="https://github.com/ipfs/js-ipfs/pull/156">PR</a>

[2016-05-03 11:43] dignifiedquire commented on #17
work on this is happening here: https://github.com/ipfs/js-ipfs-bitswap

[2016-05-04 21:58] diasdavid commented on #111
Just added in `https://github.com/ipfs/js-ipfs-api/issues/263`

[2016-05-09 21:34] diasdavid commented on #140
@vijayee any update here? All good?

[2016-05-09 21:37] diasdavid commented on #41
We've made [unixfs-engine](https://github.com/ipfs/js-ipfs-unixfs-engine) to import and export files and directories to MerkleDAG structs, the same way that go-ipfs does.

We will touch again on the idea of the layout agnostic importer again. @mafintosh How is your stuff? Did you end up to decouple the chunker part?

I'm also going to move ahead and close this issue, so that we can aggregate the d

[2016-05-09 21:37] #41 closed

[2016-05-09 21:39] diasdavid commented on #150
Seems that this is fixed now, thank you for reporting :)

[2016-05-09 21:39] #150 closed

[2016-05-09 21:40] diasdavid commented on #123
One more :D

[2016-05-09 21:40] #123 closed

[2016-05-09 21:42] diasdavid commented on #112
Just missing the documentation segment -> https://github.com/ipfs/js-ipfs-unixfs-engine/issues/28, we can close this now

[2016-05-09 21:42] #112 closed

[2016-05-09 21:42] diasdavid commented on #125
\o/

[2016-05-09 21:42] #125 closed

[2016-05-09 21:43] diasdavid commented on #93
@upfs how are your experiments with js-ipfs? :D

[2016-05-09 21:45] upfs commented on #93
Haven't tried anything yet, is there an easy getting started guide now? :-)

[2016-05-10 07:40] diasdavid commented on #30
# LOG - May 10 🚤

Arr! This is the last mile Captain.log for js-ipfs milestone 1. It contains the list of things that are missing in order to js-ipfs usable!

# What's left

**files API**

- [ ] `add`, `get` and `cat` HTTP API endpoints. https://github.com/ipfs/js-ipfs/pull/205
- [ ] js-ipfs-api `get` feature implemented https://github.com/ipfs/js-ipfs-api/issues/263

**libp2p**

- [ ] update js-m

[2016-05-11 04:27] pfista opened #209 "Implement IPNS"
Do you have plans to support [ipns](https://github.com/ipfs/go-ipfs/blob/master/core/commands/ipns.go) publish and resolving?

[2016-05-11 17:46] dignifiedquire opened #213 "Only log addresses that are actually being listened on"
In https://github.com/ipfs/js-ipfs/blob/master/src/core/ipfs/libp2p.js#L16-L18 it prints all addresses that are passed in but sometimes those listens fail or do not happen at all (e.g. in the browser).

[2016-05-11 19:35] dignifiedquire opened #214 "[optimization] Use individual methods of async"
Known culprits:

- [x] this module, fixed in https://github.com/ipfs/js-ipfs/pull/195/commits/255f6d1d5cda4312efd5a7870e4ca834b4b8d466
- [x] https://github.com/ipfs/js-ipfs-block-service/pull/20
- [x] ~~https://github.com/form-data/form-data/pull/204~~
- [ ] https://github.com/ipfs/js-ipfs-bitswap/issues/14

[2016-05-16 08:52] diasdavid commented on #213
👍 , note however, that adding websockets, tcp or any multiaddrs to the browser PeerInfo is not recommended (at all), because those multiaddrs will be propagate and no other peer will be able to dial to the browser on those multiaddrs.

[2016-05-16 08:53] diasdavid commented on #209
@pfista currently not. It is not part of js-ipfs milestone one, it will come when we get to move go-libp2p to the new libp2p spec (and then matching in JS)

[2016-05-16 08:54] diasdavid commented on #140
As we can't reproduce, I'm closing this one. Let us know if you run into the issue again.

[2016-05-16 08:54] #140 closed

[2016-05-16 08:56] diasdavid commented on #110
The work as started https://github.com/ipfs/interface-ipfs-core :D (really excited about it cause now we have tests!)

[2016-05-16 08:58] diasdavid commented on #17
Note that the branch with bitswap has been merged :)

[2016-05-17 18:57] noffle opened #228 "daemon chokes on ip4 and ip6 on same port"
given my go-ipfs generated config:

[code]

running the js-ipfs daemon will die with

[code]

Works fine if I remove the `/ip6` address.

[2016-05-17 19:00] noffle opened #229 "daemon leaves behind api file lock on error"
When the daemon hits an error on load like https://github.com/ipfs/js-ipfs/issues/228, it will leave around the `~/.ipfs/api` file lock.

`go-ipfs` seems to be smart about detecting this and cleaning it up, but it will inhibit future invocations of the `js-ipfs` daemon.

[2016-05-17 19:00] lgierth commented on #228
What if you remove the /ip4? `:::4001` doesn't look right

[2016-05-17 20:23] diasdavid commented on #229
(@whyrusleeping can confirm) go-ipfs checks if the daemon is indeed on and if it doesn't find anything on the port left behind, it just deletes the lock and spawns the daemon.

[2016-05-17 20:26] diasdavid commented on #228
It is true because we start a listener per multiaddr. Node.js TCP implementation starts a listener automatically on an IPV6 addr and IPV4, so the second time you listen, you are trying to listen on the same port.

Possible solution: Do addr matching and avoid trying to listen on equivalent addresses.
Workaround: We've been removing the ipv6 addr since we don't need it. It would be good to not have

[2016-05-17 21:35] dignifiedquire commented on #228
can we stop/disable node from auto listening on ip6? I think that would be the best solution

[2016-05-17 21:35] noffle commented on #229
great, so the work is

- [ ] clean up the `api` lock on daemon error
- [ ] check if the daemon is on on start-up and clear the lock if not

[2016-05-17 21:53] diasdavid commented on #229
exactly :)

[2016-05-17 21:54] diasdavid commented on #228
@dignifiedquire not that I know or managed to find somewhere how to do it.

[2016-05-17 22:10] lgierth commented on #228
There are unix socket options for that, I don't recall the exact name (SOL_SOMETHING) or how to set socket options in nodejs.

[2016-05-20 15:33] vijayee commented on #127
I'm having trouble with the idb store. IPFS seems to expect it to have datastore methods but but it only has abstract blob store methods so I'm getting the error `Uncaught TypeError: Cannot read property 'bind' of undefined` on this section of code (`this.addBlock = ipfsRepo.datastore.put.bind(ipfsRepo.datastore);`) because there is no put method on the data store.
[code]
I assume its a problem wi

[2016-05-20 15:42] diasdavid commented on #127
In your example, the repo you create is not being used.

new Ipfs takes one argument which is a path or a repo instance itself that you must pass if you want to use a specific repo instance https://github.com/ipfs/js-ipfs/blob/master/src/core/index.js#L28

[2016-05-20 22:47] noffle opened #247 "Update `files.add` return format to match js-ipfs-api"
The current result format in js-ipfs core is
[code]
as dictated by [unixfs-engine](https://github.com/ipfs/js-ipfs-unixfs-engine/blob/master/src/importer.js#L52). This is different from what the HTTP API returns, which is a lot less information:
[code]
To make [interface-ipfs-core](https://github.com/ipfs/interface-ipfs-core) consistent, I propose we either

1. Modify unixfs-engine to return objec

[2016-05-20 23:08] dignifiedquire commented on #247
moaar data, agree limiting can happen at the end but unixfs-engine should provide the data

[2016-05-20 23:14] nginnever commented on #247
I prefer 2 as well.

The HTTP-API resource and the files/add.js cli can handle formatting as they are

[2016-05-21 09:12] diasdavid commented on #247
I propose option number 3

3. Do object.get requests on js-ipfs-api so that js-ipfs-api provides the same information as js-ipfs.

Note1: We already do this in some methods os js-ipfs-api.
Note2: We should not be limited by the constraints of the http-api

[2016-05-21 16:33] noffle commented on #247
@diasdavid To what end? Are there existing use cases where we want/need the extra information? I'm strongly for a core that makes as few promises to the outside world as possible -- it'll already surely grow with time, so we should consider exposing *only* what we need. I think until we have some concrete need for (3), (2) is the way to go.

[2016-05-23 12:16] dignifiedquire commented on #17
Bitswap is implemented for the most part,

- js-ipfs commands
  - [ ] `ipfs bitswap stat`
  - [ ] `ipfs bitswap unwant`
  - [ ] `ipfs bitswap wantlist`
- block-service integration
  - [ ] offline integration
  - [ ] online integration

[2016-05-24 09:40] diasdavid opened #265 "More use of helpful logs"
We need more logs. Not many, but some enough for development

[2016-05-24 10:08] dignifiedquire commented on #265
take a look at a good example in js-ipfs-secio :)

[2016-05-24 16:00] noffle commented on #265
@diasdavid can you elaborate? are there particular areas you'd like to see logged?

[2016-05-25 05:05] shamb0t commented on #228
@noffle is this issue still happening for you? I have the same config but the js-ipfs daemon isn't choking

[2016-05-25 07:57] haadcode opened #267 "add (real) getters for properties"
For the convenience of debugging directly in the browser dev tools, we should add real getters for properties the api/classes expose:
`get Hash() => this.toJSON().Data`
`get id() => this.id.toB58String()`

This makes it easy to invoke the getters directly in the dev tools console and the user doesn't need to add any breakpoints or use REPL to check values of objects. (Functions can't be directly i

[2016-05-25 09:21] diasdavid commented on #267
Interesting. That makes me thing that now with Chrome DevTools running natively with Node.js, we will see a shift in the Node.js module land to use that pattern more.

[2016-05-25 10:24] RichardLitt commented on #265
![logs](https://cloud.githubusercontent.com/assets/910753/15536863/39d2970a-226b-11e6-860e-6ad08e871c17.jpg)

[2016-05-25 10:31] diasdavid opened #269 "Exhaustive Networking Tests"
js-ipfs is really good leveraging several transports to guarantee connectivity, but it is not the best at handling error situations, from Sockets hanging up, other peers leaving and so on.

We need to beef up our networking testing suit, in a gain that we skim all of those errors out, or give better primitives for the users of js-ipfs to handle those situations.

Note that build an app like IPFS o

[2016-05-25 16:38] noffle commented on #228
@shamb0t yup, still happening

[2016-05-25 18:47] vijayee opened #270 "Uncaught TypeError: crypto.createHash is not a function"
When performing and object.get command in the browser...
Uncaught TypeError: crypto.createHash is not a function ....is thrown by
[code]
 in from the webpacked dist of ipfs
[code]
I'm not sure what module this is but it seems the crypto module never makes it into the code it instead sees window.crypto.

[2016-05-25 19:09] jbenet opened #271 "roadmap / readme dont have listing of modules"
the roadmap and readme have feature listings and links to issues, but there isnt a clear listing of all the sub module repos that make up js-ipfs. would be nice to have that list to quickly access those modules

[2016-05-26 02:26] deltab commented on #228
It's the IPv6 socket binding to IPv4:

Using it in Node seems to require the use of ffi or a compiled extension.

[2016-05-26 08:49] diasdavid commented on #228
@shamb0t here is more input: You are not seeing the error now cause I removed the IPV6 port from the default config to avoid new users getting hit by that -> https://github.com/ipfs/js-ipfs/commit/e98368ea8b17363758215ad7eb775f467936edff#diff-ce4bf744aff5c27c180e317f04bedab0L5

What @noffle is seeing, is that if you do an ipfs init with go-ipfs and then use that repo with js-ipfs, it will choke.

[2016-05-26 08:50] diasdavid commented on #93
@haadcode has integrated js-ipfs into orbit. @haadcode wanna share some tips there? Agree that we need guides :)

[2016-05-26 09:19] dignifiedquire commented on #270
Interesting, the module in question is https://github.com/jbenet/js-multihashing, and `crypto`  should be replaced by https://github.com/diasdavid/webcrypto

[2016-05-26 10:35] shamb0t commented on #228
@diasdavid config file is generated from (go)ipfs init and the jsipfs daemon isn't choking. I added the line you removed from the default-config and still no choking. Should it choke if I regenerate the config with jsipfs init? Seems to be working fine for me...Im on osx 10.10

[2016-05-26 16:02] diasdavid commented on #269
- [ ] Check orbit test (why it fails) - 3 peers created should find each other - https://github.com/haadcode/orbit/blob/c84ce598f00cada214fb5361d367fd536c6f8b3e/client/test/orbit.test.js

[2016-05-26 18:19] haadcode commented on #269
Tests updated and cleaned, instructions how to run the test are in the [README](https://github.com/haadcode/orbit/tree/js-ipfs#test). It passes now, most of the time.

Sometimes old peer id's are in the peer book and the test fails (if running the test several times in a row).
Sometimes only one of the peers is in the peer book.

[2016-05-26 18:26] diasdavid commented on #269
Note that identify is a not blocking operation. peerA can dial to peerB and only moments after, peerB will have finished identify and learn that it has a conn to peerA already open. You have to account (we typically do a setTimeout of 100 to 500ms just to be sure, specially cause everything is on the same proc)

I'm not sure how this is possible, need to investigate more. If you can replicate in a

[2016-05-26 22:20] mikeal opened #277 "How do I add a directory in JS?"
I'm playing around with the `ipfs.files` API. I looked through the tests but I can't find an equivolent for `ipfs add -r` to add a directory.

I also just generally can't figure out how to programmatically create a new directory and add/link files into it.

[2016-05-26 22:32] diasdavid commented on #277
Hey @mikeal, good to see you around here! :)

The module that gets exported by js-ipfs is the "core part of IPFS", which doesn't touch the file system directly. You can add a directory recursively by adding a stream of objects with the following signature `{ path: "/a/b/c", stream: "readable stream with the content of the file"}`

You can take a peak at how the js-ipfs cli (what you get if you ins

[2016-05-28 08:06] MasterJames opened #285 "Windows install missing dependancy"
Running jsipfs triggered

`error   Cannot find module 'ipfs-unixfs'`

until manually running

`npm install -g ipfs-unixfs`

as well.

Just thinking that it should be a dependency when installing ipfs on windows. no?

[2016-05-28 08:54] diasdavid commented on #285
@MasterJames Are you using npm 2 or 3 to install js-ipfs? You will need npm 3 (`npm i npm -g`)

[2016-05-28 11:05] MasterJames commented on #285
Great it actually won't work properly otherwise.
Was 2? now 3.9.3! Seems working better I could add a file but no init results ;-(

[2016-05-28 11:05] #285 closed

[2016-05-28 11:27] MasterJames opened #286 "jsipfs init works but no results"
when I run jsipfs init it does create the config so show will display the Identity.PeerId etc.
but it doesn't actually display what is shown in the demos as in results with the ipfs cat /ipfs/PeerId/readme
Maybe one needs some extra steps explained in the repo README to add files etc.?

When I add a with `files add NewFile.txt` it says
`added ID NewFile.txt` as expected
if I `files get /ipfs/ID` i

[2016-05-28 11:28] MasterJames commented on #286
https://github.com/ipfs/js-ipfs/issues/285

[2016-05-28 11:32] MasterJames commented on #286
If I'm running the daemon straight or with my own mount points it won't allow `files add NewFile.txt`
`TypeError: ipfs.files.add is not a function`
With call stack...
[code]

[2016-05-28 11:39] diasdavid commented on #286
It shouldn't be your peerId, but actually the folder hash that contains the Readme

On the second set of questions, we haven't really tests js-ipfs on Windows, mainly because we don't have anyone that is completely focused on using the platform that can inform us how robust is the experience on Windows. Would you like to help us? :D

Nevertheless, trying this, found a couple of bugs with init and

[2016-05-28 11:47] MasterJames commented on #286
with jsipfs trying ipfs will say `not recognized`

[2016-05-28 12:26] MasterJames commented on #286
What's up with this
https://github.com/ipfs/js-ipfs-unixfs-engine/blob/master/src/importer.js#L36
[code]

[2016-05-28 12:31] diasdavid commented on #286
You have to 'implement it' in order to be able to do https://github.com/ipfs/js-ipfs-unixfs-engine/blob/master/src/importer.js#L61 `this.push` to the stream

[2016-05-28 12:34] MasterJames commented on #286
From Duplex?

[2016-05-29 09:48] MasterJames opened #290 "FUSE on Windows via dokany okay?"
I wondered if I can use the new 1.0.0-RC3 from
https://github.com/dokan-dev/dokany/releases
to get FUSE working safely with the GO version on Windows?

[2016-05-29 10:05] MasterJames commented on #290
I think this belongs in the Go version, sorry.
https://github.com/ipfs/go-ipfs/issues/2766

[2016-05-29 10:05] #290 closed

[2016-05-29 11:54] MasterJames opened #295 "API variations comparing go vs js versions"
I noticed some variations of the API comparing the videos and I guess it's the go lang version to this js-ipfs version. For example...
Typing just jsipfs reports various possible commands
[code]
while `add`, `cat` and `get` are not prefixed with files in the regular version.
same with `files` being called `file`, or is that file being called files here vs there.

Leads one to question what the Web

[2016-05-29 12:55] diasdavid commented on #295
There is a proposal open on https://github.com/ipfs/specs/issues/98

meanwhile, we intent to support both (ipfs.files.cat and ipfs.cat) https://github.com/ipfs/interface-ipfs-core

[2016-05-30 09:41] MasterJames commented on #295
Yes thanks @diasdavid I'm starting to see that clearer now thanks for the comment.

[2016-05-30 09:41] #295 closed

[2016-05-30 09:55] MasterJames opened #298 "Transpile Go to JS"
Is this any help?
https://github.com/gopherjs/gopherjs

[2016-05-30 11:08] diasdavid commented on #298
Duplicate -> https://github.com/ipfs/faq/issues/97

[2016-05-30 11:08] #298 closed

[2016-05-30 17:25] diasdavid commented on #269
https://github.com/ipfs/js-ipfs/pull/299

[2016-05-31 17:00] RichardLitt commented on #290
No worries! Thanks for reopening there.

[2016-06-04 07:13] AdamStone opened #300 "protobuf error with test go-ipfs-repo"
I'm noticing some weirdness with the cli test repo. The object at `QmYwAPJzv5CZsnA625s3Xf2nemtYgPpHdWEz79ojWnPbdG` contains links to the starting materials (about, contact, help, quick-start, readme, security-notes). When trying to get some of the linked objects such as readme (`QmPZ9gcCEpqKTo6aq61g2nXGUhM4iCL3ewB6LDXZCtioEB`) from within the cli tests (which are based on a copy of go-ipfs-repo),

[2016-06-06 19:59] dignifiedquire opened #311 "Error: need dictionary"
When running js-ipfs with webrtc-star at some point this error gets thrown (only started in `0.12.0`)

![screen shot 2016-06-06 at 21 58 46](https://cloud.githubusercontent.com/assets/790842/15835808/ffc4858e-2c31-11e6-8129-daceaac0c4da.png)

[2016-06-07 09:12] dignifiedquire commented on #311
Looks like I was using the wrong version of browserify-zlib, which resulted in this error, all good now :)

[2016-06-07 09:12] #311 closed

[2016-06-07 09:24] diasdavid opened #315 "Fix racing condition on adding directories"
A racing condition was introduced when adding directories 'recursively'

https://github.com/ipfs/js-ipfs/pull/312#issuecomment-224209639

It doesn't happen always, we need to make a test that always detects it and fix it

[2016-06-08 11:54] haadcode opened #318 "Uncaught Error: no writecb in Transform class"
Came across the following error while running tests for orbit-db.

It happens on .files.add, using the following:
[code]

It happens always. However, if I don't call `ipfs.goOnline()` at init, the error doesn't occur.

ipfs v0.13.0

[code]

[2016-06-08 12:03] haadcode commented on #318
Also, this is pretty much a **blocker** as it happens *every time* and prevents js-ipfs to run smoothly.

[2016-06-08 12:32] dignifiedquire commented on #318
interesting, not seen before

[2016-06-08 14:01] haadcode commented on #318
Repro case: https://github.com/haadcode/orbit-db/tree/latest-js-ipfs (run `npm i && npm test`)

If you leave out the goOnline here https://github.com/haadcode/orbit-db/blob/latest-js-ipfs/test/counterdb.test.js#L46, the tests pass.

[2016-06-10 20:57] noffle commented on #318
I did some digging into this.

The symptom (`writecb`) happens when the callback in a Transform stream gets called multiple times. In `ipfs.files.add` in js-ipfs we add each file to the repo, and then ask the DAG Service to find each file that we just added. This takes us down into DAGService, then BlockService, and finally Bitswap.

It looks like there's a race condition in js-ipfs-bitswap in the

[2016-06-14 23:08] diasdavid commented on #30
# LOG - June 14 ⛵

![](http://www.picgifs.com/graphics/b/boats/graphics-boats-897332.gif)

Aye mates! This log entry is full of exciting updates, writing it made me really happy. The IPFS community has worked pretty hard and there is a lot to talk about and a lot of people talking and checking IPFS, and that is amazing!

## What’s new in town

We now have two apps working on js-ipfs, in the browse

[2016-06-27 11:50] RichardLitt opened #331 "cli: doc: OPTIONS output not working"
When I run the `--help` command in the CLI for js-ipfs commands, I get the following:

[code]

What does `[OPTIONS]` mean? Shouldn't it show the options? Let's look at id.js:

[code]

Why isn't `[--format | -f]` output?

[2016-06-27 14:01] diasdavid commented on #331
Unfortunately that is not a given for free with [ronin](https://www.npmjs.com/package/ronin), the CLI toolkit we use.

[2016-06-27 18:26] diasdavid opened #336 "fs.realpath"
seems that there was some update on Webpack and now browser tests error out with

[code]

Still trying to diagnose the actual cause of the bug.

[2016-06-30 11:44] dignifiedquire commented on #331
We should really fix this and probably switch away from ronin. Which is simply not being maintained anymore.

[2016-06-30 12:21] RichardLitt commented on #331
PRed a pretty easy fix for this. However, let's wait until we resolve https://github.com/ipfs/notes/issues/139.

[2016-07-01 11:00] diasdavid commented on #331
@dignifiedquire we can collaborate to make it better - https://github.com/vdemedes/ronin/issues/37

[2016-07-06 04:58] mikeal opened #348 "Ability to read offsets"
In order to do video playback properly I need to be able to seek through parts of a file.

So, what I basically need is a version of `ipfs.cat` that has offset support. Something like:

[code]

[2016-07-06 04:58] mikeal commented on #348
It could also be called "range" if you want to match the http terminology.

[2016-07-06 12:57] RichardLitt commented on #271
You can get this from `npm ls --depth=0`. However, this doesn't necessarily help. It would be great if we could highlight which ones we think are important for the Roadmap, and link their repos in a Markdown file. What do you think, @diasdavid?

[code]

[2016-07-06 13:09] dignifiedquire commented on #271
That list is not particularly useful as it contains test dependencies as well as helper modules. To get that list it's roughly searching for anything beginning with `js-` in

- diasdavid
- ipfs
- jbenet

public repos.

[2016-07-06 13:33] RichardLitt commented on #271
Is there any way to narrow down the 'roughly' to something more useful?

[2016-07-06 17:33] kenshyx opened #349 "ipfs.init(): TypeError: callback is not a function"
If I try to run `init()` without specifying some options the callback is saved on `opts`.
[code]

[2016-07-06 20:33] #277 closed

[2016-07-06 20:37] mikeal opened #350 "Control over seeding?"
Heya,

I'd like to store ipfs content in a long term store (like S3) and selectively pull content up and seed it. Then I need to be able to stop seeding programmatically. I'm wondering if there is an API to do this or where I should be looking in order to construct an API to do so.

[2016-07-06 21:06] nginnever commented on #271
A few modules aren't under ```daviddias, ipfs, or jbenet``` as well.

I created a list <a href="https://github.com/nginnever/js-ipfs-modules"> here </a> that is every module that I know of that is being used by js-ipfs. I am not too sure of the state of libp2p and what js-ipfs is currently depending on so @diasdavid can edit the list as needed.

[2016-07-06 21:52] dignifiedquire commented on #271
thanks a bunch @nginnever I will review it in the morning

[2016-07-07 03:43] jbenet commented on #350
We're looking at doing this with pluggable repo backends (we'll likely
support levels so that you can store stuff wherever).

In the meantime, it should be a matter of writing a repo that first checks
a local cache (memory, disk, whatever) then pulls out of s3. The writes may
be expensive atm, without some batch put.

@diasdavid thoughts?

Cc @whyrusleeping for S3 thoughts.
On Wed, Jul 6, 2016 at

[2016-07-07 10:55] haadcode opened #351 "Error: ENOENT: no such file or directory"
As of **0.14.1** I'm seeing this fairly constantly:

[code]

This happens when I do `ipfs.object.put` and then try to get it immediately after. Adding a timeout before .get seems to get rid of the problem, so my suspicion is that we're returning from put before the data has been written to "disk" (disk being wherever we write the data blocks).

[2016-07-07 11:31] haadcode opened #352 "Tests for some API functions are not obvious"
I find it confusing how the tests are setup and located.

Trying to look for tests in https://github.com/ipfs/js-ipfs/blob/master/test/core/both/test-files.js makes me think we don't have tests for `ipfs.files.cat`. Looking at it more closely, I can see the tests are in `interface-ipfs-core` and I need go find that repository on GH. So I find it, go to the `test` directory and see this https://git

[2016-07-07 11:43] haadcode commented on #351
To emphasise the urgency: this breaks pretty much all tests for Orbit and down the line in orbit-db.

[2016-07-07 12:21] dignifiedquire commented on #350
**Storage backends**

js-ipfs already supports pluggable repo backends through the `abstract-blob-store-interface`. It's just not exposed as an api to change the store at the moment. The relevant code that decides which storage to use is here: https://github.com/ipfs/js-ipfs/tree/master/src/core/default-repo

References:

- https://github.com/ipfs/js-ipfs-repo
- https://github.com/maxogden/abstrac

[2016-07-07 12:23] dignifiedquire commented on #348
I agree this would be really nice to have. There is some ground work to be done in the code, but it's very much possible to do (go-ipfs already supports this on the gateway, but not exposed through the api)

[2016-07-07 13:57] haadcode opened #353 ""Uncaught ReferenceError: fs is not defined""
Using latest `0.14.1` when initializing IPFS in the browser, I get an error:
"Uncaught ReferenceError: fs is not defined" and
"Uncaught ReferenceError: window.Ipfs is not defined"

Didn't change anything, my webpack configurations used to work at least with `0.13.0`

[2016-07-07 14:03] haadcode opened #354 ""Uncaught ReferenceError: window.Ipfs is not defined""
Using latest version `0.14.1`, I get an error:
"Uncaught ReferenceError: window.Ipfs is not defined"

This used to work at least in `0.13.0`.

If the global instance of IPFS has changed its name/location, it should be documented in the README.

[2016-07-07 14:11] dignifiedquire commented on #353
Can you please add a stacktrace?

[2016-07-07 14:12] dignifiedquire commented on #354
Can you paste/link to the exact code that is loading ipfs?

[2016-07-07 14:20] haadcode commented on #354
Just realized this is probably related to https://github.com/ipfs/js-ipfs/issues/353 and because IPFS can't be created, it'll give undefined.

Leave the issue open for now, let's close it once a fix is confirmed.

[2016-07-07 15:24] dignifiedquire commented on #351
And another bug due to node streams :cry:

[2016-07-08 09:11] guerrerocarlos opened #357 "How does it work on browsers, with no open ports, using WebRTC?"
I checked the code but cannot find where does it make use of WebRTC for running standalone in the browser, or what am I missing?

[2016-07-08 10:00] dignifiedquire commented on #357
It uses webrtc in the browser yes, the relevant code for this is in this module: https://github.com/libp2p/js-libp2p-webrtc-star

[2016-07-08 12:56] haadcode opened #359 "object.get sometimes returns an empty DAGNode"
Sometimes, when doing `object.get`, the result is an empty DAGNode, ie. `res.toJSON().Data` --> empty buffer). The hash involved is probably this `QmdfTbBqBPQ7VNxZEYEj14VmRuZBkqFbiwReogJgS1zR1n` seeing it around a lot.

This has been around since 0.1x.x and is still present in 0.14.1.

[2016-07-08 17:05] dignifiedquire commented on #359
This is a bug in js-ipfs-repo. Node streams are not working properly for fs-blob-store when reading and writing a lot.

[2016-07-08 17:25] dignifiedquire commented on #359
This is an example on how this can be fixed https://gist.github.com/dignifiedquire/b98e2f1caf6c549c0e04895c88e8ca3d

[2016-07-22 13:45] dignifiedquire opened #362 "[technical exploration] Life beyond node-streams"
### Reasons for consideration

In the recent months of developing js-ipfs we had some issues with various parts of the different versions of node-streams. Some of the major ones were

- Hard to control `error` handling, especially as we `pipe` and wrap streams many times from module to module
- Issues with flushing data, write streams don't give guarantees about when data has been written to the u

[2016-07-22 20:26] nycoliver opened #365 "Won't build with webpack"
Playing around with the new [create-react-app](https://github.com/facebookincubator/create-react-app) but importing ipfs throws a bunch of errors. Cannot resolve module fs, net, tls. I could try adding the corresponding externals to webpack config but the readme says js-ipfs is transpiled with shims added so no need to adjust asset management process.

Not sure if I am missing something, or should

[2016-07-22 20:34] haadcode commented on #365
Try if this works for you: `const IPFS = require('exports?Ipfs!ipfs/dist/index.js')`.

You might additionally have to change your webpack config. The one I use in Orbit is here: https://github.com/haadcode/orbit/blob/refactor/architecture/client/webpack.config.js

[2016-07-22 20:36] nginnever commented on #365
Could you link us to your webpack config/project. Shouldn't be an issue. Simple configurations work well for me like this example. https://github.com/nginnever/ipfs-pad/blob/master/webpack.config.js

[2016-07-22 21:40] claus commented on #365
@nginnever you're using OrbitDB though, and don't import js-ipfs directly. In OrbitDB, @haadcode currently works around the reported issue by doing the things he describes above. I'm seeing the same issues as the reporter with current versions of js-ipfs.

[2016-07-22 22:11] nginnever commented on #365
@claus my link is probably a bad example since I was just testing things out and it's incomplete, I've never actually used orbitdb but I also haven't touched that project in a while and just reran it and reproduced the bug. Thanks for pointing it out.

[2016-07-22 22:31] nginnever commented on #365
closing in favor of [353](https://github.com/ipfs/js-ipfs/issues/353)

[2016-07-22 22:45] nycoliver commented on #365
Thanks @haadcode, seems to be working with ```import ipfs from 'ipfs/dist/index.js';```

[2016-07-24 13:49] haadcode commented on #365
@nycoliver in that case, I think you need to add 'fs' to webpack's 'externals' property:
[code]

[2016-07-24 13:49] #365 closed

[2016-07-24 16:01] haadcode opened #368 "Add directory list command (files.ls)"
Add `files.ls(hash)` command so that added directories can be listed.

[2016-07-25 13:37] dignifiedquire commented on #271
Excellent inspiration on how to do this in the readme: https://github.com/cyclejs/cyclejs#packages

[2016-07-26 03:00] nycoliver commented on #365
I got it to work with the following config based off orbit client, thanks!
Still only v0.13.0 though.

Dependencies:
[code]

Webpack config:
[code]

Fs-mock:
[code]

[2016-07-26 12:49] diasdavid opened #373 "Fix for Node.js 6.3.3"
Following: https://github.com/ipfs/js-ipfs/pull/355

- [x] rebase latest duplexify in duplexify fork https://github.com/ipfs/js-ipfs/pull/355#issuecomment-231333732
- [x] update all the deps that use duplexify

[2016-07-26 12:50] #354 closed

[2016-07-26 12:51] #336 closed

[2016-07-27 16:52] chriscool opened #377 "`jsipfs version` should work without any ipfs repo"
I am adding sharness tests to jsipfs and it fails very early because `jsipfs` expects an ipfs repo:

[code]

Also it looks like jsipfs error messages are printed on stdout instead of stderr.

[2016-07-27 16:53] chriscool commented on #377
cc @diasdavid

[2016-08-01 08:54] dignifiedquire commented on #17
The main thing about unwanting and cancellation which is missing from this milestone depends on using an async primitive that understands cancellation.

[2016-08-01 12:27] diasdavid commented on #17
@dignifiedquire we had a conversation of how to do that with the current state of how modules are coupled, here are some notes, but might be good to jump in a call an clarify any loose ends and bring the clarifications back to the issue, also, nothing is set in stone, this is a hard and tricky part :)

Cancelation can happen in two ways:

a) The ipfs daemon (http-api) is running, a request is made

[2016-08-01 15:14] diasdavid commented on #348
@dignifiedquire it is exposed on the Files API (`ipfs files read --offset`), but that requires moving the file to mfs, like:

[code]

This is related with the convergence of Files with the basic unixfs commands https://github.com/ipfs/specs/issues/98#issuecomment-236268043

[2016-08-01 15:20] diasdavid commented on #351
@dignifiedquire there are some layers of indirection, because of the streams to {indexedDB, fs}, but IIRC, we fixed that in IndexedDB, but I guess that fs-blob-store never got the love required since we never noticed a bug there (which probably was just because fs was way faster).

Do you see this problem in orbit in the browser or in a Node.js process?

We have locks for writing https://github.co

[2016-08-01 15:21] diasdavid commented on #359
@dignifiedquire could you make a diff instead of a gist? (and better, a PR)

[2016-08-01 16:32] dignifiedquire commented on #359
@diasdavid no I can not, as this is a hack if you look closely it stops using the abstract-blob-store interface and so would immediately stop working in the browser. As far as I can tell this can not be fixed as long as we use abstract-blob-store with node-streams to read and write files.

[2016-08-01 16:34] dignifiedquire commented on #351
I am not sure the fix will actually work on fs-blob-store, all my tries have failed so far.

[2016-08-01 16:43] dignifiedquire commented on #362
The only viable other alternative to node-streams I found so far was https://pull-stream.github.io. They are quite nice and there is an example of secio implemented here: https://github.com/libp2p/js-libp2p-secio/pull/8

The main barrier I hit with them was integration with node-streams, so if we were to move the whole code base to use pull-streams this might solve those issues.

[2016-08-01 17:08] diasdavid commented on #359
Got it, what I meant was that it is hard to check what changed when there is no diff. Yes, changing from stream to sync write is not the solution.

[2016-08-02 17:23] dignifiedquire opened #389 "Review cli modules to make the cli a nicer experience"
There are a lot of tools on this list https://github.com/sindresorhus/awesome-nodejs#command-line-utilities that can make the js-ipfs cli a much nicer experience.

[2016-08-02 17:33] RichardLitt commented on #389
👍  Good idea.

[2016-08-02 20:18] dignifiedquire commented on #331
Tbh it does not look like anything is happening on ronin. But there is [yargs](https://github.com/yargs/yargs), which looks really awesome and also allows for the command structure that we are after, see [here](https://github.com/yargs/yargs#example-command-hierarchy-using-commanddir) for an example.

[2016-08-03 14:43] haadcode commented on #359
https://gist.github.com/dignifiedquire/b98e2f1caf6c549c0e04895c88e8ca3d#file-datastore-js-L61

I think the problem here was, iirc discussion with @dignifiedquire, that fs.createReadStream in abstract-blob-store was not working as expected. So, his fix was to change the fs layer to use .writeFile (async) instead of streams.

[2016-08-03 15:24] dignifiedquire commented on #315
This https://github.com/ipfs/js-ipfs/pull/390/commits/ac629eafa97ed94c6d9b82b2a88414be05110a21 should fix the issue, but I am not a 100% sure as I couldn't reproduce the referenced race myself.

[2016-08-03 15:26] diasdavid commented on #315
Can you add a test with a lots of tiny files (like 100) and at least 10 levels of nest'ness just to be sure? Thank you!

[2016-08-03 15:27] dignifiedquire commented on #315
All the files :D

[2016-08-03 15:29] diasdavid commented on #315
Note that sorting on the client should not matter, go-ipfs doesn't expect the things to come sorted through the http-api. Files are hashed first and them the dir nodes are constructed after, once there is no more files to add to the dir (flush: false) or keep getting recreated (flush: true)

[2016-08-03 15:30] dignifiedquire commented on #315
I added the sorting to make it easier to test, as it makes the output deterministic.

[2016-08-03 15:31] diasdavid commented on #315
A good test to add is to add the same dir, but by a different order.

[2016-08-03 15:36] dignifiedquire commented on #315
Race is still there :( seems to be related to how the chunker works rather than how we use it from js-ipfs :(

[2016-08-03 17:22] #271 closed

[2016-08-04 09:11] dignifiedquire commented on #373
@diasdavid I think this is finished, please close if you agree

[2016-08-04 11:50] diasdavid commented on #362
First, thank you @dignifiedquire for chasing this streams issue and for researching possible solutions by doing experiments with actual implementations, really 5 🌟 👌.

To give a bit more emphasis to the issues we've realised (through the hard way), the Node.js Streams, also known as `Streams 2`, (problem 1) don't **propagate errors**, even (specially) when piped (.pipe) together. Adding to this, (

[2016-08-04 12:09] diasdavid opened #398 "[technical exploration] js-ipfs bundle optimized"
As of today, the js-ipfs dist version is considerably large (~4MB), which is a lot of JavaScript for a module designed for the browser. It is true that we have to inject a lot of code to support things like spdy, multiple transports, crypto channels and so on, but there are things that can be avoided/optimized, namely: shims everywhere for es6->es5 transpilation.

The 'promise' is that in the futu

[2016-08-04 12:15] dignifiedquire commented on #362
Thank you very much @diasdavid for this comprehensive post, below are a couple of notes just for clarification.

This is very nicely solved in `pull-streams`. Wrapping and things like reading from streams per byte is super elegant, as can be seen for example here: https://github.com/libp2p/js-libp2p-secio/blob/pull/src/handshake/finish.js#L22-L32

Yes, but I don't think we should sacrifice our pro

[2016-08-04 12:18] diasdavid commented on #362
Ok, let's do it today then :) 5pm UTC sounds good? http://www.worldtimebuddy.com/?qm=1&lid=2267057,100,308,12&h=100&date=2016-8-4&sln=17-18

[2016-08-04 12:21] dignifiedquire commented on #398
I agree we should investigate how we can minimize the size of js-ipfs, but I strongly disagree to do it at the cost of developer productivity.

- `tree shaking` is a real possibility if we start moving to ES2015 module specification instead of commonjs and transpile those for node. This would be quite straightforward for us  to do as we already have all the tooling in place to do it. Given we woul

[2016-08-04 12:34] diasdavid commented on #362
Pinging @haadcode @nginnever @xicombd @RichardLitt @VictorBjelkholm @shamb0t and anyone else following this, you are welcome to join the chat, don't feel obligated to though :)

[2016-08-04 12:46] dignifiedquire commented on #398
Using https://webpack.github.io/analyse/ and http://ipfs.io/ipfs/QmSoAbNz1QWwioCzGHtV97Mtx23u19r3oVmznhk2bMLxSp you can see and analyze the largest offenders in terms of size.

The one that are visible immediately are

- forge.js (861 KiB)
- async.js (186 KiB)
- highland.js (126 KiB)
- bn.js (85 KiB)
- pako ( > 100 KiB spread over different modules)

[2016-08-04 12:52] yoshuawuyts commented on #362
https://github.com/dominictarr/pull-fs uses `fs.open()` to create a file
descriptor and then uses the cursor to write to disk in chunks. It sidesteps
all of Node streams, so it's actually possible to ditch all, if not most of
node streams. Probably the only place where that's currently not being done is
`net` / `http` as they rely on the stdlib - but there's wrappers available that
abstract away t

[2016-08-04 13:07] dignifiedquire commented on #398
Some more work allowed me to bring down the size to `1.7M` minimized and `3.3M`non minimized. I will push that update to aegir soon.

Also analysis of modules size of the new bundle is below

[code]

[2016-08-04 15:19] diasdavid commented on #373
Looks like it :)

[2016-08-04 15:19] #373 closed

[2016-08-04 15:38] whyrusleeping commented on #362
If you guys don't make a solid decision during this meeting i'm going to make the decision for you.

That is a threat I intend to follow through on.

[2016-08-04 15:56] noffle commented on #362
Really awesome work @dignifiedquire in concretely identifying the pain points in dealing with node streams. I can't make the hangout, but here are my thoughts:

For me, pull streams' #1 superpower is their simplicity (in the [Rich Hickey](https://www.youtube.com/watch?v=rI8tNMsozo0) sense of the word): anyone can write a full pull stream implementation from scratch in a few minutes, from first pri

[2016-08-04 18:10] diasdavid commented on #362
Thank you everyone for all the input, it was really valuable for all the discussion.

Me and @dignifiedquire talked for a while and given our options, we decided to give pull-streams a spin, however this is not a full buy in, because we still do not know if it will solve the entire problem for libp2p (specially secio) and ipfs-repo.

### The plan

##### Test pull-streams in libp2p

- [ ] Create a

[2016-08-05 07:23] haadcode commented on #362
Can you guys give insights to what lead you to this decision? What were the pros and cons for pull-streams vs. RxJS?

[2016-08-05 11:30] diasdavid commented on #362
@haadcode The most important reasons are described in my first post, here: https://github.com/ipfs/js-ipfs/issues/362#issuecomment-237530938

In a tl;dr:

- Moving back and forward between Node.js streams is complicated (while pull-streams is literally one function)
- No notion of backpressure
- Larger dependency
- Higher cost of entrance. It requires more than learning how a lib works, but actual

[2016-08-05 13:40] ekroon commented on #362
As an alternative to RX, with backpressure possibilities, there is also the Reactive Streams specification (http://www.reactive-streams.org/). But it is still not something that feels very natural compared to nodejs streams (compare https://github.com/reactive-streams/reactive-streams-jvm/blob/v1.0.0/README.md).

[2016-08-05 13:45] dignifiedquire commented on #362
@ekroon I saw them mentioned in the discussions around backpressure but it seems there is not implementation in JavaScript currently which would add a lot of work for us if we wanted to implement them from scratch(https://github.com/reactive-streams/reactive-streams-js is empty :()

[2016-08-05 15:10] whyrusleeping commented on #362
reactive streams also looks like its its own network protocol.

[2016-08-05 19:55] ekroon commented on #362
@dignifiedquire @whyrusleeping in the simplest form reactive streams is only a set of interfaces that make it possible to subscribe to a stream and be notified of errors and the end of the stream (which is also in RX). In addition you can effectively switch between pull and push as there is an extra call on the subscription (normally only a cancel or unsubscribe), namely request(n); to request a m

[2016-08-06 23:47] dominictarr commented on #362
for converting between node streams and pull streams:
https://github.com/pull-stream/stream-to-pull-stream
https://github.com/pull-stream/pull-stream-to-stream

stream-to-pull-stream has had a lot of battle testing and has been very reliable.
in fact, it's worked so well that it's probably slowed down efforts to write lower level pull-streams
which go directly to the libuv bindings. but those are

[2016-08-09 12:50] dignifiedquire opened #403 "refactor: ⎆ Migration to pull-streams (from Node.js Streams)"
As noted in #362 I did the due diligence of confirming that using `pull-streams` all the way through solves our issues with secio. The result of this can be seen in https://github.com/libp2p/js-libp2p-swarm/pull/67. (**Warning** lots of module linking required to get this running)

The next step is to move from the prototype into a fully tested version for all modules.
Below is a list of the modul

[2016-08-09 20:14] diasdavid commented on #403
Thank you for captaining this @dignifiedquire :) :) Let's make sure not to forget documentation :)

[2016-08-10 14:16] dignifiedquire commented on #403
Draft for the readme note.

[code]

[2016-08-10 18:26] #331 closed

[2016-08-10 18:26] #377 closed

[2016-08-10 23:00] diasdavid opened #409 "version tests fail if version is updated"
@dignifiedquire seems we missed this one: https://github.com/ipfs/js-ipfs/blob/master/test/http-api/test-version.js#L21

The tests fail after release. We need to cache the version number from the package.json to make the validation

[2016-08-11 00:11] jbenet commented on #403
before doing the work of chaning every module, i _highly_ recommend you pick a small set and work with them-- see how they go. You wont understand how an abstraction fits a project until you play with it for a while. and def better to find that out with a small set than after changing everything.

[2016-08-11 07:13] dignifiedquire commented on #403
@jbenet we already did that as outlined at the beginning of this issue. I ported the minimal needed set to get secio in swarm working and see how things are working out, and they worked out great. Afterwards I talked with @diasdavid and we decided to move forward. The result of this is this endeveaour of moving all things into high quality ports.

[2016-08-11 07:13] dignifiedquire commented on #409
uups :blush:

[2016-08-11 09:52] diasdavid commented on #409
fixed in https://github.com/ipfs/js-ipfs/pull/407

[2016-08-11 09:52] #409 closed

[2016-08-11 10:00] diasdavid opened #412 "Sharness tests"
In order to improve the quality and robustness of js-ipfs, it is pretty important to reuse the SHarness testing infrastructure against the js-ipfs http-api.

@chriscool could you help us with that? I think the best first step is to have the go-ipfs cli point at the js-ipfs http-api and test the endpoints that js-ipfs already implements (i.e: object, block, bitswap, add, cat, get). We can do that b

[2016-08-13 05:10] diasdavid commented on #214
When I read the title of this issue again my reaction was, "wait, no more async calls?" :D

async is now modular, not sure if this is an optimization/concern anymore

[2016-08-13 08:53] chriscool commented on #412
@diasdavid yeah I started to take a look at that during the Lisbon workshop, but there were a lot of problems, startin with `jsipfs version`.
I will take another look soon.

[2016-08-13 10:12] diasdavid commented on #412
I was more thinking in the lines of using go-ipfs cli to point to js-ipfs http api (ipfs --api='') so that we can tell that both behave the same way, avoiding to have to write the entire CLI.

[2016-08-13 21:23] diasdavid commented on #30
# LOG - August 13

![image](https://cloud.githubusercontent.com/assets/1211152/17645228/7b8b11f2-6197-11e6-9efc-c459f2cef599.png)

# 🌬 Release the sails! We've found a (road)map

The IPFS community has spent some quality time in July together (with in person + remote attendance) at the [IPFS Workshop](https://github.com/ipfs/2016-Q3-Workshop) to come up with a plan for what are the new and excitin

[2016-08-14 10:27] dignifiedquire commented on #214
That is correct, we can now migrate the rest of the modules that use async to use the modular 2.0 version.

[2016-08-15 09:33] diasdavid commented on #353
From what I can understand, this is now fixed. @haadcode reopen if necessary

[2016-08-15 09:33] #353 closed

[2016-08-15 09:35] diasdavid commented on #300
I believe this is because js-ipfs-unixfs-engine doesn't support sharding or node wrapping like go-ipfs does. Making it so that some files added through go-ipfs not readable on js-ipfs (for now)

https://github.com/ipfs/js-ipfs-unixfs-engine/issues/45

[2016-08-15 09:41] diasdavid commented on #351
This should be fixed once https://github.com/ipfs/js-ipfs/issues/403 is done

[2016-08-15 09:41] diasdavid commented on #359
This should be fixed once https://github.com/ipfs/js-ipfs/issues/403 is done

[2016-08-15 09:44] diasdavid commented on #349
Thank you @kenshyx , fixed on https://github.com/ipfs/js-ipfs/pull/416

[2016-08-15 09:46] diasdavid commented on #270
@vijayee we haven't been able to replicate this issue. Could you confirm if this is still a problem for you? If it happens again, can you try with the dist version, it might be a problem on your transpilation step.

[2016-08-15 09:55] #349 closed

[2016-08-15 09:56] diasdavid commented on #318
@haadcode can you confirm the error no longer exists?

[2016-08-15 09:56] #318 closed

[2016-08-15 09:57] diasdavid commented on #214
Awesome :) Closing this one, as that is just a 'dep update', it will happen with following releases, naturally.

[2016-08-15 09:58] diasdavid commented on #110
This work has solidified and continues to grow in https://github.com/ipfs/interface-ipfs-core

For notifications on API changes, see: https://github.com/ipfs/interface-ipfs-core/issues/55

[2016-08-15 09:58] #110 closed

[2016-08-15 09:59] diasdavid commented on #93
@upfs how are your experiments?

[2016-08-15 10:02] diasdavid commented on #111
This can be closed now. js-ipfs-api now follows interface-ipfs-core, which makes getting both impl to work together almost seamlessly

[2016-08-15 10:02] #111 closed

[2016-08-15 10:03] diasdavid commented on #17
@dignifiedquire can we get a brain dump of your thoughts on what to take bitswap next?

[2016-08-15 10:04] diasdavid commented on #352
We've added: https://github.com/ipfs/js-ipfs#api

Any proposals on how to make it more dev friendly?

[2016-08-15 10:37] dignifiedquire commented on #17
I will write up something later this week

[2016-08-15 10:39] dignifiedquire commented on #214
Sorry, but it's more than that, we have to specifically change our code to use the form of

[code]

to actually get the benefits of this.

[2016-08-15 11:38] diasdavid commented on #214
Ok. Can you list out all the cases where async happens (+ run-*) so that we make sure to tackle all of them? Thank you

[2016-08-15 12:57] dignifiedquire commented on #214
I'm pretty sure that's nearly every single repo of `libp2p/js-*` and `ipfs/js-*`

[2016-08-15 14:25] vijayee commented on #270
@diasdavid I'll check this out later this evening and get back to you tomorrow on this.

[2016-08-15 21:06] daviddias opened #2884 "Cancelable requests AKA Context"
We need a way to be able to cancel calls that have to hit the network, either through a timeout or by a voluntary cancelation.

JavaScript doesn't provide a good interface for this natively, we need to research or build one our own.

For context, read https://blog.golang.org/context which is what we use in Go. (Another resource - http://bouk.co/blog/context/)

Notes from the sprint discussion:

[2016-08-16 00:05] whyrusleeping commented on #300
@diasdavid I think that the trickledag code is irrelevant to what is going on here.

[2016-08-16 08:58] haadcode commented on #398
Some interesting data here: https://nolanlawson.com/2016/08/15/the-cost-of-small-modules/

[2016-08-16 11:59] Mithgol opened #418 "there is no `assets` subdirectory"
Currently `README.md` [recommends](https://github.com/ipfs/js-ipfs/blob/17a07363d6212c6fb2ebbac591d533900c1793ad/README.md#use-in-a-browser-using-a-script-tag) the following:

[code]

However,

* [HTML5 `script`](https://www.w3.org/TR/html5/scripting-1.html#the-script-element) defaults to `type="text/javascript"` and thus that attribute can be dropped from the example,

* there is no `assets` subd

[2016-08-16 14:10] diasdavid commented on #418
Seems that his is a leftover of pre 'dist' era. Currently, the installation method is the same for all the ipfs modules, that is:

![image](https://cloud.githubusercontent.com/assets/1211152/17701881/836b170e-63c3-11e6-88e8-cf4faf6495fb.png)

As seen in : https://github.com/multiformats/js-multihash#in-the-browser-through-script-tag

@Mithgol would you like to submit a PR to fix that?

Thank you

[2016-08-16 14:11] daviddias opened #2905 "ipfs.config.replace"
This can't be finished until https://github.com/ipfs/go-ipfs/issues/2927 is resolved

[2016-08-16 23:13] Mithgol commented on #418
Ok.

[2016-08-17 07:06] nginnever commented on #214
async crawl >.<

actually not that many modules depend on async anymore

  - [x] js-ipfs-api [PR](https://github.com/ipfs/js-ipfs-api/pull/350)
  - [ ] js-ipfs-repo (dev only) [PR]()
  - [ ] js-libp2p-kad-routing [PR]()
  - [ ] js-ipfs-unixfs-engine (dev only) [PR]()

I have set up an example pr, if it looks good i'll iterate over the rest.

Do we care to update this if async is only a dev dep? ad

[2016-08-17 07:07] dignifiedquire commented on #214
I think we should do it for dev as well, as that means the bundles in the test runs are smaller, making it a bit faster :)

[2016-08-17 17:48] RichardLitt commented on #403
Sub. Let me know if I can help with READMEs.

[2016-08-17 18:32] dignifiedquire commented on #403
Thanks @RichardLitt :heart: will ping you as soon as I have a consistent message ready.

[2016-08-18 07:48] dignifiedquire commented on #398
There is also: https://chrisbateman.github.io/webpack-visualizer/ which helps analyse dependencies from webpack a bit better.

In addition there is this article about using nsolid to do runtime analysis of dependencies https://nodesource.com/blog/is-guy-fieri-in-your-node-js-packages/

[2016-08-18 07:49] dignifiedquire commented on #398
Using the webpack visualizer I found out that we are currently bringing in 12 versions of readable-stream *cough* which should be fixed after #403

[2016-08-18 08:26] diasdavid commented on #398
@dignifiedquire I would love if there was a section explaining how you hook those tools to help you visualise, and if possible that they can be run with just a script :)

[2016-08-18 08:41] dignifiedquire commented on #398
@diasdavid this can not be put into a script, but

- for the visualizers, you need to generate a `stats.json` file and upload it to the linked webpages, they will then show you the analyis. To generate this file I need to add an option to `aegir` to expose it easily as I currently use a hacked together version to do this.
- for the nsolid one, the linked blog article goes into detail on how to do

[2016-08-18 09:36] diasdavid commented on #403
Missing from the list:

- [ ] [js-multistream](https://github.com/libp2p/js-libp2p-spdy/pull/16)

[2016-08-18 10:08] dignifiedquire commented on #403
added

[2016-08-18 13:59] #418 closed

[2016-08-19 07:48] haadcode commented on #398
@diasdavid can we change the name of the topic to "optimize the size of js-ipfs"?

[2016-08-19 07:50] haadcode commented on #398
Some feedback from elsewhere (cc @pelle). @diasdavid @dignifiedquire make sure to note the comment re. dependencies.

[code]

[2016-08-19 08:15] haadcode commented on #398
Perhaps this is not the right thread but since js-ipfs-api and js-ipfs are connected and we're on the topic of size optimization:

ConsenSys is using https://github.com/pelle/browser-ipfs for their IPFS wrapper. Their reason is simply the size: 900kb (js-ipfs-api) vs. 2kb (browser-ipfs).

@diasdavid @dignifiedquire this begs the question: why is js-ipfs-api so large? What are the dependencies that

[2016-08-19 08:32] diasdavid commented on #398
@haadcode Thank you for bringing that up. It should go, however, into a `js-ipfs-api` issue, we will probably get a lot of savings from the dedup on `js-ipfs-api`.

[2016-08-19 08:38] haadcode commented on #398
That would be sweeeeeet!

[2016-08-19 08:41] haadcode commented on #398
Moving conversation re. js-ipfs-api to https://github.com/ipfs/js-ipfs-api/issues/353

[2016-08-19 13:38] diasdavid commented on #403
One more: https://github.com/libp2p/interface-transport/pull/8

[2016-08-20 15:34] diasdavid opened #428 "Use interface-ipfs-core tests over the http-api with ipfs-api"
Once https://github.com/ipfs/js-ipfs/pull/420 is done

[2016-08-20 16:03] diasdavid commented on #214
Seems that this has been taken care of with exception of bitswap which has its own issue https://github.com/ipfs/js-ipfs-bitswap/issues/14. Closing this one, reopen if needed

[2016-08-20 16:03] #214 closed

[2016-08-20 16:05] diasdavid commented on #60
The remaining items (specific to mfs) go into the Milestone 6 - Feature parity

[2016-08-20 16:07] diasdavid commented on #213
@dignifiedquire wanna handle this one?

[2016-08-20 16:08] diasdavid commented on #228
@shamb0t @noffle would you like to handle this one?

[2016-08-20 16:08] diasdavid commented on #229
@noffle would you like to handle this one?  :)

[2016-08-20 16:10] diasdavid commented on #267
Chrome DevTools is now available with Node.js 6.3.0 https://www.reddit.com/r/node/comments/4yoane/in_case_you_have_missed_it_node_v630_came_out/

@haadcode would you like to lead the effort of making js-ipfs nicer with these dev tools the browser offers?

[2016-08-20 16:10] diasdavid commented on #286
Hey @MasterJames, is this still a issue, could you confirm?

[2016-08-20 16:11] diasdavid commented on #270
@vijayee I'll assume that you got this one figured out :) Let me know if not and we will reopen

[2016-08-20 16:11] #270 closed

[2016-08-20 16:12] diasdavid commented on #300
I mean, in js-unixfs-engine we don't 'understand' (yet) all the dag structures you do in go-ipfs to represent files, just the simplest one. I believe that is the issue here.

[2016-08-20 16:13] diasdavid commented on #300
Follow up on https://github.com/ipfs/js-ipfs-unixfs-engine/issues/45

@AdamStone would you like to tackle and implement this one?

[2016-08-20 16:14] diasdavid commented on #368
@haadcode has mentioned on the last sprint meeting that this is no longer a priority, postponing to the Milestone of Full Feature parity

[2016-08-20 20:51] dignifiedquire commented on #398
A lot of good things are in this article: https://pouchdb.com/2016/01/13/pouchdb-5.2.0-a-better-build-system-with-rollup.html. PouchDB has struggled with similar issues in terms of optimisation in size but also ensuring things are usable in node, webpack & browserify.

[2016-08-20 21:05] dignifiedquire commented on #398
More interesting things about using a monorepo and many small packages from PouchDB: https://pouchdb.com/2016/06/06/introducing-pouchdb-custom-builds.html

[2016-08-21 06:33] noffle commented on #229
Sorry David, I don't have the bandwidth right now for this. Feel free to
reassign.

[2016-08-21 13:14] dignifiedquire commented on #267
Before we start work on this, I would like to establish some clear guidelines on when and where to use this pattern.

[2016-08-21 13:16] dignifiedquire commented on #300
To make sure we can handle all different versions of things that go-ipfs stores @whyrusleeping could you generate a small repo, with a set of all the different shardings that go-ipfs currently supports please?

[2016-08-21 14:15] dignifiedquire opened #429 "Bundling js-ipfs and js-ipfs-api for the Browser"
JS IPFS is a large collection of modules that aim to implement IPFS in Node.js and the browser. As such the distributions of these modules has a specific set of constraints.

Our current setup is not bad, and does generate bundles usable in Node.js and the browser, but there are some pain points that need work.
### Current Pain Points
1. Bundles are quite large
2. Lots of dependencies are duplicat

[2016-08-21 14:27] dignifiedquire commented on #398
JS IPFS is a large collection of modules that aim to implement IPFS in Node.js and the browser. As such the distributions of these modules has a specific set of constraints.

Our current setup is not bad, and does generate bundles usable in Node.js and the browser, but there are some pain points that need work.

### Current Pain Points

1. Bundles are quite large
2. Lots of dependencies are duplic

[2016-08-21 14:28] dignifiedquire commented on #429
Moved to https://github.com/ipfs/js-ipfs/issues/398#issuecomment-241260716

[2016-08-21 14:39] diasdavid commented on #300
+ list the hashes of which is which :)

[2016-08-21 16:37] pelle commented on #398
Very good suggestions. It would also be useful if we could create a lighter weight configuration of the library ideally just using the packager like browserify or webpack implementing only common use cases for the browser.

Another packager to add to the list is React Native's https://github.com/facebook/react-native/tree/master/packager

It presents a bunch of new headaches in that it doesn't go

[2016-08-21 16:52] dignifiedquire commented on #398
Thanks @pelle for bringing up react-native, the browser bundle in the above suggestion should work in react-native but it's important to test and check.

[2016-08-21 23:55] jbenet commented on #398
Pretty alarmed by this proposal. This type of optimization (removing code) should not be so complex. And I'm not convinced it has to be.

- Not being compile with node is not an option.
- Using ES6 imports should be a last resort. They demonstrate very poor judgment in design and are a huge step backwards for code readability, and simplicity (in the ritch hickey sense of the word). It also runs co

[2016-08-21 23:57] jbenet commented on #398
@dignifiedquire should move this proposal into its own threat to capture discussion there. It's going to get big

[2016-08-22 00:05] jbenet commented on #429
Prob best to keep discussion here :)
On Sun, Aug 21, 2016 at 10:28 Friedel Ziegelmayer <notifications@github.com>
wrote:

[2016-08-22 00:27] jbenet commented on #267
Wow JavaScript is really turning into Java. What a bummer, it was the
comeback of lisp.
On Sun, Aug 21, 2016 at 09:14 Friedel Ziegelmayer <notifications@github.com>
wrote:

[2016-08-22 06:45] haadcode commented on #267
@diasdavid sure I can lead this this, but can't probably put focused effort on it until October :/

Anything specific you had in mind?

Imo the guideline is: *use getters to expose read-only, non-async, non-io properties of an object*. Sounds good?

Don't worry, JS is definitely not turning into Java :) Getters and setters have been part of JS since ES5, ES6 just kinda made them usable. Getters an

[2016-08-22 07:05] jbenet commented on #267
My comment is not about OOP, it's about the complexity inherent in the language. Simplicity is really hard to get, and javascript had amazingly good simplicity. Interesting they existed already, I hadn't seen them.

[2016-08-22 07:59] haadcode commented on #267
Fair point. Javascript definitely has complexity that prolly wouldn't be there without all the legacy. I feel JS has great simplicity (due to its dynamic nature) but I suppose that's in the eye of the beholder...

[2016-08-22 08:04] diasdavid commented on #267
Not quite, although it seems simple, the thing is that for a change like this we need to explain 'why we should change our patterns' (which should be documented so that we have a reference for future discussions) and the plan to change those patterns (list all the modules, ensure that we adopt it across the board, etc), otherwise it will always be half baked with a lot of inconsistencies.

Not a p

[2016-08-22 08:09] haadcode commented on #267
Not sure this is a change in our *patterns*. `node.toJSON().Data` is a property getter much as `node.Data` or `const v = { f: 1 }; v.f;` would be. Where do you see this to change patterns or generally make it confusing as compared to what we have now in terms of the API design of the objects? Can you elaborate what you mean here?

Sounds good. When is MS4 work expected to happen and what's the est

[2016-08-22 08:14] diasdavid commented on #267
It is a change that has to be communicated through our API plus our code, for e.g: I expect that `node.Data` is a static property and not a getter, the same way that, right now I wouldn't expect that `node.Data = 'banana'` would run any code.

October :)

[2016-08-22 08:35] haadcode commented on #267
Wouldn't `DAGNode.Data` be a static property? Objects, as in instances in OO terms, don't usually have static properties. Static properties are usually part of classes, ie. they're *static* and can't be instantiated nor mutated.

`node.Data = 'banana'` banana would set the variable, right? As such it "runs code", no? Whether *setters* is good design is a different question (imo they're not).

I'm

[2016-08-22 08:37] haadcode commented on #267
Perfect. Sign me up for this goal and I'll make sure to take it into my personal planning for Q4.

[2016-08-22 08:39] diasdavid commented on #267
Ok, `node.Data` failed to pass as a good example. Let's think of `node.hash`, if we do

without getters

[code]

with getters

[code]

[2016-08-22 09:16] haadcode commented on #267
Got it.

Object's variables in JS by default are read + write, so if you defined your `node` as
[code]
...you are able to assign a value to a (member) variable. Ie. you can do this:
[code]

However, getters in JS are read-only by default, so `node.data` assignment would result in no-op as JS silently fails the assignment. A more explicit way would be to throw an error (also possible to do if neede

[2016-08-22 09:20] dignifiedquire commented on #429
Moving discussion back here.

Re comments from @jbenet in the other issue

I am very happy to see simpler solutions that achieve the same level of gains, so far I have not seen one.

We are still node compatible, but would have a compilation step before hand, as we have for the browser or we have in go.

There is a lot of personal opinion in here, and I don't want to make this discussion about the

[2016-08-22 10:04] jbenet commented on #267
I mean "simplicity" in the Rich Hickey sense. in a less subjective, not qualitative but a more objective, quantifiable way. See https://www.infoq.com/presentations/Simple-Made-Easy -- "the braidedness" of something. How much "braidedness" does the language encourage. How much cognitive load it causes. (eg that evented code causes "[stack ripping](http://berb.github.io/diploma-thesis/original/043_t

[2016-08-22 10:50] haadcode commented on #368
No, `cat` with offset isn't a priority anymore (it never was, miscommunication in Lisbon).

This would be nice to have asap. I need it to display directories in Orbit (works currently only in the Electron app). However, this *can be* postponed after interop has been done because I can't use it anyways in Orbit until js-ipfs can fetch the added directories from go-ipfs.

[2016-08-22 13:19] somebody1234 opened #430 "ipfs.files.get throws error on multiaddr"
I'm using `ipfs = new IPFS()` to initialize, and when I use `ipfs.files.get` with a multiaddr it rejects the Promise with `Error: not valid multihash`. I'm not exactly sure what I'm doing wrong.

[2016-08-22 13:38] diasdavid commented on #430
You are using it with a `multiaddr` and not a `multihash`?

[2016-08-22 13:39] somebody1234 commented on #430
Yes

[2016-08-22 14:10] diasdavid commented on #430
Ups, its a typo, sorry about that @somebody1234  -- https://github.com/ipfs/interface-ipfs-core/commit/dad7f81e98f2035040a4c50c3b44b1ae2fa0586e

[2016-08-22 17:04] diasdavid commented on #412
@chriscool any update about this?

[2016-08-22 17:36] chriscool commented on #412
@diasdavid I had a vacation and I am at the LinuxCon in Toronto now until next Monday.
I will try to take a look at it soon. Or maybe we should plan to discuss it, maybe on IRC, at the end of next week.

[2016-08-22 21:53] somebody1234 commented on #430
Okay, how would I get a specific file?

[2016-08-22 22:05] somebody1234 commented on #430
Also, I'm using the `multihash` format shown in the API and I'm still getting an error saying it's not a valid `multihash`

[2016-08-23 08:21] diasdavid commented on #430
@somebody1234 could you provide a snippet on how to reproduce?

[2016-08-23 12:59] somebody1234 commented on #430
Snippet:

    const IPFS = require('ipfs'),
        ipfs = new IPFS();
    ipfs.files.get('/ipfs/QmNhFJjGcMPqpuYfxL62VVB9528NXqDNMFXiqN5bgFYiZ1', (err, fole) => console.log(file)||file.content.pipe(process.stdout))

[2016-08-23 13:33] diasdavid commented on #430
You need to [`init`](https://github.com/ipfs/js-ipfs/blob/master/test/utils/temp-node.js#L32), [`load`](https://github.com/ipfs/js-ipfs/blob/master/test/utils/temp-node.js#L37) and start the node if you would like it to fetch data from other nodes.

One important question, where did you get that hash from?

[2016-08-23 13:58] diasdavid opened #431 "aegir is not correctly shimming the lib and dist verisons"
introduced with aegir 7.0.0, @dignifiedquire is already on top of it.

Known bugs:

- Some ES6 features are not shimmed (i.e: https://github.com/ipfs/js-ipfs/pull/420#issuecomment-241416112)
- Promise is not shimmed (i.e: https://www.irccloud.com/pastebin/wLPeIJjD/)

[2016-08-23 21:42] somebody1234 commented on #430
It's Neocities' hash, I was using it for testing

[2016-08-24 07:24] AdamStone commented on #300
Would you prefer I work on this next, or the datastore? I can take a closer look at either, I'd like to get the pinning implementation finalized first though.

[2016-08-24 07:39] diasdavid commented on #430
Got it, we don't have both networks connected (yet), so you won't be able to resolve hashes from go-ipfs in js-ipfs. This will change soon.

[2016-08-24 09:07] #430 closed

[2016-08-25 14:41] diasdavid opened #438 "Use interface-ipfs-core tests for files API over http"
Uncomment https://github.com/ipfs/js-ipfs/blob/master/test/http-api/interface-ipfs-core-over-ipfs-api/test-files.js#L5-L24 and make it work.

Needs:
- [x] https://github.com/ipfs/js-ipfs/pull/323
- [x] https://github.com/ipfs/js-ipfs/pull/469

[2016-08-25 14:44] diasdavid opened #439 "Use interface-ipfs-core tests for the Swarm API"
Uncomment https://github.com/ipfs/js-ipfs/blob/master/test/http-api/interface-ipfs-core-over-ipfs-api/test-swarm.js#L5-L23 and make it work.

Needs:

- [x]  https://github.com/ipfs/js-libp2p-ipfs-browser/issues/83

[2016-08-26 12:02] diasdavid commented on #428
https://github.com/ipfs/js-ipfs/pull/432

[2016-08-26 12:02] #428 closed

[2016-08-28 18:04] diasdavid commented on #403
## Status Update - The enchanted adventure of the missing backpressure mechanism.

The migration to pull-streams is almost complete, we currently have PR's across every single module that required to be updated in order for the migration to be complete. These PR include the code, documentation is still lacking.

There is one major blocker though, although we've been sucessful porting almost every

[2016-08-28 20:31] dignifiedquire commented on #403
I finally had a breakthrough just now! I figured out why the pausing happens. The reason for it is that at some point the pull-stream side actually has too much data, and says "hey slow down" to the spdy-transport stream (the `framer` to be exact). This is happens via the `.write` call returning `false` (https://github.com/pull-stream/pull-stream-to-stream/blob/master/index.js#L36).

After this ev

[2016-08-29 08:52] dignifiedquire commented on #403
I've created the above mentioned test and fix here: https://github.com/dignifiedquire/spdy-transport/commit/0e9c8475c2124577290b286ede9b822cb988bc30

[2016-09-02 14:20] VictorBjelkholm commented on #286
`jsipfs init` still shows no output, compared to go-ipfs that includes some getting started information. See example:

[code]

[2016-09-02 14:22] VictorBjelkholm opened #453 "Missing requirements in readme"
Would be good to include the requirements in the readme, node version, tested OSes, npm version and so on.

[2016-09-02 16:32] diasdavid commented on #403
@dignifiedquire where are the PR's for:

[code]

[2016-09-02 19:32] dignifiedquire commented on #453
Quick list

- npm@3
- node >= 4
- tested on OS X & linux, expected to work on Windows

[2016-09-02 19:33] RichardLitt commented on #453
Should be in the Install section.

[2016-09-06 15:07] imrefazekas commented on #270
I'm using webpack 2 and tried to use crypto causing the same issue @vijayee has seen.
I moved to webcrypto and I see this:

[code]

Any idea how to solve these messages?

[2016-09-06 16:48] nginnever commented on #270
At first glance this looks like you need a json loader? https://www.npmjs.com/package/json-loader

``
      {
        test: /\.json?$/,
        loader: 'json-loader'
      },
``

[2016-09-06 19:58] imrefazekas commented on #270
yes, had it with excluding node_modules .... changed to include and worked :)

[2016-09-07 16:33] dignifiedquire opened #455 "Benchmarks"
In order to know how fast things are, and in which area we can improve we want to add benchmarks to js-ipfs and its modules.

For the first round I suggest adding the following benchmarks
### js-ipfs
- [ ] {offline|online} file add {file|folder}
  - files: count {1|5|10} - size {1KB|10KB|100KB|1MB}
  - folders: count {1|5|10}
- [ ] {offline|online} file get {file|folder} 
  - files: count {1|5|10}

[2016-09-07 16:35] diasdavid commented on #455
Let's make sure these benchmarks present valid measures by adding the quantity of operations and size of files they will have to perform.

[2016-09-07 16:41] Kubuxu commented on #455
Take a look at https://github.com/whyrusleeping/ipfs-whatever which is very simple and naive benchmarks we have used for go-ipfs over HTTP API.

It would be best if we could reuse some/most benchmarks for both js-ipfs and go-ipfs not to double up the efforts.

[2016-09-07 16:42] dignifiedquire commented on #455
Added some numbers, feel free to suggest better ones, these are wild guesses currently.

[2016-09-07 16:44] dignifiedquire commented on #455
I would love if I can just run this against js-ipfs. That would be a great start and save us some time.

[2016-09-07 16:54] dignifiedquire commented on #455
I just tested to run ipfs-whatever against js-ipfs. If we have `add` and `cat` at the same place as go we can actually use it! Which I very much prefer over having a separate test suite for the first round.

[2016-09-07 17:20] dignifiedquire commented on #455
First results for things that worked out of the box. Before is js-ipfs, After is go-ipfs

[code]

[2016-09-07 17:31] diasdavid commented on #455
It would also be cool to have the benchmarks over ipfs-api, both against go-ipfs or js-ipfs :D

[2016-09-07 18:42] diasdavid commented on #60
//cc @VictorBjelkholm

[2016-09-07 19:35] diasdavid commented on #431
solved with aegir 8

[2016-09-07 19:35] #431 closed

[2016-09-07 19:47] diasdavid commented on #315
@dignifiedquire is this still a bug with the new pull-streams based unixfs engine?

[2016-09-07 19:48] diasdavid commented on #300
@whyrusleeping could you provide https://github.com/ipfs/js-ipfs/issues/300#issuecomment-241256740

[2016-09-07 19:50] diasdavid commented on #247
This is all good with the refined files API https://github.com/ipfs/interface-ipfs-core/tree/master/API/files \o/

[2016-09-07 19:50] #247 closed

[2016-09-07 19:51] diasdavid commented on #229
@VictorBjelkholm does this look like something you can take on? :) Thank you

[2016-09-07 19:52] diasdavid commented on #228
@shamb0t as we talked offline, this is only visible in Linux. Can you verify with a test and CI? (CI is Linux)

[2016-09-07 19:52] diasdavid commented on #92
//cc @VictorBjelkholm

[2016-09-07 20:08] diasdavid commented on #455
bump the order of magnitude by one or two on the benchmark tests

[2016-09-07 20:13] dignifiedquire commented on #455
Not sure that would be good, those will already be running very long.

[2016-09-07 20:26] dignifiedquire commented on #315
Never seen it in pull-streams land

[2016-09-07 20:45] diasdavid commented on #403
@dignifiedquire are there PR for the ipld-service?

[2016-09-07 21:12] dignifiedquire commented on #403
@diasdavid no there is not, I would suggest changing that when we actually integrate it.

[2016-09-07 21:13] diasdavid commented on #403
@dignifiedquire we've been directing some groups to check it out, we should make sure it continues to work

[2016-09-07 21:17] dignifiedquire commented on #403
We did? Sure if people are actually using it we can update it now. I did not expect that

[2016-09-07 23:03] #315 closed

[2016-09-07 23:04] diasdavid commented on #455
Adding 10 files of 1MB is taking a lot of time?

[2016-09-08 00:31] diasdavid commented on #403
@dignifiedquire yep :)

I've made my CR to all the remaining repos, once all of those points are taken care (very little stuff), I'll do the merge and release \o/ :D

[2016-09-08 11:30] dignifiedquire commented on #455
No, but if you calculate the above matrix and add the fact that each thing should be run at least 10 times to get some statistical relevance this will explode very quickly.

[2016-09-08 15:14] diasdavid commented on #455
Still, we should bump it (or have a way to bump it, like interface-stream-muxer and mega test)

[2016-09-09 13:59] #403 closed

[2016-09-09 15:00] dignifiedquire commented on #455
Just had a chat with @diasdavid, for the first round we will

- await the PR from @VictorBjelkholm to fix and add `add` and `cat` on the http api
- expose `add` and `cat` at the top level as aliases
- add a `benchmark.sh` script which `go get`s https://github.com/whyrusleeping/ipfs-whatever and runs the tests against a js-ipfs daemon

[2016-09-09 21:17] VictorBjelkholm commented on #438
#323 closed in favor of #469 which includes the interface-ipfs-core changes

[2016-09-10 11:32] VictorBjelkholm opened #474 "CLI should accept content from stdin"
The js-ipfs should, like the go-ipfs cli, accept input from stdin and add it correctly.
## go-ipfs

[code]
## current js-ipfs

[code]

[2016-09-10 12:19] VictorBjelkholm opened #476 "`jsipfs files cat $HASH` shows no output"
To reproduce, run the following in js-ipfs repository

[code]

No output, but should show the contents of package.json

[2016-09-10 12:24] VictorBjelkholm commented on #265
@diasdavid can we reconsider this for milestone 2 instead of 4? Necessary to have good logging in order to develop, is my five cents.

[2016-09-10 12:31] diasdavid commented on #265
@VictorBjelkholm you should not be blocked from adding good logs, we already have `debug` all over the place anyways :)

[2016-09-10 13:09] dignifiedquire commented on #265
@VictorBjelkholm try running with `DEBUG=libp2p*,ipfs*` that should give you quite a lot of logging info :)

[2016-09-10 16:21] VictorBjelkholm commented on #476
Still missing, seems like sub-files from a hash not working correctly either.

Example:

`node src/cli/bin.js files cat /ipfs/QmegvLXxpVKiZ4b57Xs1syfBVRd8CbucVHAp7KpLQdGieC/readme`

Shows no output atm.

[2016-09-11 23:07] diasdavid commented on #476
@VictorBjelkholm correct, that is a feature that isn't currently supported, although there is no technical reason why not to, all the pieces are there :)

[2016-09-12 09:14] VictorBjelkholm commented on #476
@diasdavid I'll add a new PR for that

[2016-09-12 10:31] VictorBjelkholm opened #478 ".cat subfiles"
From #476, cannot .cat files that lives inside directories, example:

[code]

Shows no output

[2016-09-12 10:32] VictorBjelkholm commented on #478
@dignifiedquire @diasdavid would a valid approach be to first check if the path contains a subfile, and if so, do .ls and grab the hash for the file and pass that to the dag-service within core.cat?

[2016-09-12 10:48] dignifiedquire commented on #478
I would suggest doing the same thing as go-ipfs, i.e. implementing a core function `resolve`, which when given an ipfs path, returns the hash of that path.
Under the hood this would use https://github.com/ipfs/go-ipfs/blob/master/path/resolver.go to resolve through.

[2016-09-12 10:49] dignifiedquire commented on #478
This will also make it easy to add CIDs to the resolution everywhere + ipns once we add it.

[2016-09-12 10:52] dignifiedquire commented on #362
Closing as we have merged and released our first version of js-ipfs using pull-streams internally :)

[2016-09-12 10:52] #362 closed

[2016-09-12 10:52] dignifiedquire commented on #359
#403 was merged and should fix this, please reopen if this is still an issue

[2016-09-12 10:52] #359 closed

[2016-09-12 10:53] dignifiedquire commented on #351
#403 was merged and released, so this should be fixed now. Please reopen if this still happens.

[2016-09-12 10:53] #351 closed

[2016-09-12 13:06] diasdavid commented on #351
@haadcode please, verify :)

[2016-09-12 13:06] diasdavid commented on #403
Woooo! All the Pull Streams are in :D

[2016-09-12 13:06] diasdavid commented on #359
@haadcode please verify :)

[2016-09-12 13:21] diasdavid commented on #478
@VictorBjelkholm it might be good to have that resolver in its own module, so that given an source of merkle-dag nodes, it can resolve anything

[2016-09-12 15:04] diasdavid commented on #17
@dignifiedquire still waiting on that braindump.

Currently bitswap is not fully interopable with Go, we need to make sure we can exchange blocks, whole files without having any issue. In order to test this, the go-ipfs https://github.com/ipfs/go-ipfs/tree/deps/libp2p/3.5.1 branch must be used. @dignifiedquire can you take a look at this?

[2016-09-12 15:07] dignifiedquire opened #479 "Create pull-multipart module"
As mentioned in https://github.com/ipfs/js-ipfs/pull/469#discussion_r78388191 we are using pull-streams internally now and would like to have a pull-stream version of the [multipart parser](https://github.com/xicombd/ipfs-multipart).

cc @xicombd @diasdavid

[2016-09-12 15:09] dignifiedquire commented on #17
@diasdavid yeahh, not sure about it myself right now, will need to get back into bitswap. Will debug and fix the interop this week.

What I know right now we are missing

- Integration with the dht to request finding peers which have a block we want
- integration from the js-ipfs side with bitswap to unwant blocks (the low level part of this is done in js-ipfs)

[2016-09-12 15:11] dignifiedquire commented on #17
@diasdavid why is this milestone2, we can not complete this until we have some way of finding peers with blocks we need.

[2016-09-12 19:16] dignifiedquire opened #480 "[cli] ipfs files add is broken in online mode"
I don't know why the tests didn't caught this, but running `ipfs files add <file>` throws. The reason is that it uses `.createAddPullStream` which does not exist on the js-ipfs-api only on js-ipfs.

This is one of the reasons pull-streams need to be added in a sensible way to interface-ipfs-core. For now we will have to fall back to the super inefficient thing of converting to a node-stream, and t

[2016-09-12 20:21] diasdavid commented on #480
Exactly. It seems more like a misunderstanding of interface-ipfs-core, since that is what the CLI should be consuming.

[2016-09-12 20:50] diasdavid commented on #17
@dignifiedquire interop is ms2 :)

[2016-09-12 20:58] dignifiedquire commented on #17
interop is there :P

[2016-09-13 13:55] diasdavid commented on #439
Ok, since https://github.com/ipfs/go-ipfs/issues/3218, what we needs is to fix the test swarm.connect in interface-ipfs-core to add the peer-id to the end of the multiaddr

[2016-09-13 13:56] diasdavid commented on #438
woot! This is done, thank you @VictorBjelkholm et all :D

[2016-09-13 13:56] #438 closed

[2016-09-13 17:38] diasdavid commented on #412
@chriscool how are things? Can we look into this again? jsipfs is now interopable with go-ipfs (so we can have tests that use both at the same time) and the CLI is getting the same features + interface :)

[2016-09-13 20:41] chriscool commented on #412
@diasdavid great that it's now interoperable! Could we discuss it and try to do something tomorrow morning at around 9 am CEST time or are you available now?

[2016-09-13 21:33] #480 closed

[2016-09-14 00:10] diasdavid commented on #412
@chriscool I'm currently in NYC, so 9am CEST would be 4am for me. Can we make it in your afternoon?

[2016-09-14 07:24] chriscool commented on #412
@diasdavid then I think 9pm CEST is better for me. That would be 4pm for you.
Is it ok for you?

[2016-09-14 07:43] dignifiedquire commented on #213
@diasdavid sure

[2016-09-14 07:52] dignifiedquire commented on #213
So this is more tricky than I thought, I would suggest changing libp2p-swarm in a way that it drops all multiaddrs in `swarm.peerInfo.multiaddrs` that are not listened on and as such the log statement in js-ipfs doesn't need to be changed. Any better ideas @diasdavid ?

[2016-09-14 07:59] chriscool commented on #412
@diasdavid actually 9pm CEST is not possible today for me. I forgot that I had planned to meet friends. But it's possible tomorrow (Thursday September 15). Would that work for you?

[2016-09-14 15:00] dignifiedquire commented on #439
@VictorBjelkholm doing this now

[2016-09-14 15:00] VictorBjelkholm commented on #439
@dignifiedquire :+1:

[2016-09-14 15:23] diasdavid commented on #439
Thank you both :)

[2016-09-15 09:30] dignifiedquire commented on #429
I found another really good tool to analyse where the size is left. https://github.com/danvk/source-map-explorer will allow you to actually look into the minified version and with the help of source maps figure out where the code comes from.

[2016-09-15 11:49] dignifiedquire commented on #229
Just checked the go code, and we are actually not doing what go does at all. In go the api file is deleted on closing, but does not stop the daemon from starting up. Rather it is simply overwritten.

For locking the repo to a single daemon a file called `repo.lock` is used which uses os level checks to figure out who the file belongs to (https://github.com/ipfs/go-ipfs/blob/master/repo/fsrepo/lock

[2016-09-15 12:44] VictorBjelkholm commented on #455
@dignifiedquire

This has been merged.

This is in a PR now: https://github.com/ipfs/js-ipfs/issues/493

[2016-09-15 13:05] dignifiedquire commented on #229
It looks like the best bet for doing this is using

- https://github.com/joyent/node-lockfd for unix
- Replicating https://github.com/camlistore/go4/blob/master/lock/lock.go in js

and using those for `repo.lock`.

[2016-09-15 13:10] VictorBjelkholm opened #495 "Migrate CLI output to Logger"
With the new files APIs, I've started on a logger that has many benefits compared to the current approach of using `console.log` for output.
- Intent is clear, `console.log` is often used to debugging, may not be clear it's actual output from CLI
- Easier to turn on/off if we want to add a --quiet flag that only outputs some things
- Abstract away the logging from the CLI itself
- Easier to build

[2016-09-15 13:12] VictorBjelkholm commented on #229
Why can't we not remove the lock file on crash/close? And the only thing the daemon has to check, is if the file is there or not.

[2016-09-15 15:44] diasdavid commented on #495
👍 for having the ability to turn on/off.

Since we use `debug` for dev logs (log and log.err), let's call the 'logger' that prints info to the user some other thing. Maybe 'printer'?

[2016-09-15 16:18] diasdavid commented on #229
@VictorBjelkholm it gets removed on `close`, how can you assure that it gets removed on crash?

[2016-09-15 16:20] dignifiedquire commented on #229
Does not work, as it misses the actual important syscall config we need :(

I found https://crates.io/crates/fs2 which is supposed to work on windows as well as on nix systems so I'm looking into creating a small wrapper around it for js.

[2016-09-15 16:22] diasdavid commented on #455
💯  yes, let's get the `ipfs-whatever` benchmarks in :)

[2016-09-15 16:23] dignifiedquire commented on #455
@diasdavid PR already exists here : #488

[2016-09-15 16:24] dignifiedquire commented on #495
`printer` sounds good, and the method should be called `print` :)

[2016-09-15 16:50] VictorBjelkholm commented on #229
@diasdavid by leveraging domains/cluster, which is basically what they are meant for, we can isolate the main process and listen for shutdowns/exists and clean up properly.

[2016-09-15 16:52] dignifiedquire commented on #229
This does not help at all with things like power loss. Also it's a massive overhead of running two v8 processes just for simple monitoring purposes.

[2016-09-15 18:33] #439 closed

[2016-09-15 18:58] diasdavid commented on #229
@VictorBjelkholm also, Domains and Cluster are modules that historically have been a source of issues in Node.js land, so much that they were considered to be removed from core several times. And even with that, it would not save us from problems that are beyond the OS level (machine being shutdown, kernel panic, etc). Checking the API file and testing if the API is running is also how go-ipfs doe

[2016-09-15 19:04] dignifiedquire commented on #229
@diasdavid not entirely see my comment for what actually happens in go: https://github.com/ipfs/js-ipfs/issues/229#issuecomment-247306857

[2016-09-15 19:08] diasdavid commented on #229
@dignifiedquire go does:

- 1) check for API file
- 2) If it exists, tries to dial to that daemon
- 3) If there is no daemon running on that port, spawns a new daemon
- 4) connects to the new daemon

//cc @whyrusleeping

[2016-09-15 19:10] dignifiedquire commented on #229
yes but the locking of the repo has nothing to do with the api file. It purely happens through repo.lock as described above

[2016-09-15 19:42] diasdavid commented on #229
ah yes, there are two files, one for the lock, one for the api (where it is listening), the process that owns the API should also own the lock.

[2016-09-15 20:25] Kubuxu commented on #229
@VictorBjelkholm There is a reason why Unix has its own lock function/syscall. If you lock using the dedicated subroutine the lock will be released automatically when process exits, thus preventing stale lock.

Locking by creating file with PID, as done quite frequently, has been proven error full because of PID reuse. It might happen that process crashes, its PID is reused and the lock is conside

[2016-09-15 22:55] diasdavid opened #497 "jsipfs doesn't work outside of its repo folder"
This is due to the code to check the latest version, which assumes it is being run within that folder https://github.com/ipfs/js-ipfs/blob/master/src/cli/bin.js#L9-L13

This bug was introduced with `yargs`

error:

[code]

[2016-09-15 22:58] dignifiedquire commented on #497
how are you executing? through a global install?

[2016-09-15 23:01] diasdavid opened #498 "bitswap is 'requesting one block at a time'"
In an experiment to fetch orbit (700Mb), js-ipfs hung at 650KiB, checking bitswap wantlist showed that bitswap is only requesting a block at a time.

![image](https://cloud.githubusercontent.com/assets/1211152/18570253/5fc48fe0-7b76-11e6-8446-0585f8019117.png)

[2016-09-15 23:09] diasdavid commented on #497
`npm link`

[2016-09-16 09:27] dignifiedquire commented on #498
Working on this, including some fixes need to be made to `files.get`

[2016-09-16 16:23] dignifiedquire commented on #498
Short update while I am head down in this:

- Parallelised the block requests in ipfs-unixfs-engine, fixing the original issue mentioned here, that only a single block would be requested at once.
- While testing found a bug in js-ipfs-api, for `get` which resulted in not properly handling more than one or two files. I was able to fix this as well.
- Fixed the code in `cli/commands/files/get.js` to

[2016-09-16 17:51] ProgVal opened #500 "Cannot install: “Permission denied (publickey).” and other errors"
[code]

[npm-debug.log](https://github.com/ipfs/js-ipfs/files/477406/npm-debug.log.txt)

[2016-09-16 18:09] VictorBjelkholm commented on #500
Seems like you're using a very old version of npm. Could you try again with
npm@3?

`npm install -g npm` should do it

On Fri, Sep 16, 2016, 19:51 Valentin Lorentz <notifications@github.com>
wrote:

[2016-09-16 18:40] ProgVal commented on #500
It worked.

[2016-09-16 18:40] #500 closed

[2016-09-21 13:19] dignifiedquire commented on #498
Found some more details.

- Sometimes js-ipfs will request a hash from go-ipfs that go-ipfs does not know about, even though the whole requested object was added on go-ipfs, so where are those coming from?

[2016-09-21 13:35] dignifiedquire commented on #498
Most of the time, it will just stop, with one or two entries in the wantlist and never receive them from go-ipfs, even though the entry is in the wantlist from go

[2016-09-21 22:39] dignifiedquire commented on #398
I did some more investigation, and it looks like rollup has quite the large savings for us. I generated a bundle which transforms commonjs to es6 modules and then uses rollbar and got the unminified size down from `3.4M` to `2.4M`.

[2016-09-22 16:59] dignifiedquire commented on #229
I finally found a solution to do `fcntl` based locking for `repo.lock` that does the exact same thing as go-ipfs so it will integrate cleanly. I hope to have a PR for this up this week.

[2016-09-23 12:05] #497 closed

[2016-09-24 21:04] tarunbatra commented on #495
or maybe different methods, like `info`, `error` to log messages of corresponding type.

[2016-09-24 21:09] VictorBjelkholm commented on #495
@dignifiedquire agree that it should just be `print`, probably no need for many functions, just one called `print` and that would be about it.

@tarunbatra this is about printing output to the console and not logging things that can be controlled by for example log-level and such.

[2016-09-25 01:05] diasdavid commented on #495
@tarunbatra for log messages we use `debug`

[2016-09-26 09:40] diasdavid commented on #300
@whyrusleeping see: https://github.com/ipfs/js-ipfs/issues/300#issuecomment-241256740

[2016-09-26 09:41] diasdavid commented on #286
Done in https://github.com/ipfs/js-ipfs/pull/475

[2016-09-26 09:41] #286 closed

[2016-09-26 09:43] diasdavid commented on #92
We are just missing the `disconnect` \o/, which is already implemented through the http-api and in core, so this should a very quick thing to implement.

https://github.com/ipfs/js-ipfs/blob/master/src/cli/commands/swarm/disconnect.js

[2016-09-26 09:52] diasdavid opened #505 "Interop tests with go-ipfs"
Following https://github.com/ipfs/js-ipfs-bitswap/issues/13, we need to have in place interop tests with go that at least do:
- spawn a bunch of nodes
- test swarm
- test bitswap (with small and big files + nested directories)

We can use ipfsd-ctl to fetch go-ipfs and test it in CI. Note: we have to use go-ipfs master due to the changes in spdy that weren't yet released.

[2016-09-26 10:17] diasdavid commented on #229
@dignifiedquire this will only work when used with `fs` store, correct? What is the strategy for all the others?

[2016-09-26 10:33] diasdavid commented on #213
We can't drop the multiaddrs that we weren't able to listen into, since these multiaddrs might be valid only under certain networks, so the fact that I'm not listening in an addr now, might just mean that on the wifi network that I'm right now, that multiaddr doesn't work, but I might change networks (without closing my daemon) and then I want to listen on that multiaddr.

We need to upgrade peer-

[2016-09-26 13:48] dignifiedquire commented on #229
@diasdavid do we need this anywhere else? This only related to the http-api/cli as far as I understand

[2016-09-27 06:53] diasdavid commented on #229
That is indeed correct :)

[2016-09-29 10:27] dignifiedquire commented on #228
@diasdavid what's the actual plan of action here?

[2016-09-29 12:19] diasdavid commented on #228
@dignifiedquire Making sure that having both IPv6 and IPv4 addresses for the same port doesn't crash on Linux. To achieve this, what I've been think through is that, since this is a `net` module implementation detail, the libp2p-tcp transport instance should keep a tab of the listeners that it started, so that if it started a listener in IPv4 and then tries to start a listener in IPv6 on the same

[2016-09-29 16:31] dignifiedquire commented on #429
After more research I think I have to come to a better solution, that is less radical.

- Stay with CommonJS until ES Modules are supported in Node.js
- Stop transpiling, we are not supporting old browsers any way, if you look at https://kangax.github.io/compat-table/es6/ you can see that as long as we stay within the feature range of Node.js 6 we actually don't need to transpile and ship polyfill

[2016-09-29 16:35] dignifiedquire commented on #429
Also dropping Node 6 support, given that it is the new LTS version starting next month.

[2016-09-29 16:36] dignifiedquire commented on #429
Also I should mention, part of this effort will be ensuring `browserify`, `rollup` and `webpack@2` work out of the box, or with only a minimal configuration.

[2016-09-30 11:54] dignifiedquire commented on #229
Started implementation here: https://github.com/dignifiedquire/lock-me

[2016-09-30 14:15] dignifiedquire commented on #229
Just published: https://www.npmjs.com/package/lock-me which we now can use to do this :)

[2016-10-01 15:30] VictorBjelkholm commented on #213
would it make sense for the daemon to listen for network changes and try to
start listen to interfaces after start and print if it manages to connect
to a new interface?

*Victor Bjelkholm*
Software Engineer
Protocol Labs, Inc.
http://ipn.io | https://ipfs.io

On Mon, Sep 26, 2016 at 12:33 PM, David Dias <notifications@github.com>
wrote:

[2016-10-03 06:28] nikuda opened #509 "Getting js-ipfs to load in browser"
Issues I've found (so far) that prevent js-ipfs from loading in the browser.
1. `package.json` attribute `main` pointing to a non-existing path

   Fixed in https://github.com/ipfs/js-ipfs/pull/508
2. Use of `fs.readFileSync` with `.proto` files.

   Proposed solution https://github.com/ipfs/js-ipfs-merkle-dag/pull/50 would need to be applied to the following libraries:
   - ipfs-bitswap
   - ipfs

[2016-10-03 06:57] diasdavid commented on #509
Hi @nikuda thanks for digging deap into the roots of the problem, really nice sum up, looking forward to see you tinkering with the code too :D

Solved - https://github.com/ipfs/js-ipfs/pull/508

We are working on it, however there is one more change that needs to happen, which is changing libp2p-ipfs to libp2p-ipfs-browser, they offer the same API, but need to be replace for in browser used, this

[2016-10-03 09:37] nikuda commented on #509
Not a problem ☺️  @diasdavid

Are there any issues/PRs open that relate to changes that need to happen here?

Have you considered any alternatives? Maybe native browser WebCrypto API could do the job? https://diafygi.github.io/webcrypto-examples/

These two libraries also look good. They both seem to be under 10Kb minified which is a lot better than `node-forge` 100Kb+. The size of `js-ipfs` is a

[2016-10-03 09:42] diasdavid commented on #509
Are there any issues/PRs open that relate to changes that need to happen here?

That is just how it works, libp2p-ipfs is the libp2p build that has the transports for Node.js (TCP, WebSockets, UTP, libp2p-ipfs-browser is the build with the transports for Browser (WebRTC + WebSockets).

In the near future, Routing will be added (DHT) and that will behave interally different in the browser and in No

[2016-10-03 09:43] dignifiedquire commented on #509
@nikuda all of this work is pretty much done, it was one of the things I have been working on in the last weeks, see #485 for a list of PRs that
- do switch all crypto webcrypto in the browser where possible
- remove the use of `fs` in the browser
- use the `browser` field to map things like `libp2p-ipfs`t o `libp2p-ipfs-browser` in an independent way

[2016-10-03 10:32] nikuda commented on #509
Ah the ref to #485 was missing before. Thanks!

Great! 🏆 It seems libp2p/js-libp2p-crypto#10 has been supplanted by libp2p/js-libp2p-crypto#12 which most of the other PRs rely on. I noticed that the PR has the backlog tag, is there anything I can help with it to get it merged in sooner?

[2016-10-03 11:00] dignifiedquire commented on #509
The `backlog` currently just means that it is not part of a specific milestone. I am trying to get it merged as soon as possible, as it will be very painful to keep these PRs up to date across all the repos if too much happens.

If you want to help out, I've added a `TODO` list of things that need to be done at the top of https://github.com/ipfs/js-ipfs/pull/485. The current next step is to replac

[2016-10-03 11:00] dignifiedquire commented on #509
Yes, just updated the reference.

[2016-10-03 12:29] nikuda commented on #509
Seems easy enough https://github.com/libp2p/js-libp2p-crypto/compare/webcrypto...nikuda:webcrypto

Progress:

- [x] libp2p/js-libp2p-crypto

[2016-10-03 13:59] dignifiedquire commented on #509
Thanks @nikuda, most of these pull it in as an indirect dependency. I just updated the issue with a better overview table of ALL THE PRs 😉

[2016-10-04 12:19] haadcode opened #510 "Error: Cannot find module 'fs-pull-blob-store'"
[code]

js-ipfs version 0.16.0

A missing dep?

[2016-10-04 13:08] dignifiedquire commented on #510
Are you running in node or in the browser?

[2016-10-04 13:08] dignifiedquire commented on #510
The dependency is listed: https://github.com/ipfs/js-ipfs/blob/master/package.json#L70 so maybe forgot to install?

[2016-10-05 12:51] diasdavid commented on #510
@haadcode yeah, that sounds like npm has failed you. fresh install should solve your issue.

[2016-10-05 14:06] stuffyvater opened #512 "js-IPFS API stopped working'Access-Control-Allow-Origin' on code that was previously working"
Hi I'm working on a demo to show how users can share a file between each other with a smart contract using Ethereum, Meta Mask and IPFS. @miista and I are working on this and both had a stable version working before Devcon that
1. could create a contract,
2. whitelist stakeholders,
3.. send the hash of a file uploaded with the IPFS API to whitelisted stakeholders.
We ran into a bug in MetaMask and

[2016-10-06 00:43] nycoliver commented on #512
Did you try https://github.com/ipfs/js-ipfs-api#cors?

[2016-10-06 14:03] stuffyvater commented on #512
Hi. Thanks for answering:

ipfs config --json API.HTTPHeader.Access-Control-Allow-Origin "[\"http:localhost:3000/mm1.html\"]"
Error: Failed to get config value: API key has no attributes

[2016-10-06 15:25] stuffyvater commented on #512
i am running ver 0.3.12 and unable to update:

´Error: %!s(MISSING) not installed.´

[2016-10-06 15:55] lgierth commented on #512
@stuffyvater please update to v0.4.3 -- what you're running is ancient and hasn't been supported for half a year.

[2016-10-06 15:56] lgierth commented on #512
This error is likely because v0.3.12 didn't have the `ipfs config` command or so.

[2016-10-06 15:56] dignifiedquire commented on #512
@stuffyvater also make sure to use the latest version of js-ipfs-api.

[2016-10-06 15:57] stuffyvater commented on #512
hi thanks for the answers. If i cannot use the ipfs update cl how do i then update (sorry if this is a stupid question I am not experienced with linux, but am using it because it makes everything else easier :-)

[2016-10-06 16:56] Kubuxu commented on #512
You can download binary distribution at https://dist.ipfs.io/#go-ipfs

[2016-10-06 21:08] stuffyvater commented on #512
It works! despite being old
 ipfs config --json API.HTTPHeaders.Access-Control-Allow-Origin '["http://localhost:3000"]'
First answer was right.. I didn't have the access control set properly.. Being dumb sure is hard work! Thank you for all your help :-) !

[2016-10-06 21:08] #512 closed

[2016-10-07 00:44] compsocial opened #513 "Opening sequence in node or browser?"
I'm just getting started and I apologize for the beginner's question: What sequence of steps is necessary to get a functional ipfs instance running in Node and/or (but hopefully and) the browser? I can do the following:

var IPFS = require('ipfs')
var node = new IPFS()

as in README, but after that ... I'm not sure. I've been reading through the Orbit code, but from what I can tell it's connecting

[2016-10-07 17:42] compsocial commented on #510
Fwiw, I got this same error (along with 3 other missing dependencies I resolved manually) during a clean install yesterday.

[2016-10-07 20:36] bddap commented on #510
The current release on npm is v0.16.0. In 0.16.0 fs-pull-blob-store is under devDependencies instead of dependencies. [v0.16.0/package.json#L48](https://github.com/ipfs/js-ipfs/blob/a07f16e3b09001d3a88b4b78b9dcab0d5826abb4/package.json#L48)

`npm install ipfs fs-pull-blob-store`

[2016-10-10 04:34] diasdavid commented on #510
Apologies about that, it was indeed fixed but never released. Just released 0.17 :)

[2016-10-10 04:34] #510 closed

[2016-10-12 03:59] interfect opened #515 "Force option to init not respected"
I'm passing `{force: true}` in the `options` for the `init` method on the `IPFS` class, and it's still complaining that the repo already exists.

It looks like [the force option isn't actually checked](https://github.com/ipfs/js-ipfs/blob/a07f16e3b09001d3a88b4b78b9dcab0d5826abb4/src/core/components/init.js#L38) despite it being [passed in from the front end](https://github.com/ipfs/js-ipfs/blob/a0

[2016-10-12 04:03] interfect commented on #513
In Node at least it looks like you can crib some initialization from https://github.com/ipfs/js-ipfs/blob/c8dbf6ba16017103b29589bb6d4173f954b4325f/src/http-api/index.js where an IPFS node gets set up as part of the HTTP API setup.

[2016-10-17 02:26] interfect opened #523 "feat: expose Buffer on the dist version"
According to [the API spec](https://github.com/ipfs/interface-ipfs-core/tree/master/API/files#javascript---ipfsfilesadddata-callback), you're supposed to pass a node `Buffer`, a node `Readable` stream, or an object containing one of those to the `ipfs.files.add` method. However, this project advertises the ability to use the implementation by including a `<script>` tag:

[code]

If you do include

[2016-10-17 02:33] diasdavid commented on #523
@interfect fair point. Would you like to submit a PR that exposes Buffer under `ipfs.Buffer`, so that it doesn't force users to bundle Buffer as a separate blob?

[2016-10-18 08:59] hsanjuan opened #526 "[Linux] jsipfs tool throws error: Error: Cannot find module 'lodash.isfunction'"
This is a clean install from npm:

[code]

[2016-10-18 15:04] haadcode opened #528 "UpgradeError Dexie specification of currently installed DB version is missing"
Hit a blocker while trying to get js-ipfs running with orbit-db.

I initialize the daemon with:

[code]

Then run my code through webpack and load in the browser. The following error occurs:

[code]

Is my initialization code correct? Is there something else to get a running daemon? I tried to look at the tests but couldn't figure out what to do.

[2016-10-18 16:20] VictorBjelkholm commented on #526
Could you share the output of running `npm version`?

[2016-10-18 17:00] SidHarder commented on #228
I thought I would tackle this issue but I am unable to reproduce the problem.  I'm running on a MAC with the following config:

"Addresses": {
    "Swarm": [
      "/ip4/0.0.0.0/tcp/4001",
      "/ip6/::/tcp/4001"
    ],
    "API": "/ip4/127.0.0.1/tcp/5001",
    "Gateway": "/ip4/127.0.0.1/tcp/8080"
  },

I start the daemon with the following code:

var IPFS = require ('../../git/js-ipfs/src/index.

[2016-10-18 17:04] VictorBjelkholm commented on #228
@SidHarder seems the problem only affects Linux. Maybe you could try it in a VM or in a Docker container based on some Linux dist?

[2016-10-18 18:59] hsanjuan commented on #526
My bad. npm package version != npm version in OpenSUSE. Works now. Thanks.

[2016-10-18 18:59] #526 closed

[2016-10-20 08:18] haadcode commented on #528
Ok, got somewhere with this. Apparently this happens when the daemon is not initialized "correctly". If I init with the following, it works fine:
[code]

The question is, @diasdavid and @dignifiedquire, is this the intended API and usage for the startup sequence? There's a lot there that the user has to know / setup and imo can be improved a lot to make it easier an more intuitive to use. If not,

[2016-10-20 10:37] haadcode opened #530 "FloodSub API discussion"
js-ipfs should expose the (IPFS) pubsub API.

# API

***UPDATED on 10th November 2016 by @haadcode***

## Subscribe

### ipfs.pubsub.subscribe(topic, options, callback)

`topic` is type of string.

*In the future, `topic` can also be type of `TopicDescriptor` (https://github.com/libp2p/pubsub-notes/blob/master/flooding/flooding.proto#L23). However, for now, only strings are supported.*

`options`

[2016-10-20 12:19] diasdavid commented on #530
This is DHT, it won't be able to perform this feature.

Why Node.js stream? We already have pull-streams everywhere.

Also, if a data event is a message, then it should be an Object Stream, not just a regular stream, otherwise what you get won't always be a message.

It is also important to say how to cancel a subscription in this model.

[2016-10-20 12:29] diasdavid commented on #528
This hasn't changed since April or May, you have to `1 init`, then `2 load`, then `3 go online`, see: https://github.com/ipfs/js-ipfs/blob/master/test/utils/factory-core/index.js#L72-L96

[2016-10-20 14:25] haadcode commented on #530
I disagree. We currently don't support any of the properties Topic Descriptor gives us. A string is what we have for go-ipfs and we should have the same api for both in order to avoid the mess we had previously due to different APIs.

So "no" is what you mean?

We *don't* have pull-streams on the public API as far as I can tell. For example, files.cat() returns a node stream, not pull-stream https

[2016-10-20 14:26] haadcode commented on #528
So, are you saying this is intended final design for getting a daemon in js-ipfs and as far as you plan, there are no changes coming?

[2016-10-20 14:44] pelle commented on #429
@dignifiedquire I would like to recommend that you continue transpiring it. The most important browsers that would need it are mobile browsers. You could create 2 different versions though.

Since before Devcon2 I've been busy working on other things, but I'm going to start reviewing this again to see if we can start using the ipfs-js libraries in our browser/RN code for uPort.

The largest proble

[2016-10-20 15:03] diasdavid commented on #528
@haadcode ah, not that, what was was trying to convey is that the code you had written for orbit with js-ipfs in June, should still apply when it comes to spawning a daemon, that is all. We need to improve that. I want to have just a function call with an options object {online: bool}.

In another news, just got the exact error, without touching master, on js-ipfs-bitswap

[code]

[2016-10-20 15:23] diasdavid commented on #528
@haadcode found the problem. tl;dr; Dixie (the wrapper used in idb-pull-blob-store) doesn't like anymore that we create instances with the same key. It is a 'feature' that is enforced in order to promote migrations to happen (more here https://github.com/dfahlander/Dexie.js/issues/156)

A way to solve it, is just to add a bit of randomness to the repo path. However, this is not ideal, as users of

[2016-10-20 15:29] diasdavid commented on #528
Another note: I noticed this on js-ipfs-bitswap tests because they always use the same key for repo, tests in js-ipfs are fine because they already had a bit of randomness

[2016-10-20 16:57] dignifiedquire commented on #429
@pelle in what situations would you use our transpiled version over a bundle that you would generate yourself and transpile?

[2016-10-20 19:54] pelle commented on #429
The only function of a minimized dist file is for them to be included directly on a web page. Ideally you would CDN them somewhere.

Large dependencies in production web apps will often be loaded separately to allow them to be cached by the browser and not reloaded if a minor app change happens.

For the case of bundling them myself I don't need the dist files. I'll require the dependencies as the

[2016-10-20 20:27] dignifiedquire commented on #429
right but if you do seperate bundles in production you really need to generate them yourself. The current use case why we provide the dist files is for quick start and demos, both of which are usually not too concerned with strict broser compat. So I still think we should stop providing transpilled builds and only provide imple receipes to get a transpilliatiom pipeline setup for those that need o

[2016-10-20 21:46] pelle commented on #429
If thats the only use case then thats fine though. I'm much more concerned with lowering the size of dependences on.

[2016-10-21 15:12] SidHarder commented on #228
@diasdavid  I was able to reproduce this problem on an Ubuntu server.  One solution that I implemented that seems to work was to add a distinctMultiaddr method to the peerInfo object which creates a new array of multiaddrs that doesn't contain any duplicate IP/Ports.  I then called this method in the transport object when it's time to build the multiaddrs array just before the createListeners meth

[2016-10-21 15:45] heavyk opened #533 "monorepo?"
as I've begun to use js-ipfs more and more, one of the majorly annoying things is how many different repos there are. I understand that it's good to separate things out to remove duplication and stuff (you don't have to sell me on the advantages of having a module that does only one thing and does it well -- I'm already convinced of this) however, much like babel, there is so much interconnectedne

[2016-10-21 16:00] VictorBjelkholm commented on #533
Thanks for the feedback! It has come up before, so it'll be good if we continue the discussion over here: https://github.com/ipfs/community/issues/174

[2016-10-21 16:00] #533 closed

[2016-10-21 20:07] heavyk commented on #533
ah! my apologies! I didn't know it'd come up before...

dang, well it'd be cool if github could search for issues in all related repos as well. :/ lol

[2016-10-23 17:40] dignifiedquire commented on #429
First set of changes is up here: https://github.com/dignifiedquire/aegir/pull/65 I will use this as a baseline to make sure that modules are being built and working with a minimal config of just using babel + json loader in webpack. Which translates to babelify + browserify with no default config.

[2016-10-23 18:36] phil-r opened #535 "Non-base58 character when trying to do `jsipfs files cat`"
Hi!
I've decided to try out the project and ran the following code:

[code]

That generated the following output:

[code]

After that I tried to run

[code]

and got the following error:

[code]

Am I doing something wrong?

[2016-10-23 18:53] phil-r commented on #535
Running
`ipfs cat /ipfs/QmegvLXxpVKiZ4b57Xs1syfBVRd8CbucVHAp7KpLQdGieC/readme`
gives
`Error: ipfs repo needs migration.`

[2016-10-24 10:47] diasdavid commented on #228
@SidHarder it sounds that what you build is what we need, just a couple of questions:

- Does your distinct multiaddrs favour IPV6 or IPV4? I'm actually not 100% sure if Node.js favours one or the other (I do know that listening on IPV4 will also make it listen on IPV6, but not sure if the reverse happens)
- Are you filtering for all the transports? As far as we know, this only happens for the TCP

[2016-10-24 11:41] diasdavid commented on #398
Let's continue this discussion on https://github.com/ipfs/js-ipfs/issues/429

[2016-10-24 11:41] #398 closed

[2016-10-24 11:45] diasdavid opened #536 "runtime support (Browser, Node.js versions)"
We've been discussing which browser versions to support, what that means to our users (more browser reach, more shims, less performance, less productivity due to high maintenance cost, but also 'more' usage) and how to achieve that.

Currently, we have a set up of providing ES5 transpiled versions of our codebase, we run tests in Chrome, Firefox and PhantomJS (for ES5 tests), however, the tests th

[2016-10-24 12:14] dignifiedquire commented on #536
Our current code base is fully compatible with Node.js 4 (as all tests are run without transpilation). So as implemented in https://github.com/dignifiedquire/aegir/pull/65 I am strongly in favour of dropping transpillation into `lib` for Node.js and pointing all `main` to `src/index.js`.

[2016-10-24 12:16] dignifiedquire commented on #536
A first pass of adding Sauce Labs tests was done in https://github.com/dignifiedquire/aegir/pull/65 this will allow us to define a set of browsers we want to support and properly test against them.

We should really drop PhantomJS, as we have to stop running tests on it with all webcrypto modules + it really doesn't give us much benefit at this point

[2016-10-24 12:17] dignifiedquire commented on #536
👍

[2016-10-24 12:18] dignifiedquire commented on #536
Ref: https://github.com/ipfs/js-ipfs/issues/429 in which some of these things have been discussed

[2016-10-24 13:47] diasdavid commented on #536
Candidate updates on aegir - https://github.com/dignifiedquire/aegir/pull/65

[2016-10-25 14:29] dignifiedquire opened #541 "fix build on nodejs stable - update hapi when it is released"
`os.tmpDir` was deprecated in favor of `os.tmpdir`, resulting in failing tests on CI as we are checking  against console output in our tests.

see https://travis-ci.org/ipfs/js-ipfs/jobs/170467892

[2016-10-25 16:22] VictorBjelkholm commented on #541
Not sure a deprecation warning should break are tests here, but I do agree we should change it.

The error is a bit weird though.

```AssertionError: expected '(node:3832) DeprecationWarning: os.tmpDir() is deprecated. Use os.tmpdir() instead.' to deeply equal ''```

Why would we check that the output is "deeply equal" to empty string? Not sure if it's the test cases that are bad, or just printing

[2016-10-25 16:39] dignifiedquire commented on #541
@VictorBjelkholm the checks do make sense as it is testing the cli interface and checking stdout is the way to do it. Similar many of the sharness tests will run into this.

[2016-10-25 16:45] diasdavid commented on #536
@ipfs/js-ipfs any comments?

To sum up, this means:
- Support from Node.js 4 LTS onwards
- (including the Async Crypto PR) support by default to Chrome, Firefox and Mobile Chrome, which the option of making the remaining available with some crypto shims, which need to be added as an extra.
- No more PhantomJS
- No more transpiled versions

[2016-10-25 16:45] VictorBjelkholm commented on #541
@dignifiedquire checking that there is no output doesn't feel like a very stable way of testing a CLI. Maybe we could turn on verbose/debug output and make assertions on that?

[2016-10-25 16:58] dignifiedquire commented on #536
According to https://nodejs.org/en/ 6 is already the official LTS version

[2016-10-25 18:04] SidHarder commented on #228
@diasdavid The distinctMultiaddrs method doesn't favor either ipv4 or ipv6, it simply keeps the first equivalent IP and port and ignores any subsequent with same IP/Port.  So the addresses that will be listened on can be modified by changing the order of addresses in the config file.  I'm afraid I don't know how Node favors IPV4 vs IPV6.

I'm not sure how to answer the question "Are you filtering

[2016-10-25 18:44] diasdavid commented on #541
@VictorBjelkholm the other we test it is with sharness, any other way you would recommend?

[2016-10-25 19:03] Kubuxu commented on #228
I haven't read full thread here but here is how IPv6 sockets work on linux:

When you call open on a IPv6 socket fd with address: localhost, anybind or special addresses that is mapping IPv4 space to IPv6 it will open both IPv4 and v6 endpoints in kernel.

There is special flag (IPV6_V6ONLY ) for socket syscall that blocks binding IPv4 address when socket with corresponding IPv6 address is bound.

[2016-10-29 21:33] diasdavid opened #556 "Improving init (aka, how do I get a js-ipfs node instance!)"
There has been a lot of feedback when it comes to the API for creating an IPFS node instance, some feedback from myself included. It is true, the process is a bit cumbersome, instead of having something beautiful as

[code]

We have:

[code]

Yes, it is not nice, but why is it this way right now? **Why can't it be `sync`**, well for some reasons:
- `init` needs to get the repo started if it doesn'

[2016-10-29 23:02] dignifiedquire commented on #556
I have seen apis where it is done in this way:

[code]

These event listeners could also be attached through options for convenience similar to nodes http server

[code]

[2016-10-30 11:51] diasdavid commented on #556
exactly @dignifiedquire, that goes along the lines of what I was thinking with Option 1 + ready event, it feels like something familiar (like a TCP listener or a HTTP server in Node.js)

[2016-10-30 13:11] haadcode commented on #556
👍 for the events pattern. This would allow us to have more granular events to the state if needed, like `connected` etc. Another plus side is that if we do this, we can have *the same API* for js-ipfsd-ctl (which I wrapped in ipfs-daemon module) and allows to converge the native vs. browser "give me daemon" libs, and use the "browser" field in package.json to decide separate the two.

I really thi

[2016-10-30 15:48] diasdavid commented on #556
Oh nice @haadcode! I was not even thinking that we could do that too. I'm getting even more excited :D

[2016-10-30 17:52] diasdavid opened #557 "Exposed Interfaces (Callbacks & Promises, node.js streams and pull-streams)"
This issue serves the purpose of continuing a conversation that several people have been having in different occasions, while opening so that anyone in the community can join.
### Promises and Callbacks

Some time ago, we made the decision with the community involved to expose a Promises API at the top level of the JavaScript implementations of IPFS, more precisely: `js-ipfs` and `js-ipfs-api`

Di

[2016-10-30 18:15] diasdavid commented on #541
I'm trying to see where the `os.tmpdir` is being called? But the [Silver Searcher](http://geoff.greer.fm/ag/) is not [saving this world from getting devoured](https://en.wikipedia.org/wiki/Silver_Surfer)

[2016-10-30 18:22] diasdavid commented on #478
How is this one going?

[2016-10-30 18:36] diasdavid commented on #93
Hey @upfs how has it been? Have you tried this again?

[2016-10-30 19:14] upfs commented on #93
@diasdavid sorry for droppping of the earth like this, we were really hot about js-ipfs and since it wasn't quite ready we somewhat moved on, I'll carve out some time soon and give it another whirl, thanks for being on top of this. Is there an easy getting started guide now so I don't need to dig through the sources? :-)

[2016-10-31 08:50] dignifiedquire commented on #541
Fixed but not released in hapijs: https://github.com/hapijs/hapi/pull/3368

[2016-10-31 15:14] RichardLitt commented on #556
For the README, the rule of don't use too many inline comments because it messes up how easy it is to work on the code doesn't apply. It might be a good idea to have some of the comments you have above inlined in the code example; that way, people can look at the internal functions and understand what each step is doing.

[2016-10-31 15:27] RichardLitt commented on #557
Thanks, @diasdavid! It's a bit hard for me to follow the flow of your discussion above. How would namespacing the various normal methods with `pull*` help with Promises and Callbacks? Are you suggesting we get rid of the wrapped Promises? How is Async/Await part of the picture?

[2016-10-31 15:34] diasdavid commented on #557
Oh, I should have made it more clear that these are pretty much 3 different discussions, but all part of the "exposed interfaces". So, answering your questions;

Here, it would only mean that the Stream returned by the method is a pull-stream instead of a Node.js stream.

Today we have something like ipfs.files.createAddStream, which will have its pull counterpart ipfs.files.pullCreateAddStream

I

[2016-10-31 17:24] VictorBjelkholm commented on #478
@diasdavid I remember it was mentioned that this was only written (the `resolve`) but I cannot find out where to integrate it, any ideas?

[2016-10-31 18:30] diasdavid commented on #478
You get the resolve from IPLD resolver, but you also have to integrate it on unixfs-engine, a IPLD Path only goes to the "root dag node of the file", then you have to fetch the leafs

[2016-10-31 23:48] RichardLitt commented on #557
Why not split these into three separate issues? Issues are cheap! And it would allow people to subscribe to the Async/Await thread, and to point to it, without conflating with other discussion.

Would a user still be able to request that a Node.js stream be returned? If not, I don't think this naming is useful. If there is a mix of streams returns, it certainly is, however.

Being conscious is goo

[2016-11-01 11:47] haadcode commented on #530
Sorry @diasdavid I was a bit too blunt on my disagreement on the Topic Descriptor vs string issue. What I meant was that, as it currently stands, we don't have Topic Descriptors anywhere, so what we should do is to make sure we can a) use the current implementation as soon as possible and b) be future-ready. Both in mind, we should have the topic name as a string for now and in future support Topi

[2016-11-01 11:48] haadcode commented on #530
Where are we with the naming regards to pubsub vs. floodsub? I remember @diasdavid proposed to name it floodsub instead pubsub in order to avoid future problems. @diasdavid can you provide some more info what the reasoning behind it is? Are we going to provide *multiple* pubsub mechanisms in one library?

[2016-11-01 11:51] haadcode commented on #556
@diasdavid @dignifiedquire I would like to work on this in the next couple of weeks (unless someone else has the time earlier) and come up with a module that does what has been discussed above?

I'm thinking we can wrap this into a module that can return either js-ipfs daemon or js-ipfs-api daemon. I already have `ipfs-daemon` module that does this for js-ipfs-api, would you be ok using that as th

[2016-11-01 11:57] dignifiedquire commented on #556
@haadcode I'm not sure we want this in another module, I'd rather have ipfsd-ctl and js-ipfs  natively supporting this same api, with a shared test suite maybe. And then you install the one you  need.

[2016-11-01 11:59] diasdavid commented on #556
@haadcode you are welcome to take the lead, but it is better to converge efforts, currently we have:

- https://github.com/diasdavid/go-ipfs-dep
- https://github.com/ipfs/npm-go-ipfs
- https://github.com/ipfs/js-ipfsd-ctl

Which, IMHO, should just be one module that offers the same API that js-ipfs has to create an instance. Also, IMHO I would converge them all to `js-ipfd-ctl`, instead of creatin

[2016-11-01 12:00] haadcode commented on #267
Since we moved to async functions for the DAGNode properties, I don't think this makes sense anymore.

We can re-open this issue if we ever move back to sync properties.

Closing.

[2016-11-01 12:00] #267 closed

[2016-11-01 12:03] haadcode commented on #536
SGTM

[2016-11-01 12:47] haadcode commented on #556
`IPFS Factory` does exactly the same for js-ipfs as `ipfs-daemon` does for js-ipfs-api. I would much rather have one module that works for both (Node.js and Browser), as opposed to having to choose which module to install (though, I'm not 100% sure if this works the way I imagine it to work).

I'll play around with this and see how it could work nicely.

[2016-11-01 13:31] diasdavid commented on #556
`IPFS Factory` also exists for js-ipfs-api and it has a feature that a browser can spawn a go-ipfs daemon too by calling to the IPFS Factory API, without having to change a line in the code :)

[2016-11-01 13:35] haadcode commented on #556
(that's a good feature to have)

Let's wrap that into a module then and go from there?

[2016-11-01 13:37] haadcode commented on #556
Does IPFS Factory support non-disposable daemons now? Last time I checked it, it didn't.

[2016-11-01 15:23] daviddias opened #2882 "The `dag` API - One API to manipulate all the IPLD Format objects"
Currently, `go-ipfs master` ships with a `dag` API that offers `get` and `put` methods, it doesn't expose yet a `dag resolve` API.

For reference, here are the help texts:

[code]

[code]

[code]

While, in `js-ipfs`, we have a pretty much straight out copy of this API, defined as an interface at: https://github.com/ipfs/interface-ipfs-core/tree/master/API/dag and an `resolve` API exposed by the I

[2016-11-07 12:02] VictorBjelkholm commented on #557
### Promises and Callbacks

Yeah, after further thinking, I think we're not getting much benefit exposing both of the interfaces. It's hurting us in the way that we have to maintain two different interfaces while really only advocating for one of them. It would be easier for us to just support callbacks and let developers who want to use promises *promisify* their own things if needed.

### Node.j