[2018-03-21 05:28] mitra42 commented on #1131
9MB is the whole library - including IPFS, and all our code and all the modules it needs, with one unminifiable module (IPFS), I can't minify any of it, but if its being worked on we can wait.

[2018-03-21 12:08] fsdiogo commented on #1180
I'm taking a look at this issue too, but I'm not sure if I'm taking the right path.

https://github.com/ipfs/js-ipfs/blob/c1e8db10fd98f05da9b21c8f6547548a4785af40/src/core/boot.js#L39-L49

We could replace the line 48 with the following code to get the same behaviour of `go-ipfs`:
[code]

But I don't know if this should be in `core/boot` or a CLI only fix.

Any thoughts, @diasdavid @JonKrone?

[2018-03-21 12:17] VictorBjelkholm commented on #1180
@fsdiogo we should never do `process.exit` as it might exit the process for the user when they want to handle the error and doing something else.

The right implementation would be to know which commands needs to have a repository initialized before executing (not all commands needs a repository to work). For those commands, it should check the repository before running and if not initialized, ret

[2018-03-21 14:26] fsdiogo commented on #1180
@VictorBjelkholm makes sense. That's why it didn't feel right doing that there.

But then it should be implemented both in the core and the CLI right? Abstracted and shared by both.

[2018-03-21 14:48] diasdavid commented on #1180
@fsdiogo the `core` is the module that either goes into the browser or it is used inside a daemon. It should avoid doing things like writing to stdout directly or exiting the process as @VictorBjelkholm pointed out. Instead, it should return proper errors.

For the issue @vmx reported, the check can happen all in CLI, from within this func https://github.com/ipfs/js-ipfs/blob/master/src/cli/utils.

[2018-03-21 15:32] VictorBjelkholm commented on #1180
Hm, then when you don't use the CLI (in browser for example), you won't get the error even if it's appropriate. I would say the error needs to come from core as a "repo not initialized" error, then printed in the CLI. The check should not just be in the CLI though, as if you don't use the CLI, you get the cryptic `Cannot read property 'put' of undefined` error that is mentioned here.

[2018-03-21 18:05] bvand commented on #1213
@vmx I created https://github.com/ipfs/js-ipfs/pull/1274, which just logs the help message before the yargs output. Are there any other commands the help message should happen for? e.g. should it show up when just running
[code]
on its own?

[2018-03-21 23:41] jacobheun commented on #1229
Created a PR to add CID instances to the SPEC: ipfs/interface-ipfs-core#243
PR for the functionality to the api: ipfs/js-ipfs-api#721
PR for the functionality here: #1275

[2018-03-22 16:09] fsdiogo commented on #938
I've [published a module](https://github.com/moxystudio/js-is-class-decorator) to abstract the solution proposed by @pgte.

I'll begin applying it in some modules.

[2018-03-22 19:29] Mr0grog commented on #938
It might be nice to also add support for `Symbol.toStringTag` as well.

I think the `isWhatever()` method is what you want most of the time (since it incorporates the idea of inheritance), but being able to get the actual, concrete type name for an object would be good, too. It also gets surfaced in nice ways in most JS debuggers.

[2018-03-23 15:37] fsdiogo commented on #938
Thanks for the suggestion @Mr0grog, I've release a new version with support for `Symbol.toStringTag`.

[2018-03-23 18:36] jacobheun opened #1277 "libp2p-multiplex is deprecated, use libp2p-mplex instead"
Running `npm i ipfs` results in a warning for the deprecated libp2p-multiplex module

[code]

We should update dependencies to libp2p-mplex

[2018-03-23 22:57] daviddias opened #1279 "ipfs.get is not working with sharded directories"
- **Version**: 0.28.2
- **Platform**: Mac OS X
- **Subsystem**: unixfs-engine

#### Type: Bug

#### Severity: High

#### Description:

When fetching a directory using ipfs.get (or jsipfs get), it fails with the following error:

[code]

#### Steps to reproduce the error:

[code]

[2018-03-23 22:57] diasdavid commented on #1279
go-ipfs has the same issue -- https://github.com/ipfs/go-ipfs/issues/4871 --. For some reason this went uncaught for a while.

[2018-03-23 23:01] kyledrake commented on #1258
This I believe is related to the urlstore code not currently renewing DHT provides automaticaly, so we're working on adding this functionality through a different process for the root CIDs.

[2018-03-24 19:00] #1277 closed

[2018-03-25 04:09] musicsmithnz commented on #1178
I am quite interested in this feature, as it allows to use the human readable filenames and also to have the filename extension which is useful for [browsers?] recognizing the mime type.

[2018-03-25 04:29] musicsmithnz commented on #1269
@Willzyc

Have you managed to solve your problem yet?
You can go here to download a daemon [ipfs daemon install](https://dist.ipfs.io/#go-ipfs)

then

${package_name} be the name of the package you download, which will depend on your architecture: the 32 or 64 bit version.
`init` sets up a place to store the files received by the API daemon.
`ipfs config Addresses.API /ip4/0.0.0.0/tcp/5002` makes

[2018-03-25 05:36] maybeuright commented on #1228
Cool

[2018-03-26 05:52] diasdavid commented on #1179
# Weekly Sync Up March 26, Monday 6pm UTC

If you are new to this call and how the js-ipfs project is organized, please see the [recording from the first call](https://youtu.be/F0wEg6ZQB34) to learn how we use the waffle board.

- Zoom: https://protocol.zoom.us/j/219270872
- Notes: https://cryptpad.fr/code/#/1/edit/e7RWjGDfsmopDOxRcEjp6Q/iRsQtUFKXZMK-lK5KXprPQzu/

**Recording:** To be uploaded aft

[2018-03-26 11:03] vmx commented on #1213
@bvand I think having it in `init` is enough. It also matches what go-ipfs is doing.

[2018-03-27 09:28] moda20 opened #1282 "Storing Uint8Array data to IPFS changes data when getting the same data"
- **Version**: 0.27.7
- **Platform**: Linux
- **Subsystem**: Archlinux Zen Kernel

#### Type:
Problem

#### Severity:
High
#### Description:
I am trying to store an image to IPFS from my nodejs Server, The image is represented with an Uint8Array sent from my angular5 Client so basically :
WebClient (angular5) => NodeJs(Express) => IPFS node

When sending data form my web client i can see that i am

[2018-03-27 14:43] diasdavid opened #1283 "Add support for Rabin fingerprinting to js-ipfs"
For feature parity with go-ipfs

https://github.com/ipfs/notes/issues/1

[2018-03-27 18:34] VictorBjelkholm commented on #804
@diasdavid missed this. Two points: daemon is too unstable to rely on currently, so I've stopped working on it for now. Second is that that I haven't yet setup the DNS records for js.ipfs.io, that's why it's not working for you :)

[2018-03-27 22:59] kyledrake opened #1284 "examples/browser-video-streaming demo throws TypeError"
https://ipfs.io/ipfs/QmfZBFWJsL3sUbKkfTMXRwpKyjRAqi2h2cTmcUS5ubGeHJ/

![browser-video-streaming-error](https://user-images.githubusercontent.com/28153/37999401-8cd2e2f2-31d7-11e8-8d2c-c999bd7ee092.png)

[2018-03-27 23:26] jacobheun commented on #1221
I want to get some tests added to validate and maintain integrity, but I believe this issue was fixed by the connection cascading fix in libp2p/js-libp2p-secio#98. This was included in the js-ipfs 0.28.0 release.

[2018-03-28 18:57] jacobheun commented on #1221
My initial thought was wrong, I found the issue causing the crash.

libp2p/js-libp2p-secio#101 resolves this

[2018-03-28 22:50] jacobheun commented on #1221
This was accidentally closed. I'll have a PR shortly to update versioning to properly fix this.

[2018-03-28 23:48] wraithgar commented on #1178
I'm attempting to work on this on the js side of things.  Just getting started ramping up here so your patience is very much appreciated!

[2018-03-28 23:53] #1221 closed

[2018-03-29 10:18] moda20 opened #1287 "Data Reading is not correct"
- **Version**: 0.27.7
- **Platform**: Zen ArchLinux
- **Subsystem**:

#### Type: Bug

#### Severity: High

#### Description:

Data returned by `Ipfs.object.data()` is not the same as the one got from the `Read-Only gateway`

#### Steps to reproduce the error:
run `jsipfs daemon`
create a node from the existing ports `localIpfs`
call `localIpfs.files.add(Buffer.from("TEXT"))` returns `Hash`
call `l

[2018-03-29 14:11] garrensmith commented on #1260
Would it be worth adding in flow support to aegir, that way we won't need to do so much project setup for each repo?

[2018-03-29 16:37] musicsmithnz commented on #1178
I've been looking at a workaround which uses the recursive options and passes in a directory. I have been having trouble with this and I'm not sure exactly why, it might be something to do with asynchronous loading of the files.

[2018-03-29 18:47] garrensmith commented on #1260
I think it might be nice to implement it in AEgir once https://github.com/multiformats/js-multihash/pull/47 is merged in. That should give us a nice base in terms of how we want flow to work. I think implementing it on a branch as a first attempt would be a good start.

The reason I bring this us is I was looking at adding flow to multihashing, add I'm doing fair bit of copy and pasting initially

[2018-03-29 21:24] richardschneider commented on #1287
`ipfs.object.data(Hash)` returns the data portion of the Merkle DAG which is not the same as file's data.

Use `ipfs.cat(Hash)` to get the data of the file.

[2018-03-30 11:36] moda20 commented on #1287
I see, If it is an image in what format i will be getting it ? base64 ?

[2018-03-30 23:27] richardschneider commented on #1287
IPFS does not care about the format of the data, it is returned via `ipfs.cat` exactly as it was passed to `ipfs.add`.

[2018-03-31 00:40] Stebalien opened #2890 "Consider renaming the DHT API endpoint"
So, it may cause too much churn to fix this but... the DHT is just one implementation of a routing system. Really, the DHT command encompasses:

1. Content routing.
2. Peer routing.
3. The "record store".

It would be kind of nice to either just call this interface the routing interface or use three independent interfaces.

[2018-03-31 22:33] diasdavid commented on #938
@fsdiogo please list here all the PRs and let me know when you know it is fully ready. This will require a massive release waterfall.

[2018-04-01 06:44] harrshasri commented on #1033
Getting the Same Error

`Error: MAC Invalid: 1c6b78c202e07225ac16523f2f4ec15786763669924aaccb44e6c6f1ec0d10cd != 3667e92193877c2f25d36b7af2dad7d686722eddce9563b11725365ffee92b36
    at mac.digest (pricegraph.js:166183)
    at pricegraph.js:12370
    at run (pricegraph.js:87162)
    at runIfPresent (pricegraph.js:87191)
    at onGlobalMessage (pricegraph.js:87231)`

[2018-04-02 02:22] diasdavid commented on #1033
@harrshasri try updating to the latest version (current 0.28.2)

[2018-04-02 02:36] diasdavid commented on #1179
# Weekly Sync Up April 02, Monday 6pm UTC

If you are new to this call and how the js-ipfs project is organized, please see the [recording from the first call](https://youtu.be/F0wEg6ZQB34) to learn how we use the waffle board.

- Zoom: https://protocol.zoom.us/j/219270872
- Notes: https://cryptpad.fr/code/#/1/edit/7i5M8o4p9ir39e3TmJZLLg/RMatepXvCoCZehUHnJRDIcpO/

**Recording:** Updated after the

[2018-04-02 07:21] harrshasri commented on #1033
@diasdavid Ok Thanks

[2018-04-02 09:03] moda20 commented on #1287
Thank you, it worked. I am closing this then.

[2018-04-02 09:03] #1287 closed

[2018-04-02 11:14] nothingismagick opened #1288 "Server Profile"
- **Version**: "ipfs": "^0.28.2",
- **Platform**: ubuntu / docker
- **Subsystem**: init I guess

#### Type: Enhancement (i.e. its not a bug its a feature...)

#### Severity: Critical

#### Description:
I got bit by the "server profile" dragon again, in which local/reserved IPs are being pinged from within a datacenter. I already started a discussion over at go-ipfs about this - because there it wa

[2018-04-02 14:35] fsdiogo commented on #938
@diasdavid

- https://github.com/ipfs/js-ipfs-block
  - https://github.com/ipfs/js-ipfs-block/pull/39
- https://github.com/ipld/js-ipld-dag-pb

[2018-04-02 15:08] kelvv opened #1289 "ipfs.add failure~~~!!!"
#####  js script:

[code]

##### I got following result:
[code]

but , I  access 'https://ipfs.io/ipfs/QmeVh3qKsZ5SMGaHwQBFbRLMz3AzGthBUEXqJPcCP2J5Rq' , failure ,  no content return

please help me~!

[2018-04-02 15:27] wraithgar commented on #1178
Took a stab at this, see the three PRs linked to above.

[2018-04-02 15:42] wraithgar opened #1291 "http api not validating if content-type header is present."
The 'add files' endpoint of the http api passes the content-type header down into `ipfs-multipart`, which passes it down into the `content` library which was not checking for that header's presence before trying to parse it, resulting in a traceback and 500 error.

This has been patched in `content` and a pr for `ipfs-multipart` has been opened here: https://github.com/fbaiodias/ipfs-multipart/pul

[2018-04-02 16:57] diasdavid commented on #938
Missing https://github.com/libp2p/js-libp2p/blob/master/src/index.js#L129-L133

[2018-04-02 16:59] diasdavid commented on #1178
@wraithgar looking good! I'll handle merging and releasing those soon (probably earlier tomorrow) :) Thank you!

[2018-04-02 19:33] mkg20001 opened #1292 "Error: multihash unknown function code: 0x0"
- **Version**: master e189b72983e5a6d8f579e16d1234e594dbe4fcb4
- **Platform**: Linux - 4.4.0-116-generic # 140-Ubuntu SMP Mon Feb 12 21:23:04 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
- **Subsystem**: ipld & bitswap

#### Type: bug

#### Severity: critical

#### Description: Error: multihash unknown function code: 0x0

#### Steps to reproduce the error:

Just was running a js-ipfs node when it out o

[2018-04-02 22:18] wraithgar commented on #1058
Made a PR to address this that goes down the path of correcting the `init` event behavior to emit when the node is done initializing, not only just when it has initialized a new repo.

[2018-04-03 01:45] CerratoA commented on #1185
I have a question, can I trust this web socket for a production application?
or how can I create my own transport and a discovery service?

[2018-04-03 02:40] musicsmithnz commented on #1178
Thanks guys I'm looking forward to seeing this.

[2018-04-03 03:34] Mr0grog commented on #1058
@pgte I just spent a bunch of time staring at all the bootstrapping code to document the constructor options and it looks to me like `ready` should *always* emit (so long as there were no errors). I just took my computer offline and tried this; it fired the `ready` event (and got valid peer info):

[code]

Am I misunderstanding what you’re getting at? (Seems important since these [new event docs](

[2018-04-03 07:21] linonetwo commented on #209
Complex applications can't work without IPNS!

[2018-04-03 10:18] mkg20001 opened #1295 "Fuzz testing"
- **Version**: hopefully the next
- **Platform**: *
- **Subsystem**: *

#### Type: enhancment / question

#### Severity: medium

#### Description: Fuzz Testing

I have discovered many critical application crashes by accident after my node was crashed by the invalid data it recived.

Such kinds of crashes are likely unacceptable in production.
Discovering them by accident isn't really a solution to

[2018-04-03 17:01] travisperson commented on #1289
The node will need to be online for the content to be accessible from the ipfs.io gateway nodes, so you will want to make sure to wait to stop it, or start it from the cli to test it against the gateway nodes.

[2018-04-04 01:14] MagicLizi opened #1296 "js-ipfs on mobile"
I Use js-ipfs on node-js mobile and success run it on my iPhoneX, but I can not cat a file on my iPhoneX from other IPFS node.

if I add the node into Bootstrap like :
[code]
I can see my mobile has peer as
Network PeerId: QmZqUA3tznh2j8NpgmQWH3TGJroPU35zJQJDCGYfCtEu2r

but when I check the connected log I found
[code]

how it happens..

[2018-04-04 13:25] pgte commented on #1058
I now see that I should have added a test case, since the behaviour I can no longer reproduce the behaviour I think was witnessing.

(I think this may related to the `ws-star` transport. It still doesn't allow me to start offline if I enable this transport by declaring a `p2p-websocket-star` address. — but this is a completely separate issue).

Anyway, the point here is:

The `ready` event (if the

[2018-04-05 04:12] #1289 closed

[2018-04-05 18:47] diasdavid commented on #938
I've started the release party!

multiformats and libp2p done \o/, next up is IPLD and then IPFS

[2018-04-05 21:26] travisperson commented on #1282
Hey @moda20,

You are going to want to use the the [`files.cat`](
https://github.com/ipfs/interface-ipfs-core/blob/master/SPEC/FILES.md#cat) API to request the content added through [`files.add`](https://github.com/ipfs/interface-ipfs-core/blob/master/SPEC/FILES.md#add).

The [`object.get`](https://github.com/ipfs/interface-ipfs-core/blob/master/SPEC/OBJECT.md#objectget) method returns the raw obj

[2018-04-06 03:26] gpliu commented on #1228
congrats! validation succeed!

[2018-04-06 10:06] fsdiogo commented on #938
@diasdavid [js-libp2p-webrtc-star](https://github.com/libp2p/js-libp2p-webrtc-star) and [js-libp2p-utp](https://github.com/libp2p/js-libp2p-utp) didn't get released, only merged to master, so they haven't been updated in the libp2p dependencies.

[2018-04-06 13:08] diasdavid commented on #938
@fsdiogo understood. releasing webrtc-star. utp won't be necessary as it isn't used anywhere.

[2018-04-07 19:26] fahrradflucht commented on #1260
I could help with this endeavour but I'm still unclear on what the plan looks like.

https://github.com/multiformats/js-multihash/pull/47 introduces a build step. [While this could bring good things with it](https://github.com/multiformats/js-multihash/pull/47/files#r173730943) the [struggle in the past sounds](https://github.com/ipfs/community/issues/278#issuecomment-357262897) horrible.

I can't

[2018-04-07 20:28] vmx commented on #1260
@fahrradflucht The current plan is:

 - Have this additional build step
 - Don't use prettier, instead adapt the standardjs liniting to make it work

Current PRs that are work in progress on adding types are:

 - That one is kind of the template for other PRs: https://github.com/multiformats/js-multihash/pull/49 (driven by @Gozala)
 - https://github.com/multiformats/js-multihashing/pull/27 (driven

[2018-04-08 08:33] fahrradflucht commented on #1260
@vmx alright, thanks for the clarifications 😃.

Then I will start working on [multiformats/js-multibase](https://github.com/multiformats/js-multibase).

BTW: I noticed that there is no PR for the flow branch on AEgir. Maybe that would a good place for the tooling setup discussion to happen. It is kind of all over the place at the moment.

[2018-04-08 14:47] vmx commented on #1260
@fahrradflucht: Good point, I've created a PR on AEgir: https://github.com/ipfs/aegir/pull/213

[2018-04-08 14:52] diasdavid commented on #1179
# Weekly Sync Up April 02, Monday 6pm UTC

If you are new to this call and how the js-ipfs project is organized, please see the [recording from the first call](https://youtu.be/F0wEg6ZQB34) to learn how we use the waffle board.

- Zoom: https://protocol.zoom.us/j/219270872
- Notes: https://cryptpad.fr/code/#/1/edit/bl9F-9udJWw7qRBqs6MSAw/roaWDbPkTOgyLwWA6yIBQvmI/

**Recording:** _Once uploaded thi

[2018-04-09 11:04] vasco-santos commented on #1213
@vmx the `go-ipfs` also reports the `IPFS_PATH` usage on the help menu. Should we add it? Otherwise, this issue is accomplished, right?

[2018-04-09 11:33] vmx commented on #1213
@vasco-santos You are right, I've missed that `IPFS_PATH` is also shown on `ipfs --help`. It also shows up on `ipfs daemon --help`. I guess that ideally we display it whenever go-ipfs displays it (whenever that is).

[2018-04-09 11:34] vasco-santos commented on #1213
Ok, I will add it then @vmx 😃

[2018-04-09 15:46] diasdavid commented on #938
Did some more work on merging and releasing. Repos missing (by order):

- [ ] https://github.com/ipfs/js-ipfs-block-service
- [ ] https://github.com/ipfs/js-ipfs-unixfs-engine
- [ ] https://github.com/ipfs/js-ipfs-bitswap
- [ ] https://github.com/ipfs/js-ipfs

[2018-04-09 16:42] fsdiogo commented on #938
@diasdavid great, thanks! The dependencies of the following repos should be updated too:

- [ ] https://github.com/ipfs/js-ipfs-repo
- [ ] https://github.com/ipfs/interface-ipfs-core

[2018-04-09 17:18] vmx commented on #1179
# Weekly Sync Up April 09, Monday 6pm UTC

If you are new to this call and how the js-ipfs project is organized, please see the [recording from the first call](https://youtu.be/F0wEg6ZQB34) to learn how we use the waffle board.

- Zoom: https://protocol.zoom.us/j/219270872
- Notes: https://cryptpad.fr/code/#/1/edit/5tDqnZ-Z3PWbM0K41EwaWw/ldWtQAm0sPjMn0R8ZJ8gihQX/

**Recording:** _Once uploaded thi

[2018-04-10 13:58] fluidnotions opened #1304 "How to instantiate IPFS without default bootstrap nodes for use on a private network"
My use case is using orbit-db which depends on ipfs on private network. This is an IOT system where nodes would interact over a single subnet.
I also want to be able to add nodes via SWIM, so I am using sneeze wrapper which has add/remove events.
I don't want to use a signalling server, on a private network single subnet it's not necessary & a requirement is for every node on the private network t

[2018-04-10 15:26] AquiGorka commented on #1304
No need to remove the bootstrap nodes that way, you can set an empty array in the config.

[2018-04-10 15:52] Mr0grog commented on #1304
This part of your problem is that `Bootstrap` needs to be inside the `config` property, like so:

[code]

We’ve *just* merged some hopefully-clearer docs on configuration: https://github.com/ipfs/js-ipfs#ipfs-constructor

[2018-04-10 16:41] fluidnotions commented on #1304
Ok great. So in order for me to test this little poc. The last thing I need is a way to get the peer multiaddress of self so that I can use ipfs.bootsrap.add inside sneeze.on('add' ... which is a replacement for the standard signal server contract. I was looking at ipfs.id((err, identity) ... and constructing a multiaddress from this by hand but is there a better more standard way?

[2018-04-10 17:03] fluidnotions commented on #1304
`const ipfs = new IPFS({
  repo: './orbitdb/examples/ipfs',
  start: true,
  EXPERIMENTAL: {
    pubsub: true,
  },
  config: {
    Bootstrap: []
  }
})`

Also there still seem to be bootstrap nodes coming from somewhere the console output I am getting is

`
Starting...
Swarm listening on /ip4/127.0.0.1/tcp/4003/ws/ipfs/QmPnoe2fpg4zfPqPZM4Jq6PTYS63PcXdYpSYfwjEjdcsch
Swarm listening on /ip4/192.168

[2018-04-10 17:11] fluidnotions commented on #1304
Also just tried
`config: {
    Bootstrap: []
  }`

the ipfs.id identity for self still lists other peers before any have been added with ipfs.bootstrap.add

`
identity:  { id: 'Qmd4gNp4PHx2SD5vHF7QeP25SbQ7uEqheJgHeVsSHFGcU1',
  publicKey: 'CAASpgIwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQCFC2zETE+xfzfq1fZBaiZaAglQQplVO5FGW3110ZWWcZHfEwicNSfgFF1Uih8811vlD5x946nF0rsOZUe6vDXqaHcdXnqzvIz9VhVQ4dg1eUNh

[2018-04-10 17:59] Mr0grog commented on #1304
Those are all your *own* addresses (you have many because your address will be different on different networks and you are listening on multiple protocols, like tcp and ws—each combination is a separate address). To see your peers, do `node.swarm.peers()`:

[code]

[2018-04-10 19:35] fluidnotions commented on #1304
Ok so say on my private network I have node peers coming up and going down all the time.
And the details about those nodes is just there ip. I don't can't use a signalling server (to keep this short just trust that). The swarm component expects the address of a signalling server. Really all I need is a way to add or remove peers from the swarm, without a signalling server. The contract for a signa

[2018-04-10 21:13] Mr0grog commented on #1304
Generally speaking, that’s what `ipfsNode.swarm.connect(peerAddress)` and `ipfsNode.swarm. disconnect(peerAddress)` do. Have you tried using them?

[code]

[2018-04-12 09:12] AquiGorka opened #1307 "Sharing "big" files in Chrome and Safari/Firefox over webrtc not working"
- **Version**: 0.28.2
- **Platform**: tested with Chrome, Safari and Firefox on MacOS.

#### Type: Bug

#### Description & steps to reproduce:

https://github.com/AquiGorka/test-ipfs-file-sharing

I understand there are a couple of issues around that might relate to this, in that case this is just double checking you are aware of this behaviour and asking for an ETA–I did try to hack around to mak

[2018-04-12 10:40] fsdiogo commented on #938
I'm having some problems with the way npm hoists the js-ipfs dependencies.

When testing locally everything works fine because when npm linking some repos, the latest version gets used, but that's not the case when I clone, update the `package.json` deps to the latest version and then `npm i`. The `ipld-dag-pb` that gets used is an older version, so many tests fail.

Expect some PRs updating the d

[2018-04-12 11:35] diasdavid commented on #938
done :)

[2018-04-13 08:17] fazo96 opened #1309 "peers don't connect automatically through circuit, but they do through websocket-star rendezvous server"
- **Version**: `master`
- **Platform**: Arch Linux and also latest version of Chrome
- **Subsystem**: libp2p-circuit I think? The problem is with circuit relay

#### Type: Question

#### Severity: Medium

#### Description:

In my application, instances subscribe to a specific pubsub topic and I monitor the peers to see how many of my application's nodes I am connected to.

We are currently using r

[2018-04-13 16:02] fsdiogo opened #1311 "Adopt async/await and promises instead of callbacks"
I'm opening this issue so we can have a discussion about adopting async/await and promises instead of callbacks across the js repos.

You can check https://github.com/ipfs/notes/issues/289 to see where this came up.

As Node 6 is almost entering [maintenance](https://github.com/nodejs/Release#release-schedule) phase, I think we're right on time to at least start chatting about this.

I'm all for a

[2018-04-13 16:07] vasco-santos commented on #1311
I agree that adopting async/await would improve considerably the readability of the code.

Moreover, we would be able to handle both sync and async errors within the same block, which would also turn the error handling easier.

[2018-04-13 20:43] dryajov commented on #1311
I generally like the idea of using async/await (and generators, generics, types, etc.. modern JS FTW ;)). My only concern at this point is that we'd be mixing two completely different styles, which could get ugly pretty quickly. I think we have to be careful and come up with a plan similar to the one being undertaken with https://github.com/ipfs/js-ipfs/issues/1260.

I would evaluate every new fea

[2018-04-13 21:58] pgte commented on #1311
As much as I was against promises and pro callbacks, I'm fully converted now to async/await. In comparison, callbacks are clunky and harder to read.

Pull-streams use callbacks in some places (like in `pull.asyncMap`) but there are alternatives like pull-promise-map we could evaluate to use while pull-stream decides.

[2018-04-14 11:13] #1213 closed

[2018-04-14 17:15] nezzard commented on #1219
It's not working for me. Add to browser node and trying to ipfs cat hash at go node

[2018-04-14 20:00] nezzard opened #1312 "Can't connect nodejs and browser nodes"
Hi, i added "/dns4/ws-star.discovery.libp2p.io/tcp/443/wss/p2p-websocket-star" but anyway can't connect from go nodes to browser

I'm trying "ipfs cat hash" but nothing happen. But thor ipfs.io i can access it

[2018-04-16 08:10] vmx commented on #1179
# Weekly Sync Up April 16, Monday 6pm UTC

If you are new to this call and how the js-ipfs project is organized, please see the [recording from the first call](https://youtu.be/F0wEg6ZQB34) to learn how we use the waffle board.

- Zoom: https://protocol.zoom.us/j/219270872
- Notes: https://cryptpad.fr/code/#/1/edit/ipPjYie3-P5s-jxU3lVhkg/zKXGs+0Npx4Dk3W-ut+PmEWe/

**Recording:**

This call is list

[2018-04-16 11:31] fsdiogo commented on #938
@diasdavid Not quite, right now I'm using the [browser-script-tag example](https://github.com/ipfs/js-ipfs/tree/master/examples/browser-script-tag) to test the bundled ipfs versions, but I'm getting this error creating a node, even in the non-uglified bundle:

<img width="611" alt="err" src="https://user-images.githubusercontent.com/33324750/38806220-6e090bd2-4170-11e8-8f73-ceaf08f590a2.png">

Goi

[2018-04-16 16:06] vasco-santos commented on #1247
I analyzed this issue, but I could not reach a successful case.

At first, the mentioned error: `multihash length inconsistent: 0x122017babbbb5ec8d6ec709a5fd1b559d0126cf36486145f84f9c39260ae0d87ab7e`

This occurs because of being used `cidVersion = 1` for `cat`, while the default version is 0.

Using the following code:

[code]

If we analyze the CID obtained using the received path, besides versi

[2018-04-16 17:32] fsdiogo commented on #938
Opened a [PR](https://github.com/ipfs/aegir/pull/214) enabling the uglify mangling and compress.

[2018-04-17 09:57] vmx opened #1313 "Enable Bitswap tests on Windows"
The [Bitswap test file](https://github.com/ipfs/js-ipfs/blob/64c3bfb45cda27e268655cc9a2bce28eebd09454/test/core/bitswap.spec.js#L26-L27) says that enabling the tests is blocked by https://github.com/ipfs/js-ipfsd-ctl/pull/205 which got merged. So it seems that the Bitswap tests could be enabled on Windows.

[2018-04-17 13:19] VictorBjelkholm commented on #127
@mojoaxel I agree! It was private, opened it up but I opened it up now. Consider the code **very** WIP, probably best to rewrite. Unsure if it actually does anything at this point...

https://github.com/VictorBjelkholm/ipfs-webpack-plugin

[2018-04-17 23:41] justinmchase opened #1314 "ipfs.files.get never calls the callback for files that aren't in the network"
- **Version**:
js-ipfs version: 0.28.2-
Repo version: 6
System version: x64/linux
Node.js version: v8.9.4
- **Platform**:
Linux justin-pc 4.4.0-17643-Microsoft #1000-Microsoft Thu Apr 05 15:09:00 PST 2018 x86_64 x86_64 x86_64 GNU/Linux
- **Subsystem**:
Unknown

#### Type:
Question

#### Severity:
Medium

#### Description:
I am just doing some testing and I went here to find some test images on the

[2018-04-18 07:37] VictorBjelkholm commented on #1314
This is part of a larger issue of how to do timeouts in js-land. Our general view is that timeouts should be defined by the caller and either have 0 as a default (meaning, never timeout) or a very large value (couple of hours?) as it really depends on the users network and intent. Sometimes it's valuable to be able to just let it load and get the content once it's there, sometimes you want fallbac

[2018-04-18 07:37] #1314 closed

[2018-04-18 07:40] VictorBjelkholm commented on #1314
Actually, something you might be able to do in the meantime is to call `findprovs` to figure out how many peers are currently saying they have the content. If below X number of peers, assume that the content is non-existing currently, and don't do the `get` call at all.

[2018-04-18 15:08] justinmchase commented on #1314
@VictorBjelkholm But how long will that call take? Will that also need a timeout? It seems like its a non-deterministic request and there may be no way in reality to know the difference between a simply slow response and a never null. Is the `findprovs` operation more deterministic?

[2018-04-18 19:49] mojoaxel opened #1315 "Make ports configurable"
Since https://github.com/ipfs/js-ipfs/commit/a355c9e23ed252a7c2405b00d8a75104b242a645 js-ipfs uses different ports than go-ipfs to be able to run both at the same time (see #653).
For users like me, that only use js-ipfs, it would be very comfortable to be to customize these the used ports.

External libraries and tools expect the default ports and it can be a pain of changing them each time.

Wha

[2018-04-18 20:02] mojoaxel commented on #1315
I just found the options:
[code]

_Sorry for being so fast opening this issue :wink:_

[2018-04-18 20:02] #1315 closed

[2018-04-19 02:52] camelmasa commented on #209
The team will start to implement IPNS on Q2. https://github.com/ipfs/js-ipfs/pull/1281#issuecomment-379324287

[2018-04-19 08:30] fazo96 commented on #938
@fsdiogo the issue with `Uncaught TypeError: sort is not a function` is due to https://github.com/Two-Screen/stable/issues/9 and it appears only through webpack builds.

I had success with forcing that package to version `0.1.6` instead of the new `0.1.7` which introduced this bug

[2018-04-19 08:47] mitra42 commented on #1314
I've been doing a Promise.race with a timeout on all IPFS calls because of this issue of not being able to distinguish a slow response from a bad CID - made particularly bad by the tendency of "good" CIDs not to be available in JS land because of lack of DHT integration.  It would be great to see the timeout as a optional parameter to the calls because at the moment the timeout triggers fairly oft

[2018-04-19 09:01] fsdiogo commented on #938
Hey @fazo96, you're right 👍, although a bit too late as I've already submitted a PR (https://github.com/ipld/js-ipld-dag-pb/pull/66) a few days ago with that solution an has been merged and released, so it should be good now!

But thanks for pointing that out 🙂

[2018-04-19 12:42] justinmchase commented on #1314
@mitra42 can you say more about the DHT integration problem? I am not familiar exactly, though it sounds like you're saying it's trying to download the content of files rather than just give you back info about them.

I have been using the `getReadStream` and then as files come in I am desteoying the content steam of each file. I'm not sure if that does any good though.

But I agree with what you

[2018-04-19 14:13] hugomrdias commented on #1180
![](https://github.trello.services/images/mini-trello-icon.png) [browser 100gb files](https://trello.com/c/pj92N56z/1-browser-100gb-files)

[2018-04-19 15:40] vmx opened #1316 "Two peers with same Identity"
If you create two nodes in parallel, then they end up having the same Identity. When the script below is run you end up with configuration files which contain the same Identity:

[code]

I tried this on js-ipfs master (64c3bfb45cda27e268655cc9a2bce28eebd09454).

I debugged it a bit, but then I hit a dead end. I don't really understand how the initial configuration is created. It seems that some de

[2018-04-19 15:47] dryajov commented on #1313
Yes, it should be possible to enable it now.

[2018-04-19 17:27] Mr0grog commented on #1316
Oh, geez, I see the problem. In `init.js`, we [pull in the default config as a singleton JSON object](https://github.com/ipfs/js-ipfs/blob/master/src/core/components/init.js#L7), then we proceed to [customize it without first making a copy](https://github.com/ipfs/js-ipfs/blob/master/src/core/components/init.js#L57). So any nodes in the same process are making changes to the same singleton.

I won

[2018-04-20 03:47] mitra42 commented on #1314
DHT isnt integrated on JS-IPFS, which means that in JS-IPFS can only find files that are on peers connected to the same nodes. I'm told that once websocketstar-relay is implemented this will be solved.  For example this means if we add a file on our IPFS instance at archive.org and then try and access it on browsers which are connected to the main WSS relay (which is at ipfs.io) then it won't find

[2018-04-20 08:29] mitra42 commented on #938
I've lost track of what this is incorporated in, Does this mean we can build the compact (production) version of an app that embeds IPFS with webpack now? And if so, will that work with ipfs 0.28.2 or will it have to wait for the next release?

[2018-04-20 09:24] alanshaw opened #1317 "files.add with pull stream does not work"
- **Version**: 0.28.0
- **Platform**: macOS Node.js 9.11.1
- **Subsystem**: files

#### Type: Bug

#### Severity: High

#### Description:

Using `files.add(pull stream)` does not work

#### Steps to reproduce the error:

1. add with pull stream (promise)

[code]

    output:

[code]

2. add with pull stream (callback)

[code]

    output:

[code]

---

Note that the following cases are **successfu

[2018-04-20 09:43] fsdiogo commented on #938
Hey @mitra42, this issue is pretty confusing and it's mixing multiple problems.

- The minified version of IPFS (when you run `npm run build` and outputs to `dist/index.min.js`) wasn't being uglified (compressed and mangled) due to the way we were doing some type checks. I've made a [bunch of PRs](https://github.com/ipfs/js-ipfs/issues/938#issuecomment-377945902) fixing this, and the final one in

[2018-04-20 11:12] mitra42 commented on #938
Thanks @fsdiogo - I think I'm looking at the first issue (not being able to minify due to type checks).

We are using "require ipfs"  to include IPFS in the larger app, and already have it working with webpack in non-minified way.  I think the (example)[https://github.com/ipfs/js-ipfs/tree/master/examples/browser-webpack] is overcomplex for that, most of the webpack config seems to be to get the H

[2018-04-20 12:05] alexandr-drozdov opened #1318 "'npm install ipfs' fails on Windows 10 if Windows login (and user's home path) contains non-ASCII characters"
- **Version**:
js-ipfs version: 0.28.2-
Repo version: 6
System version: x64/win32
Node.js version: v8.11.1

- **Platform**:
Windows 10 Home edition 64 bit

#### Type:
High

#### Description:
Unable to install js-ipfs via npm on Windows 10 in case user's login and/or user's home path (c:\Users\\[Username]) contains non-ASCII characters.

#### Steps to reproduce the error:
1. Create new local Window

[2018-04-20 15:03] VictorBjelkholm commented on #1318
Does other packages work to install globally but not js-ipfs? Also, could you paste the full output of your installation log here please?

[2018-04-20 15:34] justinmchase commented on #1314
Is there a issue or PR that you know of for that work, so I can follow it more closely? Thanks a lot for the explanation.

[2018-04-20 17:05] fsdiogo commented on #938
It won't be a patch, it'll be a minor release, due to my commit https://github.com/ipfs/js-ipfs/commit/5b2cf8cfe799615dbf52e87d53f7336a5d7a0210. But yes, you'll then be able to uglify it and not have errors due to the type checks, just be sure to use `uglify-es` and not `uglify-js`, due to the ES6 syntax from the IPFS modules.

[2018-04-20 19:10] alexandr-drozdov commented on #1318
Yes, I'm able to install other packages globally.

Here is the console output:
PS C:\Users\Пользователь\Documents\testNodeProject> npm install ipfs --save
npm WARN deprecated libp2p-multiplex@0.5.1: use libp2p-mplex instead

C:\Users\Пользователь\Documents\testNodeProject\node_modules\fs-ext>if not defined npm_config_node_gyp (node "D:\Program Files\nodejs\node_modules\npm\node_modules\npm-lifecyc

[2018-04-20 19:12] alexandr-drozdov commented on #1318
[2018-04-20T18_58_38_131Z-debug.log](https://github.com/ipfs/js-ipfs/files/1933329/2018-04-20T18_58_38_131Z-debug.log)

[2018-04-20 23:02] mitra42 commented on #1314
Not sure which work you are refering to:
* For websocket-relay - there probably is an Issue, but I don't know where.
* For the Promise based timeout, its in our library at https://github.com/internetarchive/dweb-transports/blob/master/TransportIPFS.js look at p_rawfetch which calls p_timeout in utils.js

[2018-04-20 23:05] mitra42 commented on #938
Minor release meaning 0.28.3 ?

[2018-04-21 14:24] fsdiogo commented on #938
No, that would be a patch. Minor release is `0.29.0`. IPFS follows [semantic versioning](https://semver.org).

[2018-04-22 23:08] salamantos opened #2866 "Problems with adding files over 15MB with progress handler"
I tried to create progress bar to my file uploading. I used this code:
[code]

When I upload 1MB files, it's ok, but on 30MB files I got this error in Chrome:
[code]

How to fix it?

[2018-04-23 08:03] diasdavid opened #1320 "⚡️ v0.29.0 RELEASE 🚀"
# 🗺 What's left for release

- https://github.com/ipfs/js-ipfs/pull/1045
- https://github.com/ipfs/js-ipfs/pull/1299
- Going through the PRs in flight and picking the ones that are essential or very close to land for this release.

# 🔦 Highlights

# ✅ Release Checklist

- Robustness and quality
  - [ ] Ensure that all tests are passing, this includes:
    - [ ] unit
    - [ ] interop
    - [ ] sha

[2018-04-23 08:03] diasdavid commented on #938
I've started the issue for the next release -- https://github.com/ipfs/js-ipfs/issues/1320 --, I hope it to be ready this week and released by early next :)

[2018-04-23 10:12] diasdavid commented on #1179
# Weekly Sync Up April 23, Monday 6pm UTC

If you are new to this call and how the js-ipfs project is organized, please see the [recording from the first call](https://youtu.be/F0wEg6ZQB34) to learn how we use the waffle board.

- Zoom: https://protocol.zoom.us/j/219270872
- Notes: https://cryptpad.fr/code/#/1/edit/ku2dUR4Fk2BY8x0L7U5Jyg/xQzqGDtQy52jE1q97loDLRnJ/

**Recording:** Recording will be

[2018-04-23 11:13] fazo96 commented on #1312
You added that Swarm address to both nodes or only the JS ones?

Actually I might be wrong but I think using a websocket-star rendezvous server doesn't work on go-ipfs.

The best way to do this for now would be to have your JS IPFS node connect to your Go node using websocket. So, tell your go node to listen using websockets (search the ipfs org for this and you'll find the docs) then use `ipfs.sw

[2018-04-23 13:37] fsdiogo opened #1321 "Info: Fails to build a minified create-react-app with ipfs"
There are a lot of issues regarding `create-react-app` and `js-ipfs`, let's keep that discussion in this one, as well as options to make them play well together.

## ✅ js-ipfs minified version
The minified version of IPFS (when you run `npm run build` and outputs to `dist/index.min.js`) wasn't being uglified (compressed and mangled) due to the way we were doing some type checks. This has been solv

[2018-04-23 13:40] fsdiogo commented on #938
Let us continue this discussion in https://github.com/ipfs/js-ipfs/issues/1321.

[2018-04-23 13:40] #938 closed

[2018-04-23 13:45] fsdiogo commented on #1131
Check https://github.com/ipfs/js-ipfs/issues/1321 for more info.

[2018-04-23 14:03] olizilla opened #1322 "ipfs.dht.findprovs is passing cb in timeout position to libp2p findProviders"
- **Version**: 0.28.2
- **Platform**: all
- **Subsystem**: dht

#### Type: Bug

#### Severity: High

#### Description:

`ipfs.dht.findprovs` is passing `cb` in `timeout` position to libp2p `findProviders`, and so the call fails to return anything.

In the dht component in js-ipfs https://github.com/ipfs/js-ipfs/blob/37801c191ad60df12ecd3cb98c52192975e725c8/src/core/components/dht.js#L64

and the j

[2018-04-23 17:11] diasdavid commented on #1179
Ah, process fail, apparently calendar was updated and now this call (which follows the IPFS All Hands) is 5pm UTC.

[2018-04-24 09:02] #1292 closed

[2018-04-24 09:27] nezzard commented on #1312
I tried to connect with ipfs swarm connect, but I got an error that relay is not enabler. But I did EXPERIMENTAL relay enabled

[2018-04-24 12:46] victorb opened #1325 "Better error handling in daemon + gateway"
Today, if there is a error in a stream or any other error within the daemon or the gateway, the entire process crashes. While not a problem for testing, it's a problem when deploying and trying to run a long-term daemon (for example, for the js-ipfs daemons).

I raised this before in https://github.com/ipfs/js-ipfs/pull/1243

Basically, we should be able to gracefully handle errors down the stack

[2018-04-25 08:27] diasdavid commented on #30
I'm officially closing this edition of the Captain.log. It was fun times to write this update to you all but overtime it become a too large time sink and with very little impact given that we have now:

- Weekly Calls https://github.com/ipfs/js-ipfs/blob/master/MGMT.md
- Project Tracking https://github.com/ipfs/js-ipfs/blob/master/MGMT.md
- Release Issues - #1320

See you in the other channels!

[2018-04-25 15:07] VictorBjelkholm commented on #1325
@fsdiogo as you're the current OKR owner for this, I've assigned this to you

[2018-04-25 15:08] VictorBjelkholm commented on #1325
Another error that happens directly after starting daemon right now:

[code]

[2018-04-25 18:52] shessenauer opened #1326 "Websocket connection errors on startup should be clearer and not crash IPFS"
- **Version**: "ipfs": "^0.28.2"
- **Platform**: Linux on AWS EC2 (Dockerized API)
- **Subsystem**: /ipfs/src/core/boot.js or p2plib?

#### Type: Bug

#### Severity:Critical - System crash, application panic.

#### Description:
Upon start of the application, it starts normally - then as soon as the IPFS js node gets initialized, the application throws a critical error with the following:
[code]

I

[2018-04-26 08:43] VictorBjelkholm commented on #1326
I just found this morning that the ws-star server was hung. It responded to normal http requests properly, meaning that our health-checks though everything was fine but the actual websocket endpoints didn't work.

I've restarted the server and confirmed it to be working again, currently adding better health-checks to it now. Could you please retry and report back if it's working now?

[2018-04-26 16:44] shessenauer commented on #1326
@VictorBjelkholm It is resolved now due to that fix, thank you so much! Much appreciated.

[2018-04-27 08:15] VictorBjelkholm commented on #1326
@Mr0grog That's a good point, have been raised before in: https://github.com/ipfs/js-ipfs/issues/804#issuecomment-370750313

Basically, current implementation crashes when the node can't start listening on the swarm address (since the endpoint does not), which leads to this crash. While I agree that the error message could be better, I would also say that it should be a warning instead of a error,

[2018-04-27 12:02] vmx opened #1328 "wrapWithDirectory test fails"
The test `interface-ipfs-core tests .files .add wrapWithDirectory` on master fails. To reproduce the issue, simply run `npx mocha --exit test/core/interface/files.js` from within the js-ipfs root directory.

I make this a P0 as it prevent CI from passing.

[2018-04-27 12:04] vmx commented on #1328
It seems that the test is correct as https://github.com/ipfs/js-ipfs-api/pull/750/files#diff-438d3282bfe7cdd71c3818dfce192cb6R167 also checks for two elements in the result.

[2018-04-27 12:09] VictorBjelkholm commented on #1328
Test that broke ipfs/js-ipfs#master was added here: https://github.com/ipfs/interface-ipfs-core/pull/251 and interface-ipfs-core version 0.60.1 was released without testing with js-ipfs first

[2018-04-27 12:09] VictorBjelkholm commented on #1328
Agree that tests seems correct, but js-ipfs doesn't have the "wrap with directory" functionality yet

[2018-04-27 12:09] VictorBjelkholm commented on #1328
There is a pending PR here though: https://github.com/ipfs/js-ipfs/pull/1290

[2018-04-27 14:58] Mr0grog commented on #1326
I think I’d agree with all those points 😄

[2018-04-27 23:16] coyotespike opened #1330 "stop() throws error: libp2p node is not started yet"
- **Version**: version: '0.28.1', repo: 6, commit: ''
- **Platform**: Ubuntu
- **Subsystem**: libp2p

#### Type: Bug
#### Severity: Medium
#### Description: When running tests with Jest, one test produces this error before going on to complete successfully.

#### Steps to reproduce the error:

In each test suite, I have:
[code]
`ipfs.ready` is simply a promise that returns when IPFS emits the `rea

[2018-04-29 16:14] Jonybang opened #1331 "Error: invalid block"
- **Version**:
[code]
- **Platform**:
[code]
- **Code**::
[code]
#### Type: Bug

#### Severity: Critical

#### Description:
I'm getting invalid block error on init ipfs:
[code]

#### Steps to reproduce the error:
I'm just running code, and i'm don't know why it crashes on my server.

[2018-04-30 07:16] diasdavid commented on #1328
Thank you for fixing this in a timely manner, @VictorBjelkholm :)

[2018-04-30 07:16] #1328 closed

[2018-04-30 07:17] diasdavid commented on #1330
@coyotespike could you please share the snipped where you create the IPFS node?

[2018-04-30 07:28] diasdavid commented on #1331
@dryajov mind checking what's up here?

[2018-04-30 07:29] diasdavid commented on #1322
@olizilla wanna submit a PR to fix that? thanks for reporting :)

[2018-04-30 08:10] diasdavid commented on #1309
Thanks for bringing this up, @fazo96, I understand where the confusion comes from.

websocket-star offers transport + peer discovery and that is why you see them connecting right away. libp2p-circuit is just dialing. The path moving forward is to enable the DHT (wip) and disable websocket-star so that peers discover each other using the DHT giving you that same experience with libp2p-circuit only.

[2018-04-30 08:14] olizilla commented on #1322
Sure! I think an ideal fix for this would result in a change to the
interface; the caller to findprovs should be able to pass in options to
specify a timeout duration.

Is that a reasonable approach @diasdavid ? What's the proceedure for
proposing an interface change?

On Mon, 30 Apr 2018, 08:29 David Dias, <notifications@github.com> wrote:

[2018-04-30 08:27] diasdavid commented on #1179
# Weekly Sync Up April 30, Monday  5pm UTC

If you are new to this call and how the js-ipfs project is organized, please see the [recording from the first call](https://youtu.be/F0wEg6ZQB34) to learn how we use the waffle board.

- Zoom: https://protocol.zoom.us/j/219270872
- Notes: https://cryptpad.fr/code/#/1/edit/fBK8-t+7eg+n9OFVDQSjpA/es7KjOQcz7Xsnug6zNfKN++6/

**Recording:** To be uploaded af

[2018-04-30 16:14] coyotespike commented on #1330
@diasdavid Sure thing!

[code]

[2018-04-30 18:10] diasdavid commented on #1330
What does the `ipfsOptions` look like?

[2018-04-30 18:16] coyotespike commented on #1330
It is nothing fancy:
[code]

[2018-05-01 08:53] chmanie commented on #1330
Currently there are problems with using globalSetup in jest when running tests in parallel which might lead to unexpected behaviour: https://github.com/facebook/jest/issues/5731

Try running the tests serially.

[2018-05-01 22:01] travisperson commented on #1331
See https://github.com/ipfs/js-ipfsd-ctl/issues/223#issuecomment-385803451

`js-ipfsd-ctl` uses a different version of `js-ipfs-repo` which is resulting in this compatibility issue.

[2018-05-02 07:26] fazo96 commented on #1309
I see, so the DHT is the missing piece. Thanks for clearing this up.

Maybe we can keep this open until #856 is done and the peers can discover each other like with websocket-star.

[2018-05-03 16:14] dryajov commented on #1309
In addition to what @diasdavid mentioned, there is also the upcoming rendezvous spec https://github.com/libp2p/specs/pull/44, and respective implementations, that will replace our existing add-hoc rendezvous implementations (*-star transports currently). This new implementation will allow peer discovery in addition to the dht, but also namespace based registration/querying of peers, that should en

[2018-05-04 10:54] #928 closed

[2018-05-05 21:33] diasdavid opened #1337 "Reduce memory usage with a Buffer pool"
Coming out from a productive chat with @mafintosh about buffer allocation, garbage collection and overall main perf sources of problems in JavaScript still today. Also got introduced to https://github.com/mafintosh/buffer-reuse-pool.

We can potentially (pretty much 100% certain) reduce the memory usage of js-ipfs and js-libp2p by adopting a similar strategy and also use it to cap memory usage.

[2018-05-06 13:53] #1317 closed

[2018-05-06 19:50] eugenioclrc commented on #1321
Hi! i saw your bounty in gitcoin. I have try to replicate the error with no success.

What version of node are you using? have you try with the latest LTS (v8.11.1)

![captura de pantalla de 2018-05-06 16-48-22](https://user-images.githubusercontent.com/332426/39677221-935db80a-514d-11e8-8d4e-a8fe8ac96e88.png)
![captura de pantalla de 2018-05-06 16-48-22](https://user-images.githubusercontent.com/

[2018-05-06 20:55] abitrolly commented on #1321
@eugenioclrc thanks for the heads up, I believe we used `yarn rum build`. @Pechalka can you confirm that the problem with building the project is solved now?

I am going to award the bounty to @fsdiogo anyway for dealing with webpack bundling [the proper way](https://github.com/ipld/js-cid/issues/38#issuecomment-378611680). @fsdiogo, can you plese go to https://gitcoin.co/issue/ipld/js-cid/38/121

[2018-05-07 06:04] diasdavid commented on #1179
# `May 7, Monday Ann` The Lead Maintainer Protocol is up and running!

I'm really excited to share that the [Lead Maintainer Protocol](https://github.com/ipfs/community/blob/master/js-code-guidelines.md#tech-leads-and-lead-maintainers) and the update to the [Interplanetary JavaScript Code Guidelines](https://github.com/ipfs/community/blob/master/js-code-guidelines.md) is complete!

What this trans

[2018-05-07 06:08] diasdavid commented on #1179
# Weekly Sync Up May 7, Monday 5pm UTC

If you are new to this call and how the js-ipfs project is organized, please see the [recording from the first call](https://youtu.be/F0wEg6ZQB34) to learn how we use the waffle board.

- Zoom: https://protocol.zoom.us/j/219270872
- Notes: https://cryptpad.fr/code/#/1/edit/N4+zO5qANygqcIgQre-gMA/wTN82gkdDH5lC4gMA3XEZj9d/

**Recording:** Will be uploaded afte

[2018-05-07 15:26] fsdiogo commented on #1321
Hey @abitrolly, I fixed the uglify issue in `js-ipfs` that will be available in the `0.29.0` release.

But, the bundling of `js-ipfs` with a `create-react-app` didn't get fixed, we'll have to wait for a new CRA release which will use `uglify-es`. Until then you can use the solutions in the first comment.

I'll gladly collect the bounty, but only if I solved your problem 🙂

[2018-05-08 04:30] xuruijing opened #1341 "npm fail"
I run this command in Mac

result a warnning "deprecated libp2p-multiplex@0.5.1: use libp2p-mplex instead"

and a error "Command failed: /usr/bin/git clone -q git://github.com/dignifiedquire/multiplex.git /Users/xuruijing/.npm/_cacache/tmp/git-clone-c8dde9da
npm ERR! /Users/xuruijing/.npm/_cacache/tmp/git-clone-c8dde9da/.git: Permission denied"

why?   Who has run into such a problem?

npm -v
5.6.

[2018-05-08 04:52] Timer commented on #1321
Just to set expectations, we're in no rush to get `create-react-app` 2.0 out (I expect a few months yet). The best way to deal with this is to compile your package if you wish for people to use it in the browser.

[2018-05-08 09:04] fsdiogo commented on #1321
Thanks for the input @Timer.

Yes, we're already discussing a way to offer a compiled version of js-ipfs, we'll see how that goes!

[2018-05-08 17:03] olizilla opened #1344 "Parcel fails to build js-ipfs (and many other things)"
- **Version**: 0.28.2
- **Platform**: All
- **Subsystem**: All

#### Type:

Bug / Warning to others

#### Severity:

High

#### Description:

It's not currently possible use [parcel](https://parceljs.org/) to create production builds of apps that depend on js-ipfs. This is **due to an issue in parcel**, not js-ipfs.

The `parcel build` command tries to dedupe modules to reduce bundle size, but an

[2018-05-08 17:10] dryajov commented on #1344
Thank you for troubleshooting this 👍

I've observed some intermittent issues with parcel when developing the example, but wasn't able to reliably reproduce them. They were mostly performance issues that would manifest after running the example for prolonged periods of time. However, this seems to be a different issue, I wonder if it was introduced recently or if it exists in previous versions as w

[2018-05-08 17:49] Mr0grog commented on #1344
Yeah, was going to say the same: could we fix this by locking in the Parcel version a little tighter? It definitely worked for me while reviewing the PR. (Unless what actually happened is: a change in `js-ipfs` or its submodules now triggers the bug when it didn’t before, as opposed to a change in Parcel introducing the bug.)

[2018-05-08 17:51] Mr0grog commented on #1344
As a separate issue, it might be useful to make sure all the examples use the same bundling system (whether Parcel or something else). Less confusion about different tools across the examples and less to download and, ideally, fewer latent issues because they’ll show up everywhere instead in just one example.

[2018-05-08 17:59] dryajov commented on #1344
I can change it to browserify if that is preferred.

[2018-05-08 18:45] Mr0grog commented on #1344
How about seeing if pinning directly to `1.6.2` works and make separate issue for unifying bundlers? I have a feeling the choice of what bundler might be contentious 😬

[2018-05-08 19:34] olizilla commented on #1344
+1 for pinning.

There is value in having the examples show a variety of different packaging methods, and parcel is useful for getting started quickly. It sounds like the PR to fix it will be mergable this week.

[2018-05-09 07:38] xuruijing commented on #1341
According to the NPM documentation you provided, I installed the NVM and used the command "npm install ipfs --global", There are other errors in execution results.

node-pre-gyp ERR! Tried to download(403): https://node-binaries.s3.amazonaws.com/gcstats/v1.1.1/Release/node-v64-darwin-x64.tar.gz
node-pre-gyp ERR! Pre-built binaries not found for gc-stats@1.1.1 and node@10.0.0 (node-v64 ABI, unknown

[2018-05-09 07:54] alanshaw commented on #1341
@xuruijing I'll look into this, I might have come across the same problem

[2018-05-09 07:57] VictorBjelkholm commented on #1341
Yeah, I'm pretty sure js-ipfs doesn't currently work with 10.0.0. Some packages even define that they don't work with 10.0.0 and if you're using yarn, it won't even try to install the dependencies because of the strictness.

[2018-05-09 08:34] xuruijing commented on #1341
I changed node.js to version 8.11.1, and the compilation will not show the last error, but the previous error still exists, and I wonder if it will affect the running of ipfs？

[2018-05-09 08:35] alanshaw commented on #1341
Looks like `js-ipfs-repo` depends on level.js (a fork) and leveldown as well as datastore-level. It shims out `leveldown` for `level.js` in the browser.

I think @richardschneider is [right](https://github.com/ipfs/js-ipfs-repo/issues/127#issuecomment-341926469) this should be pushed into `datastore-level`.

It would be great to sort that out as well whilst upgrading leveldown to a version that wo

[2018-05-09 08:37] xuruijing commented on #1341
Also, do I have to install it manually?

npm WARN dirty-chai@2.0.1 requires a peer of chai@>=2.2.1 <5 but none is installed. You must install peer dependencies yourself.

[2018-05-09 08:39] alanshaw commented on #1341
Which error are you referring to?

[2018-05-09 08:42] xuruijing commented on #1341
node-pre-gyp ERR! Tried to download(403): https://node-binaries.s3.amazonaws.com/gcstats/v1.1.1/Release/node-v57-darwin-x64.tar.gz
node-pre-gyp ERR! Pre-built binaries not found for gc-stats@1.1.1 and node@8.11.1 (node-v57 ABI, unknown) (falling back to source compile with node-gyp)

This error still exists after changing the node.js version.

[2018-05-09 08:43] olizilla commented on #1344
To dedupe, Parcel uses the **source file** as a key in a Map. identical files are deduped, regardless of where in the tree they came from.

Our ipld resolver modules follow a pattern that means they often have identical index.js files, like
- https://github.com/ipld/js-ipld-dag-cbor/blob/e892dc987d32bdad9dba0f2d86d27ebc254fe967/src/index.js
- https://github.com/ipld/js-ipld-git/blob/20f7a66c2fc916

[2018-05-09 08:44] alanshaw commented on #1341
@xuruijing I think that's ok, it just means that npm has had to compile something because a pre-built binary didn't exist.

[2018-05-09 08:55] olizilla commented on #1344
@gabrielpoca I just spotted in the #ipfs irc logs that you hit the same error a while back trying to bundle js-ipfs with parcel. Good news (a little late, but better late than never!) there is a PR to fix this on parcel over at https://github.com/parcel-bundler/parcel/pull/1011

[2018-05-09 09:05] alanshaw opened #1347 "Fails to install with Node.js 10.x"
- **Version**: 0.28.x
- **Platform**: All
- **Subsystem**: n/a

#### Type: Bug

#### Severity: Critical

#### Description:

Installing JS-IPFS with Node.js 10.x fails.

It looks like leveldown (and possibly others) cannot be installed and might need to be updated.

#### Steps to reproduce the error:

[code]

[2018-05-09 09:05] alanshaw commented on #1341
I've created an issue here to track the Node.js 10.x issue: https://github.com/ipfs/js-ipfs/issues/1347

Thanks @xuruijing

[2018-05-09 09:05] #1341 closed

[2018-05-09 09:09] alanshaw commented on #1347
Looks like `js-ipfs-repo` depends on level.js (a fork) and leveldown as well as datastore-level. It shims out `leveldown` for `level.js` in the browser.

This should be pushed into `datastore-level`.

It would be great to sort that out as well whilst upgrading leveldown to a version that works with Node.js 10.x.

@jacobheun @pgte do you have some bandwidth to untangle this?

[2018-05-09 09:25] gabrielpoca commented on #1344
Hey @olizilla I wasnt expecting to be notified about something I asked on irc, thank you! This was awsome!

[2018-05-09 10:05] olizilla commented on #1344
@dryajov @Mr0grog alas it looks like all versions of parcel exhibit this problem, as the dedupe logic is in v1.0.1 https://github.com/parcel-bundler/parcel/commit/96bf882b561d5e5469618576cb41d8f53e080a75#diff-b61d675f2dd7341e1925f9d7e7767689

Also of note, the example here is still totally useable, `npm start` still works. This issue only shows up when you use `parcel build` to generate the optimi

[2018-05-09 13:56] jacobheun commented on #1347
@alanshaw I've created the issue in ipfs-repo to help track that there as well. I should be able to pause what I am currently working on and shift to this as it's a higher priority.

My goal, aside from resolving the root failure, will be to try and get all the level dependencies and logic into `datastore-level` as you mentioned.

[2018-05-09 14:00] olizilla commented on #1321
Until the 0.29 release lands, you do still need to provide config to the UglifyJsPlugin (which now uses uglify-es) to get it to compress IPFS without breaking things. Here is what we're using in peer-pad webpack config now:

[code]

that's a merge of the ejected `create-react-app` recommendations with the tweaks to preserve js-ipfs

See: https://github.com/ipfs-shipyard/peer-pad/blob/1f6bb61a1abe2

[2018-05-09 14:07] fsdiogo commented on #1321
Many thanks for the input @olizilla. I'll update the first post to clear that up 👍

[2018-05-09 18:41] Mr0grog commented on #1344
Ah! I had completely missed that part. No wonder I didn’t see the issue — I don’t think I ever tried `parcel build`.

[2018-05-09 18:56] dryajov commented on #1344
Thanks @olizilla! That makes sense.

Tho I agree with @olizilla on showing different bundlers in action, perhaps, the best way of doing that would be through docs, and smaller examples that would demonstrate specifically the bundler functionality and how to use it with js-ipfs, and leaving the larger examples working with browserify (or whatever bundler we decide).

[2018-05-10 04:36] justinmchase commented on #1311
Personally, I think the callback style is better. Using the async library there is nothing you can't do and if you use await there are still certain kinds of control flow which can be really tricky, such as more complex async tasks like parallelism and queue/cargo situations. You still end up needing to use callbacks or wrapping a bunch of stuff in promisify functions to get await to work and then

[2018-05-10 04:39] justinmchase commented on #1318
Honestly, you're probably going to have other issues too. This library makes assumptions about linux style paths in a lot of places. I am using windows at home also and I have to use new WSL to get it to work. So I would just say use that for now.

[2018-05-10 04:40] justinmchase commented on #1318
This is a little old but I don't think its fundamentally changed that much:
https://channel9.msdn.com/Events/Build/2016/P488

[2018-05-10 07:27] hacdias commented on #1178
Closing this since https://github.com/ipfs/js-ipfs/pull/1329 was merged.

[2018-05-10 07:27] #1178 closed

[2018-05-10 14:02] fsdiogo commented on #1325
@VictorBjelkholm I can't seem to be able to reproduce the error in your last comment, can you share the steps or configs you have that produces the error?

[2018-05-11 06:48] alexandr-drozdov commented on #1318
I haven't heard about WSL feature earlier.
It's very helpfull.
Thank you!

[2018-05-11 15:17] coyotespike commented on #1330
Currently, to prevent race conditions within unit tests, or between unit tests and integration tests, I'm using `--runInBand`, and not using `globalSetup`.

[2018-05-12 14:42] mitra42 commented on #1314
@justinmchase I don't know if that is the same issue, I do know that when the JS-IPFS is used, that there are a number of situations in which files you add in golang are not available to the browser, and files added in the browser are not available in golang.    The problems that cause this include: Websocket star relaying, DHT; failure of one go node to announce etc, but I'm still not clear which

[2018-05-14 12:04] diasdavid commented on #1179
# Weekly Sync Up May 7, Monday 5pm UTC

If you are new to this call and how the js-ipfs project is organized, please see the [recording from the first call](https://youtu.be/F0wEg6ZQB34) to learn how we use the waffle board.

- Zoom: https://protocol.zoom.us/j/219270872
- Notes: https://cryptpad.fr/code/#/1/edit/i-D473XMtg6Y2t6aUvgZZQ/v6d0yJ-SYxD4AWZqagcaLdVH/

**Recording:** Will be uploaded afte

[2018-05-14 15:27] fsdiogo commented on #804
@VictorBjelkholm I'm going to work on having the daemon more stable, as in https://github.com/ipfs/js-ipfs/issues/1325.

The thing is: I'm not sure how to tackle this, as you're working on it too can you point me in the right direction?

[2018-05-14 15:39] VictorBjelkholm commented on #1325
@fsdiogo this issue (#1325) is not about a specific issue but rather having having a error handler for uncaught exceptions from within the daemon. Currently, any error that happens down the stack (in js-bitswap for example) crashes the daemon, which is why it's so unstable currently. We need to make it so the daemon won't fully be crashed and needing a restart just because a error in one stream or

[2018-05-14 16:31] fsdiogo commented on #1325
Alright, so it's best to start off on the daemon itself, i.e. try to reproduce an error and make it so that the daemon doesn't crash?

[2018-05-14 16:34] VictorBjelkholm commented on #1325
@fsdiogo I think just adding `if (Math.random() > 0.5) throw new Error('Test error')` in various levels in the stack and testing manually will let you discover one or two places where we can catch the errors appropriately.

[2018-05-14 16:55] sce9sc opened #1353 "example browser-readablestream not working"
- ** commit 7362652**:
- **mac 10.13.4**:
- **Node version v9.11.1 Chrome Version 65.0.3325.181 (Official Build) (64-bit)**:

#### Type:

#### Severity:Low

#### Description: Example not working

#### Steps to reproduce the error:
git clone https://github.com/ipfs/js-ipfs.git (commit 7362652)
npm install
cd ../examples/browser-readablestream
npm install
npm start
->Started OK
drag n drop file (htt

[2018-05-14 18:42] sce9sc commented on #1353
added a console.log(JSON.stringify(opts)); after const start = opts.start
and it started working

[2018-05-15 04:26] Edward-Lombe commented on #1347
Also having this issue, with node 10 and OSX. I remember getting a problem similar to this when trying to install pouchdb, which could be solved with setting `CXX=clang++`, but in this case `CXX=clang++ npm install -g ipfs` still fails for me.

[2018-05-16 04:43] heekyu opened #1356 "onlyHash does not work for new file"
- **Version**:
0.28.2
- **Platform**:
Mac 10.13.2(17C88)
- **Subsystem**:

#### Type: Bug

#### Severity: High

#### Steps to reproduce the error:

WORK:
1. add new file
2. and then add same file with onlyHash: true

`
file = fs.readFileSync('a.txt');
node.on('ready', () => {
  console.log('ready');
  node.files.add(file, (err1, res1) => {
    node.files.add(file, { onlyHash: true }, (err, res) =>

[2018-05-16 09:19] minxinping0105 opened #1357 "Node on different computer can't connect each other"
System：ubuntu14.04
jsipfs Version： 0.28.2
Each Computer has run 'ipfs daemon', when connect to each other, ther errors is following"

[code]

[2018-05-16 15:29] fsdiogo commented on #1325
@dryajov want to chime as you've dealt with this too?

[2018-05-16 17:06] dryajov commented on #1325
@fsdiogo so the issue here is not really with `async` or `Promise`. The resason the stack is lost in your async example is because you are instantiating the `Error` object inside the `series` done callback:

[code]

The `Error` object will capture the stack at the current place of instantiation, so if we change you're example to:

[code]

We get the correct stacktrace:

[code]

Note that in you're

[2018-05-16 17:35] hugomrdias commented on #1325
@dryajov sure ur correct, but the problem isn't where you create the errors. It's propagation, with async, errors instances are just passed around (or teleported as i say it). With promises, errors are automatically re throwed and stack-traces follow the code path and with a lot less noise from async internals.

Not having full stack traces is really painful because we have to manually search the

[2018-05-16 17:39] dryajov commented on #1325
Aside from my comment above, this is still obviously a legitimate issue overall. Promises do help with that somewhat, but they are IMO not the final solution for this particular issue and I would argue that bringing them up here as an end all solution for this problem, might end up doing more harm than good.

I though about it for some time and I think some of the issues we have boil down to mixin

[2018-05-16 17:50] hugomrdias commented on #1325
This stuff below also is tricky because callback might not be called, in some places we even have `setImmediate(self.emit('error', err))` to solve that.
[code]

What do you think about removing event emitters ? removing stuff like boot() inside ipfs constructor to a instance method or a static factory method where we can return a promise or use callbacks.

[2018-05-16 18:06] dryajov commented on #1325
Ah, yeah - `setImmediate(self.emit('error', err))` is mostly there because `emit` is sync, and the handler might actually never return which breaks the flow, hence the `setImmediate` to force it async. I think the same thing would happen with promises too?

---

Yeah, I think removing `EventEmiter` can be a good thing, we use it in `js-ipfs` (`js-libp2p` might still be apropriate?) primarily becau

[2018-05-17 19:41] Mr0grog commented on #1325
So, I realize that removing event emitting can simplify things (no argument from me that *any* critical error during startup should translate to an error in the callback/rejection in a promise), but we should keep in mind that the events are part of the public API. Various users may be relying on them. They at least deserve notice of the removal well before it happens, and ideally a release or two

[2018-05-17 20:55] dryajov commented on #1325
@Mr0grog agree, this change should be treated as a breaking change and possibly a major version bump (0.3.x?).

[2018-05-18 08:37] diasdavid commented on #1325
@fsdiogo before refactoring the code, make sure to have tests that check for the situations where the daemon errors out today. Try things like opening a connection and write trash at different levels of the dialing (transport -> secio -> stream muxing -> protocols).

[2018-05-18 14:48] fsdiogo commented on #1325
Yeah @Mr0grog @dryajov, it will be a breaking change and apps using ipfs will probably have to be refactored, so that's why in its first iteration we should offer both versions. I'll open a small WIP PR with that.

But as @diasdavid pointed out, I shall start with a different task. I've updated  https://github.com/ipfs/js-ipfs/issues/1325#issuecomment-389819805 with order.

[2018-05-18 15:30] alanshaw commented on #1357
I've tracked the error down to https://github.com/libp2p/js-libp2p-secio/blob/6d09b472ec8d96040c54fbee630dc0b117a628bb/src/handshake/crypto.js#L80

@dignifiedquire can you shed any light on this?

[2018-05-21 14:18] alanshaw commented on #1330
Hey @coyotespike looking at the stack trace, it seems like https://github.com/ipfs-shipyard/ipfs-pubsub-room is unsubscribing an internal pubsub handler **after** the js-ipfs node has stopped.

It registers a listener for the IPFS node stopping here:

https://github.com/ipfs-shipyard/ipfs-pubsub-room/blob/c13b4612af5d29448c68ca701db8a9282babec9d/src/index.js#L43

...which, when triggered, calls `l

[2018-05-21 14:41] alanshaw commented on #1179
# Weekly Sync Up May 21, Monday 5pm UTC

If you are new to this call and how the js-ipfs project is organized, please see the [recording from the first call](https://youtu.be/F0wEg6ZQB34) to learn how we use the waffle board.

- Zoom: https://protocol.zoom.us/j/219270872
- Notes: https://cryptpad.fr/code/#/2/code/edit/5YtjCuvP9JSE4yJseJ9y3tyE/

**Recording:** Will be uploaded after the meeting

Th

[2018-05-21 17:48] shessenauer commented on #1221
I am still getting this issue while using ipfs-js 0.28.2 and am unable to be discoverable and have peers. Anyone else having this issue as well?

[2018-05-21 19:27] shessenauer commented on #1326
@VictorBjelkholm I am getting this same error again on all my applications. Potentially may need to re-kick off your ws-star server

[2018-05-21 22:40] coyotespike commented on #1330
Thanks for the detective work @alanshaw! that makes sense, I'll file an issue with `ipfs-pubsub-room`.

[2018-05-21 23:11] bastiao opened #1362 "jsipfs daemon does not work properly with java ipfs wrapper"
- **Version**:

js-ipfs version: 0.28.2-
Repo version: 6
System version: x64/darwin
Node.js version: v7.2.1

- **Platform**:

Darwin Luiss-MacBook-Pro.local 17.4.0 Darwin Kernel Version 17.4.0: Sun Dec 17 09:19:54 PST 2017; root:xnu-4570.41.2~1/RELEASE_X86_64 x86_64

- **Subsystem**: Unknown

#### Type: Bug

#### Severity: Low

#### Description: The jsipfs daemon does not work properly if you use

[2018-05-22 07:54] kevinsimper commented on #1221
@shessenauer Are you using webrtc or websocket as discovery? Webrtc is still resource heavy and bit new still compared to the more stable websocket.

[2018-05-22 07:57] #1330 closed

[2018-05-22 13:19] alanshaw commented on #1362
Hey @bastiao thanks for noticing the issue, the `get` HTTP API in JS IPFS conforms with the [API docs](https://ipfs.io/docs/api/#api-v0-get). I'm hesitant to add a new route to the HTTP API to emulate an undocumented API in Go IPFS. It's a bunch of work to create something that we have no spec for and no idea how long it will be around for.

It looks like it would be considerably easier to change

[2018-05-22 13:52] bastiao commented on #1362
@alanshaw I will go further it and let you know.
Thanks!

[2018-05-22 13:52] #1362 closed

[2018-05-22 16:26] shessenauer commented on #1221
@kevinsimper currently using websocket as discovery

[2018-05-22 19:57] mitra42 opened #1363 "Big is not a function error"
- **Version**:  ipfs 0.28.2
- **Platform**: Chrome, seeing this on webpack's done on:
 Linux wwwb-dev0.fnf.archive.org 4.4.0-45-generic #66-Ubuntu SMP Wed Oct 19 14:12:37 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux   and on OSX
- **Subsystem**: ipfs-bitswap
#### Type: Bug
#### Severity: Critical
#### Description:
After clearing out my node_modules to do a fresh install, I'm seeing a crash
[code]
####

[2018-05-22 20:06] mitra42 commented on #1363
Some investigation ....
ipfs-bitswap/src/stats/stat.js requires big.js and package.json has dependency on big.js "^5.0.3"
node_modules includes big.js
big.js is in node_modules v5.1.0 and does an export var Big

Running the Chrome debugger and pausing at this line I see ...
[code]

VM6096:1 Uncaught TypeError: Big is not a function
    at eval (eval at Stats.initialCounters.forEach (stat.js:NaN),

[2018-05-22 20:51] mitra42 commented on #1363
More investigation ...
Immediately after defining in big.mjs its
[code]
But after the requires its defined as the result of the require.  Replacing the call in stats.js to Big(0) by Big.Big(0) works,

I notice on the big repository that it was changed 10 hours ago to change exports big.mjs so I'm guessing that is the problem.
See https://github.com/MikeMcl/big.js/issues/95

[2018-05-22 20:59] mitra42 commented on #1363
Workaround for now is to set in package.json :  dependencies { "big.js": "5.0.3" }

Since the fix that broke this was today, the "Big" package might get fixed quickly, otherwise it may need to force that precise version in ipfs-bitswap and anywhere else its used.

[2018-05-23 13:08] alanshaw commented on #1363
It was apparently fixed in `v5.1.1` but I'm still getting test failures locally even with it installed:

[code]

[2018-05-23 19:42] kevinsimper commented on #1221
@shessenauer Then you need to post an example of what is not working :)

[2018-05-24 08:59] alanshaw commented on #1363
@mitra42 I just submitted a PR to fix this https://github.com/ipfs/js-ipfs/pull/1364

[2018-05-24 14:05] VictorBjelkholm commented on #599
There is now a experimental effort from mozilla to support many of our wanted APIs, mdns is one of them! Issue is here: https://github.com/mozilla/libdweb/issues/7

[2018-05-24 20:38] mitra42 commented on #1363
Thanks - looks like it worked.

[2018-05-25 11:21] alanshaw commented on #1325
I have a couple more suggestions for your consideration:

* When dealing with Node.js streams, use [`pump`](https://www.npmjs.com/package/pump) whenever possible to ensure errors are caught and handled
* Add context to errors and allow our tests to assert on error messages we control in our modules by using [`explain-error`](https://www.npmjs.com/package/explain-error)

To address @VictorBjelkholm

[2018-05-25 15:25] alanshaw commented on #1325
I'm not clear on the benefits of removing `EventEmitter`. It's used for boot but IPFS also emits `init` `start` and `stop` events in addition to `ready` and `error` (note that `error` is used for startup failures as well as boot failures). People are probably using all of those.

To avoid crashing the process on an `error` event you can check and emit the error event only if there are listeners fo

[2018-05-25 15:44] Mr0grog commented on #1325
👍 `pump` and `pumpify` are both excellent and *hugely* useful little tools for streams. It’s a lot of work to make sure you do handle errors right without them.

I guess I read this issue more as “there are a lot of errors we could be catching and handling so as not to leave ourselves in a bad state, so we don’t need to crash the daemon as often.” Because otherwise I totally agree that simply igno

[2018-05-25 16:19] mistakia commented on #1254
I was able to get js-ipfs working on nodejs mobile (react native) both on simulator and a device (after using this [fix](https://gitter.im/nodejs-mobile/community?at=5b0700c160209a1187df4ec1)).

However, I noticed a difference in performance and ipfs boot/start time if I add a swarm address (websocket-star).

I see there are plans for adding [libp2p-connection-manager](https://github.com/libp2p/js

[2018-05-25 16:26] dryajov commented on #1325
I would actually abstain of using node stream at all and instead use `pull-stream` (converting the node stream to pull stream with `stream-to-pull-stream`), the parts of our codebase that is still using node streams are most likely legacy leftovers that need to be reworked anyways.

[2018-05-25 18:55] Mr0grog commented on #1325
Yeah, you’re probably right for the case of all the stuff here. I think `pump/pumpify` are good light-weight tools for making built-in streams sane, while `pull-stream` is a heavier-weight replacement for built-in streams that *already* solves most of those problems :)

[2018-05-25 20:53] dryajov commented on #1325
Also, since we made the decision of using pull-stream exclusively a while back. Plus, although full featured, pull-stream are still light weight compared to node streams in general.

[2018-05-26 18:41] Artod opened #1365 "File limit 250kb"
- **Version**: 0.28.2
- **Platform**: Chrome and Firefox on Windows 10 (64-bit)

#### Type: Bug

#### Severity: High

#### Description:

I use js-ipfs for this project https://github.com/osliki/classi with following configs:

[code]

and seems like nodes unable to share photos larger than 250kB. Starting from [here](https://github.com/osliki/classi/blob/891e49d799c4af81c53bc224b42cd3cdace89b78/src

[2018-05-28 02:36] linonetwo commented on #1254
How about https://github.com/textileio/textile-mobile 's approach? They got it worked and is MIT licensed!

[2018-05-28 04:39] interfect opened #1366 "Revenge of the `Missing peerId` and its sidekick, `already piped`"
- **Version**: 0.28.1
- **Platform**: Firefox 60.0.1
- **Subsystem**: Unknown

#### Type: Bug

#### Severity: Low

#### Description:

This is related to #1221 and probably to the issues @shessenauer reported there a few days ago. I am opening a new issue since this is in the browser, and since I am using js-ipfs v0.28.1, which has a fix for #1221. **WRONG! This version predates that fix! It looks

[2018-05-28 04:46] diasdavid commented on #1179
# Weekly Sync Up May 28, Monday 5pm UTC

If you are new to this call and how the js-ipfs project is organized, please see the [recording from the first call](https://youtu.be/F0wEg6ZQB34) to learn how we use the waffle board.

- Zoom: https://protocol.zoom.us/j/219270872
- Notes: https://cryptpad.fr/code/#/2/code/edit/C800pNm4Nrc+ak4H6Aje4tQj/

**Recording:** Will be uploaded after the meeting

Th

[2018-05-28 04:49] #1363 closed

[2018-05-28 17:05] dryajov commented on #1320
@diasdavid

Can we add the link to the circuit relay example to the its respective section?

Something like this:

Circuit Relay enables connectivity between any two nodes through a third relay node. This ensures connectivity in almost every scenario, that is, as long as peers can connect to some public IP node. Learn how to use it [here](https://github.com/ipfs/js-ipfs/tree/master/examples/circui

[2018-05-28 17:09] interfect commented on #1366
Upgrading `js-ipfs` to commit 2e40fb8edc3d560c2f05b16df397bd4dcec3b72e seems to have resolved the `Missing peerId` problem. But the `already piped` messages persist, and data transfer still seems to be slower than it ought to be.

[2018-05-28 21:44] Asone commented on #1029
Hi,
I'm having hard time myself about this exception.

I currently use IPFS through a customized implementation of [ipfs-webpack-plugin](https://github.com/VictorBjelkholm/ipfs-webpack-plugin). The plugin uses v0.26 without any problem, however updating the plugin with a newer version brings systematically that exception.

I've been trying 0.28 & 0.27 with a bunch of minor versions with no result.

[2018-05-29 10:43] diasdavid commented on #1320
@dryajov of course! Added in :)

[2018-05-29 11:56] diasdavid commented on #1320
Release published!

https://twitter.com/daviddias/status/1001432008302694400

<img width="588" alt="image" src="https://user-images.githubusercontent.com/1211152/40657425-b687f418-633f-11e8-84dd-6fc79407ae7d.png">

[2018-05-29 11:59] VictorBjelkholm opened #1368 "Changelog for 0.29 missed breaking change"
In the latest release (0.29 - https://github.com/ipfs/js-ipfs/releases/tag/v0.29.0) there is only one breaking change while in reality there is two, "changes peer prop in return value from swarm.peers to be a PeerId (#1252) (e174866)" also changes the API and should therefore be considered a breaking change.

[2018-05-29 12:01] diasdavid commented on #1368
@VictorBjelkholm mind updating it? Also, better point it to the release highlights #1320

[2018-05-29 12:06] VictorBjelkholm commented on #1368
I now realize there is more changes, listed under the "release highlights" as "API Changes" but not existing in the actual changelog. Should just copy-paste that into the changelog.

Both the tag + the commit has been signed by you and has a signoff from @alanshaw, so not sure if editing is the right way to go here... Should we just change the GitHub release and make a new commit instead? Won't be

[2018-05-29 12:10] diasdavid commented on #1368
I've added the release highlights to the top so that users that are coming and checking the changelog can find all the highlights.

Can you do a post-mortem on why the changelog failed and what needs to happen to fix it?

[2018-05-29 12:28] diasdavid commented on #1368
@VictorBjelkholm with https://github.com/ipfs/aegir/issues/225 in mind, it would actually be good to have a PR for the release with a special commit message that would give us access to the changelog for review before merging the release commit.

[2018-05-29 13:10] alanshaw commented on #1368
That would be great, I was going to suggest a dry run where you can see what's going to be done before it all happens, but a PR would give us that preview step and also allow us to tweak things before actual release.

[2018-05-29 14:09] daviddias opened #2904 "Net API - Design discussion"
The same way that the `dag` API is the IPLD API, we should have a `Net` API that is the libp2p API. This follows proposals such as https://github.com/ipfs/interface-ipfs-core/issues/249 and the need from apps such as PeerPad to actually have access to libp2p APIs and today it is accessing IPFS internals (antipattern).

This means that a) we would remove the `ipfs swarm` APIs, change the scope of t

[2018-05-29 14:13] alanshaw commented on #1325
@dryajov point taken! The sentiment was to ensure stream errors do not cause the daemon to crash so as long as we're ensuring that I'm happy 😄

[2018-05-29 14:36] alanshaw commented on #1357
@minxinping0105 there's a new js-ipfs release out, would you mind checking if this error is still happening for you?

[2018-05-29 14:52] alanshaw commented on #1365
Hey @Artod are you sure it's the file size that's the issue? Do you have an example of a working image that is less than 250kB? Are you sure these hashes are available on the network?

[2018-05-29 19:32] Artod commented on #1365
Hi @alanshaw. They are not available on network but available between browser nodes.

Example:
1. Go here https://osliki.github.io/classi/
2. Click "New 'all' column"
3. If I will be online, you will see all images except 6th "Photo by Kaci Baum on U...".

I've tested:

- Laptop A + Chrome <=> Laptop A + Firefox
- Laptop A + Chrome <=> Laptop B + Chrome

Also you can clone repo, yarn install, yarn

[2018-05-29 20:38] amaurymartiny commented on #1321
As a workaround, I am currently using [`react-app-rewired`](https://github.com/timarney/react-app-rewired).

My `config-overrides.js` looks like this:
[code]

You can of course replace the item at index 3 in `config.plugins` with the config above.

IMO it's cleaner than [this trick](https://github.com/facebook/create-react-app/issues/2108#issuecomment-347623672) proposed in the 1st post.

[2018-05-30 07:40] louismerlin commented on #1321
I tried to create a new app with create-react-app and then adding IPFS v.0.29, that just came out.

It **starts** if installed with node < 10, but still won't **build** because of `cids`...

[2018-05-30 08:13] diasdavid commented on #1331
@vasco-santos once you update deps on ipfsd-ctl and release a new version, can you update here so that @Jonybang can test it? Thanks!

[2018-05-30 08:49] diasdavid commented on #1325
@fsdiogo during last js-ipfs weekly, there were some question with regards on how to approach this. Do you feel it would be good to sync?

[2018-05-30 09:00] olizilla commented on #1321
@hugomrdias I just tested out your fix on a new project, and it works great! Let's get it merged and add some info about it here.

[2018-05-30 09:02] olizilla commented on #1321
@louismerlin fixes for node@10 are about to land https://github.com/ipfs/js-ipfs/pull/1358

[2018-05-30 09:18] olizilla commented on #1366
I'm seeing this occur in a demo app that does nothing but create an js-ipfs@0.29 node and let it idle.

The error happens inside pull-stream code, called from here
https://github.com/multiformats/js-multistream-select/blob/5b19358b91850b528b3f93babd60d63ddcf56a99/src/dialer/index.js#L47

[2018-05-30 09:26] fsdiogo commented on #1325
Well, I was going to follow [these steps](https://github.com/ipfs/js-ipfs/issues/1325#issuecomment-389819805), if you feel that's the way to go, awesome! If not, we should sync 🙂

[2018-05-30 09:34] diasdavid commented on #1325
What is the approach to achieve this:

<img width="499" alt="image" src="https://user-images.githubusercontent.com/1211152/40712226-10826560-63f5-11e8-9768-a94e90c30051.png">

[2018-05-30 09:48] olizilla commented on #1366
Same issue: https://github.com/libp2p/js-libp2p-switch/issues/235

[2018-05-30 09:54] alanshaw commented on #1347
resolved by #1358 and released in v0.29.1 🎉

[2018-05-30 09:54] #1347 closed

[2018-05-30 10:15] alanshaw commented on #1368
I've sent a PR to amend the changelog here https://github.com/ipfs/js-ipfs/pull/1370

I'll be more vigilant when reviewing PRs in the future to ensure commits feature "BREAKING CHANGE" message when breaking changes are made.

[2018-05-30 10:27] fsdiogo commented on #1325
- Fixing the emitters as per https://github.com/ipfs/js-ipfs/issues/1325#issuecomment-389607930.
- Remove `throws` and return them as new errors with appropriate codes and messages a la Node style

[2018-05-30 10:32] hugomrdias commented on #1321
🔥🔥🔥  cool !!
Let's get this https://github.com/libp2p/js-libp2p-switch/pull/259 merged and released :)

Temporary instructions to use IPFS on a CRA

[code]

add this to package.json
[code]
re-install deps using **yarn** i don't think npm supports `resolutions`

[code]

References:
https://github.com/facebook/create-react-app/issues/3815

[2018-05-30 10:39] diasdavid commented on #1325
Ok, I see, so that is where we diverge. You should first of all create the tests that cause the crashes.

[2018-05-30 10:54] fsdiogo commented on #1325
You want that approach so we don't start changing the code blindly, right? I get it.

I just think that way the process will be a lot slower, no?

[2018-05-30 11:14] alanshaw commented on #1313
Still not working unfortunately:

[code]

[2018-05-30 11:31] diasdavid commented on #1325
@fsdiogo we are not optimizing for shipping fast here, the target should be correctness and ensuring that the same problems don't come back to haunt us.

[2018-05-30 13:16] #1368 closed

[2018-05-30 17:01] dryajov commented on #1325
Agree, we should have a test for every failure we run into 👍

[2018-05-30 18:40] Timer commented on #1321
I highly suggest to **not** do this, you are disabling minification and dead-code elimination which will result in a very slow React application in production and potential for secrets to be leaked.

[2018-05-30 18:41] JonKrone opened #1373 "Specifying hash algorithms in files.add doesn't work"
#### Subsystem:
files.add and/or IPLD

#### Type:
Bug

#### Severity:
Medium

#### Description:
`jsipfs files add --hash=<alg> ...` generates and stores an incorrect DAG.
The option to specify a different hash alg was added with https://github.com/ipfs/js-ipfs/pull/1308.

Go/JS ipfs hash differences:
![image](https://user-images.githubusercontent.com/2660142/40739372-9844feca-640b-11e8-872d-03a9da

[2018-05-30 19:30] JonKrone commented on #1373
I don't know if this is strictly related but it strikes me as unexpected behavior of `--hash` as well:

`sha2-256` is the default hashing algorithm yet specifying it produces different output than the standard output.

![image](https://user-images.githubusercontent.com/2660142/40742426-246b4186-6414-11e8-842a-9164de338605.png)

[2018-05-31 03:39] Artod commented on #1365
@alanshaw small update.

I ran own go-ipfs node and added `/dns4/bootstrap.osliki.net/tcp/443/wss/ipfs/QmfJB77qXfiEdJkaSxpZgiMh9kAPiDBj3ga7TxF72QdWtf` to the [config](https://github.com/osliki/classi/blob/master/src/provider.js#L79). Each time an user uploads photos in the browser, I make requests to the gateway of my go-ipfs node https://gateway.osliki.net/ipfs/${hash}, so files (including big on

[2018-05-31 08:17] olizilla commented on #1156
WIP to fix "already piped" error in https://github.com/libp2p/js-libp2p-switch/pull/262

See also
- #1366
- https://github.com/libp2p/js-libp2p-switch/issues/235

[2018-05-31 15:57] #1366 closed

[2018-05-31 23:20] blake41 commented on #1321
Apologies if this is a n00b question.  I followed https://github.com/ipfs/js-ipfs/issues/1321#issuecomment-393112809

My CRA had already been created, so i didn't do the first step (npx create-react-app@next --scripts-version=2.0.0-next.66cc7a90), just started at the next step installing yarn and running the update command.  I'm still getting the same error.  Am I missing something obvious?

[2018-06-01 09:05] vasco-santos commented on #1331
`ipfsd-ctl` needs [PR 262](https://github.com/ipfs/js-ipfsd-ctl/pull/262), in order to have CI green.
Meanwhile, @Jonybang  ipfsd-ctl has `js-ipfs` updated in branch `chore/upgrade-ipfs-version` [PR 262](https://github.com/ipfs/js-ipfsd-ctl/pull/262) and will be merged asap

[2018-06-01 09:58] alanshaw opened #1375 "⚡️ v0.30.0 RELEASE 🚀"
# 🗺 What's left for release

- [x] [Complete Pin API](https://github.com/ipfs/js-ipfs/pull/1045)
- [x] [Connection Manager](https://github.com/ipfs/js-ipfs/pull/1410)
- [x] [Implement bitswap.wantlist (with peer ID) and bitswap.unwant](https://github.com/ipfs/js-ipfs/pull/1349)
- [x] [Consistent content hashes between js-ipfs and go-ipfs](https://github.com/ipfs/js-ipfs/pull/1371)
- [x] [libp2p co

[2018-06-01 10:38] alanshaw commented on #1373
I think @achingbrain is all over this with https://github.com/ipfs/js-ipfs/pull/1371 - @JonKrone can you verify if this PR fixes your issues?

[2018-06-01 10:51] alanshaw commented on #1373
I just realised that PR doesn't actually change any dependencies, we might need to wait for the dependent PRs to be merged.

[2018-06-01 11:09] alanshaw commented on #1365
I'll look into this as soon as I get a sec. Can you please verify for me that this only happens for files larger than 250kB, and works fine for files that are smaller?

[2018-06-01 11:13] Jonybang commented on #1331
ok, i will test this today

[2018-06-01 12:09] alanshaw commented on #1366
This will be released with js-ipfs 0.30 as libp2p depends on libp2p-switch 0.39 currently.

[2018-06-01 14:16] vasco-santos opened #1376 "Integrate ipfs-http-response"
Integrate [ipfs-http-response](https://github.com/ipfs/js-ipfs-http-response) in `js-ipfs`, removing the duplicated source code, among the two repos.

[2018-06-01 14:45] Jonybang commented on #1331
I can't test this issue because of ipfs installation via npm failed:

[code]
Output:
[code]
/Users/jonybang/.npm/_logs/2018-06-01T14_32_48_476Z-debug.log:
https://pastebin.com/SUcDnTed

[2018-06-01 15:13] Artod commented on #1365
@alanshaw I've created a test page for testing https://osliki.github.io/250kb/

- Open the link in different browsers
- Select an img in the first browser
- Copy the hash
- Paste the hash in the second browser

Images larger than 250kb won't be loaded

[2018-06-01 15:32] JonKrone commented on #1373
@alanshaw cool, thanks for bringing that to my attention! That might resolve the bit about go/js having different hashes.

I think we will still be generating an incorrect DAG. `object.get` shows that a blob created via `--hash` has an incorrect encoding/format of `hash` and `links.hash`, which is different than just hashing different content.

[2018-06-01 19:51] Jonybang commented on #1347
Still have this issue.
Node version: v10.2.1
OS: MacOS Sierra 10.13.4
npm ipfs: 0.29.2

Code:
[code]
Output:
[code]

Or is it normal and all ok? Can these errors be solved by further actions?

[2018-06-01 19:56] Jonybang commented on #1331
After reinit npm and installing ipfs first there was this problem:
https://github.com/ipfs/js-ipfs/issues/1347#issuecomment-393991182

And then similar errors if I execute this command:
[code]

[2018-06-01 20:23] Artod opened #1379 "0.29.2 Uncaught Error: BlockStream: write after end"
- **Version**: 0.29.2
- **Platform**: 64-bit (Windows) Chrome

#### Type: Bug

#### Severity: Critical

#### Description:
after upgrade to 0.29.2 got repeating error

[code]

and

[code]

#### Steps to reproduce the error:

my configs

[code]

[2018-06-01 22:01] jacobheun commented on #1347
@Jonybang There is an issue with gc-stats in node 10: https://github.com/dainis/node-gcstats/issues/30

This shouldn't affect normal operations, as gc-stats is an optional dependency, but it will cause monitoring to not receive data until it is resolved. This affects monitoring when the `IPFS_MONITORING` environment flag is enabled.

[2018-06-04 02:29] vs77bb commented on #1283
Hi @diasdavid, Vivek from Gitcoin here. We posted a small bounty on this on Gitcoin to see if it brings some attention. If you'd like any other bounties, let us know - we'd love to support!

[2018-06-04 07:49] rodkeys opened #1380 "JS-IPFS now incompatible with https://ipfs.io gateway"
Version: 0.29.1
Platform: 64-bit (Windows)
Subsystem: XXX

#### Type: Bug

#### Severity: High

#### Description: A few weeks ago I was able to successfully add files from JS-IPFS and access them from public gateways such as ipfs.io. I am no longer able to have my files found from any of the public gateways. I am connected to approximately 100 peers on average. I have tested this issue on multiple

[2018-06-04 08:18] diasdavid commented on #1380
Hi @rodkeys. There has been a needed infrastructure change on the IPFS Gateways. This change means that a js-ipfs node doesn't connect to the Gateway nodes anymore.

Once https://github.com/ipfs/js-ipfs/pull/856 and/or https://github.com/libp2p/js-libp2p/issues/120 + go-ipfs 0.4.15 is released, you will be able to access files from the ipfs.io gateways again.

[2018-06-04 08:28] diasdavid commented on #1318
Is this still an issue with latest js-ipfs? Can anyone confirm?

[2018-06-04 08:33] diasdavid commented on #1295
//cc @fsdiogo

[2018-06-04 08:38] diasdavid commented on #1282
@travisperson is correct. Closing this issue. @moda20 let us know if the solution @travisperson worked for you, if not, we reopen again :)

[2018-06-04 08:38] #1282 closed

[2018-06-04 09:37] diasdavid commented on #1380
More context given @alanshaw's ping on IRC:

[code]

[2018-06-04 10:24] pgte opened #1382 "can't override all the transports"
In the context of [scaling Peer-Pad](https://github.com/ipfs-shipyard/peer-pad/issues/180), I'd like to replace all the libp2p transports by a custom app-specific transport (which, internally, wraps a websocket-start transport). I want the other transports that ship with js-ipfs to not be used.

One option would be to create an app-specific protocol name, so that the existing transports would not

[2018-06-04 10:28] diasdavid commented on #1382
What you want to do is:

[code]

See https://github.com/ipfs/js-ipfs#ipfs-constructor

[2018-06-04 10:29] diasdavid commented on #1376
=> https://github.com/ipfs/js-ipfs/pull/1381

[2018-06-04 10:29] #1376 closed

[2018-06-04 10:33] diasdavid commented on #1179
# Weekly Sync Up May 28, Monday 5pm UTC

If you are new to this call and how the js-ipfs project is organized, please see the [recording from the first call](https://youtu.be/F0wEg6ZQB34) to learn how we use the waffle board.

- Zoom: https://protocol.zoom.us/j/219270872
- Notes: https://cryptpad.fr/code/#/2/code/edit/xvPQA5vCfE2raFfR8OOW+zkI/

**Recording:** _Uploaded after the meeting is over_

[2018-06-04 11:05] ya7ya commented on #1379
@diasdavid I'll check it out 👍

[2018-06-04 11:41] pgte commented on #1382
By looking at the js-ipfs runtime libp2p code I though the modules were additive. Sorry, I should have tried first..

[2018-06-04 11:41] #1382 closed

[2018-06-04 13:15] ya7ya commented on #1379
quick update: This issue occurs when an older `libp2p-webrtc-star` connects to the latest version. you can test that out if you use a local signaling server and then connecting multiple peers to it.

I'm gonna try to figure out a fix to make sure this is backward compatible with `libp2p-webrtc` older versions.

[2018-06-04 14:16] jedibojan opened #1384 "ipfs fails nsp check"
- **Version**: 0.28.2
- **Platform**: Win 10

#### Type: Bug

#### Severity: Medium

#### Description: ipfs fails nsp check

#### Steps to reproduce the error: run nsp check on version 0.28.2

Output in attached file
[ipfs nsp check.txt](https://github.com/ipfs/js-ipfs/files/2068585/ipfs.nsp.check.txt)

Solution would probably just require deep-extend version update

[2018-06-04 15:23] ya7ya commented on #1379
@diasdavid Yeah. I'm looking into fixing `block-stream` or reimplementing it properly. last commit there was 7 years ago :D !!

[2018-06-04 17:31] mitra42 commented on #1380
It looks like this is blocking the opposite as well - could this be causing the problem where files added on the go nodes are no longer retrievable from the js-ipfs.  Since we've seen other bugs with that route I'm not sure its this Issue causing what appears to be files not being found.

[2018-06-04 20:54] parkan commented on #1380
I think we can work around this by directly dialing a wss go-ipfs node from js in the meanwhile, does that make sense @diasdavid? (for demo purposes, aware that this would be fragile)

[2018-06-04 21:04] diasdavid commented on #1380
Indeed we can as long as those Infra nodes are easy to find -- https://github.com/ipfs/infrastructure/issues/410 -- and they are listening on multiaddrs.

[2018-06-05 09:33] alexandr-drozdov commented on #1318
Unfortunately yes

[code]

Last line declares that something is updated, but we see same errors from gyp saying it can't find 'node.h'.
As a result jsipfs CLI is not available.

[2018-06-05 22:10] jacobheun commented on #1347
The latest gc-stats was released, 1.2.0, this should no longer be an issue.

[2018-06-06 08:55] 0x77official opened #1385 "Contributing guidelines"
# Contributing guidelines links is not working!

[2018-06-06 09:13] alanshaw commented on #1385
@0x77official mind telling me where the link that isn't working is?

[2018-06-06 09:58] #1385 closed

[2018-06-06 10:03] hugomrdias commented on #1321
@blake41 did you run yarn instead of npm? and also have you done a clean re-install ?

[2018-06-06 17:31] vmx commented on #1373
IPLD doesn't support custom hash functions: https://github.com/ipld/js-ipld/blob/a6329ce30e4b21bb2d0852326cfd55753c33b353/src/index.js#L239

[2018-06-06 18:14] blake41 commented on #1321
@hugomrdias i did use yarn, but was able to figure out a solution, thanks for responding!

[2018-06-06 18:35] JonKrone commented on #1373
Thanks for the confirmation @vmx. Does this mean that we aren't currently able to support https://github.com/ipfs/js-ipfs/pull/1308? Something like: `jsipfs files add --hash=sha3-512`

[2018-06-06 22:10] Astrovicis commented on #1326
Coworker of shessenauer here: we're still getting this error. Are there other servers we can add that would be more stable? Even better, if there was an option to check that would allow for the automatic addition of swarm nodes connected to the nodes listed in options.config.Addresses.Swarm so that the list of servers is dynamic and thus maybe more resilient?

Question: will this happen if any one

[2018-06-07 03:06] mitra42 commented on #1131
Is uglify working in the current (0.29.3) js-ipfs yet.   Its hard to tell because the breakages are subtle.

[2018-06-07 07:59] vmx commented on #1373
@JonKrone I'd be surprised if it would work.

[2018-06-07 09:00] fsdiogo commented on #1131
It is @mitra42. But if you have a custom webpack config, you have to pass this option to UglifyJS:

[code]

[2018-06-07 15:02] fsdiogo commented on #1295
Where do you guys suggest I start? I'm a bit lost to be honest.

[2018-06-07 18:30] Astrovicis commented on #1326
Ok so after looking at it a little more closely, the problem is that IPFS never gets out of the 'starting' state after a websocket connection error is thrown. Is there/can there be a reconnect option for this sort of thing?

[2018-06-07 23:56] diasdavid commented on #1295
@fsdiogo are you familiar with the concept of fuzz testing -- https://en.wikipedia.org/wiki/Fuzzing --? It will be powerful for your goal of https://github.com/ipfs/js-ipfs/issues/1325.

@pgte and @satazor should/might have a lot of ideas to help you here :)

[2018-06-07 23:59] diasdavid commented on #1325
@fsdiogo a good source of problems to solve is the list of bugs -- https://github.com/ipfs/js-ipfs/labels/bug --. Creating tests that reproduce those will help you nail down where the problems are coming from.

@alanshaw, @pgte and @satazor have a vast amount of experience in making large Node.js services robust. They can give a ton of tips on how to move forward the best way possible, reach out!

[2018-06-08 00:21] guoliu opened #1387 "Fail to establish websocket connection in Chrome"
- **Version**: 0.29.2
- **Platform**: macOS 10.12.6, Chrome 66.0

#### Type: Bug

#### Severity:
Critical

#### Description:
On creating a new instance in Chrome, IPFS errors with:
[code]

However, it works fine with firefox. Any help is appreciated! Thank you.

#### Steps to reproduce the error:

Simply do `const ipfs = new IPFS()` and load the page in Chrome.

[2018-06-08 04:56] ElMehdiBouamama commented on #819
I keep getting a similar error, even though i followed the same steps as described above :

`[04:49:48]  Error: ./node_modules/datastore-level/src/index.js Module not found: Error: Can't resolve 'leveldown' in
            'C:\Ionic\clusteredSchools\node_modules\datastore-level\src' resolve 'leveldown' in
            'C:\Ionic\clusteredSchools\node_modules\datastore-level\src' Parsed request is a m

[2018-06-08 09:59] fsdiogo commented on #1295
Yes I'm familiar with the concept, although have never implemented it.

My question was a bit more specific, should I start in `js-ipfs`, `libp2p`?

What do you mean when a node receives invalid data?

[2018-06-08 10:40] benaitis commented on #1029
I get the same error as @pgte the answer is to clear the cache. That is a very broad answer. What cache do I have to clear?

[2018-06-08 11:13] fsdiogo commented on #1387
Hi @guoliu 👋

I can't seem to be able to reproduce the error. It's working fine on Chrome here.

What version of `js-ipfs` are you using?

[2018-06-08 14:59] Artod opened #1388 "Firefox: OpenError: A mutation operation was attempted on a database that did not allow mutations."
- **Version**: 0.29.3
- **Platform**: windows 10

#### Type: Bug

#### Severity: Critical

#### Description: Just got an error and files stopped loading In Firefox:

[code]

#### Steps to reproduce the error:

[code]

[2018-06-08 15:04] alanshaw commented on #1388
Are you in a private window @Artod?

[2018-06-08 15:11] alanshaw commented on #1388
Context: IndexedDB doesn't work in private browsing mode https://bugzilla.mozilla.org/show_bug.cgi?id=781982

I think you could probably pass IPFS an in-memory repo to get around this but I don't think there's a good way to detect if a browser is in private browsing mode.

[2018-06-08 15:19] Artod commented on #1388
Yes, seems like I was in kind of private mode (I had the option 'Never remember history' in Firefox).
Thank you for prompt answer @alanshaw

[2018-06-08 15:19] #1388 closed

[2018-06-08 15:23] alanshaw commented on #1387
@guoliu there [was an issue with that rendezvous server](https://github.com/ipfs/infrastructure/issues/412) around the time you posted this issue. It's been resolved now so I'm going to close this. Shout if it's still not working for you.

[2018-06-08 15:23] #1387 closed

[2018-06-08 16:46] devzl opened #1390 "Calling the state() function of state hangs the command line even after retuning a value"
- **Platform**: Linux
- **Version**: 0.29.3 (latest)

#### Type:
bug?

#### Severity:
Medium

#### Description:
Calling the state() function of the state variable in a IPFS instance, returns a value but hen hangs the command line (need to press Cmd + C on Linux to interrupt the execution)

My only goal is to check the state of a running node, maybe I'm not using the right function?

#### Steps to

[2018-06-08 17:14] gabcoh commented on #1356
This issue seems to have been solved in a recent update. I just ran the snippet and I believe everything worked correctly.
![screen shot 2018-06-08 at 12 12 37 pm](https://user-images.githubusercontent.com/16101778/41171198-4a31158c-6b15-11e8-823a-1baf2f321a16.png)
I am using ipfs version 0.29.3

[2018-06-08 21:39] guoliu commented on #1387
Hi @fsdiogo and @alanshaw , thank you for your reply. Yes it was due to the issue with rendezvous server. It's working now.

Thanks again for your swift responses 😝

[2018-06-09 00:55] maroodb opened #1391 "How to use ipfs key pairs for data encryption ?"
#### Question:

How to use ipfs key pair to send encrypted message in pubsub module?

[2018-06-09 19:27] JonKrone commented on #1373
@alanshaw As this feature is broken and has a more involved fix with no timeline, I think it should be reverted or we should otherwise indicate that it's not ready for use.

[2018-06-11 00:30] mitra42 commented on #1131
@fsdiogo - sorry, but but unclear on this, what do you mean a "custom webpack config", I didn't think webpack worked without a config.   Am I assuming i can place this at the top level of the webpack config, or does it somehow need passing to UglifyJS.

[2018-06-11 09:15] fsdiogo commented on #1131
Ignore the custom part, I was referring to your webpack config.

You have to pass the `compress` option to [UglifyJS](https://github.com/mishoo/UglifyJS2/tree/harmony#compress-options).

Check [this comment](https://github.com/ipfs/js-ipfs/issues/1321#issuecomment-387748304) for reference, but if you're using `js-ipfs@0.29.0` or higher you can just pass this option to Uglify:

[code]

[2018-06-11 09:54] YoleYu opened #1392 "How ipfs support breakpoint resume?"
HI,
When upload a large file to ipfs network, how the ipfs supported breakpoint resume? Which APIs can be used.

Thanks a lot.

[2018-06-11 11:24] fsdiogo commented on #1384
In version `0.29.3` this is the output:

[code]

[ipld-zcash](https://github.com/ipld/js-ipld-zcash) is using [zcash-bitcore-lib](https://github.com/BitMEX/zcash-bitcore-lib) which is using an old version of `lodash`, and hasn't been updated in ages.

We could fork `zcash-bitcore-lib` and updated its deps, but is it worth it? What do you think @vmx?

[2018-06-11 13:56] jacobheun commented on #1179
# Weekly Sync Up June 11, Monday 5pm UTC

If you are new to this call and how the js-ipfs project is organized, please see the [recording from the first call](https://youtu.be/F0wEg6ZQB34) to learn how we use the waffle board.

* Zoom: https://protocol.zoom.us/j/219270872
* Notes: https://cryptpad.fr/code/#/2/code/edit/RSbZVtsW+Nek39KOjE-F6ai9/

**Recording**: *Insert recording url here*

This cal

[2018-06-11 15:26] fsdiogo commented on #1356
Hi @heekyu, I've tried your snippets in versions `0.28.2` and `0.29.3`, both are working fine.

I'm closing this now, but feel free to post your full code here if you need further assistance.

[2018-06-11 15:26] #1356 closed

[2018-06-11 16:36] fsdiogo commented on #1390
Hey @devzl, when running this snippet:

[code]

You get this result:
[code]

So I'm pretty sure this is the function you're looking for.

The terminal "hangs" because the [IPFS node is an instance of Node EventEmitter](https://github.com/ipfs/js-ipfs#events).

If you [stop](https://github.com/ipfs/js-ipfs#nodestopcallback) the node the program will end:

[code]

[2018-06-11 16:36] #1390 closed

[2018-06-11 18:12] Mr0grog commented on #1326
Re-opening (and re-titling) this to track things a little more clearly. There are two things to address here:

1. This error message needs to be more clear (“failed to connect to websocket ${address}” or something.

2. A connection failure (probably for any swarm connection?) should not be fatal for IPFS.

These is tied in with #1325, but are concrete enough we should be able to address them soone

[2018-06-11 19:06] jsrbn opened #1393 "Unable to retrieve file when uploaded via integrated IPFS instance"
Hi,
my Issue is to retrieve a file from any other node when uploading it with the custom IPFS node in js-ipfs. When I'm uploading a file like in the following code example:
[code]
I just cannot retrieve it from any other node, even if I do not stop the node with `node.stop()` but keep it open. The only way I was able to achieve my goal was when I started another node with the ipfs-cli beforehand a

[2018-06-12 00:05] Mr0grog commented on #1388
It does seem like we could surface a much clearer error message in this case, though, and say directly that IndexedDB is not supported in this browser or that we’re out of space (IIRC Safari’s private browser throws a quota exceeded error). Even if we can’t fix the problem (it’s not an unreasonable error in private mode), we can at least make it not seem like something is broken.

[2018-06-12 07:23] xuruijing opened #1394 "How do I know the progress of getting a large file"
`files.get` or `files.cat` . How do I know the progress of getting a large file(video or image). The optional parameters described in the document are offset and length.

[2018-06-12 08:04] whyrusleeping opened #1395 "`ipfs.dag.put` should be happy if i don't give it options"
simply running:
[code]

Doesnt work right now, because it wants the put options struct.

[2018-06-12 18:56] mitra42 commented on #1131
Thanks - for the pointer to that comment, so its still unclear whether if you do not explicitly use Uglify (i.e. just use "webpack --mode production") you still need to add.
[code]

[2018-06-12 19:20] mitra42 commented on #1131
Without that code (I don't actually use uglify) then I see a lot of `Error: Callback was already called. ` , its hard to tell where these are coming form (since the code is minified) but they don't occur in the non-minified version.

Its possible of course that I'm doing something wrong, but it would be interesting if anyone else is seeing these on the minified IPFS.

[2018-06-12 20:05] JonKrone opened #1397 "Many files.* tests are failing"
Something external must be happening because even on a fresh clone of the 0.29 release a bunch of `ipfs.files.*` tests are failing. I've also just re-run a previously passing CI build from a couple weeks ago that now fails:

PR: https://github.com/ipfs/js-ipfs/pull/1372
Working: https://ci.ipfs.team/blue/organizations/jenkins/IPFS%2Fjs-ipfs/detail/PR-1372/7/pipeline
Broken: https://ci.ipfs.team/bl

[2018-06-13 09:36] vmx commented on #1384
@fsdiogo First step would be to make a PR to `zcash-bitcore-lib` although chances are low that there will be a new release with it. But at least we can try. Next step would then be doing a fork. Though this kind of starts a more general question of where we would publish this fork? Perhaps under some `@ipfs` scope?

I'll take action on creating a PR for zcash-bitcore-lib as I'm responsible for ipl

[2018-06-13 09:47] fsdiogo commented on #1384
@vmx yeah, I excluded the first option in my head as `zcash-bitcore-lib` hasn't been updated in 2 years, so I doubt it will be released, as you said.

I would say in the `@ipld` scope, as it's only being used there.

[2018-06-13 10:49] fsdiogo commented on #1131
If you use `webpack --mode production` you will still need to add it, because the webpack production mode uses UglifyJS, which in turn has the `unused` option set to true by default: https://webpack.js.org/concepts/mode/.

That's why you are seeing the `Error: Callback was already called`, check my PR [enabling compression](https://github.com/ipfs/aegir/pull/214), I talked about it there.

[2018-06-14 14:37] WieFel opened #1399 "Error uploading file "more is not a function""
- **Version**: 0.29.3
- **Platform**: Linux 4.10.17-2-MANJARO #1 SMP PREEMPT Sun May 21 11:02:41 UTC 2017 x86_64 GNU/Linux
- **Subsystem**:

#### Type: Question

#### Severity: Very Low

#### Description:
I am building a project with the Ionic framework and I want to integrate IPFS. I am trying to upload a file to IPFS...
The "ready" event is successfully triggered, but when adding a file the foll

[2018-06-15 18:38] rednaxus commented on #1347
I think this is still an issue:
node 10.2.1

In file included from ../fs-ext.cc:29:
../../nan/nan.h:854:18: warning: 'MakeCallback' is deprecated: Use MakeCallback(..., async_context) [-Wdeprecated-declarations]
    return node::MakeCallback(
                 ^
/Users/rednaxus/.node-gyp/10.2.1/include/node/node.h:164:1: note: 'MakeCallback' has been explicitly marked deprecated here
NODE_DEPRECATE

[2018-06-15 21:17] jacobheun commented on #1347
@rednaxus are you seeing this from a clean install? I just ran `npm i ipfs` on node 10.2.1 in a clean directory and am not hitting the issue. Is it possible you have a package lock from a previous install?

[2018-06-16 05:17] rednaxus commented on #1347
well...ok...not quite sure what happened, but now it seems to get through ok

[2018-06-17 10:12] alanshaw commented on #1399
Hey @WieFel do you have a stack trace? I've just tried your example code and I get the message `Success!` printed to the console.

[2018-06-17 15:46] WieFel commented on #1399
Hello @alanshaw . Thanks for your help!
Here is the stacktrace:
[code]
I also have tried to use different node versions (v10.4.1, v8.9.4, v8.0.0) and I tried to downgrade the IPFS dependency, but without success... Always the same problem.

[2018-06-18 08:45] alanshaw commented on #1179
# Weekly Sync Up June 18, Monday 5pm UTC

If you are new to this call and how the js-ipfs project is organized, please see the [recording from the first call](https://youtu.be/F0wEg6ZQB34) to learn how we use the waffle board.

* Zoom: https://protocol.zoom.us/j/219270872
* Notes: https://cryptpad.fr/code/#/2/code/edit/nqLNjVjxWN7hu1FTI92tHak2/

**Recording**: *Insert recording url here*

This cal

[2018-06-18 08:56] alanshaw commented on #1399
This stack trace looks like you're calling `addReadableStream` - do you have a link to the code you're running?

[2018-06-18 09:21] alanshaw commented on #1394
This is not currently spec'd and is not implemented in js-ipfs or go-ipfs implementations. @diasdavid do you know if this is planned/possible?

Note that if you `catReadableStream` or `catPullStream` you'll know how much you have as you get streamed chunks, but you'll not know the total file size.

You can probably use `object.stat` to get the total size beforehand but in the future hopefully `fil

[2018-06-18 09:22] alanshaw commented on #1392
Hi @YoleYu I'm not sure I understand the question - could you clarify that you're trying to do?

[2018-06-18 13:01] WieFel commented on #1399
Yes, sorry. In the meantime I had changed my code. But the error when using `addReadableStream` was the same as for `add`. The code is:
[code]

The error is immediately thrown in the first line of the function `uploadImage(),` when `addReadableStream()` is called.
Today I get a different stacktrace:
[code]
As I said, also when using `node.files.add()`, the error is the same.
[code]
Versions 0.29.0

[2018-06-18 13:10] alanshaw commented on #1399
Could you try `content: Buffer.from("test.txt")`? Otherwise, can I get access to this repo - I can't see where the issue might be from the code you've posted.

[2018-06-18 13:46] alanshaw commented on #1399
@WieFel could you create an public repo with some example code I can _run_ that causes the error? I still can't see from the code where this might be going wrong.

[2018-06-18 14:12] WieFel commented on #1399
I have set up a fresh Ionic project with a blank page (home.html) and added a button which triggers the IPFS code (which resides in home.ts). Still, the same error appears. It seems to be a problem related to TypeScript. My best guess is that TypeScript compiles the code relating to the Looper script somehow wrong.

To get the project running:
`npm install -g ionic && npm install && npm run ionic:

[2018-06-18 16:07] alanshaw commented on #1399
Do you have a link to the repo?

[2018-06-18 16:13] WieFel commented on #1399
https://github.com/WieFel/TestIPFS
Sorry

[2018-06-18 16:17] YoleYu commented on #1392
Hi @alanshaw , Let's see this scenario, when I upload a film to ipfs network, at the time when 80% of the file has been uploaded, my network is cut off. After some minutes, I fixed my network. Then I try to resume the upload.
1. Where is the start point when I resume, from 0% or 80%?
2. If it's from 80%, how ipfs supported this feature? Is the previous content cached in ipfs network or they are pe

[2018-06-18 16:30] alanshaw commented on #1392
@YoleYu with IPFS you don't typically upload, you add the file to your local IPFS node and then other peers can download the chunks from you.

If you're using the HTTP API to upload a file to a remote IPFS node you have write access to then yes there's a chance that upload could fail mid way. I don't know for sure but I'd guess that there is currently no resume in this case and you'd have to retry

[2018-06-18 16:35] alanshaw commented on #1399
Did you forget to push, there's no code connecting to IPFS in there

[2018-06-18 16:44] #1397 closed

[2018-06-18 16:46] WieFel commented on #1399
I had already pushed it. Did you check TestIPFS/src/pages/home/home.ts ?

[2018-06-18 16:47] alanshaw commented on #1399
<img width="1001" alt="screen shot 2018-06-18 at 17 47 24" src="https://user-images.githubusercontent.com/152863/41550096-af177fb0-731f-11e8-9066-fbdf954ee7bb.png">

[2018-06-18 17:22] WieFel commented on #1399
Ok now I pushed it. Sorry...

[2018-06-18 18:36] amark commented on #209
@diasdavid @camelmasa @vasco-santos per https://github.com/protocol/research/issues/8#issuecomment-398044835 , we'd like to integrate with IPFS and partner with you guys. To do so, we need IPNS (we can hack around it though), is there any status update on this with js-IPFS?

[2018-06-18 20:36] alanshaw commented on #1399
This looks to be a problem with the ionic bundling process - `pull-write` is getting version 3 of `looper` when it requires it even though it depends on version 4. Version 3 has a different API and does not return a function to call (`more`).

I was able to get this to work by adding `<script src="https://unpkg.com/ipfs/dist/index.min.js"></script>` before `<script src="build/main.js"></script>` i

[2018-06-18 20:36] #1399 closed

[2018-06-19 03:51] diasdavid commented on #1394
Nothing planned but this seems like good feedback for https://github.com/ipfs/interface-ipfs-core/issues/284. Thanks for bringing it up, @xuruijing

[2018-06-19 09:53] vasco-santos commented on #209
Hello @amark

I am currently implementing `IPNS working locally` feature. Now I am polishing some edges and I intend to create an initial PR for review today, or tomorrow. Then, I will have also to work in the testing.

With this first step released, I will focus on integrating routing to the IPNS!

[2018-06-19 14:35] fsdiogo commented on #1395
According to the [dag.put spec](https://github.com/ipfs/interface-ipfs-core/blob/master/SPEC/DAG.md#dagput) the options are required. We could have some defaults to make it optional though.

[2018-06-19 16:00] vasco-santos commented on #209
@amark here we go https://github.com/ipfs/js-ipfs/pull/1400

[2018-06-19 17:08] amark commented on #209
@vasco-santos this is AWESOME and very timely! @mmalmi I know your traveling internationally next week, maybe we should sit down and look at this the week after, like early July (I'll email you directly, just wanted to tag you so you saw the js-ipns commit).

@vasco-santos excellent work, keep it up! :)

[2018-06-20 08:39] xuruijing opened #1402 "Is there a detailed description of the err parameter type in the callback function？"
Many callback functions in the API have the err parameter, where is the type of this parameter described in detail? For example, hashcode does not exist or timeout error messages

[2018-06-20 08:44] #1394 closed

[2018-06-20 08:47] alanshaw commented on #1402
`err` objects are currently just the built in type `Error`. There is discussion and work in progress for adding error codes to messages so that they can be dealt with appropriately: https://github.com/ipfs/interface-ipfs-core/issues/300

[2018-06-20 08:49] alanshaw commented on #1395
An `options` object should always be optional IMHO. This needs to be fixed.

[2018-06-20 09:00] diasdavid commented on #1379
The change was reverted in libp2p-webrtc-star to mitigate this error. @ya7ya let's make sure to do an integration test when https://github.com/libp2p/js-libp2p-webrtc-star/pull/146 gets back.

@Artod thank you for reporting. a fresh npm install should get you golden :)

[2018-06-20 09:55] #1402 closed

[2018-06-20 15:12] Artod commented on #1379
@diasdavid thx!

[2018-06-20 16:46] fsdiogo opened #1406 "Taking control of Error Handling, reducing js-ipfs Daemon crashes"
Hey everyone, this issue has the purpose of gathering everything related to the `js-ipfs` daemon crashes and error handling.

Right now the daemon is unstable, there are a lot of uncaught exceptions and they crash the process when an error occurs down the stack.

There is a lot of work to be done around the robustness of the daemon and gateway, so this will serve as a roadmap to the state of each

[2018-06-21 08:48] vasco-santos commented on #209
@lgierth at this point and in this PR, we are only using the local datastore of the peer.

But thanks for reaching out in this issue, because I also want to know if those interop issues that you mentioned above are fixed or not. @diasdavid and @Stebalien do you have information on this?

[2018-06-21 10:14] fsdiogo commented on #1331
@Jonybang can you confirm this is still a problem with the latest version of `ipfsd-ctl` and `js-ipfs`?

[2018-06-21 14:36] Stebalien commented on #209
I don't know if anyone has tested DHT interop since the fix.

[2018-06-21 17:34] Jonybang commented on #1331
Now all working fine by this code:
[code]
if i'm trying to call `init` instead of `start`: ipfsd throwing error `Error Error: Not able to init from state: stopped`, but i'm think this is fine.

[2018-06-21 17:35] #1331 closed

[2018-06-21 22:57] diasdavid commented on #1179
I'm moving the location of this call to https://github.com/ipfs/pm/issues/650 so that it gets referenced by the js-ipfs, js-libp2p and js-ipld projects. Closing this issue.

[2018-06-21 22:57] #1179 closed

[2018-06-22 08:02] jualy007 commented on #763
Great works

[2018-06-22 14:51] Artod commented on #1379
@diasdavid  I just upgraded to 0.29.3 and got the same errors

[2018-06-22 15:05] diasdavid commented on #1379
@Artod did you `rm -rf node_modules && rm package-lock.json && npm install`?

[2018-06-22 15:30] Artod commented on #1379
I load it using a <script> with src from here https://unpkg.com/ipfs@0.29.3/dist/index.min.js

My app is built with the create-react-app. As far as I remember there is an issue with building an app importing ipfs.

[2018-06-22 16:08] fsdiogo commented on #1406
Would it be worth it to have a repo that listed all the error codes in the `js-ipfs` scope?

It would ease the process of finding the correct codes when we need to use a code that is in a different repo.

The codes would then be imported from that repo.

[2018-06-25 12:53] PascalPrecht commented on #738
@diasdavid happy to help out with those last tasks (if they still need to be done).

Any pointers where things should be documented?

[2018-06-25 14:12] vasco-santos commented on #1406
I was thinking the same while doing the `ipns working locally` [feature](https://github.com/ipfs/js-ipfs/pull/1400) and more precisely [here](https://github.com/ipfs/js-ipns/pull/1/files#diff-5c8b199a98cb05fcfa67ad0a331c165bR1).

I added several errors that I believed that could be in a common repo and could be reused accross multiple other modules.

[2018-06-25 14:35] fsdiogo commented on #1406
Yeah, I think so too. I can create that repo and start to extract some of the errors in the other repos.

What do you guys think of this?

@diasdavid @alanshaw @jacobheun @dryajov @VictorBjelkholm @hugomrdias

[2018-06-25 15:13] jacobheun commented on #1406
I would love to see externalized, extendable errors across ipfs/libp2p/ipld.

I also think the errors could be a great place to use classes. Extending errors and being able to use `instanceof` would be extremely helpful in handling errors properly and generically (when appropriate). Making these classes and having the codes implemented in the classes themselves could also help reduce the possibili

[2018-06-25 18:37] mikeal commented on #1311
So, what I'd like a little guidance on is "what is the policy for new things." I don't think it's realistic, or worth it, to dedicate cycles to re-writing lots of working code that uses callbacks. But being that all the reference implementations are written using callbacks it implies that people should not write new modules using promises and async/await.

Many of the top level API's for modules s

[2018-06-25 19:54] mikeal commented on #1311
@diasdavid thanks for the pointers, i'll take a look and maybe we can revisit this all in Berlin :)

[2018-06-25 21:03] parkan opened #1411 "Repo version mismatch message confusing"
The go-ipfs error for old repo version is relatively helpful: `ipfs repo needs migration`

however, the js-ipfs error doesn't tell you *what* needs to be upgraded, for example here the user could easily think that their *node* version is the issue:
[code]

as far as I can tell, repo upgrades in js are still an unsolved problem (https://github.com/ipfs/js-ipfs/issues/1071), but it's good to underst

[2018-06-27 09:14] diasdavid commented on #1411
Thanks for reporting this @parkan, totally agree that the help text is not super helpful. Fun thing is that for Node.js, you should be actually able to use the fs-repo-migrations from go as well. https://github.com/ipfs/js-ipfs/issues/1115 is just for when you are running in the Browser.

[2018-06-28 00:15] travisperson opened #2903 "Standardizing test formats"
To help reduce some test complexity I want to propose some patterns that I think might help clean up a lot of the tests and make things a bit easier to read and work through.

Here is a gist that shows a bit more of this in code
https://gist.github.com/travisperson/878610af9c4b3608e36323da191625d1

### Standard the naming convention of ipfs interfaces objects

Its easier to read and understand tes

[2018-06-28 03:44] tcsiwula commented on #1283
Still need help on this?

[2018-06-28 12:58] lidel opened #2864 "ipfs.files.add is missing error handling on invalid response from go-ipfs"
### The Bug

Sometimes (for specific multipart payloads in browser context) the `ipfs.files.add`  backed by go-ipfs returns an error in the middle of valid payload:

[code]

Then, upon receiving this payload, `js-ipfs-api` does not throw an error, but silently ignores the last line and returns a partial result list with only two first items. ([screenshot](https://user-images.githubusercontent.com/

[2018-06-29 14:37] PascalPrecht commented on #1395
@alanshaw I'd like to give this a spin in case nobody is working on this yet.

While looking into this, some questions came up regarding the testing environment:

- Tests for this API are written in [interface-ipfs-core](https://github.com/ipfs/interface-ipfs-core), so I assume, [this](https://github.com/ipfs/interface-ipfs-core/blob/master/js/src/dag/put.js#L16) would be the place to a have spec

[2018-06-29 14:52] alanshaw commented on #1395
@PascalPrecht that would be awesome if you had a go.

You can write your tests in `interface-ipfs-core`, and use `npm link` to enable you to run your tests against your code in `js-ipfs`.

At the moment I've not been able to merge the PRs that enable the `only` skip so for the time being if you branch off of https://github.com/ipfs/js-ipfs/pull/1389 then you should be able to rebase when it's merg

[2018-06-29 18:06] mikeal opened #1416 "Notes on building and manipulating large IPLD graphs in JavaScript and LevelDB."
Because I need to use the data, and as a good project to learn the
ecosystem, I took on the task of loading [gharchive](https://www.gharchive.org/) into IPFS/IPLD.

A few things about gharchive.

* A single gzipped JSON file for every hour of GitHub activity.
* Typical hour in 2018 ranges from 20K-70K JSON objects.
* Does not contain any code, just the activity metadata for a range
of GitHub activ

[2018-06-29 18:53] mikeal commented on #1416
Also, the profiler is showing me a few places in dependencies that we're spending a bit too much time. These deps are used all over the IPFS/IPLD stack so I'm digging in to see what I can do. Sent one PR already https://github.com/tjmehta/is-circular/pull/7

[2018-06-29 22:18] diasdavid commented on #1416
Woa, this sort of experimentation and feedback is incredibly useful! Thank you so much for giving IPLD a spin and writing all of this up! ❤️ ❤️ ❤️ ❤️ ❤️ ❤️

Very valid point and one that I've also noticed to be a big pain for the users. We've been trying to guide users by ordering the APIs by their current importance-- https://github.com/ipfs/js-ipfs#files -- and only have examples that demonstrat

[2018-06-29 22:20] diasdavid commented on #1416
@vmx @pgte, pinging you to check out this thread too :)

[2018-06-29 22:41] mikeal commented on #1416
So, these are optimized for a very specific use case. I made a lot of tradeoff's that I may not necessarily recommend for IPFS proper. This is so optimized for a single user building a graph on a single machine that it makes the experience basically unusable for more than one user. I would never want a multi-user daemon to allow a single user to consumer 200M-1G for days at a time. But because the

[2018-06-29 22:46] mikeal commented on #1416
BTW, it's still running, this is the latest.

[code]

Wow, that's 78820 raw nodes and 156897 cbor nodes processed and written in 297 seconds. Even with 11 days of data and a lot of blocks that need to get gc'd clogging up leveldb it's doing 793 nodes a second on my Macbook with the worst filesystem *ever*.

[2018-06-30 10:05] PascalPrecht commented on #1322
@olizilla have you started implementing this already, or do you need any help with this?

[2018-06-30 17:28] diasdavid commented on #1033
@jacobheun @alanshaw could you please confirm that this has been officially fixed?

[2018-06-30 17:30] diasdavid commented on #1088
After seeing the magic @ya7ya did with WebRTC on paratii, I now know that there is a way to pipe tons of data through WebRTC without having it consume tons of memory both in Firefox and Chrome.

@ya7ya could you outline the patches/changes you did or help lead the way by submitting the PRs needed? This is super high priority and of high importance :)

[2018-06-30 17:35] diasdavid commented on #1156
Woot, awesome work @olizilla ❤️ Closing this one. @mitra42 let us know if you see that error again :)

[2018-06-30 17:35] #1156 closed

[2018-07-01 08:52] alanshaw commented on #1033
As far as I can tell there's still and issue open for this - https://github.com/libp2p/js-libp2p-secio/issues/41

Does the fix need to come from libp2p-switch - should not be fatal error if a connection fails to handshake.

[2018-07-01 09:01] ya7ya commented on #1088
Hey @diasdavid , Sorry for the late reply 😄

I'm not so sure if my fixes to the paratii fork solved the underlying problem. it's important to mention that paratii would crash if we ran 5 or 6 embedded players in 1 page. but it has web3 + ipfs + clappr bundled. and it's mainly the web3 fault if i remember correctly.

but the main change is limiting the `MAX_MESSAGE_SIZE` in `js-ipfs-bitswap` to aro

[2018-07-01 15:21] mkg20001 commented on #1088
Or just drop the extra websocket server entirely: https://github.com/libp2p/js-libp2p-webrtc-star/pull/148

[2018-07-01 23:40] haraldrudell commented on #1283
The ECMAScript client is in need of a rewrite: it uses some pre-2015 non-standard streams implementation, closures and dictionaries of functions when today's answer would be async iterators. Not a class in sight

with the go client, one can do
**ipfs add --chunker=rabin-48-96-192 LICENSE**
added QmaJfZamtgZAPgYfPe5HbjEzbgf3YHgCUCu7yfDadwNXSd LICENSE
 1.06 KiB / 1.06 KiB [==========================

[2018-07-02 11:50] diasdavid commented on #1307
I've tested this with https://github.com/ipfs/js-ipfs/tree/master/examples/exchange-files-in-browser multiple times and I've been always successful. @AquiGorka can you check again if this is still a issue was it ever a issue?

[2018-07-02 12:19] AquiGorka commented on #1307
@diasdavid thanks for the reply, it is an issue (still is).

I wrote a more detailed explanation here: https://github.com/AquiGorka/test-ipfs-file-sharing

There are two configurations for the signaling server:
- `webocket`
- `webrtc`

The example you mention uses `websocket` (/dns4/ws-star.discovery.libp2p.io/tcp/443/wss/p2p-websocket-star), which will always work well. In my test scenario if the

[2018-07-02 12:23] AquiGorka commented on #1307
I developed a GIF sharing app that uses IPFS and implemented cross-browser e2e tests, if the settings use `webrtc` (either local or IPFS) the tests fail, when using local `websocket` the tests always pass and when using the IPFS websocket signaling server, the tests sometimes pass and other they don't (could never tell why, maybe a traffic throtttle for connections on the signaling server).

You c

[2018-07-02 14:54] eolszewski opened #1417 "LibP2P code breaks Pubsub when compiled"
**Version**:
ipfs@0.29.3

**Platform**:
Darwin Kernel Version 15.4.0

#### Type:
Bug

#### Severity:
High

#### Description:
Running locally works fine, but once you compile and minify, you get the following error:
[code]

Which I attribute to the following: https://github.com/libp2p/js-libp2p-secio/issues/100

#### Steps to reproduce the error:
I'm still working out exactly how to reproduce this

[2018-07-02 15:13] jacobheun commented on #1033
I can double check, but I believe the latest versions of libp2p-switch handle connection hang ups like these properly so they're not spitting out errors.

[2018-07-02 15:16] jacobheun commented on #945
I'll verify, but this should be resolved in newer versions of libp2p-switch so that valid connection failures aren't being thrown.

[2018-07-02 17:51] eolszewski commented on #1417
@diasdavid here a branch that will allow you to reproduce this.

https://github.com/eolszewski/ipfs-pubsub-chatroom/tree/feature/webpack

If you clone this and run:

[code]

and then open your browser, you will notice no errors.

However, if you run:

[code]

And then open your browser you will see the error mentioned above.
`Uncaught (in promise) Error: Callback was already called.`

[2018-07-02 19:54] obo20 opened #2867 "Error: multihash too short. must be > 3 bytes."
If you submit a request to get a file using ipfs.files.cat, and you have a hash that is greater than 3 bytes, you still get the error message: "Error: multihash too short. must be > 3 bytes."

For example:

`ipfs.files.cat(/ipfs/QmUzdHisA7ouM8DM5rVAKursVK7t7tKeqDYGvmaCdJw5jEeesdlfjsldkfjsldkfjsdlkfjskldfj` will return that error message

[2018-07-02 19:59] eolszewski commented on #1417
This was solved by adding the following to `uglifyOptions`:
`compress: { unused: false }`

[2018-07-02 19:59] #1417 closed

[2018-07-02 22:13] travisperson opened #2902 "Config Set: Test isolation / validation"
Currently `.config.set should fail on non valid value` is the only test that does not run in isolation (from `js-ipfs-api` under `go-ipfs v0.4.15` :tada:)

However, I don't believe it's really testing what we want it to be testing. It appears it's trying to produce an error by passing an invalid type, similar to the `non valid key` test above it.

https://github.com/ipfs/interface-ipfs-core/blob/e

[2018-07-03 08:04] olizilla commented on #1344
Fix is merged to parcel master, just waiting for the next release now.
https://github.com/parcel-bundler/parcel/pull/1011#issuecomment-401880193

[2018-07-03 10:12] #1395 closed

[2018-07-03 20:23] nils-ohlmeier commented on #1088
FYI https://lgrahl.de/articles/demystifying-webrtc-dc-size-limit.html explains the old limits on maximum messages which could be send over data channels. But newer versions of Firefox now support way bigger messages https://blog.mozilla.org/webrtc/large-data-channel-messages/

That doesn't mean that sending large amount of data over data channels might cause stability problems. Just thought I poin

[2018-07-05 08:48] diasdavid commented on #1375
It's is time for the release \o/ 🏎

[2018-07-05 10:30] PascalPrecht opened #1422 "Example: Browser video streaming broken"
- **Version**: https://github.com/ipfs/js-ipfs/commit/c01a83a67f0bb14b0a6ed22b3a66601ee1a48cde
- **Platform**: Darwin slotmachine-3002.local 17.6.0 Darwin Kernel Version 17.6.0: Tue May  8 15:22:16 PDT 2018; root:xnu-4570.61.1~1/RELEASE_X86_64 x86_64
- **Subsystem**: js-ipfs

#### Type: Bug

#### Severity: Medium/Low

#### Description:

In latest master (https://github.com/ipfs/js-ipfs/commit/c01a

[2018-07-05 11:05] alanshaw commented on #1422
@PascalPrecht thanks for reporting - did you find issues with any of the other examples?

[2018-07-05 11:11] alanshaw commented on #1422
Looks like https://github.com/moshisushi/hlsjs-ipfs-loader/blob/f0df3ff963bfb0ed8b4e6faf3aefa8e69a72d941/src/index.js#L90 needs to use `catReadableStream` instead...

[2018-07-05 11:56] PascalPrecht commented on #1422
Have been through a couple other examples, not all of them yet as I had to do some other work.

I'll take a look at the hlsjs-ipfs-loader thing.

[2018-07-05 12:04] alanshaw commented on #1422
Since that's an external dependency I think it would be more valuable to continue through the examples and come back to it later.

[2018-07-05 12:19] PascalPrecht commented on #1422
Gotcha!

[2018-07-05 12:20] diasdavid commented on #1313
All good now, right?

[2018-07-05 12:40] PascalPrecht opened #1423 "Example: Circuit Realying broken"
- **Version**: https://github.com/ipfs/js-ipfs/commit/c1ee2474b08928ad64dac9148b7852f6c272387e

#### Type: Bug

#### Severity: Medium

#### Description:

At the time of creating this issue (latest master https://github.com/ipfs/js-ipfs/commit/c1ee2474b08928ad64dac9148b7852f6c272387e), following the tutorial instructions in the `circuit-relaying` example results in the following building error:

[c

[2018-07-05 13:51] PascalPrecht opened #1424 "Example: Exchange files in browser is broken - no `ipfs` module"
- **Version**: https://github.com/ipfs/js-ipfs/commit/c1ee2474b08928ad64dac9148b7852f6c272387e

#### Type: Bug

#### Severity: Medium

#### Description:

Following the installation and run instructions of that tutorial results in the following error

[code]

Looking at the installed node_modules, the `ipfs` package is indeed missing.

#### Steps to reproduce the error:

[code]

[2018-07-05 14:46] fsdiogo commented on #1424
That's weird, but it's happening to me too.

I tried changing the `package.json` dependency to `"ipfs": "0.29.3"`, deleted and reinstalled the `node_modules` and then everything worked as expected 🤔

I'll take a look at it. Thanks for reporting it!

[2018-07-05 15:58] alanshaw commented on #1039
https://github.com/ipfs/developer-meetings/pull/19

[2018-07-05 22:03] alanshaw commented on #1375
It's happening, tell all your friends. All the commits are in and the admin tasks almost complete. 🚢 toot toot!

[2018-07-06 06:36] seungwon-kang commented on #1422
I builded the hlsjs-ipfs-loader (https://github.com/moshisushi/hlsjs-ipfs-loader) and tested it, but it works well. I found that the recent version of it works well.

[2018-07-06 07:35] diasdavid commented on #1375
@alanshaw when running the tests, it is good to leave a note to the dev saying that we were there even if just to say "it is aaaallll goood", see example: https://github.com/ipfs-shipyard/ipfs-pubsub-room/issues/43

[2018-07-06 08:39] PascalPrecht commented on #1422
@seungwon-kang are you saying you couldn't reproduce the bug in the version of the issue?

[2018-07-06 09:34] seungwon-kang commented on #1422
@PascalPrecht It was already issued before (https://github.com/moshisushi/hlsjs-ipfs-loader/issues/1), so the maintainer fixed the issue and published the new version (0.1.2).

In the getFile function in version 0.1.1(https://unpkg.com/hlsjs-ipfs-loader@0.1.1/dist/index.js),

[code]
error occurs in `stream.on` because `stream` variable is from `ipfs.files.cat` function, so `stream` is buffer insta

[2018-07-06 09:38] PascalPrecht commented on #1422
Ah, perfect! Thanks for clarifying!

[2018-07-06 11:40] diasdavid commented on #1422
Fixed with #1427

[2018-07-06 11:40] #1422 closed

[2018-07-06 14:53] jacobheun commented on #1033
@diasdavid @alanshaw sorry for the delay, yes this can be closed. https://github.com/libp2p/js-libp2p-secio/pull/101 fixed this and libp2p/js-libp2p-secio#41 by ensuring errors are passed up the callback chain to the dialer.

[2018-07-06 16:06] #1033 closed

[2018-07-07 12:47] alanshaw commented on #1344
For anyone else wondering if it was released yet - when parcel version is >1.9.4 this will be fixed

[2018-07-07 12:49] alanshaw commented on #1391
We don't have an [example](https://github.com/ipfs/js-ipfs/tree/master/examples) for this but if you figure it out and send a PR that would be amazing 🚀 !

[2018-07-07 12:49] #1391 closed

[2018-07-08 16:10] AquiGorka commented on #754
@gavinmcdermott looking at doing the same thing, could you help me understand how you did this for the browser? How can I get my node instance setup with a private key I already have?

[2018-07-09 13:57] PascalPrecht commented on #1424
@fsdiogo thanks for confirming!

I guess to get this quickly out of our way, we should PR the dependency version. Did find anything else?

[2018-07-09 15:38] jbenet commented on #1375
ship it ❤️

[2018-07-09 15:38] Kubuxu commented on #1375
whatever :heart:

[2018-07-09 15:38] vasco-santos commented on #1375
this is a heart => ❤️

[2018-07-09 15:38] satazor commented on #1376
❤️

[2018-07-09 15:38] fsdiogo commented on #1375
Let's do it ❤️

[2018-07-09 15:38] djdv commented on #1375
LGTM ❤️

[2018-07-09 15:38] miyazono commented on #1375
meh ❤️

[2018-07-09 15:38] b5 commented on #1375
🥁 ❤️ ❤️ ❤️ 🥁

[2018-07-09 15:38] gpestana commented on #1375
great job, go for it!! ❤️

[2018-07-09 15:38] marcooliveira commented on #1375
Super!! Bring it on! ❤️🤘

[2018-07-09 15:38] lanzafame commented on #1375
@lanzafame was here 🎉

[2018-07-09 15:38] jonnycrunch commented on #1375
Wow! this is the best thing since slice bread!

[2018-07-09 15:38] jacobheun commented on #1375
🚀 ❤️ 🚀

[2018-07-09 15:38] 42piratas commented on #1375
<3

[2018-07-09 15:38] koalalorenzo commented on #1375
❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️

[2018-07-09 15:38] colinevran commented on #1375
SHIP IT!!!! ❤️

[2018-07-09 15:38] achingbrain commented on #1375
❤️ !

[2018-07-09 15:38] Mr0grog commented on #1375
👏 ❤️ 👏 ❤️ 👏 ❤️ 👏 ❤️ 👏 ❤️ 👏 ❤️  js-ipfs Tinkerbell edition!

[2018-07-09 15:39] satazor commented on #1375
❤️🎉

[2018-07-09 15:39] parkan commented on #1375
♥️

[2018-07-09 15:39] magik6k commented on #1375
❤️

[2018-07-09 15:39] travisperson commented on #1375
go go go go ❤️

[2018-07-09 15:39] VictorBjelkholm commented on #1375
Waaaat

[2018-07-09 15:39] lidel commented on #1375
![](https://ipfs.io/ipfs/QmbWqxBEKC3P8tqsKc98xmWNzrzDtRLMiMPL8wBuTGsMnR?x-ipfs-compion-no-redirect)

[2018-07-09 15:39] steverichmond commented on #1375
❤️ 💟

[2018-07-09 15:39] lgierth commented on #1375
lars was here

[2018-07-09 15:39] olizilla commented on #1375
<3

[2018-07-09 15:39] parkan commented on #1375
🥁

[2018-07-09 15:39] jonnycrunch commented on #1375
I was here when it happened!  Proof of space time!

[2018-07-09 15:39] kyledrake commented on #1375
![cake](https://user-images.githubusercontent.com/28153/42460773-0ba6efc4-839f-11e8-93a0-40639f20e5a0.jpg)

[2018-07-09 15:39] dignifiedquire commented on #1375
❤️❤️❤️❤️❤️🎉🎉🎉🎉🎉

[2018-07-09 15:39] hsanjuan commented on #1375
<3

[2018-07-09 15:39] jbenet commented on #1375
![](https://media.giphy.com/media/Hw8vYF4DNRCKY/giphy.gif)

[2018-07-09 15:39] marcooliveira commented on #1375
are we there, yet? ❤️

[2018-07-09 15:39] Kubuxu commented on #1375
![](https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Heart_coraz%C3%B3n.svg/1200px-Heart_coraz%C3%B3n.svg.png)

[2018-07-09 15:39] cpacia commented on #1375
<3

[2018-07-09 15:40] mib-kd743naq commented on #1375
💔

[2018-07-09 15:40] kevina commented on #1375
LGTM

[2018-07-09 15:40] colinevran commented on #1375
![download](https://user-images.githubusercontent.com/29641938/42460847-37b87420-839f-11e8-8599-73d59df74066.jpeg)

[2018-07-09 15:41] marcooliveira commented on #1375
![image](https://user-images.githubusercontent.com/1159695/42460884-5a05f14c-839f-11e8-9dc8-6bc1b5352a8b.png)

[2018-07-09 15:46] Kubuxu commented on #1375
![](https://i.imgflip.com/2doda5.jpg)

[2018-07-09 15:47] dongtianyi commented on #1375
test

[2018-07-09 15:47] dongtianyi commented on #1375
fly to the future

[2018-07-09 16:18] marcooliveira commented on #1375
Told you we were being rick rolled...

[2018-07-09 16:29] #1375 closed

[2018-07-09 16:54] diasdavid commented on #1375
# IT HAS HAPPENED

![image](https://user-images.githubusercontent.com/1211152/42464471-700b9cee-83a9-11e8-9ac2-716270653a28.png)

ANN Tweet: https://twitter.com/daviddias/status/1016364733107228673

[2018-07-10 16:04] lgrahl commented on #962
Be aware that adding worker support to WebRTC is heavily requested and currently being investigated as part of WebRTC NV (next version).

[2018-07-10 16:11] lgrahl commented on #1088
Do you guys make use of the (quirky) flow control there is for data channels (namely `bufferedAmountLowThreshold`, `onbufferedamountlow` and `bufferedAmount`)? If not, it might be that you're buffering too much data at once. I've written an [example](https://lgrahl.de/examples/dc/dc-stress-buffering.html) a while ago how this can be used.

I haven't looked at your code yet but feel free to ping me

[2018-07-11 15:50] fsdiogo commented on #1424
It seems to work by upgrading to `0.30.0`, so I've made a PR changing that! Thanks 👍

[2018-07-11 16:56] #1424 closed

[2018-07-11 18:01] parkan opened #1432 "readableStream broken with raw leaves"
- **Version**: v0.30.0
- **Platform**: any
- **Subsystem**: files

#### Type: Bug-ish

#### Severity: Moderate

#### Description
The [browser-readablestream](https://github.com/ipfs/js-ipfs/tree/master/examples/browser-readablestream) demo is a very nice way of handling large video files for seeking. Unfortunately, it appears to break when the files are added using `--raw-leaves`  (required for fi

[2018-07-12 09:17] alanshaw commented on #1392
ping @achingbrain

[2018-07-12 09:18] alanshaw commented on #1432
@parkan do you have an error message or stack trace to help us track this one down?

[2018-07-12 09:48] alanshaw commented on #1131
Try:

[code]

[2018-07-12 09:52] parkan commented on #1432
error is:

[code]

with `zdj7Wc9BBA2kar84oo8S6VotYc9PySAnmc8ji6kzKAFjqMxHS` (or `QmV3voixu7NXC6VChMYC2AmammEj5EBzsPhEKWmavPo47W ` in v0)

[2018-07-12 10:18] xuruijing opened #1435 "j s-ipfs runs on the phone but a heavy CPU load, so can it reduce power consumption?"
I'm using nodeJs for mobile in a [project](https://github.com/mistakia/record-app) (react-native), mainly hoping to run IPFS on mobile. I'm experiencing performance issues on the device(iPhone 6+) and simulator, Once the code runs to the ipfs-api, the CPU surges up to 100% and persists. Is it because IPFS has too many connections? Is there a way to limit connections and reduce power consumption?

[2018-07-12 11:12] alanshaw commented on #1435
In ipfs@0.30 you can manage connections with the new connection manager.

You pass `connectionManager` options to the IPFS constructor https://github.com/ipfs/js-ipfs#ipfs-constructor

Options for the connection manager are documented here: https://github.com/libp2p/js-libp2p-connection-manager#create-a-connectionmanager

[2018-07-12 11:18] alanshaw commented on #1344
It is released, anyone available to test?

[2018-07-12 11:22] alanshaw commented on #1284
This was fixed recently by #1427

[2018-07-12 11:22] #1284 closed

[2018-07-12 11:28] alanshaw opened #1436 "Add examples of required setup/config to bundle IPFS for the browser using popular bundlers"
* [x] Create react app (see https://github.com/ipfs/js-ipfs/issues/1321)
* [x] Webpack
* [x] Browserify
* [x] Parcel (see https://github.com/ipfs/js-ipfs/issues/1344)
* [x] Vue (https://github.com/ipfs/js-ipfs/pull/2302)

[2018-07-12 12:04] VictorBjelkholm commented on #1423
@alanshaw this seems to be the same issue as with the aegir docs generation, right?

[2018-07-12 12:06] VictorBjelkholm commented on #1423
Seems Alan actually fixed it and it's in master now: https://github.com/ipfs/js-ipfs/commit/a08a17dfa06951b07cd92877b281246e55442429

@PascalPrecht can you try again and close the issue if it's been fixed?

[2018-07-12 13:37] alanshaw commented on #1423
Yep, that's been resolved - hopefully this example now works!

[2018-07-12 14:34] PascalPrecht commented on #1423
Hm... so on latest master `npm install` is now failing with:

[code]

[2018-07-12 14:35] PascalPrecht commented on #1423
@VictorBjelkholm can you confirm this? ^

[2018-07-12 15:01] PascalPrecht commented on #1436
We should introduce documentation for that as well in case this doesn't exist yet. Those could then link to the examples.

[2018-07-12 17:30] mitra42 commented on #1131
Thanks @alanshaw that worked, It would probably a good idea to add that configuration to https://github.com/ipfs/js-ipfs/blob/master/examples/browser-webpack/webpack.config.js .

[2018-07-12 20:33] diasdavid commented on #1131
@mitra42 what about submitting that as a PR? ;)

[2018-07-13 08:41] ceresstation commented on #1283
Hey @tcsiwula - yes! If you'd still like to take it on let me know.

[2018-07-13 08:48] mikeal commented on #1283
https://www.npmjs.com/package/rabin

On Fri, Jul 13, 2018, 9:41 AM Scott Moore <notifications@github.com> wrote:

[2018-07-13 12:20] alanshaw commented on #1436
...and (on a slightly different but related topic) run our tests against our pre-bundled code.

[2018-07-13 12:23] alanshaw opened #1438 "What does it mean to start an IPFS node?"
Is there any info on what my expectations should be when I construct a new IPFS node but don't start it? What APIs can I call? What network activity happens?

I'm just wondering, because right now, if I construct a node but don't start it, the node is **stopped** but the repo is left **open**. If I then start it and stop it the repo is **closed**, until I start it again...

[2018-07-13 17:20] parkan commented on #1432
@diasdavid sure, but I won't have any time before DWeb, can we merge a hotfix and get it covered after aug 3rd?

[2018-07-13 17:36] mitra42 commented on #1131
Sure ... about half way through doing this, I realized that the browser-webpack example is actually a browser-webpack-react example, and while it works with the builtin webpack server, it wont actually compile with the usual ways of building a bundle that can be included in a project,  `webpack --mode development` or `webpack --mode production`.

Does this need splitting into two examples, with on

[2018-07-13 18:15] mitra42 commented on #1436
Coincidentally ... I posted a comment in #1131 about this today, there is an example for webpack, however it ONLY works with the embedded webpack server, the normal `webpack --mode development` or `webpack --mode production` fail because of the "loaders" keyword that only seems to work for the embedded webpack server.

Also ... I think there should be an example with and without react, to show tha

[2018-07-14 09:40] kyledrake opened #1440 "Make js-ipfs capable of working with cidv1b32"
js-ipfs needs to be able to work with cidv1b32 addresses, for both creation and retrieval.

- Ability to set option in `new IPFS({})` or as option to commands like `ipfs add` to output base32 cidv1
- Refactor the current blockstore to use multihashes for keys

Eventually we want to do a synchronized release with go-ipfs and default to cidv1b32, but for now let's start with getting the basic suppor

[2018-07-14 12:29] diasdavid commented on #1438
A node can be either `online` or `offline` in terms of connecting to the outside world, nevertheless, if it exists and it _attaches itself to a repo_ the repo should be locked for it so that there are no other race conditions with other nodes.

I'm feeling that we need better words to describe these stats rather than `start/stop`.

[2018-07-14 18:49] yashwanth2804 opened #1442 "cannot find ipfs module"
Error: Cannot find module 'ipfs' from

[code]

[2018-07-14 19:21] alanshaw commented on #1442
@yashwanth2804 run `npm install` in `/home/hasura/Videos/js-ipfs-master` and then again in `/home/hasura/Videos/js-ipfs-master/examples/browser-browserify`.

[2018-07-15 12:03] vasco-santos commented on #1438
I still think that the state machine has some inconsistencies, at least with the naming that we use. Anyway, I think it would be nice to have a graphical representation of the state machine.

[2018-07-15 12:36] #1162 closed

[2018-07-15 21:00] AquiGorka commented on #1365
This is exactly what I submitted here: https://github.com/ipfs/js-ipfs/issues/1307

More info: https://github.com/AquiGorka/test-ipfs-file-sharing

[2018-07-16 07:34] alanshaw commented on #1442
@yashwanth2804 did this solve your problem?

[2018-07-16 08:18] alanshaw commented on #1438
If start/stop essentially means online/offline then I think that's ok. That **was** my assumption but I didn't know for sure!

We just need to communicate/document better what it means.

Also, go through each API call and define our expectations in online/offline mode. This will allow us to write tests and document what you can and can't do in offline mode.

If the repo should still be open (locke

[2018-07-16 08:19] yashwanth2804 commented on #1442
yes thanks

[2018-07-16 08:19] #1442 closed

[2018-07-16 08:40] olizilla commented on #1423
@PascalPrecht I can confirm, I'm seeing this too. Am investigating.

[2018-07-16 09:23] olizilla commented on #1423
Deleting and rebuilding `examples/circuit-relaying/package-lock.json` fixes the build error. I'm going to update the deps and submit PR for it.

[2018-07-16 09:30] alanshaw commented on #1435
Does that answer your question @xuruijing?

[2018-07-16 09:34] alanshaw commented on #1436
It would be better if IPFS just worked<sup>tm</sup> with uglify defaults.

[2018-07-16 09:38] alanshaw commented on #1131
Yes, a webpack example without framework will allow people to use it as a base and add their own framework. Many people will be using webpack+react, but not eveyone!

[2018-07-16 15:15] PascalPrecht commented on #1423
Thanks @olizilla let me know if you need any help

[2018-07-16 16:19] olizilla commented on #1423
@PascalPrecht the adventure continues!

- removing the package-lock.json and rebuild fixes the error and let's you npm install again.
- running the example, my browser nodes never listed an address in the addresses box. IPFS booted and a peerId was listed, bit no address.
- building the example to test the new parcelJS, I got an exciting error which looks like another bundling optimisation error t

[2018-07-16 17:22] PascalPrecht commented on #1423
I can confirm this. I don't get the parcel error tho. Anything specific required to reproduce that one apart from `npm install` and `npm start` ?

[2018-07-16 17:51] olizilla commented on #1423
Ah yes, the bundle error is from running `npm run build` to create the optimised static site to `dist` then running a static file server over it like `npx http-server dist`.

[2018-07-16 18:20] dryajov commented on #1423
The reason the addresses are not being printed out anymore is because of the changes made to libp2p config (breaking change). The circuit config is not looked up under the `EXPERIMENTAL` flag anymore, hence it never gets enabled. I've got a PR addressing it here - https://github.com/ipfs/js-ipfs/pull/1443.

I wonder if the change to move circuit-relay from under `EXPERIMENTAL` was intentional or d

[2018-07-16 18:47] dryajov opened #1444 "npm install fails with missing git hook"
- **Version**: latest master (0.30.0)
- **Platform**: mac osx high sierra (10.13.5 (17F77))
- **Subsystem**: js-ipfs (running node `v9.11.1` and npm `v6.1.0`)

#### Type: Bug

#### Severity: High

#### Description: `npm install` fails with:
[code]

#### Steps to reproduce the error:
- clone this repo and do an `npm i`

[2018-07-16 18:56] dryajov commented on #1444
This is due to a broken symlink in the `.git/hooks` directory. Removing the symlink (`.git/hooks/pre-push`) and rerunning `npm i` fixes this issue.

[2018-07-16 19:20] jacobheun commented on #1444
Looking into this it looks like Aegir < 15 was using the `pre-push` modules. In Aegir >= 15 the move was made to use `git-validate`. This issue is that `pre-push` was creating symlinks to itself in the node_modules directory. When `git-validate` does an install it does some inspection on the hook, which now has a dead symlink.

Aside from doing a pre-install removal in aegir, which is probably unn

[2018-07-16 19:49] PascalPrecht commented on #1423
@olizilla running `npm run build` and serving `dist` statically does not produce those errors for me on latest master.

@dryajov I've checked out #1443 locally and can confirm that it fixes the example 👍

With both steps `npm start` or `npm run build && serve dist`

[2018-07-16 20:33] mikeal commented on #1436
I don't think that is practical. Uglify has given up on supporting versions of ES past ES5 natively and recommend transpiling with babel before using uglify. But, if you have to use babel anyway, you're better off using babel-minify. Even when the final output is ES5 the minification can be done a lot better.

It's just not practical to say that nowhere in the dep tree will someone not use a featu

[2018-07-16 21:14] jacobheun commented on #1423
@dryajov yes the change to move relay out of experimental was intentional, the example just got missed.  The change in js-ipfs was confirmed here at https://github.com/ipfs/js-ipfs/pull/1401#discussion_r198882493

[2018-07-16 21:56] mikeal commented on #1438
One thing that is sort of confusing because of how the docs read, it looks like you have to "start" the node in order to write/read data locally, which I don't believe is the case.

[2018-07-16 23:00] mitra42 commented on #1436
I don't know about Uglify, but I do know that IPFS is the only thing in any of the code we include that doesn't pass through webpack with standard unmodified options i.e. if there is any configuration then it is somehow included in the package itself.

[2018-07-16 23:10] mikeal commented on #1436
Sorry, I should have been clearer. I was only referring to Alan's "just work" comment, not to using uglify with webpack (which is already running through babel).

Just looked through the other issue and it looks like we require the `unused` option to false, which turns off the removal of unused functions.

This means either:

* We're doing something very fancy/clever/horrible to address functions

[2018-07-16 23:18] Stebalien opened #1445 "Close streams when done with them"
Our stream muxers all support half-open connections. Therefore, if you *receive* an EOF on a stream, you must *send* an EOF on that stream to fully close it. Otherwise, the other end will (if correctly implemented) sit around waiting for the EOF.

I know that the part of bitswap that accepts blocks from peers isn't doing this and I wouldn't be surprised if this doesn't happen in other places as we

[2018-07-16 23:30] mitra42 commented on #1436
I believe (but can't be sure) its the former - as discussed in https://github.com/ipfs/js-ipfs/issues/1131

[2018-07-17 01:35] agahEbrahimi opened #1446 "Already Piped"
I have been attempting to work with ipfs-pubsub room but it randomly exits and gives this error. I have attempted the fixes in some issues on ipfs but they have not worked. Any ideas of how to fix it?

My ipfs version is the latest stable version.

These are the issues I am referring to:
https://github.com/libp2p/js-libp2p-switch/issues/235
https://github.com/ipfs/js-ipfs/issues/1156

This is the

[2018-07-17 01:45] xuruijing commented on #1435
Thank you very much for your reply, I don't know how to use the connectionManager, how to configure the parameters, such as when to call, my goal was to reduce the power consumption of the CPU run time, and don't know how by connectionManager configuration can achieve this goal? In addition, I use ipfsd-ctl to start ipfs.

[2018-07-17 08:03] vmx commented on #1444
Is this OSX specific? It never happened to me (I'm on Linux).

[2018-07-17 08:19] seungwon-kang opened #1447 "Daemon can be crashed by remote user"
- **Version**: 0.30.0
- **Platform**: Darwin (Mac OS) High Sierra 10.13.5
- **Subsystem**: libp2p

#### Type: Bug

#### Severity:

#### Description:
The below program coded by C language crashes remote js-ipfs daemon. It just connects with
a daemon (by TCP) and directly closes the connection with RST(reset) flag. It needs IP address and port of remote daemon.

#### Steps to reproduce the error:

[2018-07-17 09:16] vmx commented on #1444
Although I prefer having pre-push hooks, I also don't want to see everyone's project broken. I wonder if there's a workaround/better solution.

[2018-07-17 09:18] olizilla commented on #1322
@PascalPrecht I haven't started on this, please feel free to PR it if you're looking at it!

[2018-07-17 10:58] alanshaw commented on #1436
I totally agree. I was referring to the uglify config passed to `uglifyjs-webpack-plugin` in #1131

[2018-07-17 12:23] jacobheun commented on #1444
Okay, I was able to replicate this consistently with docker, however, it only occurs if the node_modules are removed in between npm installs. Anyone who didn't manually remove the node_modules prior to the install probably won't have the issue.

I don't think we need to do any code changes for this. In theory we could create some backward compatibility support via preinstall scripts, but since we'

[2018-07-17 12:24] #1423 closed

[2018-07-17 14:53] alanshaw commented on #1446
@agahEbrahimi could you please upgrade to the latest js-ipfs? Your stack trace is referring to an old version of libp2p-switch.

@justuswilhelm a new version of libp2p-switch has been released if you do a fresh install of js-ipfs you should pick it up.

The new libp2p-switch has a [fix for handling an error in the protocol handshake](https://github.com/libp2p/js-libp2p-switch/commit/c18e0bd55a7048

[2018-07-17 15:12] mitra42 commented on #1436
And @mikeal - the question is whether there are other sites that handle ES6 and Webpack - all our code is ES6, and it packs with `webpack --mode prodction` just fine, with default settings, (along with all its dependencies) EXCEPT for IPFS.

I believe its a problem with IPFS's use of class/function names (as discussed in # 1131), and maybe not providing whatever configuration is required inside th

[2018-07-17 18:44] agahEbrahimi commented on #1446
Thank you @alanshaw
That worked.

[2018-07-18 01:31] Stebalien commented on #1445
This should probably be `difficulty:easy`. js-ipfs just needs to close the stream when done.

[2018-07-18 06:49] PascalPrecht commented on #1444
This makes sense. Unfortunately, chances are very high that users do this. Will send a PR to have note int he README.

[2018-07-18 08:53] pgte opened #1451 "libp2p new config"
I need a version of [the libp2p new config](https://github.com/libp2p/js-libp2p/pull/166) to land here so that I can fix https://github.com/ipfs-shipyard/peer-star-app/issues/1.
Any plans for this?

[2018-07-18 08:55] alanshaw commented on #1451
That was released in v0.22 of libp2p which js-ipfs currently depends on.

[2018-07-18 09:14] PascalPrecht commented on #1444
Turns out this is happening over at `interface-core-ipfs` as well. Created another PR over there accordingly: https://github.com/ipfs/interface-ipfs-core/pull/329

[2018-07-18 09:38] pgte commented on #1451
When passing classes instead of instances to the `modules.transport` and `modules.discovery`, I'm getting this error from what I believe is js-ipfs validation:

[code]

[2018-07-18 09:50] alanshaw commented on #1451
Yes, it currently has to be an object like `{ transport: [], peerDiscovery: [] }`. This is the case in the libp2p module too.

Looking at the code, an object with a `peerInfo` property will be passed to `peerDiscovery` items if they are a function that can be new'd up.

https://github.com/libp2p/js-libp2p/blob/d9059dbad9b33e2c1434b5c13ff500ed34aa348f/src/index.js#L175

Transports don't get the `pe

[2018-07-18 10:10] pgte commented on #1451
@alanshaw Ah right, I misunderstood the error. I remember now: indeed I was trying to get a peerInfo instance into the modules constructor, but it looks like I'm still not getting one.

I'm bringing this to libp2p [here](https://github.com/libp2p/js-libp2p/issues/222).

Thanks!

[2018-07-18 10:10] #1451 closed

[2018-07-18 10:39] vmx commented on #1444
The proper solution is to make git-validate not fail. Let's hope this PR gets accepted: https://github.com/nlf/git-validate/pull/67

[2018-07-18 11:10] PascalPrecht commented on #1444
Nice @vmx !

[2018-07-18 11:13] #1444 closed

[2018-07-18 13:54] PascalPrecht commented on #1322
@olizilla I'll do that.

@diasdavid just to clarify the API. We wanna turn:

[code]
to
[code]
where `options` can have a `timeout` property, is that correct?

[2018-07-18 13:56] PascalPrecht commented on #1322
I guess on that note, we will have to introduce a decent default for `timeout`

[2018-07-19 00:18] mistakia commented on #1435
I'm having a hard time finding where `connectionManager.start()` is called.. tried looking in `libp2p` as well as in `ipfs`.

Or are we suppose to handle starting and stoping ourselves? Apologies if I'm missing something really obvious 😋

[2018-07-19 13:57] daviddias opened #1453 "The "Explore the Ethereum Blockchain" is currently broken"
Seems that some breaking changes have happened in DAG API / IPLD land that went uncaught.

@vmx do you know what changed? Can you look into this?

[2018-07-19 14:05] vmx commented on #1453
Please give instructions on how to reproduce.

[2018-07-19 14:20] vmx commented on #1453
Oh, I guess you mean the example at `examples/explore-ethereum-blockchain`. I'll have a look.

[2018-07-19 14:42] vmx commented on #1453
Works for me, here's what I did:

[code]

Hence I close this issue. @diasdavid If you don't think it works as expected, please provide details.

[code]

[2018-07-19 16:56] diasdavid commented on #1453
@vmx check the experience described on https://github.com/ipfs/go-ipld-eth/blob/master/plugin/README.md

[2018-07-20 09:57] vmx commented on #1453
@diasdavid Can you please provide more information? Did it work in the past? Which parts of the document you linked do you expect to work (e.g. there's not `dag put` in jsipfs yet)? What are the steps to reproduce?

[2018-07-20 12:09] PascalPrecht commented on #1322
@alanshaw do you know what the `timeout` default has to be here?

As https://github.com/libp2p/js-libp2p/blob/03faf69212b0f3501291527f85b2bb85a8c5427e/src/content-routing.js#L5 expects `timeout` in any case, we should have a default when `callback` is passed but no `options`.

I would also updated `interface-ipfs-core`'s spec accordingly (which doesn't provide that information either).

[2018-07-20 13:01] alanshaw commented on #1322
Unless we want to explicitly set a default when not provided (IMHO I don't think we need to) I'd leave it to the implementation to set an appropriate value (you can pass `null`).

https://github.com/libp2p/js-libp2p-kad-dht/blob/012d2c3b30f3eb59a2ed68606090cd9757bfde52/src/index.js#L177-L197

[2018-07-20 13:09] PascalPrecht commented on #1322
Ah perfect, okay. Thanks!

[2018-07-20 14:20] alanshaw opened #1458 "⚡️ v0.31.0 RELEASE 🚀"
# 🗺 What's left for release

* [ ] ~~[IPNS locally](https://github.com/ipfs/js-ipfs/pull/1400)~~ (next release)
* [ ] ~~[CID base option](https://github.com/ipfs/js-ipfs/pull/1441)~~ (next release)
* [ ] ~~[Partial `ipfs.resolve` implementation](https://github.com/ipfs/js-ipfs/pull/1455)~~ (next release)
* [x] [Support for raw leaves](https://github.com/ipfs/js-ipfs/pull/1454)
* [x] [Connectivity

[2018-07-20 14:27] victorb opened #2899 "Find testing strategy for tests that are using DNS"
Multiple tests around in our ecosystem assumes there is a dns resolver that has a connection to the internet. The dependency on internet backbone is something we want to avoid in general, and also we want to make sure the tests are always working as expected.

One idea is to run a local dns server for the process where the tests are running, to use. Then we can setup whatever records we want, and

[2018-07-20 17:29] daviddias opened #1459 "Achieving Connectivity Magic"
I ran an impromptu and presidential design session with @alanshaw, @olizilla and @achingbrain to walk through some of the design decisions on libp2p and we ended up discussing the Connectivity Magic Objective and what exactly I mean by "creativity".

The tl;dr; there are multiple ways to find file, but all of them have tradeoffs.

### Here is the sketch we ended up doing:

![paper sketches 4](http

[2018-07-22 11:25] vasco-santos opened #1460 "Peer default config must have default Datastore config"
- **Version**: 0.30.1
- **Platform**: All

#### Type: Bug

#### Severity: High

This is currently a blocker for interop tests for `IPNS`, among other interop tests.

#### Description:

Both `js-ipfs` and `go-ipfs` repos have not been compatible for a long time.

`go-ipfs` introduced the `datastore_spec` in version `0.4.11` as we can check in the [Changelog](https://github.com/ipfs/go-ipfs/blob/mas

[2018-07-22 16:21] lgierth commented on #1459
It took me a while to see this: the three steps proposed are: 1) routing via DNS records 2) delegated routing 3) proper DHT routing

[2018-07-23 15:47] diasdavid commented on #1459
Everyone, thank you for the really awesome sync up. It was lovely to see how everyone came up together so quickly, communicated well their concerns and proposed solutions and eventually converged in a good set of next steps 👏🏽👏🏽👏🏽❤️❤️❤️.

As action items from the call:

- [ ] @lgierth Deploy "Pre Load gateways" preload.gateway.ipfs.io
- [ ] `js-ipfs team` Add new the gateways to the bootstrapper l

[2018-07-23 15:57] lgierth commented on #1459
Here's the pros/cons of 1a) always connecting to ipfs.io gateways, and 1b) separate preload gateways, that were mentioned in the call:

- ipfs.io gateways
  - Pro: very easy
  - Con: have no PeerIDs in js-ipfs code, but instead fetch fully-qualified multiaddrs from dnsaddrs. Means we can't authenticate these dnsaddr responses.
  - Con: have to connect to *all* ipfs.io gateway nodes, 8 at the momen

[2018-07-23 16:03] lgierth commented on #1459
While I'm setting up these preload gateways, you can use the old OVH gateway nodes for testing: the wss0,wss1 addresses in js-ipfs bootstrap config. These run the gateway on :443/ipfs, right next to the /ws transport on :443/ws.

They're crappy fault-prone hardware and will be decomissioned soon, but should be good enough for a few days.

[2018-07-23 16:04] olizilla commented on #1459
+1

Can we call them "storage peers" rather than "prefetch gateways"? It's confusing to me to use the term gateway when we mean HTTP to IPFS translation, and it seems that storing files directly on the gateways has been the cause of some trouble.

As I see it we are proposing to add some "stable bootstrap peers with a good chunk of storage" to the network that will expose an http interface just to

[2018-07-23 16:08] alanshaw commented on #1459
So to clarify, we'd add **all** of the gateways to the bootstrap list, but HEAD request just one of those after add/get/cat/dag.get/dag.put?

* How do we know which one was HEAD requested (and does that matter)?
* After the HEAD request will we then be able to fetch content over HTTP from ipfs.io, or would we typically request it via the prefetch node? Both I presume but the prefetch would be fast

[2018-07-23 17:01] lidel commented on #1459
Notes on redirect opt-out in Companion and preload:

- `x-ipfs-companion-no-redirect` can be put  in URL as a [hash](https://ipfs.io/ipfs/QmbWqxBEKC3P8tqsKc98xmWNzrzDtRLMiMPL8wBuTGsMnR#x-ipfs-companion-no-redirect) or [query](https://ipfs.io/ipfs/QmbWqxBEKC3P8tqsKc98xmWNzrzDtRLMiMPL8wBuTGsMnR?x-ipfs-companion-no-redirect) parameter – hash semantic is bit better as it does not leave the browser, it

[2018-07-23 21:02] parkan commented on #1432
mfs support for raw-leaves got merged: https://github.com/ipfs/js-ipfs-mfs/pull/5 🎉

what remains to take this over the finish line?

[2018-07-24 09:32] alanshaw commented on #1440
My rough plan for this is:

1. ASAP
   * Allow add to IPFS and get base32 CIDv1 back via an option to specify base encoding (defaults do not change)
   * Retrieve content by CIDv1 key also checks for content by CIDv0 key and vice versa (compatibility)
2. Next
   * Change defaults for adding content to CIDv1, with base32 string output
3. Future
   * Ad-hoc migration - request with CIDv0 key causes

[2018-07-24 09:57] pgte opened #1462 "WARNING: no expected peer info was given, identify will not be able to verify peer integrity"
I'm currently getting this "WARNING: no expected peer info was given, identify will not be able to verify peer integrity" message all over my tests, when using a custom transport.

This wasn't happening until I updated dependencies yesterday.

(Currently using js-ipfs 0.29.3 and I can't upgrade at this moment, don't ask..)

Do you know where I should start digging?

[2018-07-24 10:10] richardschneider commented on #1440
I don't like `cid-base` because its the first query string argument name (HTTP-API) with a dash (I think). There is already `mhtype` for multihash type. How about `cbtype` for cid base type,

[2018-07-24 12:09] jacobheun commented on #1462
@pgte this is related to a security fix that was released yesterday for libp2p-switch that includes an update to libp2p-identify. The message you are seeing comes from libp2p-identify when the expected peer info is not passed to the identify.dialer method, https://github.com/libp2p/js-libp2p-identify/blob/master/src/dialer.js#L14.

This should only happen in one of two scenarios:
1. libp2p-switch

[2018-07-24 13:02] pgte commented on #1462
@jacobheun thanks, makes sense. It's using libp2p-switch version 0.39.2, which apparently triggering this warning in libp2p-identify 0.7.2. I'll try upgrading. Thanks!

[2018-07-24 13:35] jacobheun opened #1463 "Allow for custom libp2p generator in configuration"
Currently libp2p is being created by configuration when ipfs boots. This makes it difficult for users to do anything custom with libp2p, even just adding transports that require the nodes peerInfo on startup, https://github.com/libp2p/js-libp2p/issues/222.

By allowing users to specify a generator for libp2p we provide more flexibility for them to customize it to their needs.

It would be great if

[2018-07-24 13:53] achingbrain commented on #1432
ipfs/js-ipfs#1454 needs merging to pull in the new version, currently included in [`v0.31.0`](https://github.com/ipfs/js-ipfs/issues/1458)

[2018-07-24 14:09] pgte commented on #1462
@jacobheun Upgrading to the latest js-ipfs did the trick. Thanks!

[2018-07-24 14:09] #1462 closed

[2018-07-24 15:59] parkan commented on #1432
@achingbrain ah nice didn't see that PR somehow, will +1

[2018-07-24 19:46] dordille commented on #1283
Looking for help on this? Took a look at the rabin module linked by @mikeal and was wondering if there is any concern about compatibility with the browserify build of js-ipfs, not too familiar with that process and whether modules that have c dependencies are included elsewhere.

[2018-07-24 21:44] mikeal commented on #1283
While there isn't a browser version we can just set the browser field in package.json to`{'rabin': null}`. That way, in the browser, the require() statement will just return null and we can check for it and opt out of these feature later in the code.

[2018-07-25 00:22] abax1 commented on #1321
Thanks @hugomrdias, [this](https://github.com/ipfs/js-ipfs/issues/1321#issuecomment-393112809) worked for me.

[2018-07-25 03:15] lgierth commented on #1459
By the way, a strong alternative to this is calling `/api/v0/refs?r=true&arg=QmFoo` on the preload peer, and waiting for the complete response to stream in.

[2018-07-25 04:12] dordille commented on #1283
Submitted datproject/rabin/pull/24 to allow for configuring the window size and polynomial used by the chunker. This will allow chunking used by js-ipfs to match go-ipfs-chunker.

Will have PRs up shortly for `ipfs/js-ipfs-unixfs-engine` and `ipfs/js-ipfs`

[2018-07-25 12:44] lidel commented on #1459
@lgierth will `ipfs refs --recursive` preload data for entire tree (with raw leaves), or everything-but-leaves?

[2018-07-25 15:17] mikeal commented on #1283
Should we consider surfacing these chunker settings in unixfs so that, when files are changed, they can be re-chunked to more closely match the prior chunking?

[2018-07-25 16:51] dordille commented on #1283
I'd have to defer to someone that knows more about how often settings like window and the polynomial will be changed. Looking at the equivalent go source, it doesn't seem like there is a practical way to alter the window size or the polynomial used when chunking.

Polynomial: https://github.com/ipfs/go-ipfs-chunker/blob/master/rabin.go#L11
Window: https://github.com/whyrusleeping/chunker/blob/mast

[2018-07-25 17:06] alanshaw commented on #1432
@parkan https://github.com/ipfs/js-ipfs/pull/1454 was merged - are you able to sanity check against master to verify this is now working?

[2018-07-25 17:12] lgierth commented on #1459
Yes it loads every block that's referenced in that dag -- the nice thing is it enables progress reporting on the "client" side, since you already know the set of all CIDs, and compare how much has been fetched already.

[2018-07-25 21:21] parkan commented on #1432
@alanshaw 👏 👏 👏  will check ASAP, probably first thing tomorrow

[2018-07-25 23:44] diasdavid commented on #1459
Can I get a quick check in on the status of https://github.com/ipfs/js-ipfs/issues/1459#issuecomment-407105310 ?

[2018-07-26 07:01] xuruijing commented on #1435
I used the latest `libp2p`in ipfs, and
`connectionManager: {
            maxPeers: 10,
            minPeers: 2,
            pollInterval: 10000 // ms
        }.`
How can I verify that this configuration works?

[2018-07-26 07:31] xuruijing opened #1466 "a cat file performance question"
There are 3 ways to cat files in the API,
`ipfs.files.cat(ipfsPath, [options], [callback]).
ipfs.files.catPullStream(ipfsPath, [options])
ipfs.files.catReadableStream(ipfsPath, [options])`
so which one performs best (I want to get a small portion from a large file)

[2018-07-26 08:21] alanshaw commented on #1459
@diasdavid

* I'm waiting on the new node addresses - @lgierth gave me two addresses but the domain `preload.ipfs.io` is not resolving yet
* PR ready for review for preloading on `ipfs.add` https://github.com/ipfs/js-ipfs/pull/1464
* PR for `dag.put`, `block.put`, `object.new`, `object.put`, `object.patch.*` coming shortly
* WIP on writing release notes for 0.31 https://github.com/ipfs/js-ipfs/iss

[2018-07-26 08:48] alanshaw commented on #1432
credit where it's due - I pressed the button, @achingbrain did the work 👏 👏 👏

[2018-07-26 08:57] alanshaw commented on #1459
When we're adding content to IPFS, we don't really want to wait around for it to be uploaded to the preload nodes which is why a HEAD request is nice because it's quick and light and the content can then be slurped from my node asynchronously.

In companion we HEAD request for every CID added, but is this necessary?

Looking at the code it looks as though if you send a HEAD reuqest to a **js-ipfs

[2018-07-26 09:02] lgierth commented on #1459
Actually, HEAD is even a bit more diligent than GET -- the former reads the whole node to calculdate Content-Length, the latter reads only what it has to in order to satisfy the request.

Both don't read into directories, i.e. if you get a directory index, none of the children or subdirs are fetched.

[2018-07-26 09:44] lgierth commented on #1459
Ah yes -- there's now A/AAAA records for preload.ipfs.io, so if you're connected to all preloader peer in `_dnsaddr.preload.ipfs.io`, you're sure to hit home.

There is a slightly different option which is individual A/AAAA records for each preloader peer. That'd let you connect to only one preloader peer, and make HTTP requests to exactly that one, instead of connecting to all of them.

[2018-07-26 13:49] pgte commented on #1459
Sorry I'm a bit late to the party.
@alanshaw Is there a quick and dirty way of making this work on the latest js-ipfs?

[2018-07-26 13:52] lgierth commented on #1459
It's gonna be in 0.31 very very soon: https://github.com/ipfs/js-ipfs/issues/1459#issuecomment-408017599

[2018-07-26 14:30] vasco-santos opened #1467 "Awesome Endeavour: repo interoperability"
# Awesome Endeavour: Repo interoperability 🃏

This issue has the purpose of gathering and tracking everything related to the repo interoperability.
All the necessary steps for having a full interoperable repo betweem `js-ipfs` and `go-ipfs` are listed below.

## ✅ Tasks checklist

#### 1) [ipfs/specs](https://github.com/ipfs/specs/tree/master/repo)

- [ ] **1.**  Update the specs with the current

[2018-07-26 14:30] vasco-santos commented on #1467
cc @diasdavid @jacobheun

[2018-07-26 17:55] parkan commented on #1432
ok unfortunately I am super pulled in another direction today and can't test this comprehensively (with/without trickle, small/big files, across platforms, etc) but overall this seems to be working well!

only problem encountered so far is mitra reporting an "invalid node type" when using readableStream with small (single block) file @ zb2rhhEncXjn7PnqJ16mzfeug1bqWuupQ3PnkhnWLpAaDatiZ added using

[2018-07-27 03:08] kevina commented on #1440
For the `go-ipfs` side of (1) see https://github.com/ipfs/go-ipfs/pull/5285.

[2018-07-27 14:18] alanshaw commented on #1432
@achingbrain do you have some time to take a quick look at this?

[2018-07-27 15:31] achingbrain commented on #1432
The node added via the trickle importer (`zdj7Wi4b5djhAqLk5VfeFniwKMpZEFXjWwyiNCrip3keANZao`) is a UnixFS node with one link to a raw leaf `zb2rhhEncXjn7PnqJ16mzfeug1bqWuupQ3PnkhnWLpAaDatiZ`:

[code]

If you try to play that leaf directly (as above) and as such use the `ipfs.files.catReadableStream` API, `js-ipfs` will try to use the exporter from `unixfs-engine` to get the bytes, expecting a Unix

[2018-07-27 18:36] mitra42 commented on #1432
Thanks @achingbrain - these are legacy hashes, from code that changed, where coming from a cache of the metadata somewhere completely different - and I'm now invalidating and rereading when I see them. Looks like nothing wrong with IPFS's handling presuming leaves like that shouldnt be playable.

[2018-07-27 22:15] parkan commented on #1432
yep can confirm that adding that file yields the bare leaf node `zb2rhhEncXjn7PnqJ16mzfeug1bqWuupQ3PnkhnWLpAaDatiZ` -- is that expected?

[2018-07-27 23:15] mitra42 commented on #1432
I guess so - that zb2 hash comes from the previous version of urlstore

[2018-07-28 01:14] lgierth commented on #1459
Update about the PeerID changes mentioned above -- we will not change the PeerIDs, and will keep the PeerIDs mentioned above.

This means the addresses above in https://github.com/ipfs/js-ipfs/issues/1459#issuecomment-408097630 are the correct ones for the release.

This also means you can safely remove the `wss0.bootstrap.libp2p.io` and `wss1.bootstrap.libp2p.io` nodes from any configs, since we'

[2018-07-28 01:20] lgierth opened #1474 "Remove bootstrap peers wss0 and wss1"
These two will be shut down, and their private keys and PeerIDs moved over to the new preloader hosts which were added in #1464:

To remove:
[code]

https://github.com/ipfs/js-ipfs/search?q=wss0

[2018-07-28 07:19] diasdavid commented on #1474
Done with:
- https://github.com/ipfs/js-ipfs/commit/90e9f68db1c74e05af7e6edaf9863bae3c012a72
- https://github.com/ipfs/js-ipfs/commit/e3868f48d209f1985579b6be8b00beeccca0c319

[2018-07-28 07:19] diasdavid commented on #1459
- [x] This also means you can safely remove the wss0.bootstrap.libp2p.io and wss1.bootstrap.libp2p.io nodes from any configs -> Done

[2018-07-28 07:20] #1474 closed

[2018-07-29 02:54] mitra42 opened #1476 "Preload generating CORS errors in console"
- **Version**: 0.30.1 pulled from GIT git://github.com/ipfs/js-ipfs.git#bffe080cd6c3fa202ca0437f8abe38dca75e5903
- **Platform**: Mac / Chrome
- **Subsystem**: preload

#### Type: Bug
#### Severity: unsure - probably
#### Description: preload is failing with CORS errors
#### Steps to reproduce the error:
I'm loading one of my existing demos, but am seeing repeated
[code]
I'm not intentionally prelo

[2018-07-29 06:10] lgierth commented on #1459
The CORS issue should be fixed

[2018-07-29 08:51] alanshaw commented on #1476
Fixed here https://github.com/ipfs/js-ipfs/issues/1459#issuecomment-408654621 and in https://github.com/ipfs/js-ipfs/pull/1475/commits/4e50e70c2c5f52b231725d8cd7054f6158136258

[2018-07-29 08:53] alanshaw commented on #1466
They all use `catPullStream` under the hood. Remember to use `offset` and `length` options rather than reading the whole file and slicing out the bits you need. https://github.com/ipfs/interface-ipfs-core/blob/master/SPEC/FILES.md#filescat

HTH

[2018-07-29 08:53] #1466 closed

[2018-07-29 09:35] diasdavid commented on #1459
@alanshaw ^^ \o/

[2018-07-29 09:46] alanshaw commented on #1432
Closing this now as 0.31 has been released. If there are any further issues please would you kindly open a new issue for it? Thank you ❤️

[2018-07-29 09:46] #1432 closed

[2018-07-29 09:47] diasdavid commented on #1406
No more "already piped" with 0.31 - https://github.com/ipfs/js-ipfs/issues/1458

[2018-07-29 09:47] diasdavid commented on #1325
No more "already piped" with 0.31 - https://github.com/ipfs/js-ipfs/issues/1458

[2018-07-29 09:47] diasdavid commented on #1088
No more "already piped" with 0.31 - https://github.com/ipfs/js-ipfs/issues/1458

[2018-07-29 09:48] diasdavid commented on #1380
It's compatible again with https://github.com/ipfs/js-ipfs/issues/1458, try it out and let us know how it goes :)

[2018-07-29 09:48] #1380 closed

[2018-07-29 09:49] diasdavid commented on #1279
@achingbrain did you happen to make a fix for this when you implemented mfs and touched unixfs-engine?

[2018-07-29 09:50] diasdavid commented on #1357
Hi @minxinping0105 3 releases happened since this was report, try out the new js-ipfs and let us know if it is still an issue.

[2018-07-29 09:50] #1357 closed

[2018-07-29 10:17] diasdavid commented on #1458
<img width="608" alt="image" src="https://user-images.githubusercontent.com/1211152/43365184-ae92cbaa-9320-11e8-8a89-6b6d51526a04.png">

👏🏽 👏🏽 👏🏽 👏🏽 ❤️ ❤️ ❤️ 👏🏽 👏🏽 👏🏽 👏🏽

![](https://media.giphy.com/media/3ohs4rclkSSrNGSlFK/giphy.gif)

[2018-07-29 13:43] vasco-santos opened #1477 "XMLHttpRequest cannot be used when running ipfs in a service worker"
self.XMLHttpRequest is not a constructor

- **Version**: 0.31.0
- **Platform**: Browser
- **Subsystem**: Preload

#### Type: Bug

#### Severity: Critical

#### Description:

Service workers does not support `XMLHttpRequest`. This way, a service worker cannot run this version of `js-ipfs`. Can the `XMLHttpRequest` be changed to use `fetch` instead?

https://github.com/ipfs/js-ipfs/blob/649b755c9445

[2018-07-29 19:05] lgierth commented on #1459
Fewer screenshots, more logs!

Which hosts are these requests going against?

[2018-07-29 20:13] parkan commented on #1458
excellent, high five for shipping this before DWeb!

[2018-07-29 21:14] alanshaw commented on #1459
@pgte if you turn on debugging `localStorage.debug = 'jsipfs:preload*'` you should see errors logged for each of those failed requests with a little more info.

Is there a branch I can checkout to run this code and see for myself?

Also, may I kindly ask that you open a separate issue for this?

[2018-07-29 21:27] alanshaw opened #1479 "dag.put - Cannot read property 'cid' of undefined"
Tracking issue for bug reported here: https://github.com/ipfs/js-ipfs/commit/d299ed77c288d82ce807af0ec7a5b2605336626f#r29874058

[code]

Assumes options object exists.

Tests added here: https://github.com/ipfs/interface-ipfs-core/pull/338 already

[2018-07-29 21:46] buzz commented on #1380
Confirming it works! Yeah! :+1:

[2018-07-29 22:39] #1477 closed

[2018-07-30 05:54] Mr0grog commented on #1269
Ah! An IPFS *instance* (whether in Go or JS) is a library or program that is able to communicate with other IPFS instances (or daemons, or whatever) using bitswap, to trade data back and forth.

An IPFS *daemon* is a specific program that is packaged with both go-ipfs and js-ipfs that runs an IPFS instance, an HTTP API server, and an HTTP gateway server together, so you can control it externally a

[2018-07-30 05:56] Mr0grog commented on #1269
Also, to clarify, when interacting with a daemon using `curl`, you’re using the HTTP API server. So an *instance* by itself won’t be something you can control with `curl`, but a *daemon* is.

[2018-07-30 10:29] negamaxi commented on #1479
@alanshaw ok, I've investigated a bit and found out that error actually was caused by this:
[code]
Just `put(obj)` works fine.

[2018-07-30 22:15] pgte opened #1481 "preload fails"
Using the js-ipfs (v0.31.1) file api, I create a couple of files and an enclosing folder.
I try loading the resulting hash through the gateway and the gateway times out.

Logs:

[code]

Screenshot:

<img width="1133" alt="peerpad" src="https://user-images.githubusercontent.com/47910/43426626-560e3c8a-9424-11e8-8a0e-b0eff24df882.png">

[2018-07-31 06:16] alanshaw commented on #1481
Does your node have a custom bootstrap list? The preload nodes won’t be able to get the content unless you are connected to them.

https://github.com/ipfs/js-ipfs/blob/5e80ee3a5ce7b509b164fdcc6816f0cfca896047/src/core/runtime/config-browser.js#L26

[2018-07-31 11:51] #1447 closed

[2018-07-31 15:26] pgte commented on #1481
I don't have a custom bootstrap list, but it looks like he somehow the default config is not being mixed with my saved config.

Anyway, I've added these to the mix, and it looks the same as before:

<img width="1133" alt="peerpad" src="https://user-images.githubusercontent.com/47910/43469600-62d028f8-949b-11e8-8dbf-6e5e984823d2.png">

Anything else I can do on my end to help investigate further?

[2018-07-31 18:20] alanshaw commented on #1269
@Willzyc has that answered you question?

[2018-07-31 18:27] alanshaw commented on #1321
Closing this now that a solution has been found. Tracking adding working examples for various bundlers in https://github.com/ipfs/js-ipfs/issues/1436

[2018-07-31 18:27] #1321 closed

[2018-08-01 01:32] diasdavid commented on #1269
Reopen if needed :)

[2018-08-01 01:32] #1269 closed

[2018-08-01 02:50] richardschneider commented on #1138
@fiatjaf commented

The keychain was designed to protect private keys by encrypting them with a pass phrase, hence the password-PBDF2 stuff.

As @diasdavid points out, perhaps we should use "" as the pass phrase when not specified by the user.

[2018-08-01 14:45] alanshaw commented on #1481
Where can I run this code - is it just peerpad/master?

[2018-08-02 17:00] #1322 closed

[2018-08-02 17:38] #1458 closed

[2018-08-02 17:42] alanshaw commented on #1392
Closing as I believe the original question was answered - please shout if more info is needed!

[2018-08-02 17:42] #1392 closed

[2018-08-02 17:47] alanshaw commented on #1379
@Artod can you point me at some code I can run that exhibits this error? Also, we're now on 0.31.x so this _might_ have been resolved!

[2018-08-02 17:52] alanshaw commented on #1373
@JonKrone I believe this is now resolved - #1371 was merged and IPLD now supports specifying the hash algorithm https://github.com/ipld/js-ipld/pull/133

Are you able to double check?

[2018-08-02 17:52] #1373 closed

[2018-08-02 17:56] alanshaw commented on #1313
trying it again here https://github.com/ipfs/js-ipfs/pull/1483

[2018-08-02 18:56] diasdavid commented on #1379
@Artod try with latest 0.31.2, it should be allll goood . Closing this one now, reopen this issue if needed

[2018-08-02 18:56] #1379 closed

[2018-08-03 13:18] fazo96 opened #1484 "object.put(dagNode) gives error: links is immutable, but object.put(dagNode.toJSON().data) works"
- **Version**: 0.31
- **Platform**: latest nodejs 8 on Linux x64
- **Subsystem**: Object API (from JS, not HTTP)

#### Type: Bug

#### Severity: Low

#### Description:

See https://github.com/ChluNetwork/chlu-ipfs-support/pull/112/commits/2bd6d4c86f76f849dcd7b8efac3c32245ec3c5eb#diff-a8513da2877ad6ccd1d7f8af480d9b21R135

In short, `ipfs.object.put(dagNode)` where `dagNode` is an instance of DAGNod

[2018-08-03 19:06] JonKrone commented on #1373
Hey @alanshaw!

I was excited when I saw this but after fresh installs of the most recent go and js versions, I still see mismatched hashes for the `add --hash=keccak-512` command and see that the `object` stored by js-ipfs still lists a CIDv0 `hash`

[2018-08-06 11:41] pgte commented on #1481
Solved this by enabling the Bootstrap discovery and setting up the default bootstrap nodes.
@alanshaw thanks for your help!

[2018-08-06 11:41] #1481 closed

[2018-08-06 11:46] alanshaw commented on #1481
https://github.com/ipfs-shipyard/peer-star-app/commit/1e327a81940ae518ddaa4e12fe3f798136a08c5f

[2018-08-06 20:56] pgte opened #1489 "question: can I use DHT for generic LWW record store?"
I want to be able to save random key->value entries in the DHT.
I'm ok with not having any consistency guarantees (writes to the same key not being linearisable).
Is there any way I can use the current DHT implementation for this?