[2018-08-06 20:58] pgte commented on #1489
The main reason I'm asking this is that apparently I can save a record (at least `ipfs.dht.put(k, v)` returns), but when I do a `ipfs.dht.get(k)` with the same key, I get:

[code]

(where the key is a random string with no "/" characters)

[2018-08-07 08:58] achingbrain commented on #1373
@JonKrone which version are you using?  I see CIDv1 with `--hash=keccak-512`:

[code]

[2018-08-07 10:44] davidgilbertson opened #1491 "Could we use vanilla JavaScript in the 101 example?"
#### Type: Enhancement

#### Severity: Very Low

#### Description: Use vanilla JavaScript in the 101 example

Would you accept a PR that changes the 101 example to not require a third party npm package (the `async` package)?

For me, the async package syntax was just another thing I needed to wrap my mind around, when native `async`/`await` is so much prettier.

## Existing
[code]

## Proposed

[c

[2018-08-07 10:46] #1313 closed

[2018-08-07 12:18] alanshaw commented on #1491
Absolutely @davidgilbertson PR away!

[2018-08-07 13:27] PascalPrecht opened #1492 "bug: dag.put cannot read property 'put' of undefined"
- **Version**: 0.31.2
- **Platform**: Node
- **Subsystem**: dag

#### Type: Bug

#### Severity: High

#### Description:

I was just about to verify https://github.com/ipfs/interface-ipfs-core/issues/307#issue-334363076 and noticed that `ipfs.dag.put` throws in the latest release:

[code]

#### Steps to reproduce the error:

Here's the code that causes this error:

[code]

I so it seems the interna

[2018-08-07 13:37] PascalPrecht commented on #1492
Argh. Needed to wait for `ready` event. Sorry for this. Closing.

[2018-08-07 13:37] #1492 closed

[2018-08-07 14:31] JonKrone commented on #1373
@achingbrain Yep! And that part works! What seems to fail is:

`jsipfs object get` of a CIDv1 returns a blob with a v0 `hash` property.

I think the part of the add stream where this happens is when `unix-fs` passes off to IPLD, as `unix-fs` is storing the object under the correct CID but the blob it stores is incorrect.

I'm using `0.31.2`.

[2018-08-08 11:41] #1479 closed

[2018-08-09 04:12] marti1125 commented on #1484
I would like to work in this issue 👍

[2018-08-09 09:34] achingbrain commented on #1491
FWIW the officially supported node versions are Current and Active LTS (v10 and v8 at the time of writing): https://github.com/ipfs/community/blob/master/js-code-guidelines.md#supported-versions

[2018-08-09 09:51] davidgilbertson commented on #1491
Ah interesting. Should I update the docs here: https://github.com/ipfs/js-ipfs#npm while I'm making the above change? It says npm 3 and node 6.

[2018-08-09 09:53] achingbrain commented on #1491
That'd be helpful - maybe just link to the guidelines though, that way we don't need to update the supported versions in multiple places.

[2018-08-09 15:40] alanshaw opened #1497 "⚡️ v0.32.0 RELEASE 🚀"
# 🗺 What's left for release

* [x] [IPNS locally](https://github.com/ipfs/js-ipfs/pull/1400)
* [x] [Partial `ipfs.resolve` implementation](https://github.com/ipfs/js-ipfs/pull/1455)
* [x] [libp2p bundle function](https://github.com/ipfs/js-ipfs/pull/1470)
* [x] [Support for chunking algorithm](https://github.com/ipfs/js-ipfs/pull/1469)

# 🔦 Highlights

## 📛 IPNS locally

IPNS has it's foot in the

[2018-08-09 16:29] ajendrana opened #1498 "version(0.31.4) on windows not able to install the package."
c:\WAjen\node_ws2>npm install ipfs --global
npm WARN deprecated bignumber.js@6.0.0: Custom ALPHABET bug fixed in v7.0.2
C:\Program Files\node-v8.11.3-win-x64\jsipfs -> C:\Program Files\node-v8.11.3-win-x64\node_modules\ipfs\src\cli\bin.js

WARNING: Unable to find a .git directory for this project, installation aborted.

C:\Program Files\node-v8.11.3-win-x64\node_modules\ipfs\node_modules\fs-ext>if

[2018-08-10 17:04] OstlerDev commented on #1392
@alanshaw I am curious about the second part of your answer above where you ask what happens if the stream is aborted. What would happen if a re-upload attempt happens?

Basically, the flow I am curious of is this:

1. Use the `js-ipfs-api` function `files.add()` in a browser to start adding a large 1GB file to a remote `go-ipfs` node.
2. The `files.add()`/"upload" (over HTTP using `js-ipfs-api`)

[2018-08-10 17:36] caffeinum commented on #1366
This issue seems to not be fixed. I am still getting Already piped errors through my code. I use js-ipfs@0.30.1

[2018-08-10 19:38] diasdavid commented on #1498
@alanshaw @achingbrain we had achieved good UX for Windows, we simply can't break it.

`rabin` needs to be an optional dependency and checked if it exists when used.

[2018-08-10 20:07] ambertch opened #1500 "Pinning released in code, but not API?"
Hi,

It looks like 0.31.4 has the module for pinning, although making a request to `api/v0/pin/ls` returns a 404. Is there currently a timeline to add pinning to the API?

Thanks and Regards!
Ambert

[2018-08-11 04:59] sorleone opened #1502 "Already piped error prevents me to use IPFS"
I am still getting this error:

https://github.com/libp2p/js-libp2p-switch/issues/235

 with version 0.31.4, is it possible to fix it? Version 0.31.3 seems work better, however it's preventing me to use IPFS because it crashes after a while. This is what I get:

[code]

[2018-08-11 05:58] olizilla commented on #1366
This fix landed in js-ipfs 0.31.0
https://github.com/ipfs/js-ipfs/issues/1458

[2018-08-11 07:06] caffeinum commented on #1366
@olizilla the bug still happens. I run NodeJS 10.

I had update the package: `npm i ipfs`, but nodejs seems to didn't update. `npm view ipfs version` showed 0.31, but the bug still occured, and the version included was `0.30.4`. I needed to remove package completely and reinstall.

The package is running the last version:
![image](https://user-images.githubusercontent.com/1909384/43989195-be6c4efc

[2018-08-11 07:14] ajendrana commented on #1498
Thanks @alanshaw , its done.

[2018-08-11 12:29] caffeinum commented on #1366
That happens in webpack examples too, when I enable pubsub-room.

![image](https://user-images.githubusercontent.com/1909384/43991654-77915bf8-9d7a-11e8-8bb9-691cb7a11359.png)

[2018-08-11 12:31] caffeinum commented on #1446
I have this issue too. We do use pubsub-room. I have the last versions of js-ipfs, libp2p and libp2p-switch(=0.40.7).

I wrote to this issue first: https://github.com/ipfs/js-ipfs/issues/1366#issuecomment-412256679

[2018-08-11 23:27] fiatjaf opened #1503 "QuotaExceededError on Chrome for Android"
- **Version**: 0.31.0
- **Platform**: Chrome for Android
- **Subsystem**: -

#### Type:

Bug

#### Severity:

High

#### Description:

The code should start IPFS and use it to fetch some IPLD objects and display the data in a table. Most simple stuff. On all places where an error could happen I handle it with a `message()` function that just shows the error message on the screen.

That's why I cou

[2018-08-12 12:08] oleiba opened #1504 "IPFS extension protocol?"
Question:
Is there any out-of-the-box way to plugin an extension to the usual IPFS wire protocol?
For example, some way to imitate BitTorrent's [BEP010](http://www.bittorrent.org/beps/bep_0010.html) extension protocol.

[2018-08-12 13:08] lidel opened #1505 "Saving previously seen nodes for later bootstrapping"
**Version**: N/A

#### Type: Enhancement

#### Severity: Medium

#### Description:

IPFS Node should persist a list of currently connected peers  periodically, so the next time it starts it can use previously working peers in addition to centralized bootstrap nodes.

This is especially important in web browser context, where discovery often relies on centralized signaling servers. Having a ready-t

[2018-08-12 20:45] alanshaw commented on #1406
https://github.com/ipfs/js-ipfs/pull/1506 addresses a bunch of issues where we're not properly handling invalid user input that would cause a daemon to crash.

In that PR I added the `err-code` module to allow us to add string error codes attached to a `code` property on error objects. This is also being used in the IPNS PR (https://github.com/ipfs/js-ipfs/pull/1400) that will land soon.

Using an

[2018-08-13 02:08] mitra42 commented on #1206
This is all in sync now

[2018-08-13 02:08] #1206 closed

[2018-08-13 09:27] #1498 closed

[2018-08-13 12:10] alanshaw commented on #1502
dupe of https://github.com/ipfs/js-ipfs/issues/1502

[2018-08-13 12:10] #1502 closed

[2018-08-13 12:12] alanshaw commented on #1502
@sorleone not discarding this issue at all, just keeping the issue count down!

[2018-08-13 12:14] alanshaw commented on #1500
@ambertch are you sure? The HTTP pin API is defined here:

https://github.com/ipfs/js-ipfs/blob/master/src/http/api/routes/pin.js#L30-L39

[2018-08-13 17:18] sorleone opened #1507 "Node failed to start! Error: Not able to start from state: uninitialized"
The following code produces an error with version 0.31.4. I'd like to have the `ipfs.on.('ready'` event promisified, and the quickest way to get it seems to be calling the `start()` method but that gives me an error.

[code]

[2018-08-13 18:06] ambertch commented on #1500
@alanshaw right, the route is there, although when I make a request to it I get a 404:

[code]

[2018-08-14 07:58] alanshaw commented on #1500
I can't replicate this @ambertch. Are you sure you're running 0.31.4?

[code]

[2018-08-14 08:17] alanshaw commented on #1507
The ready event is fired when the node is ready to be interacted with, so even if you don't start the node you still need to wait for it to be ready. This is because there are async initialization tasks that need to be performed that happen before the node is started.

If you want to promisify the `ready` event I'd do something like this:

[code]

Hope that helps 😄

[2018-08-14 08:17] #1507 closed

[2018-08-14 09:10] alanshaw commented on #1503
IPFS stores its data in Indexed DB by default, what are the storage limits for Android Chrome? Are you actually reaching them? I don't know why incognito mode works in this case...perhaps Chrome has higher (or no) limits when incognito because it'll be erased when you finish browsing?

As a work around, you could try using the [`repo` option](https://github.com/ipfs/js-ipfs#optionsrepo) to pass a

[2018-08-15 03:15] mitra42 commented on #945
I haven't seen this in a while, maybe time to close ?

[2018-08-15 07:13] diasdavid commented on #945
Let's close and reopen if necessary :) Thanks @mitra42

[2018-08-15 07:13] #945 closed

[2018-08-15 10:46] alanshaw commented on #1503
@fiatjaf I'm going to close this as I don't believe it's a bug in js-ipfs. Shout if you need anything else or please open a new issue if you find a specific problem.

[2018-08-15 10:46] alanshaw commented on #1500
Closing as I can't replicate the issue.

[2018-08-15 10:46] #1500 closed

[2018-08-15 11:26] jacobheun commented on #1446
The latest hotfix for multistream-select, 0.14.3, should prevent the error from being thrown. It will now be caught and logged. I will continue testing this to see if the issue comes up. Once you have multistream-select@0.14.3 (new installs should get it), if you do hit this issue, please scream in my general direction with logs and I will take a look!

Just fyi, I have been testing this against p

[2018-08-15 13:09] fiatjaf commented on #1503
I still think this might be a bug in js-ipfs.
The data I was downloading is incredibly small. I gave you a reproducible example, did you try it out?

I don't know what are the Chrome limits.

[2018-08-15 13:45] alanshaw commented on #1504
AFAIK there's no way to do this right now in js-ipfs. @diasdavid are you able to confirm?

Perhaps @Stebalien knows if something like this exists or has been considered in go-ipfs?

[2018-08-15 14:26] alanshaw commented on #1503
I wasn't able to try it on an Android device. One thing I found out was that there's an API for getting the estimated storage size which you could use to check.

I ran it with your example and it came up with this:

<img width="334" alt="screen shot 2018-08-15 at 15 09 37" src="https://user-images.githubusercontent.com/152863/44152846-70768768-a09e-11e8-9859-2371197fbac3.png">

I think that means

[2018-08-15 15:01] fiatjaf commented on #1503
![2018-08-15-115553_305x94_scrot](https://user-images.githubusercontent.com/1653275/44154896-335862a0-a082-11e8-9854-bd7545df5b7b.png)

That's on my Firefox on desktop. And I visit other stuff on the same origin too, including stuff of my own creation and examples on explore.ipld.io (all browsed from localhost because the Companion makes it).

My data for that page is much much less than that, as

[2018-08-15 16:58] acailly opened #1509 "Issue building a simple example with Parcel"
I tried to build the following example: https://gist.github.com/acailly/648d1a6e28c8939bbdf84499851c626d
(on Windows 10 64bits)

I have the following error:

[code]

It seems that browser field is not correctly handled by parcel (it tries to create a repo with node config instead of browser config).
I asked the question in https://github.com/parcel-bundler/parcel/issues/1883 but the stange thing i

[2018-08-15 19:15] lidel commented on #1295
I will go on a limb here and say that the low hanging fruit is CLI and HTTP API.  It may be easier to reason about creating fuzzing tests for them plus user/developer experience will directly benefit from that.

Fuzzing around messaging between nodes should happen in libp2p project, I think.

[2018-08-15 19:25] lidel commented on #1279
### Problem

I've just stumbled upon this bug while working on https://github.com/ipfs-shipyard/ipfs-companion/pull/533.

Tried running embedded js-ipfs node as the protocol handler backend, but it fails to load Turkish wikipedia mirror: `/ipfs/QmT5NvUtoM5nWFfrQdVrFtvGfKFmG7AHE8P34isapyhCxX/wiki/Anasayfa.html` where `/wiki/` is `hamt-sharded-directory`.

What is interesting, our public gateways an

[2018-08-15 21:31] kevinsimper opened #1510 "jsDelivr complains about package size exceeded the configured limit of 50 MB"
`Package size exceeded the configured limit of 50 MB`

I think it is important as links in the readme are to jsDelivr

https://www.jsdelivr.com/package/npm/ipfs

![image](https://user-images.githubusercontent.com/1126497/44174389-4d516380-a0e3-11e8-8691-112ec268adc6.png)

[2018-08-15 21:31] th-ink commented on #1446
thanks @jacobheun, I can confirm that I don't get the error with multistream-select@0.14.3

[2018-08-16 00:58] mitra42 commented on #1446
How is multistream-select included, I'm not seeing (any version) in package-lock.json , and did a fresh install (from npm, not from github) yesterday.

[2018-08-16 02:25] zy445566 opened #1511 "Webui's BUG:Unexpected token o in JSON at position."
![image](https://user-images.githubusercontent.com/14976489/44183509-dac1a180-a13d-11e8-91fd-0da1eaa9c826.png)
Maybe not use "toString" but "JSON.stringify"?
report this error when `jsipfs daemon`

[2018-08-16 03:48] jacobheun commented on #1446
It is used in libp2p (libp2p-switch and libp2p-circuit). `npm ls` should resolve it. I just did a fresh install from npm to verify.

[code]

[2018-08-16 12:02] alanshaw commented on #1511
thanks @zy445566, I've reposted it [here](https://github.com/ipfs-shipyard/ipfs-webui/issues/747) for the GUI team to take care of

[2018-08-16 12:02] #1511 closed

[2018-08-16 15:26] alanshaw commented on #1504
Of course! Considering this answered @oleiba - shout if you have any other queries!

[2018-08-16 15:26] #1504 closed

[2018-08-16 15:42] mikeal commented on #1510
Is there a way to configure this to only care about/load the dist directory?

[2018-08-16 19:02] MartinKolarik commented on #1510
Hi, Martin from jsDelivr here. Technically we are able to serve packages even if they exceed this limit and I could add an exception for `ipfs`.

The reason for having a limit by default is that npm only provides tarballs with all files so we always have to fetch everything, even if nothing else than `dist/` is needed. The bigger the package, the higher the chance this takes too long and some requ

[2018-08-17 05:09] mitra42 commented on #1446
Confirmed - looks  like I installed just before the release. I'll watch for the already piped errors (which I've been seeing regularly up till now)

[2018-08-17 18:46] travisperson opened #1514 "Fails to start if preload is disabled"
- **Version**: `v0.31.6`
- **Platform**: `Linux black.travis.fyi 4.17.8-1-ARCH #1 SMP PREEMPT Wed Jul 18 09:56:24 UTC 2018 x86_64 GNU/Linux`
- **Subsystem**: `start`

#### Type: Bug

#### Severity:

Critical (High?)

#### Description:

When disabling the new preload feature, the node fails to start

[code]

#### Steps to reproduce the error:

[code]

[2018-08-17 19:56] travisperson opened #1515 "Unable to add files with go-ipfs cli"
- **Version**: `v0.31.6`
- **Platform**: `Linux black.travis.fyi 4.17.8-1-ARCH #1 SMP PREEMPT Wed Jul 18 09:56:24 UTC 2018 x86_64 GNU/Linux`
- **Subsystem**: `start`

#### Type: Bug

#### Severity:

High(Low? - go-ipfs cli interopt is probably optional atm)

#### Description:

When using the `go-ipfs` cli to add files to a `js-ipfs` daemon, and error occurs when retrieving the added objects.

[cod

[2018-08-18 01:33] jhiesey commented on #1514
I just ran into this as well. Looks like an easy fix though.

[2018-08-19 16:17] sorleone opened #1517 "Disconnect From Pubsub Peer"
Since Pubsub topics are open, I'd love to be able to disconnect from a peer that's sending a lot of spam. I have tried `ipfs.swarm.disconnect` or `ipfs._libp2pNode.hangUp` but they doesn't seem to work since I keep getting messages from the peer I disconnect. What can I do?

[2018-08-19 19:35] lidel opened #1518 "ipfs.files.add with {cidVersion: 1} returns CID of an empty file"
- **Version**: js-ipfs 0.31.6
- **Platform**: Node
- **Subsystem**:

#### Type: Bug

#### Severity:  High

#### Description:

For some inputs `ipfs.files.add` with `{cidVersion: 1}` returns a [CIDv1 of an empty file](http://cid-utils.ipfs.team/#zdj7WiLc855B1KPRgV7Fh8ivjuAhePE1tuJafmxH5HmmSjqaD), instead of CID for the actual input buffer.

#### Steps to reproduce the error:

I attach test case tha

[2018-08-20 14:14] alanshaw commented on #1517
I don't believe there's any controls to do this. Disconnecting from the node that sent the message won't work if any of the other nodes you're connected to are also connected to it.

[2018-08-20 15:46] alanshaw opened #1519 "dist folder missing from https://unpkg.com/ipfs@0.31.6/dist/index.min.js"
Also not in npm...

[2018-08-20 17:17] sorleone commented on #1517
@alanshaw I read that making pubsub topics private or protected by passwords is kind of hard... So can't you guys give us the possibility to disconnect from peers who spam? What's the purpose of `ipfs.swarm.disconnect` or `ipfs._libp2pNode.hangUp` then? In the meantime do you think that having random/hard to guess topic names could be a way to protect from this?

[2018-08-20 20:29] alanshaw commented on #1503
@fiatjaf are you able to get any more information about the Android device to help debug this? We've seen this error in CI when the OS is out of disk space - so it might not be just a limit on IndexDB. Can you confirm this isn't the case?

[2018-08-20 20:31] alanshaw commented on #1519
Fixed in 0.31.7

[2018-08-20 20:31] #1519 closed

[2018-08-20 20:37] alanshaw commented on #1510
fixed in https://github.com/ipfs/js-ipfs/pull/1513 and released in 0.31.7

[2018-08-20 20:37] #1510 closed

[2018-08-20 21:18] kevinsimper commented on #1510
@alanshaw Awesome!

[2018-08-20 21:27] kevinsimper opened #1520 "Error in bundled version in "stable" module"
![image](https://user-images.githubusercontent.com/1126497/44367520-5457e780-a4d0-11e8-895f-2596f7d1cf76.png)

`stable.js:5 Invalid asm.js: Unexpected token`

[2018-08-21 15:15] achingbrain opened #1522 "Starting ipfs with the wrong node version leaves the repo locked"
- **Version**: 0.31.4
- **Platform**: Mac
- **Subsystem**: repo

#### Type: Bug
#### Severity: Medium
#### Description:

Installing js-ipfs with one version of node then starting it with another crashes the process leaving the repo lock file in place.

#### Steps to reproduce the error:

For example use node 10 to install js-ipfs then run it with node 8, it explodes as you'd expect:

[code]

..but

[2018-08-22 21:06] vs77bb commented on #1283
Hi @dordille great work here. We tipped you for your work via the Gitcoin bounty which was posted on the issue 🙂

[2018-08-23 20:53] jhiesey opened #1526 "File added right after 'ready' event doesn't get announced to DHT"
- **Version**: 0.31.7
- **Platform**: Darwin Johns-MacBook-Pro-4.local 17.7.0 Darwin Kernel Version 17.7.0: Fri Jul  6 19:54:51 PDT 2018; root:xnu-4570.71.3~2/RELEASE_X86_64 x86_64
- **Subsystem**: libp2p (maybe)

#### Type: Bug

#### Severity: Medium

#### Description:
When I enable the DHT and disable prefetch in the ipfs-101 example, the added file is not advertised through the DHT and is thus

[2018-08-24 10:32] hugomrdias opened #1527 "Without a daemon running we cant ipfs cat an non-local cid with the CLI."
- **Version**: all
- **Platform**: all
- **Subsystem**: CLI

#### Type: Question

#### Severity: Low

#### Description:
Without a daemon running we cant ipfs cat an non-local cid with the CLI.
Should we start a node in the cli code path?
https://github.com/ipfs/js-ipfs/blob/1fb71f2fe9182e95db913504ed7b933d3b7ca4a4/src/cli/utils.js#L47-L73

I think this worked before but that might have been a bug

[2018-08-24 10:53] #1283 closed

[2018-08-25 07:16] diasdavid commented on #1527
@hugomrdias good question. There isn't a clear agreement on what it should do.

I've experience go-ipfs sometimes turning on the daemon, others just saying that the daemon is not on. @Stebalien could you comment?

[2018-08-27 09:41] vasco-santos commented on #1406
@alanshaw I totally agree that we should go on this way as a rule for handling errors.

[2018-08-27 09:52] alanshaw commented on #1406
please read this for more context/reasoning: https://github.com/ipfs/js-ipfs/pull/1506#issuecomment-414986810

[2018-08-29 10:42] victorb opened #1529 "Can't disable preload for CLI daemon"
- **Version**: js-ipfs version: 0.31.7
- **Platform**: Linux 4.18.5-arch1-1-ARCH #1 SMP PREEMPT Fri Aug 24 12:48:58 UTC 2018 x86_64 GNU/Linux
- **Subsystem**: Preload

#### Type:
Bug

#### Severity:
Low
#### Description:

Can't disable preloading when running the daemon via the CLI. Even with `preload.enabled` set to `false`, the daemon seems to not respect it and when adding data, automatically d

[2018-08-29 10:43] VictorBjelkholm commented on #1529
Initially thought that https://github.com/ipfs/js-ipfs/pull/1372 would fix it, but after applying that change, this still happens so seems to be something specific with preloading config.

[2018-08-29 10:43] lidel opened #2863 "Streaming versions of ipfs.files.add buffer entire data in memory before doing HTTP POST"
[code]

## Problem Summary

As noted [here](https://github.com/ipfs-shipyard/ipfs-webui/issues/762#issuecomment-416879542) streaming over HTTP does not work the way people expect: it ends before HTTP transport and entire thing is buffered in memory before HTTP POST is called with contents of the buffer.

This means when HTTP POST is sent to `/api/v0/add` browser has entire payload in memory.
Strea

[2018-08-29 14:56] mkg20001 commented on #1509
Just guessing: This might be an issue because of wrong handling of paths/path-matching on windows as they usually get added unix-style to the browser field. ?

[2018-08-29 21:40] tyvdh opened #1752 "Error: Invalid version, must be a number equal to 1 or 0"
Running a number of `ipfs.dag.put` requests flawlessly and then running `ipfs.pin.add` on each of their cids. However when I go to `ipfs.pin.ls` I get a long list of these errors.

[code]

Any ideas?

[2018-08-29 22:29] tyvdh opened #1751 "RangeError: Source is too large"
Trying to `ipfs.pin.add` a fairly large dag cid. According to https://www.npmjs.com/package/object-sizeof it's 230,000 bytes. Still pretty far from the 1MB limit though. Are there other constraints I'm missing?

`"ipfs": "^0.31.7",`
`$ node --version -> v10.9.0`

[code]

[2018-08-30 00:49] victorb opened #1531 "Adding files with cid version 1 breaks `pin ls`"
- **Version**:  js-ipfs version: 0.31.7 (46222e1093b8919f572fd948612bd436a4376e31)
- **Platform**: Linux niue 4.15.0-33-generic #36-Ubuntu SMP Wed Aug 15 16:00:05 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
- **Subsystem**: CID,pin

#### Type:
Bug

#### Severity:
Medium

#### Description:

Adding files with `--cid-version=1` specified makes running `pin ls` output error `Invalid version, must be a num

[2018-08-30 07:52] alanshaw commented on #1497
It's that time again! 🚢 :shipit: 🚢

[2018-08-30 08:58] alanshaw opened #1533 "Release candidates?"
We're nearly ready to go with js-ipfs 0.32. I wanted to get peoples thoughts and opinions on adding a step to the [release process](https://github.com/ipfs/js-ipfs/blob/master/RELEASE.md#-release-checklist) "Publish a release candidate".

When all the PRs for a release are merged, the usual order of events is to announce publicly that a new release is coming, then after a few days and no blocking

[2018-08-30 09:01] alanshaw commented on #1533
Also worth considering is that `npm link` isn't the only way to install master - you can also `npm i ipfs@github:ipfs/js-ipfs`

[2018-08-30 09:04] alanshaw commented on #1531
@VictorBjelkholm do you know if this happens in master? We fixed https://github.com/ipfs/js-ipfs/issues/1518 recently - it might have effected it.

[2018-08-30 09:09] VictorBjelkholm commented on #1531
@alanshaw yes, this happens on current master (commit 46222e1093b8919f572fd948612bd436a4376e31)

[2018-08-30 09:16] vasco-santos commented on #1533
I agree with this method!

Moreover, we should guarantee that the [ipfs/interop](https://github.com/ipfs/interop) tests do not fail when a new release happens. With this method, we can guarantee this easily without having to go through all the `linking` and we can have the rule that the final release only can advance if the `interop` tests are green.

[2018-08-30 11:46] jacobheun commented on #1533
While it will add some additional process to the release initially, I think this also sets us up to get much more efficient in the future. If we can add nightly ci builds of key projects to use `npm i ipfs@next`, this would really help boost confidence in releases and provide us more opportunities to catch failures.

If we wanted to remove some release overhead, we could look at adding an `--rc` f

[2018-08-30 11:58] achingbrain commented on #1533
This all sounds great and I am 👍.

We should run the interop tests and do the rc release as part of ci for master though, that'd be 💯, that way only the final non-rc release would be a manual step.

--

Installing from `ipfs@github:ipfs/js-ipfs` to verify a fix is ok in a pinch but it may have moved on from where you wanted it to be which can cause complications.  You also push the burden of figur

[2018-09-01 23:51] patientplatypus opened #1534 "Getting an IPFS instance to connect to a swarm doesn't work (or docs incomplete)"
I've been looking at this for a while, and as far as I can tell this is a bug and not bad code. Essentially, outside of using p2p-websocket-star or similar there does not appear to be a working way of setting up a personal swarm. Either that or everything that I've read in the documentation here and elsewhere is incomplete.

I have a detailed write up on stack overflow (https://stackoverflow.com/q

[2018-09-04 22:49] interfect commented on #1088
I just checked on `libp2p-webrtc-star` today, with js-ipfs 6d960f322ce30b3092bc539368f1257a5213b6ef.

Putting `'/dns4/wrtc-star.discovery.libp2p.io/tcp/443/wss/p2p-webrtc-star'` in as a `Swarm` (alongside `'/dns4/ws-star.discovery.libp2p.io/tcp/443/wss/p2p-websocket-star'`) led to quick file transfers between computers in my LAN, but also led to Firefox (after a few minutes) no longer being able t

[2018-09-05 01:40] lidel commented on #1088
@interfect did you try running it along with libp2p connection manager?
Limiting the number of connections may improve stability of webrtc.

- https://github.com/ipfs/js-ipfs#optionsconnectionmanager
- https://github.com/libp2p/js-libp2p-connection-manager#create-a-connectionmanager

<details>
  <summary>Click to expand sample config</summary>

[code]
</details>

[2018-09-06 01:59] interfect commented on #1088
@lidel I've given `connectionManager.maxPeers` a shot (although I didn't include `"Bootstrap": []` in my config), and the browser crash issues persist. It doesn't really seem to have much of an effect; I think I may get my node reporting fewer peers, but I'm still seeing loads and loads of attempted WebRTC connections in about:webrtc, and loads and loads of UDP connections at the router:

![image]

[2018-09-06 08:23] maroodb opened #1545 "Is it possible to setup a private IPFS network ?"
I am developing a focused enterprise application that needs to distribute data and p2p file sharing,
I want to know if is it possible to setup a private IPFS network?

[2018-09-06 11:37] mccoysc opened #1546 "pubsub err"
throw err
        ^

Error: Cannot read property 'subscribe' of undefined
    at parseError (C:\Users\mccoyzhou\AppData\Roaming\npm\node_modules\ipfs\node_modules\ipfs-api\src\utils\send-request.js:17:17)
    at ClientRequest.<anonymous> (C:\Users\mccoyzhou\AppData\Roaming\npm\node_modules\ipfs\node_modules\ipfs-api\src\utils\send-request.js:47:14)
    at Object.onceWrapper (events.js:315:30)

[2018-09-06 19:27] parkan commented on #1529
we'd like to be able to turn off preloading for debugging purposes in the IA integration (and because the client is likely not connected to ipfs.io, making preloads useless)

is this broken in browser, as well?

[2018-09-06 19:56] parkan commented on #1476
this seems to come back intermittently, any ideas?

[code]

[2018-09-07 10:34] achingbrain opened #1547 "Reset config"
Is there an api for resetting the repo config file to it's default value?  For when you've really stuffed things up but haven't restarted the daemon and want to reset to a known good state.

[2018-09-07 12:48] Eljoy commented on #1254
@mistakia , have you already tried[ all the suggestions](https://github.com/janeasystems/nodejs-mobile/blob/mobile-master/FAQ.md#how-can-i-improve-nodejs-load-times) addressing performance issues ?

[2018-09-07 13:01] mistakia commented on #1254
Yup! 👍

Bundling the files did have a major impact on CPU usage (not just load times). After nodejs-mobile `v0.1.5` and using browserify to bundle, load times and cpu usage are reasonable and the app is running smoothly.

However, I have yet to really battle test it with a large number of peers and under poor network conditions.

[2018-09-07 14:13] Eljoy commented on #1254
@mistakia looking forward, to see your updated, thanks! 👍

[2018-09-07 14:15] alanshaw commented on #1547
Not that I'm aware of but I think it's a good idea - @Stebalien & @diasdavid what do you reckon?

[2018-09-08 02:18] mccoysc opened #1550 "pubsub problem"
i use jslibp2p in chrome.after i have sub a topic in one chrome tab ,i pub a msg in a new chrome.no msg can be recv by the sub

[2018-09-09 04:16] mccoysc commented on #1550
Even i have used vpn ，the error continue appears

[2018-09-10 14:45] alanshaw commented on #1534
@patientplatypus can this be closed?

FYI there's documentation on this in [the README](https://github.com/ipfs/js-ipfs#how-can-i-configure-an-ipfs-node-to-use-a-custom-signaling-endpoint-for-my-webrtc-transport) - are we missing something?

[2018-09-10 14:51] alanshaw commented on #1545
@maroodb what do you mean by private exactly? You can completely customise the libp2p stack for your IPFS node, so you could in theory disable any discovery mechanisms that would allow your IPFS node to connect to nodes outside of your "network". See https://github.com/ipfs/js-ipfs#optionslibp2p.

Does that answer your question?

[2018-09-10 14:58] alanshaw commented on #1546
Hi @mccoysc can you provide some more information? Do you have a code example you can paste here?

[2018-09-10 15:01] alanshaw commented on #1550
@mccoysc is this the same issue as the one you opened here? https://github.com/ipfs/js-ipfs/issues/1546

I'll need more information - what error are you receiving? Can you provide a code example I can use to replicate the error?

[2018-09-10 15:12] alanshaw commented on #1517
You can do that with `ipfs.swarm.disconnect`, but pubsub messages don't always come directly from the peer who sent them, they are propagated around the network by other peers. So disconnecting from a node that is doing spamming isn't necessarily going to stop messages that they send from getting to you.

This feature needs a different pubsub implementation, which has been in the pipeline for a wh

[2018-09-10 15:12] #1517 closed

[2018-09-10 15:14] #1446 closed

[2018-09-10 15:17] VictorBjelkholm commented on #1529
@parkan my guess is yes (but I have not tried it myself) as the checks are in the `components/` itself, not the CLI nor HTTP API.

[2018-09-10 17:43] patientplatypus opened #1555 "Files.cat is never getting called in watcher - Also no error!"
Hi! I am getting very strange behaviour where a watcher on a variable can not trigger a  `this.ipfs.files.cat` command, but it does elsewhere. So this appears to be a `non-symmetric` error that is behaving very strangely. For the full code example please see this stackoverflow post: https://stackoverflow.com/questions/52262863/ipfs-files-cat-is-never-getting-called. I am calling this a problem wit

[2018-09-10 20:34] patientplatypus commented on #1534
You can close this issue thanks - there is no known solution yet for the memory leak, but I believe that is another problem.

[2018-09-10 20:34] #1534 closed

[2018-09-10 21:55] alanshaw commented on #1555
My guess is that `files.cat` _is_ being called but it cannot find the CID you're providing it. What version of js-ipfs are you using?

[2018-09-11 03:01] patientplatypus commented on #1555
Ah! Somehow it is now working - there is some significant lag time in retrieving the data (3-4 seconds depending on size) and I must have fixed a previous error, saw that it was not loading and continued thinking there was a bug. Apologies, and thanks for getting back to me.

[2018-09-11 03:01] #1555 closed

[2018-09-11 12:17] #1545 closed

[2018-09-11 14:32] alanshaw opened #1557 "custom-ipfs-repo example broken"
With dependencies upgraded to:

"datastore-fs": "~0.5.0",
"ipfs-repo": "~0.23.1"

[code]

[2018-09-11 16:43] parkan commented on #1476
a scenario I've seen is when a service behind nginx, rather than nginx itself, generates the CORS headers, and that service goes down, we end up with nginx-generated messages without the right CORS (which then masks the underlying service failure)

[2018-09-11 16:56] alanshaw commented on #1497
It release! ✨ 💃 🕺

[2018-09-11 16:56] #1497 closed

[2018-09-11 17:59] jacobheun commented on #1557
So the end error that's showing up here is a bit misleading as it's a could of different errors all kind of wrapping each other. Fun stuff!

The root issue here is around the work we need to do with adding error codes to all errors. In `js-ipfs-ms` it does a check to see if the repo has its mfs key. When it doesn't exist, mfs will create it and everyone is happy. The problem is with the current ch

[2018-09-11 18:04] jacobheun commented on #1557
Also, I was wrong about the error wrapping, they're just two different areas with the same problem.

[2018-09-11 20:04] tchardin commented on #1546
I think this might be the same issue:
(running with the default create-react-app setup and js-ipfs@0.32.0-rc.1)
[code]
Error:
<img width="569" alt="screen shot 2018-09-11 at 9 58 03 pm" src="https://user-images.githubusercontent.com/19876116/45384316-f3728980-b60d-11e8-8660-000be5c9fd27.png">

[2018-09-11 22:42] lgierth commented on #1476
By now nginx should be doing the CORS headers exclusively though, and go-ipfs shouldn't be setting them anymore.

I'll double-check this tomorrow.

[2018-09-11 22:51] mitra42 commented on #1476
@lgierth - do you mean just for this (preload) case, or for all cases. Because we've also got an open bug where go-ipfs running locally (on a laptop) is denying access to local browser. https://github.com/ipfs/js-ipfs-api/issues/855

[2018-09-11 23:08] lgierth commented on #1476
Just talking about the preload.ipfs.io and ipfs.io cases, but I'll check that /version is out too

[2018-09-12 09:19] alanshaw commented on #1557
@jacobheun 👍 to option 2

[2018-09-12 09:19] vasco-santos commented on #1557
Thanks for your analyze @jacobheun ! 🙂

I agree with the **Option** 2!

Yes, `IPNS` publish also uses the `levelDown` not found error! I will create a PR for that as well, adding the `error` code validation to that.

[2018-09-12 14:06] jacobheun commented on #1557
All of the PRs should be open now, we're just blocked on some releases. I updated the package.json of this example locally to test against and didn't hit any errors with a yarn install.

[code]

I have also verified the changes against the s3 example, https://github.com/ipfs/js-datastore-s3/tree/master/examples/full-s3-repo

[2018-09-12 17:14] tchardin commented on #1546
Fixed this btw. `Experimental` should be `EXPERIMENTAL`. Rookie mistake!

[2018-09-13 16:51] olizilla opened #1561 "Cannot create so many PeerConnections Error"
- **Version**: 0.32 & 0.31
- **Platform**: Chrome

#### Type: Bug-ish

#### Severity: Low

#### Description:

Leaving js-ipfs running in Chrome while working on ipld-explorer, I've just started seeing lots of

**Uncaught DOMException: Failed to construct 'RTCPeerConnection': Cannot create so many PeerConnections**

[code]

The instance is still functional, but it's one of those error messages that

[2018-09-13 17:05] olizilla commented on #1561
- https://github.com/webtorrent/webtorrent/issues/1349#issuecomment-418003136
- https://bugs.chromium.org/p/chromium/issues/detail?id=825576#c24

[2018-09-13 17:07] olizilla commented on #1561
What is interesting is i can leave https://explore.ipld.io open for > 10mins in a chrome tab with 0 errors, but working on it locally the errors show up after a couple of minutes. The significant differences between the two are https vs localhost and minified code vs unminified.

[2018-09-14 05:37] mccoysc opened #1562 "error while initlizing"
jsipfs daemon --enable-dht-experiment --enable-pubsub-experiment
Initializing daemon...
Using wrtc for webrtc support

C:\Users\mccoyzhou\AppData\Roaming\npm\node_modules\ipfs\node_modules\libp2p\src\index.js:145
      if (t.filter(multiaddrs).length > 0) {
            ^

TypeError: t.filter is not a function
    at _modules.transport.forEach (C:\Users\mccoyzhou\AppData\Roaming\npm\node_modules\ip

[2018-09-14 05:46] alanshaw commented on #1562
@mccoysc could you provide the code that is causing this error?

[2018-09-14 05:48] mccoysc commented on #1562
no code.
i just npm install ipfs -g and then type "jsipfs daemon --enable-dht-experiment --enable-pubsub-experiment" with enter and the error occours

[2018-09-14 08:59] alanshaw commented on #1562
I've just done a fresh install of ipfs@0.32 and I'm not getting the same error - could you try reinstalling?

[2018-09-14 09:26] alanshaw commented on #1561
@jacobheun would you be able to look into this one?

[2018-09-14 09:35] alanshaw commented on #1546
Yes, the [`pubsub` property doesn't get set on the libp2p node](https://github.com/libp2p/js-libp2p/blob/master/src/index.js#L96-L99) if you don't enable pubsub in the config.

@mccoysc this is likely the cause of your problem too.

[2018-09-14 09:35] #1546 closed

[2018-09-14 10:00] alanshaw opened #1563 "A viable alternative to go-ipfs?"
I would very much like for the js-ipfs implementation to be the most widely used IPFS implementation and I'm interested to know what the main blockers are for that.

_We realise you have a choice of IPFS provider and your choice in important to us._

Or in other words, why do you type `ipfs daemon` and not `jsipfs daemon`?

I've had some interesting insight already:

[2018-09-14 10:35] lidel commented on #1563
After giving it some additional thought, js-ipfs is missing:
- Full IPNS support (but we are getting there)
- DHT: interop with go and dhtclient mode  (to limit ambient traffic)
- [support for predefined configuration profiles](https://github.com/ipfs/go-ipfs/blob/master/docs/config.md#profiles).
  - `server` one is a must-have IMO, without server profile people will get blocked by hosting provide

[2018-09-14 10:36] jacobheun commented on #1561
@alanshaw I can take a look.

[2018-09-14 13:36] jacobheun commented on #1561
@olizilla do you know how many peers your node had? I've had a basic client running the latest ipfs in chrome for a couple of hours and haven't hit the error. I do see lots of websocket errors though (which also need to get addressed).

My peer count is currently floating around 320.

[2018-09-14 14:05] maroodb opened #1564 "how to encrypt data using IPFS keys ?"
Every node has a couple of keys (private & public).
I want to use those key for data encryption,
which module I need to do that ?

[2018-09-14 15:45] olizilla commented on #1561
huh. Running ipld-explorer locally I start getting those error after ~2 mins and with 8 peers.

[2018-09-14 15:49] olizilla commented on #1561
ipld-explorer inits js-ipfs like this
https://github.com/ipfs-shipyard/ipld-explorer/blob/d17e6f5d3ee32ab63bc6be94d72455018f24c07e/src/bundles/ipfs.js#L96-L103

It uses a dynamic import to load in the bundle once we're sure it's needed, and then passes any user opts to it at instantiation, which will just be an empty object if there is nothing under the `ipfsOpts` key in `localStorage`, which is t

[2018-09-14 16:30] jacobheun commented on #1561
Okay, if I can't replicate with a basic instance, I will grab the explorer code and give that a go.

[2018-09-14 17:51] tyvdh commented on #1185
Happening again. 502 Bad Gateway

[2018-09-14 23:07] kevinsimper opened #1565 "libp2p:floodsub:error Error: "/floodsub/1.0.0" not supported"
Chrome Mac
Version 69.0.3497.81 (Official Build) (64-bit)

[code]

[code]

[2018-09-14 23:13] kevinsimper commented on #1565
Found it, it is because of using localhost that this error appeared which hasn't been there before. If you use https it works as expected.

[2018-09-16 14:35] diasdavid commented on #1547
I like this! When resetting, keep the current config with config.json.bak so that users have a way to recover from a reset.

[2018-09-16 18:12] patientplatypus commented on #1476
Seconding this problem - no idea why this is happening, but I've tried several different methods (see: https://gist.github.com/patientplatypus/a4adc9d1ae69fa7b3c67843ae8bab935) and I keep getting CORS errors. My code was working prior and I didn't change anything. I think this is a bug.

[2018-09-16 19:29] #1533 closed

[2018-09-17 05:54] mccoysc opened #1568 "key problems on new Ipfs"
async function mkPeerId() {
            //pks8 format
            var keyPEM = "-----BEGIN ENCRYPTED PRIVATE KEY-----\n" +
                "MIIFODBiBgkqhkiG9w0BBQ0wVTA0BgkqhkiG9w0BBQwwJwQQ9/ZfKn7qG9Rw1SaG\n" +
                "osVErQICJxACASAwDAYIKoZIhvcNAgsFADAdBglghkgBZQMEASoEEIoxnUthPDsV\n" +
                "LqqkYIJQBLcEggTQbYE0ZYjYI+BHF+SsF5wLWjmC4VyPyMGsl58CTOXwpNTi081d\n" +

[2018-09-17 08:10] ajayrao80 opened #1569 "Is there any way to store mutable objects in ipfs?"
#### Description: I was using IPFS objects to store and retrieve. At one point I wanted to edit the object stored using its hash. But as soon as I change the object it's hash changes(Obviously). Is there any way I can store and edit and retrieve IPFS objects?

[2018-09-17 09:27] mccoysc commented on #1562
i removed  the wrtc module

[2018-09-17 09:28] alanshaw commented on #1569
@ajayrao80 the two ways you cna do this are through MFS (https://docs.ipfs.io/guides/concepts/mfs/) and [IPNS](https://docs.ipfs.io/guides/concepts/ipns/). In js-ipfs we don't have a full IPNS implementation yet but you can use MFS now and it works really well :D [API docs for MFS are here](https://github.com/ipfs/interface-ipfs-core/blob/master/SPEC/FILES.md#mutable-file-system). Hope that helps.

[2018-09-17 09:28] #1569 closed

[2018-09-17 10:12] alanshaw commented on #1568
@mccoysc what version of js-ipfs are you using? How are you verifying your `privateKey` is not being used?

[2018-09-17 10:14] mccoysc commented on #1568
@alanshaw 0.32 version.
in my mind,every time if i use the same PEM file to new IPFS,the node id sdould be nerver changed.but it's changed per new IPFS

[2018-09-17 10:19] mccoysc commented on #1568
and also i have saw that in the localStorage,ipfs module saved a key-value named with the ipfs node's Id,it's changed every i new IPFS

[2018-09-17 10:47] ajayrao80 commented on #1569
Well, I added files like this:

[code]
files was an object containing path "/file.txt" and the hash.

Then I tried to write to it like this:

[code]
Got an error saying file does not exist.

[2018-09-17 11:06] alanshaw commented on #1565
Would you mind elaborating please?

[2018-09-17 11:09] alanshaw commented on #1568
@mkg20001 do you have any time to look into this bug report?

[2018-09-17 11:15] alanshaw commented on #1564
Hiya @maroodb I don't think we have any tutorials for this, but you might want to take a look at the crypto util included with IPFS: https://github.com/ipfs/js-ipfs#util

[2018-09-17 11:20] alanshaw commented on #1562
Closing as this can now be tracked upstream: https://github.com/libp2p/js-libp2p-webrtc-star/issues/156

[2018-09-17 11:20] #1562 closed

[2018-09-17 12:29] jacobheun commented on #1561
In order to replicate this with a basic js-ipfs instance I needed to add the wrtc star discovery server address to the swarm list.

[code]

I've got a fix for catching these errors at https://github.com/libp2p/js-libp2p-webrtc-star/pull/157

[2018-09-17 12:30] olizilla opened #1571 "Cannot find module 'libp2p-crypto'"
- **Version**: 0.32
- **Platform**: all
- **Subsystem**:

#### Type:

Bug

#### Severity:

High

#### Description:

`libp2p-crypto` isn't listed in the `package.json` dependencies of `js-ipfs`, but is used

https://github.com/ipfs/js-ipfs/blob/e7d1270590abb313b7519dd29a43f2a927907653/src/core/index.js#L9

[code]

#### Steps to reproduce the error:

- Pull from `js-ipfs` master,
- `npm install`
- r

[2018-09-17 13:26] alanshaw opened #1574 "Passing null/undefined for options crashes node"
It's legal to pass `null`/`undefined` as a value for options. In some instances our API methods expect an options object to exist and try to access properties on it, which fails and crashes the node.

e.g.

https://github.com/ipfs/js-ipfs/blob/e7d1270590abb313b7519dd29a43f2a927907653/src/core/components/files.js#L279-L281

^^ in this instance, the default assignment only happens if options is `und

[2018-09-17 13:54] #1561 closed

[2018-09-17 14:00] jacobheun commented on #1561
libp2p-webrtc-star@0.15.5 is now live and resolves this.

[2018-09-17 14:55] olizilla opened #2895 "Add a restart method to allow config updates to be applied via api"
The api allows for the node config to be changed via [`config.set`](https://github.com/ipfs/interface-ipfs-core/blob/master/SPEC/CONFIG.md#configset) and [`config.replace`](https://github.com/ipfs/interface-ipfs-core/blob/master/SPEC/CONFIG.md#configreplace) and for stopping of the daemon process via [`stop`](https://github.com/ipfs/interface-ipfs-core/blob/master/SPEC/MISCELLANEOUS.md#stop) but t

[2018-09-17 14:59] alanshaw opened #1575 "jsipfs swarm addrs errors"
[code]

[2018-09-17 15:58] #1571 closed

[2018-09-17 16:19] parkan commented on #1459
is the overall preload lifecycle as it operates currently documented somewhere? (other than https://github.com/ipfs/js-ipfs/blob/2a061520ddea2c3dcafa6f3657551865f33ecca9/README.md#optionspreload)

the main part that I am having trouble with is reasoning about the differences between `.add` and `.get` scenarios: most of the discussion focuses on `.add` (i.e. "added a file to local/browser js node a

[2018-09-17 16:37] maroodb opened #1577 "How control file access in IPFS?"
I can't find  a way to control read/write access in IPFS,
so how to control access ?

[2018-09-17 18:21] kevinsimper commented on #1565
@alanshaw Yes, sorry it was not clear.

I thought the reason was the page was hosted on `http://localhost:5000` because when it was deployed on `https://` the problem disappeared.

Now I tried to reproduce, the error does appear on `http://` anymore.

But I can find it on `file://xxx/index.html` but I know that `file://` will never be supported since the many differences.

![image](https://user-im

[2018-09-17 20:21] ajayrao80 opened #1578 "Ok. I figured out the file write part. But I can't access the file from another machine (or instance)."
It says file does not exist. So it seems its not published to the ipfs network. Is there any way to do that?

_Originally posted by @ajayrao80 in https://github.com/ipfs/js-ipfs/issue_comments#issuecomment-422156833_

[2018-09-17 20:26] ajayrao80 opened #1579 "Mutable file system issue"
#### Type: Question

#### Severity: High

#### Description:
I was working with MFS. I created a file like this.

[code]
I could change the values and read the changed values on the instance I was working with but not on different machine/instance.
How do I get the IPFS link of the mutable file or how can I put it in IPFS network ?

[2018-09-17 20:32] ajayrao80 opened #1580 "Make directory in MFS throws error"
#### Type: Bug
#### Severity: High

#### Description: I was working with MFS.
Below code to create a directory throws error
Code:
[code]

Error:
[code]

#### Steps to reproduce the error:

[2018-09-17 21:09] kyledrake commented on #1440
@alanshaw Is there a different meta issue for this other than this issue? Was wondering if there were any updates here this issue is missing.

[2018-09-18 05:07] ajayrao80 commented on #1579
Ok. I solved the above problem but the problem is as soon as I write the content to a mutable file, it's hash changes (including the hash of the directory). How do I access the updated file from different machines?

[2018-09-18 07:51] mccoysc commented on #1568
is the bug fixed?

[2018-09-18 08:55] #1578 closed, assigned to nobody

[2018-09-18 08:59] alanshaw commented on #1579
Right now this is more difficult in js-ipfs than it should be. We have [IPNS](https://docs.ipfs.io/guides/concepts/ipns/) on the way to allow you to setup a mutable pointer to some content. You could also use pubsub to advertise the fact the content has changed.

For general support like this, please consider using https://discuss.ipfs.io/

[2018-09-18 08:59] #1579 closed

[2018-09-18 09:01] alanshaw commented on #1580
If the parent directory doesn't exist you'll need to use the `parents` option to have it create `my` as well as `dir`.

https://github.com/ipfs/interface-ipfs-core/blob/master/SPEC/FILES.md#filesmkdir

[2018-09-18 09:01] #1580 closed

[2018-09-18 09:11] alanshaw commented on #1577
For read, content in your IPFS repository is accessible to all connected peers as long as they know the hash. There's currently no way to restrict this, but you could encrypt the content yourself and share the decryption key with the peers you want to have access. Note this facility is not provided by IPFS. Check out https://github.com/jbenet/ipfs-senc for an example.

By default, write access is

[2018-09-18 09:11] #1577 closed

[2018-09-18 09:32] maroodb commented on #1577
Encryption doesn't solve the problem:
for example when **A** share the key with **B**, there is **no guarantee** that **B** dont share the key with others nodes without A permission's.
Thank you :)

[2018-09-18 09:40] alanshaw commented on #1440
No this is it. Updates are:

* https://github.com/ipfs-shipyard/js-cid-tool exists, can be installed as a standalone tool. PR for integrating with js-ipfs is here https://github.com/ipfs/js-ipfs/pull/1560
* `--cid-base` option PR is now here https://github.com/ipfs/js-ipfs/pull/1552

I haven't been able to work on anything more 😢

[2018-09-18 11:36] alanshaw commented on #1459
I'm not sure I understand the question...

* preload on add effectively pushes your data up to the preload nodes for others to consume
* preload on get prompts the preload nodes to fetch the data from a different node

The both solve the problem of connecting nodes to content without a DHT.

[2018-09-19 08:36] alanshaw commented on #1563
Would a post install step to symlink ipfs -> jsipfs if ipfs isn't already taken be useful or just complicate things?

[2018-09-19 09:28] hugomrdias commented on #1563
What about a ipfsd-ctl like cli ? we would have only one jpfs bin with the option to choose from go or js, we could even have it work like nvm and provide the version to run. Makes sense ?

[2018-09-19 11:30] alanshaw commented on #1565
I'm sorry but I still don't understand what the problem is here - what are you trying to do? The error message in your screenshot is different to the error in your first comment...

[2018-09-19 11:46] alanshaw commented on #1557
@jacobheun thanks for being so thorough 🥇 ❤️

[2018-09-19 19:20] parkan commented on #1459
@alanshaw I guess it's confusing from a REST verb perspective -- what looks like the same GET call actually represents two different directions of data movement (which also happens out of band from the HTTP request itself), one from your node up to the server (kind of an upload/PUT) and one between some other node and the server (kind of a sideload/???)

at minimum, it's difficult to tell what's h

[2018-09-19 19:21] parkan commented on #1459
at minimum, we should add a description of both scenarios [here](https://github.com/ipfs/js-ipfs#optionspreload) because it is not at all obvious that both can happen

[2018-09-20 15:51] vasco-santos commented on #1557
[js-ipfs#1558](https://github.com/ipfs/js-ipfs/pull/1558) PR is ready. After that and [js-ipfs-mfs#10](https://github.com/ipfs/js-ipfs-mfs/pull/10) get merged and new `ipfs-mfs` version gets released, I think that this issue will be solved.

I will keep an eye on those PRs and try it once they get merged.

[2018-09-20 16:05] jacobheun commented on #1557
Once we get the ipfs-mfs version released and bumped in the #1558 PR, I can run through a final test of the custom repo and the s3 datastore example for final validation.

[2018-09-21 00:44] andreiamatuni opened #1584 "electron example fails"
- **Version**: master
- **Platform**: macOS
- **Subsystem**: whatever uses fs-ext

#### Type:

Bug

#### Severity:

Medium

#### Description:

electron example fails due to fs-ext native module

#### Steps to reproduce the error:

running run-in-electron example, and starting with ```npm start```

produces this error:

[code]

[2018-09-21 12:50] lidel commented on #1563
I agree with @hugomrdias , CLI UX needs to be solved before we start playing with default symlink.

Perhaps it could be something like this:
[code]

----

I've found another reason why people run `go-ipfs` instead of js one: debugging and metrics.
go-ipfs exposes various metrics and debug info on API port:

- [`:5001/debug/pprof/`](https://github.com/ipfs/go-ipfs/blob/master/docs/debug-guide.md)
-

[2018-09-21 13:37] VictorBjelkholm commented on #1584
Could you paste the output of `npm version` here?

[2018-09-22 00:19] andreiamatuni commented on #1584
[code]

[2018-09-22 00:59] lidel opened #1585 "ipfs.files.add with {cidVersion: 1} returns valid hash with undefined size"
- **Version**: js-ipfs 0.32.2
- **Platform**: Node
- **Subsystem**:

#### Type: Bug

#### Severity:  High

#### Description:

For some inputs `ipfs.files.add` with `{cidVersion: 1}` returns valid CID however `size` field is `undefined`. The problem does not occur if `{cidVersion: 0}` is used.

##### Result of ipfs.files.add (CIDv0)
[code]

#####  Result of ipfs.files.add (CIDv1)
[code]

#### Steps

[2018-09-23 02:14] mccoysc opened #1586 "TypeError: peerId.toB58String is not a function"
code:

[code]
error:
[code]

[2018-09-23 19:33] nijynot opened #1587 "Error when `ipfs.swarm.connect` or `jsipfs swarm connect`"
First node
- **Version**: 0.32.2
- **Platform**: Windows 10
- **Subsystem**:

Second node
- **Version**: 0.32.2
- **Platform**: OS X
- **Subsystem**:

#### Type: Bug

#### Severity: High

#### Description: I cannot connect two local nodes (127.0.0.1) with the `ipfs.swarm.connect` node.js API. Also tried to connect with the `jsipfs` CLI, but got same error, i.e. `jsipfs swarm connect` doesn't work

[2018-09-24 01:04] mccoysc opened #1588 "jsipfs.js:97 Uncaught TypeError: Cannot read property 'generateKey' of undefined"
code:

http://tmpbucketlog.oss-cn-shanghai.aliyuncs.com/test.html
you can browse the web page and code and see error informations via chrome console.

version:
0.32.0

error:
jsipfs.js:97 Uncaught TypeError: Cannot read property 'generateKey' of undefined
    at Object.t.generateKey (jsipfs.js:97)
    at Object.generateKeyPair (jsipfs.js:121)
    at Object.t.generateKeyPair (jsipfs.js:121)
    at

[2018-09-24 01:07] mccoysc commented on #1588
but if you browse https url ,all is ok
https://tmpbucketlog.oss-cn-shanghai.aliyuncs.com/test.html

[2018-09-24 02:38] mccoysc commented on #1568
i have fixed this bug:
if new Ipfs({init:{privateKey:peerId}}) and peerId is an instance of PeerId object,
the extend function in IPFS constructor only copy the data part of options object, those non-data-fields would be lost, __prototype__ ,eg.
so,some field which really is an object should be set value with more attentions

[2018-09-24 02:39] #1568 closed

[2018-09-24 02:39] #1588 closed

[2018-09-24 02:39] #1586 closed

[2018-09-24 03:30] mccoysc opened #1589 "jsipfs.js:97 Uncaught TypeError: Cannot read property 'generateKey' of undefined"
code:

http://tmpbucketlog.oss-cn-shanghai.aliyuncs.com/test.html
you can browse the web page and code and see error informations via chrome console.

version:
0.32.0

error:
jsipfs.js:97 Uncaught TypeError: Cannot read property 'generateKey' of undefined
at Object.t.generateKey (jsipfs.js:97)
at Object.generateKeyPair (jsipfs.js:121)
at Object.t.generateKeyPair (jsipfs.js:121)
at t (jsipfs.js:64)

[2018-09-24 03:33] mccoysc commented on #1589
jsipfs init +0ms
test.html:52 jsipfs repo exists? +4ms false
test.html:52 jsipfs generating peer id

[2018-09-24 03:33] mccoysc commented on #1589
the right version is 0.32.2

[2018-09-24 16:39] renne opened #1590 "Gateway support for browsers"
#### Type: Feature

Especially with the [Cloudflare IPFS gateways online now](https://blog.cloudflare.com/distributed-web-gateway/) it would be great if a browser can bootstrap index.html and js-ipfs via HTTPS and then load static content via js-ipfs.

This should be possible with just adding a script-tag in index.html.

[2018-09-24 20:14] alanshaw opened #2806 "stat withLocal does not work"
Always returns `{ withLocality: false, local: undefined, localSize: undefined }`

[2018-09-25 10:09] alanshaw commented on #1585
@achingbrain do you have some time to look into this one? Looks like it might be a bug in unixfs-engine.

[2018-09-25 10:10] achingbrain commented on #1585
Sure, I'll take a look

[2018-09-25 11:34] lidel commented on #1590
FYI there is IPFS gateway fully running on a Service Worker:
- https://github.com/ipfs-shipyard/service-worker-gateway

[2018-09-25 14:41] achingbrain commented on #1585
Found the issue, see #1591

@lidel thanks so much for providing the failing test as an example.  However even after the fix is merged it'll still fail because it asserts that the reported size of the file added with the v1 CID is greater than the input buffer - the default behaviour for v0 CIDs was to wrap all data in protobufs but for v1 it's to have it as a raw node (e.g. just a buffer), so the

[2018-09-25 17:48] lgierth commented on #1563
More reasons people pick go-ipfs:

- Raw performance - the go-ipfs gateway can serve GBs of data per second, given appropriate hardware.
- dependency - a statically compiled binary simply rocks. On the user end of go-ipfs there's just zero dependency issues. Just download the binary and get going.

[2018-09-26 12:44] renne commented on #1590
If I understand [service-worker-gateway](https://github.com/ipfs-shipyard/service-worker-gateway) correctly, it runs on IPFS-HTTP(S) gateways. What I have in mind is

1. loading [js-ipfs](https://github.com/ipfs/js-ipfs) via an IPFS-HTTP(S) gateway
2. run [js-ipfs](https://github.com/ipfs/js-ipfs) as a service worker **in the browser**
3. [js-ipfs](https://github.com/ipfs/js-ipfs) catches all rela

[2018-09-27 06:35] #1589 closed

[2018-09-27 06:36] mccoysc opened #1592 "Uncaught Error: Callback was already called"
Uncaught Error: Callback was already called
at onlyOnce.js:9
    at pull.collect (stream-handler.js:91)
    at reduce.js:10
    at drain.js:20
    at read (encode.js:27)
    at values.js:19
    at encode.js:25
    at next (drain.js:16)
    at sink (drain.js:37)
    at pull (pull.js:41)
    at StreamHandler.write (stream-handler.js:80)
    at waterfall (dialer.js:212)
    at nextTask (waterfall.js:

[2018-09-27 07:50] mccoysc opened #1593 "some time "this.listenersRefs[Object.keys(this.listenersRefs)[0]]" is undefined and throw and error."
const sioClient = this
      .listenersRefs[Object.keys(this.listenersRefs)[0]].io

some time "this.listenersRefs[Object.keys(this.listenersRefs)[0]]" is undefined and throw and error.

this line is in libp2p-webrtc-star/src/index.js @line 63

[2018-09-27 09:02] #1585 closed

[2018-09-27 09:09] olizilla commented on #1547
How about moving this to https://github.com/ipfs/interface-ipfs-core so we can start to consolidate all the api proposals in one place?

[2018-09-27 09:35] achingbrain opened #2896 "Add a method to reset node config to the defaults"
Follow on from https://github.com/ipfs/js-ipfs/issues/1547 and is related to https://github.com/ipfs/interface-ipfs-core/issues/366

The user can experiment with config changes via the `config.set` method but there's no way back to the original config apart from stopping the node and removing the config file.

The proposed method would allow you to reset the config to known good defaults without h

[2018-09-27 09:35] achingbrain commented on #1547
Closing in favour of https://github.com/ipfs/interface-ipfs-core/issues/372

[2018-09-27 09:35] #1547 closed

[2018-09-27 10:01] mccoysc opened #1594 "e.write is not a function"
Uncaught (in promise) TypeError: e.write is not a function
    at Object.t [as writeResponse] (utils.js:80)
    at e.write.r (hop.js:166)
    at e.exports.write (stream-handler.js:77)
    at e.exports._negotiateStop (hop.js:163)
    at p (hop.js:207)
    at c (waterfall.js:16)
    at f (waterfall.js:23)
    at onlyOnce.js:12
    at e.utils.writeResponse.e (hop.js:145)
    at Object.t [as writeResp

[2018-09-27 10:04] mccoysc commented on #1594
function writeResponse (streamHandler, status, cb) {
    cb = cb || (() => {})
    streamHandler.write(proto.CircuitRelay.encode({
      type: proto.CircuitRelay.Type.STATUS,
      code: status
    }))
    return cb()
  }

error is " streamHandler.write is not a function"

[2018-09-27 10:07] mccoysc commented on #1594
libp2p-circuit/src/circuit/util.js

[2018-09-27 10:44] achingbrain commented on #1594
Could you please open an issue on the https://github.com/libp2p/js-libp2p-circuit repo along with an example that replicates the problem?

[2018-09-27 10:46] achingbrain commented on #1592
From the stack trace it looks like this needs reporting in the https://github.com/libp2p/js-libp2p-circuit repo (the `stream-handler.js` is what gives it away)

Could you please open an issue on that repo along with an example that replicates the problem?

[2018-09-27 10:47] achingbrain commented on #1593
This might belong in the https://github.com/libp2p/js-libp2p-webrtc-star - could you please open an issue there along with an example that replicates the problem?

[2018-09-27 10:52] #1593 closed

[2018-09-27 10:52] #1594 closed

[2018-09-27 10:52] #1592 closed

[2018-09-27 11:31] jedibojan commented on #1384
Since nsp service is shutting down (https://blog.npmjs.org/post/175511531085/the-node-security-platform-service-is-shutting), and npm is doing security checks from now on, I think that this bug can be closed.

[2018-09-27 13:34] vmx opened #1596 "write-file-atomic swallows errors"
- **Version**: current HEAD
- **Platform**: Linux

#### Type: Enhancement

#### Severity: Low

#### Description:

When using an IPFS Repository with js-ipfs that was created by js-ipld it will fail as the `Identity` is missing in the config.

The problem is that it took my quite some time to find that out as the original error is swallowed by [write-file-atomic](https://www.npmjs.com/package/write

[2018-09-27 13:43] rklaehn opened #2839 "Provide typescript type definitions"
This would be extremely helpful. I have worked with both flow and typescript. Flow has some theoretical advantages, but typescript has way better tooling support and mindshare, which is why I reluctantly switched to typescript.

Please provide typescript type definitions just for the API. That would be extremely helpful.

[2018-09-27 13:44] vmx commented on #1596
I forget to add that if you want to see that issue directly without js-ipfs, you can use this script:

[code]

The output is:

[code]

So the callback was called twice.

[2018-09-28 03:13] mccoysc opened #1597 "Ipfs.setMaxlisteners is not effective"
warning: possible EventEmitter memory leak detected. 11 listeners added. Use emitter.setMaxListeners() to increase limit.

though i call Ipfs.setMaxlisteners(1024),it's not effective,throw the above warnings

[2018-09-28 04:31] mccoysc opened #1598 ""ready" event is not triggered"
Ipfs.on("ready",function(err){

})

if error ,the error event would be triggered but ready would never be triggered which cause the ready not work.
i suggest that if in waiting for "ready" state,after trigger the "error","ready" should be triggerd

[2018-09-28 04:53] mccoysc opened #1599 "Uncaught TypeError: sort is not a function"
Uncaught TypeError: sort is not a function
    at Function.e.exports [as create] (create.js:39)
    at Object.t.deserialize (util.js:75)
    at y (index.js:376)
    at c (waterfall.js:16)
    at f (waterfall.js:23)
    at onlyOnce.js:12
    at getMany (index.js:207)
    at map.js:32
    at once.js:12
    at f (eachOf.js:60)
    at onlyOnce.js:12
    at map.js:29
    at once.js:12
    at f (waterfa

[2018-09-28 04:58] mccoysc commented on #1599
this maybe caused by the stable.js at line 5 which end with ":".
when loaded,throw an warning:unexpected token

[2018-09-28 08:45] alanshaw commented on #1596
@vmx can you provide details of how you're doing this:

[2018-09-28 08:48] alanshaw commented on #1597
Are you using pubsub? If so you'll need to call that on the pubsub component e.g.

[code]

https://github.com/ipfs/js-ipfs/blob/549f2f63e19bc8ae9dfcd7a785f083f29d3c069f/src/core/components/pubsub.js#L50-L52

[2018-09-28 08:50] alanshaw commented on #1598
Hmm, I'm not sure I agree. If there was an error starting the node it is not ready and never will be.

[2018-09-28 08:50] #1598 closed

[2018-09-28 08:55] mccoysc commented on #1598
but why "ready"'s callback function has a argument "err"?
and another situation:
i make the on or once function async and i await the async ready like this:
await asyncOnce("ready");

it would be block forever if no any event triggered

[2018-09-28 08:56] alanshaw commented on #1599
@mccoysc do you have some example code you can post so that we can reproduce the error?

[2018-09-28 08:57] #1597 closed

[2018-09-28 09:03] alanshaw commented on #1590
Unless I'm missing something @renne what your describing is pretty much exactly what https://github.com/ipfs-shipyard/service-worker-gateway does...

[2018-09-28 09:03] #1590 closed

[2018-09-28 09:05] mccoysc commented on #1599
the error is not caused by my code using.
it's caused by the bad write code:

  typeof exports === 'object' && typeof module !== 'undefined' ? module.exports = factory() :
  typeof define === 'function' && define.amd ? define(factory) :
  (global.stable = factory());

for no any ";" used,may webpack compile these code in an improper way and then cause a illegal compiled  code.

so,i modify the ori

[2018-09-28 09:05] #1599 closed

[2018-09-28 10:11] kevinsimper commented on #1587
I just tried connecting two nodes which are on localhost and it worked for me as you can see. Can you help me reproduce it? 😄

[code]

[2018-09-28 11:04] vmx commented on #1596
@alanshaw I'm so sorry, I had a typo at the most important part of the description. It should read "that was created by js-**ipld**". I've updated the original issue.

[2018-09-28 11:18] kevinsimper commented on #1088
As per @lidel from IRC is am posting about a demo app I made with PubSub and websocket-star.

I made this PubSub game and I use the websocket-start with IPFS. Yesterday I tried a demo at a meetup but the demo failed when more than 20 people tried to use it.
How can I scale up my application, the problem was that the websocket connection was dropping, so I was only connected to at max 12 and some c

[2018-09-29 06:02] diasdavid commented on #1563
My answer to this question in one image:

<img width="412" alt="image" src="https://user-images.githubusercontent.com/1211152/46241704-4dbd6980-c3c6-11e8-9462-32be7995f9b5.png">

I'm really pumped by this goal! 🚀

[2018-09-29 08:05] richardschneider opened #1601 "mplex stream numbers"
According to https://github.com/libp2p/mplex#opening-a-new-stream

But it seems that `js-ipfs` is using **even IDs** when opening a new stream.

Here's the debug output when sending the Bitswap want list.  Note that `js-ipfs` was told  to connect to QmTp1fwYnJxc5rUEVM2xowcDiyR61J7yvmBRUQzT4g8MHs , so it is the initiator.

[code]

[2018-09-29 08:13] richardschneider commented on #1601
@diasdavid I seem to remember this issue be mentioned months ago, but I can't find any reference to it.

[2018-09-30 06:16] diasdavid commented on #1601
it might be due to incomplete work, see https://github.com/libp2p/js-libp2p-mplex/pulls //cc @jacobheun @vasco-santos

[2018-09-30 08:03] mccoysc opened #1602 "DHT is not available"
Uncaught (in promise) Error: DHT is not available Error: DHT is not available
    at Object.findProviders (content-routing.js:7)
    at Function.findprovs.n (dht.js:86)
    at index.js:41
    at i.e._execute (bluebird.min.js:29)
    at i._resolveFromExecutor (bluebird.min.js:30)
    at new i (bluebird.min.js:30)
    at Object.findprovs (index.js:35)
    at <anonymous>:1:38
    at <anonymous>:1:100

[2018-09-30 08:12] mccoysc opened #1603 "ipfs.pubsub.setMaxListeners err"
var ipfs=new Ipfs();
ipfs.pubsub.setMaxListeners(1024) would throw an error for ipfs.libp2p is not ready(undefined).

may be pubsub should be ready with libp2p ,so the error can be avoid

[2018-09-30 23:53] mccoysc opened #1604 "Uncaught DOMException: Failed to construct 'RTCPeerConnection': Cannot create so many PeerConnections"
config: {
                    Addresses: {
                        Swarm: [
                            '/dns4/wrtc-star.discovery.libp2p.io/tcp/443/wss/p2p-webrtc-star/'
                        ]
                    }
                },

got this error as title

[2018-09-30 23:54] mccoysc commented on #1604
await ipfs.swarm.peers() return a [] which is an empty array

[2018-10-01 00:48] klueq opened #1605 "Browser: where is ipfs.pubsub?"
It seems `libp2p` doesn't create `pubsub` currently.

Is there a way to enable this locally?

[2018-10-01 01:41] mitra42 opened #1606 "Connection refused at wss://ws-star.discovery.libp2p.io/socket.io/?EIO=3&transport=websocket when shouldnt be going there"
- **Version**: 0.31.7. (this is not output of ipfs.version, as ipfs.version fails)
- **Platform**: Firefox 62.0.2 or Chrome 69.0.3497
- **Subsystem**: ipfs connection via ws-star
#### Type: Bug
#### Severity: Critical
#### Description:
WebSocket connection to 'wss://ws-star.discovery.libp2p.io/socket.io/?EIO=3&transport=websocket' failed: Error in connection establishment: net::ERR_CONNECTION_REFU

[2018-10-01 02:15] mccoysc commented on #1604
self._pc = new (self._wrtc.RTCPeerConnection)(self.config, self.constraints)

[2018-10-01 02:43] klueq opened #1607 "ipfs.p2p API"
Are there plans to implement p2p API, i.e. sending arbitrary messages to a specific peer?

If not, do you think it's reasonable to extend the pubsub API and say that `ipfs.pubsub.publish(peerid, message)` sends the message directly to that peer?

If not, could you give some hints about the best way to enable this functionality locally in my app? Right now I'm thinking to take a shortcut: find out

[2018-10-01 08:08] VictorBjelkholm commented on #1605
Yes, it's not set automatically as pubsub is an experimental feature and you need to explicitly enable it when starting the daemon.

See https://github.com/ipfs/js-ipfs/blob/9a37ac0eefbdab94ef577f35f97b77a8e1594a50/examples/exchange-files-in-browser/public/app.js#L42-L54

[2018-10-01 08:08] #1605 closed

[2018-10-01 08:18] mccoysc commented on #1606
ws-star.discovery.libp2p.io is down

[2018-10-01 10:49] jacobheun commented on #1601
It looks like the initiator base id is just flipped. https://github.com/libp2p/js-libp2p-mplex/blob/v0.8.0/src/internals/index.js#L83. The base id is set to 0 instead of 1 and then the stream id is incremented by 2, which is why we're seeing  **2 2** in the logs `mplex:main:44875 createStream: 2 2` for the first stream.

We will need to check all of the headers as well to make sure they match go,

[2018-10-01 13:08] alanshaw commented on #1557
@vasco-santos @jacobheun could one if you confirm this is example is fixed so we can close this one 🙏

[2018-10-01 13:27] vasco-santos commented on #1557
Sure, on it!

[2018-10-01 13:48] vasco-santos commented on #1557
Updated to the following:

[code]

I am having a problem with `ipfs-mfs` now 😕

`([{hash}], next) => next(null, new CID(hash))`
`TypeError: Cannot destructure property `hash` of 'undefined' or 'null'`in [js-ipfs-mfs#core/utils/with-mfs-root.js#L35](https://github.com/ipfs/js-ipfs-mfs/blob/master/src/core/utils/with-mfs-root.js#L35)

After debugging it, I managed to find that this problem was cause

[2018-10-01 15:18] achingbrain commented on #1557
It tries to create the MFS root if it doesn't exist.  Looks like `ipfs.files.add({path: '/' })` is passing null to it's callback instead of passing [an array containing objects with a `hash` property](https://github.com/ipfs/interface-ipfs-core/blob/master/SPEC/FILES.md#javascript---ipfsfilesadddata-options-callback).

Does `ipfs.files.add` behave differently with the custom repo?

[2018-10-01 15:44] achingbrain commented on #1557
@vasco-santos what do you run when you see that error?  If I do `node index.js` with your dep changes above, I see:

[code]

[2018-10-01 15:51] jacobheun commented on #1557
I did a clean install of modules from ipfs master with the custom-ipfs-repo package.json matching @vasco-santos 's changes.

The example works properly there, I'm seeing what @achingbrain is getting.

I also ran the s3 example, using the latest ipfs and ipfs-repo, and it is also working properly.

[2018-10-01 15:58] vasco-santos commented on #1557
Strange, I think I had a clean install. Let me double check.

[2018-10-01 16:21] vasco-santos commented on #1557
Ok, now that I also removed the `package-lock` from the example, it worked properly! Thanks @achingbrain @jacobheun

I will create a PR for bumping the examples version then

[2018-10-01 19:36] jacobheun commented on #1601
There was an intended change to the mplex spec that never got merged, https://github.com/libp2p/mplex/pull/3. It was just merged in a little while ago.

The js implementation does match the intended spec.

[2018-10-01 19:36] #1601 closed

[2018-10-01 20:14] parkan commented on #1606
I think there is some stray bit of configuration somewhere that includes ws-star.discovery.libp2p.io, addressing this elsewhere -- can likely close this

[2018-10-02 01:07] mitra42 commented on #1476
Just confirming this preload/CORS issue is still happening.

Although this might not be a CORS problem since its returning a "502 Bad Gateway" response, which (because it doesnt have cors headers) generates a cors error.

[2018-10-02 01:07] mitra42 commented on #1476
The exact string is https://node1.preload.ipfs.io/api/v0/refs?r=true&arg=zdj7WePre4jBSvoCyAZQHJUCk7Jqin4fwGNKeMNE7st9Brebh

[2018-10-02 01:46] mikeal opened #1610 "Upgrade to latest `ipld-dag-cbor`"
We made a pretty [big change](https://github.com/ipld/js-ipld-dag-cbor/pull/76) to the `ipld-dag-cbor` API.

Instead of using `{"/": baseEncodedString}` to express links we're just using `CID` instances.

This will probably end up simplifying a bunch of code in `js-ipfs` but it will be a pretty impactful change. For encoding, we still support the old form, so you only need to move to the new way o

[2018-10-02 06:12] mitra42 commented on #1606
As long as ws-star.discovery.libp2p.io is up we are good, but there is a generic issue that may cause problems such as the numerous reports when that address was down, and also explains why some people had issues in FIrefox but not Chrome or vica-versa

By clearing my local storage in Chrome the client no longer tried to contact ws-star.discovery.libp2p.io which suggests that despite using a confi

[2018-10-02 08:51] hdriqi opened #1611 "IPFS hash generation"
#### Type: Question

#### Description:
Hi, so i am trying to generate IPFS hash of a file but not using ipfs cli. So what I want to achieve is to have js module that generate IPFS hash that have exactly the same IPFS hash when using ipfs cli e.g "ipfs add -n [filename]".

The reason I'm not using js-ipfs is because its overkill, I mean what we need is just the hash generation algorithm nothing els

[2018-10-02 09:42] achingbrain commented on #1611
When you use `ipfs add`, a [UnixFS file node](https://www.npmjs.com/package/ipfs-unixfs) is created.  A UnixFS node is wrapped in a protobuf (hence dag-pb) which adds bytes to the DAGNode's data field and as such results in a different CID.

`ipfs add` does something more like:

[code]

[2018-10-02 10:52] hdriqi commented on #1611
@achingbrain thanks a lot! its working now

[2018-10-02 17:45] parkan commented on #1606
ok, this generally overlaps with many other reports

https://github.com/libp2p/js-libp2p-websockets/issues/74
https://github.com/ipfs/js-ipfs/issues/1185
https://github.com/ipfs-shipyard/peer-pad-core/issues/13

and it looks like you've encountered this before, as well: https://github.com/ipfs/js-ipfs/issues/1237

the main issue *here* specifically appears to be that other ws connections should no

[2018-10-02 22:11] mitra42 commented on #1606
The problem in #1237 was while we were intentionally using ws-star discovery. On Protocol's suggestion we moved to opening up direct connection with our own peer via WS.

There seem to be three separate issues,
a) reliability of that server - which as #1237 says shouldnt be relied on (and we don't intentionally)
b) failure of "new IPFS" when the ws-star.discovery fails, it probably shouldnt be dep

[2018-10-03 05:46] klueq commented on #1605
This works. Thanks a lot!

[2018-10-03 06:11] klueq opened #1613 "pubsub: Does it work?"
I'm not able to get any messages in my js-ipfs node. Messages are sent from a go-ipfs node running on the same host:

[code]

This is my JS code:

[code]

I've checked `pubsub ls` and `pubsub peers` stats in both nodes - they look ok. The JS node can send a message to itself, however neither go->js nor js->go directions work.

Do I miss anything obvious?

[2018-10-03 06:28] klueq opened #1614 "The published non-minified build is minified."
https://unpkg.com/ipfs@0.32.3/dist/index.js

This probably causes troubles with pubsub.

[2018-10-03 06:33] klueq commented on #1614
This is the latest non-minified build:

https://unpkg.com/ipfs@0.30.1/dist/

Apparently, this was broken recently.

[2018-10-03 06:47] klueq commented on #1613
I've tried versions 26, 27, 28, 29, 30. Also added the ws-star config. Still doesn't work.

[code]

[2018-10-03 13:22] hdriqi commented on #1611
Hi @achingbrain

the code works most of the time, but sometimes it is resulting in different IPFS hash when calculating huge files such as videos or event files code.

Here's the huge code gist that result different hash https://gist.github.com/hdriqi/7d60811b2dc40802bed70741491cd10f

the manual code result -> QmNvdWfLScJwsDe7SPG4D1bwhZgU9dVqHdouG7mhzu7Q3S
ipfs add -> QmcxS3eSGQNL7eRN5iNG4VqUnjpQn

[2018-10-03 13:59] achingbrain commented on #1611
Are you breaking your file up into chunks or trying to store it as one enormous DAGNode?

Please see the [importer](https://github.com/ipfs/js-ipfs-unixfs-engine#importer-api) from the [`ipfs-unixfs-engine`](https://github.com/ipfs/js-ipfs-unixfs-engine) module for what IPFS uses.

[2018-10-03 14:35] hdriqi commented on #1611
@achingbrain yes, I do follow some codes in ipfx-unixfs-engine

[code]

some smaller size file resulting in same hash, but huge files like videos giving different hash. I think I miss something in the

[2018-10-03 14:41] achingbrain commented on #1611
It looks like you're going to end up with one parent DAGNode with all the rest of the data in children - e.g. a tree one level deep.  DAGNodes have a limited number of children in the IPFS implementation before adding new levels to the tree.

If you're going to handle cases like that (and also not read the entire file into memory before you start to write the chunks to IPFS) you're basically reimp

[2018-10-03 15:03] hdriqi commented on #1611
@achingbrain now I am trying to use `ipfs-unixfs-engine` especially the Importer, from my understanding to use Importer we only need to pipe from readable stream. But, when I try it error occured `dest.on is not a function`

here's my code:
[code]

[2018-10-03 15:07] parkan commented on #1459
@alanshaw here's another preload related question -- how long is data retained by the remote nodes? is it just a normal pin? do they announce to DHT?

[2018-10-03 15:30] achingbrain commented on #1611
The README is [a little out of date](https://github.com/ipfs/js-ipfs-unixfs-engine/issues/215) - the importer was rewritten to be a [pull stream](https://www.npmjs.com/package/pull-stream).

[code]

[2018-10-03 15:38] parkan commented on #1606
(b) is the key issue, I believe (c) is just a matter of the peer being retained in the peer book (which would be harmless w/o (b))

can you close this one? I don't have rights on this repo

[2018-10-03 22:34] #1606 closed

[2018-10-03 23:43] lidel opened #1615 "Fails to start for the first time due to 'datastore key does not have a valid format'"
- **Version**: 0.32.3
- **Platform**: ipfs-companion in Firefox and Chrome
- **Subsystem**: looks like related to newly added IPNS

#### Type: Bug

#### Severity: High-ish?

#### Description:

After switching from js-ipfs `0.31.7` to `0.32.3` switching to embedded node in companion  produces an error:

What is interesting, is that if I switch to External node and then back again to Embedded one, s

[2018-10-04 04:04] hdriqi commented on #1611
@achingbrain works like charm! though to get the same IPFS hash the input data should be inform of
`{ data, content}`

so my final code is:
[code]

[2018-10-04 04:04] #1611 closed

[2018-10-04 07:04] klueq commented on #1613
I dared to debug it and found this chunk of code:

[code]

Basically, it checks if any of the 10 or so peers is interested in the topic I want to publish to, sees that nobody cares about my topic (what a surprise!) and gives up.

I must be misunderstanding how pubsub is supposed to work. I thought the whole point is to deliver messages to nodes that are many hops away: if two nodes are on the oppo

[2018-10-04 09:12] vasco-santos commented on #1615
Hey @lidel

I see the problem. Basically, there should be a mismatch of versions for `interface-datastore` in the dependencies. This causes this [condition](https://github.com/ipfs/js-ipfs/blob/master/src/core/ipns/publisher.js#L93) to happen.

But let's fix this in the correct way! I will create a PR for `interface-datastore` to add the `class-is` module and use it instead of the `instance of`.

[2018-10-04 09:15] #1411 closed

[2018-10-04 09:50] xnetsc opened #1616 "ping error"
jsipfs ping QmW1apH3mUa1SGV9yPfnjhScVDWf3UmWsqCk87MdjbKNSj
Looking up peer QmW1apH3mUa1SGV9yPfnjhScVDWf3UmWsqCk87MdjbKNSj
Error
/usr/lib/node_modules/ipfs/node_modules/pull-stream/sinks/drain.js:22
                throw end
                ^

Error: Error
    at PingMessageStream._transform (/usr/lib/node_modules/ipfs/node_modules/ipfs-api/src/utils/ping-message-stream.js:18:15)
    at PingMessage

[2018-10-04 14:40] VictorBjelkholm commented on #1614
This has been resolved but will only appear correct after another release.

[2018-10-04 17:39] parkan opened #1619 "inconsistent node startup behavior depending on attempted ws-star swarm binding"
- **Version**: 0.32.3
- **Platform**: node
- **Subsystem**:  js-libp2p-websockets

#### Type: Bug

#### Severity: High

#### Description:

In the browser, we generally have to use websocket-star swarm addresses (since binding TCP is not available), however these addresses are temperamental and depend on the signaling server being available. Node startup will abort if the specified swarm address ca

[2018-10-04 17:42] parkan commented on #1619
I should add that this can be particularly insidious in that if you've *ever* configured your node with a "delegated" ws-star address, it will fail to start up if that signaling server goes down! (as @mitra42 discovered)

[2018-10-05 03:52] mccoysc commented on #1616
and when ping in browser,error like this:

await ipfs.ping("QmZ6YuHZUJd6k9hbJNaNUZBsWfwZGv62piZMU6oxHPBtDx")
collect.js:7 Uncaught TypeError: Cannot read property 'push' of null
    at collect.js:7
    at reduce.js:8
    at drain.js:24
    at f (index.js:84)
    at Function.u [as push] (index.js:44)
    at e.ping (ping-pull-stream.js:79)
    at _getPeerInfo (index.js:339)
    at s (get-peer-info.j

[2018-10-05 09:27] vmx commented on #1610
I'm currently working on it. It seems easier than I thought, only flaky tests make it a bit harder.

[2018-10-05 17:27] vasco-santos commented on #1602
Hello @mccoysc

The DHT is not enabled by default on `js-ipfs` at the moment. You can check how to use it through [js-ipfs#optionsexperimental](https://github.com/ipfs/js-ipfs#optionsexperimental). Let us know if this did not solve your problem.

We are working on having it enabled by default in a near future, you can track this on [js-ipfs#856](https://github.com/ipfs/js-ipfs/pull/856)

[2018-10-05 22:16] mccoysc commented on #1602
in browser ,i config the dht to be true，the error appear again

[2018-10-06 14:59] pgte opened #1620 "Uncaught Error: unexpected error getting the ipns record"
- **Version**: 0.32.3
- **Platform**: Browser
- **Subsystem**: ?

#### Type: Bug

#### Severity: Critical

#### Description:

Error starting IPFS node:

[code]

This doesn't happen in v0.32.2.

#### Steps to reproduce the error:

I start IPFS with the following config options: https://github.com/ipfs-shipyard/peer-star-app/blob/master/src/transport/ipfs.js#L15

[2018-10-07 13:27] olizilla opened #1622 "ipfs daemon command help lists --local as an option"
- **Version**: 0.32.3
- **Platform**: All
- **Subsystem**: CLI

#### Type: Bug

#### Severity: Low

#### Description:

Running `jsifps daemon --help` lists out a `--local` option which is a global flag for all the cli commands, but doesn't make sense to list as an option for the `daemon` command, as, I assume, it's ignored and it's defined as:

[code]

It might be fiddly, but this flag should be r

[2018-10-08 10:07] vasco-santos commented on #1620
Hey @pgte

I debugged this problem and I think that I understood the problem. The way the error `not found` was being handled changed in the new version in an effort to have the errors handled the same way by all our datastores.

[js-ipfs@v0.32.2/core/ipns/publisher.js#L194](https://github.com/ipfs/js-ipfs/blob/v0.32.2/src/core/ipns/publisher.js#L194)
[js-ipfs@v0.32.3/core/ipns/publisher.js#L180](

[2018-10-08 10:20] alanshaw commented on #1620
For now we should check for both error types.

The datastore being used by `peer-star-app` needs to start using the [error codes defined in the interface](https://github.com/ipfs/interface-datastore/blob/master/src/errors.js) and we need to add documentation to the interface-datastore README that states when they should be used.

/cc @jacobheun

[2018-10-08 11:51] jacobheun commented on #1620
@pgte https://github.com/ipfs-shipyard/peer-star-app/pull/72 should resolve the issue for `peer-star-app`

[2018-10-08 11:53] vasco-santos commented on #1620
Thanks @jacobheun 🚀

I also created a PR for checking the other error.

[2018-10-08 14:48] mmsqe opened #1624 "Callback was already called when build with prod flag under angular cli"
- **0.32.3**:
- **Mac OS X**:

#### Type: Bug

#### Severity: Medium

#### Description: Getting 'Unhandled Promise rejection: Callback was already called. ; Zone: <root> ; Task: Promise.then ; Value: Error: Callback was already called.' error when run with `ng build --prod`

#### Steps to reproduce the error:
1. new IPFS()
2. ng build --prod

[2018-10-08 21:17] achingbrain commented on #1616
I've found the first error happens in the first few seconds of starting an IPFS node - after it's found a few peers the error stops occurring and the ping command starts working.

[2018-10-09 05:31] rstormsf commented on #941
it's still the issue
@diasdavid
![image](https://user-images.githubusercontent.com/9360827/46648396-d6b46d80-cb49-11e8-9497-2ee774fd5889.png)

[2018-10-09 10:00] alanshaw opened #1625 "Cannot add multiple files from command line"
<img width="719" alt="screenshot 2018-10-09 at 10 57 17" src="https://user-images.githubusercontent.com/152863/46662109-76a5e180-cbb2-11e8-9d5a-4c51a59d7170.png">

[2018-10-10 13:39] alanshaw commented on #1613
Possibly related to #1565

[2018-10-10 13:42] alanshaw commented on #1614
I'm going to close this @klueq - please open a new issue if you see the issue again after the next release is made.

[2018-10-10 13:42] #1614 closed

[2018-10-10 13:43] alanshaw commented on #1602
@mccoysc can you post the code you're using to configure the DHT and the code you're calling to cause this error?

[2018-10-11 13:15] dirkmc opened #1628 "ipns publish with key that is not 'self' takes ~1s for key lookup"
Each time `name.publish()` is called it looks up the key. If the key is not 'self', it exports the key from the keychain to a pem, then imports it as a key object. On my machine this process (including decrypting the key using the passphrase) takes about 1s. Maybe the keychain can cache the exported keys?
Slow code here:
https://github.com/ipfs/js-ipfs/blob/master/src/core/components/name.js#L17

[2018-10-11 21:00] Despoinis opened #1629 "Ipfs@0.30.1 could not be uploaded since yesterday, but can be online?"
Ipfs@0.31.0 or above can still be uploaded.
This is true for both Firefox and Chrome.

[2018-10-12 04:12] gitGksgk opened #1630 "will js-ipfs support private network feature as go-ipfs did (via swarm.key) ?"
- **Version**:  0.32.3
- **Platform**: windows
- **Subsystem**:  unkown

#### Type: Feature

#### Severity:
Medium
#### Description:
js-ipfs private net feature not implemented
#### Steps to reproduce the error:
Set up a private network via putting a swarm.key in go-ipfs config file ( .ipfs/ ).  get address1
Set up another go-ipfs node(node2) with the same swarm.key. In node2 use  ipfs swarm conne

[2018-10-12 10:30] alanshaw commented on #1629
I don't understand the question, can you rephrase please?

[2018-10-12 13:50] Despoinis commented on #1629
It seems to be a network problem. After opening the VPN, I found that I can upload it.

[2018-10-12 13:51] Despoinis commented on #1629
It seems to be a network problem. After opening the VPN, I found that I can upload it.

[2018-10-12 18:57] Despoinis commented on #1629
It can't be uploaded now with VPN, but it can still be uploaded above Ipfs@0.31.0. The network is too strange.

[2018-10-13 06:47] lukas2005 opened #1631 "Error: The libp2p node is not started yet"
- **Version**: { version: '0.32.3', repo: 7, commit: '' }
- **Platform**: Linux lukas2005-local 4.18.9-200.fc28.x86_64 #1 SMP Thu Sep 20 02:43:23 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
- **Subsystem**: Seems to be pubsub

#### Type: Bug

#### Severity: Medium

#### Description: Error: The libp2p node is not started yet
this seems to be similar to #874

#### Steps to reproduce the error:
While I d

[2018-10-13 19:45] patrick-ogrady commented on #1584
Any update here? I am also getting this issue.

[2018-10-13 20:12] daviddias opened #1632 "Exchange Files Example: Show room feature"
<img width="838" alt="image" src="https://user-images.githubusercontent.com/1211152/46909566-a5161a80-cf2c-11e8-9f57-85908971563e.png">

Currently, it is impossible to guess that there is the room feature on the exchange files example. It would be great to add a label at the top of the website of "create room"

[2018-10-15 08:04] gitGksgk commented on #1630
ok i've done it. closing.

[2018-10-15 08:19] GrandSchtroumpf commented on #1166
hi, any news on this topic since?

[2018-10-15 08:44] mccoysc commented on #1613
how can i resolve this issue?

[2018-10-15 08:54] fazo96 commented on #1613
As far as I understand, pubsub will deliver messages many hops away but every node on the route has to be subscribed to the topic.

There is a feature that looks in the DHT to try to connect to nodes subscribed to the topic, so your node can discover other interested nodes and connect directly, but this won't work well until the DHT is done for js-ipfs.

The only current solution is that you make

[2018-10-15 09:28] OliverUv opened #1633 "Fail non-silently when things are unimplemented"
- **Version**:
commit: ""
repo: 7
version: "0.32.3"

- **Platform**:
* `uname -srvpoi` > Linux 4.15.0-33-generic #36~16.04.1-Ubuntu SMP Wed Aug 15 17:21:05 UTC 2018 x86_64 x86_64 GNU/Linux
* Chrome Version 69.0.3497.92 (Official Build) (64-bit)
- **Subsystem**: files (?)

#### Type: Enhancement

#### Severity: Medium

#### Description:

`files.add(blob, { chunker: 'rabin' })` fails silently by ret

[2018-10-15 10:33] gitGksgk commented on #1630
close

[2018-10-15 10:33] #1630 closed

[2018-10-15 12:17] alanshaw commented on #1633
Thanks for reporting @OliverUv - this should definitely not be the case! I've opened an issue here https://github.com/ipfs/js-ipfs-unixfs-engine/issues/230 to track.

[2018-10-15 13:58] alanshaw opened #1635 "⚡️ v0.33.0 RELEASE 🚀"
# 🗺 What's left for release

* [x] [WebUI 2.0](https://github.com/ipfs/js-ipfs/pull/1647) (and https://github.com/ipfs/js-ipfs/pull/1595)
* [x] [CID tool](https://github.com/ipfs/js-ipfs/pull/1560)
* [x] [IPLD breaking change](https://github.com/ipfs/js-ipfs/pull/1668)
* [x] [fix to libp2p record](https://github.com/ipfs/js-ipfs/pull/1646)
* [x] [fix for 'datastore key does not have a valid format

[2018-10-15 16:40] parkan commented on #1619
not sure who the most relevant reviewers would be for this? @mkg20001? @diasdavid?

/cc @pgte

[2018-10-15 20:52] mkg20001 commented on #1619
Not sure if https://www.npmjs.com/package/libp2p-websocket-star-multi still works but that thing should fix the issue in case of down-time of the ws-star server (assuming it still works)
(This should also really be an offical module and used in js-ipfs instead of using ws-star directly. I have already mentioned this in a few places but didn't invest much effort into advertising this module because

[2018-10-16 08:30] mccoysc opened #1636 "bug on addReadableStream with wrapWithDirectory"
var uploadStream = ipfs.files.addReadableStream({
                wrapWithDirectory: true
            });
uploadStram.write({path:"root/1.txt",ipfs.Buffer.from("datatkslfdfjd")});
uploadStram.end();

run like the above.
i can't get wrap dagnode

[2018-10-16 10:45] alanshaw commented on #1613
@klueq are you able to confirm that the behaviour @fazo96 is describing is what you’re experiencing or is there a bigger issue?

[2018-10-16 11:06] alanshaw commented on #1629
what are you uploading? do you mean downloading from the cdn?

[2018-10-16 11:59] alanshaw commented on #1620
@jacobheun/@pgte can we close this now?

[2018-10-16 12:02] jacobheun commented on #1620
Yes, peer-star-app has been updated to reflect the latest datastore changes.

[2018-10-16 12:02] #1620 closed

[2018-10-16 16:16] alanshaw commented on #1615
@vasco-santos / @lidel can this be closed now?

[2018-10-16 17:29] #1636 closed

[2018-10-16 17:32] mccoysc opened #1638 "Uncaught Error: Payload content length greater than maximum allowed: 1048576"
when write big data to IPFS Node using addReadableStream,got the error:
Uncaught Error: Payload content length greater than maximum allowed: 1048576
    at IpfsApi.js:1
    at t.exports.r (IpfsApi.js:1)
    at t.exports.r.emit (IpfsApi.js:1)
    at t.exports.h._connect (IpfsApi.js:1)
    at IpfsApi.js:1

[2018-10-16 17:32] mccoysc commented on #1638
the remote node is js-ipfs node

[2018-10-16 18:52] lidel commented on #1615
@alanshaw I think we are waiting for https://github.com/ipfs/js-ipfs/pull/1617

[2018-10-17 05:09] mccoysc commented on #1638
POST http://XXXX.XXX.XXX:5001/api/v0/add?wrap-with-directory=true&stream-channels=true 413 (Payload Too Large) Error

[2018-10-17 05:09] mccoysc commented on #1638
how can i change the limit?

[2018-10-17 05:11] mccoysc commented on #1638
@alanshaw

[2018-10-17 11:59] alanshaw commented on #1638
I believe this is due to Hapi's `maxBytes` option, which apperas to currently be set at the default (1024 * 1024)

[2018-10-17 12:15] alanshaw commented on #1624
@mmsqe thanks for reporting - are you able to provide an example repo we can use to look into the error - I'm not an expert with Angular so I need some more info on the setup to be able to help!

[2018-10-17 12:32] alanshaw commented on #1602
ping @mccoysc

[2018-10-17 12:38] alanshaw commented on #1607
It's not an immediate priority but js-ipfs is aiming to have feature parity with go-ipfs so I wouldn't have thought it was "off the table" so to speak. @diasdavid are you able to comment?

[2018-10-17 12:39] alanshaw commented on #1604
@jacobheun are you able to provide any insight into this error?

[2018-10-17 13:48] mmsqe commented on #1624
this issue is related to [uglify]( https://github.com/angular/angular-cli/issues/11439) lib in Angular 6+, no error found after built with Angular CLI: 7.0.0-rc.3, sorry for the wrong reporting, feel free to close this issue.

[2018-10-17 13:48] #1624 closed

[2018-10-17 14:03] alanshaw commented on #1587
@nijynot 127.0.0.1 is the loopback address, so you'll not be able to connect to another node using that IP unless they're both running on the same machine and listening on different ports.

You've said above that you have a Windows and macOS machine my guess is that you're taking the loopback address of the first node and connecting to it from the second, but what that instructs the second node to

[2018-10-17 14:03] #1587 closed

[2018-10-17 22:12] mullerivan opened #1642 "Client on browser, pin objects result on Error: invalid ipfs ref path"
I Just  get  an Ajax call to an IPNS  address  that  retrive  alist  of hash  that i wanna pin  to improve the spread of those  file  each time that  a client is  looking  them.

[code]

If I try to add the code  by the chrome  console
by  manually  using  the  node.pin.add('someHash')
it is working  perfectly,
and i just  coping them from the  same  log so is the same  address.
Any idea?

[2018-10-18 08:29] mccoysc commented on #1638
maybe this size should be the one of network options(and also with default 100MB ?)

[2018-10-18 08:29] mccoysc commented on #1638
@alanshaw

[2018-10-18 08:37] mccoysc commented on #1602
await ipfs.dht.findpeer("QmXp22HFGvo29o6dsGnJwxaHvTieEqMGr1pS55ZsZUonMf")

Uncaught (in promise) Error: Callback function "anonymous" timed out. Error: Callback function "anonymous" timed out.
    at timeout.js:68

(anonymous) | @ | timeout.js:68
-- | -- | --
  | setTimeout (async) |   |  
  | (anonymous) | @ | timeout.js:85
  | (anonymous) | @ | initialParams.js:11
  | o | @ | index.js:566
  | c

[2018-10-18 08:38] olizilla commented on #1638
Hi @mccoysc, thanks for chasing this. This is just a friendly nudge that you don't need to explicitly call out `@alanshaw` on your issues. We all receive notifications for issues and comments, and we proactively monitor the issues js-ipfs... there is even a waffle board where they show up.

[2018-10-18 08:40] mccoysc commented on #1602
really,"time out" should not be an error.
when time out,the function should rerurn an error object or undefined but cause an error thrown

[2018-10-18 08:44] mccoysc commented on #1602
and also, it's not work well.
await ipfs.dht.findpeer("QmXp22HFGvo29o6dsGnJwxaHvTieEqMGr1pS55ZsZUonMf")
"QmXp22HFGvo29o6dsGnJwxaHvTieEqMGr1pS55ZsZUonMf" is node itself,should not be time-out,but timed-out

[2018-10-18 08:46] mccoysc commented on #1616
await ipfs.ping("QmXp22HFGvo29o6dsGnJwxaHvTieEqMGr1pS55ZsZUonMf")

TypeError: Cannot read property 'push' of null TypeError: Cannot read property 'push' of null

(anonymous)	@	collect.js:7
(anonymous)	@	reduce.js:8
(anonymous)	@	drain.js:24
f	@	index.js:84
c	@	index.js:69
s	@	index.js:29
i	@	drain.js:16
i	@	drain.js:12
e	@	pull.js:41
n	@	ping.js:8
(anonymous)	@	index.js:41
@alanshaw

[2018-10-18 09:10] mccoysc commented on #1616
and "QmXp22HFGvo29o6dsGnJwxaHvTieEqMGr1pS55ZsZUonMf" is my node itself.

[2018-10-18 09:13] mccoysc commented on #1616
and also, i ping others,"QmZ6YuHZUJd6k9hbJNaNUZBsWfwZGv62piZMU6oxHPBtDx",error again

[2018-10-18 09:16] mccoysc commented on #1602
and if await ipfs.dht.findpeer("QmZ6YuHZUJd6k9hbJNaNUZBsWfwZGv62piZMU6oxHPBtDx"),it works well.
so, the dht can't find the node itself?

[2018-10-18 09:21] alanshaw commented on #1642
Please could you post the stack trace and the result of logging out `entry_array`?

[2018-10-18 10:23] saimoomsafayet opened #1643 "IPFS File Extension Issue"
I am using js-ipfs to upload files to IPFS node. **ipfs.add()** is the method that i am using. Problem is that the file extension is not persistent after getting uploaded to the IPFS. Suppose I am uploading an apk file. After uploading, the apk is getting downloaded as a zip from the gateway. What is the solution?

[2018-10-18 14:14] phadnisvinay30 commented on #1643
I assume that the contents of your file would be the same even after it being downloaded as a zip.
Please try the following:
 Use a command line to just change the name to *.apk (this should work as the content in it is the same)
something like this on a bash shell:
[code]
This might work as a temporary solution but the problem still needs to be fixed

[2018-10-18 14:47] fsdiogo commented on #1643
You can add the file with the `wrapWithDirectory` option:

[code]

It basically creates a directory that wraps your content and keeps its filename. Give [this link](https://flyingzumwalt.gitbooks.io/decentralized-web-primer/content/files-on-ipfs/lessons/wrap-directories-around-content.html) a look.

[2018-10-18 16:39] mullerivan commented on #1642
Entry array is something similar to to
5) ["EXTINF:12.012000,↵https:", "", "gateway-ipfs.com", "ipfs", "SOMEHASH↵"]
---------------
hls-debug.html:35 Error: invalid ipfs ref path
    at Object.t.parseIpfsPath (utils.js:24)
    at i (utils.js:101)
    at map.js:27
    at l (eachOf.js:65)
    at t.default (eachOf.js:8)
    at t.default (map.js:25)
    at doParallel.js:20
    at Function.<anonymous>

[2018-10-18 18:03] mullerivan opened #1644 "Resolve ipns on browser side"
HI there, That is a grate  app im working on some test that  intent to resolve in client/browser side  a  static IPNS with something  like

[code]

Any idea  how is the  proper  way to call ipns to resolve an static  hash and  give  me back the  last updated hash of the  curren file?

[2018-10-18 18:33] vasco-santos commented on #1615
We just need [interface-datastore#24](https://github.com/ipfs/interface-datastore/pull/24) to get released and then update the `js-ipfs` PR. @diasdavid can you release it?

[2018-10-18 18:52] diasdavid commented on #1635
Wooollt!! Looking forward to get this release!!!

[2018-10-18 23:50] Despoinis commented on #1629
I uploaded the image. At that time, I found that the version of Ipfs@0.30.1 could not be uploaded and downloaded from Japan and China. Now I have changed to the latest version and can upload and download. I didn’t use the latest version because
ReferenceError: AbortController is not defined

I solved it with a hack.
<script>
If (!AbortController) {
Var AbortController = function () { this.signal =

[2018-10-19 04:12] klueq commented on #1613
@alanshaw, what @fazo96 is saying looks right, but the thing is that `pubsub` doesn't seem to work even in `go-ipfs`: I'm not getting any messages on the `chat` topic. I suspect that if the number of subscribers is low, then even DHT discovery won't work well (though I admit that I very vaguely understand how DHT works in `pubsub`). You can try it yourself - I've never seen any single message on t

[2018-10-19 10:53] alanshaw commented on #1643
Closing as I beleieve @fsdiogo has answered the question (at least that is what I was going to say!).

[2018-10-19 10:53] #1643 closed

[2018-10-19 11:07] alanshaw commented on #1644
Soon™️. IPNS doesn't have a complete implementation in js-ipfs just yet. It is being worked on right now ([IPNS over pubsub](https://github.com/ipfs/js-ipfs/pull/1559)). Also, one of ways of resolving IPNS names is via the DHT which is also [being worked on](https://github.com/ipfs/js-ipfs/pull/856) so that it is interoperable with go-ipfs.

You can also use [`ipfs.name.resolve`](https://github.co

[2018-10-19 11:07] #1644 closed

[2018-10-19 14:59] alanshaw commented on #1629
I'm going to close this as it sounds like it's been resolved...and I'm not sure it was something we could have fixed anyway!

[2018-10-19 14:59] #1629 closed

[2018-10-19 15:11] alanshaw commented on #1613
We have interop tests that prove pubsub works between go<->js(Node)<->js(browser) so this _must_ be a configuration issue or something similar. If you figure it out and there is a problem in ipfs then please open an new issue.

Also, it might be worth checking out https://github.com/tableflip/ipfs-pubsub-chat-example

[2018-10-19 15:11] #1613 closed

[2018-10-20 11:45] vasco-santos commented on #1622
I will add it to the `daemon` command, which is the only one where it makes sense, at least now. However, its documentation seems also improper

[code]

Regarding ipns, if the local flag is used in the daemon command, the ipns is started with an OfflineRouting, that is, using the local repo. On the other side, if the local flag is not used, the Routing used by ipns will be the DHT.

[code]

Let me

[2018-10-21 00:54] #1607 closed

[2018-10-21 10:52] mccoysc opened #1649 "don't throw error when connect failure"
in browser,an error thrown when it can't be connect.
i think the error should not be thrown.
in p2p network ,connecting failure is normal and many nodes can not be connect in fact.

[2018-10-21 11:16] mccoysc commented on #1638
i suggest that the hapi work way should be modified.
by default,hapi cache the data in memory which transfering in progress.it makes the high memory usage.
the right way for cache should be cache in disk.

[2018-10-21 19:07] lukas2005 commented on #1631
UPDATE! :)
Turns out the error happens after I stop the IPFS node :)
i just don't know what still calls pubsub.subscribe after that because I don't use pubsub directly and I have it enabled only for the orbit-db library

[2018-10-21 19:07] #1631 closed

[2018-10-22 09:02] LiMoMoMo opened #1650 "Get different cid"
- **Version**:
- **Platform**:
- **Subsystem**:

#### Type:

#### Severity:

#### Description:
the same file added to go-ipfs node and js-ipfs node(browser), return the different cids.

#### Steps to reproduce the error:

[2018-10-22 09:05] LiMoMoMo opened #1651 "Get the different cid"
- **Version**:
- **Platform**:
- **Subsystem**:

#### Type: Question

#### Severity:

#### Description:
the same file add to go-ipfs and js-ipfs get different cids.

#### Steps to reproduce the error:

[2018-10-22 19:36] parkan commented on #1619
thanks @mkg20001, that looks like it addresses the issue! this should definitely be built in (and probably the default)

can you give me a ballpark estimate for amount of work needed to bring this up to date? I'm a bit reluctant to sink a ton of effort into this because we're moving away from ws-star in the long term, but the current behavior is _very_ broken

if we decide not to invest in bringin

[2018-10-22 19:45] #1650 closed

[2018-10-22 19:46] alanshaw commented on #1651
Please provide example code that exhibits this behaviour. We have interop tests that should cover this so it shouldn't happen!

[2018-10-22 19:49] alanshaw commented on #1642
I need to see the actual items in the array to be able to help.

[2018-10-22 19:50] #1638 closed

[2018-10-23 02:32] LiMoMoMo commented on #1651
![test](https://user-images.githubusercontent.com/14027218/47330688-b937e580-d6ab-11e8-8fd7-0e4ccdcd3cea.jpg)
↑ for input(`test.jpg`).
1. `go-ipfs` return `QmTwG2VFoxVd6kDCQx1HnjQeJdpCgTG4qUuZcsdTu6j8YK`
[code]
2. setup the [example](https://github.com/ipfs/js-ipfs/tree/master/examples/exchange-files-in-browser) for `js-ipfs`. after upload the `test.jpg`, the page show `QmWyJxHRbZVjqfcYSLN4e9WEQoN

[2018-10-23 03:35] gitGksgk commented on #1309
In summary, currently browser nodes can discover each other automatically with rendezvous server, but with p2p-circuits they just dialing thus can't discover each other automatically.

But why is it that my js-ipfs daemon node can't discover nodes in the same net ? `using js-ipfs 0.32.3`, default configuration, added nothing but a private net protector
[code]
corresponding config setting in .jsipf

[2018-10-23 03:47] gitGksgk commented on #1309
got it. it's because js-ipfs doesn't enable circuits by default. adding
[code]
to config in .jsipfs fixed it

[2018-10-23 07:17] leenabhandari opened #1654 "Files are automatically getting added to my workspace"
- **Version**:
- **Platform**: win10
- **Subsystem**:

#### Type:bug

#### Severity:
High- since it is not secure anymore. anyone is getting my files.
#### Description:
In the last one day, unknown files are getting added into my workspace.(I am trying the exchange files in browser example) I am not connected to anyone. Similarly, people are getting my files.
#### Steps to reproduce the error:
Jus

[2018-10-23 09:11] mccoysc opened #1655 "TypeError: Expected String"
Uncaught (in promise) TypeError: Expected String
    at decodeUnsafe (index.js:52)
    at Object.decode (index.js:81)
    at Object.fromB58String (index.js:68)
    at Function.exports.createFromB58String (index.js:169)
    at waterfall (dialer.js:220)
    at nextTask (waterfall.js:16)
    at exports.default (waterfall.js:26)
    at _dialRelayHelper (dialer.js:209)
    at f (once.js:25)
    at Dial

[2018-10-23 09:41] mccoysc opened #1657 "kadDHT error"
in browser jsipfs with version 0.33.rc1 and lower,if i enable the dht, error would be caused for in libp2p-browser.js no kadDHT configed  and would cause this error.
the modules.dht should be config to kadDHT.

[2018-10-23 12:10] gitGksgk opened #1658 "js-ipfs peer discovery seems not working by default at private net"
- **Version**: 0.32.3
- **Platform**: win 10
- **Subsystem**: unknown

#### Type: Question

#### Severity: Medium

#### Description:
How do I enable peer discovery in js-ipfs? I've known rendezvous server but I'd like to use peer discovery methods like MDNS, etc.

#### Steps to reproduce the error:
1. use js-ipfs-0.32.3, add private net protect functionality in the code
2. setup several go-ipfs pr

[2018-10-23 12:20] gitGksgk commented on #1658
besides, sometimes it happens to get sth in swarm peer list, maybe been discovered by go-ipfs nodes...
here's relative wrtc code, in http\src\index.js:
[code]
I've tried if(0) to skip this part of code, still giving the same empty outcome in  node ..bin.js swarm peers

[2018-10-23 13:51] mkg20001 commented on #1619
I will likely have time for that this week, but can't give any ETAs as I'm pretty busy right now

This should be relatively easy to integrate. Basically: Filter out any ws-star addresses beforehand, pass them as argument to ws-star-multi instance, add a /p2p-ws-star address to peer-info.

Updating ws-star-multi should be fairly easy as it's just spawning a bunch of ws-star instances and then proxy

[2018-10-23 14:24] mkg20001 commented on #1619
I've updated libp2p-websocket-star-multi, it should now work again

[2018-10-23 14:26] leenabhandari opened #1659 "what is the use of app.js"
- **Version**:
- **Platform**: win10
- **Subsystem**:

#### Type:
Question

#### Severity:
medium
#### Description:
even if i remove that file the application is working(exchange files in browser). some files are getting added in the workspace which i havent uploaded. how do we atomatically get connected to all those peers? In the documentation they have asked to start jsipfs daemon before running

[2018-10-23 16:11] alanshaw commented on #1659
`app.js` is the source code for that example. When you run  `npm run bundle` it reads `app.js`, bundles in all the dependencies and makes a file called `bundle.js`. The [script tag in `public/index.html`](https://github.com/ipfs/js-ipfs/blob/master/examples/exchange-files-in-browser/public/index.html#L92) runs it. After you've created the bundle it is unused, but it is left there so you can experi

[2018-10-23 16:11] #1659 closed

[2018-10-24 10:15] alanshaw opened #2900 "Resolution commands rework"
From https://github.com/ipfs/go-ipfs/issues/5635:

[2018-10-24 14:38] daviddias opened #1664 "ipfs.libp2p should be the ipfs._libp2pNode"
It is confusing for users that libp2p is not available through the .libp2p key and instead it is on ipfs._libp2pNode. Anyone opposed to this change?

[2018-10-24 14:42] alanshaw commented on #1584
To clarify, this occurs when upgrading the example to use electron 3

[2018-10-24 22:20] jacobheun opened #1666 "Consolidate the http-api tests"
Currently all of the http-api tests in the inject folder, https://github.com/ipfs/js-ipfs/tree/master/test/http-api/inject, create the http-api from source and test it directly. This is the behavior I'd expect from the tests.

We also have the tests in the root http-api folder, https://github.com/ipfs/js-ipfs/tree/master/test/http-api, that test the api by proxy by spinning up an ipfs daemon.

The

[2018-10-25 02:00] LiMoMoMo commented on #1651
thanks for your reply.
i download the latest repo, but it looks nothing changed.
1.
![1](https://user-images.githubusercontent.com/14027218/47471038-1f06a780-d83b-11e8-8059-21ec6972c51d.jpg)
2.
![2](https://user-images.githubusercontent.com/14027218/47471043-2463f200-d83b-11e8-8d01-1d05468b8a52.jpg)

i only changed the ipfs node swarm like:
[code]
the `8010` port is my `nginx`‘s port.

[2018-10-25 03:57] LiMoMoMo opened #1667 "CANNOT fetch file( bigger than 256k) in browser."
- **Version**: 0.33.0-rc.3
- **Platform**: chrome 69.0.3497.100 32bit
- **Subsystem**:

#### Type: Question

#### Severity: Medium

#### Description:
use the [Exchange files between the browser](https://github.com/ipfs/js-ipfs/tree/master/examples/exchange-files-in-browser), upload some files to one page's worksapce, i can fetch the fie which is smaller than 256K by enter the CID in other page, BU

[2018-10-25 07:54] gitGksgk commented on #1658
alright, solved. it's dht's matter

[2018-10-25 07:54] #1658 closed

[2018-10-25 08:44] LiMoMoMo commented on #1667
it looks like the api `node.files.cat(hash)` or `node.files.get(hash)` cannot work well when the node(the hash pointed) contains more than one child.

the files i added into one page's workspace:
1.
![3](https://user-images.githubusercontent.com/14027218/47486533-277ad480-d873-11e8-942e-2db939977f4d.jpg)
2.
![4](https://user-images.githubusercontent.com/14027218/47486544-2ba6f200-d873-11e8-9bbf-69

[2018-10-25 12:31] achingbrain commented on #1633
ipfs/js-ipfs-unixfs-engine#230 is fixed but even once it's been released our use of the `pull-sort` module [here](https://github.com/ipfs/js-ipfs/blob/master/src/core/components/files.js#L292-L296) causes errors to be swallowed.

I've opened a https://github.com/pull-stream/pull-sort/pull/2 to fix the problem.  Once that's merged & released the errors should flow.

[2018-10-25 14:11] Stebalien opened #2897 "Add a "key" flag to the "name.resolve" command"
Currently, `ipfs.name.resolve` resolves IPNS paths. At one point, there was some grumbling about supporting keys by *name* (https://github.com/ipfs/go-ipfs/issues/3900). @overbool has volunteered to implement this but this is an addition to a CoreAPI command so it should probably be discussed here first.

Alternatives:

1. Add an `ipfs key show` command that prints out the hash of the key. Users w

[2018-10-25 19:43] alanshaw opened #1670 "Awesome Endeavour: Async Iterators"
JS IPFS supports two types of stream at the API level, but uses pull streams for internals. If I was working on js-ipfs at the time I'd have made the same decision. Since then, async/await became part of the JS language and the majority of JavaScript runtimes now support async/await, async iterators and for/await/of (i.e. no need to transpile). These tools give us the power to stream data without

[2018-10-26 13:29] diasdavid commented on #1670
This is a "Everyone is Welcome" effort and a excellent opportunity for everyone to get their feet wet on the codebase, improve documentation, testing and refresh the code.

Hoping that we can count with help from the IPFS GUI, IPFS in Web Browsers, Community WG and Dynamic Data & Capabilities. This will make our JS APIs better for all the modern/new JS developers!

@ipfs/javascript-team Unite ✨👋🏽⚡

[2018-10-26 13:44] dignifiedquire commented on #1670
this is awesome and makes me so happy to see 🎉

[2018-10-26 14:11] hugomrdias commented on #1670
add me to multihashing-async, ipfsd-ctl, ipfs-multipart

[2018-10-26 15:11] diasdavid commented on #1670
@hugomrdias you got it! :)

[2018-10-27 14:53] pgte commented on #1615
Also bumping into this issue here: https://github.com/ipfs-shipyard/peer-star-app/pull/95

[2018-10-27 15:07] diasdavid commented on #1615
@pgte I believe @vasco-santos fixed this yesterday, to get the fix you need a fresh npm install of your modules

[2018-10-27 18:02] diasdavid commented on #1666
💯 𝐘Ⓔ𝒮 :D

[2018-10-27 18:14] diasdavid commented on #1476
This has been fixed (AFAIK). Let us know if not, closing for now.

[2018-10-27 18:14] #1476 closed

[2018-10-27 21:34] vasco-santos commented on #1615
In this case, @pgte since you are already updating `interface-datastore`, `datastore-core` and `ipfs-repo`, you will need to wait for [js-ipfs#1617](https://github.com/ipfs/js-ipfs/pull/1617) to get merged and released (which solves this issue).

In the meanwhile, if you do not upgrade those package versions, I think that it will work fine for you.

[2018-10-27 23:22] klueq opened #1674 "P2P connections with DataChannel"
How does `js-ipfs` connect two web nodes? This usually needs a signalling server/node that would let the two nodes exchange with ICE candidates and SDP messages.

[2018-10-28 15:55] stasbar opened #1675 "ipfs.resolve and ipfs.name.resolve doesn't work"
- **Version**:  0.32.3
- **Platform**: Brave 0.55.20 Chromium: 70.0.3538.67 (Official version) (64-bit)
- **Subsystem**:

#### Type: High

#### Steps to reproduce the error:
[code]

[code]

neither with the DNSlink
[code]
whereas golang cli works fine:
[code]

[2018-10-28 18:56] adrianmcli opened #1676 "Simple usage for test suite fails"
I'm building a library that will read/write to IPFS and I need to setup an integration test suite for it.

This is what I currently have (using Jest):

[code]

And this is the error that I get from my CI (`node.isOnline()` actually returns `false`):

[code]

Is there a better way to test integration with IPFS? Perhaps something more insulated?

[2018-10-29 03:03] jollysean opened #1677 "IONIC App on Device: MKDIR Issue"
Installed platforms:
  ios 4.5.5
Available platforms:
  android ~7.1.1
  browser ~5.0.1
  osx ~4.0.1
  windows ~6.0.0

I built a simple app to run relays on mobile. It works fine on simulator from Xcode 10. But it gives error of not able to create folder during init of IPFS.
What could be an ideal way to pre create this folder or some other ways to solve this?

2018-10-28 18:04:35.910139-0400 hdap

[2018-10-29 09:55] #1615 closed

[2018-10-29 10:40] vasco-santos commented on #1670
Updated the table with my assignements

[2018-10-29 14:00] achingbrain commented on #1676
What version of `js-ipfs` are you using? Your sample code works for me with `v0.32.3`.

If you're trying to write tests, you should use [`ipfsd-ctl`](https://www.npmjs.com/package/ipfsd-ctl) to control the node's lifecycle - it gives you options to use in-process nodes, external js or go nodes, disposable nodes (e.g. ones that don't write to `~/.jsipfs`) so you can spin up mulitple nodes at the sa

[2018-10-29 17:05] jacobheun commented on #1666
In this realm, although it should probably become it's own ticket, I was testing some changes to cli tests. I think we can realistically remove the need for any daemons in the js-ipfs test suite, and limit process forking to just verifying the cli entry.

Currently the CLI tests each spawn a daemon controlled by `ipfsd-ctl`. Ultimately, this ends up either testing the core code (no daemon commands

[2018-10-29 18:09] hugomrdias commented on #1666
@jacobheun that poc is anywhere on the interwebs ?  would love to have a look

[2018-10-29 18:17] jacobheun commented on #1666
@hugomrdias I need to tidy it up a bit and then will push it up. Just finished some of it before todays meetings.

[2018-10-29 18:29] adrianmcli commented on #1676
@achingbrain I'm using `v0.32.3` as well and running into the issue I have above. I don't need multiple nodes, all I really need to test is the ability to demonstrate writing something and reading something. Do you still recommend `ipfsd-ctl`?

[2018-10-29 23:43] jacobheun commented on #1666
@hugomrdias I pushed up what I've got so far, it's still pretty basic but there are a few tests. You can see the changes here https://github.com/ipfs/js-ipfs/commit/4963e4c4405f6a258c4b5bc56ceefd2df6a2ca9b.

Main Changes:
1. I added a TESTING.md file to explain how testing should be setup
2. The cli `bin.js` file is actually only a minor change. I wrapped the whole thing in a function for easier t

[2018-10-30 10:33] hugomrdias commented on #1666
Perfect i'll take a look at this and get back to you.

[2018-10-30 11:14] alanshaw commented on #1670
Thoughts and views on https://github.com/libp2p/interface-peer-discovery/issues/2 please!

[2018-10-30 13:21] jacobheun commented on #1666
A major thing we also need to look at which I had forgotten about is `interface-ipfs-core`, which locally comprises about `6m` of the http test suite. Right now we run it in both core and http. We should look at consolidating our tests in this repo and `interface-ipfs-core` as there is a ton of redundant testing going on there. We definitely dont need interface tests running against http and core,

[2018-10-30 13:37] pkafei opened #1679 "JS-IPFS Logs"
JS-IPFS Version: 0.32.3

Is there a command that shows you `jsipfs` logs? I looked through all of the available commands via `jsipfs commands` and didn't spot a command for displaying logs.

Additionally, what is the `debug` option for the JS implementation of IPFS. It seems to be slightly different than the different debug methods for the [Go version of IPFS](https://github.com/ipfs/go-ipfs/issue

[2018-10-30 13:57] pkafei opened #1680 "No Tutorial Present for CLI"
Interact with IPFS directly from your Terminal tutorial is missing content.
https://github.com/ipfs/js-ipfs/tree/master/examples/ipfs-cli-fun

[2018-10-30 17:17] parkan commented on #1619
you rock @mkg20001

I will open a new issue on getting libp2p-websocket-star-multi into core

[2018-10-30 20:35] hacdias commented on #1670
@alanshaw I was thinking at taking a look at `ipld-*` and I noticed [interface-ipld-format](https://github.com/ipld/interface-ipld-format) is missing from the table. Despite not being code, it is also required to be updated. I'll take a look at that one, does it make sense?

[2018-10-30 21:31] lifeBCE opened #1682 "502 Bad Gateway, 0.32.3"
- **Version**:
0.32.3

- **Platform**:
All (Latest FF and Chome on Mac OS X, Latest FF and Chrome on Android)

- **Subsystem**:

#### Type:
Bug

#### Severity:
High

#### Description:
[code]
I get hundreds of these errors in the console when the node is just running. I also get the CORS issues and the preload stuff as well in this version but I don't think this is the same issue. This happens so o

[2018-10-30 23:38] mikeal commented on #1670
We (@vmx and I) aren't too happy with `interface-ipld-format` and have been talking about a re-write for a some time now. Originally we had intended to use async functions as a test case "before advocating that all of js-ipfs moves to it" but you're beating us to it now :)

Perhaps we should accelerate the timeline for this refactor rather than trying to update the current interface?

[2018-10-31 01:39] aakilfernandes opened #1683 "Turn off logger?"
I'm using js-ipfs as part of a cli. How can I turn off the logger?

[2018-10-31 06:29] adrianmcli commented on #1676
I even tried a simple node script and it gave me the exact same error as above.

[code]

[2018-10-31 06:31] diasdavid commented on #1670
@mikeal it would be great if you, @vmx and @hacdias could work together on that refactor/redesign. I is a great opportunity for @hacdias to learn the IPLD way and learn from you two :)

[2018-10-31 08:58] hacdias commented on #1670
Yeah, that would be awesome. @mikeal @vmx as you can see by my previous [comment](https://github.com/ipfs/js-ipfs/issues/1670#issuecomment-434459712), I already created a PR on [`interface-ipld-format`](https://github.com/ipld/interface-ipld-format/pull/47). Maybe we could continue the discussion there!

[2018-10-31 09:37] diasdavid opened #1684 "ping tests are failing"
[code]

this is blocking the release https://github.com/ipfs/js-ipfs/issues/1635

[2018-10-31 09:50] diasdavid commented on #1684
I've tested with the latest libp2p (version on master) and it doesn't seem to solve the problem.

Note, the ping tests only fail when it is ipfs-api contacting the http-api, so we have indeed narrowed down the issue to the http-api / ipfs-api implementation detail.

[2018-10-31 10:16] diasdavid commented on #1684
fix is here https://github.com/ipfs/js-ipfs/pull/1685

[2018-10-31 10:16] #1684 closed

[2018-10-31 15:38] alanshaw commented on #1642
ping @mullerivan

[2018-10-31 15:46] alanshaw commented on #1610
The direct dependency on `ipld-dag-cbor` was removed in https://github.com/ipfs/js-ipfs/pull/1626 and IPLD was upgraded to a version including the breaking API changes here https://github.com/ipfs/js-ipfs/pull/1668. This will be in the upcoming js-ipfs 0.33 release.

[2018-10-31 15:46] #1610 closed

[2018-10-31 15:48] alanshaw commented on #1679
The log command is not yet implemented. We use the [`debug`](https://www.npmjs.com/package/debug) module throughout the codebase so you can use the `DEBUG` environment variable to get debugging logs e.g. `DEBUG=* jsipfs daemon`.

[2018-10-31 15:48] #1679 closed

[2018-10-31 15:51] alanshaw commented on #1649
Closing this as a duplicate of #1326

[2018-10-31 15:51] #1649 closed

[2018-10-31 15:52] lifeBCE commented on #1476
@diasdavid Can you point me to the tag or hash that has this fixed? I just tried 0.33.0-rc3 and it still exhibits all errors reported. 502 gateway, CORS and preload errors.

I tried to run the latest RC because I woke up this morning unable to communicate to the IFS network at all in my app. Seems none of the bootstrap nodes will allow proper communication due to these errors.

[2018-10-31 15:54] lifeBCE commented on #1682
#1476 I _think_ may need to be reopened. This problem seems to be growing. I cannot access anything on the IPFS network this morning through my app. None of the bootstrap nodes will connected.

[2018-10-31 16:01] alanshaw commented on #1654
Hey @leenabhandari this expected - the application that runs in that example will actively download content that is added by other nodes. To stop that, navigate away from that page or close your browser. Likewise, all the content in your IPFS repo is accessible to anyone who knows the hash.

Hope that helps - let me know if you have any questions!

[2018-10-31 16:01] #1654 closed

[2018-10-31 16:04] alanshaw commented on #1655
@jacobheun are you able to help with this one - will the new libp2p likely fix this?

[2018-10-31 16:06] alanshaw commented on #1657
Apologies but I don't understand. Could you please rephrase and include the stack trace for the error?

[2018-10-31 16:10] fsdiogo commented on #1654
Check out the last part of the [readme](https://github.com/ipfs/js-ipfs/tree/master/examples/exchange-files-in-browser):

You're sharing content with people that are on that workspace.

[2018-10-31 16:16] alanshaw commented on #1666
Absolutely 💯 +1 on remove redundancy but as I already mentioned on the PR we need to be sure there's an equivalent CLI / http-inject test for each http-daemon test that will be removed.

Yes please would you mind opening a separate issue for this?

[2018-10-31 16:21] alanshaw commented on #1667
@vasco-santos would you mind looking into this bug when you have a moment?

[2018-10-31 16:24] alanshaw commented on #1674
Yes IPFS can use a signaling server over webrtc or websockets. Please checkout this section of the README: https://github.com/ipfs/js-ipfs#how-to-enable-webrtc-support-for-js-ipfs-in-the-browser

[2018-10-31 16:24] #1674 closed

[2018-10-31 16:27] alanshaw commented on #1675
We're working on IPNS right now so what you're experiencing is expected.

Partial implementation for `resolve`, `name.publish` and `name.resolve` was added in 0.32.0 - check the [release notes for details](https://github.com/ipfs/js-ipfs/blob/master/CHANGELOG.md#0320-2018-09-11).

[2018-10-31 16:27] #1675 closed

[2018-10-31 16:40] alanshaw commented on #1676
I also tested this locally and was not able to replicate. Please try deleting your `node_modules` and `package-lock.json` and JS IPFS repo at `~/.jsipfs` and try again. I'll close for now but if you can provide a repo with a reproducable example then I'll re-open :)

[2018-10-31 16:40] #1676 closed

[2018-10-31 16:53] alanshaw commented on #1677
IPFS expects to be run in a Node.js environment so it's trying to write to the OS home directory but that's not possible from a webview, my guess is that with cordova you'd be better off using the browser build https://github.com/ipfs/js-ipfs#use-in-the-browser

Running js-ipfs on mobile is currently untested but planned for the future. Please feedback with how you get on.

[2018-10-31 16:56] alanshaw commented on #1680
Good point! Would you be willing to send a PR to either remove it (as it's confusing) or add a simple example for using the JS IPFS CLI?

[2018-10-31 17:04] alanshaw commented on #1682
ping @ipfs/infrastructure any ideas about this?

I know it's not super helpful but if you have a mission critical app you should consider setting up your own bootstrap node(s).

[2018-10-31 17:09] alanshaw commented on #1683
@aakilfernandes I agree this needs fixing - would you be willing to send a PR?

[2018-10-31 18:12] lifeBCE commented on #1682
@alanshaw I was considering that but unsure of how well that is supported. Should I remove all default at runtime and add my own or is there a more persisted way of accomplishing this?

I currently have logic such as this in a `componentDidUpdate`:
[code]

Should I just expand on this and manually remove all default and then manually add my won each time?

[2018-10-31 19:58] kyledrake commented on #1682
I believe I have fixed the servers with the 502 errors and have a mitigation to prevent this particular issue from happening again. I'm going to close this as resolved, but feel free to keep commenting if you need to relay more information.

[2018-10-31 19:59] kyledrake commented on #1682
Actually, I'm still seeing it on some of the machines, reopened for now.

[2018-10-31 20:20] kyledrake commented on #1682
Alright, we should be good here. Re-open if you see this again.

[2018-10-31 20:28] lifeBCE commented on #1682
Still see the following (and no connectivity):
[code]

[code]

I am using version 0.32.3 with default bootstrap config

After your reply here, I cleared browser cache, refreshed a few times and continue to see these errors and cannot access any data. Until this morning, I have always seen these errors but have stil been able to connect somehow.

[2018-10-31 20:39] mikeal commented on #1670
Sounds great, but I do want to make sure I'm prioritizing things in the right order (there's a lot on my plate from being out on vacation and now I'm sick). Is this refactor already blocking downstream refactors?

[2018-11-01 01:32] LiMoMoMo commented on #1667
it seems that i made a mistake, i'm sorry.
This problem occurs between tabs that in different browsers,  opera and chrome.

[2018-11-01 05:30] kyledrake commented on #1682
@lifeBCE Can you run `curl "https://node0.preload.ipfs.io/api/v0/refs?r=true&arg=QmQMXh5gVvfa41Wvbbjdx2A8KG6reNaNj41KzTvxHBYez6"` and tell me if it says 502 bad gateway? You should not be getting a 502 for a CORS issue...

[2018-11-01 05:37] klueq opened #1687 "ipfs.get needs 10 mins to discover new files"
I've added a text file and tried to resolve it via a public gateway - it worked almost instantly. Now I'm trying to do the same with js-ipfs on the same host that added the file via go-ipfs and on my phone which is not using wifi. None of them could resolve it. The file in question:

[code]

I wonder if this is because js-ipfs doesn't support DHT yet.

How much time would you expect it to take to

[2018-11-01 05:39] kyledrake commented on #1682
Ah, I see that it's failing sporadically. I'm taking a look.

[2018-11-01 05:45] klueq commented on #1687
Finally it arrived after 770 seconds. Still the question is valid: is it because of DHT and what's the expected delay.

[2018-11-01 06:20] lifeBCE commented on #1682
@kyledrake Running that curl yields the response list of refs without error. I have checked my production deployment and it is working great again, no errors. My local dev (localhost:3000) still has the intermittent issues but it will at least get some blocks through now. Looks like node0 will fail and node1 won't and then vise versa. Sometimes both still but all of this seems to only be in local

[2018-11-01 07:15] alanshaw commented on #1633
https://github.com/pull-stream/pull-sort/pull/2 has now been released 😀

[2018-11-01 07:15] #1633 closed

[2018-11-01 09:01] alanshaw commented on #1682
Thanks for your help @kyledrake

[2018-11-01 09:02] #1682 closed

[2018-11-01 09:39] diasdavid commented on #1635
Master has now all tests passing with flying colors 🌈 @alanshaw wanna drive this release home?! 🌟

[2018-11-01 11:03] leenabhandari commented on #1654
But I was not sharing my workspace with anybody. The hash value wasnt shared with anyone. And i had not connected the node with anyone. Earlier, after refreshing, the files used to go. But now, they are coming back.

[2018-11-01 12:05] marcusnewton1 commented on #1635
@diasdavid I would love if this is released like right now. Intending to demo IPFS to some people today and the current globe is too laggy for my computer!

[2018-11-01 12:07] diasdavid commented on #1635
@marcusnewton1 it might not be in the next 60 minutes, but if you use js-ipfs master, you should be golden!

[2018-11-01 12:21] diasdavid commented on #1635
It seems that the WebUI is always thinking that the HTTP API port is 5001 and therefore fails to automatically load with js-ipfs daemon

<img width="1096" alt="image" src="https://user-images.githubusercontent.com/1211152/47851464-a078af80-ddd0-11e8-8374-328347446df1.png">

[2018-11-01 12:35] olizilla commented on #1635
@diasdavid you should be able to load webui from :5002 and it should work out of the box. I'm looking into it.

[2018-11-01 12:35] alanshaw commented on #1635
@marcusnewton1 you can `npm install ipfs@0.33.0-rc.4` for now.

[2018-11-01 12:38] diasdavid commented on #1635
@olizilla it did work indeed, that's my second screenshot https://github.com/ipfs/js-ipfs/issues/1635#issuecomment-435024307

[2018-11-01 13:02] olizilla commented on #1635
I've tested on both master (73da4ecc8592a11ea7c4bc2be744cfdd4eb832ec) and `ipfs@0.33.0-rc.4` and I can open http://127.0.0.1:5002/webui and have the webui connect to the api on `:5002`. It does not prompt to enter a custom api port.

If you have custom CORS config, then you may see the help page, and it will reference `:5001`  as being the api port. As mentioned in https://github.com/ipfs/js-ipfs/

[2018-11-01 13:57] marcusnewton1 commented on #1635
@alanshaw Yep, worked for me, once I got through npm setup

[2018-11-01 14:43] aakilfernandes commented on #1683
Sure. Just need a little guidance.

https://github.com/ipfs/js-ipfs/blob/52f7aa7183b195c2059a2dd07c8a7cc4034a3717/src/cli/commands/config/show.js#L3

There's a lot of places where `debug` is used, should i just move all these `console.log` into debug?

[2018-11-01 15:51] #1635 closed

[2018-11-01 19:32] diasdavid commented on #1635
(first giphy for Legendary!)

![](https://media.giphy.com/media/md3TNZtG6n9E4/giphy.gif)

[2018-11-01 20:29] alanshaw commented on #1503
Closing due to inactivity

[2018-11-01 20:29] #1503 closed

[2018-11-01 20:33] alanshaw commented on #1489
If you still need an answer to this @pgte I think @vasco-santos is working on this so might be able to help.

[2018-11-01 20:33] #1489 closed

[2018-11-01 20:40] alanshaw commented on #1384
Please now track at https://github.com/ipld/js-ipld-zcash/issues/9

[2018-11-01 20:40] #1384 closed

[2018-11-01 20:41] #1344 closed

[2018-11-01 21:11] fiatjaf commented on #1503
Yeah, I was about to get more information on the device, but totally forgot about it. Sorry.
It is reasonable to assume the device disk was almost completely full.

[2018-11-01 22:06] alanshaw commented on #1312
@nezzard did you solve this? It would be useful to know both the go and js config you’re using and also the full error message you’re getting from the JS node. Since this was reported a while ago now it might be worth upgrading to the latest go and js version first.

[2018-11-01 22:09] alanshaw commented on #1311
This endeavour can now be tracked here https://github.com/ipfs/js-ipfs/issues/1670

[2018-11-01 22:09] #1311 closed

[2018-11-01 22:10] #1309 closed

[2018-11-01 22:14] alanshaw commented on #1291
Closing as https://github.com/ipfs/js-ipfs-multipart/pull/1 has been merged

[2018-11-01 22:14] #1291 closed

[2018-11-01 22:18] #1261 closed

[2018-11-01 22:29] alanshaw commented on #1677
...and ionic here https://github.com/ipfs/js-ipfs/issues/802

[2018-11-01 22:34] alanshaw commented on #1058
Would passing start:false to the constructor and then waiting for the ready event be what you’re looking for?

[2018-11-01 22:34] #1058 closed

[2018-11-02 02:39] vishalkuo commented on #1166
There's been a [long chain of forking going on for ipfs types](https://github.com/vishalkuo/types-ipfs) as most repos go unmaintained. Would you be willing to accept a PR into this repo and have one centralized, visible, location to expose this?

[2018-11-02 04:24] mccoysc opened #1689 "Uncaught TypeError: Cannot read property 'push' of null"
await ipfs.ping("QmZ6YuHZUJd6k9hbJNaNUZBsWfwZGv62piZMU6oxHPBtDx")

collect.js:7 Uncaught TypeError: Cannot read property 'push' of null
    at collect.js:7
    at reduce.js:8
    at drain.js:24
    at f (index.js:84)
    at Function.u [as push] (index.js:44)
    at e.ping (ping-pull-stream.js:79)
    at _getPeerInfo (index.js:339)
    at s (get-peer-info.js:54)
    at setImmediate.js:27
    at set

[2018-11-02 04:34] mccoysc commented on #1689
browser version in google chrome

[2018-11-02 04:43] mccoysc commented on #1689
and  if i make the code "acc=[]",another error:

Uncaught TypeError: cb is not a function
    at reduce.js:10
    at drain.js:20
    at f (index.js:84)
    at c (index.js:68)
    at Function.a [as end] (index.js:36)
    at e.exports.o.on.e (ping-pull-stream.js:97)
    at e.exports.r.emit (events.js:81)
    at p.swarm.dial [as callback] (ping.js:30)
    at a (dial.js:110)
    at once.js:12
    at f

[2018-11-02 06:50] mccoysc commented on #1689
if i change the node-modules/ipfs/src/core/componets/ping.js to the following:

module.exports = function ping(self) {
  return function (peerId, opts, cb) {
    return new Promise(function (resp, rej) {
      function _cb() {
        if (cb) {
          return cb.apply(this, arguments);
        }
        if (arguments[0]) {
          return rej(arguments[0]);
        }
        return resp(argumen

[2018-11-02 08:33] hacdias commented on #1670
@mikeal as far as I know, it isn't since no one started refactoring IPLD nor anything that depends on it.

[2018-11-02 09:00] mccoysc opened #1690 "No available transports to dial peer"
in jsipfs version 0.33.0 ,await ipfs.ping(QmYSk5mvSfQdniBCNZ1XLkp44Gih8m6kVqPJnCCNRv1rnR) got this error(run in browser):

Uncaught (in promise) Error: No available transports to dial peer QmYSk5mvSfQdniBCNZ1XLkp44Gih8m6kVqPJnCCNRv1rnR! Error: No available transports to dial peer QmYSk5mvSfQdniBCNZ1XLkp44Gih8m6kVqPJnCCNRv1rnR!
    at i (dial.js:369)
    at switch.transport.dial (dial.js:382)
    a

[2018-11-02 11:40] diasdavid commented on #1440
Congratz on #1560 and releasing it! :)

[2018-11-02 12:09] vmx commented on #1563
In the meantime if you want your JS node to be more like a Go node:

[code]

[2018-11-02 16:54] caffeinum opened #1691 "js-ipfs has more connected peers than ipfs-pubsub-room"
- **Version**: commit: "", repo: 7, version: "0.32.3"
- **Platform**: Chrome, Mac OS X Mojave (but bug happens on other platforms: Windows, Yandex Browser)
- **Subsystem**: pubsub

#### Type: Bug

#### Severity: High

#### Description:

_Now, I am thinking the bug could be in https://github.com/ipfs-shipyard/ipfs-pubsub-room/ code, though I am not an expert, so I am filing it both ways._

Sometime

[2018-11-02 23:30] mitra42 commented on #1476
I'm certainly still seeing this as well.
@diasdavid  is the required fix client-(JS) side or server (go) side ?

[2018-11-03 07:05] diasdavid commented on #1476
@mitra42 I believe there were multiple hiccups on IPFS Infrastructure recently, but I'll let the @ipfs/infrastructure team confirm.

If you see a CORS issue, it always means that the endpoint (in this case the go-ipfs node) doesn't have CORS enabled. CORS is a Browser protection but that gets set by the "server" part to avoid getting servers contacted from browsers on domains that are not whitelis

[2018-11-03 15:49] mitra42 commented on #1476
@diasdavid - I'm familiar with CORS. CORS problems I've seen have been either "client" or "server" (Go-IPFS node) side, if the client didn't add the right "Origin" headers it can cause problems, or it could be the server not properly responding to that header.

If its a server problem, as you suggest, then this issue should probably be re-opened, because as of yesterday some of your default preloa

[2018-11-03 16:36] diasdavid commented on #1476
@mitra42 I opened a issue on the IPFS Infrastructure, check progress here https://github.com/ipfs/infrastructure/issues/447

[2018-11-04 00:44] lifeBCE commented on #1682
To anyone experiencing these issues still I would echo @alanshaw above in pointing your app at your own node for hash references. The default config for the ipfs-go node has the proper config for CORS support out of the box.

[code]

This is how I accomplished this. I could not find it covered very well in any docs so I went to the code and found that you can pass the constructor an options hash w

[2018-11-04 05:48] scammi commented on #1682
I implemented your idea of passing options to the constructor, but allowing CORS:
[code]
Thank you  for helping me, I am very new and found it very satisfiying to fix the issue.

[2018-11-04 12:38] mccoysc opened #1692 "about p2p"
go-ipfs has some p2p commands like "ipfs p2p listen" and so on,this is important for making a new communication layer with peerId other than ip......
which time to add this feature?

[2018-11-05 12:30] alanshaw commented on #1687
Possibly related to https://github.com/ipfs/infrastructure/issues/448

[2018-11-05 13:54] alanshaw commented on #1692
JS IPFS has `ipfs._libp2pNode` which exposes p2p functionality for this purpose. This will hopefully soon be moved to `ipfs.libp2p` as per https://github.com/ipfs/js-ipfs/issues/1664

[2018-11-05 13:55] alanshaw commented on #1692
If there's anothing missing here that you'd like to see then please open an issue on the libp2p repo https://github.com/libp2p/js-libp2p :)

[2018-11-05 13:55] #1692 closed

[2018-11-05 14:14] vitriol-co opened #1694 "Bootstrapper 0 and 1 repeatedly failing with 504s"
- **Version**: v0.32.3
- **Platform**: Browser - any
#### Type:
Bug

#### Severity:
High

#### Description:
Repeated 504 Timeout errors from preload nodes 0 and 1:

`index.min.js:1 GET https://node1.preload.ipfs.io/api/v0/refs?r=true&arg=QmSTYia3dXbtFTFZCEYnBFyNXpmED34xYtjkwxocTo1Q2d 504 (Gateway Time-out)`

`index.min.js:1 GET https://node0.preload.ipfs.io/api/v0/refs?r=true&arg=QmSTYia3dXbtFTFZC

[2018-11-05 16:59] alanshaw commented on #1694
@haadcode are you able to confirm this has been resolved?

[2018-11-05 22:08] vitriol-co commented on #1694
@alanshaw - what I see now from https://vitriol.co is another error:

`GET https://node0.preload.ipfs.io/api/v0/refs?r=true&arg=QmcV11zWC2ccMg1kiV7nk1FCSeCVmFZNQWAAkvYzAGWA4R net::ERR_CONNECTION_CLOSED`

So no, it doesn't seems resolved (but the timeouts are gone)

[2018-11-05 22:11] vitriol-co commented on #1694
I retried and now all seems working. I will retry in a couple of hours to confirm.

[2018-11-05 22:49] vitriol-co commented on #1694
Nope, node 0 is still closing connections and node 1 is still 504 timing out.

`index.min.js:1 GET https://node0.preload.ipfs.io/api/v0/refs?r=true&arg=QmaF5QLZJvk2HpCTcbzz4YmCX7xgHo2cyxwYhmCKMZLNbU net::ERR_CONNECTION_CLOSED`

`index.min.js:1 GET https://node1.preload.ipfs.io/api/v0/refs?r=true&arg=QmUx8Yrq7y89BekfMW1swuywFygM5q7uPX2a11jdhCxVhf 504 (Gateway Time-out)`

... for ~100 lines

[2018-11-06 08:18] lifeBCE commented on #1694
I have switched my app over to using my own bootstrap node for references so I have not been seeing the 504s but I can confirm that no data has been transferred all day. My browser node connects fine and will grab up to 7 or 8 peers as well but will not transfer blocks.

I originally started the day out on version 0.33.0, then dropped back to 0.32.3 and then up to 0.33.1 and all versions show the

[2018-11-06 11:02] fazo96 commented on #1309
@alanshaw I saw you closed the issue, is the original problem fixed now?

I mean, is there a way to make peers using the same IPFS JS app discover and connect automatically without using a centralised websocket-star redenzvous server?

[2018-11-07 01:45] LiMoMoMo commented on #1657
i got the same error 😭 .
* enable the dht :
[code]
* my error info is :
[code]

[2018-11-07 08:21] LiMoMoMo opened #1698 "DIAL to every peers in WantManager when get a hash ?"
- **Version**: 0.32.3
- **Platform**:
- **Subsystem**: bitswap

#### Type:
Question

#### Severity:
Very Low
#### Description:
i added output in the `libp2p` module to figure out how it works.
i found that when i fetch a date(get(hash)), the `libp2p` dial to every peers that it connected.
the `libp2p.network.findProviders(cid, maxProviders, callback)` reveive paragrams to restrict the provider per

[2018-11-07 10:00] vongohren opened #1699 "Using signaling node. Error: there is already a transport with this key"
- **Version**:
0.32.3 - IPFS.js
- **Platform**:
macOS
- **Subsystem**:

#### Type:
Bug & Question

#### Severity:
High

#### Description:
Im running a monorepo with a node server and a static frontend.
The static frontend initializes a ipfs with
[code]

The backend does the same.
The backend responds with
`Swarm listening on /dns4/ws-star.discovery.libp2p.io/tcp/443/wss/p2p-websocket-star/ipfs/Qmd

[2018-11-07 10:50] alanshaw opened #1700 "Fails to init with Node.js 11.x - Lock FcntlFlock failed: EINVAL, Invalid argument"
nodejs11.js

[code]

Output:

[code]

https://github.com/dignifiedquire/lock-me/issues/4

[2018-11-08 16:35] alanshaw commented on #1699
Thanks for reporting @vongohren - would you be able to retry with 0.33.1? There were significant libp2p improvements that might have already fixed this.

[2018-11-08 16:37] alanshaw commented on #1698
@jacobheun does this sound like expected behaviour?

[2018-11-08 20:52] vongohren commented on #1699
Not a whole lot of changes to this error with 0.33.1 unfortunately.

[2018-11-08 21:32] jacobheun commented on #1698
So currently `maxProviders` isn't passed to the content providers in libp2p as it's not yet supported. A default time is passed https://github.com/ipfs/js-ipfs-bitswap/blob/v0.21.0/src/network.js#L105, which is currently 10 seconds. So assuming you find 100 providers in that 10 seconds, you'd try to connect to all of them.

This is the expected behavior, but we should probably look at adding suppo

[2018-11-09 16:26] jacobheun opened #1705 "Add pre-push lint?"
Currently we don't do any pre-push behaviors in js-ipfs. Testing makes sense not to do because it takes way too long for everyone to have to run that locally. Linting is relatively quick (around 7 seconds for me locally).

While 7 seconds is annoying on a push, having this go to ci and doing an npm install on all agents before it lints is expensive if linting is going to fail, and is worth the tim

[2018-11-10 20:36] lifeBCE opened #1706 "Lag on catReadableStream (possibly other stream methods as well)"
- **Version**:
0.33.1

- **Platform**:
Mac OS X 10.12.6
Chrome: Version 70.0.3538.77 (Official Build) (64-bit)
FireFox: 63.0.1 (64-bit)

- **Subsystem**:
?

#### Type:
Bug (maybe Enhancement?)

#### Severity:

High

#### Description:

When using js-ipfs as a client in a browser, executing `node.files.catReadableStream` starts the blocks streaming into the websocket connections immediately but it t

[2018-11-10 23:00] lifeBCE opened #1707 "node.bootstrap.rm oddity?"
- **Version**:
0.33.1

- **Platform**:
Mac OS X 10.12.6
Chrome: Version 70.0.3538.77 (Official Build) (64-bit)

- **Subsystem**:
?

#### Type:

Possible Bug

#### Severity:

Low

#### Description:

Am I crazy or should this work?

[code]

The second entry in the array is the one that gets removed but the first always remains. When I shift the order, the opposite one gets deleted but the other stay

[2018-11-11 21:46] mauriciomelo commented on #1699
I can confirm the same issue here, with ipfs 0.33.1 and node 11.x and 8.x

[2018-11-12 03:19] Juanperezc commented on #1562
I have the same error runining the docker image

[2018-11-12 03:22] Juanperezc opened #1708 "Error docker image webrtc support"
I have the next error when I run the docker image
`docker run -it -p 4002:4002 -p 4003:4003 -p 5002:5002 -p 9090:9090 ipfs/js-ipfs:latest`
[code]

[2018-11-12 14:28] vmx opened #1709 "Transfering data between two local peers is slow"
- **Version**: 0.33.1
- **Platform**:  Linux

#### Type: Enhancement

#### Severity: Medium

#### Description:

Run two connected peers locally. Add a file to one of them. Then request that file from the other peer. That is quite slow. On my machine around 8s for a 100MB file. If I do a subsequent request (the file is basically in memory) it takes around 800ms.

#### Steps to reproduce the error:

[2018-11-12 16:05] alanshaw commented on #1670
Just a note that we should use this opportunity to remove the object API as per the plan here https://github.com/ipfs/interface-ipfs-core/pull/388#issuecomment-437858400

[2018-11-12 16:07] achingbrain commented on #1670
If we're removing redundant APIs, there are some more suggestions here: https://github.com/ipfs-shipyard/ipfs-http/issues

[2018-11-12 18:30] mikeal commented on #1709
For analyzing these issues we should create something of a "Macro" level view of performance. Off the top of my head, it would look something like:

* Network Establishment
  * Peer Discovery
  * Connection Establishment
* Data Replication
  * This is where things get complicated because concurrency starts to effect whether or not certain things we *spend time on* actually contribute to performanc

[2018-11-13 11:42] Rkrushanovskij commented on #1476
Hi there!
I tried out to call ipfs\` api directing to localhost but faced CORS error. I did [CORS\` guide](https://github.com/ipfs/js-ipfs-api#cors) from js-ipfs-api README.md, but it wasn\`t fixed.
Here is my `ipfs config API.HTTPHeaders.Access-Control-Allow-Origin`:
[code]
(also i tried to set without `http://`, with port, only `localhost` and only `127.0.0.1` - same results)
can you help me?
Al

[2018-11-14 12:32] diasdavid commented on #1694
@ipfs/infrastructure team, is anyone looking into this?

[2018-11-14 12:39] diasdavid commented on #209
@vasco-santos can you share a quick update on this thread?

[2018-11-14 14:30] vasco-santos commented on #209
We divided the implementation of `IPNS` in three steps, `IPNS working locally`, followed by integrating the network for sharing the records, where get in the scene `IPNS over Pubsub` and `IPNS over DHT`.

`IPNS working locally` is currently ready in `js-ipfs` since `ipfs@0.32`.

Regarding `IPNS over Pubsub`, there is a PR ready that can be used for testing by potential interest people [ipfs/js-ipf

[2018-11-14 16:31] eefahy commented on #1694
I just loaded https://vitriol.co and watched IPFS startup. Closing this issue as it appears to be resolved but please reopen is the problem persists.

<img width="545" alt="screen shot 2018-11-14 at 8 28 42 am" src="https://user-images.githubusercontent.com/1131894/48496672-669fa400-e7e7-11e8-9b12-d7000ca50b00.png">

[2018-11-14 16:31] #1694 closed

[2018-11-14 22:32] alanshaw commented on #1689
This is the same error as the second issue reported in #1616 and was resolved by https://github.com/ipfs/js-ipfs/pull/1627

[2018-11-14 22:32] #1689 closed

[2018-11-14 22:41] alanshaw commented on #1691
This sounds very much like an issue with pubsub room - it should be investegated there. If the cause is not found to be pubsub-room then please open another issue here with specifics about the issue with JS IPFS.

[2018-11-14 22:41] #1691 closed

[2018-11-14 22:48] alanshaw commented on #1706
Closing this as a duplicate of #1709 - let me know if that doesn't sound righ @lifeBCE

[2018-11-14 22:53] alanshaw commented on #1708
@Juanperezc this should have been fixed by #1663. I'm going to assume all is well but if you can test with current master and let me know if not we can investigate further.

[2018-11-14 22:53] #1708 closed

[2018-11-14 22:56] alanshaw commented on #1642
closing due to inactivity

[2018-11-14 22:56] #1642 closed

[2018-11-14 23:07] lifeBCE commented on #1706
@alanshaw I don't _think_ these are the same but could be the same cause? #1709 sounds like it is taking 8 seconds to transfer a local file from one local peer to another and does not seem to have anything to do with the websocket functionality.

My issue is that the embedded browser node from `js-ipfs` is pulling the blocks from the bootstrap node over the websocket connection but the `data` even

[2018-11-15 07:20] dignifiedquire commented on #1700
There were some fixes done recently in https://github.com/baudehlo/node-fs-ext
Can you check with and without it installed (it is an optional dependency) and also if does pull in the latest version?

[2018-11-15 11:05] caffeinum commented on #1691
OK, I'll put a link to that issue here for connection: [issue](https://github.com/ipfs-shipyard/ipfs-pubsub-room/issues/61)

[2018-11-15 18:50] aphelionz opened #1714 "Cannot get a node.js js-ipfs peer and a browser js-ipfs peer. Config issue?"
- **Version**: { version: '0.33.1', repo: 6, commit: '' }
- **Platform**: Linux ip-172-31-11-196 4.4.0-1069-aws #79-Ubuntu SMP Mon Sep 24 15:01:41 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
- **Subsystem**: pubsub, libp2p

#### Type: Question

#### Severity: High

#### Description:
Please review the following configuration options and let me know what, if anything, I can do to get pubsub to work betw

[2018-11-16 11:31] hugomrdias commented on #1700
For the record this code doesn't work anymore https://github.com/baudehlo/node-fs-ext/blob/master/fs-ext.js#L139-L146

I have a PR pending to fix this in ipfs-repo.

[2018-11-16 21:16] aphelionz commented on #1613
@alanshaw Are those interop tests available? I'm having a heck of a time going between the browser / go / node.js and would love to see how it's properly done.

[2018-11-16 22:57] alanshaw commented on #1613
https://github.com/ipfs/interop

[2018-11-16 23:50] aphelionz commented on #1613
Thank you!

[2018-11-17 14:51] lifeBCE commented on #1706
@alanshaw Ping.

[2018-11-19 15:05] alanshaw commented on #1706
@lifeBCE is the data event being triggered after the full response is received?

[2018-11-19 15:22] lifeBCE commented on #1706
@alanshaw It does eventually get triggered but it doesn't seem to be after the full download completes. It seems to be about the same 8-10 seconds regardless of the size of the file. I have tested this against small 30 second video clips as well as an over 2 hour video and the lag time is the same for both and any length in between.

I have added some additional logic to my service to pre-load the

[2018-11-19 15:38] alanshaw opened #1721 "⚡️ v0.34.0 RELEASE 🚀"
# 🗺 What's left for release?

* [x] [Refactor files API](https://github.com/ipfs/js-ipfs/pull/1671)
* [x] [Upgrade to latest ipld-dag-pb](https://github.com/ipfs/js-ipfs/pull/1702)
* [x] [Refactor Object API](https://github.com/ipfs/js-ipfs/pull/1730)
* [x] [`--cid-base` option](https://github.com/ipfs/js-ipfs/pull/1552)
* [x] [CID version agnostic get](https://github.com/ipfs/js-ipfs-repo/pull/18

[2018-11-20 16:30] dsmith3210 commented on #1657
I'm having the same problem. I reproduced it [here](https://dsmith3210.github.io/ipfs-playground/dht-in-browser/index.html), the relevant stack trace seems to be:

[code]

The root of it seems to be this [assert](https://github.com/libp2p/js-libp2p/blob/40e840d5fd1a8cd170fca33e77540a44cfa2bc17/src/config.js#L50):

[code]

[2018-11-21 09:34] alanshaw commented on #1657
Thanks @dsmith3210

@jacobheun this error is originating in libp2p - are you able to take a look?

[2018-11-21 11:19] jacobheun commented on #1657
So the reason this is failing is because the DHT is being enabled, but no DHT is being provided. In the nodejs configuration we set the dht to kademlia, https://github.com/ipfs/js-ipfs/blob/v0.33.1/src/core/runtime/libp2p-nodejs.js#L36. The browser config is not setting the dht, https://github.com/ipfs/js-ipfs/blob/v0.33.1/src/core/runtime/libp2p-browser.js#L18-L35. So when libp2p runs it's config

[2018-11-21 11:22] vasco-santos commented on #1657
yeah, we need to add the `DHT` in the browser. I am adding it in [ipfs/js-ipfs#856](https://github.com/ipfs/js-ipfs/pull/856), but maybe we can add sooner that this PR is merged

[2018-11-21 17:58] dsmith3210 commented on #1657
Thank you for the info, @jacobheun. I added DHT to libp2p-browser.js and I'm up and running now.

One other note was that I had to add an empty dht object in the config section of defaults: otherwise I got a fatal error: TypeError: this._config.dht is undefined; can't access its "enabledDiscovery" property

[2018-11-21 18:13] vasco-santos commented on #1657
Thanks for the feedback @dsmith3210 ! I will fix that, in `libp2p` we should check if we have the `dht` config, and if not, use the defaults.

[2018-11-22 14:04] raoulmillais commented on #1509
I narrowed this down to [dignifiedquire/lock-me](https://github.com/dignifiedquire/lock-me/).  [This gist](https://gist.github.com/raoulmillais/d080411615854703728718608538cf76) is a minimal test case that demonstrates the above error.

Adding `"fs-events": false` to the browser field in js-ipfss' package.json or (better IMO) [dignifiedquire/lock-me](https://github.com/dignifiedquire/lock-me/) res

[2018-11-22 16:03] mcollina opened #1727 "slow key generation"
As part of the [benchmarking initiative](https://github.com/ipfs/benchmarks), we have identified a first bottleneck in js-ipfs.
Adding a file to a local empty repo creates a new public/private key (see https://github.com/ipfs/benchmarks/blob/master/tests/local-add.js). This operation takes 3-6 seconds on our laptop, making the user experience on new repositories problematic. Also, it skews all the

[2018-11-22 17:07] raoulmillais commented on #1509
The runtime parcel build error was a related issue with [lock-me](https://github.com/dignifiedquire/lock-me/) being required in the browser. lock-me is pulled in by [js-ipfs-repo](https://github.com/ipfs/js-ipfs-repo/) but it has been replaced with proper-lockfile in 0.25.1.  In the latest version ipfs-repo specifies an in memory lock shim for the browser in the browser field of its package.json.

[2018-11-22 19:43] raoulmillais commented on #1509
The bug in parcel on windows only show itself when the browser field is a relative path  with more than one component.  I.E.

1. Create 2 packages
    - package A has an index.js file that requires a local sibling package, package B
    - package B requires a file `./src/dep.js` and has a browser field with `./src/dep.js": "./src/shim.js`
    - `shim.js` console.logs 'i am the shim'
    - `dep.js`

[2018-11-23 00:00] Juanperezc commented on #802
Hello, someone else has worked to implement ipfs on ionic?, I'm trying but I'm having an error

[2018-11-23 14:02] Juanperezc commented on #1399
I have the same issue when I try start a node with ionic

[2018-11-23 19:53] rmisio commented on #1683
I'm wondering how to turn it off in a browser version? I'm trying to debug an app I'm working on with some `console.log`s and they're just being washed out by thousands of logs from `bundleCircuit.js`.

[2018-11-26 13:50] alanshaw commented on #1509
@raoulmillais could you link us to the issue on the parcel repo?

[2018-11-26 13:54] raoulmillais commented on #1509
Sure thing @alanshaw it is [the issue linked in the description](https://github.com/parcel-bundler/parcel/issues/1883)

[2018-11-26 14:05] raoulmillais commented on #1509
There is [a PR](https://github.com/ipfs/js-ipfs/pull/1726) with a working (on unix) parceljs example with some further notes

[2018-11-26 17:38] daviddias commented on #1727
We want to go with `1)` https://github.com/libp2p/js-libp2p-crypto/issues/130 --  https://github.com/nodejs/node/issues/15116, it does require to default to min Node.js 10 though, which is fine as we already agreed to that -- https://github.com/ipfs/community/pull/350.

For the sake of continuing with the rest of Benchmarks, you can use a pre-generated keypair by passing it `--privateKey` on init.

[2018-11-26 17:41] daviddias commented on #1727
As a datapoint: go-ipfs takes 0.17s

[code]

[2018-11-26 17:59] mcollina commented on #1727
@daviddias @alanshaw do you want us to do that change (put it in our queue of things to do), or do you plan to make that change in the js-ipfs team?

Note that the problem is not going to fix it for the browser. Is that ok?

Currently js-ipfs is at 10 seconds because of that generation. Creating the actual repo and adding a file takes ~100 ms (after the certificate is created) which is already pre

[2018-11-26 18:09] daviddias commented on #1727
@vasco-santos @jacobheun would you be able to ship https://github.com/libp2p/js-libp2p-crypto/issues/130 soon or would you prefer to let @mcollina handle it?

For the browsers, can't you add a JSON object with a bunch of keys before starting the profiling? Or alternatively, just load the key from a local http endpoint through a single get request, taking out all the keypair calls from the profilin

[2018-11-26 18:14] mcollina commented on #1727
I'm more concerned about fixing the issue for browsers rather than the benchmarking itself.

[2018-11-26 18:19] vasco-santos commented on #1727
I would like to focus on the testbed and `libp2p` interop as soon as possible.

If @mcollina can handle it, it would be great. Otherwise, I can also shift priorities to tackle it.

[2018-11-26 18:23] daviddias commented on #1727
@mcollina go ahead and have fun trying the internals of libp2p :D

[2018-11-27 19:10] deanvaessen opened #1732 "Can't establish a connection to the server at ws://..."
- **Version**: 0.33.1
- **Platform**: Win 10 x64 (Tested with Firefox Developer Edition 64.0b12 (64-bit) and Brave 0.25.2)

#### Type: Bug
#### Severity: High
#### Description:
Hi, I am trying ipfs with 3box (3box.io) and keep getting ipfs connection issues right when my application starts. I installed 3box (which uses ipfs as a dependency), and immediately I am getting server connection errors. I

[2018-11-28 11:53] achingbrain opened #1736 "OOM when importing large directories"
[This call](https://github.com/ipfs/js-ipfs/blob/master/src/cli/commands/add.js#L52) to `get-folder-size` can cause OOMs on large directories as the `get-folder-size` module keeps a list of all the files it's seen to make sure it doesn't double-count symlinked files (for example).

We only calculate the directory size to show a progress indicator - I propose we switch to an indeterminate indicator

[2018-11-28 14:54] alanshaw commented on #1680
This rogue dir was removed in https://github.com/ipfs/js-ipfs/pull/1713

[2018-11-28 14:54] #1680 closed

[2018-11-28 14:57] lukas2005 opened #1738 "Error: No resolver found for codec "undefined" in the browser"
- **Version**: 0.33.1
- **Platform**: Linux lukas2005-local 4.18.18-200.fc28.x86_64 #1 SMP Mon Nov 12 03:17:32 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
- **Subsystem**: Graph (object.put)

#### Type: Bug

#### Severity: Medium

#### Description:
`ipfs.object.put(new Buffer(data))` doesn't work when used in the browser (bundled with webpack)
Error:
[code]
ipfs-access-controller is a file from [orbit

[2018-11-28 17:46] aphelionz opened #1739 "Strange pubsub behavior - timing issue? duplicate messages?"
- **Version**: 0.33.1
- **Platform**: node.js
- **Subsystem**: pubsub

#### Type:Bug

#### Severity: High (risk of unreliable `orbit-db` behavior)

#### Description:

When running [this test](https://github.com/orbitdb/ipfs-log/blob/6f94b0d15006692aae1fa02b64aea52014d98e72/test/replicate.spec.js) the js-ipfs version of "replicates logs" is failing. I was able to finagle output that shows what's go

[2018-11-28 22:04] aphelionz commented on #1739
Update: I thought it might be related to https://github.com/libp2p/js-libp2p-floodsub/pull/59/ but I confirmed that code is in my installed package and did not make a difference. It seems this **only** affects `js-ipfs` and not `go-ipfs`

[2018-11-29 02:49] aphelionz commented on #1739
In the process now of trying to write a failing test for `js-libp2p-floodsub` but running into some difficulties getting it to fail.

This is the test I'm running against `js-libp2p-floodsub`: https://gist.github.com/aphelionz/33bef361de03f950547206623188d696, trying to mirror https://github.com/orbitdb/ipfs-log/blob/master/test/replicate.spec.js

Am I correct in my understanding that there are a

[2018-11-29 11:00] alanshaw commented on #1732
This seems to be working for the majority of nodes now but `ams-1.bootstrap.libp2p.io` is still down.

<img width="1319" alt="screenshot 2018-11-29 at 11 00 37" src="https://user-images.githubusercontent.com/152863/49217654-07848680-f3c6-11e8-8946-5c6b25d9d279.png">

[2018-11-29 11:18] alanshaw commented on #1509
Now that https://github.com/ipfs/js-ipfs/pull/1726 exists, lets close this :)

[2018-11-29 11:18] #1509 closed

[2018-11-29 12:42] alanshaw commented on #1683
@rmisio https://github.com/ipfs/js-ipfs/pull/1712 will allow you to pass a "silent" option to the IPFS constructor to silence all output.

[2018-11-29 12:56] vmx opened #2898 "Improving the Block API"
I think the Block API should be improved so that IPFS can be used a a proper blob storage.

For considering it "proper" I would say it needs:

 - Pinning support
 - Remove operation
 - Bulk operations to put, get and remove several blocks at the same time (that might even be the only API, where single blocks are a special case of
 - Probably a size limit per block, so that it can always be transfe

[2018-11-29 14:03] alanshaw commented on #1739
@aphelionz could you explain what the issue is and how the output you pasted above relates to it? At the moment I can't decipher what the issue is.

[2018-11-29 15:19] alanshaw commented on #1738
@lukas2005 I've just tried `ipfs.object.put(new Buffer('ddd'))` using our webpack example https://github.com/ipfs/js-ipfs/tree/master/examples/browser-webpack and I'm not getting the error. I suspect this is an error in your application code or in the orbitdb code or possibly in the webpack config being used. Please re-open a new issue if you discover this to not be the case.

[2018-11-29 15:19] #1738 closed

[2018-11-29 17:12] aphelionz commented on #1739
@alanshaw I believe there are duplicate messages being sent, or I just don't know how to handle the timing of the messages. In the test I linked in the OP, the ipfs-log has 132 entries, when it is expecting 129.

[2018-11-29 17:17] victorb commented on #1739
You'll have to manually look at the `seqno` property in a pubsub message to determine if you already received the message, as you could receive the same message multiple times, this is expected from the floodsub implementation.

[2018-11-29 17:49] lukas2005 commented on #1738
@alanshaw One thing i discovered (that's too small to make a complete new issue for) if i replace
`const r = this.resolvers[options.format]`(line 219) with
`const r = this.resolvers[options.format || options.cid.codec]`
everythin works fine
isn't `options.format` supposed to be optional?

[2018-11-29 19:48] kyledrake commented on #1732
AMS issue is resolved, it was indeed having issues (it was known, our monitoring picked it up). I didn't see any issues with our other preload servers, but if you couldn't connect to wss://ipfs.3box.io/ either I wonder if there's something going on with your network connection? We don't control those servers and having all of them go down at once is pretty unexpected.

[2018-11-30 00:25] aphelionz commented on #1739
Found the bug! not your problem :)

[2018-11-30 00:25] #1739 closed

[2018-12-02 10:44] achingbrain commented on #1736
This is a little harder than it seems - the way all these file counter modules seem to work is to call [`fs.readdir`](https://nodejs.org/api/fs.html#fs_fs_readdir_path_options_callback) which returns a list of files.  If the directory is too big, it'll explode.

There's an issue on the node.js repo about an [iterative `fs.readdir`](https://github.com/nodejs/node/issues/583) but it needs [support a

[2018-12-02 10:47] achingbrain opened #1743 "Prevent mfs corruption"
I think we need a mechanism for `js-ipfs` components to prevent the process from exiting until they've finished a bit of critical work (could show a `CTRL-C to force quit` kind of message).

My concern is that if `mfs` is interrupted while writing the root hash to the level datastore, it'll potentially not be able to read the hash on the next startup which would show the user an empty directory.

[2018-12-02 20:33] PierfrancescoSoffritti opened #1744 "Programmatically specify which port an IPFS node is going to use"
I would like to be able to programmatically set the port that a node is using, something like:

[code]
I am trying to run multiple nodes on the same machine, but this is not possible because they all use the same port, therefore node.js throws an exception.

Reading the doc this doesn't seem to be possible, am I right? is there any particular reason?

thanks!

[2018-12-02 21:52] alanshaw commented on #1743
Like go-ipfs?

[2018-12-03 13:45] Juanperezc commented on #1744
You can use the docker image and specify in which port you want each node to run

[2018-12-03 13:46] Juanperezc commented on #1677
Try running the js-ips node on ios (ionic) and everything is fine until now

[2018-12-03 15:01] PierfrancescoSoffritti commented on #1744
Sure, but is there a particular reason for this limitation? If there is no technical constraint I could just implement it instead of using containers.

[2018-12-03 18:22] deanvaessen commented on #1732
Had another go but strange enough, I'm still encountering the same issues.

I thought something similar, but I don't have any other issues with other websites. I can try from a different location and will report back once I have done so.

[2018-12-04 09:02] victorb opened #1747 "Separate unit and integration tests in js-ipfs, as a guideline"

[2018-12-04 09:27] alanshaw opened #1750 "Browser tests not runnable locally"
There's been a report of not being able to run the browser tests locally: https://github.com/ipfs/dev-team-enablement/issues/159

@mikeal would you be able to confirm if this is still the case and provide us with some details of the failure?

[2018-12-04 09:34] alanshaw commented on #1744
IPFS nodes run different services on multiple ports. They can all be configured in the `config` section of the constructor options object: https://github.com/ipfs/js-ipfs#optionsconfig

Specifically you'll need to add config that changes the values for these options:

https://github.com/ipfs/js-ipfs/blob/d215502b915c43c3ffe4f6475b38aaa63ec3d7f8/src/core/runtime/config-nodejs.js#L4-L11

[2018-12-04 09:34] #1744 closed

[2018-12-04 09:37] PierfrancescoSoffritti commented on #1744
oh ok, great! thanks for the help!

[2018-12-04 12:04] alanshaw commented on #1657
Lets wait until https://github.com/ipfs/js-ipfs/pull/856 is ready before we add it to the browser.

[2018-12-04 12:04] #1657 closed

[2018-12-04 13:59] mccoysc commented on #1657
too much cpu usage nearly 1 cpu core

[2018-12-04 14:35] vasco-santos commented on #1657
@mccoysc can you test that using the following [ipfs/js-ipfs#856](https://github.com/ipfs/js-ipfs/pull/856)? It would be really valuable for me

[2018-12-04 15:44] alanshaw commented on #1698
@LiMoMoMo does that answer you question?

[2018-12-04 15:49] alanshaw commented on #1699
@jacobheun / @vasco-santos any idea what's going on here?

[2018-12-04 16:18] jacobheun commented on #1699
@alanshaw yes, an issue was opened in libp2p https://github.com/libp2p/js-libp2p/issues/291.

That has been fixed and released in `libp2p@0.24.2`, but will require a js-ipfs release to rollout to users with the update to libp2p 0.24.x

[2018-12-04 16:41] alanshaw commented on #1699
@vongohren @mauriciomelo I'm going to close this issue as it should now be fixed. 0.34 will be released soon (track it here https://github.com/ipfs/js-ipfs/issues/1721) and a RC even sooner. Until then you have the slightly more risky option of depending on master. If you have a moment to test it out and report back that would be amazing. Good luck!

[2018-12-04 16:41] #1699 closed

[2018-12-04 19:39] anorth commented on #1664
I looked at this as an easy first change, but was thrown by the existing assignment to `.libp2p`: https://github.com/ipfs/js-ipfs/blob/d215502b915c43c3ffe4f6475b38aaa63ec3d7f8/src/core/index.js#L150

Is this explicitly requesting to move the component reference out of the way to a different key and punch through to this internal node reference?
https://github.com/ipfs/js-ipfs/blob/d215502b915c43c3

[2018-12-04 21:54] rmisio opened #1753 "Don't drop idle connections + better connection state and events"
Noticing that connections seem to be dropped after some period of idleness. Actually noticing this in as little as one minute of no activity.

Observed result:
- connect to a circuit relay peer

[code]

- in less than a minute after connecting, send some messages to another web peer, which will only work if the relay connection are active on both sides.

[code]

As long as the relay connections ar

[2018-12-04 22:46] lifeBCE commented on #1706
Did some initial digging.

According to `pull-defer` docs (https://github.com/pull-stream/pull-defer) when using a deferred source stream, the stream is started when `resolve` is called as it is here.
https://github.com/ipfs/js-ipfs/blob/ac5fa8e7c394e6fb8b3c93211f9c346cfa14a705/src/core/components/files-regular.js#L249

[code]

The logic above is called from the public function definition here: ht

[2018-12-05 09:16] alanshaw commented on #1753
@jacobheun @vasco-santos would you mind taking a look when you have a moment?

[2018-12-05 16:13] rmisio commented on #1753
FWIW, a colleague told me about this module:

https://github.com/libp2p/js-libp2p-ping

...suggesting that maybe pinging the connection periodically could be a way to keep it alive. I'll give it a try. If it works, it's probably not as ideal as the connection just staying alive on it's own, but it might be the best alternative to that.

[2018-12-05 16:50] jacobheun commented on #1753
Ping is bundled by default in libp2p so you can call that directly https://github.com/libp2p/js-libp2p/tree/v0.24.2#libp2ppingpeer--options-callback.

Currently not, but we've been having discussions around Connection Management to request connections be held open. With 3 total peers in the mix during relays, even if you don't hang up the other two nodes could cut the connection. We're working on

[2018-12-05 17:52] jacobheun commented on #1698
FYI: we now support the improved options in libp2p 0.24 and the latest kad-dht. I've got a PR for bitswap, https://github.com/ipfs/js-ipfs-bitswap/pull/183, to update the call. Hopefully we can get this into the js-ipfs 0.34 release.

[2018-12-05 18:31] rmisio commented on #1753
@jacobheun I'm trying out the ping functionality, but not sure if the ping is going through. How can I see on the receivers end that they are receiving the ping?

I'm sending it as so:

[code]

Since that callback there fires whether the other node is even online or not, I'm guessing that callback just mean "ping sent".

How would I test "ping received"? Should I use `libp2pNode.handle(`? If so, w

[2018-12-05 18:44] jacobheun commented on #1753
The ping call actually returns the ping object in the callback, so you can start and listen for pings there.

[code]

[2018-12-05 23:17] satazor opened #1754 "Improve documentation about what a dAgNode is and how to create one"
This issue is not really a feature request or a bug report, so I will not be using the template.

The [dag.put](https://github.com/ipfs/interface-ipfs-core/blob/master/SPEC/DAG.md#dagput) method mentions the dagNode argument but it doesn't explain how can we create node with links. Digging into the deprecated object api, it seems we must use https://github.com/ipld/js-ipld-dag-pb. I think that we

[2018-12-06 12:40] alanshaw commented on #1754
@satazor I agree! Would you have time to send a PR to https://github.com/ipfs/interface-ipfs-core with your findings?

[2018-12-06 13:13] satazor commented on #1754
Yes I can take a shot on improving it, I will put this on my todo list. I ended up using plain json that worked just fine: https://github.com/ipfs-shipyard/js-ipfs-versidag/blob/initial-implementation/src/index.js, but it wasn’t clear that I could do it.

[2018-12-06 15:42] vasco-santos commented on #209
`IPNS over Pubsub` and `IPNS over DHT` are now merged  🚀

Stay tuned for the next awesome [release](https://github.com/ipfs/js-ipfs/issues/1721) of `js-ipfs`

[2018-12-06 15:42] #209 closed

[2018-12-06 16:42] alanshaw opened #1755 "/api/v0/cat buffers output"
https://github.com/ipfs/js-ipfs/blob/master/src/http/api/resources/files-regular.js#L82

[2018-12-06 17:09] daviddias commented on #209
@vasco-santos looking forward to see a video! :D

[2018-12-06 18:36] mikeal commented on #1750
I keep thinking that I have time to sit down and verify this and the world keeps proving me wrong! If you want to close this out until I have find the time I'm fine with that :)

[2018-12-06 20:59] vasco-santos commented on #209
Will do it!

[2018-12-07 03:08] alanshaw commented on #1440
Update:

The CID tool was shipped with [JS IPFS 0.33](https://github.com/ipfs/js-ipfs/issues/1635)

[JS IPFS 0.34](https://github.com/ipfs/js-ipfs/issues/1721) will include the two items from [(1) ASAP](https://github.com/ipfs/js-ipfs/issues/1440#issuecomment-407343797):

* Allow add to IPFS and get base32 CIDv1 back via an option to specify base encoding (defaults do not change) https://github.co

[2018-12-07 09:24] #1750 closed, assigned to nobody

[2018-12-07 16:00] alanshaw commented on #1706
@lifeBCE a few things I think you can check/do:

1. can you confirm that this behaviour does not happen when you use `catPullStream`?
1. if you pipe the stream to a writable does it still take 10s for the frist write?
1. a runnable example of this problem would help considerably...

[2018-12-07 16:02] alanshaw commented on #1655
@mccoysc what do we do to reproduce this error?

[2018-12-07 16:12] mccoysc commented on #1655
I've no more detailed suggestions for i'm in lack of comprehensive view of jsipfs's code.
 and another issue:
jsipfs using cpu too much,nearly one entire cpu core,maybe caused by hash and crypto algorithms

[2018-12-07 16:17] mccoysc commented on #1655
And another suggestion:
Maybe ipfs should not be developed  in storage areaa,but in trusted storage and trusted network.

[2018-12-07 16:18] mccoysc commented on #1655
@alanshaw

[2018-12-07 16:41] alanshaw commented on #1655
Thanks @jacobheun! @mccoysc please try out `ipfs@0.34.0-pre.0` which includes the latest libp2p, if you see that issue again please open a new issue.

[2018-12-07 16:41] #1655 closed

[2018-12-07 18:13] #1683 closed

[2018-12-07 20:22] Elexy opened #1761 "The libp2p node is not started yet"
Version: commit 593334bc
Platform: Linux js-ipfs-benchmarking 4.15.0-20-generic #21-Ubuntu SMP Tue Apr 24 06:16:15 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux
Subsystem: ibp2p

running any of the tests from https://github.com/ipfs/benchmarks results in the error below, whereas earlier this week the tests ran without this error.

[code]
#### Type: bug
Critical - System crash, application panic.

[2018-12-07 22:23] mikeal opened #1762 "Remove ready event from basic usage"
Now that we've started going down the "promises everywhere" rabbit hole it should be possible to remove waiting for the ready event from the default usage.

There's a few different ways we could go about this. Off the top of my head I think it would be nice to have a property on the object that is a promise that is resolved when ready.

[code]

And we could create a convenience method called `crea

[2018-12-08 00:07] Stebalien opened #1763 "The resolve command should work even if the path ends in the middle of an object"
Being able to path *into* objects, not just *to* objects is a crucial feature of IPLD.

Given:

[code]

`ipfs resolve /ipld/cidOf(a)/b/c` should return `/ipld/cidOf(b)/c`. That is, it should resolve the path as much as it can.

Currently, this simply fails with an error.

See: https://github.com/ipfs/go-ipfs/pull/5704

[2018-12-08 00:11] Stebalien opened #1764 "Support the /ipld namespace"
IPFS and IPLD paths do not use the same algorithm so we need different namespaces to unambiguously state the pathing algorithm we expect.

For example, `/ipfs/QmObject/ipld` may traverse a sharded directory while `/ipld/QmObject/thing` will always lookup the "thing" key in the object with the CID `QmObject`.

[2018-12-09 11:13] daviddias commented on #1721
This release is going to be HUUUUGEEEE!!

![](https://media.giphy.com/media/nM6H7dozprJa8/giphy.gif)

[2018-12-09 14:18] daviddias commented on #1764
I'm in support. @Stebalien should this be just js-ipfs specific or IPFS as a whole (meaning, perhaps move the discussion to ipfs/specs?)

[2018-12-09 14:21] stasbar opened #1766 "Why is the local file access is so slow ?"
- **Version**: 0.33.1
- **Platform**: Darwin 18.2.0

#### Type: Question
I'm extedning the example `browser-video-streaming`. I'm storing some videos in my local ipfs, and it's corresponding metadata in dag. I'm wondering why is the video file streaming so slow on my browser local? Isn't it connected to my local node directly?
When I force the browser node to connect to my local node like:
[code]

[2018-12-09 14:21] daviddias commented on #1761
@Elexy mind doing a `npm ls libp2p` so that we know which libp2p version is being used? //cc @vasco-santos @jacobheun

[2018-12-09 14:44] daviddias opened #1767 "Sunset WebSockets Star"
With DHT and Circuit Relay coming to their full potential in v0.34.0 https://github.com/ipfs/js-ipfs/issues/1721, I want to propose the sunset of the WebSockets Star transport in favor of the power combo DHT Peer Routing + Circuit Relay.

This issue serves the purpose to gather thoughts and reach Consensus, plus outline the migration path necessary (tests, what's missing to do, etc).

[2018-12-09 14:45] daviddias commented on #1602
@mccoysc can you share a full example of how you are creating the node and making this call?

[2018-12-09 14:58] daviddias commented on #599
@alanshaw @lidel can you post here all the demos and talks on libdweb so far to this thread?

[2018-12-09 15:09] daviddias commented on #738
This got done meanwhile. Thanks @PascalPrecht :)

[2018-12-09 15:09] #738 closed

[2018-12-09 15:13] daviddias commented on #1195
@achingbrain @mcollina any experiencing on using a pattern like this to make things faster?

[2018-12-09 15:15] daviddias commented on #1296
@MagicLizi have you tried this using the latest js-ipfs?

[2018-12-09 15:16] daviddias commented on #1304
@fluidnotions any outstanding question? Shall we close this one?

[2018-12-09 15:17] daviddias commented on #1438
I feel this needs an illustration, getting #1061 would make it even simpler to visualize.

[2018-12-09 18:32] lidel commented on #599
## libdweb: mDNS Local Discovery and TCP Transport

FlyWeb core is reused by libdweb for [TCP Socket API](https://github.com/mozilla/libdweb#tcpsocket-api).
Discovery and transport poc using this API was created by @alanshaw  in
https://github.com/ipfs-shipyard/ipfs-companion/pull/553:

[![screenshot_9](https://user-images.githubusercontent.com/157609/45371995-2dcb2f00-b5ec-11e8-8d8f-215cb5ac29ce.

[2018-12-09 20:34] hacdias opened #1768 "Support for /api/v0/repo/fsck"
Hello!

As we're building IPFS Desktop, we want users to have the best and most simplified experience they can with IPFS. So we also want IPFS Desktop to start up correctly after unexpected shutdowns, even though there are lock files from the previous run.

We noticed that go-ipfs has the command `ipfs repo fsck` available and it's [enabled on its HTTP API](https://docs.ipfs.io/reference/api/http/

[2018-12-09 20:59] stasbar commented on #1766
Thank you for your answer @daviddias , you showed me where the problem is. But is there any solution?  I would like to watch the video in my browser, even when offline. Is it possible at the moment?

[2018-12-10 05:06] daviddias commented on #1766
@stasbar it is indeed. You just need to enable a WebSockets listener in your local Desktop node. The tutorial -- https://github.com/ipfs/js-ipfs/tree/master/examples/exchange-files-in-browser -- shows how to do it :)

[2018-12-10 07:13] waliguder opened #1769 "npm install ipfs --save failed"
![image](https://user-images.githubusercontent.com/27879437/49716168-d8a3c580-fc8d-11e8-81fe-97930b8f6009.png)

This is my installation environment：
![image](https://user-images.githubusercontent.com/27879437/49716247-1bfe3400-fc8e-11e8-8c66-844b23024484.png)

[2018-12-10 10:08] LiMoMoMo commented on #1698
yes, thank you !

[2018-12-10 10:17] haadcode commented on #1762
I'd personally love to see this happen! 👍I think adding/changing what is suggested here would improve the usability and readability a ton (=2 loc).

We had a discussion about it in the past in https://github.com/ipfs/js-ipfs/issues/1083 (see the different proposal for the API), but as you said @mikeal, things have changed now with using promises everywhere. Thanks for bringing it up again! ❤️

[2018-12-10 10:47] jacobheun commented on #1761
I pulled down benchmark and wasn't able to reproduce the issue. I ran the `local-node` tests. I did have to change `peer.files.add` to `peer.add` due to the latest js-ipfs API changes. I ran the tests against `js-ipfs#master` and `js-ipfs#593334b`.

[2018-12-10 11:55] pgte commented on #1762
@mikeal As a frequent user of js-ipfs I also think something like this is really necessary — thanks for bringing this up!

I would like, though, to make a distinction between creating and starting, and would like to make `.start()` a method.
(The creation can only be called once, but starting would be idempotent.)

Because in some user-land packages we can be using IPFS node instances that we have

[2018-12-10 11:58] pgte commented on #1767
To me websocket-star provides not only peer routing and relay, but it also peer discovery.

For instance, In peer-star, we are using the transport discovery events to gather knowledge about the existence of peers. After we discover a new peer, we ask it if they're interested in participating in the app, etc...

I think we need something like [the rendezvous protocol](https://github.com/libp2p/spec

[2018-12-10 12:03] daviddias commented on #1767
@pgte it does, thank you for bringing up the Rendezvous Protocol. Where can I track it's progress, blockers and ETA?

[2018-12-10 12:07] vmx commented on #1484
Works on master, got fixed by https://github.com/ipfs/js-ipfs/commit/a82a5dcf7151fc900998578d0e03b3ab522fa244#diff-98e868a7effb24c7531c970fa7e3cd96R186.

[2018-12-10 12:07] #1484 closed

[2018-12-10 12:21] alanshaw commented on #1763
Yep agree!

[2018-12-10 16:59] mikeal commented on #1762
@pgte I ran into this just the other day calling `await ipfs.start()` when it was already started seeing the exception :)

I agree that it's confusing to have these two states, `ready` and `started`. My main question is, why is the `ready` state necessary? I understand that there are async things we want to do upon creation but why don't we just begin all of the API methods with `await ipfs.ready`

[2018-12-10 17:09] mikeal commented on #1764
If we want to change the pathing algorithm for IPLD in the future, how will that impact the namespace?

[2018-12-10 17:09] pgte commented on #1767
@daviddias besides that spec, I'm not sure. I wish they had an "Awesome Endeavour" so we could track this on one thread...

[2018-12-10 17:10] mcollina opened #1774 "compatibility with end-of-stream/stream.finished methods"
- **Version**: 0.33.1
- **Platform**: Mac OS X
- **Subsystem**: catReadableStream

#### Type: Bug

#### Severity: High

#### Description:

Using `node.files.catReadableStream()` returns a stream that is not fully compatible with well-known streams modules such as https://github.com/mafintosh/end-of-stream or https://nodejs.org/api/stream.html#stream_stream_finished_stream_options_callback.

#### S

[2018-12-10 17:17] pgte commented on #1762
@mikeal that would be very helpful, (much alike a lot of node.js database clients where it queues operations or queries while not started).

One potential problem with this is that multiple operations or queries could fail if starting fails. But I guess users could always wait for `started` before starting any operation or query...

[2018-12-10 17:19] mikeal commented on #1762
I don't think I would have had this idea had I not written this so many times in the `level` ecosystem :)

If `.start()` has been called then we should wait for it to finish, if it hasn't been called we should throw if the operation can't complete without the node being started.

[2018-12-10 18:08] lifeBCE commented on #1706
@alanshaw

1. I have confirmed that it happens on both pull and readable streams.
2. I _believe_ so but am not too familiar with this process so check my results.
3. See below.

[code]

The hash is a large video file of some IPFS demo from a couple years ago that has been formatted as DASH. The contents of the file is not super important, just needed a larger file to ensure that it wasn't lagging

[2018-12-10 19:15] Stebalien commented on #1445
You sure you don't need something like:

[code]

We have a duplex stream so we can't just read until the end, we have to tell the other side that we aren't sending anything (unless `pull` does this under the covers...).

[2018-12-10 23:21] Stebalien commented on #1763
Wait. It looks like js-ipfs doesn't implement this command at *all*, is that right? In that case, can we just merge https://github.com/ipfs/interface-ipfs-core/pull/385 and https://github.com/ipfs/go-ipfs/pull/5704?

[2018-12-11 01:00] stasbar commented on #1766
Thank you, it worked ❤️

[2018-12-11 01:00] #1766 closed

[2018-12-11 01:30] daviddias commented on #1766
Awesome! Glad to help :)

[2018-12-11 09:15] mcollina commented on #1195
I would recommend to generate the certificate in a worker in the browser, as it's a CPU intensive actions that would run for several seconds (unless we can speed it up).

Consider the type of load I've seen from ipfs so far, I don't think there will be any benefit to move part of the flow to a webworker: data needs to be marshalled in/out, and most of the single I/O activity is quite small (there

[2018-12-11 13:18] alanshaw commented on #1764
Would this be supported in just the DAG API?

[2018-12-11 14:03] jacobheun commented on #1761
@alanshaw if you could point me to a CI build with it when you have one I can take a look at that; seeing what's going on around the failure would be helpful. We should probably look at changing that behavior in libp2p regardless. More immediately we could just return an error if the node isn't started, rather than throwing an assertion.

Longer term, it might be worth looking at having a queue fo

[2018-12-11 14:07] alanshaw commented on #1602
This is because the DHT module is not passed to [libp2p in the browser](https://github.com/ipfs/js-ipfs/blob/master/src/core/runtime/libp2p-browser.js). In [0.34](https://github.com/ipfs/js-ipfs/issues/1721) DHT will be enabled in the browser also.

[2018-12-11 14:07] #1602 closed

[2018-12-11 15:47] alanshaw commented on #1761
https://ci.ipfs.team/blue/organizations/jenkins/IPFS%2Fjs-ipfs/detail/PR-856/80/pipeline/262

[2018-12-11 16:01] jacobheun commented on #1761
Okay, that looks like there are some dials trying to happen from bitswap after libp2p is or has shut down.  I'll look into switching the assert over to a returned error instead and make sure we don't hit any side effects from that change.

[2018-12-11 18:03] Stebalien commented on #1764
We can't really *change* the pathing algorithm, ever. We can probably add small backwards compatible additions (e.g., for entirely new formats) if absolutely necessary but a path must mean the same thing everywhere.

We'll need a new pathing algorithm that understands things like hamts but that will need a new namespace, just like `/ipfs`.

[2018-12-11 18:08] Stebalien commented on #1764
It should go here: https://github.com/ipld/specs/blob/master/IPLD-Path.md. We already use `/ipld` in some of the discussions/specs, we just don't have any path spec formalized.

[2018-12-11 23:01] #1755 closed

[2018-12-12 23:01] alanshaw commented on #1736
I'm hoping that https://github.com/ipfs/js-ipfs/pull/1777 might help a little - if you call `ipfs add --progress=false` then `get-folder-size` won't be used anymore.

[2018-12-13 01:30] Stebalien opened #1778 "Rename --local to --offline"
Related to: https://github.com/ipfs/go-ipfs/issues/4182
Go-ipfs proposal: https://github.com/ipfs/go-ipfs/pull/5825#discussion_r240721033

The local flag was *supposed* to mean "do this on the client, not the daemon" (I think?). However, that hasn't been true for a while. Now it just means "don't use the network for this operation".

Proposal:

1. Rename `--local` to `--offline` (replacing the `da

[2018-12-13 11:59] achingbrain commented on #1769
It's failing to install [tiny-secp256k1](https://github.com/bitcoinjs/tiny-secp256k1) with an `ECONNRESET` error which usually indicates a network problem

Can you install that module successfully on it's own?  Eg:

[code]

Also, you're installing ipfs as root - npm usually drops to an unprivileged user to run package scripts which can mess up installing modules that need to compile native code (s

[2018-12-13 22:11] alanshaw commented on #1778
I'm fine with this. I think there's only a few places in the code where the `local` flag is observed - it needs to be reviewed and a rename is a good chance to do that.

Just one weird question, can it be used with the HTTP API? In this context "offline" and "don't go to the network" doesn't fit right as we're clearly already talking over the network!...and "local" makes more sense...

cc @magik6k

[2018-12-14 17:33] rmisio opened #1782 "Direct message from an ipfs-go node to an ipfs-js node via the circuit-relay are unreliable and very slow"
When I set-up a web node using `ipfs-js` and try to receive direct messages from a `ipfs-go` node via a circuit relay, the messages usually come after a several minute delay, if at all.

To summarize:
- `ipfs-js` node to `ipfs-js` node, the messages are received very quickly and reliably come in both directions.
- `ipfs-js` node to `ipfs-go` node, the messages are received very quickly and reliabl

[2018-12-17 11:48] birbird opened #1783 "TypeError: node.add is not a function"
Simplely run this example https://github.com/ipfs/js-ipfs/tree/master/examples/ipfs-101

My index.js is
[code]

The output is
[code]

My pacckage.json
[code]

Node 10.3.0 on CentOS 7.3

[2018-12-17 11:55] birbird commented on #1783
I think the right way should be
[code]

[2018-12-18 13:00] #1625 closed

[2018-12-18 14:20] birbird opened #1784 "npm install fail"
[code]

My package.json and no package-lock.json
[code]

[2018-12-18 16:11] mcollina opened #1785 "major bottleneck in the usage of write-file-atomic"
- **Version**: master
- **Platform**: Mac OS X
- **Subsystem**: unix-fs

I think I have identified the source of the majority of latency (and thus GC) issues in js-ipfs. As noted in  https://github.com/ipfs/js-ipfs-repo/issues/183, js-ipfs needs to make sure that files are properly written to disk to avoid missing file issues in case of crashes. Moreover, this is on par with the Go implementation.

[2018-12-18 17:30] mikeal commented on #1762
Looking through the code on this and we'll need to do this in stages.

1. PR for a `ready` promise instantiated in the main constructor.
2. Update API's to wait for `ready` promise
  2.1. Update depenedencies that implement top level APIs, like mfs.
  2.2. Update internal APIs.

For step 2, we'll want to have a discussion about whether or not we want to do this before the big async function refact