[2018-12-19 13:05] mcollina opened #1788 "store.has is a bottleneck"
- **Version**: master
- **Platform**: mac os X
- **Subsystem**: blockstore

It seems that `store.has` (js-ipfs/node_modules/ipfs-repo/src/blockstore.js) is a bottleneck. This method in itself is ok, but the `cids` dependency allocates several unneeded buffers (https://github.com/multiformats/js-cid/blob/22504757cead5e3213d6fd4a385ab546885debe8/src/index.js#L129).

[![image](https://user-images.git

[2018-12-19 13:35] mcollina commented on #1788
Note that another call to `Buffer.concat` is also done in https://github.com/ipfs/interface-datastore/blob/master/src/key.js#L115.

https://upload.clinicjs.org/public/cd2b3786566f52d41707cba7c45760b38fe23835654e34fb300077bcd9b133f0/28783.clinic-flame.html#selectedNode=10882&zoomedNode=10882&exclude=83c0

[2018-12-19 14:05] mcollina commented on #1785
This bubbleprof diagram shows another example of the same issue on the `local-transfer` benchmark:

https://upload.clinicjs.org/public/1c86eeec6c2c4ee47e0d26d06cec62ee1fe74c745c610d5ba0a11bbe985649aa/31518.clinic-bubbleprof.html

[2018-12-20 10:54] mcollina commented on #1785
Question asked: https://github.com/ipfs/go-ipfs/issues/5863.

[2018-12-21 11:08] mcollina commented on #1785
Here is my proof of concept for a faster write atomic logic: https://github.com/ipfs/js-datastore-fs/pull/21.

[2018-12-21 12:12] satazor commented on #1619
I just want to reinforce that it would be really awesome to get this resolved. In workshop/talks scenarios, it would be awesome to be able to point to have 2 swarm entries: one for a local rendezvous server, and another for the hosted one, people would be able to seamlessly start a IPFS node where the connection to the internet is either flaky or non-existent.

At the moment, the IPFS node refuses

[2018-12-21 12:26] satazor opened #1789 "Consider adding support for a HTTPS gateway"
- **Version**: 0.33.1
- **Platform**: MacOS
- **Subsystem**:

#### Type:

Feature

#### Severity:

Low

#### Description:

It would be awesome if we could (maybe optionally) expose a HTTPS gateway alongside the HTTP one. Sometimes, I want to share a web application built with [peer-base](https://github.com/peer-base/peer-base) within a workshop/talk, but it won't work. The reason is that security

[2018-12-21 12:37] satazor commented on #1789
@pgte I meant the http gateway to also be exposed in https. It would be awesome to add a website into my local gateway and share a dapp built with `peer-base` to people within the same network: http://<my-lan-ip>:8080/ipfs/<cid>. This requires it to be HTTPs otherwise it breaks the security context and `window.crypto` won't be accessible.

The same thing applies to the exposed WS yes! Related: htt

[2018-12-21 14:10] vasco-santos opened #1790 "Installing js-ipfs in a project"
- **Version**: 0.33.1
- **Platform**: CentOS, Fedora, Xubuntu, among others
- **Subsystem**:

#### Type:

Documentation enhancement

### Severity:

Very Low

#### Description:

@satazor and myself presented a workshop, `True serverless`  [ipfs/dynamic-data-and-capabilities#59](https://github.com/ipfs/dynamic-data-and-capabilities/issues/59) in the Aveiro University. There were people there with al

[2018-12-21 14:12] vasco-santos commented on #1790
@jacobheun we should analyze this for `js-libp2p`, as I believe some of these problems may occur with it. I did not create an issue for now.

[2018-12-21 14:33] pgte commented on #1789
@satazor ha, gotcha!

[2018-12-21 16:38] daviddias commented on #1619
@satazor I believe what you are looking for is just to add peers to the Bootstrap list -- https://github.com/ipfs/js-ipfs/blob/master/src/core/runtime/config-nodejs.js#L21-L41 --

[2018-12-21 18:11] mkg20001 commented on #1619
@satazor This is planned with #61, for now I can only recommend replacing ws-star with ws-star-multi (https://www.npmjs.com/package/libp2p-websocket-star-multi)

With a few code changes ws-star could be swapped for ws-star-multi transparently in a libp2p node, thus only failing if none of the provided servers can be reached or optionally never at all (That would be a few lines of hacky code more,

[2018-12-21 19:55] mkg20001 opened #1792 "test failure: "should handle unknown arguments correctly" fails on non-english locale"
- **Version**: master 7bcc49615e54f09c34bae07c994e3be3d870fe1f
- **Platform**: ubuntu 18.10 amd64, node v10.14.2
- **Subsystem**: cli

#### Type: bug

#### Severity: medium

#### Description: test failure: "should handle unknown arguments correctly" fails on non-english locale

#### Steps to reproduce the error:

Run tests with the following environment variables set
[code]

Will produce following

[2018-12-21 22:40] parkan commented on #1619
@daviddias connecting to bootstrap nodes is not the same as binding ws-star signaling server addresses, which took me a while to wrap my head around initially -- we need this change for that scenario (or most real-world usage where a signaling server could fail) to work

discussion on how to accomplish that in https://github.com/libp2p/js-libp2p-websocket-star/issues/61, as @mkg20001 mentioned

I

[2018-12-21 22:49] mkg20001 commented on #1619
I propose...

[code]

...will likely create a pr tomorrow after catching some sleep :zzz:

[2018-12-22 11:52] mkg20001 commented on #1619
PR is here #1793 :tada:

[2018-12-24 06:23] xxyao123 opened #1794 "Callback was already called when jsipfs init"
Version: 0.34.0
Platform: termux(linux aarch64 Android)
Subsystem: Node: 8.14.0
Type: Bug
Severity: Medium
Description:
Attempting to create an IPFS node using "jsipfs init" throws "Callback was already called." error.

jsipfs init
initializing ipfs node at /data/data/com.termux/files/home/.jsipfs
generating 2048-bit RSA keypair...done
peer identity: QmQGiDbUKsu2J8V3Dhjt48zs5AtJbbGJunveD1Cgd1qzqq

[2018-12-26 06:55] MarkAsir opened #1838 "ipfs.files.mkdir at one peer and can not see the dir at another peer"
I had made a directory by command "ipfs.files.mkdir" at one peer,and  then i want access the directory at another peer.But it can be not.
Is that normal？
And I want  to more mechanism about mfs. Will changes in mfs be synchronized to other nodes?
version:0.4.18

[2018-12-26 09:05] sriharrsha commented on #941
I'm on 0.33.1

![error](https://user-images.githubusercontent.com/5179687/50440217-c8f5c500-08ba-11e9-8abc-d5de7f41fe9d.png)

Never used wss1 or wss0 but somewhere the dependency libraries are hardcoded calling these servers.

Any Help?

[2018-12-26 09:07] sriharrsha commented on #941
This is still an ongoing issue.

[2018-12-26 09:08] sriharrsha commented on #941
Any Update?

[2018-12-29 03:55] beenotung commented on #1166
I would appreciate if someone can help to put https://github.com/beenotung/typestub-ipfs into https://github.com/DefinitelyTyped/DefinitelyTyped, their setting is quite complicated to me.

If ipfs can put the .d.ts along with .js, that will be even greater as it should be most updated.

[2018-12-29 04:10] beenotung opened #1797 "self._libp2pNode.pubsub is undefined"
- **Version**: 0.33.1
- **Platform**: Browser (Brave, Chromium Based)

#### Type: Bug

#### Severity: Medium

#### Description:
I got Uncaught TypeError of missing pubsub even when I specify to enable pubsub in the IPFS constructor.

Error Message in console:
[code]
#### Steps to reproduce the error:
install and run https://github.com/beenotung/p2p-web
[code]

[2018-12-29 04:12] beenotung commented on #1797
I am awared of another similar issue https://github.com/ipfs/js-ipfs/issues/877 but I have enabled pubsub feature explicitly:
[code]

[2018-12-29 21:19] Juanperezc opened #1798 "WebSocket connection to 'wss://ws-star.discovery.libp2p.io/socket.io/ Error"
- **Version**: 0.33.1
- **Platform**: Linux Manjaro, Chrome, Firefox and Mobile device (Ionic)

#### Type: Bug

#### Severity: Critical
#### Description:

I get the following error when I try to try a project I was developing some time ago, and stop for vacation.

`WebSocket connection to 'wss://ws-star.discovery.libp2p.io/socket.io/?EIO=3&transport=websocket' failed: Error in connection establish

[2018-12-30 07:40] rossbulat commented on #1769
Hi @alanshaw.  It does not.

I am having the same issue installing on macOS.

Attempting (with and without --unsafe-perm flag): `yarn add tiny-secp256k1` gets the following output:

[code]

[code]

Furthermore, running `npm i tiny-secp256k1` outputs:
[code]

Node version: `8.12.0`

[2018-12-30 08:13] junderw commented on #1769
https://github.com/bitcoinjs/tiny-secp256k1/issues/32#issuecomment-450545493

Try the method I gave here.

[2018-12-30 08:19] rossbulat commented on #1769
Reinstalling node resolved the error.
[code]

[2018-12-30 10:06] #1769 closed

[2018-12-30 21:16] davux opened #1799 "Feature request: simple function to get the IPFS hash for a local file"
#### Type: Feature

#### Severity: Very Low

#### Description:

The mobile app I'm working on needs to store local files. I would like to name those files after their IPFS hash so that I don't store the same file twice. Running an IPFS node is overkill because of resource consumption on a mobile device. All I want is to name files after their IPFS hash (rather than their hex-encoded SHA-something

[2018-12-31 20:13] hushino commented on #1798
Same problem with chrome and windows last version, node 10.14 and npm 6.4

[2018-12-31 22:36] hushino commented on #941
same issue here with ipfs 0.33.1

[2018-12-31 22:39] Juanperezc commented on #941
Rt

[2018-12-31 22:39] hushino commented on #941
use this solve the problem
[code]

[2019-01-02 10:53] alanshaw commented on #1296
ping @MagicLizi - please could you try with the latest js-ipfs? Is this an app running on your phone or a web app? Are you able wo provide us with an example that demonstrates the error?

[2019-01-02 10:54] #1698 closed

[2019-01-02 14:18] alanshaw commented on #1706
Looking into this I've opened a PR https://github.com/ipfs/js-ipfs-unixfs-exporter/pull/13 which shaves a number of seconds off the time to first byte, but the significant delay of around 10s remains.

It's worth noting that your node needs to receive some blocks before it can start emitting data, as has to do a depth first traversal before it gets to the node with the first byte of data.

UPDATE:

[2019-01-02 22:49] jacobheun commented on #1798
Looks like there is an ongoing outage of the server, https://github.com/ipfs/infra/issues/436#issuecomment-451009469. If you are testing out a project I'd recommend running your own rendezvous server https://github.com/libp2p/js-libp2p-websocket-star-rendezvous. There's currently no guarantee of uptime on the hosted server.

[2019-01-03 10:44] tomnyson commented on #941
thank for problem

[2019-01-03 11:31] alanshaw commented on #1799
@davux you can use the `onlyHash` option with `ipfs.add` to get back just the hash.

You can use this with `js-ipfs` or `js-ipfs-http-client` if you're talking to a remote IPFS node.

If that's not possible for whatever reason you need to look into using the [IPFS unixfs importer](https://github.com/ipfs/js-ipfs-unixfs-importer) directly with the `onlyHash` option.

One thing I don't understand -

[2019-01-03 11:41] alanshaw commented on #1706
Update - it looks like we're [waiting 10s before connecting to the bootstrap nodes](https://github.com/libp2p/js-libp2p-bootstrap/blob/eb2d882c4128b1f497a9901b7b7824b063733dcc/src/index.js#L35-L49) which would appear to be the cause of the delay.

[2019-01-03 13:03] alanshaw commented on #1798
Please track this at https://github.com/ipfs/infra/issues/436

[2019-01-03 13:03] #1798 closed

[2019-01-03 13:06] alanshaw commented on #1797
@beenotung `EXPERIMENTAL` is a top level option, you put it under `config`.

Change to:

[code]

[2019-01-03 13:06] #1797 closed

[2019-01-03 13:09] alanshaw commented on #1794
@xxyao123 can you verify you have the same issue when using node.js 10?

[2019-01-03 14:17] #1706 closed

[2019-01-03 21:22] rmisio commented on #1782
To further elaborate on this, it seems the message is somehow getting clogged up in the pull stream:

[code]

[2019-01-04 04:00] halley801 opened #1804 "Can I update a img or txt to ipfs and make it private?"

[2019-01-04 09:04] alanshaw commented on #1799
So, does the `onlyHash` option answer you question?

[2019-01-06 00:37] WilliamKatz commented on #848
Thanks, this helped me

[2019-01-06 03:59] davux commented on #1799
Thanks @alanshaw for the pointers, that does the job.

To answer your question: in some cases the file is to be published on IPFS, in other cases it isn't, and I don't want 2 naming schemes for local copies. At any rate, if running IPFS on mobile was an option I would go for that but it looks like that's still in mature stages for now, at least for react-native.

Thanks again for your help. I'm cl

[2019-01-06 03:59] #1799 closed

[2019-01-06 11:05] mitra42 commented on #1168
I'm seeing ipfs.stop() never calling its callback. I notice the examples above use event listeners, but the API defines it as having a callback . Should that be a new issue, or does it look like this one needs reopening ?

[2019-01-06 20:58] alanshaw commented on #1168
New issue please @mitra42 😄 - please could you provide reproducable example code? Its the stop even emitted but not the callback called? Also please could you provide JS IPFS version and config you're using?

[2019-01-06 22:00] mitra42 opened #1806 "ipfs.stop(cb) not calling cb, looks like in libp2p.stop in [discovery].map.stop"
- **Version**: "0.31.7"
- **Platform**: Mac OSX running node.
- **Subsystem**: libp2p.stop I believe
#### Type: Bug

#### Severity: High ? The API is not working as described, (no significant impact on me)

#### Description:
I recently added node.stop((err, res) => debug("IPFS ended")) to my system because I was seeing that my crawl script (for archive.org) was not exiting correctly if IPFS was co

[2019-01-06 22:01] mitra42 commented on #1168
Ok detailed new issue at #1806
I don't know if the stop event is emitted - I'm not using event listeners,

[2019-01-08 02:37] xxyao123 commented on #1794
I tried to use nodejs 10.14,  still got same result

[2019-01-08 09:02] daviddias opened #1808 "Consider having a js-core repo for the JS Core team"
The responsibilities of the JS Core Team are larger than just js-ipfs and today, the entrypoint repo is the repo of the main module of the project. It makes it hard to have discussions that are Working Group related in a repo that is tracking a software project.

Proposal: Adopt a similar strategy to all the other working groups and have your own entry point repo

[2019-01-08 14:29] vmx opened #1809 "Using constants for multicodec"
I propose using constants for multicodec related things.

Currently we use strings. E.g. if you create a new CID you do:

    new CID(1, 'dag-pb', multihash)

Instead I'd like to change it to

    new CID(1, multicodec.DAG_PB, multihash)

Reasons:

 - js-multicodec really becomes the source of truth
 - custom codecs are easier. As we always operate on numbers, someone could e.g. do for prototyping

[2019-01-08 16:01] hacdias commented on #1809
@vmx agreed!

[2019-01-08 17:55] zcstarr commented on #1670
dropping this here, I'll pick up ipfs-repo

[2019-01-08 18:02] zcstarr commented on #1670
i'll pick up ipfs-repo

[2019-01-09 12:42] vmx opened #1810 "options.progress is not a function error"
- **Version**: HEAD
- **Platform**: Linux

#### Type: Bug

#### Severity:

Critical

#### Description:

Tests are failing due to:

[code]

#### Steps to reproduce the error:

npm run test

[2019-01-09 13:52] vmx commented on #1810
This issue should go away once https://github.com/ipfs/js-ipfs-unixfs-importer/pull/14 is merged and released.

[2019-01-10 08:08] uluhonolulu commented on #1180
I'm getting this error from time to time using the package (v0.33.1) in a NodeJS project.

[code]
The happy path in my case is choosing `this._bitswap.put(block, callback)`, but sometimes `this._repo.blocks.put(block, callback)` is executed, which throws the error.

I'm on Windows 7.

[2019-01-12 03:34] reconbot opened #1811 "Ready event doesn't fire when "offline" and I can't read pinned files"
- **Version**: `ipfs@0.34.0-rc.0`
- **Platform**: webpacked on all major browsers
- **Subsystem**: files

#### Type: Question
#### Severity: Medium

#### Description: Ready event doesn't fire when "offline" and I'd like to read locally pinned files.

#### Steps to reproduce the error:

I'm running ipfs-js `ipfs@0.34.0-rc.0` webpacked in all the major web browsers and I have the following configura

[2019-01-12 18:52] mcollina commented on #1788
Yes exactly. However we did some further analysis, and BL should be low-level enough even if it’s stream-like.

[2019-01-13 08:10] daviddias opened #1813 "Different CLI output for jsipfs add"
When adding a file or folder, both go-ipfs and js-ipfs print to the console something like:

[code]

However, when go-ipfs gets piped into another command, it commits both the `added` and `public/tags/stream` and only passes the hash, while js-ipfs send the whole thing.

The difference in behavior makes it so that it is hard to switch back and forth as this breaks some tooling to (for example) pub

[2019-01-13 16:09] daviddias commented on #1721
@alanshaw with this release, can js-ipfs move to base32 by default?

[2019-01-14 09:45] mkg20001 commented on #1721
@alanshaw Possibly want to make this release even bigger than it is? I'm currently working on stardust, a replacement for ws-star that actually works. I could ship it behind a flag with some help on this pr https://github.com/ipfs/js-ipfs/pull/1812 which requires this one to be finished https://github.com/libp2p/js-libp2p-crypto/pull/125

[2019-01-14 09:58] alanshaw commented on #1670
@reconbot awesome! The IPLD refactor is going to be a bigger effort than a simple switch to async/await and any PRs you make should be done in the context of https://github.com/ipld/js-ipld/pull/185. @vmx is the champion for JS IPLD. @vmx, do you have a moment to focus @reconbot's energies in the right places?!

[2019-01-14 10:01] alanshaw commented on #1799
Hey @davux - I published this last night: https://www.npmjs.com/package/ipfs-only-hash

It's just the code you need to calculate an IPFS hash without having to install or start a JS IPFS node. Feedback welcome!

[2019-01-14 10:41] vmx commented on #1670
As @alanshaw mentions, there's bigger changes in the IPLD API (https://github.com/ipld/js-ipld/pull/185) and IPLD Formats API (https://github.com/ipld/interface-ipld-format/pull/50) upcoming. I'm actively working on those. Once the new IPLD API is there (I'm working on it), we can tackle the IPLD Formats one.

To all contributors. Please hold on for a moment and don't spend time on making the IPLD

[2019-01-14 10:43] alanshaw commented on #1813
I'm unaware of how the node process would know it is being piped - I've never needed it before!

[2019-01-14 11:26] alanshaw opened #1814 "Support `--upgrade-cidv0-in-output`"
In https://github.com/ipfs/go-ipfs/pull/5789 a command line flag `--upgrade-cidv0-in-output` has been implemented to allow users to opt out of automatically having version 0 CIDs upgraded to version 1 in output when using the `--cid-base` flag.

[2019-01-14 14:37] alanshaw commented on #1721
I'd love it to but there's no PRs implementing it yet. Possibly in 0.35 or more likely in 0.36.

0.34 will bring js-ipfs up to speed with go-ipfs in terms of CID agnostic get and be ahead of it with the `--cid-base` option.

Essentially the rough plan now is:

* 0.35 - DHT
* 0.36 - base32 CID v1

Absolutely not! This release needs to leave the building asap. 🤣

[2019-01-14 14:42] jacobheun commented on #1670
We'll be evaluating the js-libp2p api itself, and likely js-libp2p-switch as a result of that. There are some of the interface modules that are a blocker for the transports that we should be able to get done though. Any potential api changes there shouldn't be a blocker for moving them to async. In particular: `interface-connection`, `interface-stream-muxer`, and `interface-transport`. They weren'

[2019-01-14 14:47] daviddias commented on #1767
@mkg20001 the focus will be to continue investing on libp2p solutions that don't rely on external and inflexible central points. That is, Rendezvous, Circuit Relay and full Peer Routing adopted by default.

[2019-01-14 14:51] mkg20001 commented on #1767
@daviddias And when will they be ready to get shipped? This really just needs a few more days to be ready. Rendezvous and other solutions don't seem to be really progressing in terms of finalization.

[2019-01-14 17:02] mkg20001 commented on #1767
Aside from that there are things I want to mention:

https://github.com/libp2p/js-libp2p-websocket-star/pull/43 this pr (which I eventually closed, as it didn't make any sense to keep it open anymore, simply because not much would change anyways) was a complete rewrite of ws-star to use p2p-circuit, which is what is described here as a solution. Later some parts of ws-star v2 got turned into rende

[2019-01-14 18:10] alanshaw opened #1815 "Disable preloading in test environments"
For all tests other than the ones testing preloading we should disable preloading. We can detect a CI environment variable and default the preload option to false if not explicitly set.

[2019-01-14 18:11] daviddias opened #1816 "Convert examples into ProtoSchool Tutorials"
Perhaps they won't all be doable on ProtoSchool, but going through the list I would say that at least we can:

- https://github.com/ipfs/js-ipfs/tree/master/examples/browser-mfs
- https://github.com/ipfs/js-ipfs/tree/master/examples/browser-add-readable-stream
- https://github.com/ipfs/js-ipfs/tree/master/examples/browser-readablestream
- https://github.com/ipfs/js-ipfs/tree/master/examples/browse

[2019-01-14 18:12] daviddias commented on #1816
These could actually be tutorials to get help from volunteers that are looking for ideas of tutorials to write

[2019-01-14 18:27] daviddias opened #1817 "Merge bundling Browser examples"
proposal: let's use merge the "bundling for the browser" examples:
- https://github.com/ipfs/js-ipfs/tree/master/examples/browser-browserify
- https://github.com/ipfs/js-ipfs/tree/master/examples/browser-parceljs
- https://github.com/ipfs/js-ipfs/tree/master/examples/browser-webpack
- https://github.com/ipfs/js-ipfs/tree/master/examples/browser-script-tag

[2019-01-15 10:11] alx696 opened #1818 "files.ls: no response or error after remove all preload address from bootstrap"
- **Version**: 0.33.1
- **Platform**: Chrome 71.0.3578.98
- **Subsystem**:

#### Type: Question

#### Severity: Medium

#### Description: ipfs.io had been blocked in China. So i need to remove the preload.ipfs.io from bootstrap. Otherwise network error will repeated. Then execute `ipfs.files.ls('/ipfs/QmWugc7FyF4HPqyVWhViWy5jWdnAv6hBg6q8swXbBSej7j')` , no network request, no response, no error.

#

[2019-01-15 11:06] alanshaw commented on #1816
I agree we should re-use some of the work in these examples to create some awesome protoschool tutorias. Shall we move this issue to https://github.com/ProtoSchool/protoschool.github.io/issues?

[2019-01-15 12:20] alanshaw commented on #1818
You can remove preload node addresses setting the [`preload.addresses`](https://github.com/ipfs/js-ipfs#optionspreload) configuration value to `[]`.

You can also remove bootstrap nodes (the proload nodes) by setting your own [`config.Boostrap`](https://github.com/ipfs/js-ipfs#optionsconfig) addresses.

Hope that helps!

[2019-01-15 12:20] #1818 closed

[2019-01-15 14:10] VandeurenGlenn commented on #1804
I'm not sure this is the place to ask @halley801.
You can create a private network or you can encrypt the file before adding it.

[2019-01-15 14:58] aphelionz commented on #1721
Great work everybody! Exciting stuff.

[2019-01-15 23:35] lidel opened #1820 "Expose HTTP Gateway when running in browser (eg. Service Worker)"
- **Version**: v0.33.1
- **Platform**: Browser
- **Subsystem**: Workers / WebExtensions

#### Type:
Feature

#### Severity:
Medium

#### Description:

### TL;DR

#### Background on HTTP Gateways

HTTP Gateway is exposed by go-ipfs and js-ipfs running in Node to bridge the gap between old web and IPFS. People without native IPFS client can access IPFS resources over HTTP Gateways. HTTP is an import

[2019-01-16 11:58] alanshaw commented on #1817
How do you mean merge? Put in a directory like this?:

[code]

[2019-01-16 14:42] daviddias commented on #1817
My proposal was more on

- One single app example
- One single package.json
- Multiple npm scripts, one for each bundler
- Readme that explains what it is, and which npm script is for which bundler
- remove all the effort of updating 4 individual apps to just update one single app

[2019-01-16 14:43] daviddias commented on #1817
As a bonus. We can add as part of the tutorial how to see the size of the final bundle and compare (time spent x bundle size) and explain why we use WebPack ourselves for dist vs all the others.

[2019-01-16 15:21] achingbrain commented on #1817
If each bundler is a separate example, I think people will take the `package.json` contents from the example that features the bundler they want to use as a starting point for their own projects.

If all the bundler examples are bundled (!) into one example, it would be harder to look at the `package.json` and say 'this is the minimum set of deps I need for my project' which adds friction to that

[2019-01-16 17:27] achingbrain commented on #1809
I'm all for exporting constants to reduce programmer error.  I'm less for what might appear to users as change for the sake of change from an API point of view, but as long as it's backwards compatible with using strings then all good.

I might be missing something, but `ipld` uses the codec to look up the resolver, right?  So if you are messing around with a custom codec, event with the string to

[2019-01-17 09:44] alanshaw commented on #1817
I think there's a huge amount of value in the copy/paste-ability of an individual example. Combining them into one will remove that - like @achingbrain said you'd have to figure out what dependencies and config applies to which bundler and that's not something I want to push onto developers trying to use js-ipfs.

Another potential hurdle: I don't know for sure if it'll be possible i.e. conflictin

[2019-01-17 11:43] #1721 closed

[2019-01-17 11:58] alanshaw opened #1826 "⚡️ v0.35.0 RELEASE 🚀"
# 🗺 What's left for release?

* [x] ~~[DHT](https://github.com/ipfs/js-ipfs/pull/856)~~ delayed until a future release
* [x] [Connections limiting](https://github.com/ipfs/js-ipfs/pull/1872)
* [x] [Upgrade API for Hapi 18](https://github.com/ipfs/js-ipfs/pull/1844)
* [x] [Rename `--local` to `--offline`](https://github.com/ipfs/js-ipfs/pull/1850)
* [x] [Add `--enable-preload` to enable/disable pre

[2019-01-17 12:06] vmx commented on #1809
It might be the source of truth, but it's not used in all libraries that should use it. For example: https://github.com/multiformats/js-multihash/blob/443a8ebdd145582f2cac6e708ffe890401d5de08/src/constants.js

You wouldn't need to use the Buffer polyfill, but could work with JavaScript native data types like TypedArrays.

If it becomes the source of truth, it's very likely that it is bundled alrea

[2019-01-17 15:36] lifeBCE opened #1827 "Bootstrap broken in 0.34.0?"
- **Version**:
0.34.0

- **Platform**:
Darwin [REMOVED] 16.7.0 Darwin Kernel Version 16.7.0: Thu Jun 15 17:36:27 PDT 2017; root:xnu-3789.70.16~2/RELEASE_X86_64 x86_64

- **Subsystem**:
libp2p (assumed)

#### Type:
Bug

#### Severity:
High

#### Description:
Upon upgrade to version 0.34.0, I noticed that none of the bootstrap nodes were connecting any longer when using js-ipfs as a client in browse

[2019-01-17 17:06] daviddias commented on #1817
Understood. Thanks for reviewing the proposal, dropping it based on feedback.

[2019-01-17 17:06] #1817 closed

[2019-01-17 21:05] pgte opened #1828 "feature: p2p stream"
Apparently go-ipfs now supports, in its external interface, dialing to a specific peer and protocol.
I'm not sure what are the plans for also adding this to the js-ipfs interface and implementing it.

This would be very helpful, allowing applications to use custom protocols in a standard way that would be usable across IPFS implementations.

[2019-01-18 01:09] mcollina commented on #1788
@reconbot we have validated that instantiating BL do not influence the performance of ipfs

[2019-01-18 09:36] alanshaw opened #1829 "Support pipe to add in CLI"
We should be able to `echo "hello world" | jsipfs add`.

[2019-01-18 09:40] alanshaw commented on #1816
@terichadbourne I can't actually transfer this issue. Is it useful if I open an issue on protoschool with David's comment above?

[2019-01-18 10:32] alanshaw commented on #1827
@hugomrdias do you have a sec to look into this please?

[2019-01-18 11:04] achingbrain commented on #1813
FWIW, you can find out if stdin/stdout is being piped by inspecting the `isTTY` property - e.g. `process.stdout.isTTY` will be false if the current processes' output is being piped to another process.

[2019-01-18 11:40] #1810 closed

[2019-01-18 11:42] alanshaw commented on #1794
@xxyao123 any chance you can try this once more on Node.js 10 with the official 0.34 release? 🙏

[2019-01-18 11:54] alanshaw commented on #1804
@halley801 yes best to discuss this on https://discuss.ipfs.io/

There's no best practice or turorial for encrypting content before you add it to IPFS and there's no direct APIs for doing it. However js-ipfs does [export the `libp2p-crypto` module](https://github.com/ipfs/js-ipfs#util) which exposes a bunch of functions that would help you towards that goal.

If you do manage to get this working I

[2019-01-18 11:54] #1804 closed

[2019-01-18 11:59] alanshaw commented on #1806
@jacobheun I think the state machine change in libp2p has left it unable to pass an error to the `callback` provided to `start` or `stop` and instead emits an `error` event that is not being listened for and the callback is never called.

I think this is the same issue as https://github.com/libp2p/js-libp2p/issues/311

[2019-01-18 12:18] alanshaw commented on #1809
Understood, but I don't think using numbers expressly enables that change. Or am I missing something?

Yes fair enough.

Yes of course, this is the big win, and outweighs the chance of people using `new CID(1, 7, mh)` which is why I'm "maginally pro" it!

Yeah, maybe, I think after gzip the difference would probably be negligable.

In this case I'm less concerned about bundle size and more about D

[2019-01-18 12:22] alanshaw commented on #1811
Should be :P - I believe its a bug.

[2019-01-18 12:26] alanshaw commented on #1808
This sounds great, I just went to create one but which org would it live under? JS Core is people working on projects in ipfs, libp2p, ipld, multiformats etc. etc.

[2019-01-18 12:32] vmx commented on #1809
Not at the moment. `js-cid` would also need to support it, resp. get rid of Buffers. I'd like that, but I'm not sure if that will really happen.

So it's more a "if we don't get rid of Buffers as multicodec values, we might not be able to gt rid of Buffers at the core of things". Of course you don't have to use constants for this, you could just define the current strings to use numbers instead of

[2019-01-18 12:53] alanshaw commented on #1687
@klueq correct, JS IPFS doesn't have a DHT enabled by default and it isn't yet interoperable with Go IPFS.

When you add content to JS IPFS, it'll "preload" it on 2 dedicated preloading nodes. These are go-ipfs nodes that _do_ have a DHT. It takes a little time to preload content you add to IPFS on the preload nodes and then a little bit more time for that content to be available on the DHT.

If y

[2019-01-18 12:56] alanshaw commented on #1664
@anorth what's the status on this? I see you've made some progress. Do you have the time to bring it over the line? 😜

If not then it would be ideal if you could submit a PR that someone else can finish off.

[2019-01-18 13:00] alanshaw commented on #1828
@pgte we're working on [exposing libp2p as `ipfs.libp2p`](https://github.com/ipfs/js-ipfs/issues/1664) but is accessible as `ipfs._libp2pNode` right now.

I think this is really a question for @jacobheun/@vasco-santos.

[2019-01-18 13:04] alanshaw commented on #1782
Possibly related to https://github.com/libp2p/js-libp2p/issues/309

@rmisio are you seeing the same problem with js-ipfs 0.34?

[2019-01-18 13:20] pgte commented on #1828
@alanshaw understood, that’s the way I used to do it, but wewould need a standard way to access this, having the same interface whether across HTTP or using embedded js-ipfs. Is this something that can be incorporated in the standard interface?

No dia 18/01/2019, às 13:00, Alan Shaw <notifications@github.com> escreveu:

[2019-01-18 14:01] anorth commented on #1664
Sorry I didn't bring it home–I switched away after struggling with tests. I look forward to finding some other low-hanging changes as I get to know the project.

[2019-01-18 17:11] terichadbourne commented on #1816
@alanshaw It would be great to move this discussion to the ProtoSchool repo with a `new-tutorial` tag, but I'm a bit concerned it will have fewer eyes on it there for brainstorming. Shall we leave the issue open here with a link requesting the convo be continued there? Get at least a couple of folks from the js-ipfs team tagged over there so they can stay involved in advising? What do you recommen

[2019-01-18 17:59] alanshaw commented on #1816
Please continue conversation here: https://github.com/ProtoSchool/protoschool.github.io/issues/136

[2019-01-20 08:10] daviddias commented on #1808
Should be IPFS org for now.

[2019-01-21 11:31] #1829 closed

[2019-01-21 14:34] alanshaw commented on #1813
Go IPFS:

[code]

I think what you might have been seeing was js-ipfs adding "added" even if `-q` was set. [I fixed this here](https://github.com/ipfs/js-ipfs/pull/1833/files#diff-52ee34799680d11ceefae45b77e6a72fR43) and it has been released in js-ipfs 0.34:

[code]

[2019-01-21 14:34] #1813 closed

[2019-01-21 15:07] daviddias commented on #1813
@alanshaw you are right! https://github.com/daviddias/daviddias.me/blob/master/Makefile#L40

[2019-01-21 15:14] #1619 closed

[2019-01-21 15:17] jacobheun commented on #1828
@pgte could you elaborate on what you'd like to use the interface for? We are looking at improving the libp2p interfaces and it would be helpful to better understand the use cases you need. We could look at replicating the `ipfs p2p` interfaces from go, but I'd like to have a better understanding of what's needed before we do that.

[2019-01-21 15:21] jacobheun commented on #1806
Confirmed, looking into it.

This would contribute, but I don't think it's the only issue. I will fix the libp2p issue and will check if there is something else causing problems.

[2019-01-21 15:28] alanshaw commented on #1751
@tyvdh are you able to re-check with js-ipfs 0.34?

[2019-01-21 15:50] tyvdh commented on #1751
Sorry, I've long since given up on ipfs.

[2019-01-21 16:25] #1751 closed

[2019-01-21 16:39] lidel commented on #1820
#### Where to start

- Right now [gateway code](https://github.com/ipfs/js-ipfs/blob/v0.34.0/src/http/gateway/resources/gateway.js) is tightly coupled with HTTP server (iirc js-ipfs internally uses [hapi](https://hapijs.com)). As the first step, [gateway.js](https://github.com/ipfs/js-ipfs/blob/v0.34.0/src/http/gateway/resources/gateway.js) needs to be evaluated on what will be a better approach:

[2019-01-21 18:47] parkan commented on #1619
@mitra42 this is fixed, which means we should be able to avoid the "unable to connect" errors on startup!

[2019-01-21 18:52] rmisio commented on #1782
@alanshaw I was using master and seeing this issue. I'v also seen the issue on the dht branch (dht-part-ii).

Is there reason to believe it would work well in 0.34 even though it doesn't in either of those branches?

(using master because part of my code depends on the connection state machine, but I could forego that, at least temporarily)

[2019-01-22 01:50] parkan commented on #1619
@mitra42 yes, binding 0 addresses as in the current config does in fact work regardless of this, but moving away from the direct dialing will require binding 1+ websocket addresses, which was previously fragile (i.e. this is a needed step to move away from the direct client<>IA connection)

[2019-01-22 02:43] mitra42 commented on #1619
Ok thanks - lets sync up (not on this issue) when we are both on decent bandwidth about what the current best config would be given what is/isn't working in IPFS currently and our setup.

[2019-01-22 10:13] pgte commented on #1828
@jacobheun In the browser, after I discover a peer and I have the peer address(es), we need to open a custom libp2p protocol to it, which returns me a duplex stream.
Right now we're using `ipfs._libp2p.dial()`, but that makes this application incompatible with using the HTTP interface with either go or js-ipfs running as daemons.

Instead, we would like to be able to open and use, from the browser

[2019-01-22 10:38] pgte commented on #1828
Another perhaps interesting aspect of this:
The current go implementation of the p2p command has a native socket interface.
We would require it to run over websockets.. ([see comment](https://github.com/ipfs-shipyard/peer-pad/issues/285#issuecomment-456198970))

[2019-01-22 11:49] alanshaw opened #1835 "Pipe to self: "Error: Lock file is already being hold""
`jsipfs cid base32` fails to start because repo is locked by `jsipfs add -q`

[code]

I think go-ipfs has the concept of command requirements, perhaps we need something similar i.e. `jsipfs cid` does not require a repo so shouldn't need to obtain a lock.

[2019-01-22 12:11] mitra42 commented on #1619
Ok thanks - lets sync up (not on this issue) when we are both on decent bandwidth about what the current best config would be given what is/isn't working in IPFS currently and our setup.

[2019-01-22 12:16] jacobheun commented on #1828
Looking at the go p2p api, unless I am missing something, it looks like opening a stream to a specific peer and protocol for an embedded node isn't really supported. Most of the logic seems to be built around forwarding streams. It feels like a simpler approach would be:
[code]

[2019-01-22 12:36] pgte commented on #1828
I was talking about supporting this go-ipfs feature:

<img width="614" alt="1__bash" src="https://user-images.githubusercontent.com/47910/51536076-4a9d2c00-1e42-11e9-8f05-d4d5b1fc8e53.png">

Yes, that JS API would work.

[2019-01-22 12:46] pgte commented on #1828
(with an optional third argument for the peer address, similarly to the go-ipfs CLI)

[2019-01-22 13:18] aphelionz opened #1836 "js-ipfs potentially leaking sprintf and vsprintf to global scope?"
- **Version**: 0.34.2
- **Platform**: Node.js
- **Subsystem**: Automated tests

#### Type: Bug

#### Severity:   Medium

#### Description:
When running the automated tests for https://github.com/orbitdb/ipfs-log,

#### Steps to reproduce the error:
[code]

Then remove comment out line 17 in `test/browser/index.html`
[code]

Then run the following command
[code]

It should result in a global leak e

[2019-01-22 14:08] pgte opened #1837 "offline boot: does not (re)bind"
When using js-ipfs v0.34.2 and websocket-star-multi with the [`ignore_no_online`](https://github.com/mkg20001/js-libp2p-websocket-star-multi/blob/master/src/index.js#L59) option, I'm able to start an js-ipfs embedded node while I have no internet connection.

But, if I regain connectivity, the transport doesn't try to bind to any of the given ws-star servers, rendering the current process unreacha

[2019-01-22 14:35] jacobheun commented on #1828
Ah! I'm running a recent build of go-ipfs master (0.4.19-dev) and `dial` is not in there. What version of go-ipfs are you running?

I think we can just stick to that existing go functionality, `ipfs.p2p.streams.dial(...)`, to keep them the same. If dial accidentally got removed I'll create an issue in go-ipfs.

[2019-01-22 14:40] parkan commented on #1837
seems like this would need some combination of an `ononline` event listener and a periodic connectivity check with backoff

for whatever reason, healing connections for web apps seems to be a Hard Problem -- gmail, slack, etc all rely heavily on the manual checks (`Retrying in 3s... Try now`), which makes me suspect the navigator.isOnline/online events don't work very well

[2019-01-22 14:41] jacobheun commented on #1828
Yeah, it was removed in https://github.com/ipfs/go-ipfs/pull/4929. @magik6k we're looking at adding the p2p streams dial command that was previously in go into js-ipfs. Is there a reason that was removed? The dial command is really convenient for js-ipfs nodes. It looks like it was removed in favor of an ssh approach.

[2019-01-22 14:44] parkan commented on #1837
the API that I would like would be a libp2p level facility that imitates the browser online status, which the app can rely on regardless of the transport

overall, this feels like a libp2p concern, and the real fix probably requires implementing the optional addresses at that level as per https://github.com/ipfs/js-ipfs/pull/1793#issuecomment-454391734

[2019-01-22 15:34] magik6k commented on #1828
There was a major refactor of this feature in 0.4.18, see https://github.com/ipfs/go-ipfs/blob/master/CHANGELOG.md#commands for more details. `p2p stream dial` changed name to `p2p forward`

[2019-01-22 15:47] parkan commented on #1837
another idea would be to just periodically manually retry binding from inside the app as an interim solution, though I don't think there's an `ipfs swarm` command for doing that online right now

[2019-01-22 15:57] alanshaw commented on #1837
cc @mkg20001

[2019-01-22 16:42] jacobheun commented on #1828
Ok, I think we may want to update the docs for the command at some point. Using the cli `--help` to get more information about the commands locally it isn't very clear what the command is doing, or why/when it should be used, and the description is kind of a circular definition.

[2019-01-23 10:53] hugomrdias commented on #1827
@lifeBCE this should be fixed with https://github.com/hugomrdias/iso-url/releases/tag/v0.4.5 can you update yours deps and confirm ?

[2019-01-23 13:56] alanshaw commented on #1838
You can use [`ipfs.files.stat('/your-directory')`](https://github.com/ipfs/interface-ipfs-core/blob/master/SPEC/FILES.md#filesstat) to get the current CID of the directory and then access it's content from another peer using `ipfs.get('CID')`.

Note that if you add/edit or remove things from the directory it's CID will change.

There is no synchronization in IPFS.

[2019-01-23 13:56] #1838 closed

[2019-01-23 15:24] lifeBCE commented on #1827
@hugomrdias Looks good, thanks! 👍

[2019-01-23 15:25] #1827 closed

[2019-01-23 16:31] #1664 closed

[2019-01-24 02:02] JChanceHud opened #1842 "_dnslink subdomain resolution"
- **Version**: 0.34.2
- **Platform**: OS X
- **Subsystem**: dns

#### Type: Bug

#### Severity: Low

#### Description:
Right now the `jsdnslink dns` command does not support dnslinks specified using the `_dnslink` subdomain prefix as documented [here](https://docs.ipfs.io/guides/concepts/dnslink/).

#### Steps to reproduce the error:

The following dns entries exist for root domain `ctheory.io`:
[

[2019-01-24 08:41] alanshaw commented on #1794
ping @xxyao123

[2019-01-24 15:51] #1842 closed

[2019-01-24 16:59] alanshaw opened #1845 "--read-timeout option for `ipfs get`"
See https://github.com/ipfs/go-ipfs/issues/5541

[2019-01-24 22:31] hazae41 opened #1846 "null error on Safari when using pub/sub"
- **Version**: 0.34+
- **Platform**: Safari MacOS & iOS
- **Subsystem**: pubsub, libp2p

#### Type: Promise rejected due to null error

#### Severity: Critical

#### Description:
![](https://i.imgur.com/iMKkOfv.png)
![](https://i.imgur.com/idZ0EV6.png)

#### Steps to reproduce the error:

Go to CrossBrowserTesting.com to use a macOS environment

Import ipfs 0.34+ from unpkg (minified or not)
`<scr

[2019-01-24 22:32] Hazae41 commented on #1846
Everything works fine on 0.33.1

[2019-01-24 22:46] alanshaw commented on #1846
Are you using pubsub before or after the ready event?

[2019-01-24 22:47] Hazae41 commented on #1846
After, of course

Le jeu. 24 janv. 2019 à 23:46, Alan Shaw <notifications@github.com> a
écrit :

[2019-01-24 22:53] alanshaw commented on #1846
Do you get the same error on other browsers?

[2019-01-24 22:54] Hazae41 commented on #1846
Only on Safari

[2019-01-25 17:53] mkg20001 commented on #1837
I'm unsure whether the underlying logic for this should go into libp2p or ws-star-multi itself, but I feel like the app would still need to trigger it instead of it automatically happening

Possible solutions:
 - `ws-star-multi` instance could emit `reconnect(nullOrError, nullOrNextReconnectTime)` events so the app could display disconnections from the ws-star network while automatically being han

[2019-01-25 23:33] mkg20001 commented on #1837
So the pseudo-interface I made up so far:

[code]

An app would hook it like this (but with actual react code, and not some random JSX-returning functions):

[code]

(Noticed that I missed events for when it begins reconnecing. This could either be a seperate event (`reconnecting`) or just a `reconnect` without `nextReconnect` variable set, addressess that are currently being dialed could have the

[2019-01-26 09:13] gaillard commented on #1630
Mind sharing config?

[2019-01-27 01:22] x5engine opened #1847 "[Critical] ipfs repo is using level down on browser"
Hello Guys,

I am using the same code in the example browser
 with ipfs 0.34.4
[code]
but is giving me this error and I don't know why!

![image](https://user-images.githubusercontent.com/12363020/51794758-d19f2b00-21d9-11e9-822f-83f71df568c5.png)

- **Version**:
- **Platform**: React, Javscript on Cloud9

#### Type: Urgent Blocking Error

#### Severity: Critical

#### Description:

#### Steps to

[2019-01-27 10:58] nijynot commented on #1670
Hi, just refactored `ipfs-geoip` (https://github.com/ipfs/ipfs-geoip/pull/67).
I'll try to take on `ipfs-bitswap` too if that's fine.

[2019-01-27 11:03] pgte commented on #1837
I think libp2p should try to do a good effort of keeping the peer connected:

1. Delegating this to user-land makes app-development harder.
2. Delegating this to each transport yields each transport more complex and error-prone.

Implementing this in libp2p would avoid these 2 problems, implementing reconnect logic in a generic way.

Also, I think that the reconnecting behaviour should be the defa

[2019-01-28 02:58] x5engine commented on #1847
Sure I can share some code with you

[2019-01-28 08:53] pgte commented on #1837
@mkg20001 I'm not sure about the internals or the API (perhaps it's better to ask @jacobheun et al.), but in my opinion, this shouldn't require any new user-land API, reconnects should work out of the box.

One question (also to @jacobheun et al.) is what should be the transport interface that allows libp2p to manage dis/reconnects? I'm guessing the de-facto standard in node.js land would be emitt

[2019-01-28 11:16] mkg20001 commented on #1837
@pgte

The equivalent for `end` would be `close` and `connect` would be `listening` for a libp2p transport

In my proposal it did, but there are also extra APIs to force a reconnect at _any point_ such as for adding a "Reconnect Now" button next to the countdown. IMO adding a few APIs to steer behavior is definitively a good idea.

Other than that I'd agree on the mentioned things.

Btw, @jacobheu

[2019-01-28 12:04] jacobheun commented on #1837
I've started an issue in libp2p, https://github.com/libp2p/js-libp2p/issues/312, to track this since it's been discussed in several places for various reasons and will require updates to several modules. I added my thoughts to the issue there.

@mkg20001 the main thing I can see becoming an issue there is with multiple transports and multiple addresses. Consuming `reconnect` type events from libp2

[2019-01-28 12:12] alanshaw commented on #1847
@x5engine FYI we use [`level-js` in the browser](https://github.com/ipfs/js-datastore-level/blob/master/package.json#L8)

[2019-01-29 03:37] pedrouid commented on #1254
What's the status on this issue? I created a react-native project to test @mistakia's approach with nodejs-mobile but I can't get it working with versions higher than 0.31.7, get the following error:

[code]

The problem with sticking with 0.37.1 is that it includes vulnerable dependencies that have been patched already. Here is the example repo:

https://github.com/pedrouid/react-native-nodejs-ex

[2019-01-29 06:55] alanshaw commented on #1254
Looks like it doesnt like the object spread syntax that proper-lockfile is using.

cc @hugomrdias

[2019-01-29 09:01] alanshaw commented on #1847
@x5engine I need an example I can run that demonstrates the error - I can't help you debug this otherwise.

[2019-01-29 15:55] daviddias commented on #1563
I believe it is time to revisit this issue, not with the goal of _creating a viable alternative for the sake of doing it_, but focusing on what would it mean to move out of α into `js-ipfs β`. We should answer questions such as:

- What degree of docs do we want?
- Which APIs should we bless?
- What features need to be in?
- What features should go out?
- etc

What do folks think?

[2019-01-29 17:54] x5engine commented on #1847
@alanshaw okay sure, pretty simple clone this repo and use the code we have here

git clone https://github.com/cleverbeagle/pup

install meteor

https://www.meteor.com/install

then npm install then npm start that's it

thank for your help

[2019-01-29 21:58] pranavdaa opened #1851 "Error while installing npm i ipfs in fedora system"
Stuck on this  from hours.

![image](https://user-images.githubusercontent.com/38764142/51943272-12e44480-243f-11e9-88c5-5f7bdcb584b8.png)

[2019-01-29 23:15] lidel opened #1852 "Support exposing API/Gateway on multiple multiaddrs"
go-ipfs supports listening on multiple multiaddrs if an array is provided instead of a single multiaddr.

Both snippets are valid in go-ipfs:

#### ipv4+ipv6

[code]

#### ipv4 only

[code]

Unfortunately js-ipfs does not support arrays, only a single address can be defined ATM.

cc https://github.com/ipfs/js-ipfs/issues/1563, https://github.com/ipfs/go-ipfs/issues/5905

[2019-01-29 23:29] lidel opened #1853 "Broken terminal output with API and Gateway on ipv6"
Setting `API` and `Gateway` to listen on `/ip6/` multiaddr..

[code]

works :+1:

..but the terminal output is broken:

[code]

Expected output:

[code]

ps. some quick notes from brief eyeballing:
- `apiMultiaddr` is set [here](https://github.com/ipfs/js-ipfs/blob/3cfeda9075aa14893f441f2dd18d2c0439b0664c/src/http/index.js#L165) but does not seem to be used for anything
- [`uri-to-multiaddr`](http

[2019-01-30 08:12] pranavdaa commented on #1851
The solution is
`git config --global url."https://".insteadOf git://`

[2019-01-30 08:13] pranavdaa commented on #1851
Ok so i believe it is sorted so i am closing this issue

[2019-01-30 08:13] #1851 closed

[2019-01-30 09:05] alanshaw commented on #1853
Probably worth waiting for https://github.com/ipfs/js-ipfs/pull/1844 to be merged first, but this seems like a simple fix - @lidel would you be willing to submit a PR?

[2019-01-30 12:06] hugomrdias commented on #1254
@pedrouid from what i can see nodejs-mobile is on node 8 and we have stopped supporting that, the solution here is to bundle your js code with rollup (or whatever bundler you prefer) and pass babel-preset-env targeting node 8.

[2019-01-30 20:47] pedrouid commented on #1254
Thanks @hugomrdias, I did try bundling with both browserify and webpack using @babel/preset-env but I still got other object spread errors. I saw that `nodejs-mobile` plans to move to the latest nodejs version by the end of Q1 which is too long for my need so I will have to move the ipfs node to a backend.
React-native support or native implementation for mobile is definitely needed for building d

[2019-01-30 22:52] Gozala opened #1855 "Factor out Daemon / Gateway endpoints handlers"
- **Version**: v0.33.1
- **Platform**: Browser
- **Subsystem**: Workers / WebExtensions

#### Type:
Feature
#### Severity:
Medium
#### Description:

## TL;DR

IPFS SW should use local IPFS node on the system and transparently fallback to in-browser IPFS node when local node isn't available.

## Overview

I am working towards makeing in-browser IPFS exposed through SW compatible with a REST API exp

[2019-01-30 22:55] Gozala commented on #1855
There is obvious overlap with #1820, it maybe that just expanding it's context would make more sense than having this as separate issue. However it was fairly easy to address issue pointed out there using https://github.com/ipfs/js-ipfs-http-response but dealing with Daemon REST API continues to be quite painful due to larger API surface.

[2019-01-30 23:08] Gozala opened #1856 "HTTP REST API Server / Client Generator"
- **Version**:n/a
- **Platform**:n/a
- **Subsystem**:n/a

#### Type:
Feature

#### Severity:
Medium
#### Description:

At the moment js-ipfs binds Gateway / Daemon API endpoints to the underlying calls to serve them to the clients. Then there is [js-ipfs-http-client](https://github.com/ipfs/js-ipfs-http-client) that does reverse by mapping API endpoints back to js-ipfs API compatible client. This

[2019-01-31 00:07] gaillard opened #1857 "dht functionality"
- **Version**:
feat/dht-part-ii branch (b0acc71447e874a987408cfedf6ecec089519725)
- **Platform**:
mac/linux
- **Subsystem**:
dht

I just used browserify directly on a little example while having the feat/dhs-part-ii branch checked out.

So now my index.js looks like
[code]

However I always get `Error: Peer lookup failed` from that last line.
Also even trying to do a `node.get('THE_PEER_FILE_HASH'

[2019-01-31 03:03] mikeal opened #1858 "How do you run two nodes on a single machine?"
I’m on the latest `js-ipfs` on Node.js v10 on Linux.

I’m writing a command line utility and each invocation of the utility creates an IPFS node. The first one runs fine, but when I try to do a second invocation while the first is still running the new invocation just exits. No error, no exception, nothing, just an exit.

This is because the `ready` event never fires and because the node never bin

[2019-01-31 06:56] cloudbitsum opened #1859 "How to use dist/index.min.js in node-cli"
Hi,
I am new so please excuse any basic questions? I am student in std-12 and learning IPFS. It looks great.
I want to know if there is any way to use index.min.js in node-cli.
I know that I can simply import ipfs by require("ipfs"). But the require() create a big node_module which is an issue for school project. Also I dont have option to build a browser based app.
So I am looking to use index.mi

[2019-01-31 11:04] alanshaw commented on #1858
Firstly, you'll want to use the `IPFS_PATH` env variable or pass the [`repo`](https://github.com/ipfs/js-ipfs#optionsrepo) option to the constructor to get a different repo for each instance.

e.g.

CLI:

[code]

Programmatically:

[code]

Secondly, you'll need them to bind to different ports because otherwise bad things happen.

With the CLI, after you've run `ipfs init` you can either edit the c

[2019-01-31 11:52] alanshaw commented on #1858
Where do you think would be a good place to put this info?

[2019-01-31 11:57] #1809 closed

[2019-01-31 12:02] alanshaw commented on #1808
@achingbrain @jacobheun @vmx @hugomrdias before I go ahead and create this repo can we get your 👍 or 👎 ?

[2019-01-31 12:03] alanshaw commented on #1794
closing due to inactivity

[2019-01-31 12:03] #1794 closed

[2019-01-31 12:06] alanshaw commented on #1785
closing as this issue has been resolved by https://github.com/ipfs/js-datastore-fs/pull/21

[2019-01-31 12:06] #1785 closed

[2019-01-31 12:16] jacobheun commented on #1808
👍 from me.

[2019-01-31 12:36] alanshaw commented on #1670
@nijynot awesome thank you 🙏

I'll put you down for bitswap 🚀

[2019-01-31 14:43] alanshaw commented on #1859
ahhh, my mistake!

[2019-01-31 14:43] #1859 closed

[2019-01-31 18:09] mikeal commented on #1858
The code one we should use in a new example in the examples directory. The CLI stuff I’m less sure about, maybe we need some different doc files with notes on common use cases we can just link to in the main README?

[2019-01-31 18:18] hugomrdias commented on #1254
@pedrouid that seems weird you sure you are running babel on your dependencies? Because that should work.
Try explicitly including this plugin in babel https://babeljs.io/docs/en/babel-plugin-proposal-object-rest-spread

[2019-01-31 23:56] pedrouid commented on #1254
Thanks, I also tried that with multiple plugins as well. You can check the branches on my test repo:

https://github.com/pedrouid/react-native-nodejs-example

I always get an error on the line that has `...trail[index]` even after bundling when running `nodejs-mobile`

[code]

[2019-02-01 15:13] lanmower opened #1861 "Running in node in Windows 10 does not work at all."
Running the IPFS 101 tutorial (or anything else) in Windows 10 with the current version fails without displaying an error or running the start or ready callbacks. Program also doesn't stay open as expected.

Happens with: @latest
Platform: Windows 10 x64

How to replicate: try run any project, the IPFS 101 tutorial is a good start.

[2019-02-03 02:48] pedrouid opened #1862 "Github vulnerability warning: cryptiles"
I'm getting the following warning from Github on a nested dependency vulnerability

<img width="678" alt="screenshot 2019-02-02 19 47 02" src="https://user-images.githubusercontent.com/10136079/52171955-567ecd00-2723-11e9-96ad-03a6e20aae2a.png">

https://nvd.nist.gov/vuln/detail/CVE-2018-1000620

[2019-02-03 02:49] pedrouid commented on #1862
package.json
[code]

[2019-02-03 06:54] alanshaw commented on #1857
Is the peer you’re trying to get the file from listening on an address that your browser node can connect to?

[2019-02-03 19:42] alanshaw commented on #1862
Thanks for reporting - it'll be resolved by https://github.com/ipfs/js-ipfs/pull/1844

[2019-02-03 19:50] lifeBCE opened #1863 "Follow-up to read stream lag"
- **Version**:
0.34.2

- **Platform**:
Darwin MacBook-Pro.local 16.7.0 Darwin Kernel Version 16.7.0: Thu Jun 15 17:36:27 PDT 2017; root:xnu-3789.70.16~2/RELEASE_X86_64 x86_64

- **Subsystem**:
Potential Bitswap but not sure

#### Type:
Bug

#### Severity:
Medium

#### Description:

This is a follow up to #1706

I am still seeing an average 8 second delay when streaming blocks before the stream wil

[2019-02-04 06:20] gaillard commented on #1857
@alanshae I'm already connected as shown by node.swarm.peers().

[2019-02-04 10:59] alanshaw commented on #1863
@lifeBCE the callback you give to `pull.concat` is called only when ALL of the data has been recieved. Do you see the same problem using `pull.drain` instead?

[2019-02-04 11:01] alanshaw commented on #1861
ping @lanmower - do you have a sec to try this again with the `DEBUG=*` env var set so we can debug this further?

[2019-02-04 12:34] alanshaw commented on #1847
@x5engine where should I put the "code we have here" in that project - I just want to ensure I'm doing the same thing as you.

[2019-02-04 13:46] lifeBCE commented on #1863
I have updated the test code to use `pull.through` and get the same 8 second delay. I'll have to dig into the syntax for `pull.drain` as it does not seem to be a direct replacement for `pull.concat` or `pull.through`.

Worth notiing that I don't think any solution waits for the entire file to download as the test logic continues to download the large file after it reports that the event has been t

[2019-02-04 15:15] alanshaw commented on #1863
@lifeBCE I'm getting this:

[code]

[code]

[2019-02-04 15:17] alanshaw commented on #1863
...and again:

[code]

[2019-02-04 15:24] alanshaw commented on #1863
Scratch that, I AM seeing the issue when starting with a fresh repo.

[2019-02-04 15:25] lifeBCE commented on #1863
@alanshaw Are you using the same hash? Deleting local cache?

[code]

I am on 0.34.2 so I'll give 0.34.4 a try but didn't notice anything between the two that might account fore the issue.

[2019-02-05 13:38] alanshaw commented on #1806
Should now be fixed by combination of https://github.com/libp2p/js-libp2p/pull/316 and https://github.com/ipfs/js-ipfs/pull/1860 and will be released in 0.35.

[2019-02-05 13:38] #1806 closed

[2019-02-05 14:39] alanshaw commented on #1808
https://github.com/ipfs/js-core

[2019-02-05 14:39] #1808 closed

[2019-02-06 01:50] JGAntunes opened #1865 "Running js-ipfs behind a proxy"
Hey there! :wave:

**tl;dr;** Is there a way for a node to "advertise" one swarm address without binding to it?

I've been looking into running some tests with multiple [IPFS nodes running behind a TCP proxy](https://github.com/JGAntunes/helm-charts/tree/master/ipfs-testbed). I'm using a bootstrap discovery method with 3 initial nodes deployed followed by another set of them. The config I'm using

[2019-02-06 10:17] alanshaw commented on #1865
Ha, great question. Can we use a circuit address for this @jacobheun / @vasco-santos ?

[2019-02-06 10:24] alanshaw commented on #1852
@grantlouisherman YES ❤️ it would be awesome if you'd like to take this on. Please ping me if you need any pointers.

[2019-02-06 10:28] JGAntunes commented on #1865
Meanwhile kept searching and found this - https://github.com/multiformats/js-multiaddr/blob/master/src/index.js#L182 - I wonder if this is a case were address encapsulation would be useful? :thinking:

[2019-02-06 11:10] jacobheun commented on #1865
This is where https://github.com/libp2p/js-libp2p/issues/202 would be very useful. It would provide the ability to set the listen/announce/no announce addresses without messing with the addresses after startup.

@JGAntunes encapsulation/decapsulation is likely the best workaround without adding the config changes to libp2p, which would be the best option.

The encapsulation workaround will require

[2019-02-06 11:21] #1835 closed

[2019-02-06 11:27] alanshaw opened #1867 "Implement --pin option for block.put and dag.put"
go-ipfs already has `--pin` for `dag.put` and `--pin` for `block.put` is in a PR https://github.com/ipfs/go-ipfs/pull/5969

[2019-02-06 11:50] alanshaw commented on #1857
@vasco-santos can we resolve this before https://github.com/ipfs/js-ipfs/pull/856 is merged?

[2019-02-06 11:53] alanshaw commented on #1687
ping @klueq

[2019-02-06 11:59] alanshaw commented on #1667
closing this in favour of #1307

[2019-02-06 11:59] #1667 closed

[2019-02-06 12:02] alanshaw commented on #1596
Since this issue was created we've switched out `write-file-atomic` and found and resolved https://github.com/ipfs/js-ipfs/pull/1860 please open an new issue if you notice this again.

[2019-02-06 12:02] #1596 closed

[2019-02-06 12:04] alanshaw commented on #1603
The IPFS node should not be used before the `ready` event is fired.

[2019-02-06 12:04] #1603 closed

[2019-02-06 14:08] JGAntunes commented on #1865
@jacobheun yes that would be perfect! Thanks for pointing that out :+1: I don't have much free time on my hands but maybe I can help out with that (moving this discussion to the issue).

Meanwhile I'll probably take your advice with the second approach so that I can get quickly unblocked. Thanks for all the pointers again :pray:

[2019-02-06 14:10] JGAntunes commented on #1865
And I think it's ok to close this :+1: thank you @jacobheun and @alanshaw.

[2019-02-06 14:10] #1865 closed

[2019-02-06 14:48] alanshaw commented on #1440
Tracking PRs for [2](https://github.com/ipfs/js-ipfs/issues/1440#issuecomment-407343797):

* [ ] https://github.com/multiformats/js-cid/pull/73
* [ ] https://github.com/ipfs/js-ipfs-unixfs-importer/pull/21
* [ ] https://github.com/ipfs/js-ipfs-unixfs-engine/pull/235
* + more incoming

[2019-02-06 15:52] vasco-santos commented on #1857
I will have a look in this

[2019-02-06 18:37] vasco-santos commented on #1857
Hello @gaillard

I did a small test:

[code]

Basically, when the node is ready, it starts connecting to the peers. That way, if you immediatly try to find the peer and you are not connected with it yet, you will not be able to find it.

In my example, just a small test with a timeout, I wait a few seconds and then try to find a peer that is connected, and it worked fine in a React app.

Let me kn

[2019-02-07 06:07] klueq commented on #1687
Something must have changed in the API: it now throws some cryptic errors. See klueq.github.io?ipfs=0.34

[2019-02-07 11:12] achingbrain commented on #1687
I think `libp2p-browser.js` is [missing a DHT module implementation in the browser](https://github.com/ipfs/js-ipfs/blob/748fccfb840d2f96e58bc4eb9f3144b95e24f7f0/src/core/runtime/libp2p-browser.js#L24-L41).

It's [present](https://github.com/ipfs/js-ipfs/blob/748fccfb840d2f96e58bc4eb9f3144b95e24f7f0/src/core/runtime/libp2p-nodejs.js#L41) in `libp2p-node.js`.

It causes the internal config validati

[2019-02-07 11:29] alanshaw commented on #1083
Lets track this over at https://github.com/ipfs/js-ipfs/issues/1762 now.

[2019-02-07 11:29] #1083 closed

[2019-02-07 15:26] alanshaw commented on #1862
#1844 got merged!

[2019-02-07 15:26] #1862 closed

[2019-02-07 15:38] alanshaw commented on #1847
ping @x5engine

[2019-02-07 15:39] alanshaw commented on #1861
Closing due to inactivity

[2019-02-07 15:39] #1861 closed

[2019-02-07 23:55] vmx commented on #1670
For all working on this endeavour. In case you refactor parts which is still using the `async` module, e.g. a `waterfall`, you need to be careful.

I thought I can replace a call like

[code]

with (where `first()` returns a Promise):

[code]

This works in Node.js, but it won't work with our Browser build as we transpile to older ES versions.

Instead you need to resolve the Promise like this:

[

[2019-02-08 09:37] hugomrdias commented on #1670
Please make an issue in aegir about this, with a generic repro and pointing to terser as the problem. This is probably fixable.
BTW next release aegir will have minification in the karma tests.

[2019-02-08 13:29] kesavananbu commented on #1254
Can you guys inform procedure for Android to use ipfs and ipfs-pubsub in React-Native ?
I m searched in more ways there is no proper solution and i cant use that.

[2019-02-08 14:46] hugomrdias commented on #1254
@kesavananbu this is related to leveldb and not @pedrouid 's problem right ?

can't you just use another datastore instead of going through that trouble ?

[2019-02-09 02:35] ethericsol opened #1874 "js-ipfs Not finding file that is hosted by 4 peers"
Not able to find files I was able to find using jsIpfs.  I have confirmed I can find these using go-IPFS and through public gateways. (this has worked in the past with previous versions of JS-IPFS)

- 0.34.4
- browser
- chrome

#### Type: Question

#### Steps to reproduce the error:

      let scriptURL = "https://unpkg.com/ipfs@0.34.4/dist/index.min.js";
                $.getScript(scriptURL, asy

[2019-02-09 14:32] guysv opened #1875 "vue-cli generated project emits errors together with js-ipfs"
- **Version**:
js-ipfs version: 0.34.4-
Repo version: 7
System version: x64/linux
Node.js version: v11.9.0
- **Platform**:
Linux hostname 4.20.6-arch1-1-ARCH #1 SMP PREEMPT Thu Jan 31 08:22:01 UTC 2019 x86_64 GNU/Linux
- **Subsystem**:
like, all of them

#### Type:Bug

#### Severity: High

#### Description:
I tried to write an IPFS application together with vue.
As soon as I create an IPFS instanc

[2019-02-09 14:47] guysv commented on #1875
first 1000 lines of error dump https://pastebin.com/XQJ4pxti

[2019-02-10 03:59] ethericsol commented on #1874
Was there changes recently that would cause issues finding files that are only hosted through go-ipfs?

[2019-02-10 04:17] cretz commented on #1874
While I can't help with the problem, do you happen to know the last version where this worked? Was it 0.34.3?

[2019-02-10 05:06] ethericsol commented on #1874
I believe so.

[2019-02-10 05:45] cretz commented on #1874
I'm not in an easy position to check, sorry.

[2019-02-11 19:18] #1857 closed

[2019-02-11 19:20] #1853 closed

[2019-02-12 05:38] cloudbitsum commented on #1859
Thanks @alanshaw
I will create one PR

[2019-02-12 05:58] jollysean commented on #1859
This is very interesting. I can try

[2019-02-12 06:02] jollysean commented on #1859
@alanshaw This shall need target:'node' in aegir/src/config/webpack.config.js Right?

[2019-02-12 10:35] alanshaw commented on #1859
Yes I think you can override webpack settings in Aegir config.

Also relavant: https://github.com/zeit/pkg (thanks @hugomrdias)

[2019-02-12 13:32] hugomrdias commented on #1859
Our aegir build is not meant for node things. Please open an issue in the ipfs/aegir with your use case and i'll have a look.

In the mean time check either pkg @alanshaw mentioned or https://github.com/zeit/ncc and see if any of these fit your use case.

[2019-02-12 15:47] jollysean commented on #1859
Oh, well, I see. @cloudbitsum https://github.com/zeit/ncc is your thing. It would give you one require'able index.js

[2019-02-12 16:01] Bacis commented on #1790
I'm having issues installing ipfs with npm. If I run *npm i ipfs* I end up with *npm ERR! tiny-secp256k1@1.0.1 install: `node-gyp rebuild`*

[2019-02-12 20:53] x5engine commented on #1847
@alanshaw where ever you want, on the index page(component) or anywhere so you can load that page and see that bug being thrown.

thank you

[2019-02-12 22:44] alanshaw commented on #1874
@ethericsol if you add the preload nodes too your bootstrap config are you able to find the content?

https://github.com/ipfs/js-ipfs/blob/e6e749d94ae1585e5271c6cca395c39cda5db93e/src/core/runtime/config-browser.js#L26-L27

[2019-02-13 00:01] ethericsol commented on #1874
Hey @alanshaw. thanks for taking a look.  Not that didn't seem to to it.  Not sure what has changed recently that I'm no longer able to add and cat files using JS-ipfs like I was in previous weeks.

In the current state of jsIpfs, should an example like this work? https://codepen.io/Heish/pen/rPvvOp

[2019-02-13 11:15] andrew opened #2889 "Mention implementation level for each spec item?"
I've been slowly getting up to speed with IPFS whilst playing around with js-ipfs. I ran into an issue where the DHT parts aren't fully implemented in js-ipfs (thanks for the heads up @achingbrain).

The docs are slightly confusing [here](https://github.com/ipfs/interface-js-ipfs-core/blob/master/SPEC/DHT.md#dhtfindprovs) as it appears that the JS implementation is there but the Go one is WIP, but

[2019-02-13 12:49] lidel opened #1877 "Act as HTTP PROXY for http://<cidv1b32>.ipfs.localhost"
### Problem

[CID-in-subdomain](https://github.com/ipfs/in-web-browsers/issues/89)  creates Origin-based isolation if website is loaded from public gateway:
 - http://bafkreigh2akiscaildcqabsyg3dfr6chu3fgpregiymsck7e7aqa4s52zy.ipfs.dweb.link

..however we continue to have a single Origin for all websites loaded from local gateway:

- http://127.0.0.1:8080/ipfs/bafkreigh2akiscaildcqabsyg3dfr6chu3fg

[2019-02-13 15:34] alanshaw commented on #1874
Not without the preload nodes in the bootstrap.

Separately, there's an [issue with the gateway go-ipfs nodes](https://github.com/ipfs/infra/issues/467) right now that is in the process of being resolved which is the likely cause of you not being able to get hold of your data from them.

[2019-02-13 18:17] ethericsol commented on #1874
So in this [example](https://codepen.io/Heish/pen/MLBZvb) I am trying to pull a small file that is accessible on the gatway, with the correct bootstrap config. Is this also caused by the issue listed above, even though the file is accessible on the gateway?

https://ipfs.io/ipfs/QmRTPMX1c7hQnymBNyCeAWQTbm8t6KA4vcwVNFFpErKpjR

[2019-02-13 18:27] aphelionz commented on #1836
@alanshaw et al, any updates on this? I'd love to get `ipfs-log` up to 0.34

[2019-02-14 09:01] alanshaw commented on #1874
I believe so.

[2019-02-14 09:17] alanshaw commented on #1874
That looks like it should work, let me take a closer look.

[2019-02-14 14:09] baruchvlz commented on #1784
Not sure if related as I am getting a different error though it's caused by the same package `tiny-secp256k1`.

Node: 10.15
NPM: 6.4.1
OS: MacOS Mojave 10.14

[code]

[2019-02-14 21:00] bgits opened #1880 "Node failed to start! Error: Not able to start from state: running"
[code]

#### Type:  BUG

#### Severity: High

#### Description:

ipfs.start throws the error and does not log out:"Node Started'

error: ipfs.js:14 Node failed to start! Error: Not able to start from state: running

Uncaught Error: Not able to start from state: running

It returns no peers but does return 8 addrs. It is not able to get the CID.

#### Steps to reproduce the error:

I would have tha

[2019-02-14 22:38] ethericsol commented on #1880
I could be wrong but I think you don't need ipfs.start. I think when you create the ipfs instance it defaults to start.

[2019-02-15 00:03] bgits commented on #1880
Perhaps but the problem is still there in being unable to retrieve content.

[2019-02-15 00:14] ethericsol commented on #1880
Yes.  I believe it is caused by the same issue I submitted here https://github.com/ipfs/js-ipfs/issues/1874

[2019-02-15 01:34] kwakwaa opened #1881 "IPFS error "TypeError: more is not a function""
Hello, I've been trying to implement IPFS with javascript in Angular but I can't seem to get it to work as I keep getting the same error...

![image](https://user-images.githubusercontent.com/43790012/52828467-d8c2a600-30c0-11e9-95e6-4c02d19d3283.png)

My code seems fine, I'm using typescript and due to the fact that I need to use Node v8 I'm actually using a previous version of IPFS (0.33.1) whic

[2019-02-15 10:30] bgits commented on #1874
This issue might be related: https://github.com/ipfs/js-ipfs/issues/1880#issuecomment-463855526

[2019-02-15 11:44] alanshaw commented on #1880
@bgits yes @ethericsol is correct, you do not need to call `start` unless you explicitly don't start the node by passing `start: false` to the constructor.

Not being able to fetch content is a dupe of https://github.com/ipfs/js-ipfs/issues/1874

[2019-02-15 11:44] #1880 closed

[2019-02-15 13:36] bgits commented on #1874
I created a fiddle that replicates the problem: https://jsfiddle.net/bgvianyc/edkgqxcs/

[2019-02-15 16:22] lidel commented on #1505
Ideas being discussed in https://github.com/libp2p/go-libp2p-kad-dht/issues/254

[2019-02-18 09:28] comntr opened #1882 "ipfs.get gets stuck for longer than a minute"
Hello,

I've been trying to resolve the following ipfs dir with `ipfs.get`, but with no success so far:

[code]

The `ipfs.io/ipfs/...` gateway resolves the id instantly.

`ipfs.get` works with some popular ids, but not with this one.

Sample code:

https://github.com/comntr/client/blob/922eb68502fb14cc692ac39f685b8d137d6d8690/index.js#L25

Does it print logs somewhere so I could attach them to th

[2019-02-18 13:04] alanshaw commented on #1882
dupe of https://github.com/ipfs/js-ipfs/issues/1874

[2019-02-18 16:20] alanshaw commented on #1836
Looks like this was [fixed in `sprintf-js` v1.1.1](https://github.com/alexei/sprintf.js/commit/180a8a65554bce5d4963908cddeeff3b00cc7cc0) and it's used in [`ip-address`](https://github.com/beaugunderson/ip-address) which currently depends on the previous version:

[code]

When `ip-address` is updated this should be resolved (assuming they release a minor or patch version).

[2019-02-18 16:21] #1836 closed

[2019-02-18 16:44] aphelionz commented on #1836
Thanks @alanshaw

[2019-02-18 16:48] ethericsol commented on #1874
Hey @alanshaw , have you heard any update on this being fixed?  Seems like it affecting quite a few people.

[2019-02-18 16:48] aphelionz commented on #1836
Also created an issue with `ip-address` https://github.com/beaugunderson/ip-address/issues/82

[2019-02-18 17:29] alanshaw commented on #1881
@kwakwaa can you share with us a runable code example that exhibits this issue?

[2019-02-18 22:04] kwakwaa commented on #1881
I've tried creating a new Angular app to try and recreate the conditions but I'm just getting so many more errors before even getting there :/ I suppose I can try uploading my entire project but the problem is that it's rather big and messy, would that help ?

[2019-02-19 02:26] #1882 closed

[2019-02-19 02:46] comntr commented on #1874
What's the last working version of js-ipfs? I've checked everything from 0.26 to 0.34, but none worked.

[2019-02-19 03:57] comntr opened #1886 "v0.34.4 in Node.js: IPFS node doesn't start."
Just trying to start an IPFS node in a Node.js server:

[code]

Nothing in the logs for a few minutes. An attempt to use `ipfs.addFromFs` crashes with a cryptic error: expected, since the node hasn't started.

Am I doing something wrong or it's just a bug?

[2019-02-19 04:46] comntr opened #1887 "Prober service for js-ipfs & go-ipfs."
Or does it already exist?

Such a service would look like a few VPS instances, $5/mo each, that run once a day a simple test:

1. Start IPFS nodes:
    - `go-ipfs`
    - `js-ipfs` in Node
    - `js-ipfs` in Chrome
    - `js-ipfs-http-client`
1. Share a few random files and try to fetch them.

This should sufficiently test DHT and the most important use case. Each node has its own IP address and st

[2019-02-19 07:11] alanshaw commented on #1874
@comntr this is an issue with the preload nodes JS IPFS uses, not with JS IPFS itself. This is what I’m seeing
https://github.com/ipfs/go-bitswap/issues/68

[2019-02-19 10:19] alanshaw commented on #1886
I'm getting this output when running your script (I changed `log.i` and `log.e` to `console.log`):

[code]

What's your OS and Node.js version? You could try `DEBUG=* node ipfs-test.js` to get some additional logging...

[2019-02-19 19:50] alanshaw opened #1890 "Parallel pinning causes "EPERM: operation not permitted, rename..." error on Windows"
Pinning in parallel has been seen to consistently cause the following error in CI:

[code]

This has been temporarily mitigated by https://github.com/ipfs/interface-js-ipfs-core/pull/443 but the issue remains.

[2019-02-19 20:01] #1763 closed

[2019-02-20 06:37] #1790 closed

[2019-02-21 08:32] R9295 opened #1891 "UnhandledPromiseRejectionWarning: Error: Key management requires '--pass ...' option"
**Version**:  v34.4.4
**Platform**:  Linux 4.9.0-7-amd64 #1 SMP Debian 4.9.110-3+deb9u2 (2018-08-13) x86_64 GNU/Linux
**Subsystem**:  ```libp2p-keychain```

#### Type: Bug
#### Severity: ?

#### Description:
Empty/default passphrase on ```init``` leads to no keychain being found.
#### Steps to reproduce the error:

The following code

[code]
results in
[code]

I checked out the ``node`` object and

[2019-02-21 21:00] luzzif opened #1892 "Keeping passphrase secret in frontends"
A passphrase is required in order to use the key management functionality offered by the library, which is totally fine with me.
**But**, I'm using React and I would like to know if there was a way to keep the passphrase completely hidden and secure without hardcoding it in the final bundle. Is that a thing?

**TLDR;** How can I keep my passphrase secret if I'm using React, or any other frontend f

[2019-02-22 18:53] #1881 closed

[2019-02-22 21:04] AuHau commented on #1115
Hey there,
If you would be ok with it, I would like to work on this. I did some work on go-ipfs and the already mentioned migration utility, so I have some understanding of how it works in go-land.

My proposal is to create a separate package (for example "js-ipfs-repo-migrator"?) which will hold all the migrations and ability to execute them. These are the following features/requirements I though

[2019-02-22 22:30] AuHau commented on #1115
Just noticed that @achingbrain is assigned to this. What is the status of it @achingbrain ? Are you working on it?

[2019-02-23 02:49] mikeal opened #1893 "IPLD requirements for js-ipfs"
The IPLD team is trying to get a handle on our roadmap and plan for the next few quarters. js-ipfs is the primary consumer of JS IPLD interfaces and we’d like to get a good list of things js-ipfs needs over the next year or so.

[2019-02-24 09:11] grantlouisherman commented on #1852
hey @alanshaw I opened this PR for this issue:https://github.com/ipfs/js-ipfs/pull/1896
One of the checks failed and I'm also getting the same error locally with master and I'm not really sure why. It's coming from libp2p. I see that there is https://github.com/ipfs/js-ipfs/tree/chore/update-libp2p. Should I not be working off of master?

[2019-02-24 12:28] josselinchevalay opened #1897 "electron update failed"
Hello

- 0.35.0-pre.0
- Linux 64
- Debian
#### Type:
Bug

#### Severity:
Critical - My application in electron not works

#### Description:
[code]

#### Steps to reproduce the error:

- Update electron and ipfs in package.json
  "electron": "^2.0.0",
   "electron-rebuild": "^1.7.2",
   "ipfs":"js-ipfs"

- run npm install

- run electron start .

[2019-02-25 17:12] bgits commented on #1874
Is there an alternative configuration using a different set of nodes that will currently work?

[2019-02-26 06:12] Despoinis opened #1898 "Why has js-ipfs been unable to upload recently, but go-ipfs can, and instantly?"
If it is a network problem, why is go-ipfs working very well, and js-ipfs is always difficult to upload successfully?
The same is true for updating the latest version.
What is the difference between js-ipfs and go-ipfs?
Go-ipfs, which can be downloaded on ipfs.infura.io the next second after executing ipfs add.
Js-ipfs has to wait a long time after add, but most of them are now 504.

[2019-02-26 06:23] comntr commented on #1874
What are the "preload" nodes and why are they necessary to run js-ipfs? Isn't it meant to be p2p and resilient to failure of some nodes?

[2019-02-26 20:53] bazquezero opened #1900 "UnhandledPromiseRejectionWarning: #<Object> at jsipfs init"
- **Version**: Syntax Error thrown
- **Platform**: Darwin
- **Subsystem**:

#### Type:
Bug

#### Severity:
Critical

#### Description:
After installing the latest version of the package, which I'm assuming is the 0.34.4 since the script to retrieve the version failed, the script throws a error about an unhandled rejection on a promise

#### Steps to reproduce the error:
Error initializating jsipfs

[2019-02-26 21:46] ethericsol commented on #1874
As far as I understand some features like DHT routing aren't implemented in js-ipfs yet. Right now most of the functionality relies proper communication with the preload nodes, which is currently not happening correctly. I maybe wrong but this is what I have gathered so far.

[2019-02-27 10:21] alanshaw commented on #1886
ping @comntr

[2019-02-27 10:24] alanshaw commented on #1898
@Despoinis please follow progress on this issue here https://github.com/ipfs/js-ipfs/issues/1874

[2019-02-27 10:24] #1898 closed

[2019-02-27 10:24] ultraschuppi commented on #1874
@alanshaw thanks for your effort on https://github.com/ipfs/go-bitswap/issues/68 - does it maybe help to remove the preload-nodes completely from bootstrap?

[2019-02-27 10:34] alanshaw commented on #1874
No, the preload nodes are required for you to be able to load content from nodes that you do not have a direct connection to.

[2019-02-27 11:10] alanshaw commented on #1874
They aren't necessary to run JS IPFS but they are necessary for JS IPFS to find content from nodes that it is not connected to directly.

JS IPFS doesn't have a DHT yet (it's coming soon!), so the only way it can get hold of content is to ask peers it already knows about for the content. If the peers it knows about don't have the content then it won't be able to find it (unless one or more of thos

[2019-02-27 11:12] alanshaw commented on #1459
Posting this here for discoverability:

[2019-02-27 11:57] ultraschuppi commented on #1874
lets say all my clients are connected to one peer i control - would this work? could be a temporary (centralized) workaround

[2019-02-28 01:38] grantlouisherman commented on #1852
hey @alanshaw PR is here https://github.com/ipfs/js-ipfs/pull/1903

[2019-02-28 04:14] Despoinis commented on #1874
Js-ipfs seems to have resumed work and can now be uploaded successfully.

[2019-02-28 05:35] Despoinis commented on #1874
It’s okay just now, but it’s not working now.

[2019-02-28 05:56] ultraschuppi commented on #1874
can confirm. for some time (minutes?) new hashes could be resolved via gateway.ipfs.io and they still are. but i just added a new file -> results in the good old 504 after several minutes

[2019-02-28 08:10] Despoinis commented on #1874
Now it's ok!

[2019-02-28 14:13] bgits commented on #1874
The issue is not with uploading, it's with retrieving content that is not cached locally. Using this fiddle it still seems to not work: https://jsfiddle.net/bgvianyc/edkgqxcs/

[2019-02-28 18:34] UtopiaCreatorX commented on #1900
+1

[2019-02-28 18:37] UtopiaCreatorX opened #1904 "UnhandledPromiseRejectionWarning when jsipfs daemon"
(node:10724) UnhandledPromiseRejectionWarning: #<Object>
(node:10724) UnhandledPromiseRejectionWarning: Unhandled promise rejection. This error originated either by throwing inside of an async function without a catch block, or by rejecting a promise whichwas not handled with .catch(). (rejection id: 2)
(node:10724) [DEP0018] DeprecationWarning: Unhandled promise rejections are deprecated. In the

[2019-02-28 18:41] UtopiaCreatorX commented on #1904
It's OK when I use the command 'jsipfs daemon' locally, but it is wrong when on the rented server.

[2019-02-28 18:46] ethericsol commented on #1874
@bgits agreed.  The original codepen i posted https://codepen.io/Heish/pen/MLBZvb is still unable to find a file that is accessible through the public gateway.

https://ipfs.io/ipfs/QmRTPMX1c7hQnymBNyCeAWQTbm8t6KA4vcwVNFFpErKpjR

[2019-02-28 21:40] Schwartz10 commented on #1835
@alanshaw unfortunately still getting this issue, with a super simple code node program:

[code]

The error is being caught in the `error` event listener:

[code]

[code]

How can i help?

[2019-03-01 22:09] Gozala opened #1905 "last realeased version has security vulnerability in it's dependencies"
- **Version**: 0.34.4
- **Platform**: *
- **Subsystem**: *

#### Type: security vulnerability

#### Severity: High

#### Description: Github reports potential security vulnerability for anything that depends on ipfs package

<img width="763" alt="screen shot 2019-03-01 at 2 05 28 pm" src="https://user-images.githubusercontent.com/21236/53669184-1b40c280-3c2b-11e9-8cc4-2ef29aa6f1b6.png">

#### Step

[2019-03-02 16:31] ultraschuppi opened #1906 "[NAT] exposing public ip in swarm-info"
Hi!

I hope questions are ok here as well - if not: please show me where i need to go :)

- **Version**:
[code]
- **Platform**:
[code]

- **jsIPFS-config**:
[code]
#### Type: Question

#### Severity: Medium

#### Description

##### Background

I am building an filesharing-application where almost every client is running in a NATed environment and all clients want to share files via jsipfs. Current

[2019-03-03 14:51] grantlouisherman commented on #1852
hey @alanshaw could you assign someone to that PR whenever it is prudent. I just need some help with the test cases.

[2019-03-03 14:52] romuloalves commented on #1254
I used [zeit/ncc](https://github.com/zeit/ncc) to compile the code of the `nodejs-project`,  but this way the problem with the node version remains. After that I used babel to convert to Node 8.

Running the compiled script in my computer with Node 8.6 works. In the React Native side I always receive the error below:

[code]

Before the experiment I described above I tried using [noderify](https:/

[2019-03-03 19:57] romuloalves commented on #1254
OK, the problem about `Invalid character` is because of `human-to-milliseconds`, this bug: https://github.com/hacdias/human-to-milliseconds/issues/1. I fixed it like described in the bug.

Now, it's partially working. The nodejs side is not breaking the app but it's not executing nothing after I create the node: e.g. `const ipfs = new IPFS(ipfsConfig);`.

[2019-03-03 21:53] vincepmartin commented on #1792
I started looking into this and had some questions about the behavior that we want from this test and imagine we could tackle this in two different ways.

1. We could attempt to make Yargs operate in the EN locale during testing, regardless of the true set locale.  This would allow for us to keep the hard coded String that is expected in the test.

or

2. We could try to get the EN string in the t

[2019-03-03 21:59] mkg20001 commented on #1792
I'd go for 1. and then add a test to specifically test localization with only a small subset of strings, once implemented. This would keep overall overhead lowest, especially since some languages contain utf8 characters which might cause unexpected troubles with some length comparisons.

[2019-03-04 00:02] mkg20001 commented on #1792
Btw, this is how you really make sure it detects english ;)
[code]

_(`LC_ALL` usually is enough, **but you can never be sure**)_

[2019-03-04 00:43] vincepmartin commented on #1792
Thanks!  I was just setting it in my .profile at the moment :)

[2019-03-04 00:56] mkg20001 commented on #1792
@vincepmartin You can simply prepend the environment variables to the command. For ex `LC_ALL=de_DE.UTF-8 aegir test` or if that doesn't work then `env LC_ALL=de_DE.UTF-8 aegir test`. No need for touching `.profile`

[2019-03-04 04:15] reardenlife opened #2611 "--stream option support for ipfs.name.resolve?"
Ad far as I can see, there is no option --stream (see https://github.com/ipfs-shipyard/ipfs-companion/issues/643 ) for IPNS name resolution.

Are there any plans to add a support for it?

[2019-03-04 18:41] AuHau commented on #1115
Any update? Go/no-go please?

[2019-03-04 18:41] alanshaw commented on #1670
Following is a list of modules that I created that (probably) don't exist in on npm otherwise that I found I needed in pursuit of this endeavour. They might be useful to you too 😁:

* Parallel mapping for async iterators
    * https://github.com/alanshaw/paramap-it
* ndjson as an async iterator
    * https://github.com/alanshaw/iterable-ndjson
* Convert a (async) iterator to a pull stream
    * ht

[2019-03-06 11:06] alanshaw commented on #1874
@ethericsol you had some errors in your fiddle - I fixed it up and it is now working for me https://jsfiddle.net/ujn8zbg7/

[2019-03-06 11:06] #1874 closed

[2019-03-06 11:12] vmx commented on #1670
If you want to promisify something, please use [promisify-es6](https://www.npmjs.com/package/promisify-es6) and not the Node.js built-in one to keep the bundle size small.

[2019-03-06 11:31] alanshaw commented on #1855
As a data point, `require('src/http/routes')` gives you an array of route handlers that look something like this for example:

[code]

There should be no dependencies on `Hapi` in this tree but it does use `joi` for validation and `boom` for creating http friendly error messages.

So, in that sense if we just extracted `src/http` to a seperate module as-is, you _could_ share it without further wor

[2019-03-06 11:34] #1529 closed

[2019-03-06 11:46] bgits commented on #1874
I'm trying to understand the difference. Was passing in the arrow function the requirement to make it work?

[2019-03-06 12:00] alanshaw commented on #1904
@UtopiaCreatorX can you enable debug logging and then check the output? `DEBUG=* jsipfs daemon`

My guess is that there's something already listening on the ports js-ipfs is trying to bind to.

[2019-03-06 12:02] alanshaw commented on #1900
@bazquezero looks like you're using an old version of Node.js. Please upgrade to v10+ and try again!

[2019-03-06 12:02] #1900 closed

[2019-03-06 12:24] hugomrdias commented on #1897
this is valid js what is your runtime env in electron ? can't you just transpile object spread with babel ?

[2019-03-06 14:17] josselinchevalay commented on #1897
how to check electron env runtime ?

[2019-03-06 14:55] hugomrdias commented on #1897
from my limited experience with electron it should be based on chromium which should support object spread unless it is really old version.
@olizilla or @hacdias can you help here ?

[2019-03-06 17:04] mikeal commented on #1670
@vmx there are performance advantages in Node.js to using the builtin. Can we write a tiny intermediary library that tells webpack/browserify to replace the builtin with promisify-es6 and use that instead?

[2019-03-06 18:06] vmx commented on #1670
@mikeal Would be cool, but I think currently the bundle size matters more. If anyone finds the time, the polyfill could be extracted from the one webpack is using: https://github.com/defunctzombie/node-util/blob/fb06a0f973f0203762714dc16c19d4d0644d6fb0/util.js#L600

[2019-03-07 18:17] terichadbourne commented on #1875
Adding myself to the thread here to receive status updates. A solution to this problem may also present a better way to address the bundling currently being done with webpack for ProtoSchool. (see https://github.com/ProtoSchool/protoschool.github.io/pull/168)

[2019-03-08 16:45] Gozala opened #1913 "Please consider exposing multicodec along with other dependencies"
I'm working on https://github.com/gozala/ipdf/ where I need to encode codec format in the buffer before encrypting it so during encryption I can figure out what format to use in decoding.

Provided an ipfs node instance implementation has access to everything it needs to do it's job except of [`multicodec`](https://github.com/multiformats/multicodec) that IPFS implementation internally depends upo

[2019-03-08 17:03] alanshaw commented on #1913
SGTM, what other dependencies would be useful?

[2019-03-08 17:25] alanshaw commented on #1847
I'm getting the following error:

[code]

[2019-03-08 17:46] alanshaw commented on #1847
I added `<script src="https://cdn.jsdelivr.net/npm/ipfs/dist/index.min.js"></script>` to `client/main.html` and the following code to `ui/layouts/App/index.js`:

<img width="816" alt="screenshot 2019-03-08 at 17 45 01" src="https://user-images.githubusercontent.com/152863/54045602-f66bc280-41c9-11e9-8c1c-82dbd87042cf.png">

I didn't get any errors on the client and was able to add/cat data:

<img

[2019-03-10 14:51] elantion commented on #1886
I face this issue before. Use ```npm rebuild``` command solve this problem. Give it a shot.

[2019-03-11 14:33] alanshaw commented on #1904
ping @UtopiaCreatorX

[2019-03-11 14:35] alanshaw commented on #1886
Closing due to inactivity!

[2019-03-11 14:35] #1886 closed

[2019-03-11 14:39] alanshaw commented on #1887
Not exactly but coming soon https://github.com/ipfs/benchmarks/ which runs nightly (although currently needs a fix up).

I think these tests could easily be run as a cron job on travis for example. Would you be interested in setting up a repo to do this @comntr ?

[2019-03-11 16:06] #1852 closed

[2019-03-11 16:07] #1858 closed

[2019-03-11 17:31] Gozala commented on #1913
Not sure, have not come across anything else yet, I'll open separate issues if I will.

One thing that might be worth considering is to expose `types / utils` such that they can be accessed without instantiation of IPFS node maybe as static field on the constructor ? In lunet codebase I found myself having to pass IPFS instance to some functions just so I could use `CID`. I could use lazy initiali

[2019-03-11 17:43] grantlouisherman commented on #1743
Hey @alanshaw could I take this one?

[2019-03-11 18:05] alanshaw opened #1917 "Re-evaluate hidden file handling still has interop with go-ipfs"
This PR cleans up a few hidden file peculiarities in go-ipfs https://github.com/ipfs/go-ipfs/pull/6019 and we should make sure we're doing the same.

Add interop tests for these cases if they don't already exist.

[2019-03-11 18:44] alanshaw commented on #1875
@hugomrdias can you share your really simple fix to this?

[2019-03-11 21:09] alanshaw commented on #1913
This is how it will be in 0.35 when released :D see https://github.com/ipfs/js-ipfs/pull/1908

[2019-03-11 23:10] lidel opened #1918 "Resolving DNSLink Paths: /ipns/<fqdn>"
- **Version**: js-ipfs v0.34
- **Platform**: browser
- **Subsystem**: `ipfs.resolve` and `ipfs.name.resolve`

#### Type: Bug

#### Severity: Medium

#### Description:

js-ipfs v0.34 supports `/ipns/<peerid>`, but trying to resolve `/ipns/<fqdn>` produces errors (the error is different for each method).

Calling `ipfs.dns('docs.ipfs.io').then(console.log)` resolves DNSLink correctly, so I assume al

[2019-03-12 04:06] xialvjun opened #1919 "ipfs.swarm.connect wrong: Circuit not enabled and all transports failed to dial peer"
- **Version**: 0.34.4
- **Platform**: Darwin xia.lan 18.2.0 Darwin Kernel Version 18.2.0: Thu Dec 20 20:46:53 PST 2018; root:xnu-4903.241.1~1/RELEASE_X86_64 x86_64
- **Subsystem**: Mac Chrome 72.0.3626.119

#### Type:
Bug

#### Severity:
High

#### Description:
Circuit not enabled and all transports failed to dial peer

[code]
always throw error even run `go-ipfs` with `ipfs swarm connect /ip4/67.

[2019-03-12 06:02] daviddias commented on #1826
What's missing to have this one released?

Are there instructions on how to enable the DHT in the browser?

[2019-03-12 09:24] alanshaw commented on #1826
Right now, the new DHT allows the JS IPFS node to discover so many peers that it cannot process them quickly enough and this is causing an issue with the node using 100% CPU and eventually running out of memory. The connection manager isn't doing a good enough job of disconnecting peers  when over the threshold and the 100% CPU usage uncovered a bug in the repo lock file implementation which is be

[2019-03-12 09:43] alanshaw commented on #1919
@xialvjun you can't connect to tcp addresses in the browser due to same origin policy. You could use websockets instead. Check out this example for more information:

https://github.com/ipfs/js-ipfs/tree/master/examples/exchange-files-in-browser

[2019-03-12 09:43] #1919 closed

[2019-03-12 09:45] alanshaw commented on #1918
Not really a bug, just not implemented yet...although `ipfs.name.resolve` is not handling it well!

[2019-03-12 09:58] alanshaw commented on #1247
Closing this as I believe it has been resolved. I can see that `ipfs.cat` supports buffers as the `normalizePath` function detects them here https://github.com/ipfs/js-ipfs/blob/master/src/core/components/files-regular/utils.js#L6 Please open an new issue if this is seen again! Thank you.

[2019-03-12 09:58] #1247 closed

[2019-03-12 10:03] alanshaw commented on #1515
I'm assuming it's serialised to a string to allow numbers bigger than [`Number.MAX_SAFE_INTEGER`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number/MAX_SAFE_INTEGER)?

[2019-03-12 10:04] jacobheun commented on #1826
@alanshaw I am following up on the nodes that should be available for delegated routing, https://github.com/ipfs/infra/issues/426#issuecomment-471934227.   There is an existing browser based example of configuring libp2p and js-ipfs for delegated routing at https://github.com/libp2p/js-libp2p/tree/v0.24.4/examples/delegated-routing. It currently references an old branch for the http api in go-ipfs

[2019-03-12 10:18] alanshaw commented on #1743
@grantlouisherman you are welcome to have a go at this, but the issues labelled "help wanted" might be slightly more appropriate for new contributors https://github.com/ipfs/js-ipfs/issues?q=is%3Aissue+is%3Aopen+label%3A%22help+wanted%22

In particular I'd love to see https://github.com/ipfs/js-ipfs/issues/1867 implemented.

[2019-03-12 10:27] alanshaw commented on #1837
Please follow progress on this issue here https://github.com/libp2p/js-libp2p/issues/312

[2019-03-12 10:27] #1837 closed

[2019-03-12 11:11] alanshaw commented on #1906
Not possible yet, but https://github.com/libp2p/js-libp2p/issues/202 will enable it eventually.

[2019-03-12 11:16] alanshaw commented on #1892
If the passphrase must be shared and it is a public service then no.

Generate it on the client or ask the user for one?

[2019-03-12 11:27] alanshaw commented on #1690
I don't think this is a bug, like the error message says, there's just no transports that are able to dial to the node you're trying to ping. In the browser we're restricted by same origin policy so can only really dial to websockets or via a relay.

[2019-03-12 11:27] #1690 closed

[2019-03-12 11:32] #1687 closed

[2019-03-12 11:42] alanshaw commented on #1714
Your config looks ok. From a browser, both peers will need to be connected to each other via a rendevous server and subscribed to the same topic, or, connected to a known peer who is also subscribed to the topic and can forward on the messages. Simply adding the rendezvous config doesn't necessarily mean the peers have discovered each other.

[2019-03-12 11:42] #1714 closed

[2019-03-12 11:51] alanshaw commented on #1326
This was resolved by https://github.com/ipfs/js-ipfs/pull/1793

[2019-03-12 11:51] #1326 closed

[2019-03-12 11:53] alanshaw commented on #1312
Closing due to inactivity

[2019-03-12 11:53] #1312 closed

[2019-03-12 12:04] #1788 closed

[2019-03-12 13:43] niinpatel commented on #1913
Can I take up this issue @alanshaw

[2019-03-12 14:29] #1892 closed

[2019-03-12 14:45] alanshaw commented on #1913
Yes please!

[2019-03-12 16:19] grantlouisherman commented on #1867
@alanshaw Ill take a look at this 💯

[2019-03-12 17:00] niinpatel commented on #1913
PR is ready #1921

[2019-03-12 22:27] aphelionz commented on #1219
I am also having trouble getting browser node content on public gateways... running 0.35 RC

[2019-03-12 22:32] aphelionz opened #1923 "Getting content from browser node to gateway using 0.35 RC"
- **Version**: js-ipfs 0.35 RC
- **Platform**: Browser (Chromium)
- **Subsystem**: ipfs add / ipfs get

#### Type: Question

#### Severity: High

#### Description:
I'm running a browser node with js-ipfs 0.35 with DHT enabled. I'm adding content via a simple `ipfs.add` call. I can retrieve the content locally, and via a directly-connected peer via `ipfs.get` but I can't seem to get a public gatewa

[2019-03-13 00:12] niinpatel opened #1924 "browser-create-react-app example doesn't work with js-ipfs"
- **Version**:
js-ipfs version: 0.35.0-rc.0
- **Platform**:
Windows 10 64-bit
Google Chrome Version 73.0.3683.75
- **Subsystem**: js-ipfs

#### Type: bug

#### Severity: Low

#### Description:

I tried to run the example implementation from examples/browser-create-react-app.

It only works correctly when go-ipfs daemon is running. Here's a preview when go-ipfs node is running in the computer.

![i

[2019-03-13 03:37] gil-air-may commented on #1690
Hey I've found the same problem. I am using js-ipfs and created a node on a browser. Can use `ipfs.swarm.connect`, to connect to a node directly? What kind of relay setup is necessary?

[2019-03-13 12:26] #1913 closed

[2019-03-13 13:46] AlbertoElias opened #1927 "Getting IPFS to work with ES Modules and Rollup"
- **Version**: 0.34.0
- **Platform**: Chrome

#### Type: Bug

#### Severity: Medium

#### Description:

So I spent quite a lot of time yesterday trying to compile js-ipfs with Rollup yesterday and here are my findings:

- Rollup doesn't support readable-stream, so I use this solution: https://github.com/rollup/rollup-plugin-alias/issues/33#issuecomment-339724994
- Many sub dependencies have circul

[2019-03-13 14:09] alanshaw commented on #1924
Looks like you're using IPFS Companion - was companion connected to the JS IPFS node when you tried this? Companion shouldn't be injecting `window.ipfs` if it doesn't have a connection to a node... @lidel have you seen this before?

[2019-03-13 14:28] niinpatel commented on #1924
@alanshaw, I just realized it happened because IPFS companion was connected. If I remove the chrome extension, it works fine. IPFS companion was probably injecting its own `window.ipfs` in this.

[2019-03-13 15:16] hugomrdias commented on #1927
hi @AlbertoElias thank you for this research, im trying to fix some of these problems the first step is this https://github.com/ipfs/js-ipfs/pull/1795 to streamline dependencies and reduce bundle size.

but there still much to do, and some of it is related to this work you did, the end game will be to change our current webpack config with rollup and have a esm version.

did you manage to understa

[2019-03-13 15:41] lidel commented on #1924
@alanshaw I am afraid that in Chrome `window.ipfs` is always injected.
This is due to  https://github.com/ipfs-shipyard/ipfs-companion/issues/362#issuecomment-362231167

I hope this behavior will go away with  https://github.com/ipfs-shipyard/ipfs-companion/issues/589 - after move to async API and removal of `window.ipfs` we won't need the guarantee of being the first script on the page. I plan to

[2019-03-13 17:02] alanshaw commented on #1924
Ah yes I remember now!

[2019-03-13 17:02] #1924 closed

[2019-03-13 17:24] AlbertoElias commented on #1927
Wow, that PR sure seems promising :)

That's really good to hear!

sadly, no, this is the response I got a long time ago: https://github.com/calvinmetcalf/rollup-plugin-node-builtins/issues/35#issuecomment-339358963 which isn't very useful

[2019-03-13 20:43] mikeal commented on #1927
Related: I just chatted with Myles Borins who is working on ESM in Node.js and there are some big changes/improvements that will be landing soon. In particular, my complaints about variances between Node’s dynamic import method and webpack’s are going to be addressed, so it should get easier to maintain a future ESM code base for Node.js and browsers.

-Mikeal

________________________________
Fro

[2019-03-14 01:10] niinpatel opened #1931 "`ipfs.dns` does not have "recursive" option"
Version:
js-ipfs version: 0.35.0-rc.0
Platform:
Windows 10 64-bit
Google Chrome Version 73.0.3683.75
Subsystem: `ipfs.dns`

#### Type: feature

#### Severity: Medium

#### Description:
go-ipfs implementation has `--recursive` option to resolve dns links.
js-ipfs throws this error: "Not enough non-option arguments: got 0, need at least 1"

#### Steps to reproduce the error:
**go-ipfs**:
`ipfs dns -

[2019-03-14 09:34] alanshaw commented on #1931
Thanks for reporting @niinpatel, it would be great to get this implemented.

[2019-03-14 09:42] niinpatel commented on #1931
Yes, once this feature is implemented, I think it'd be much easier to implement #1918. I'll take a shot at implementing this.

[2019-03-14 12:34] niinpatel opened #1932 "ipfs.dns does not handle subdomains correctly"
When I do ipfs.dns('docs.ipfs.io'). It throws an error 'ENODATA'. I did some digging and found out that this error is thrown by nodejs' `dns.resolveTxt` method when it does not find any txt records.

Now, to handle subdomain correctly, we need to append `_dnslink.` string to it, which we do here
https://github.com/ipfs/js-ipfs/blob/3ef1ed42581152701d002efaaff4215c96f60930/src/core/runtime/dns-node

[2019-03-14 16:27] alanshaw opened #1934 "File sizes from ipfs.ls are incorrect"
File sizes from `ipfs.ls` include unixfs wrapper size. In go-ipfs 0.4.19 this was fixed and now js-ipfs has lost interop on this command.

See https://github.com/ipfs/interface-js-ipfs-core/issues/427

[2019-03-14 21:04] rmisio opened #1936 "IPFS node ready handler not called"
IPFS versions 0.34.4

When I run the simple initial tutorial code:

[code]

It produces no output.

I also added a generic error handler in there in case something would show there, but nothing comes there either:

[code]

I've tested this in `0.34.4` as well as a few older versions, as well as `#master`. I either get the same behavior or the following error: `version mismatch: expected v6, found

[2019-03-14 22:10] rmisio commented on #1936
For kicks, I did try to interact with the node 3 seconds later... thinking maybe the node is actually ready, but there's a bug preventing the `ready` handler from firing.

But.. my file add attempt results in an error:

`/Users/rob/develop/ipns-sizzle/node_modules/ipfs-block-service/src/index.js:64
      this._repo.blocks.put(block, callback)`

Here's the related code:

[code]

[2019-03-14 23:11] AuHau opened #1937 "Encoding key names with base32"
#### Type: Enhacement

#### Description:

As part of my PR https://github.com/ipfs/go-ipfs/pull/6012 go-ipfs will be encoding key's names into base32 in order to unify behavior across all platforms (case sensitivity). As a small bonus because of it, it will be able to use any characters for the key's names (like namespacing for example "websites/some-website").

I assume that since js-ipfs has a g

[2019-03-15 00:54] grantlouisherman commented on #1867
Hey @alanshaw do you want the put DAG command added as well?

[2019-03-15 02:00] whyrusleeping opened #1938 "Unable to connect to node via relay"
Trying to get js-ipfs working in a basic relay scenario, fetching data from my go-ipfs node. Running into lots of random issues, but currently i'm getting `Error: No available transports to dial peer QmXV9SP77P91TPgysRBQCXmtWfVcecu4fAdbjfSzX2GkZh!`

My code is here: https://gist.github.com/whyrusleeping/bf8160f83f0a614173772010ed0535a2

Note that I explicitly do not want to use the preload servers

[2019-03-15 11:00] alanshaw commented on #1936
Can you try running `npm rebuild` and then try again? Post the output here if it doesn't work.

[2019-03-15 11:04] alanshaw commented on #1937
@AuHau would this need https://github.com/ipfs/js-ipfs/issues/1115 to be implemented first?

[2019-03-15 14:47] AuHau commented on #1937
Yeah, definitely.

But I am actually working on migration tool here: https://github.com/AuHau/js-ipfs-repo-migrations and this will be first demonstration migration. Hopefully next week I should have first version for review.

[2019-03-15 14:48] AuHau commented on #1115
I am working on this here https://github.com/AuHau/js-ipfs-repo-migrations

Hopefully next week there will be a first version to review.

[2019-03-15 14:50] rmisio commented on #1936
ok, that worked. Yeah, I had to upgrade node because one of the deps had an async generator in it, which my version of node couldn't handle. I didn't realize updating node required an npm rebuild. Good to know and thanks!

[2019-03-15 14:50] #1936 closed

[2019-03-15 20:27] satazor commented on #1727
Just wanted to shim in saying that `node-forge` key generation is fast in both browser and node environments. What they do is to use the native node api if available, then use the webcrypto (subtle) api if available and fallback to a JS implementation.

We can either do the same as `node-forge` and fallback to `keypair` if we want to maintain compatibility. See https://github.com/digitalbazaar/for

[2019-03-16 03:04] LuffySmile opened #1945 "How to use ipfs.get() to download file from IPFS"
ipfs.get() has three parameter : ipfspath , options , callback ,but the api document only introduces two parameter:ipfspath and callback. what is the usage of options parameter? How should I use it?

[2019-03-16 08:46] ukrocks007 opened #1941 "Unable to install IPFS using npm"
- **Version**: 0.34.4
- **Platform**: mac
- **Subsystem**:

#### Type: Bug

#### Severity: Medium

#### Description: > keccak@1.4.0 rebuild /Users/utkarshmehta/.npm-global/lib/node_modules/ipfs/node_modules/keccak

gyp WARN download NVM_NODEJS_ORG_MIRROR is deprecated and will be removed in node-gyp v4, please use NODEJS_ORG_MIRROR
gyp WARN download NVM_NODEJS_ORG_MIRROR is deprecated and will be

[2019-03-16 10:35] daviddias commented on #1938
Checking out the code. I see that there is an expectation that __without Peer Routing enabled__ for a node to always try to use relays it learns about. AFAIK that isn't there today or was never planned.

That said, I did add the first node to check if it would relay through the bootstrapper and it did not happen (see https://codepen.io/daviddias/pen/qvYZGJ?editors=0010)

@alanshaw @jacobheun are b

[2019-03-17 17:44] cryptoquick opened #1942 "WebRTC peer discovery not finding providers in DHT"
Hello, I'm currently working on getting the following configuration working:

[freeweb/index.ts at master · cryptoquick/freeweb · GitHub](https://github.com/cryptoquick/freeweb/blob/master/src/ipfs/index.ts)

When opened in different browsers, the different peers are able to dial each other, but when looking for each other on DHT, they completely miss. In particular, after adding a file in one bro

[2019-03-18 05:15] niinpatel commented on #1918
@alanshaw I'll take a look after #1935 is merged.

[2019-03-18 11:12] jacobheun commented on #1938
This looks like it's an issue with the order of the `connect` call and an expectation that `'ready'` is fired after the bootstrap nodes are connected to.  In an older version of `libp2p-bootstrap`, bootstrapping would take 10 seconds (it was an interval based discovery system, that did not trigger on start). That is likely packaged with the distro version being used here. So when the node is `'rea

[2019-03-18 11:25] #1934 closed

[2019-03-18 14:50] dirkmc commented on #1670
I've made PRs against a few repos that have not yet been captured in the table above:
- js-datastore-s3: https://github.com/ipfs/js-datastore-s3/pull/17
- js-ipfs-block-service: https://github.com/ipfs/js-ipfs-block-service/pull/85
- js-libp2p-bootstrap: https://github.com/libp2p/js-libp2p-bootstrap/pull/89
- js-libp2p-kad-dht: https://github.com/libp2p/js-libp2p-kad-dht/pull/82
- js-libp2p-mdns:

[2019-03-18 20:00] cryptoquick commented on #1923
I think this is related to #1526 and #1942
Definitely feeling the pain on this one, and I'll do my best to investigate, but I'm not seeing anything obvious pop out at me just yet.

[2019-03-18 22:23] rmisio opened #1946 "Groups are not supported error when creating a new node deterministically"
Version: 0.34.4
Platform: OSX
Browse: Chrome

When I try to create a new IPFS node with a specific peerId, I get a "Groups not supported" error.

![image](https://user-images.githubusercontent.com/794517/54567583-f7ef7480-4999-11e9-8473-919be5cadaf2.png)

Here's how I'm creating the node:

[code]

The `ready` handler never fires and the error comes through via the `error` handler.

[2019-03-18 22:30] rmisio commented on #1946
If I remove the `EXPERIMENTAL` and `relay` keys, then I get a different error:

![image](https://user-images.githubusercontent.com/794517/54567941-2b7ece80-499b-11e9-9b7f-393329d1be8c.png)

[code]

[2019-03-18 22:31] rmisio commented on #1946
Is the schema of the options I'm providing not correct?

[2019-03-19 14:46] hugomrdias opened #1947 "CLI getIpfs uses wrong args object"
- **Version**:
- **Platform**:
- **Subsystem**:

#### Type: Bug

#### Severity: High

#### Description:
this line
https://github.com/ipfs/js-ipfs/blob/master/src/cli/bin.js#L48
passes an argv obj that wasn't created with our yargs config

This makes cmds like `ipfs add --silent ./path/file` to instantiate IPFS with `{ silent :  './path/file' }`

Right now master doesn't fail because `silent` wasn'

[2019-03-19 19:40] grantlouisherman commented on #1867
hey @alanshaw could you take a look at this question I raised on discuss.ipfs.io and let me know if you have any advice? https://discuss.ipfs.io/t/using-jsipfs-pin-add/5044

[2019-03-20 09:05] #1932 closed

[2019-03-20 13:18] alanshaw commented on #1115
@AuHau ❤️ thanks for picking this up! Apologies for the lack of responses - I somehow missed the notifications on this thread.  We had this on our list for Q1 2019 but so far no progress.

I think your list of requirements is great and I'm glad you have knowledge of the go-ipfs repo migration implementation as I was going to suggest that where possible it should have the same or similar functional

[2019-03-20 16:13] AuHau commented on #1115
Yey, thanks for the reply! ❤️

Most of the additional requirements are already incorporated or are planned, so I think we are in sync here! There are few questions&comments from my side.

Currently, how I have designed it is that the migration will receive `IPFSRepo()` instance which will automatically handle the browser/node environment difference. Of course, there might be more complex migration

[2019-03-20 17:06] alanshaw commented on #1946
@jacobheun @vasco-santos @vmx do you have any bandwidth to look into this issue? It looks like a libp2p issue here but a ipld issue here: https://discuss.ipfs.io/t/using-jsipfs-pin-add/5044

[2019-03-20 17:07] alanshaw commented on #1946
Not sure if this is relevant https://github.com/mafintosh/protocol-buffers/issues/38

[2019-03-20 17:22] vmx commented on #1946
@jacobheun @vasco-santos It would be cool if you could have a look and ping me when it comes to IPLD? If you don't have the time, let me know an I'll try to see what I can do.

[2019-03-20 17:24] AuHau commented on #1115
Hmm now when I am thinking bit more about passing the `IPFSRepo()` instance to the migration, I am not so sure if it is a good idea. Because each migration will expect some specific behavior/interface of the `IPFSRepo`, but as js-ipfs-repo will be developed further this might change and then it is a question how the change should be propagated to this tool. I see several options:

1. Freeze versio

[2019-03-20 18:32] grantlouisherman opened #1953 "Using jsipfs pin add"
- **Version**:
0.35.0-rc.1
- **Platform**:
MacOS Sierra 10.12.6
- **Subsystem**:
Pin( pin add )

#### Type: Bug

#### Severity: Medium

#### Description:
I have been trying to pin a block's cid by running `jsipfs pin add QmZjTnYw2TFhn9Nn7tjmPSoTBoY7YRkwPzwSrSbabY24Kp` in the command line and I have also tried doing it in the the code that looks like this
`ipfs.pin.add(cid, { recursive:true })`

wh

[2019-03-20 18:46] jacobheun commented on #1946
The issue is that the privateKey is not supported/correct. @rmisio how did you generate the private key you're using?

This is likely due to https://github.com/libp2p/js-peer-id/issues/82.

There's some discussion at https://github.com/libp2p/js-libp2p/issues/229#issuecomment-408971074 around how to create and print out a workaround if you need to reuse your own private key

[2019-03-20 19:03] rmisio commented on #1946
@jacobheun hmm... it's the same code I'm using from a project I worked on two month back. Then it worked without issue. Has something changed regarding the private key format?

Anyhow, this is how I'm generating the key:

[code]

[code]

[code]

[2019-03-20 19:07] rmisio commented on #1946
ok, interesting, if I change the private key in the identityKeyFromSeed method to `privateKey: keypair.bytes`, it seems to work.

I think I switched to `privateKey: keypair._key`  because that worked for some other context whereas `privateKey: keypair.bytes` did not, but I really don't 100% remember why I made the switch.

Anyhow, looks like it's working for now and not using the "private" propert

[2019-03-21 09:13] grassias commented on #1947
If we changed the line https://github.com/ipfs/js-ipfs/blob/master/src/cli/bin.js#L48
into: `const getIpfs = utils.singleton(cb => utils.getIPFS(cli.argv, cb))`?
That'll do it?

[2019-03-21 10:13] alanshaw commented on #1947
Sadly no, `argv` is an accessor that causes a handler for the command to be invoked. At the point where `getIpfs` is called we're already in a handler so we need a new yargs which doesn't have the commands handlers. All we're missing is the ability to parse the global options (`--silent` and `--pass`).

I think we just need a new function to create a new yargs with the global options that we can u

[2019-03-21 15:02] hugomrdias commented on #1947
made some suggestions in the #1955 PR

[2019-03-21 16:13] hugomrdias opened #1957 "relay config should go inside libp2p config"
- **Version**:
- **Platform**:
- **Subsystem**:

#### Type: Bug

#### Severity:Low

#### Description:

Shouldn't relay config https://github.com/ipfs/js-ipfs/blob/master/src/core/config.js#L23 be inside libp2p https://github.com/ipfs/js-ipfs/blob/master/src/core/config.js#L54 and be validated by the libp2p package ?

#### Steps to reproduce the error:

[2019-03-21 20:09] alanshaw commented on #1826
Update: we have [one failing test](https://github.com/ipfs/js-ipfs/blob/005f2ad8360745927df638225aba95007c349551/test/cli/name.js#L161-L162) that needs to be fixed up and then I need to do some quick browser testing so that I can adjust the default connection manager limits to something a little more appropriate for the browser (DHT will be disabled by default in the browser for now but if users d

[2019-03-22 13:41] niinpatel commented on #1670
I'm doing  ipfs-blob-store: https://github.com/ipfs-shipyard/ipfs-blob-store/pull/26

[2019-03-22 15:27] grantlouisherman commented on #1867
https://github.com/ipfs/js-ipfs/issues/1953

[2019-03-22 15:38] gil-air-may opened #1960 "Use pubsub between browser node and daemon node (go-ipfs)"
- **Version**: js-ipfs: 0.34.4 and go-ipfs: 0.4.19
- **Platform**: js-ipfs on Chrome v. 72.0.3626.121 and go-ipfs on 64-bit Windows 10

#### Type: Question

#### Description:
I'm having difficulty using pubsub between a browser node (using js-ipfs) and a go-ipfs node running on my machine.

- Node A is created programatically and runs in the browser. This node will *Publish* the message.
- Node B

[2019-03-22 17:05] AuHau commented on #1115
Well after some more work and thinking, I can reply to the previous question - having a dependency on js-ipfs-repo does seem like a good idea and it does not make really sense. New question is, can the migrations depends on datastore interface? Eq. the migration would get either datastore-fs or datastore-level instance of the root of the repo folder?

[2019-03-25 00:41] elantion commented on #1897
Facing same issue. Try to update electron from 2.* to 4.*, but no luck. Occur another error.

`
Uncaught Exception:
Error: Unable to update lock within the stale threshold
    at options.fs.stat (/Users/yinjames/Projects/lc-ipfs/node_modules/proper-lockfile/lib/lockfile.js:121:25)
    at /Users/yinjames/Projects/lc-ipfs/node_modules/graceful-fs/polyfills.js:285:20
    at FSReqWrap.oncomplete (fs.j

[2019-03-25 18:49] josselinchevalay commented on #1897
my pull request solve issue with examples but in my code when a use  elactron in version 4 and use build.sh script i continue to have same issue. :thinking:  weird ....

[2019-03-26 09:25] #1947 closed

[2019-03-26 09:27] alanshaw commented on #1947
Thanks again @grassias ❤️

[2019-03-26 14:52] niinpatel commented on #1145
Is this still open? Can I look into this?

[2019-03-26 18:41] lidel opened #1963 "HTTP Gateway fails to load sharded website"
- **Version**: js-ipfs version: 0.35.0-rc.3
- **Platform**: Linux, Node.js v10.15.0
- **Subsystem**: HTTP Gateway

#### Type: Feature/Bug?

#### Severity: High?

#### Description:

Tried to open [wikipedia mirror](https://ipfs.io/ipfs/bafybeiemxf5abjwjbikoz4mc3a3dla6ual3jsgpdr4cjr3oz3evfyavhwq/) from js-ipfs's Gateway and got sad. Not sure if a [bug or just not implemented](https://ipfs.io/ipfs/Qm

[2019-03-27 22:53] aphelionz commented on #1836
This was just closed https://github.com/beaugunderson/ip-address/issues/82 and `ip-address` is npm published to 5.9.0!

[2019-03-27 22:53] aphelionz commented on #1836
Re-open?

[2019-03-28 18:27] josselinchevalay commented on #1897
i created a issue on this project https://github.com/moxystudio/node-proper-lockfile/issues/84

[2019-03-29 10:17] alanshaw commented on #1963
@achingbrain can you help with this one?

[2019-03-29 11:28] alanshaw commented on #1836
?

[2019-03-29 13:02] haywirez commented on #1205
Is there a simple, lightweight and reliable way to compute a file's IPFS hash right now? While I'm not using IPFS at the moment, I'd still like to add an info header with the IPFS hash to all uploads in my storage backend.

[2019-03-29 17:24] achingbrain commented on #1963
I think this error comes from [this line](https://github.com/ipfs/js-ipfs-http-response/blob/master/src/resolver.js#L102) in `js-ipfs-http-response` which is called by the gateway.

It looks like it does a bunch of DAG manipulations assuming it's dealing with a straight `dag-pb` node.  That is I'm not sure this has ever worked with sharded directories.

It should probably use the `unixfs-exporter`

[2019-03-29 19:12] achingbrain commented on #1963
Actually I've just put a fix together for this, I'll submit a PR.  We should be able to remove `js-ipfs-http-response` as a dep too so hooray for ever so slightly smaller bundle sizes.

[2019-03-29 20:48] lidel commented on #1963
@achingbrain Thank you for looking into this.

I think `js-ipfs-http-response` continues to be responsible for generating HTML of directory listings, and it is also a dep of [service-worker-gateway](https://github.com/ipfs-shipyard/service-worker-gateway) as well, so we may need to fix it upstream.

I found [this TODO in libdweb branch of Companion](https://github.com/ipfs-shipyard/ipfs-companion/

[2019-03-30 19:54] alanshaw commented on #1205
Does this help @haywirez? https://www.npmjs.com/package/ipfs-only-hash

[2019-03-31 18:06] Duske commented on #1630
Hey  @gaillard , I figured it out.

The `swarm.key` gets ignored at the moment, so one has to do it manually.

[code]

Just as the config, you can define some settings for libp2p.
Take a look at the following issues: #1857 and https://github.com/libp2p/js-libp2p-pnet/issues/3

[2019-03-31 20:54] bonedaddy opened #2851 "Responses aren't always compatible between different IPFS HTTP API libraries"
# Version Information

I have confirmed this behaviour in different environments both on a local development environment, and a remote development environment.

IPFS (local):
[code]

IPFS (remote)
[code]
js-ipfs-http-client:
[code]

# Issue

Currently I'm working on writing an IPFS HTTP API reverse proxy server with caching enabled. To test reverse proxy I'm using a [fork](https://github.com/RTrad

[2019-04-01 14:06] marcinczenko opened #1971 "dag-cbor - number conversion different in go and js implementations?"
[code]

OS: Mac OS X v10.14.3 (18D109).

Seems like the js and go implementations serialise numbers differently when using `dag` interface.

Take the following json content:

[code]

and let's put it to IPFS using the following command:

[code]

Then the same content, but now using jsipfs with the help of the following script:

[code]

The output is: `zdpuB2H7FsgxU1PVuGcwk4TDYGgv7xrQ7naFJ1YHfRV71t

[2019-04-01 17:57] alanshaw commented on #1971
@vmx @rvagg any chance you can look into this? CBOR encoding seems to differ between JS/Go.

`ipfs-http-client` [does the serialization client side](https://github.com/ipfs/js-ipfs-http-client/blob/21cdcc5100b32e3ac1e75ec70022b9b28b0aede1/src/dag/put.js#L54) so it is effectively the same as the "hand crafted" second code snippet from above.

Exploring these two gives identical CID info with a diff

[2019-04-01 18:19] vmx commented on #1971
Problems with numbers is CBOR are a known issue:

 - https://github.com/ipld/specs/issues/80
 - https://github.com/ipld/interface-ipld-format/issues/9#issuecomment-431029329

[2019-04-02 08:19] bingge1 commented on #1598
不解决问题就把单关了，真的社会！

[2019-04-02 08:46] marcinczenko commented on #1971
Thanks @vmx for pointing out. I will be following.

[2019-04-02 19:41] terichadbourne opened #1972 "All APIs that support Buffer should support Blob"
"All APIs that support Buffer should support Blob" - @mikeal

The MFS APIs support Blob, which is really important for the browser.  It will be really hard to build ProtoSchool tutorials about the non-MFS file commands without Blob support.  (File objects in the browser are Blob instances, so we don't have to do any special conversion in tutorials as long as Blob is supported.)

(Please enlighten

[2019-04-02 21:09] Gozala opened #1973 "Expose multihashing-async along with other utils"
Turns out `multihash` exposed by IPFS was not quite what I thought it was, more specifically I need access to functionality provided by [`multihashing-async`](https://github.com/multiformats/js-multihashing-async/).

Can we expose that along with other utils as well ? Sorry @alanshaw far saying there was nothing else in https://github.com/ipfs/js-ipfs/issues/1913

[2019-04-03 10:26] #1973 closed

[2019-04-03 16:10] daviddias commented on #1972
The tricky thing (that I see) is how to set the user expectation correctly as we won't be able to return the data as a blob if added as a blob, for example:

- a)
  - ipfs.add a buffer
  - ipfs.cat returns a buffer
- b)
  - ipfs.add a blob
  - ipfs.cat returns a buffer

The reason why b) can be _ipfs.cat returns a blob_ is because IPFS doesn't have any information on how a user expects to receive

[2019-04-03 16:14] mikeal commented on #1972
@daviddias this is already the case with the mfs APIs that support Blob instances.

Teaching people that we always return a buffer is significantly easier than teaching people how to convert a Blob/File to a buffer.

[2019-04-03 16:23] mikeal commented on #1972
For reference, this is roughly what it takes to get a Blob as an ArrayBuffer without external dependencies in way that can be used in async/await code.

[code]

That’s without error handling, cause I don’t actually know offhand how FileReader errors work.

So, this makes the bar to using this API in the browser:

* Learn raw promise API (which we don’t currently teach, we only use async/await).
*

[2019-04-03 17:06] terichadbourne commented on #1972
I just learned that @hugomrdias already has it in his OKRs to make blobs supported. 🎉 🏆

[2019-04-04 08:21] alanshaw commented on #1826
Update: we've been squashing bugs in the libp2p switch like no tomorrow. We fix one thing and another issue arrises. Since the last update the following PRs were created/merged:

* https://github.com/libp2p/js-libp2p-switch/pull/314
* https://github.com/libp2p/js-libp2p-switch/pull/315
* https://github.com/libp2p/js-libp2p-switch/pull/316
* https://github.com/libp2p/js-libp2p-switch/pull/318
* htt

[2019-04-04 09:55] #1632 closed

[2019-04-04 17:51] obo20 opened #2852 "Filestore support with --nocopy"
Currently there's no way to utilize the IPFS filestore functionality.

I've seen a few other issues related to this:
https://github.com/ipfs/js-ipfs-http-client/pull/843
https://github.com/ipfs/js-ipfs-http-client/pull/564

They all still seem to be "WIP"

I'd really love to have this functionality available if possible. Is there anything that's preventing either of the approaches seen in those tw

[2019-04-04 20:02] rmisio opened #1978 "Unable to retrieve content outside of my machine"
- **0.35.0-rc.4**:
- **Darwin Kernel Version 17.3.0**:

#### Type: Bug

#### Severity: High

#### Description:

I'm able to add a file to IPFS and publish it to IPNS and resolve it locally via IPNS... but I cannot retrieve it via IPFS or IPNS from a public gateway (I've tried multiple and made sure they were online based on https://ipfs.github.io/public-gateway-checker/).

#### Steps to reproduce

[2019-04-04 20:40] luzzif opened #1979 "Cannot execute operations using public IPFS gateway"
- **Version**:0.34.4.
- **Platform**: Darwin Kernel Version 18.2.0 (OS), Brave browser version 0.61.52 (Chromium: 73.0.3683.86).

#### Type: Question

#### Description:
So, I'm not able to connect to the public IPFS through a gateway.
I bootstrap my `js-ipfs` instance without passing any constructor's argument, and it doesn't work, so I'm clearly missing something big, very big.

I have a backend

[2019-04-04 23:33] AuHau commented on #1115
Hey there!
Sooo first draft is available for the feedback! It is still not complete, but it is a meaningful unit that can be feedbacked.

You can find the PR here: https://github.com/AuHau/js-ipfs-repo-migrations/pull/1

@alanshaw @achingbrain I have invited you to the repo so I could add you as reviewers.

[2019-04-04 23:42] AuHau commented on #1115
Also to see example of how migration will look like see: https://github.com/AuHau/js-ipfs-repo-migrations/pull/2/

[2019-04-08 15:59] #1931 closed

[2019-04-08 20:53] JamesCullum commented on #1875
Have the same issue - I get `TypeError: state is undefined` and `TypeError: stream is undefined` as soon as I call any IPFS function.

[2019-04-10 16:07] alanshaw commented on #1826
Update: we've made the hard decision to cut enabling the DHT by default from this release. There are still problems that need to ironed out and we can't delay any further. Apologies to anyone who was looking forward to this, but we simply can't release it as is.

We'll be including all the latest and greatest improvements we've made to libp2p into this release but the DHT will be disabled by defau

[2019-04-10 19:36] npfoss commented on #1875
Same here, does anyone know a way around this?

[2019-04-10 21:11] hugomrdias commented on #1875
this PR https://github.com/ipfs/js-ipfs/pull/1884 will fix this issue.

[2019-04-11 10:22] alanshaw opened #1984 "Cannot retrieve content via the DHT"
This is a tracking issue for not being able to get content via the DHT. The backstory is as follows:

IPFS listens to libp2p peer discovery events and opens a connection to a peer whenever this event gets fired (we call this "dialing"). Up until now JS IPFS has only ever discovered ~10 bootstrap nodes, maybe a few more peers on the local network via MDNS and a few dozen or so more peers via websoc

[2019-04-11 10:24] alanshaw commented on #1826
If you're interesting in the full journey and what's happening right now with the DHT then please have a read: https://github.com/ipfs/js-ipfs/issues/1984

[2019-04-11 15:46] #1946 closed

[2019-04-12 15:05] #1826 closed

[2019-04-12 21:40] wlegate commented on #1941
I'm having the same exact issue.

[2019-04-15 06:16] Despoinis opened #1992 "TypeError: Cannot read property 'Buffer' of undefined"
Example:

In the browser, assuming ipfs = new Ipfs(...):

let content = ipfs.types.Buffer.from('ABC');
let results = await ipfs.files.add(content);
let hash = results[0].hash; // "Qm...WW"

It seems that the new version has been changed. Now ipfs.types is undefined, but the documentation is still the old version of the code, how should the new version be written?

version:0.35.0

[2019-04-15 06:25] alanshaw commented on #1992
Like this: https://github.com/ipfs/js-ipfs/blob/master/README.md#static-types-and-utils

Where is the documentation you’re referencing?

[2019-04-15 06:31] Despoinis commented on #1992
https://github.com/ipfs/interface-js-ipfs-core/blob/master/SPEC/FILES.md#add

[2019-04-15 06:50] alanshaw commented on #1992
Thanks - I’ll get that fixed

[2019-04-15 08:41] #1992 closed

[2019-04-15 09:10] Despoinis commented on #1992
Example:

In the browser, assuming ipfs = new Ipfs(...):

const content = Ipfs.Buffer.from('ABC')
const results = await ipfs.add(content)
const hash = results[0].hash // "Qm...WW"

Uncaught TypeError: ipfs.Buffer is not a constructor

ipfs.Buffer I have tried it before and it is still undefined?

[2019-04-15 09:56] Despoinis opened #1993 "Uncaught TypeError: ipfs.Buffer is not a constructor"
Example:

In the browser, assuming ipfs = new Ipfs(...):

const content = Ipfs.Buffer.from('ABC')
const results = await ipfs.add(content)
const hash = results[0].hash // "Qm...WW"

Uncaught TypeError: ipfs.Buffer is not a constructor

ipfs.Buffer I have tried it before and it is still undefined?

_Originally posted by @Despoinis in https://github.com/ipfs/js-ipfs/issues/1992#issuecomment-483171813

[2019-04-15 10:09] alanshaw commented on #1993
This is working for me here: https://jsbin.com/mofade/1/edit?html,console

If it's still not working for you please provide a runnable code example and I'll look into it.

[2019-04-15 10:09] #1993 closed

[2019-04-15 10:27] Despoinis commented on #1993
It is my fault, the case is wrong.

[2019-04-15 13:04] #1811 closed

[2019-04-15 13:15] lidel opened #1995 "Switch CIDv1 from Base58 to Base32 (js-ipfs)"
## Problem

Right now if someone wants to use CIDv1 they can opt-in via `--cid-version 1`, but by default they get CIDv1 in **Base58**:

[code]

To get the representation [we aim for](https://github.com/ipfs/ipfs/issues/337), they need to convert **Base58** CIDv1 to **Base32** in additional step:

[code]

OR pass additional `--cid-base` parameter:

[code]

The need for the conversion step is not o

[2019-04-16 07:44] alanshaw opened #1996 "Add `ipfs repo stat --human`"
See https://github.com/ipfs/go-ipfs/pull/6223 and https://github.com/ipfs/go-ipfs/pull/6106 for details

[2019-04-16 13:26] vasco-santos opened #1997 "Add `--allow-offline` option to name publish"
- **Version**: 0.35.0
- **Platform**: All
- **Subsystem**: All

#### Type: Enhancement

#### Severity: Low

#### Description:

`go-ipfs` recently added an option for publishing ipns names offline `--allow-offline`. Before this, we could just publish an ipns name offline, which is the current behaviour in `js-ipfs`. This caused an interop issue [ipfs/interop#64#issuecomment-483657364](https://githu

[2019-04-16 15:37] hugomrdias opened #1998 "validation problem with libp2p"
- **Version**:all
- **Platform**: node
- **Subsystem**:all

#### Type: Bug

#### Severity: Critical

#### Description:

these defaults
https://github.com/ipfs/js-ipfs/blob/5c5d9c4f80dc041ed51bdedce5632a4698cb389b/src/core/runtime/libp2p-nodejs.js#L24-L30
are **NOT** included in the validation schema here https://github.com/libp2p/js-libp2p/blob/5b0a97e6794b8b343c29035767dd7ad892243bfc/src/config.j

[2019-04-16 15:38] alanshaw commented on #1998
cc @jacobheun @vasco-santos

[2019-04-16 15:40] hugomrdias commented on #1998
ignore this

[2019-04-16 15:40] #1998 closed

[2019-04-17 08:05] mitra42 opened #1999 "Support for --nostore"
#### Type: Feature
#### Severity: Moderate
#### Description:
Current js-ipfs doesn't support `--nostore` option to `add`. There is an equivalent issue with [js-ipfs-http-api#963](https://github.com/ipfs/js-ipfs-http-client/issues/963)

Note --nostore is the replacement for urlstore, which while still documented at https://docs.ipfs.io/reference/api/http/#api-v0-urlstore-add  is deprecated accordin

[2019-04-17 10:16] alanshaw commented on #1995
@lidel I think this is a good idea and we should do this but as a stepping stone to CID v1 base32 by default. Can we capture this information in https://github.com/ipfs/js-ipfs/issues/1440 or link to this issue and close it?

[2019-04-17 13:22] lidel commented on #1995
@alanshaw I'd like to keep this open until `jsipfs add --cid-version 1` outputs Base32 without any additional parameters.

Rationale: switching to CIDv1 as the new default will require rewriting a lot of tests.
Without switching CIDv1 to Base32 before that happens, we will have unnecessary work touching all those CIDv1 twice:
- first time: writing them with CIDv1 in Base58
- second time: changing

[2019-04-18 10:55] hugomrdias opened #2000 "IPNS over DNS tracking"
todo:

- [ ] `ipfs dns` should be recursive by default to follow go-ipfs
- [ ] `ipfs resolve` should be recursive and support `/ipns/<fqdn>`
- [ ] `ipfs name resolve` should be recursive and support `/ipns/<fqdn>`
- [ ] implement dns resolver
- [ ] support cid v1 in subdomain ?? /cc @lidel
- [ ] finish the RFC following https://github.com/ipfs/RFC/compare/rfc/5-ipns-over-dns

Ref:
https://github.c

[2019-04-18 13:06] lidel commented on #2000
I'm dropping some notes about DNS over HTTPS:
- **Binary** DNS Queries over HTTPS (DoH): https://tools.ietf.org/html/rfc8484
  (same binary payload format as in regular UDP-based DNS, well understood)
  - good primer on how  `application/dns-message` looks on HTTP https://developers.cloudflare.com/1.1.1.1/dns-over-https/wireformat/
  - https://wiki.mozilla.org/Trusted_Recursive_Resolver
    - DoH

[2019-04-18 15:19] hugomrdias opened #2001 "ipfs name resolve with recursive default to true makes name-pubsub fail"
- **Version**:master
- **Platform**:all
- **Subsystem**:name

#### Type:Bug

#### Severity: High

#### Description:
go-ipfs changed the default value for the recursive option in `ipfs name resolve`, so we should do the same.

But in js-ipfs name-pubsub tests fail, with recursive === true.

#### Steps to reproduce the error:
default to `true` in these places:
https://github.com/ipfs/js-ipfs/blob/ma

[2019-04-23 11:37] bruinxs opened #2005 "How to clear browser local stored data?"
- **Version**: 0.34.4
- **Platform**: browser
- **Subsystem**: files

#### Type: Question

#### Severity: Low

#### Description:

I want to clear some of the data stored in the browser by ipfs, preventing excessive data usage and causing possible exceptions. But the `ipfs.repo.gc` interface is not implemented, then I use `ipfs.files.rm`, but how do I change it?

For example, I want to delete `QmZd

[2019-04-23 21:39] ishanjoshi02 opened #2006 "The current transaction exceeded its quota limitations."
IPFS Version: `0.4.19`
Platform: Windows 64bit (Running Windows 10)
Browser: Mozilla Firefox (Version: 66.0.3)

I am uploading a 9 MB video file to IPFS, using code

[code]

- **Version**:
- **Platform**:
- **Subsystem**:

#### Type:

#### Severity:

#### Description:

#### Steps to reproduce the error:

[2019-04-25 13:59] lidel opened #2007 "files stat --with-local=true fails without daemon"
- **Version**: js-ipfs 0.35.0
- **Platform**: Linux, Node v10.15.0
- **Subsystem**: `files stat`

#### Type: Bug

#### Severity: Low

#### Description:

`jsipfs files stat --with-local=true` produce error when `jsipfs daemon` is not running

#### Steps to reproduce the error:

1. Make sure `jsipfs daemon` is not running
2. Make sure repo is empty (requested CID should not be cached locally)
2. Exe

[2019-04-25 14:57] aphelionz opened #2008 "hapi warnings when installing 0.35.0"
- **Version**: 0.35.0
- **Platform**: node.js
- **Subsystem**: dependencies

#### Type: Bug

#### Severity: Low

#### Description:

When installing `js-ipfs@^0.35.0` I see the following trace of errors from `hapi` and its submodules.

![image](https://user-images.githubusercontent.com/106148/56745716-dfb50700-6748-11e9-88d6-2c1843e4b8a2.png)

#### Steps to reproduce the error:

Simply running `npm

[2019-04-28 00:01] reasv commented on #2005
`ipfs.files.rm` operates on the Mutable File System (MFS). You cannot use it to delete an IPFS object by CID, like '/ipfs/QmZdXoMy8Gvis99qmGtHH4Q8YaUTwZrC5G7hRiLcMwrnVk'

[2019-04-28 09:24] achingbrain opened #2805 "files rm could remove blocks from the block store?"
Might be a nice feature?

https://github.com/ipfs/js-ipfs/issues/2005#issuecomment-487328731

[2019-04-28 13:30] reasv opened #2009 "Pubsub not connecting to node on same machine, even using ws-star"
- **Version**: 0.35.0
- **Platform**: Windows 10
- **Subsystem**: PubSub

#### Type: Bug
#### Severity: High

#### Description:
I cannot get PubSub to work with js-ipfs, even with recommended settings.

Whether they run in the browser in different tabs, or through node.js inside my ava tests, the IPFS nodes I spawn will simply not send messages to each other, even when they're subscribed to the sa

[2019-04-28 14:06] reasv commented on #2009
As for the IPNS issue, I've also created a test to replicate that:
[code]
This fails because the second resolve raises an exception:

[code]

[2019-04-29 09:00] alx696 opened #2010 "ipfs.add: How to update DOM in progress()?"
- **Version**:0.35.0
- **Platform**:Ubuntu 18.04.02 Chrome 73.0.3683.103

#### Type:Question

#### Severity:Low

#### Description:
I try to display progress info for user when add file to ipfs. But DOM not updated until add work finish. Because the DOM will not be updated before JavaScript is executed.

### Is there any good idea to solve this problem?

#### Steps to reproduce the error:
[code]
I

[2019-04-29 09:08] alx696 commented on #1945
@LuffySmile https://github.com/ipfs/interface-js-ipfs-core/blob/master/SPEC/FILES.md#get

Just two parameter. Maybe document not updated before.

[2019-04-29 09:11] alx696 commented on #2005
@bruinxs Chrome中按F12进Application标签, 数据应该在IndexedDB中. 所以清除IndexedDB即可, 或者清楚浏览器缓存.

[2019-04-30 08:22] bruinxs commented on #2005
@alx696 Thank you, but I hope to automatically erase unused data in the production environment.

[2019-05-01 03:32] guoliu opened #2011 "`run-in-electron` example not working"
- **Version**:
js-ipfs version: 0.35.0-
Repo version: 7
System version: x64/darwin
Node.js version: v11.10.1

- **Platform**:
macOS 10.14.3

#### Type: Bug

#### Severity: Low

#### Description:
`run-in-electron` example throws error:

[code]

Looks like due to `async-iterator-to-pull-stream` not exporting transpiled ES5 code. See: https://github.com/alanshaw/pull-stream-to-async-iterator/issues/1

[2019-05-01 06:21] MonarthS opened #2854 "Live upload progress not showing"
When I Upload any file, it is not showing live uploaded status using progress;

The progress showed after whole file or folder is uploaded.

**CODE:**

[code]

**OUTPUT:**

![image](https://user-images.githubusercontent.com/40236229/57007579-564d7b00-6c07-11e9-88f9-cae41b8be5ac.png)

[2019-05-01 08:20] dirkmc opened #2012 "RFC: js-ipfs Garbage Collection"
This issue is to discuss how best to implement Garbage Collection in js-ipfs

### The go-ipfs Garbage Collector
We would like to learn from the experience of go-ipfs when building a Garbage Collector for js-ipfs.

#### Triggers

- Manual: `ipfs repo gc`
- Daemon flag: `--enable-gc` causes GC to run
  - only if storage exceeds `StorageGCWatermark`% of `StorageMax` (90% of 10G by default)
  - period

[2019-05-01 08:25] dirkmc commented on #2012
@Stebalien @magik6k could I ask for your input on the above proposal, and to correct anything I misunderstood about how go GC works

@alanshaw suggested using a tiered datastore. It would track
- references to a block
- the last access time of a block
- which blocks are used by GC internally

Please CC anyone else who you think might have knowledge of this area

[2019-05-01 19:24] Stebalien commented on #2012
Overall, that looks like a good proposal to me.

Note: `ipfs repo gc` doesn't have to use mark and sweep assuming you have passive reference counts.

That may not scale well. We can make this approximate ("accessed within the last day") to reduce the overhead of repeated access but this will still turn reads into writes.

Ideally, this would use a combination of frequency and recency.

[2019-05-02 06:07] jakehemmerle commented on #1996
I'll take it!

[2019-05-02 06:31] dirkmc commented on #2012
@Stebalien I was thinking that to minimize overhead I wouldn't maintain reference counts for blocks that are not pinned and not in MFS. Because `ipfs repo gc` is triggered manually it seems less of a problem for it to stop the world. Based on your experience with go-ipfs, which approach would you recommend for `ipfs repo gc` between mark-and-sweep (with less overhead) vs passive reference counts (

[2019-05-02 22:49] Jonybang opened #2014 "ENOTDIR: not a directory on start on Mac"
- **Version**: 0.4.8
- **Platform**: Darwin mac.local 17.7.0 Darwin Kernel Version 17.7.0: Thu Jun 21 22:53:14 PDT 2018; root:xnu-4570.71.2~1/RELEASE_X86_64 x86_64

#### Type: Bug

#### Severity: Critical

#### Description: Error on trying to start on Mac
[code]

#### Steps to reproduce the error:
[code]

[2019-05-03 07:57] alanshaw commented on #2014
Ensure there's no IPFS node running and if there's is, stop it and then try again. Two IPFS nodes can't use the same repo at the same time.

If that doesn't work and there's no nodes running then remove that file with `rm /Users/jonybang/.jsipfs/repo.lock` and then try again.

[2019-05-03 07:57] #2014 closed

[2019-05-03 08:25] alanshaw commented on #2012
We should ensure that a block sticks around for an hour at minimum even if not accessed. This allows us to manage expecations on how long data will persist on a preload node/gateway.

Access time would really help to more intelligently clean up blocks, ideally we wouldn't collect a block that is often accessed but not pinned. However, storing creation time instead would at least allow us to clean

[2019-05-03 08:28] alanshaw commented on #1897
Lets track this here now https://github.com/ipfs/js-ipfs/issues/2011

[2019-05-03 08:28] #1897 closed

[2019-05-03 08:29] alanshaw commented on #1584
Tracking for this issue has moved here https://github.com/ipfs/js-ipfs/issues/2011

[2019-05-03 08:29] #1584 closed

[2019-05-03 08:31] hugomrdias commented on #2011
FYI im in the process of adding support for electron-main and electron-renderer to aegir

[2019-05-03 08:36] alanshaw commented on #2010
What size files are you adding - is it just happening very quickly?

[2019-05-03 08:38] olizilla commented on #1941
If you are using node >= v12 the issue is due to the removal of native module apis from node v12 used by the `secp256k1` module

- https://github.com/bitcoinjs/tiny-secp256k1/issues/38
- https://github.com/cryptocoinjs/secp256k1-node/issues/142

js-ipfs has a transative dependency on that module, so won't build on node 12 until we find a fix.

[2019-05-03 08:45] alanshaw commented on #2009
To receive messages over pubsub your nodes either need to be connected directly to each other or connected to another node that is also subscribed to the topic.

Please either wait for the two nodes to discover one another over the rendezvous (use `swarm.peers` to check) or connect them directly with `swarm.connect` and then send your pubsub message.

If you're still having issues then please comm

[2019-05-03 08:45] #2009 closed

[2019-05-03 08:46] alanshaw commented on #2008
Thanks for reporting, this should hopefully be easy to fix!

[2019-05-03 09:05] alx696 commented on #2010
@alanshaw Adding 700MB file tooks more than 2s. `getReadableStream` takes more, the problem is DOM not updated. Am i write a wrong code? File size more than about 700MB will crash the Chrome.

Look source: https://github.com/alx696/share/blob/master/ipfs/x.js#L135 , `progressE.innerHTML` not refresh immediately.

Look demo: https://alx696.github.io/share/ipfs/

[2019-05-03 10:52] alanshaw commented on #2007
@achingbrain any chance you can take a quick look at this?

[2019-05-03 10:57] alanshaw commented on #2005
Just to reiterate what @reasv said, `files.rm` is for removing files from your MFS tree not for removing blocks from your repo. Garbage collection is what you need for this and it is being worked on right now. You can follow progress here https://github.com/ipfs/js-ipfs/issues/2012

[2019-05-03 10:57] #2005 closed

[2019-05-03 13:08] alanshaw commented on #1979
Do you have some working code you can share so I can look into where you're going wrong?

[2019-05-03 13:20] alanshaw commented on #1960
@gil-air-may go-ipfs doesn't have webrtc discovery or transport so you'll not be able to connect to it in this way.

It _does_ have a websockets transport though so you should be able to connect and use pubsub with it. The "exchange files in browser" example should help you set this up:

https://github.com/ipfs/js-ipfs/tree/master/examples/exchange-files-in-browser

[2019-05-03 13:20] #1960 closed

[2019-05-03 16:58] #2011 closed

[2019-05-03 19:18] Stebalien commented on #2012
Unless I'm mistaken, we shouldn't need to maintain reference counts for un-pinned blocks regardless. How does passive GC differ from active `ipfs repo gc` in this case?

...

True. For reference counts, we could also try some kind of write-ahead log. That should be pretty easy to maintain without too much overhead (one more write per block).

I'm not sure if the datastore has enough information fo

[2019-05-04 01:33] aphelionz opened #2016 "Old version of lodash sneaking in via zcash"
- **Version**: 0.35.0
- **Platform**: Browser (node.js seems fine)
- **Subsystem**: Dependencies

#### Type: Bug

#### Severity: Medium, breaks things outside of js-ipfs

#### Description:
It seems that when using `js-ipfs` in the browser, it accidentally kicks my `lodash` library back to 3.10.1.

#### Steps to reproduce the error:
1. `git clone https://github.com/ipfs/js-ipfs`
2. `npm install &&

[2019-05-04 03:14] dirkmc commented on #2012
You're right I don't think we need to maintain reference counts for blocks that are not pinned and not in MFS. If they are pinned or in MFS we will need to, because for example a block could be part of a file in MFS and also part of another file that's pinned.

Passive GC differs from active, manually run GC in that
- it is triggered when a block is added to the blockstore (if we're over the GC hi

[2019-05-04 07:09] dirkmc commented on #2012
Sorry @Stebalien I just realized what you meant - you're saying that if we're already reference counting we don't need to mark and sweep, we just remove all blocks that are not reference counted, is that right?

If that's the case then maybe it does make sense to skip the mark and sweep implementation, and go straight for the more sophisticated implementation with reference counting. Thoughts @ala

[2019-05-04 10:12] pruflyos opened #2017 "IPv6 host: OpenError: The operation failed for reasons unrelated to the database itself and not covered by any other error code."
- **Version**: 0.35.0
- **Platform**: Firefox 66.0.3 (64-bit)
- **Subsystem**:

#### Type: Bug

#### Severity: High

#### Description:
I have a OpenWrt uHTTPd server which is reachable on both IPv4 and IPv6 address. If I put the example file from https://github.com/ipfs/js-ipfs/tree/master/examples/browser-script-tag on that server and access it via IPv4 (http://192.168.1.1/jsipfstest.html) everyt

[2019-05-04 12:32] alanshaw commented on #2008
Fixed for this module in https://github.com/ipfs/js-ipfs/pull/2015 but a couple of dependencies are still using the old version and need to be upgraded. I've opened issues:

* https://github.com/libp2p/js-libp2p-webrtc-star/issues/172
* https://github.com/ipfs/js-ipfsd-ctl/issues/331

[2019-05-04 12:33] #2008 closed

[2019-05-04 12:39] alanshaw commented on #2016
This is being tracked here https://github.com/ipld/js-ipld-zcash/issues/24 - there's unfortunately not much more we can do about it.

Note as of 0.35 zcash is only included in the pre-built CDN bundle and is not included by default if you `require('ipfs')` in your application.

[2019-05-04 12:39] #2016 closed

[2019-05-04 21:31] KeithSSmith opened #2018 "Docker fails to init"
- **Version**: latest
- **Platform**: Dockerfile
- **Subsystem**: Node 9.5.0

#### Type:
Bug

#### Severity:
High b/c container fails to start

#### Description:
Attempting to run a Docker instance on my Linux server and when I issue the recommended command the Dockerfile is unable to initialize the IPFS instance and returns `Unexpected token *` this in turn fails to create the config file that is

[2019-05-04 21:43] KeithSSmith opened #2019 "IPFS Fails to start with nodejs_gc_runs_total has already been registered"
- **Version**: 0.35.0
- **Platform**: Docker image node:10-jessie
- **Subsystem**: Node.js10.15.3

#### Type:
Bug

#### Severity:
Medium

#### Description:
Building an updated Dockerfile (https://github.com/KeithSSmith/js-ipfs-docker/blob/master/Dockerfile) and the steps above allow the Docker image to build and initialize but when the Daemon is started it fails to start with the error:

[code]

#

[2019-05-05 17:35] bleonard252 commented on #2018
I doubt this issue is solely Docker related. When I'm `require()`ing it in NodeJS it crashes with the same error.

[2019-05-05 17:38] gil-air-may commented on #2018
Experiencing the same `Unexpected token * `

[2019-05-06 21:29] guoliu commented on #2011
@hugomrdias thanks for the fast response!

[2019-05-06 22:58] Stebalien commented on #2012
That's what I meant however, going the simpler route first is probably still the better solution. On the other hand, that depends on how pressing fixing this is.

[2019-05-08 02:32] alx696 commented on #1978
@rmisio Try to set **Swarm**:
[code]
My demo run in browser. Can not get anything before set **Swarm**.

[2019-05-08 06:35] satazor commented on #1941
They landed a new version with a fix: https://github.com/cryptocoinjs/secp256k1-node/issues/142#issuecomment-490365020

[2019-05-08 18:45] achingbrain opened #2023 "Error codes"
Since we've started using the [`err-code`](https://www.npmjs.com/package/err-code) module, we can add a string `code` property to JS errors and assert on that in tests, etc.

I notice some people use the form `ERR_OH_NOES` instead of what appears to be the idiomatic (well - node/inherited from Unix) style of `EOHNOES`.

Was there a reason for this or did the first person to use the module just lik

[2019-05-09 08:19] alanshaw commented on #2023
I don't have strong opinions on the format for naming but we should at least try to be consistent. Node.js uses both, with [`ERR_` prefixed errors reserved for Node.js specific errors](https://github.com/nodejs/node/blob/422e8f762873aef4a37185f3237c0d666c929d8e/lib/internal/errors.js#L619). I believe the majority of codes added so far are `ERR_` prefixed so it would be easier to stick to it at thi

[2019-05-09 08:54] alanshaw opened #2024 "⚡️ v0.36.0 RELEASE 🚀"
# 🗺 What's left for release

* [x] [refs and refs local](https://github.com/ipfs/js-ipfs/pull/2004)
* [x] [change default encoding for CIDv1 to base32](https://github.com/ipfs/js-ipfs/pull/2068)
* [x] [MDNS compatibility](https://github.com/libp2p/js-libp2p-mdns/pull/80)
* [x] [Add support for File DOM API](https://github.com/ipfs/js-ipfs/pull/2013)

# 🔦 Highlights

## 🧬 Base32 encoding for v1 CID

[2019-05-09 08:59] alanshaw commented on #2017
Was there a stack trace with that error?

[2019-05-09 09:00] alanshaw commented on #2018
Node.js 10 is the current minimum compatible version

[2019-05-09 09:00] #2018 closed

[2019-05-09 09:55] alanshaw commented on #1670
@kumavis ideally we'd tackle the list according to the priority so that no single module refactor is blocked by other module refactors and also minimise the time a large refactor PR stays open.

We need to consider carefully any work we to to allow both implementations to exist at the same time since it is temporary (will be removed when everything switches), can have perf/maintenance implications

[2019-05-09 11:41] jacobheun commented on #2024
MDNS compatibility was released as a patch release, v0.12.3. New installs should get the update automatically.

[2019-05-09 11:56] alanshaw commented on #2024
👍 going to toot about it here anyway 😁

[2019-05-09 23:55] Jonybang opened #2031 "TypeError: Expected a value of type `undefined` for `ipld` but received `{}`."
- **Version**: 0.35.0
- **Platform**: Darwin mac.local 17.7.0 Darwin Kernel Version 17.7.0: Thu Jun 21 22:53:14 PDT 2018; root:xnu-4570.71.2~1/RELEASE_X86_64 x86_64

#### Type: Bug

#### Severity: Medium

#### Description: Error on trying to pass ipld option as described in documentation
[code]

#### Steps to reproduce the error:
[code]

[2019-05-10 08:14] alanshaw commented on #2031
Thanks for reporting, any chance you could send a PR to fix this up for us @Jonybang?

[2019-05-10 08:15] Jonybang commented on #2031
@alanshaw i think i could. I will try

[2019-05-10 08:43] greenkeeper[bot] opened #2032 "An in-range update of update-notifier is breaking the build 🚨"
## The dependency [update-notifier](https://github.com/yeoman/update-notifier) was updated from `2.5.0` to `2.6.0`.

🚨 [View failing branch](https://github.com/ipfs/js-ipfs/compare/master...ipfs:greenkeeper%2Fupdate-notifier-2.6.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

update-notifier is a direct dependency of t

[2019-05-10 11:24] lidel commented on #1995
@alanshaw thank you for leading this on JS end!
Will https://github.com/multiformats/js-cid/pull/89 land in the next js-ipfs release?

[2019-05-10 11:27] alanshaw commented on #1995
yes -> https://github.com/ipfs/js-ipfs/issues/2024

[2019-05-10 15:29] dirkmc commented on #2012
I've implemented mark-and-sweep in https://github.com/ipfs/js-ipfs/pull/2022 but there is currently no locking.

go-ipfs uses a special Blockstore that implements the [GCLocker interface](https://github.com/ipfs/go-ipfs-blockstore/blob/master/blockstore.go#L59):
[code]

@alanshaw @achingbrain do you think it makes sense for us to follow a similar approach? It would mean modifying js-ipfs-repo's in

[2019-05-10 16:47] Stebalien commented on #2012
This doesn't actually _have_ to go on the repo, you just need to make sure to take a read-lock when adding blocks and a write lock when garbage collecting.

[2019-05-11 00:39] kumavis commented on #1670
@alanshaw thats what i like about my iterative non-breaking approach
- :house_with_garden: no breaking changes to public interface or behavior, only internal changes
- :hammer_and_wrench: wrap consumed apis in promisify/etc
- :goal_net: not blocked by dependencies
- :tada: ready to merge now
- :package: async refactor of large module can be done across a few PRs to make review easier and avoid con

[2019-05-11 23:33] kumavis commented on #1670
where is the `ipld-selector` module listed in the chart? I can't find the repo and there is not a module on npm by that name

[2019-05-11 23:41] kumavis commented on #1670
wanted to see the remaining red repos by priority, heres what the top ones currently look like
[code]

[2019-05-12 01:35] npfoss opened #2045 "Pinning not persistent through soft refreshes"
- **Version**: 0.35.0
- **Platform**: Ubuntu 16.04, Chrome 74.0.3729.131

#### Type: Bug/Question

#### Severity: Medium?

#### Description:
I'd like to pin things in the browser's localStorage for faster retrieval the next time a user visits my site, but can't seem to get pinned items to persist even soft reloads.

#### Steps to reproduce the error:
Open the following html file in your browser an

[2019-05-12 14:47] Jonybang opened #2046 "Error: Key does not exist. on pass account id to name.publish"
- **Version**: 0.35.0
- **Platform**: Darwin mac.local 17.7.0 Darwin Kernel Version 17.7.0: Thu Jun 21 22:53:14 PDT 2018; root:xnu-4570.71.2~1/RELEASE_X86_64 x86_64

#### Type: Bug

#### Severity: Medium

#### Description: Error on trying to pass account Peer ID instead of name to ipfs.name.publish
[code]

#### Steps to reproduce the error:
[code]

[2019-05-13 04:12] greenkeeper[bot] opened #2047 "An in-range update of yargs is breaking the build 🚨"
## The dependency [yargs](https://github.com/yargs/yargs) was updated from `13.2.2` to `13.2.4`.

🚨 [View failing branch](https://github.com/ipfs/js-ipfs/compare/master...ipfs:greenkeeper%2Fyargs-13.2.4).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

yargs is a direct dependency of this project, and **it is very likely c

[2019-05-13 08:42] alanshaw commented on #2046
@vasco-santos do you have a sec to look into this one please?

[2019-05-13 09:52] vasco-santos commented on #2046
Hello @Jonybang , thanks for reaching out

Currently, you cannot access the keychain without starting a node with a pass ([how to start with a pass](https://github.com/ipfs/js-ipfs#optionsinit))

In the current code example, I cannot reproduce your error because I cannot get `node.key.list()`. However, you should use the `key` name instead of the `id` in the publish. Take this as an [example](http

[2019-05-13 10:21] alanshaw commented on #1670
https://github.com/ipld/js-ipld-selector

[2019-05-13 12:08] #2031 closed

[2019-05-13 14:21] alanshaw commented on #2047
Travis/npm hicup I think - it later passed the tests and I merged the PR https://github.com/ipfs/js-ipfs/pull/2053

[2019-05-13 14:21] #2047 closed

[2019-05-13 14:22] alanshaw commented on #2032
Problem with windows on Travis - it later passed and was merged https://github.com/ipfs/js-ipfs/pull/2034

[2019-05-13 14:22] #2032 closed

[2019-05-13 14:54] Jonybang commented on #2046
I have no problems with passing name instead of peer id, but it makes my code more complicated, i have only peer id on input, so i made hotfix like this:
[code]
But it would be great if js-ipfs code will follows the documentation, so i could remove this hotfix in the future 😊

[2019-05-13 14:55] alanshaw commented on #2012
@dirkmc can you flesh out what it might look like and where we'd have to place code to lock/unlock? This sounds sensible on the surface but I don't have the time to dig in right now.

Note that MFS has locking, it might be worth checking out how that is implemented. @achingbrain would be able ot answer questions you have about it.

[2019-05-13 15:02] alanshaw commented on #2046
What's the reason for this @vasco-santos? Is it a bug?

[2019-05-13 15:20] vasco-santos commented on #2046
In fact, we do not support the key as a `peer-id`, just the name, which in the majority of the cases is the user-friendly approach.

That is a misleading doc and should be modified. However, @Jonybang are you willing to give it a try in adding support for supporting a peer id?

Documentation bug yes! We only support the name of the key

[2019-05-13 15:43] dirkmc commented on #2012
The go implementation uses a read/write mutex composed of:
- GC lock, a write lock taken when
  - [GC runs](https://github.com/ipfs/go-ipfs/blob/master/pin/gc/gc.go#L45)
  - [Blocks are removed](https://github.com/ipfs/go-ipfs/blob/master/blocks/blockstoreutil/remove.go#L44) (`ipfs block rm`)
- Pin Lock, a read lock taken by
  - [block put](https://github.com/ipfs/go-ipfs/blob/master/core/coreapi/

[2019-05-13 16:26] alanshaw commented on #2046
@vasco-santos would you mind opening a PR to fix the docs for now? 🙏

@Jonybang does this answer your question? Did you get things working now?

[2019-05-13 17:23] vasco-santos commented on #2046
Done!

[2019-05-13 18:33] npfoss commented on #754
This isn't a solution to the original issue, but I would like to save people who end up here from Google like me.

PSA: If you want to maintain a constant identity/private key across tabs and page refreshes, just use a fixed repo name when initializing your IPFS node in the browser.

[2019-05-13 21:45] Jonybang commented on #2046
@alanshaw now docs is match to code, yes 😅
But i think its not right - to restrict implementation in that way, because in fact we bind hash to peer id, not to name, and name may changing. Anyway this is a discussion question and not a bug anymore, so i will close this issue. Maybe i should to create new issue for discussion? if so, in what repo?

[2019-05-13 21:45] #2046 closed

[2019-05-13 22:40] vasco-santos commented on #2046
@Jonybang I do not agree with your reasoning.

When you generate a key for an ipfs node using using [key.gen](https://github.com/ipfs/interface-js-ipfs-core/blob/master/SPEC/KEY.md#keygen)

[code]

You define a key that you want your node to use. After this, you start your node, which will be node with peer id `x` and you do:

[code]

or:

[code]

Of course, the best approach depends on the use ca

[2019-05-13 23:16] Jonybang commented on #2046
@vasco-santos i think there is a misunderstanding. I didn't said that passing `name` is bad, its good and very useful, you done a great job guys, thank you. But it would be cool if there will a possibility to pass `peer id` too because it permanent, that's all 😊
I will create discussion PR

[2019-05-14 08:15] alanshaw commented on #2046
+1 please send PR! 😁

[2019-05-14 08:20] alanshaw commented on #1996
@jakehemmerle did you make any progress with this?

[2019-05-14 08:22] alanshaw opened #2057 "Add `ipfs bitswap stat --human`"
See https://github.com/ipfs/go-ipfs/pull/6258 for details.

[2019-05-14 08:49] #1941 closed

[2019-05-14 08:50] #2023 closed

[2019-05-14 09:09] alanshaw commented on #2017
I do not get that error but this works for me in Firefox:

<img width="1072" alt="Screenshot 2019-05-14 at 09 58 14" src="https://user-images.githubusercontent.com/152863/57685062-f4413c80-762e-11e9-855a-be553b40d7c8.png">

...but is not considered secure in Chrome and I think we're not properly detecting secure context so webcrypto is failing:

<img width="1072" alt="Screenshot 2019-05-14 at 09 5

[2019-05-14 14:34] lidel commented on #2017
@alanshaw it is a known issue with WebCrypto: it requires [Secure Context](https://developer.mozilla.org/en-US/docs/Web/Security/Secure_Contexts) (deploy over HTTPS or localhost IP). Firefox does not implement secure context requirement for it yet, but there is an [open issue](https://bugzilla.mozilla.org/show_bug.cgi?id=1333140) to do it.

**tl;dr** to test this without triggering secure context

[2019-05-14 17:16] jakehemmerle commented on #1996
@alanshaw sorry for the delay, just finished moving and I'm starting classes this week. I have made some progress but I'm still learning js-ipfs internals. Feel free to reopen this if it needs to get done within a few days

[2019-05-16 09:12] wlegate commented on #1166
I'd be interested in helping out on this if IPFS isn't going to add typings to this repo

[2019-05-16 10:00] mikeal commented on #2012
In the future, it might be a good idea to make more explicit separations between APIs that store data and those that do not. Right now, there are APIs that “happen to store data until there is a gc” and APIs that store data indefinitely (pinned). If instead, API’s that do not pin data also did not store that data **at all** you wouldn’t be violating any assumptions users might have with smarter GC

[2019-05-16 13:13] dirkmc opened #2060 "config.get() should return a number if a number was set"
This [interface-js-ipfs-core test](https://github.com/ipfs/interface-js-ipfs-core/blob/master/src/config/set.js#L62) is currently failing because `config.get()` returns `'11'` as a string instead of `11` as a number

[2019-05-16 14:53] dirkmc opened #2061 "RFC: Make it easier to contribute to js-ipfs"
Currently it's quite complicated to contribute to js-ipfs because
1. It's a large project with many moving parts
2. Tests take a long time to run
3. Most changes to js-ipfs require changes to dependent repos, eg interface-js-ipfs-core

I'm opening this issue as an RFC for ways to make it easier to contribute, please add your suggestions below.

[2019-05-16 14:56] dirkmc commented on #2061
I suggest we
- refactor README.MD into smaller pieces
- update CONTRIBUTING.MD to add more information about how pieces of the project are related to each other (eg interface-js-ipfs-core)

[2019-05-16 16:40] dirkmc commented on #2061
I suggest we add a way to run specific sets of tests with a glob, eg just the http interface refs* tests

[2019-05-16 17:23] greenkeeper[bot] opened #2062 "An in-range update of ipfs-http-client is breaking the build 🚨"
## The dependency [ipfs-http-client](https://github.com/ipfs/js-ipfs-http-client) was updated from `31.0.1` to `31.0.2`.

🚨 [View failing branch](https://github.com/ipfs/js-ipfs/compare/master...ipfs:greenkeeper%2Fipfs-http-client-31.0.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ipfs-http-client is a direct depende

[2019-05-17 00:33] agentofuser commented on #1941
I still have this problem. Has there been a release of js-ipfs that fixes it?

[2019-05-17 00:37] wlegate commented on #1941
After spending a few days trying to work through the source code & various Issues/PRs, I ended up giving up and using [ipfs-mini](https://github.com/silentcicero/ipfs-mini#readme) to connect to a public IPFS node… not ideal, but I got it up & running in minutes

[2019-05-17 05:42] alanshaw commented on #1941
@agentofuser this should have been fixed in an in range update - can you double check you dont have a lock file that’s causing an older version to be installed? I will also double check this.

[2019-05-17 05:46] alanshaw commented on #1941
@wlegate I was unaware the http client had issues on Node.js 12 - I’ve not had an issue reported on https://github.com/ipfs/js-ipfs-http-client/issues and I’ve not had a chance to check it myself. I’ll look into this also.

It’s unfortunate it’s taken so long to fix but unfortunately it was upstream dependencies that needed fixing that we have no control over.

[2019-05-17 12:33] agentofuser commented on #1941
@alanshaw the problem is the lockfile in bitcoinjs-lib, which ipld-bitcoin depends on, which js-ipfs depends on:

https://github.com/bitcoinjs/bitcoinjs-lib/blob/master/package-lock.json#L1938

I've made a pull request to update it to tiny-secp256k1 v1.1.1:

https://github.com/bitcoinjs/bitcoinjs-lib/pull/1398

I'm not using ipld at all though. It would be nice to use js-ipfs without pulling in al

[2019-05-17 12:33] alanshaw commented on #1941
@agentofuser I checked checked and I was able to clean install using Node.js 12.2.0. You may have seen a warning message about an _optional dependency_ `rabin` failing to install - which makes it look like it failed but it did not.

`rabin` will be fixed soon - waiting on a publish to npm: https://github.com/datproject/rabin/pull/28

Here's the end of my npm output, showing `rabin` failing to inst

[2019-05-17 12:36] alanshaw commented on #1941
npm doesn't use lockfiles when installing dependencies (only shrinkwrap) - are you using yarn or something?

[2019-05-17 12:37] agentofuser commented on #1941
Hm, yeah, I'm using yarn. Didn't know of this difference in behavior. Will try with npm.

[2019-05-17 12:43] agentofuser commented on #1941
@alanshaw yep, worked with npm! Thank you for the tip. I'll pass that instruction along until yarn catches up.

[2019-05-17 13:31] greenkeeper[bot] opened #2065 "An in-range update of webpack-dev-server is breaking the build 🚨"
## The devDependency [webpack-dev-server](https://github.com/webpack/webpack-dev-server) was updated from `3.3.1` to `3.4.0`.

🚨 [View failing branch](https://github.com/ipfs/js-ipfs/compare/master...ipfs:greenkeeper%2Fexamples%2Fwebpack-dev-server-3.4.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webpack-dev-server

[2019-05-17 14:08] #2062 closed

[2019-05-17 14:08] #2065 closed

[2019-05-17 14:09] alanshaw commented on #2024
`0.36.0-pre.0` is out now for testing 🚀

Note: **does not include** change default encoding for CIDv1 to base32

[2019-05-17 21:48] kav commented on #2061
Related proposal: https://github.com/ipfs/team-mgmt/issues/834

[2019-05-17 23:38] kav commented on #2061
Also, as a user who is not a contributor but has looked at contributing I'd propose there is another issue.
4. Issues are often sufficiently clear to current contributors but not clear at all to new contributors. (e.g. https://github.com/ipfs/js-ipfs-http-client/issues/142)

[2019-05-18 04:14] jakehemmerle commented on #1996
@alanshaw it looks like the logic for changing the stats data to human readable format should be written in https://github.com/ipfs/js-ipfs-repo/blob/master/src/index.js inside the if block on line 314. I believe this ticket should get moved to that repo, unless I am missing something.

[2019-05-18 08:44] kumavis commented on #1670
felt try/catch/finally felt awkward in some cases where callbacks were more flexible

for example when checking an abort signal and possibly ignoring an error
[code]

heres an alternative inspired by rust syntax
[code]
where `tryCatch` is
[code]

[2019-05-18 10:09] hugomrdias commented on #1670
You can use promises interface in these cases

[2019-05-18 10:46] achingbrain commented on #1670
I think it’s better to keep the JS idiomatic

[code]

[2019-05-18 17:02] hugomrdias commented on #2061
you can do `npx aegir test -t node --grep <pattern>` to filter tests

[2019-05-19 01:52] x5engine commented on #1304
nice

[2019-05-20 03:43] dirkmc commented on #2061
Good tip @hugomrdias 👍 We should add that to the contributing guidelines

[2019-05-20 03:46] dirkmc commented on #2061
@kav that's a good point. I like the way that the go-filecoin project structure their issues, so that a new contributor not only has a lot of context but also is given an idea of where in the code to start, eg see https://github.com/filecoin-project/go-filecoin/issues/2729

[2019-05-20 08:26] greenkeeper[bot] opened #2069 "An in-range update of react-hot-loader is breaking the build 🚨"
## The devDependency [react-hot-loader](https://github.com/gaearon/react-hot-loader) was updated from `4.8.6` to `4.8.7`.

🚨 [View failing branch](https://github.com/ipfs/js-ipfs/compare/master...ipfs:greenkeeper%2Fexamples%2Freact-hot-loader-4.8.7).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

react-hot-loader is a dev

[2019-05-20 11:06] greenkeeper[bot] opened #2071 "An in-range update of webpack is breaking the build 🚨"
## The devDependency [webpack](https://github.com/webpack/webpack) was updated from `4.31.0` to `4.32.0`.

🚨 [View failing branch](https://github.com/ipfs/js-ipfs/compare/master...ipfs:greenkeeper%2Fexamples%2Fwebpack-4.32.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webpack is a devDependency of this project. It **

[2019-05-21 11:37] #2069 closed

[2019-05-21 11:37] #2071 closed

[2019-05-21 12:08] #1995 closed

[2019-05-21 13:11] alanshaw opened #2082 "`ipfs refs` lists same CID multiple times"
[code]

cc @dirkmc

[2019-05-21 13:28] dirkmc commented on #2082
@alanshaw do you have some test data that I can use to repro?

[2019-05-21 13:57] alanshaw commented on #2082
It's ok - go-ipfs does the same thing - I wasn't using the `unique` flag.

[2019-05-21 13:57] #2082 closed

[2019-05-21 15:24] alanshaw opened #2084 "Object API breaks with small nodes and raw leaves"
Adding content with CID version 1 forces raw leaves. For data that is small enough to fit in a single chunk you'll get back a "raw" CID, which IPLD resolves to a Buffer.

https://cid.ipfs.io/#bafkreiae3rrggi2h6v6cvfwj7ugqdkourqhkdasxfopme67sbojl34pv7u

The object API breaks when this happens. e.g.

[code]

[2019-05-21 21:05] alanshaw commented on #2024
0.36.0-rc.0 is out now for testing 🚀

[2019-05-22 02:18] AuHau commented on #1115
@alanshaw @achingbrain so all PRs are ready for review:

https://github.com/ipfs/js-ipfs/pull/2044
https://github.com/AuHau/js-ipfs-repo-migrations/pull/1

Fyi, I will be offline big part of June, so I can work on your remarks before cca June 10th or then in July.

[2019-05-22 11:05] #2024 closed

[2019-05-22 11:23] #1575 closed

[2019-05-22 12:54] lidel opened #2090 "ipfs.add fails with TypeError: "can't convert undefined to object""
- **Version**: 0.36.0, prebuild browser bundle
- **Platform**: web browser (Chrome & Firefox)
- **Subsystem**: `ipfs.add`

#### Type: Bug

#### Severity: High

#### Description:

`ipfs.add` with [prebuilt bundle for use in browser](https://unpkg.com/ipfs@0.36.0/dist/index.min.js) produces error:

![2019-05-22--14-46-42](https://user-images.githubusercontent.com/157609/58175727-1b3be600-7ca1-11e9-8

[2019-05-22 13:24] alanshaw commented on #2090
https://github.com/ipld/js-ipld-dag-pb/blob/d02c65918e537380ad2844b2573283def30098b4/src/dag-node/addNamedLink.js#L14 should be `Object.keys(object)` not `Object.keys(this)`.

[2019-05-22 13:38] alanshaw commented on #2090
@hugomrdias any chance you can look into why this wasn't caught in our browser tests?

[2019-05-22 13:51] vmx commented on #2090
I've opened https://github.com/ipfs/aegir/issues/362 to track the issue on Browser tests not running against the same code as the dist bundle contains.

[2019-05-22 13:51] #2090 closed

[2019-05-22 13:59] greenkeeper[bot] opened #2091 "An in-range update of dlv is breaking the build 🚨"
## The dependency [dlv](https://github.com/developit/dlv) was updated from `1.1.2` to `1.1.3`.

🚨 [View failing branch](https://github.com/ipfs/js-ipfs/compare/master...ipfs:greenkeeper%2Fdlv-1.1.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

dlv is a direct dependency of this project, and **it is very likely causing

[2019-05-22 15:09] rmisio commented on #1978
@alx696 When I add that to my config, my node 'ready' event never fires and after a few seconds I get this error:

[code]

I'm using this as my config:

[code]

I've tried both with and without that `EXPERIMENTAL` key and it's the same behavior.

What's really odd is that before adding the custom swarm above, my node ready fires and outside of my content being available outside of my machine, thin

[2019-05-22 19:48] satazor opened #2093 "Call for help - Limitations with js-ipfs"
Hello everyone!

This is a call for help 🙏. As some of you know, I'm going to give a workshop about [IDM](https://github.com/ipfs-shipyard/pm-idm) and Nomios in IPFS Camp. In a glimpse, IDM is a concept and specification for an Identity Wallet, based on [DIDs](https://w3c-ccg.github.io/did-spec/), [Verifiable Credentials](https://www.w3.org/TR/verifiable-claims-data-model/) and DID-Auth. Nomios is

[2019-05-22 20:46] satazor commented on #2093
//cc @lidel

[2019-05-23 06:51] daviddias commented on #2093
@satazor the underlying cause to all the confusion (and probably a ton of debugging hours wasted) is that you have an expectation that a js-ipfs node without any extra configuration, will be able to connect to any node in the network, magically.

This is completed fair and granted and it is the world we want to be, however, challenges with implementing a DHT that doesn't make the browser explode,

[2019-05-23 07:04] daviddias commented on #2093
Also related:
- https://github.com/ipfs/js-ipfs/issues/1984
- https://github.com/ipfs/js-ipfs/issues/1923

[2019-05-23 07:13] daviddias commented on #1115
@AuHau gave you write access so that in the future you can do PRs from branches within the repo :)

[2019-05-23 07:16] daviddias commented on #1203
@jacobheun @vasco-santos can you confirm if this is still a bug or link to a tracking issue on libp2p land?

[2019-05-23 08:12] jacobheun commented on #1203
This works for both TCP and Websockets.

For example, updating your Swarm config to:
[code]
Will get you something like:
[code]

[2019-05-23 08:12] #1203 closed

[2019-05-23 08:37] jacobheun commented on #2093
### DHT

The DHT will be enabled soon, however it is still going to be somewhat slow for browsers and nodes behind NATs. Until we can get improved support for direct dialing other browsers, like hopefully 🤞 via WebRTC next https://github.com/arewedistributedyet/arewedistributedyet/issues/22#issuecomment-411258200, queries on the network take time.

The peer discovery component (randomWalk) that we

[2019-05-23 09:45] daviddias commented on #2093
@jacobheun I need a clarification. Why is refs on js-ipfs important for the Delegated Routing? I believe that the intention is for the "Delegated Nodes" to be go-ipfs ones and not js-ipfs. js-ipfs would use those nodes to do Delegated Peer Routing and pre-fetching.

Do we have tests for the delegated routing functionality? That test with the real public infrastructure?

[2019-05-23 09:53] greenkeeper[bot] opened #2095 "An in-range update of file-type is breaking the build 🚨"
## The dependency [file-type](https://github.com/sindresorhus/file-type) was updated from `11.0.0` to `11.1.0`.

🚨 [View failing branch](https://github.com/ipfs/js-ipfs/compare/master...ipfs:greenkeeper%2Ffile-type-11.1.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

file-type is a direct dependency of this project, an

[2019-05-23 10:23] alanshaw commented on #2093
My original plan was to release JS IPFS 0.37 with the DHT in time for IPFS Camp.

Content preloading should hopefully be working better by the time camp comes round. The preload nodes are currently running an old (possibly broken) version of go-ipfs. I've been talking to infra and when 0.4.21 is released they'll be updated at the same time. This will happen for future releases too.

Are there know

[2019-05-23 10:26] alanshaw commented on #2093
@jacobheun we also need connection tagging for the preload nodes - currently they are part of the bootstrap nodes but connection manager could easily prune them when DHT comes along.

[2019-05-23 10:28] pgte commented on #2093
Re. landing the DHT, I'm proposing to help on https://github.com/ipfs/js-ipfs/pull/1994

[2019-05-23 10:52] satazor commented on #2093
@daviddias I will be answering inline

I think we could improve the DX in these situations. Developers evaluating IPFS in the browser will experience the same issues and most of them will give up. While things don't work automatically, couldn't we print a `console.warn` saying: "It seems you are running JS IPFS within the browser without a suitable discovery & protocol, meaning other peers won't b

[2019-05-23 10:52] jacobheun commented on #2093
Having refs on js isn't important, but it would be nice to have.  Yes, the original intention was to expose those on go. The support is there, but it still hasn't been deployed, afaik.

The example in libp2p can and **should** be pointing at the public network, however the gateway doesn't have the configuration to turn the needed endpoints on at the moment, the needed endpoints 404. The api also a

[2019-05-23 11:01] jacobheun commented on #2093
There are improvements we can get out that will help, but realistically the DHT is going to be slow until we can get direct connections to peers quickly. In small networks the DHT would be relatively fast, because the paths are short, but if we're in the global network it's going to be slow. We also have to contend with dead/undialable nodes in the DHT that can block.

If the network being demo'd

[2019-05-23 11:05] jacobheun commented on #2093
@satazor they should be fairly stable. I'm currently working with infra to take hand off of those. We might move those to new machines and give better dns entries to the latter two, but they should be fine for demoing on. If we want to isolate the network to help better control query times, then servers specifically for the workshop might help.

[2019-05-23 11:34] greenkeeper[bot] opened #2097 "An in-range update of react-hot-loader is breaking the build 🚨"
## The devDependency [react-hot-loader](https://github.com/gaearon/react-hot-loader) was updated from `4.8.7` to `4.8.8`.

🚨 [View failing branch](https://github.com/ipfs/js-ipfs/compare/master...ipfs:greenkeeper%2Fexamples%2Freact-hot-loader-4.8.8).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

react-hot-loader is a dev

[2019-05-23 13:43] dirkmc commented on #2093
It's also worth mentioning that DHT performance depends on the go implementation being performant, and maintainers updating their local instances, as there are currently thousands of live go DHT nodes behind NATs that time out, clogging up DHT queries. eg see: https://github.com/libp2p/go-libp2p-kad-dht/issues/88 https://github.com/ipfs/go-ipfs/issues/3860

[2019-05-23 14:18] daviddias commented on #2093
Similar to http://github.com/ipfs/interop, I believe it is time to have a http://github.com/ipfs/integration for integration tests on pre-release, that test new versions of IPFS (both JS and Go) against the Live Network.

[2019-05-23 14:42] greenkeeper[bot] opened #2098 "An in-range update of ipns is breaking the build 🚨"
## The dependency [ipns](https://github.com/ipfs/js-ipns) was updated from `0.5.1` to `0.5.2`.

🚨 [View failing branch](https://github.com/ipfs/js-ipfs/compare/master...ipfs:greenkeeper%2Fipns-0.5.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ipns is a direct dependency of this project, and **it is very likely causin

[2019-05-23 15:02] greenkeeper[bot] opened #2099 "An in-range update of libp2p-record is breaking the build 🚨"
## The dependency [libp2p-record](https://github.com/libp2p/js-libp2p-record) was updated from `0.6.2` to `0.6.3`.

🚨 [View failing branch](https://github.com/ipfs/js-ipfs/compare/master...ipfs:greenkeeper%2Flibp2p-record-0.6.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

libp2p-record is a direct dependency of this p

[2019-05-23 15:24] greenkeeper[bot] opened #2100 "An in-range update of ipfs-unixfs-importer is breaking the build 🚨"
## The dependency [ipfs-unixfs-importer](https://github.com/ipfs/js-ipfs-unixfs-importer) was updated from `0.39.6` to `0.39.7`.

🚨 [View failing branch](https://github.com/ipfs/js-ipfs/compare/master...ipfs:greenkeeper%2Fipfs-unixfs-importer-0.39.7).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ipfs-unixfs-importer is

[2019-05-23 15:30] satazor commented on #2093
An update regarding IPNS: I've successfully tested https://github.com/ipfs/js-ipfs/tree/feat/ipns-over-workers branch on the browser. It's really fast because it's a simple REST API and requires internet connection, but I think it's a good compromise for the workshop.

[2019-05-23 15:44] jacobheun commented on #2093
Regarding webrtc, there is a spec proposal for having any libp2p node support signaling, https://github.com/libp2p/specs/pull/159. This could potentially help a lot with connectivity of the network and would rely less on central servers. We could still use bootstrap nodes for the initial network discovery, but if a significant portion of the network supported the protocol that could be really impa

[2019-05-23 16:57] hugomrdias commented on #1875
This issue is resolved in the last release.

[2019-05-23 16:57] #1875 closed

[2019-05-23 18:01] mistakia commented on #1254
I'm able to get version `0.34.4` (as thats the latest working version with ipfs-log/OrbitDB) running on version `0.4.1` of `nodejs-mobile-react-native` which ships with node `10.13.0`. I'm still needing to browserify and babilify for performance reasons and to avoid the issues @pedrouid was seeing. Also, I'm still patching the `human-to-milliseconds` package.
[code]

Everything works when no repo

[2019-05-23 18:43] dirkmc opened #2103 "Add locks for pinning"
Currently there is no locking mechanism when modifying pins.

We should take a lock when performing any kind of pin operation, in order to prevent simultaneous pins from interfering with each other.

For example when [adding a pin](https://github.com/ipfs/js-ipfs/blob/master/src/core/components/pin.js#L172), we
- resolve the path
- get the object
- flush the pins
  - store direct pins (1)
  - stor

[2019-05-24 06:04] satazor commented on #2012
A very small note to when this is released: warn the OrbitDB people once this is done because they aren’t calling `ipfs.pin.add`, meaning data can be lost.

[2019-05-24 07:02] Prabhakar-Poudel commented on #2007
Looks like this issue does not exist in version 0.36.0
Tried in 0.35.0 with above reproduction steps and did see the error.
But the same did not happen when I tried it through dev setup, which is at 0.36.0

@lidel Can you verify?

[2019-05-24 07:57] alanshaw opened #2106 "Allow multiple files for block.put and dag.put"
Currently `block.put` and `dag.put` accepts only one file, this allows it to accept multiple.

See https://github.com/ipfs/go-ipfs/pull/6331

[2019-05-24 08:31] KrishnaPG commented on #229
While using the `js-ipfs` in node, encountering this error:
[code]
During the development, the app is being restarted with code modifications, which leads to the above error frequently. Previous instance holding the lock is fine, but how to override / release it in new instance ?

[2019-05-24 08:55] KrishnaPG commented on #1835
Same problem here. During the development, it is imperative that the app will be restarted with code modifications frequently, which leads to the "Lock file is already being hold" error frequently.

Previous instance holding the lock is fine, but how to override / release it in new instance ? Is there anything we can do in the code to resolve this situation and force the node to `start` ??

This m

[2019-05-24 10:46] #2100 closed

[2019-05-24 12:16] dirkmc commented on #2012
Thanks @satazor. Could you point me to the piece of code where that happens? Note that `ipfs.add()` will pin by default

[2019-05-24 13:33] satazor commented on #2012
@dirkmc They are using `ipfs.dag.put` which doesn’t pin by default (I think). Here it is: https://github.com/orbitdb/orbit-db-io/blob/master/index.js

[2019-05-24 16:09] Stebalien commented on #2106
Note: the compatibility issue is that we'd need to return a stream of values instead of one. `js-ipfs-http-client` considers this to be a breaking change.

[2019-05-24 18:17] lidel commented on #2007
I can confirm, the issue is fixed in 0.36.0! :sparkles:
Probably due to MFS refactoring pulled in with base32 switch for cidv1 :)

[2019-05-24 18:17] #2007 closed

[2019-05-25 11:03] BarneyChambers opened #2116 "run-in-electron build instructions error"
- **Version**:
- **Platform**: Ubuntu 16.06
- **Subsystem**: Node 8.1.0

Type: Critical

Severity: High

Description: Running build commands throws permission errors

#### Steps to reproduce the error:

1) Clone repository
2) cd run-in-electron
3) npm install

result:

[code]

[2019-05-25 11:05] #2116 closed

[2019-05-25 11:06] BarneyChambers opened #2117 "Npm error when installing electron example"
Version:
    Platform: Ubuntu 16.06
    Subsystem: Node 8.1.0

Type: Critical

Severity: High

Description: Running build commands throws permission errors
Steps to reproduce the error:

    Clone repository
    cd run-in-electron
    sudo npm install

result:

[code]

[2019-05-25 12:05] achingbrain opened #2118 "bignumber.js vs long.js"
I was porting [rabin](https://www.npmjs.com/package/rabin) to JavaScript to add support for rabin chunking in the browser - the c algorithm uses lots of bitwise operations on `uint64_t` types which JavaScript cannot do because lol JavaScript 'numbers'.

I used the [`long.js`](https://www.npmjs.com/package/long) module to do this.  A passing @olizilla said 'Why don't you use [`bignumber.js`](https:

[2019-05-25 12:10] mcollina commented on #2118
I would recommend a WASM implementation instead.

[2019-05-25 12:13] hugomrdias commented on #2118
Exactly! This could be a great way to test out assemblyscript. Or if you find it too time consuming a rustwasm solution. Ping if you need help.

[2019-05-25 12:51] achingbrain commented on #2118
@mcollina do you have one in mind or are you suggesting implementing one?

[2019-05-25 14:22] dignifiedquire commented on #2118
I maintain a pure rust bignum library, happy to chat and help if useful :)

[2019-05-25 14:31] dignifiedquire commented on #2118
https://github.com/dignifiedquire/num-bigint

[2019-05-25 15:07] MaxGraey commented on #2118
@hugomrdias On AssemblyScript we have bignum library btw: https://github.com/MaxGraey/bignum.wasm. But it still missing some methods for u256/i256 classes but `u128` fully implemented

[2019-05-25 17:15] mcollina commented on #2118
How about using https://github.com/fd0/lbfs/tree/bdf4f17d23b68536e7805c88e269026c74c32d59/liblbfs like https://www.npmjs.com/package/rabin?

[2019-05-25 18:03] rayj00 opened #2119 "IPFS and NAT?"
Not an issue but a question.   Does IPFS run behind a NAT?  I am using a bridged VM to do some experimenting on and wonder if I can access the IPFS network from behind the NAT?

Thanks,

Ray

[2019-05-25 18:47] rayj00 opened #2120 "ERR! for install --global?"
- **Version**: I believe it is version 0.36.2.  Neither of the command above work.
- **Platform** Ubuntu 16.04.04:
- **Subsystem**:

#### Type: Install failure

[2019-05-25T18_40_02_207Z-debug.log](https://github.com/ipfs/js-ipfs/files/3219628/2019-05-25T18_40_02_207Z-debug.log)

#### Description:
ray@LivepeerIPFS:~$ sudo npm install ipfs --global

npm WARN deprecated boom@7.3.0: This module has m

[2019-05-26 08:03] Prabhakar-Poudel commented on #2117
@BarneyChambers I think it has to do with your npm.
And the fact you have to run npm install using sudo, suggest it is already messed up.

If you still think it is an issue with ipfs, please add more information.

[2019-05-26 08:11] Prabhakar-Poudel commented on #2120
@rayj00 Please check your `npm` installation issues.
It is asking for appropriate permission to install the package to the mentioned path.
In most cases doing `sudo npm install ipfs --global` should fix it.
However, I do not recommend doing `sudo` for non-global installs like `npm install ipfs`
Please check for issues with you npm installation.
[This](https://stackoverflow.com/a/16151707/6293468)

[2019-05-26 08:11] Prabhakar-Poudel commented on #2117
You may want to look at [this](https://stackoverflow.com/a/16151707/6293468) SO thread.

[2019-05-26 10:09] achingbrain commented on #2118
Assuming the implementation is sensible it doesn't seem like we'd gain much from writing our own then.

[2019-05-26 10:16] mcollina commented on #2118
Moving from WebAssembly to JS and viceversa cost time. Moving back-and-forth for every number operation is going to be more costly than moving back-and-forth for each chunk of data.

I'd still explore compiling https://github.com/fd0/lbfs/tree/bdf4f17d23b68536e7805c88e269026c74c32d59/liblbfs to WebAssembly and measuring throughput.

[2019-05-26 13:17] Prabhakar-Poudel commented on #2084
![ipfsobjectapi](https://user-images.githubusercontent.com/20899846/58382305-506c6f00-7fe6-11e9-9049-726041c739ec.png)

@alanshaw
go ipfs returns `Error: expected protobuf dag node`, when doing `object get`.
and returns an expected result for `object stat`, as seen above.

[2019-05-27 09:13] suzakinishi opened #2122 "jsipfs init failed"
- **Version**:0.36.2
- **Platform**:x64/liinux
- **Subsystem**:

#### Type:jsipfs init failed

#### Description:I install the jsipfs successfully with'npm install ipfs --global'. but when i run jsipfs init , it failed as follow.
[code]
then i run ' jsipfs'
[code]
#### Steps to reproduce the error:

[2019-05-28 06:02] greenkeeper[bot] opened #2124 "An in-range update of readable-stream is breaking the build 🚨"
## The dependency [readable-stream](https://github.com/nodejs/readable-stream) was updated from `3.3.0` to `3.4.0`.

🚨 [View failing branch](https://github.com/ipfs/js-ipfs/compare/master...ipfs:greenkeeper%2Freadable-stream-3.4.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

readable-stream is a direct dependency of t

[2019-05-28 08:01] alanshaw commented on #2122
Please update to Node.js 10 or 12.

[2019-05-28 09:51] alanshaw commented on #2093
`npm i ipfs@camp` with websocket-star enabled pointing at a rendezvous server for camp?

[2019-05-28 09:55] satazor commented on #2093
@alanshaw the IDM wallet is currently configured with one of the public ones. Ideally, it would be a local machine running on the camp to circumvent any internet issues, but the problem is IPNS. @hugomrdias is working but requires internet connection. We need to resolve ipns records to verify signatures.

[2019-05-28 10:34] satazor opened #2125 "`npm i` on the repo is failing"
- **Version**: N/A
- **Platform**: MacOSX
- **Subsystem**:

#### Type: Bug

#### Severity: High

#### Description:

Doing `npm i` in the repo gives an error:

[code]

@vasco-santos is having the same issue, meaning is something recent. Some transient dependency might be causing the issue.

#### Steps to reproduce the error:

Clone the repo and do `npm i`.

[2019-05-28 11:25] alanshaw commented on #2125
`npm-run-all` provides that...

[2019-05-28 18:20] dirkmc opened #2126 "Detect node version and show error message if t"
Often our users try to run js-ipfs with a node version that is too low. (see for example https://github.com/ipfs/js-ipfs/issues/2122)
Currently they get an error like `Unexpected token *`
We should give them a nice error message instead, asking them to use the required minimum node version.