[2016-11-07 12:33] VictorBjelkholm commented on #536
What David says in https://github.com/ipfs/js-ipfs/issues/536#issuecomment-256091500 makes a lot of sense :+1:

[2016-11-07 14:21] VictorBjelkholm commented on #533
@heavyk you can search across organizations ;)

`org:ipfs is:issue monorepo`

https://github.com/search?utf8=%E2%9C%93&q=org%3Aipfs+is%3Aissue+monorepo&type=Issues&ref=searchresults

Might help in the future!

[2016-11-07 14:38] VictorBjelkholm commented on #535
Hey, the initial problem you mention is because we don't handle subfiles yet (the hash/file part), there is an open issue here: https://github.com/ipfs/js-ipfs/issues/478

The second problem you mention seems to be that you're trying to use the js-ipfs repo from go-ipfs which I don't think is supported atm, @diasdavid probably knows more.

[2016-11-07 14:38] #535 closed

[2016-11-07 15:07] diasdavid commented on #535
It should definitely work, which go-ipfs version are you using?

[2016-11-07 15:07] dignifiedquire commented on #535
@diasdavid I'm not sure we bumped the repo version the last time go bumped it

[2016-11-07 15:19] phil-r commented on #535
@VictorBjelkholm

Yep that's exactly what I was trying to do after `js-ipfs` wasn't working

@diasdavid I'll check versions when I'll be on my home computer.

[2016-11-07 19:21] VictorBjelkholm opened #572 "Change introduction text when doing `jsipfs init`"
Today, when running `jsipfs init`, you get the following message:

[code]

But that command will not work because subfiles are not implemented yet (https://github.com/ipfs/js-ipfs/issues/478)

In the meantime, we should change the hash to point directly to the file (instead of hash/file it should just be hash), to prevent more confusion from this.

[2016-11-10 10:24] diasdavid opened #580 "track: floodsub"
### Important links

- API discussion - https://github.com/ipfs/js-ipfs/issues/530
- js-ipfs floodsub PR - https://github.com/ipfs/js-ipfs/pull/531/files
- js-ipfs-api floodsub PR - https://github.com/ipfs/js-ipfs-api/pull/377
- floodsub design notes - https://github.com/libp2p/pubsub-notes
- pubsub research group - https://github.com/libp2p/pubsub
- floodsub JS implementation - https://github.com

[2016-11-10 10:27] diasdavid commented on #580
##### Lead

@gavinmcdermott is leading the charge of getting js-libp2p-floodsub integrated into js-ipfs and with that come up with an API that works for a scenario where floodsub is 'in process'(js-ipfs) or 'remote' (js-ipfs-api/through http).

[2016-11-10 10:31] diasdavid commented on #580
### Testing floodsub interop

Currently, we have interop between go and js. One way to level that up is to grab the floodsub-testnet work and attach it to js-ipfs nodes instead, since js-ipfs and js-ipfs-api share the same API, we can make the testnet code spawn both types of nodes and see how the network behaves :)

[2016-11-10 10:49] diasdavid commented on #556
@haadcode tagging you, as you volunteer, to lead this effort and the revamp of ipfsd-ctl.

Main goal: have a canonical way to spawn js-ipfs in process daemons, js-ipfs remote daemons (using js-ipfs-api to contact them), go-ipfs remote daemons (using js-ipfs-api to contact them) and provide with features to spawn several of ephemeral nodes, which are great for testing.

Relevant threads:
- https://

[2016-11-10 11:51] diasdavid commented on #429
Relevant https://github.com/ipfs/js-ipfs-api/issues/416 as it right now looks kind of scary on install

[2016-11-10 14:06] diasdavid commented on #580
### API design considerations

- API should enable the user cancel a subscription (a not only by killing the process or closing the tab as it happens if js-ipfs-api is used right now)
- floodsub API should enable the developers to not be target of spam attacks - support for TopicDescriptios - https://github.com/libp2p/pubsub-notes/blob/master/flooding/flooding.proto#L22-L49

[2016-11-10 14:16] haadcode commented on #530
And what do we do about Node Streams vs. Pull Streams? I remember us discussing elsewhere that we could have the pull streams API in other places something like `ipfs.files.createAddPullStream()`. Would that be a solution here? Eg. `ipfs.pubsub.createSubscriptionPullStream()`

[2016-11-10 14:19] haadcode commented on #530
I've updated the original message (spec) with the discussion here. Need feedback @diasdavid @gavinmcdermott @dignifiedquire @VictorBjelkholm

[2016-11-10 14:27] haadcode commented on #556
Yeah, I can take this around beginning of December. **If anyone in the meanwhile would like to work on this, please do!**

[2016-11-10 14:36] haadcode commented on #556
Some thoughts here:
- This is **a lot of work**.
- We're basically refactoring everything in order to support all the feature requests in the issues linked above by @diasdavid.
- I'm not a huge fan of the name `ipfsd-ctl`. I would prefer `ipfs-daemon`, much easier to understand what it does based on what it says on the tin.
- I'm uncertain how exactly all of this would come together, as js-ipfs an

[2016-11-10 14:40] diasdavid commented on #556
How is this a security risk bigger or smaller than js-ipfs-api + go-ipfs?

[2016-11-10 14:51] haadcode commented on #556
@diasdavid Ah! I think I understand now what you mean. This is obviously when running js-ipfs in Node.js :) Ignore that comment, then!

[2016-11-10 17:13] haadcode commented on #580
@diasdavid can we keep the API discussion in the original issue so that we don't have a gazillion places to look for?

The original discussion is here: https://github.com/ipfs/js-ipfs/issues/530.

This was added to the spec today, `ipfs.pubsub.unsubscribe("topic")`

There's comments regarding this in the issue above. Let's continue there.

[2016-11-11 17:44] parkan commented on #557
I'm going to throw in my two cents for promises here. The [native browser support](http://caniuse.com/#feat=promises) at this point is nearly 100% and will not get any better (only non-supporting browsers are abandonware) and at least anecdotally the adoption rate is [much higher](https://github.com/search?l=JavaScript&q=Promise&type=Code&utf8=%E2%9C%93) than it was in 2015. Various repos in the [

[2016-11-11 17:45] parkan commented on #557
(for reference, our js project is [aleph](https://github.com/mediachain/aleph))

[2016-11-12 03:18] diasdavid opened #586 "browser compatibility"
https://github.com/ipfs/js-ipfs/pull/485#issuecomment-260065517

[2016-11-12 03:28] diasdavid commented on #509
Hi @nikuda js-ipfs 0.18.0 has been released and it includes all of the changes of the async crypto PR https://github.com/ipfs/js-ipfs/pull/485 🎉

These should be all problems of the past, try it out :D

[2016-11-12 03:28] #509 closed

[2016-11-12 03:31] diasdavid commented on #455
closing this one in favor of the PR :)

[2016-11-12 03:31] #455 closed

[2016-11-12 03:33] diasdavid commented on #412
@chriscool Thank you for handling this, I see you have opened the PR's, let's follow on those ones:

- https://github.com/ipfs/js-ipfs/pull/522
- https://github.com/ipfs/js-ipfs/pull/521
- https://github.com/ipfs/js-ipfs/pull/520
- https://github.com/ipfs/js-ipfs/pull/519
- https://github.com/ipfs/js-ipfs/pull/518

[2016-11-12 03:33] #412 closed

[2016-11-12 03:34] diasdavid commented on #265
Closing this one, it has gotten into our dev practices :)

[2016-11-12 03:34] #265 closed

[2016-11-12 03:36] diasdavid commented on #93
hi @upfs you can check https://github.com/ipfs/js-ipfs#ipfs-core-examples-use-ipfs-as-a-module and the example made by @SidHarder too at https://github.com/ipfs/js-ipfs/pull/576

Closing this one, should be easier now with version 0.18.0. Closing this one, let us know if you find any other hurdle :)

[2016-11-12 03:36] #93 closed

[2016-11-12 08:40] dignifiedquire opened #588 "Run interface-ipfs-core testst in the browser"
We need to run those tests with js-ipfs-api against a js-ipfs intance from the browser to ensure things work as expected

[2016-11-12 18:00] diasdavid commented on #588
@dignifiedquire there is no js-ipfs-api to a js-ipfs instance in the browser, since js-ipfs in the browser doesn't have http

if you mean running interface-ipfs-core tests against js-ipfs core, in nodejs and browser then it is what is happening, see:

- https://github.com/ipfs/js-ipfs/tree/master/test/core/both

[2016-11-13 09:06] chovy opened #589 "example fails (mac/node-6)"
Did the install `npm i -g ipfs` under node v.6.6.0

	$ jsipfs init
	initializing ipfs node at /Users/user/.ipfs
	generating 2048-bit RSA keypair...done
	peer identity: QmaQfvcKmjpUpYUwWCESp81oV3ussMatpVDHp3ydgWnbjT
	to get started, enter:

		 jsipfs files cat /ipfs/QmegvLXxpVKiZ4b57Xs1syfBVRd8CbucVHAp7KpLQdGieC/readme

	$ jsipfs files cat /ipfs/QmegvLXxpVKiZ4b57Xs1syfBVRd8CbucVHAp7KpLQdGieC/readme

[2016-11-13 09:12] chovy commented on #535
not fixed. still seeing it. ipfs/js-ipfs/issues/589

[2016-11-13 09:24] diasdavid commented on #589
Sorry about that hurdle, unfortunately, the unixfs-engine impl in JS does not support path notation yet, follow https://github.com/ipfs/js-ipfs/issues/478 for further developments.

[2016-11-13 09:31] #589 closed

[2016-11-13 09:33] chovy commented on #572
Is there a working command I can run to test it?

[2016-11-13 14:08] cappelaere opened #2907 "files ls -l -r would be really nice to have"
It would be a great enhancement to have a recursive capability for files ls [-l]
This would avoid having to call the server repeatedly.
Interestingly, there is a files rm -r
Thank you for this great library.
Pat.

[2016-11-13 21:55] diasdavid commented on #556
I would even take it a step forward and call it `ipfs-node-factory`, simply because a `daemon` is a detached process running in the background (which is not true while running js-ipfs in the browser or in proc) and this module should enable to spawn 1 to n daemons ad hoc, ephemeral or not.

[2016-11-14 13:55] dignifiedquire commented on #429
This was shipped in #485 :) so closing

[2016-11-14 13:55] #429 closed

[2016-11-14 15:11] diasdavid commented on #429
@dignifiedquire the cherry on top of this cake would be to have two quick start tutorials of how to bundle js-ipfs and js-ipfs-api with browsersify and webpack.

[2016-11-16 17:18] diasdavid opened #598 "Create examples of how to use js-ipfs with browserify and WebPack"
ref: https://github.com/ipfs/js-ipfs/issues/429#issuecomment-260361076

[2016-11-16 20:05] runvnc opened #599 "FlyWeb/similar gateway"
Hello, would something like FlyWeb and js-ipfs make it possible to create a local-ipfs-gateway-in-a-web-page?  Or a more general question, does this project or another like it address this issue: it seems that requiring the user to install a local server blocks most potential users and gateways defeat the main purpose by routing all traffic through specific traditional servers.  (Or can the core p

[2016-11-17 10:06] diasdavid commented on #536
I believe we reached consensus :)

Closing this issue but keeping its label so that it is easy to find when we need to consider the runtimes supported again.

[2016-11-17 10:06] #536 closed

[2016-11-17 10:23] VictorBjelkholm commented on #599
Not sure what the use case is here, to run a IPFS gateway in a web page? Not sure why you would like to do that, since you can just fetch the objects directly with js-ipfs in the page, instead of having a gateway.

I don't think I'm understanding your question good enough to give a proper answer.

[2016-11-17 11:03] runvnc commented on #599
I thought I described it in enough detail.  Either I don't understand IPFS/js-ipfs or I was just wasting my time.  Whatever.

[2016-11-17 11:13] diasdavid commented on #599
Hey @runvnc, what @VictorBjelkholm was bringing up is that running an IPFS gateway, also known as the HTTP-API that gets exposed when an IPFS daemon is running, is not possible since you can't have a spawn an http server inside the browser.

What you can do directly, is use js-ipfs as a "gateway" to the entire IPFS network, because js-ipfs is a full IPFS node :)

[2016-11-17 15:28] diasdavid commented on #598
we have examples now wooot! https://github.com/ipfs/js-ipfs-api/tree/master/examples

[2016-11-17 15:47] VictorBjelkholm commented on #598
Wait a minute @diasdavid, now you're confusing js-ipfs and js-ipfs-api :dancer:

[2016-11-17 16:06] diasdavid commented on #541
-> https://github.com/ipfs/js-ipfs/pull/603

[2016-11-17 16:06] #541 closed

[2016-11-17 16:07] diasdavid commented on #598
ahaha the url xor didn't come through (https://github.com/ipfs/js-ipfs-api/issues/428) thank you for catching

[2016-11-17 16:08] diasdavid commented on #523
since it is being handled here: https://github.com/ipfs/js-ipfs/pull/525
closing this issue :)

[2016-11-17 16:08] #523 closed

[2016-11-17 17:15] runvnc commented on #599
FlyWeb is an HTTP server in Firefox. If it were used to make a gateway then other IPFS sites that don't know about js-ipfs would be accessible.

[2016-11-18 01:04] jbenet commented on #599
@runvnc yeah this use case is a good idea, and i've discussed it with some as Mozilla released FlyWeb. Yes, we should be able to make an ipfs http gateway. Expanding your questions, i think you're asking:

- Does the js-ipfs implementation include the http-to-ipfs gateway that go-ipfs has?
- If so, where can i find an example of its usage?
- And, have you tried using it with FlyWeb, to expose IPFS

[2016-11-18 01:12] jbenet commented on #599
I think this is worth reopening.

[2016-11-18 04:36] runvnc commented on #599
@jbenet thanks, was starting to think I was crazy.  Unfortunately I don't think I have the time right now because of other obligations.  I mainly wanted to mention the idea because I saw FlyWeb and wondered if it could help with distributed computing in some way.

It seems like any dev who is interested in FlyWeb and not too busy would quite possibly be excited about this use case, especially if t

[2016-11-18 07:05] haadcode commented on #580
To make sure information gets passed around: I'm working on refactoring the current js-ipfs-api PR and that work is here: https://github.com/haadcode/js-ipfs-api/blob/fix/pubsub/src/api/pubsub.js and tests are here https://github.com/haadcode/js-ipfs-api/blob/fix/pubsub/test/ipfs-api/pubsub.spec.js.

[2016-11-18 07:07] haadcode commented on #580
There's also work that needs to happen on go-ipfs side in order to land js-ipfs-api, mainly this: https://github.com/ipfs/go-ipfs/issues/3304

[2016-11-18 08:10] diasdavid commented on #599
We do support the HTTP-API, which enables us to tests like benchmarks and sharding from go-ipfs. I believe the list you are looking for is this one: https://github.com/ipfs/js-ipfs/blob/master/ROADMAP.md#project-status

You can even use js-ipfs-api to contact js-ipfs through its http-api implementation :)

[2016-11-18 08:33] diasdavid commented on #495
@VictorBjelkholm could you finish this since you got it started? :)

[2016-11-18 08:33] diasdavid commented on #453
Not anymore :) https://github.com/ipfs/js-ipfs#ipfs-javascript-implementation

[2016-11-18 08:33] #453 closed

[2016-11-18 08:34] diasdavid commented on #300
Is this still an issue?

[2016-11-18 20:59] VictorBjelkholm commented on #586
Issue is this:

[code]

Which I tracked down to being about either `const` being used inside `for()` or using `const` without a initialize value. So, in the end, turns out the issue is in `cbor` library we use, specifically here: https://github.com/hildjj/node-cbor/blob/master/lib/encoder.js#L383

I've submitted a patch here:  https://github.com/hildjj/node-cbor/pull/39

[2016-11-19 09:52] haadcode commented on #580
There's a new PR for js-ipfs from @gavinmcdermott here https://github.com/ipfs/js-ipfs/pull/610 (posting here to keep track of all the work that's happening)

[2016-11-19 12:43] VictorBjelkholm opened #611 "Chrome aggressive resource throttling policy - Slow perf between Chrome tabs"
I'm playing around with js-ipfs in the browser and made a example on how to send/receive data based on hashes that you can see the source to [here](https://github.com/VictorBjelkholm/js-ipfs-passing-data) and see working in the browser over [here](https://victorbjelkholm.github.io/js-ipfs-passing-data/).

However, it seems Chrome is a lot slower than Firefox. I'm waiting until I can see that the p

[2016-11-20 23:33] hildjj commented on #586
Upgrade to version 3.0.0, includes this and canonicalization.

[2016-11-21 07:37] diasdavid commented on #586
Thank you @hildjj !!! 🎉

@VictorBjelkholm I've updated https://github.com/ipld/js-ipld-dag-cbor/commit/05170d74f1c82bb54d177103280d91a522841b78 this should be good now :) rerunning CI

[2016-11-21 07:37] #586 closed

[2016-11-21 08:10] diasdavid commented on #588
@dignifiedquire could you follow up in this one? Still not sure if there is work to be done here

[2016-11-21 08:13] diasdavid commented on #598
Aaaand they are there :) https://github.com/ipfs/js-ipfs/tree/master/examples

[2016-11-21 08:13] #598 closed

[2016-11-21 08:15] dignifiedquire commented on #588
Hmm I think we can close this for now then.

[2016-11-21 08:15] #588 closed

[2016-11-21 08:37] diasdavid commented on #352
We've improved a lot since this issue was last opened, namely:

- Development instructions with commands to run tests: https://github.com/ipfs/js-ipfs#run-tests
- API documentation pointers to interface-ipfs-core https://github.com/ipfs/js-ipfs#api
- Usage examples https://github.com/ipfs/js-ipfs#usage
- Tests are organized by which area they are testing https://github.com/ipfs/js-ipfs/tree/master

[2016-11-21 08:37] #352 closed

[2016-11-21 08:39] diasdavid commented on #127
@vijayee Any hopes that you had the chance to look at this again?

js-ipfs has improved a ton API wise and examples wise, it should help you get this done easier

- examples: https://github.com/ipfs/js-ipfs/tree/master/examples
- usage: https://github.com/ipfs/js-ipfs#usage

[2016-11-21 09:22] diasdavid opened #614 "Signalling Server for WebRTC-Star - https://star-signal.cloud.ipfs.team/"
Now, that we have WebRTC support both in the browser (Chrome + Firefox) and Nodejs in libp2p-webrtc-star, it becomes interesting and useful to have a signalling server hosted by us that IPFS developers can rely on for their tinkering with IPFS, of course, the option to choose which signalling server to use still relies on the user, but for demos and quick hacks, this can be extremely useful.

The

[2016-11-21 09:27] diasdavid commented on #611
@VictorBjelkholm to help debugging, did you run these tests in any special network setup? (ie. home router, using VPN, etc)

@fippo does this look like a Chrome issue to you?

[2016-11-21 09:28] VictorBjelkholm commented on #611
@diasdavid at my home connection, no VPN/proxy or anything special, haven't had any issues with IPFS before here so shouldn't be a problem.

[2016-11-21 09:45] diasdavid commented on #357
Here is an example, made by @VictorBjelkholm on how you can set it up, hope it helps :) https://github.com/VictorBjelkholm/js-ipfs-passing-data

[2016-11-21 09:45] #357 closed

[2016-11-22 11:11] dignifiedquire opened #615 "Awesome API Documentation Endeavour"
We want to improve the documentation in the whole project and for that this endeavour exists.
To improve the documentation we settled on using `jsdoc` style inline comments to describe the APIs and after that using [documentation.js](https://github.com/documentationjs/documentation) to generate beautiful docs.

If you want to help out, please comment on this issue which module you are tackling.

#

[2016-11-22 11:32] VictorBjelkholm commented on #615
Thanks @dignifiedquire! I would love to help out with either js-ipfs-api or js-ipfs! :hugs:

[2016-11-22 11:42] haadcode commented on #556
The API proposed here is being prototyped in this repo: https://github.com/haadcode/ipfs-daemon. The idea is not to create a new module but to figure out the optimal API design and move the code from ipfs-daemon to their relevant existing ipfs modules.

[2016-11-22 11:46] haadcode commented on #556
@dignifiedquire proposed in yesterday's call that we should have an explicit `start()` method. I would agree with that.

The proposed usage would be:
[code]

Pros
- Makes it possible to add steps before starting the daemon
- Technically makes the code behave correctly (if we do `new Ipfs()` that emits the ready event, then the ready event *could* be emitted before it's been subscribed to)

Cons
-

[2016-11-22 11:53] diasdavid commented on #556
The `start` command is effectively the current `goOnline`, as you can see in the initial proposal -- https://github.com/ipfs/js-ipfs/issues/556#issue-186102239 --, this step can be also a configure option `{online/start: true}`.

I agree on keeping a general 'boot this thing up, damn it! :D' function, nevertheless, we should include mechanisms to turn network services on an off, as described on th

[2016-11-22 13:18] VictorBjelkholm commented on #495
@diasdavid I just started using it lightly. I think we shouldn't migrate everything at once but rather think about it when writing new/refactoring code (and when reviewing) so at one point, we'll be using it 100%. Does that make sense for you?

[2016-11-22 17:26] diasdavid opened #617 "Awesome dagPB.DAGNode API"
With the introduction of WebCrypto, the dagPB APIs suffered considerably, however, as exposed by https://github.com/ipld/js-ipld-dag-pb/issues/4 it doesn't have to be this way and it is what https://github.com/ipld/js-ipld-dag-pb/pull/6 is here to bring.

| Name | PR | CR | M | R |
|-------|----|----|---|---|
| [js-ipld-dag-pb](https://github.com/ipld/js-ipld-dag-pb/pull/6) | ✔️ | ✔️ | ✔️ | ✔️
| [

[2016-11-22 19:19] diasdavid commented on #495
Not really, it will confuse contributors and even ourselves at times as it will be always half done.

[2016-11-22 19:29] VictorBjelkholm commented on #495
@diasdavid hm, ok. Will have to push this forward then, won't have any bandwidth currently to work on it...

[2016-11-23 17:58] SidHarder opened #619 "node-gyp instructions for linux install needs added to readme"
We need to add the node-gyp installation instructions as requirement for install of js-ipfs on linux systems.

[2016-11-23 19:14] VictorBjelkholm commented on #619
AFAIK, node-gyp should come bundled with npm and not require explicit installation, as long as you have npm

https://github.com/nodejs/node-gyp/wiki/Updating-npm's-bundled-node-gyp

[2016-11-23 23:23] SidHarder commented on #228
I just finished testing js-ipfs on ubuntu with ipv4 and ipv6 on port 5001, daemon is not choking any more.

[2016-11-23 23:28] VictorBjelkholm commented on #228
I can verify that it's working for me as well now, I'm on Ubuntu 16.04.1 LTS

[2016-11-24 09:57] nikuda commented on #509
Good stuff @diasdavid! Will try it soon :)

[2016-11-24 10:19] diasdavid commented on #228
Wohooo! :D thank you @SidHarder !

[2016-11-24 10:19] #228 closed

[2016-11-24 10:43] diasdavid commented on #509
also, check out the examples folder: https://github.com/ipfs/js-ipfs/tree/master/examples

[2016-11-25 13:50] diasdavid commented on #619
exactly what @VictorBjelkholm referenced. How did you install node, @SidHarder ?

[2016-11-26 07:21] chriswingler opened #629 "errors during jsipfs init"
Hi, I'm getting this error when running `jsipfs init`

`chris@chris-MS-7882:~/workspace$ jsipfs init
initializing ipfs node at /home/chris/.ipfs
(node:3964) DeprecationWarning: os.tmpDir() is deprecated. Use os.tmpdir() instead.
generating 2048-bit RSA keypair...done
peer identity: QmVaNQjTTeg4TjUT2fwXbEbCC7tb7ELukaBDxfqYUVTdD1
undefined:5
  if (!defined(obj.Type)) throw new Error("Type is require

[2016-11-26 10:02] diasdavid commented on #629
Sorry about that @chriswingler, it was a regression that happened in one of our dependencies -- `protocol-buffers` --, https://github.com/ipfs/js-ipfs/pull/625#issuecomment-263006537

I just fixed "the regression regression" and it should be all good :) Let me know if you find any other issue.

[2016-11-26 10:02] #629 closed

[2016-11-26 10:02] #617 closed

[2016-11-28 12:01] diasdavid commented on #580
@haadcode @gavinmcdermott, I've updated https://github.com/libp2p/js-libp2p to the latests libp2p versions, so that you don't have to go through it yourselves. All you should have to do is update the version :)

[2016-11-28 20:45] dignifiedquire opened #632 "Investigate npm deprecations"
Running a fresh install pops up a lot of npm deprecations, we should investigate where they come from and file issues with the relevant packages if needed.

[code]

[2016-11-30 23:10] lgierth commented on #614
(I can't find the other issue you're keeping about this one.)

If you wanna be a real protocolian hero, you integrate [siimon/prom-client](https://github.com/siimon/prom-client) and make one or two metrics, e.g. number of signallings done :tulip:

This is *not critical from the start* but monitoring is generally super useful.

[2016-12-02 14:02] dignifiedquire commented on #615
- Published a first version of the new theme on npm: http://npmjs.com/clean-documentation-theme
- Published test version of documentation for `peer-id` here: http://libp2p.github.io/js-peer-id

[2016-12-02 18:20] diasdavid commented on #513
Hey @compsocial, sorry for the delay, meanwhile we shipped examples to help people get started, hope they help, find them here: -> https://github.com/ipfs/js-ipfs/tree/master/examples

Let me know if you find any trouble :)

[2016-12-02 18:20] #513 closed

[2016-12-03 02:19] nikuda commented on #509
All working @diasdavid. 👍

[2016-12-03 02:50] nikuda commented on #509
Spoke too soon.

In `bundle-browserify` example `node.load()` fails with an unhandled rejection. The problem seems to be around the `dexie` indexedDB library. I'll open up a new issue when I get have more info.

[2016-12-03 06:43] nikuda commented on #509
Fixed the issue in https://github.com/libp2p/js-libp2p-crypto/pull/47.

Now the node  in `bundle-browserify` example initialises successfully with a 'IPFS node is ready' message – although no peers seem to connect.

[2016-12-03 21:39] diasdavid commented on #509
thank you @nikuda !! :)

[2016-12-05 03:27] diasdavid commented on #368
let's track this one in the Files tracking issue: https://github.com/ipfs/js-ipfs/issues/60

[2016-12-05 03:27] #368 closed

[2016-12-05 03:28] diasdavid commented on #619
@SidHarder do you find this to still be a problem?

[2016-12-05 03:40] diasdavid commented on #515
An update on this: We long removed the option for 'force init' in go-ipfs and with that, we also removed it from js-ipfs, we should take it out from documentation/examples.

However, I do understand that cleaning a repo in the browser is painful, far from just `rm -rf`, which makes me think that there should be a repo-clean utility.

[2016-12-05 04:22] diasdavid commented on #478
adding this one to be tracked on https://github.com/ipfs/js-ipfs/issues/60

[2016-12-05 04:22] #478 closed

[2016-12-05 10:42] VictorBjelkholm commented on #615
@dignifiedquire we should probably add a link to the repository in the top right or something like that in the theme as well

[2016-12-05 11:04] dignifiedquire commented on #615
Yes, but need to implement that first in documentation.js, ref https://github.com/documentationjs/documentation/issues/612

[2016-12-05 13:56] dignifiedquire commented on #615
@VictorBjelkholm I take that back, added it :)

[2016-12-05 15:13] haadcode commented on #580
Tests for the pubsub interface are now in a PR in interface-ipfs-core: https://github.com/ipfs/interface-ipfs-core/pull/101

[2016-12-05 15:17] haadcode commented on #580
For js-ipfs-api, before merging pubsub, we need this to be merged: https://github.com/ipfs/go-ipfs-dep/pull/13#discussion_r90838240 and have go-ipfs-dep 0.4.5-something released (I've been publishing @haad/go-ipfs-dep v0.4.5-beta.x).

[2016-12-05 15:39] dignifiedquire commented on #615
@VictorBjelkholm @diasdavid just created https://github.com/dignifiedquire/aegir/pull/78

[2016-12-05 17:23] gavinmcdermott commented on #580
@haadcode and @diasdavid - Thanks for the updates here. I'm getting caught back up today and will be back in SF late tonight. That said, I'll be available to wrap up work on outstanding items this week!

[2016-12-06 14:55] diasdavid commented on #92
@nunofmn just PR'ed the last item 🎉

[2016-12-06 14:55] #92 closed

[2016-12-06 15:36] jcalfee opened #641 "Question: how to create a file hash"
Could you please direct me to the code or spec on how to create the IPFS file hash?

Looks like it is not as simple has encoding the sha256 in a multi-hash sha2-256.  Here is my first try:  http://stackoverflow.com/questions/40998621/how-to-create-an-ipfs-compatible-multihash

thank you..

[2016-12-06 16:16] diasdavid commented on #641
@jcalfee answered to your question. For future questions, please open issues at https://github.com/ipfs/faq or https://github.com/ipfs/support

[2016-12-06 16:16] #641 closed

[2016-12-06 23:34] diasdavid commented on #530
I've added the API as a spec on https://github.com/ipfs/interface-ipfs-core/pull/101, let's move the discussion there :)

[2016-12-06 23:34] #530 closed

[2016-12-06 23:36] diasdavid commented on #580
- [x] floodsub tests and spec https://github.com/ipfs/interface-ipfs-core/pull/101
- [ ] PR on js-ipfs-api https://github.com/ipfs/js-ipfs-api/pull/471
- [ ] PR on js-ipfs https://github.com/ipfs/js-ipfs/pull/610

[2016-12-06 23:36] diasdavid commented on #619
Closing, let us know if the problem persists (should not be the case)

[2016-12-06 23:36] #619 closed

[2016-12-07 15:59] dignifiedquire commented on #615
Additional todos for  (not needed for initial release though)

- [ ] Add `@enum` support to documentation.js
- [ ] Improve `@memberof` and `@namespace` handling for documentation.js
- [ ] Figure out a way to display and handle nested definitions in documentation.js + clean-documentation-theme

[2016-12-07 18:07] diasdavid commented on #615
@dignifiedquire this is shaping to be awesome! ❤️

I believe to make this a perfect landing, we just need to make sure that a) feedback is requested, b) feedback is collected.

Let's focus on getting js-ipfs and js-ipfs-api done first as those will be the most used doc pages.

[2016-12-08 03:13] diasdavid commented on #528
Haven't seen this problem again. Closing, reopen if necessary

[2016-12-08 03:13] #528 closed

[2016-12-08 11:29] dignifiedquire commented on #615
Working on libp2p-tcp I realised that the event support in clean-documentation-them and documentation.js is not as good as we need it to be, will work on this to get it fixed as we do need this.

Relevant issues:
- https://github.com/documentationjs/documentation/issues/486
- https://github.com/documentationjs/documentation/issues/96

[2016-12-09 20:58] #580 closed

[2016-12-10 01:25] whyrusleeping commented on #300
I don't think i have anything to do here.

This set is infinite, i can do the file layout any number of ways, and the parser code should have no trouble dealing with any of it.

[2016-12-10 17:40] dignifiedquire opened #653 "Change default ports back to the ones from go-ipfs"
@diasdavid changed these in https://github.com/ipfs/js-ipfs/commit/a355c9e23ed252a7c2405b00d8a75104b242a645 which breaks tooling which works with the default ports.

[2016-12-10 19:55] diasdavid commented on #653
I've added a note to the README https://github.com/ipfs/js-ipfs/commit/1af30c1a1ce972bd47e02ea3d0609d48071afef2 as discussed on the commit:

https://github.com/ipfs/js-ipfs/commit/a355c9e23ed252a7c2405b00d8a75104b242a645

[2016-12-10 19:55] #653 closed

[2016-12-12 11:05] dignifiedquire commented on #615
We talked about an introduction section at the beginning, that give installation instructions and an overview of the module at the beginning. Similar to the usage section we have in the readmes currently. The main issue I'm having here right now is that we need to a) write these and b) find a way to properly synchronise them between all the repos.

[2016-12-12 12:25] VictorBjelkholm commented on #615
@dignifiedquire if we want to do something similar to how you did in js-peer-info and in js-multiaddr (https://github.com/multiformats/js-multiaddr/pull/31/files#diff-34c4da6d4768d05e50db99357a299b5c) and share between all modules, then we could probably put most things in a template for reuse that gets evaluated on docs-build. The only thing that is unique really is the module name, short descrip

[2016-12-12 12:44] dignifiedquire commented on #615
@VictorBjelkholm yeah this is what I got so far https://gist.github.com/dignifiedquire/e4a8147845a6e359a49374cf6238121f

[2016-12-12 12:50] VictorBjelkholm commented on #615
@dignifiedquire looks good. I think we can get away with just having name though, instead of the different versions. `npm-name` would just be `name` with 'js-' in front. `safe-name` would be `name` but with first letter being uppercase.

Then if we put the example in a different file, we can also easily integrate with RunKit (TonicDev) with `"tonicExampleFilename": "example.js"`

Looks good  :+1:

[2016-12-12 14:41] dignifiedquire commented on #615
@VictorBjelkholm take a look: https://github.com/dignifiedquire/aegir/pull/80

[2016-12-14 14:06] dignifiedquire commented on #615
Shipped the multiformats docs :)

[2016-12-14 20:05] diasdavid opened #668 "Implement `jsipfs bootstrap rm --all`"
Will unblock all the sharness tests:
- https://github.com/ipfs/js-ipfs/pull/522
- https://github.com/ipfs/js-ipfs/pull/521
- https://github.com/ipfs/js-ipfs/pull/520
- https://github.com/ipfs/js-ipfs/pull/519

[2016-12-14 23:04] diasdavid commented on #668
Being done -> https://github.com/ipfs/js-ipfs/pull/669#pullrequestreview-13027917

[2016-12-14 23:04] #668 closed

[2016-12-15 06:04] diasdavid commented on #615
Awesome work! :D 👏👏👏👏

It is missing the search bar, did that get dropped?

[2016-12-15 22:01] quaelin commented on #632
The warning about `lodash.contains` is coming from `js-libp2p-websockets`, and I've submitted a fix here: libp2p/js-libp2p-websockets#39

I think the rest are coming from `gulp` due to its dependency on the very old version of `vinyl-fs`.  There's a related gulp ticket to upgrade that here: gulpjs/gulp#1604

[2016-12-16 03:51] diasdavid commented on #615
From IRC

[code]

I see that others like multibase didn't loose their API docs though. Are we generating that section automatically for those? How does this play with Standard-readme? @RichardLitt ?

[2016-12-16 05:06] diasdavid commented on #632
awesome @quaelin :D

[2016-12-16 13:10] dignifiedquire commented on #615
Sorry, I forgot to add the link to deployed sites back in. Standard readme works with an api section that is simply a link fine.

For updating the usage section I'm investigating some tooling so we can sync these easily across the repos as it is currently outdated in the readme but a pain to update manually everyywhere.

[2016-12-16 16:21] RichardLitt commented on #615
Yep. If the documentation is better elsewhere, that's OK.

[2016-12-18 09:54] diasdavid commented on #572
I've done this :)

@chovy `npm i ipfs -g && jsipfs init && jsipfs daemon` should get you rolling :)

[2016-12-18 09:54] #572 closed

[2016-12-18 09:56] diasdavid commented on #614
Update

- We have a signalling server behind a static IP
- If we get DNS support in multiaddr, we don't need TLS anymore because then I can just use webrtc-connect (and bypass WSS all together, which is pretty sweet btw!)

[2016-12-18 10:04] dignifiedquire commented on #614
@diasdavid what's that ip?

[2016-12-18 10:18] diasdavid commented on #614
Logged here: https://github.com/libp2p/js-libp2p-webrtc-star#hosted-signalling-server

[2016-12-19 07:40] diasdavid commented on #615
The new docs pages are awesome, but we are at the moment making it worse for discoverability, I keep seeing PR's being merged (i.e: https://github.com/multiformats/js-multihashing-async/pull/5 https://github.com/multiformats/js-multicodec/pull/9) **that do not address the fact that the documentation is becoming invisible for users visiting the repo or accessing the module through npm, this is a bi

[2016-12-19 09:21] diasdavid commented on #505
https://github.com/ipfs/js-ipfs/pull/674

[2016-12-19 09:30] dignifiedquire commented on #615
Before I start putting urls into Readmes I would like to suggest to set up simple redirects through our domains so we can easily move away from gh pages. Ie https://docs.multiformats.io/js/multibase

@diasdavid I am sorry about the review, the PR was open for some time and I assumed you would have responded if there was sth specific. I will make sure to ping you next time.

[2016-12-19 09:32] dignifiedquire commented on #615
Re search, we currently have single pages and crtl-f works perfectly. Not sure how a simple js search would improve this. For really good search we would have to index the content making the whole setup depend on another server/service.

[2016-12-19 09:34] diasdavid commented on #615
Good idea! @lgierth can you help set this up?

All good, thank you :) Let's make sure that READMEs have links to the docs soon though.

[2016-12-25 20:56] dignifiedquire commented on #505
Merged

[2016-12-25 20:56] #505 closed

[2016-12-25 20:57] dignifiedquire commented on #498
Not a bug in bitswap anymore. For details on interop transfer issues see: https://github.com/libp2p/js-libp2p-spdy/issues/48

[2016-12-25 20:57] #498 closed

[2016-12-28 08:42] yxliang01 opened #689 "jsipfs ls?"
I am looking for jsipfs ls. But, it seems like it's not implemented yet. Hope that it's going to be implemented soon. Thanks.

[2016-12-28 15:23] VictorBjelkholm commented on #689
Yeah, it's a part of the files + mfs API that you can track over here: https://github.com/ipfs/js-ipfs/issues/60

If you hit the "Subscribe" button on the right under "Notifications", you'll get notified when there are any updates.

[2016-12-28 15:23] #689 closed

[2016-12-31 14:19] harshjv commented on #599
@diasdavid So, is it possible to start HTTP gateway using API for `js-ipfs` node created through API?

[2017-01-01 11:10] harshjv opened #693 "No routes for HTTP Gateway"
Currently, HTTP gateway has no routes so even if `daemon` is listening to `9090` isn't useful.

    Gateway (readonly) is listening on: http://127.0.0.1:9090

Is there any progress on this part? I would like to help in implementing gateway functionality for `js-ipfs`

[2017-01-01 11:59] harshjv opened #694 "No peers and addresses"
`ipfs.swarm.peers` and `ipfs.swarm.addrs` return empty array.

    ipfs.swarm.peers((err, peerInfos) => console.log(peerInfos)) // []
    ipfs.swarm.addrs((err, peerInfos) => console.log(peerInfos)) // []

Tried to do NAT with UPNP random public port, but still didn't work.

    {
      "Addresses": {
        "Swarm": [
          "/ip4/0.0.0.0/tcp/4002",
          "/ip4/192.168.0.3/tcp/4002",

[2017-01-02 12:28] diasdavid commented on #693
Hi @harshjv, we haven't made any development with regards to the IPFS gateway in js-ipfs, however, a lot of the groundwork is done for the HTTP API, which shares a lot of the same endpoints with the gateway.

Having the HTTP Gateway in the JS implementation is not a core priority, so it might take a while until we take a stab at it, however, if you are available, that would be awesome and I'm happ

[2017-01-02 13:00] diasdavid commented on #599
@harshjv absolutely, see my comment in your other issue: https://github.com/ipfs/js-ipfs/issues/693

[2017-01-02 17:57] diasdavid commented on #694
@harshjv That is because js-ipfs doesn't pack libp2p-dht yet, you have to manually dial or use `libp2p-webrtc-star`  which offers some discovery functionality.

[2017-01-02 19:56] harshjv commented on #693
Hey @diasdavid I can help in this issue as currently, I am using `js-ipfs` for [Buffet (Cross platform IPFS application with built-in managed IPFS-node)](https://github.com/harshjv/buffet) and in that, I've already implemented file `cat/get` gateway functionality with directory node browsing and mime-type support.

It can also add files with `wrap-with-directory` option (using empty buffer for par

[2017-01-03 05:22] diasdavid commented on #693
Overall LGTM, but it will get more review as it will be easier once there is a PR against js-ipfs :)

[2017-01-03 06:02] iamdebu opened #695 "Error while initializing jsipfs"
# I got the below error while running jsipfs init (in Ubuntu 14.05)

initializing ipfs node at /home/gtoadmin/.jsipfs
generating 2048-bit RSA keypair.../home/gtoadmin/.nvm/versions/node/v5.0.0/lib/node_modules/ipfs/node_modules/libp2p-crypto/src/crypto/util.js:18
  return new BN(Buffer.from(str, 'base64'))
                       ^

TypeError: base64 is not a function
    at Function.from (native)

[2017-01-03 07:21] harshjv commented on #693
Cool then. I'll send a PR soon :)

[2017-01-03 07:38] harshjv opened #696 "wrap-with-directory option approach"
I was wondering if I were to implement `wrap-with-directory` option, is it a good approach to append a wrapper parent directory before adding it to preserve file name and implement `ipfs add --wrap-with-directory` option for `js-ipfs`?

### Example

    jsipfs add --wrap-with-directory /some/dir/example.jpg

### Approach

    node.files.add([
      {
        path: `/wrapper/example.jpg`,
        c

[2017-01-03 08:47] harshjv opened #697 "Run tests inside electron Node.js and Browser process as well"
When running `js-ipfs` daemon with `Electron` via JS API with `js-ipfs daemon` running in background, `js-ipfs` in Electron process throws this error every time it encounters a peer (other js-ipfs node).

## Configuration

### Electron node

    "Addresses": {
      API: "/ip4/127.0.0.1/tcp/5003",
      Swarm: [
        "/ip4/0.0.0.0/tcp/4003",
        "/libp2p-webrtc-star/ip4/188.166.203.82/tcp/2

[2017-01-03 09:03] harshjv commented on #697
This issue is more complex than I thought. The problem is with dependencies using OpenSSL but Chromium is using some fork of OpenSSL.

I found some related issues with dependencies worth tracking for this issue:

https://github.com/libp2p/js-libp2p-crypto/issues/38
https://github.com/PeculiarVentures/node-webcrypto-ossl/issues/77
https://github.com/electron/electron/issues/1410#issuecomment-152407

[2017-01-03 13:52] harshjv commented on #693
@diasdavid Hey, I've sent a PR #698 for this. :)

[2017-01-07 10:50] svozza opened #700 "Issue Running Tests Or Build"
Apologies if this is a noob mistake but after cloning the repo I can't seem to run the tests or the build, i.e., folloing the steps [here](https://github.com/ipfs/js-ipfs#development). First there is an error when doing `npm install`:

[code]

And the if I do `npm test` I get this:

[code]

I'm riunning Node v4.4.5 but I still have similar problems with Node 6.9.1.

[2017-01-07 11:39] VictorBjelkholm commented on #700
Seems you're running npm@2 and we have a requirement on using npm@3 or
higher.

On Sat, Jan 7, 2017, 11:50 Stefano Vozza <notifications@github.com> wrote:

[2017-01-07 11:40] #700 closed

[2017-01-07 11:46] svozza commented on #700
Aha. The reason why Node 6 didn't work for me was because I hadn't done an `rm -rf node_modules`. Thanks for the quick response!

[2017-01-09 12:08] diasdavid commented on #697
Oh, this is super annoying :( So in essence, **`js-ipfs` in the Node.js process of electron won't work because of incompatible crypto binding, it will work in the Browser process only since it uses WebCrypto directly.**

I see that the electron team tagged it as `wont fix`, offering the alternative that modules using it will have to bundle the native crypto library themselves. This actually doesn'

[2017-01-09 12:26] haadcode commented on #697
As much I would not like to downgrade the crypto perf, I would agree with @diasdavid's proposal.

[2017-01-09 21:31] pgte opened #2597 "chore: test trickle DAG parity with go-ipfs"
Once go-ipfs trickle DAG corrects [this issue](https://github.com/ipfs/go-ipfs/issues/3576), test whether the generated hashes are the same.

[2017-01-09 23:34] mistakenot commented on #615
Hey all, I'm new to the project and still fumbling my way around, if anyone wants to suggest / challenge me to take a look at something small and self contained and produce docs as a learning exercise, I'd be happy to oblige.

[2017-01-10 17:43] lgierth opened #706 "Add /ip6 addresses to bootstrap"
Same as https://github.com/ipfs/go-ipfs/pull/3523

Related to https://github.com/ipfs/infrastructure/issues/191

[2017-01-11 12:11] pgte opened #2908 "test trickle DAG importer"
* CLI `--trickle` option
* option on the add stream constructor

Depends on https://github.com/ipfs/go-ipfs/issues/3576 and https://github.com/ipfs/js-ipfs-unixfs-engine/issues/119

[2017-01-11 15:04] diasdavid commented on #697
Thank you @haadcode. Anyone against?

[2017-01-11 15:27] dignifiedquire commented on #697
Yes I am. As mentioned before we can detect electron and fallback to pure js in the main process, without needing to drop the perf improvements in regular node.js scenarios.

[2017-01-11 15:28] diasdavid commented on #697
Let's try that :)

[2017-01-11 20:44] diasdavid commented on #60
Now Files Add work as expected with the option to do trickle-dag too! https://github.com/ipfs/js-ipfs/pull/707

[2017-01-11 21:17] dignifiedquire commented on #615
Sounds great @mistakenot. https://github.com/ipfs/js-ipfs-block should be pretty self contained and a good starting point for writing some documentation. You can look at the referenced pull requests above for examples on how to document things.

[2017-01-12 13:15] diasdavid commented on #615
From IRC:

[code]

@flyingzumwalt this would be a good pilot for the freshness remedies :)

[2017-01-15 20:16] flyingzumwalt opened #710 "Clarify purpose & status of js-ipfs in Readme & Roadmap"
This question came up on discourse. Is there anything we can change in the Readme and/or in the Roadmap to make it easier for someone like martha to find the answer to those questions?

http://ipfs.trydiscourse.com/t/what-is-ipfs-js-js-ipfs/70

[2017-01-16 03:48] diasdavid commented on #710
Answered here:
- https://github.com/ipfs/faq/issues/97

Other related questions/issues:
- https://github.com/ipfs/faq/issues/180
- https://github.com/ipfs/faq/issues/60
- https://github.com/ipfs/specs/issues/145

[2017-01-16 03:53] #710 closed

[2017-01-16 08:51] haadcode opened #711 "Browser + Node.js + Go Interop Examples/Tutorials"
As part of sprint https://github.com/ipfs/pm/issues/310, we will create examples for go-ipfs and js-ipfs interop.

The goal is to demonstrate the interop functionality by showing files and data moving between the two implementations.

This issue is to track the development and progress of the interop examples.

[2017-01-16 08:57] haadcode commented on #711
Gonna drop some design notes for these.

## Example 1 - Cat a file

Required components:
- go-ipfs cli, js-ipfs + ipfs-daemon in the browser

Steps:
- have one browser peer open and a go-ipfs daemon running
- 'ipfs add another-file.txt'
- copy file hash
- paste file hash in browser peer
- observe file contents appear

Notes:
- I want this to be s single .html file with minimal html, CSS and JS lib

[2017-01-16 09:03] haadcode commented on #711
## Example 2 - File Manager

This one is more advanced example and as per the current design, will also use orbit-db. We may or may not end up using it.

Demonstrates:
- ipfs.files.add, ipfs.files.cat, ipfs.files.ls
- ipfs.object.put, ipfs.object.get
- ipfs.pubsub

Required components:
- go-ipfs cli, js-ipfs + ipfs-daemon, orbit-db

Steps:
- have two browser peers open and a go-ipfs daemon running

[2017-01-16 09:04] haadcode commented on #711
Example2 might be too advanced for our purposes for this sprint. It'd be really cool though...

[2017-01-16 09:13] VictorBjelkholm commented on #711
Should be possible to iterate through all the files and directories, so this one shouldn't be impossible to do.

Not sure we need to make it as complicated as keeping the states in sync in multiple browser peers, think a flow like this would be simple enough:

1. Add directory with go-ipfs and go-ipfs daemon running
2. Navigate to hash in browser with js-ipfs
3. Be able to navigate directory in br

[2017-01-16 09:28] diasdavid commented on #711
[code]

[2017-01-16 09:31] diasdavid commented on #711
'Adding' is possible in js-ipfs (not js-ipfs-api), you just won't be able to drag and drop a dir as the browser doesn't support it, but you can drag and drop a dozen of files (at the same time) and then wrap those in a directory. Try out https://dropub.com to get a feel of that UX

[2017-01-16 09:42] diasdavid commented on #711
It should look minimally good (difference between no styles and at least some visual hints that explain what's happening)

I don't think that for our audience, this will make things simpler, web developers are used to have modularity now. One single .html file is harder to maintain, becomes more brittle.

No webpack or browserify??

[2017-01-16 09:45] diasdavid commented on #711
All comments aside, excited to have these demos, the Live File Browser with Orbit sounds super fun! :D

[2017-01-16 12:02] diasdavid opened #712 "release 0.21"
I want to release js-ipfs v0.21, but first I would like to make sure that everyone is up to date in the latest additions and that tests from the projects using it are run, so that updates can happen smoothly.

big additions of this release (since last minor):
- Balanced + Trickle DAG importers 🙌🏼 @pgte
- PubSub 🙌🏼 @gavinmcdermott @haadcode @dignifiedquire @diasdavid
- Basic interop tests 🙌🏼 @digni

[2017-01-16 12:02] diasdavid commented on #712
@haadcode can you point me to which tests I can(should) run from Orbit land?

[2017-01-16 12:11] diasdavid commented on #712
From IRC
[code]

@haadcode tests are failing for me, both in orbit-db and ipfs-log without linking the new js-ipfs, they fail on master. Could you check? Tried with Node.js 6 LTS and NPM 3.

[2017-01-16 12:14] haadcode commented on #712
This is expected behaviour. Right now `ipfs-daemon` uses js-ipfs from a branch and will fetch the same version as opposed to npm patch update.

Once `js-ipfs` with pubsub is released, I can make ipfs-daemon to use it from npm again.

If the tests run with linking to the new js-ipfs module, then all good!

[2017-01-16 12:24] diasdavid commented on #712
@haadcode ok, so knowing that tests on master are supposed to fail, here is what I get when I link the new js-ipfs

### Orbit-db

[code]

And all of these fail with the same error:

[code]

Any guess on what could it be?

Are these stacktraces with `.then.then.then.then` a thing with Promises?

### ipfs-log

Seems fine to me:

[code]

Only fails on the js-ipfs-api ones, but also failed on master,

[2017-01-16 14:20] dignifiedquire commented on #711
It would be great if these demos could also be made part of the interop test suite, at least in a reduced fashion. That way we always know that things are working or not.

[2017-01-16 15:37] diasdavid commented on #712
[code]

Tests passing! :D

[2017-01-16 16:07] diasdavid commented on #712
Two blockers:

- Interop tests are failing (npm run test:interop)
- Sometimes this test fails:

[code]

[2017-01-17 10:08] diasdavid commented on #711
Something changed here from the expectations defined in https://github.com/ipfs/pm/issues/310

The interop demos cannot be js-ipfs to js-ipfs, that defeats the purpose, see the User Story in https://github.com/ipfs/pm/issues/310, it is js-ipfs in the Browser accessing go-ipfs added content. See my review at: https://github.com/ipfs/js-ipfs/pull/714#pullrequestreview-16955585 Let me know if you hav

[2017-01-17 10:25] haadcode commented on #711
Nothing has changed, we're still going for what was discussed. A lot was lost in translation, see my comment here https://github.com/ipfs/js-ipfs/pull/714#issuecomment-273090895. I clarified the wording the the designs above to reflect that it is intended that the files are added from go-ipfs.

[2017-01-17 11:47] diasdavid commented on #712
Interop tests pass with latest go-ipfs (as expected)
Fixed HTTP-API tests https://github.com/ipfs/interface-ipfs-core/pull/110 (things got faster and surfaced this bug :) )

[2017-01-17 12:03] diasdavid commented on #712
# + ipfs@0.21.0 [11:59:22] Published to npm.

🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉🎉

Go try it out!
![](https://media.giphy.com/media/l2JHPB58MjfV8W3K0/giphy.gif)

[2017-01-17 12:03] #712 closed

[2017-01-17 12:12] diasdavid commented on #695
This was fixed with the latest libp2p-crypto release that got released with js-ipfs 0.21.0.

Try it again, shouldn't be a problem anymore, if there is, let us know :)

Also, try one of the LTS node.js version (4 or 6), Node.js 5 is not supported anymore.

[2017-01-17 12:12] #695 closed

[2017-01-18 19:22] dryajov opened #718 "js/go interop not working"
I've been trying to get ipfs-go and js-ipfs to work together, but so far I haven't been able to. Here is what I've done:

(I'm on a Mac book pro version 10.11.6 (15G1212))

- run the ipfs go daemon
- run the ipfs js daemon
- add a file in ipfs go (`ipfs add hello.txt`)
- cat a file in ipfs js (`jsipfs cat <hash of file>`)

After hanging for close to 1 minute jsipfs crashes with:

[code]

From what

[2017-01-18 19:28] dignifiedquire commented on #718
What version of go-ipfs are you using? Interop is currently only working with `master`, not with `0.4.4`. Also you need to manually connect the two instances via `swarm connect <id>`

[2017-01-18 19:34] dryajov commented on #718
Here are the versions.

[code]

[code]

That must be the issue.

Also, do I have to connect both as in:

`ipfs swarm connect <js ipfs id>`
`jsipfs swarm connect <go ipfs id>`

[2017-01-19 08:48] diasdavid commented on #718
@dryajov you just need to connect one of the sides and you have to use a valid multiaddr (not just the Id).

The reason why they don't connect to each other is because of this: https://github.com/libp2p/go-libp2p/issues/176

You will find some issues with larger files from js to go, due to https://github.com/libp2p/js-libp2p-spdy/issues/48. We are putting a lot of energy into solving this issue, e

[2017-01-19 09:52] diasdavid commented on #615
Other things that have been considered for this endeavour (so that they are not forgotten)
- search within each documentation page
- search through docs (docs.ipfs.io
- compile both a markdown version and a html version of the docs (markdown should be available in the README

[2017-01-19 10:02] haadcode opened #720 "browser/nodejs interop issues"
As I'm trying to get the interop between js-ipfs browser and js-ipfs node.js version working, I ran into some issues that I'll add here as notes and for discussion to solve them.

[2017-01-19 10:10] haadcode commented on #720
I have the following setup:
[code]

I have a browser instance connected to the same star-sig server at 127.0.0.1:9090.

I did:
[code]

I added "/libp2p-webrtc-star/ip4/127.0.0.1/tcp/9090/ws/ipfs/QmbqtQaNqb7zQcrRGaG5WDPs8swwYM5M8sRQvLmFWMKjV9"` to `Addresses.Swarm` and removed the tcp address, ie. only the webrtc-star address is defined in the config.

I then ran
[code]

And in a separate shell:
[c

[2017-01-19 10:16] haadcode commented on #720
@diasdavid was quick to respond on IRC:
[code]

Learning: **for js-ipfs-nodejs, you need to specify a TCP address too** (@diasdavid correct me if I'm wrong)

[2017-01-19 10:20] diasdavid commented on #720
This will fix the issue: https://github.com/libp2p/js-libp2p-mdns/pull/55

[2017-01-19 10:21] haadcode commented on #720
Now having added a file with `jsipfs` successfully, I have the jsipfs daemon running and I restart the browser instance. The following error happens:
<img width="1626" alt="screen shot 2017-01-19 at 11 18 04" src="https://cloud.githubusercontent.com/assets/7499694/22102894/68688554-de39-11e6-969a-3925e0ff3f34.png">

And the full stack trace:
<img width="763" alt="screen shot 2017-01-19 at 11 19 57

[2017-01-19 10:24] diasdavid commented on #720
You are starting the sig server and the jsipfs gateway on the same ports

- `star-sig server at 127.0.0.1:9090.`
- `Gateway (readonly) is listening on: http://127.0.0.1:9090`

[2017-01-19 10:27] haadcode commented on #720
Ah! Great catch! We should prolly change the default of either one (both currently at port 9090) as it's common to use both in development at the same time. What do you think?

[2017-01-19 10:27] diasdavid commented on #720
Sounds wise :)

[2017-01-19 10:28] haadcode commented on #720
Changed the http gateway port of the daemon, restarted it. Restarting the browser now gives me the following error:
[code]

[2017-01-19 10:37] diasdavid commented on #720
Since this is becoming a log of valuable information.

[code]

[2017-01-19 10:45] haadcode commented on #720
Ok, the issue above was in aegir, we have a custom version of `browserify-zlib` which was missing from the deps. This was fixed by @dignifiedquire in aegir@9.3.1
[code]

I am now able to cat a file from js-ipfs (node.js) to js-ipfs (browser) \o/ 🎉 🎆

<img width="849" alt="screen shot 2017-01-19 at 11 42 06" src="https://cloud.githubusercontent.com/assets/7499694/22103777/bfe956b6-de3c-11e6-9bc3-80

[2017-01-19 10:49] haadcode commented on #720
Posting the link to the relevant issues here re. browserify-zlib for reference: https://github.com/substack/node-browserify/issues/1672
https://github.com/webpack/node-libs-browser/issues/51

And the custom lib we use in aegir at the moment is: https://github.com/ipfs/browserify-zlib

[2017-01-19 11:26] diasdavid commented on #720
awesome!

However, it seems there was a huge missed opportunity of saving time, cat'ing a file in the browser by adding it with js-ipfs cli was a demo built and presented at the last All Hands before Holidays, available here: https://github.com/diasdavid/graph-explorer/tree/feat/fetch-visualize. It would have saved you so much time of debugging these problems (I'm sorry @haadcode), we should have

[2017-01-19 17:49] dryajov commented on #718
Thanks @diasdavid.

I was able to get the go and js implementations to talk to each other, I also ran in the the file limit issue. Thanks for pointing this out.

I'll file separate bugs for it, but so far the issues I've ran into trying to run `ipfs` in a `ServiceWorker` are related to the WebCrypto API, which are being looked up in the `window` global object explicitly, however `window` is not de

[2017-01-19 17:58] dryajov commented on #127
@diasdavid @dignifiedquire I'm giving this a shot. So far I've ran into a few issues documented here #718. Also, in order to save time, I'm using the voice memo demo (https://github.com/GoogleChrome/voice-memos), but can do something else if that won't work.

[2017-01-19 18:35] RichardLitt commented on #615
I would very much like this. I'm not too happy with the API section just being a link to somewhere off-site; that means that the documentation is not close to the code. @dignifiedquire Can I help with this? Is there a ticket tracking this, elsewhere?

[2017-01-20 10:37] dignifiedquire commented on #615
the documentation is right in the code, so it's even closer now :P

[2017-01-20 10:38] dignifiedquire commented on #718
re webcrypto there was some work regarding this done already

- https://github.com/dignifiedquire/webcrypto-shim/pull/1
- https://github.com/libp2p/js-libp2p-crypto/pull/59

[2017-01-20 10:44] diasdavid commented on #718
Also, keep an eye on:

- https://github.com/ipfs/js-ipfs/pull/716
- https://github.com/ipfs/js-ipfs/pull/714

They will be complete tutorials on how to get everything to work smoothly :)

[2017-01-20 10:46] diasdavid commented on #720
Ok, seems that all issues have been solved, let's close this one and follow specific bugs on each example:

- https://github.com/ipfs/js-ipfs/pull/716
- https://github.com/ipfs/js-ipfs/pull/714

[2017-01-20 10:46] #720 closed

[2017-01-20 10:51] diasdavid commented on #615
@dignifiedquire I believe that is not a valid answer. Can you provide @RichardLitt with:

- How to use jsdoc to generate markdown docs
- Any thoughts you might have to make that a simple thing?

[2017-01-20 11:09] dignifiedquire commented on #615
I'm sorry I just don't agree with the notion of stuffing the readme full of api documentation if we don't have to. Especially for projects where the documentation is more than just a couple of methods. Putting it in a separate markdown file which is not tracked in git and published to npm I think makes sense though.

- Documentation on how to generate markdown docs using documentations.js can be f

[2017-01-20 20:47] dryajov commented on #718
@dignifiedquire Yep... that should take care of it, thanks.

[2017-01-22 14:24] diasdavid opened #721 "Solving the Stream Muxer interoperability between Go and JS implementations"
- Available Stream Muxers
  - js-libp2p-multiplex
  - js-libp2p-spdy
  - spdystream (Go) - equivalent to js-libp2p-spdy
  - yamux (Go)
  - muxado (Go)
  - go-multiplex (Go) - equivalent to js-libp2p-multiplex

With https://github.com/libp2p/interface-stream-muxer, we got a standard interface for Stream Multiplex and with it, a very comprehensive battery of tests, which can be found:

- JS - https:

[2017-01-22 14:25] diasdavid commented on #721
@VictorBjelkholm how is the state of testing? Have we confirmed that go-multiplex actually passes all the tests like yamux?

What about the tests just between `js-libp2p-ipfs-node.js` and `go-libp2p`, do those show any interesting behaviour?

[2017-01-23 07:48] diasdavid commented on #614
We now have a hosted Signalling Server available and it is behind https too! :D

See everything here: https://github.com/libp2p/js-libp2p-webrtc-star#hosted-signalling-server

Last TASK:
- [ ] Document this stuff in js-ipfs README

[2017-01-23 10:38] VictorBjelkholm commented on #721
@diasdavid

I cannot confirm that either go-multiplex or yamux is passing the tests since I cannot run them. Wrote a comment about this here: https://github.com/jbenet/go-stream-muxer/issues/10#issuecomment-274450927

Gonna skip muxando for now.

So, with spdy everything is fine and seemingly working, when testing the `echo` example, however, when using multiplex, libp2p-nodejs fails with:

[code]

[2017-01-23 18:37] lgierth commented on #614
It would be reaaalllly useful if the signalling server exported metrics for prometheus. At the latest when we promote it to a domain under libp2p.io.

[2017-01-24 17:14] diasdavid commented on #721
Started a 'how to repro' issue to help everyone debug here: https://github.com/ipfs/js-libp2p-ipfs-nodejs/issues/59

[2017-01-26 18:02] dignifiedquire opened #725 "Awesome WebWorkers Support"
Thanks to the efforts from @dryajov and @tswindell we are close to having full support for running js-ipfs in webworkers. This issue tracks the last outstanding issues for this.

## Aegir
- [x] Merge webworkers support into aegir
- [x] Release aegir with webworker test support

## PRs

- [x] https://github.com/libp2p/js-libp2p-crypto/pull/61
- [x] https://github.com/multiformats/js-multihashing-as

[2017-01-27 07:58] chovy opened #727 "stable candidate?"
I know I shouldn't ask but I'm just curious -- last I checked there was some major pieces missing in js-ipfs to get it to work on its own. Is there a timeline for when 1.0.0 will be released with full api 1-2-1 with the Go implementation?

[2017-01-27 09:36] diasdavid commented on #727
Hi @chovy, you are totally welcome to ask, in fact, we keep our [ROADMAP](https://github.com/ipfs/js-ipfs#project-status) open just to make sure the community knows where we are headed.

Right now, we are facing a issue with the Stream Multiplexer we have available, you should be able to fetch files from go-ipfs through js-ipfs, but not the vice versa (until we solve it), nevertheless js-ipfs to j

[2017-01-27 09:36] #727 closed

[2017-01-27 16:01] dryajov opened #728 "Proposal: use self instead of window for WebWorker compatibility"
As part of achieving #725, I would like to propose that we switch from using `window` to `self`, everywhere possible, since `window` is missing in Service and Web workers. It should be pretty safe, as long as we don't need to modify `window`, since `self` is readonly. What I'm trying to avoid  is checking for `window` everywhere since you could be potentially running inside a WebWorker and doing t

[2017-01-27 16:30] RichardLitt commented on #615
Fair.

Why no git track?

[2017-01-27 16:52] dryajov commented on #725
I can take this on.

[2017-01-27 17:02] dryajov opened #729 "how to use websockets transport in ipfs?"
Since WebRTC is no available in Web/Service Workers (https://github.com/w3c/webrtc-pc/issues/230), for now the only other option is to use WebSockets. I haven't been able to find the correct multiaddress format/string to connect to IPFS node over WS and I'm probably missing a bunch of other things. Can someone provide an example/steps of how to connect to IPFS over WS?

This is part of the #127 ef

[2017-01-27 17:58] diasdavid commented on #728
@dryajov sounds good, nevertheless please have in mind that WebRTC is not available in webworkers, we will need some special way to fully support a js-ipfs node in a WebWorker

[2017-01-27 18:27] dignifiedquire commented on #728
Are you sure all browsers expose self in the same way they support window?

[2017-01-27 19:13] dryajov commented on #728
According to MDN it is - https://developer.mozilla.org/en-US/docs/Web/API/Window/self & https://developer.mozilla.org/en-US/docs/Web/API/WorkerGlobalScope/self.

[2017-01-27 20:49] diasdavid opened #730 "Should not append /ipfs/id if the multiaddr already has it"
@VictorBjelkholm discovered it.

Bug here: https://github.com/ipfs/js-ipfs/blob/master/src/core/components/id.js#L21-L24

[2017-01-27 20:59] dryajov commented on #728
@diasdavid We should be able to use web sockets AFAIK? I've asked a question here #729, I understand that currently there is no discoverability built into the js-ipfs, but we can dial directly, can we?

[2017-01-28 09:32] negamaxi opened #731 "files.add() returns folders hashes as well"
Trying to understand meaning of `path` filed in `file` object. It seems `files.add()` builds hashes from  streams/buffers, but when I'm put relative path string into `path` field it returns additional hases for folders too.

[code]
If I use `fileName` instead of `filePath` it returns only two hashes for each file. Which kind of path should I use then, relative or filename? Is there any use cases?

[2017-01-28 09:51] diasdavid commented on #731
Hi @negamaxi, just wondering if you found https://github.com/ipfs/interface-ipfs-core/tree/master/API/files#add and if that was useful to you?

`files.add` will take an array of files described in `{ path:, content }`, where path is the path from the root to the where the content lives, think it as a DAG, it has always a starting point and everything expands from there.

When you add a `.`, it is

[2017-01-28 10:51] negamaxi commented on #731
Hi @diasdavid, thanks for your response. Yes, I've read Api docs for `files.add()` before using it, but I'm still missing the point of `path` field, as nothing stops me from passing such objects `{ path: "my-file.txt", content: Stream }` or even `{ path: "", content: Stream }`. In the last case `path` field will be containing a file hash, and I haven't seen explanation for such behavior in docs.

[2017-01-28 11:59] diasdavid commented on #731
The `path` field purpose is to that you can construct your directory tree. Adding a file with no path is parallel to an `ipfs add fileName`, where you add the file, but you loose the name when you get back the hash, while adding a file with a path is parallel to `ipfs add fileName -w`, which wraps the file in a dir node so that you preserve the filename.

[2017-01-28 12:02] diasdavid commented on #729
In a browser node, you don't have to add a WebSockets addr in order to be able to dial to a node with WebSockets.

In a Node.js node, you need to add that to your config, see:

https://github.com/ipfs/js-ipfs/blob/master/test/utils/temp-node.js#L11-L28

Or simply open the ~/.jsipfs/config file and add it directly. It looks the same as a `tcp`, but with the `/ws` appended

[2017-01-28 12:04] diasdavid commented on #728
Yes, I've answered your question on #729

[2017-01-28 15:39] diasdavid commented on #711
Closing this issue, let's follow on each example on their specific PR

- https://github.com/ipfs/js-ipfs/pull/714
- https://github.com/ipfs/js-ipfs/pull/716

[2017-01-28 15:39] #711 closed

[2017-01-28 15:50] VictorBjelkholm commented on #730
Fixed by 718394a1cd2d7553c860bc12588cc3c890de3b6b

[2017-01-28 15:50] #730 closed

[2017-01-28 16:24] diasdavid commented on #697
@dignifiedquire also, can we get aegir to also run the tests inside electron for us? Same way as in Node.js, Browser and WebWorker. Ideally, we would run tests inside the browser process and node.js process.

[2017-01-28 16:24] diasdavid commented on #474
Hey @VictorBjelkholm mind adding a test case for this showing the failure?

[2017-01-28 16:25] diasdavid commented on #300
Our unixfs-engine is now 'complete' thanks to @pgte and can handle all the DAGBuilders. I believe this isn't an issue anymore, @AdamStone can you provide a test case so that we validate it?

Thank you!

[2017-01-28 16:26] diasdavid commented on #213
Hey @dignifiedquire  mind adding a test case for this showing the failure?

[2017-01-28 22:43] dryajov commented on #729
@diasdavid Thanks, will try this as soon as I get all the issues with running inside a WW ironed out.

[2017-01-29 13:43] VictorBjelkholm opened #737 "Connecting to running daemon with wrong ID makes daemon start listening on address with wrong ID"
I'm running on js-ipfs node in the browser and one daemon in nodejs. If I connect from the browser to the nodejs daemon with `ipfs.swarm.connect` but the ID part of the multiaddr is wrong, it'll start listening on that address...

## Reproduce

1. Run `jsipfs daemon`
2. Run `jsipfs id`, output:

[code]

3. connect from browser node with wrong id:

[code]

4. run `jsipfs id` again, output:

[code]

[2017-01-29 14:57] diasdavid commented on #737
woa, that is super weird, this seems a thing that can be replicated in a test, can you add it please?

[2017-01-29 17:19] daviddias opened #738 "Enabling experimental features"
We need a way to enable/disable experimental features throughout js-ipfs (that includes all the js-libp2p) in a way that is non-intrusive, easy to add and easy to remove, both in Node.js and the Browser.

A typical way to achieve this, is through env variables, but that might not be the ideal case for Browser bundles.

Thoughts, ideas?

[2017-01-29 18:01] diasdavid commented on #725
This is awesome! Thank you @dryajov!

Can we then make a lot of noise on the request to have WebRTC in WebWorkers?

- https://lists.w3.org/Archives/Public/public-webrtc/2015Oct/0000.html
- https://github.com/w3c/webrtc-pc/issues/230
- https://bugzilla.mozilla.org/show_bug.cgi?id=922363
- https://bugs.chromium.org/p/chromium/issues/detail?id=302019
- https://groups.google.com/forum/#!topic/discuss-

[2017-01-29 19:44] diasdavid opened #739 "DNS support for Bootstrapper nodes"
Following: https://github.com/multiformats/js-multiaddr/issues/37

Here is the list of remaining tasks:

- [ ] Migrate repo/.config to have:
  - [ ] libp2p key to isolate all libp2p config specifically
  - [ ] addrs to listen (listen)
  - [ ] addrs to announce (broadcast)
  - [ ] addrs to not announce (filter)
  - [ ] Add these distinctions to the peerInfo object too
- [ ] Test that a js-ipfs node

[2017-01-29 19:49] lgierth commented on #739
While speccing out the relay I noticed we don't really have a pressing need for specifying addresses *not to announce*. I'm probably going to leave it out in go-ipfs.

What are they needed for in PeerInfo?

[2017-01-29 20:18] diasdavid commented on #728
All right, all the work happening and being tracked here: https://github.com/ipfs/js-ipfs/issues/725 closing this one :)

[2017-01-29 20:18] #728 closed

[2017-01-29 20:19] diasdavid commented on #694
Hope the answer was clear enough, let me know if you have any other question :)

Be sure to check out our latest examples:
- https://github.com/ipfs/js-ipfs/pull/714
- https://github.com/ipfs/js-ipfs/pull/716

[2017-01-29 20:19] #694 closed

[2017-01-29 20:19] #614 closed

[2017-01-29 20:43] diasdavid commented on #729
Thank you @dryajov.

Also, would you like to help us with documenting this details?

[2017-01-29 20:51] diasdavid commented on #739
@lgierth re: PeerInfo

This is js-ipfs specific :)

[2017-01-29 21:13] dignifiedquire commented on #615
Because it's auto generated and the risk of things getting out of sync on a per commit basis is very high.

[2017-01-29 21:18] dignifiedquire commented on #738
I think these options should be exposed as config options on a library level. We can then pass cli flags in js-ipfs as values for those (node.js) and simply set them directly when starting up the node in the browser. I would really like to stay away from global injections as much as possible for such things.

We could also reuse the existing config file, and add a section `experimental`, in which

[2017-01-29 21:19] dignifiedquire commented on #213
@diasdavid not sure how to exactly, and I don't think that I will have time for this soon.

[2017-01-29 23:37] dryajov commented on #729
Sure! Let me know how you'd like to do that.

My current plan to move forward with #725 is to replace `window` with `self` and update the project the run the WW tests. I was gonna create a PR for each project as I go.

But if you referring merely to document this use case in particular, let me know where that should be done.

Regardless, I'm here to help as much as I can :)

[2017-01-30 09:07] diasdavid commented on #729
woa, thank you! glad to have you around!

I feel that the best way for now (until all of this primitives are common language to everyone) is that we have a mention on the README under the USAGE section, probably IPFS Core - https://github.com/ipfs/js-ipfs#ipfs-core-examples-use-ipfs-as-a-module and then a quick example of how that is achieve in the examples folder.

[2017-01-31 08:57] haadcode opened #744 "Ethereum Genesis Sate .json included in the build"
When building orbit-db examples, which use js-ipfs, I noticed there's a big .json file included in the build:
[code]

Which comes from:
[code]

Not sure if this is needed but we should make sure to verify if it is and if not, remove it. This would give us a huge reduction in the minified build footprint.

[2017-01-31 09:01] diasdavid commented on #744
@kumavis can you check this?

[2017-01-31 09:04] haadcode opened #745 "Reduce Dexie.js's minified size"
Noticed that when I'm bundling (orbit-db with js-ipfs) with webpack, Dexie.js is at 199kb (in the minified build) but dexie's official minified build is 53kb.

We should check if we can reduce its sie to similar level as the official minified build. This would reduce the disk footprint of js-ipfs build.

[code]

- https://github.com/dfahlander/Dexie.js/tree/master/dist
- https://unpkg.com/dexie@1.

[2017-01-31 09:09] haadcode commented on #745
Just had a conversation on IRC with @dignifiedquire:
[code]

So it may me that the numbers here are incorrect. Will investigate, mark this issue as invalid for now, but don't close until we've verified that that's the case.

[2017-01-31 09:14] kumavis commented on #744
we do not need it, i will see it removed

[2017-01-31 09:14] kumavis commented on #744
cc @wanderer

[2017-01-31 09:45] haadcode commented on #745
Looking into the number as per  ^, ran a quick test with ipfs-log:
[code]

The first is the normal minified build. The second is without Buffer included in the code.

Normal: 73.50kb
no-Buffer: reduction of 54.53kb

To me that looks like the numbers *are* minified sizes. Am I missing something @dignifiedquire?

[2017-01-31 09:48] kumavis commented on #744
fixed in `ethereumjs-tx@1.2.5`
ethereumjs-block pending publish by @wanderer
https://github.com/ethereumjs/ethereumjs-block/issues/25

[2017-01-31 09:50] haadcode commented on #744
Thank you @kumavis for such a quick action! 🎉 ❤️

[2017-01-31 09:52] dignifiedquire commented on #745
hmm looks like the second numbers are minified, interesting. Could you post the full log from the build with dexie please?

[2017-01-31 09:58] haadcode commented on #745
Sure. This is the full output from building minified orbit-db:
[code]

Using webpack@2.2.1 and UglifyJS#harmony.

[2017-01-31 11:58] dignifiedquire commented on #745
@haadcode could you test with this branch: https://github.com/ipfs/js-idb-pull-blob-store/pull/17 this uses the latest dexie and directly uses the minified version

[2017-01-31 15:00] haadcode commented on #745
Will do. Will also try with babili as discussed if the latest dexie still shows up big.

[2017-01-31 17:56] RichardLitt opened #747 "Add orbit tests to js-ipfs release"
This is the natural extension of https://github.com/ipfs/pm/issues/345. In short:

In that issue, @diasdavid:

So, this issue is to track how we want to make it part of the release process.

[2017-01-31 18:43] kumavis commented on #744
@haadcode fixed in  `ethereumjs-block@1.5.0`

[2017-02-01 08:22] diasdavid commented on #747
Can we create a RELEASE_CHECKLIST.md document at the root of js-ipfs?

[2017-02-01 10:38] diasdavid commented on #744
sweet! closing this one then :) thank you @kumavis

[2017-02-01 10:38] #744 closed

[2017-02-01 11:02] haadcode commented on #745
From IRC:
[code]

So to sum it, **with webpack 2, we need to run it with `-p` flag in order to produce minified builds**, and the numbers webpack 2 show upon build **are non-minified sizes**.

I think we can close this. Agreed @dignifiedquire?

[2017-02-01 11:03] haadcode commented on #745
Oh, one more:

[code]

So, **make sure to include "uglify-js": "github:mishoo/UglifyJS2#harmony" in your `package.json`**

[2017-02-01 16:21] diasdavid commented on #479
Closing this one:
- not a priority
- not needed

[2017-02-01 16:21] #479 closed

[2017-02-01 16:23] diasdavid commented on #389
This is an excellent idea, thanks for pointing this out, added to my bookmarks.

This is not a issue of js-ipfs in general though, whoever wants to improve the CLI with that can check that list.

[2017-02-01 16:23] #389 closed

[2017-02-01 16:24] diasdavid commented on #269
Work happening on https://github.com/ipfs/js-ipfs/pull/299

[2017-02-01 16:24] #269 closed

[2017-02-01 16:25] diasdavid commented on #300
Closing this issue, @AdamStone let me know if you manage to reproduce the problem.

[2017-02-01 16:25] #300 closed

[2017-02-01 17:54] dryajov commented on #725
Wanted to check in with where things are with this endeavor.

So far, I've managed to switch the use of `window` to `self`, and this seem to fix 90% of the issues. I've got most of it committed in my forks on github, if anyone is interested to check it out, please do. I'm not entirely sure about using `self` being the right way of doing it, and I'm not as familiar with webpack to know if there is

[2017-02-01 19:06] dignifiedquire commented on #479
Should still happen, so why closing?

[2017-02-01 21:59] dignifiedquire commented on #389
Also part of the last cli refactor was adding some of these into js-ipfs. Yargs and the update checker are now being used.

[2017-02-02 16:41] dryajov commented on #725
PR to address `brorand` - https://github.com/indutny/brorand/pull/7

[2017-02-02 18:24] kumavis commented on #725
i bet you could polyfill it
[code]

[2017-02-02 19:31] dryajov commented on #725
wouldn't that mess things up a bit inside a WW for other packages as well? As in incorrectly assuming that its running in a dom enabled env? Otherwise, thats a better approach.

[2017-02-02 19:37] kumavis commented on #725
yeah thats a good point, its a bit hacky so beware

[2017-02-02 20:41] gavinmcdermott opened #754 "Initializing nodes with a pre-baked private key"
Are there practices you'd suggest to initialize a node with a pre-baked private key? I ask because the files are always pulled into the `.init` call and I'd love to ensure a constant identity. It doesn't need to be the most secure option (I'm currently building for prototypes), but suggestions are welcome.

[2017-02-02 21:21] lgierth commented on #754
For the ipfs.io gateways/bootstappers, we first init the repo, then overwrite the config file with what we actually want, then start the daemon

[2017-02-02 21:22] lgierth commented on #754
Ref. https://github.com/ipfs/infrastructure/blob/master/ipfs/install.sh

[2017-02-02 21:50] nicola opened #755 "Fails on .init()"
The npm version crashes on init with the error below, however, after I have retrieved js-ipfs from github and npm-linked it worked again.

I have this code:

[code]

And when running it, this is what I get:

[code]

Am I doing something wrong?

[2017-02-02 23:04] gavinmcdermott commented on #754
Thanks for the link @lgierth - much appreciated

[2017-02-06 15:57] haadcode commented on #747
I like the idea of a release checklist :+1: Is there any existing list to base it on? Or is this information still in the heads of you and @dignifiedquire?

[2017-02-07 16:55] diasdavid commented on #755
Not at all, this is an issue because of our abuse of minor versions (pre 1.0.0). Took a note here https://github.com/ipfs/community/issues/225#issuecomment-277132527 and will add this as an item of the 0.22 release.

Thank you for catching and reporting this @nicola (I'm afraid it must be annoying a ton of people)

[2017-02-07 16:57] dignifiedquire commented on #755
@diasdavid which dependency chain here is breaking? I can do a dependency freeze and push a bug fix release if you want

[2017-02-07 17:00] diasdavid commented on #755
@dignifiedquire let's just go full `~` as we have discussed and agreed and January and remove the issue at the root, otherwise it will be very hard to tell which dep is causing the breaking (plus freazing that one my break others). Do note that in master it is fine.

[2017-02-07 17:05] diasdavid opened #756 "🚀 0.22.0 Release"
We are close to cut a **0.22.0 release** that includes a ton of bug fixes and new features in IPLD land.

## Highlights

#### ✅ New API: DAG - Manipulate all your IPLD format objects

Now you can use a new DAG API to create dag-pb, dag-cbor or any [IPLD Format](https://github.com/ipld/interface-ipld-format) compatible node really! Consult https://github.com/ipfs/interface-ipfs-core/tree/master/API

[2017-02-07 19:37] diasdavid commented on #754
Awesome, thank you for getting this one @lgierth :)

[2017-02-07 19:37] #754 closed

[2017-02-07 19:37] diasdavid commented on #747
Creating it here: https://github.com/ipfs/js-ipfs/pull/757

[2017-02-07 19:37] #747 closed

[2017-02-07 21:29] diasdavid opened #758 "Seeing a `zlib` error between browser nodes and node.js nodes?"
This is a known issue and we do have more than just a solution for it \o/

The problem is that the default shim for zlib that is available for webpack and browserify is simply incomplete, we've fixed this by upgrading that shim and implementing the remaining features, however, since the PR -- https://github.com/devongovett/browserify-zlib/pull/18 -- hasn't been merged for the course of almost a ye

[2017-02-08 02:05] gavinmcdermott commented on #754
@diasdavid - I have a brief follow up on this: To give `ipfs/pubsub` + `nomad` a whirl we've been building a few sample apps to demo the possibilities. Today we wrapped up building an in-browser messaging app.

Using the file overwrite as Lars suggested works well in node, but when I want to init with a private key in the browser, do you have a recommendation as to how you'd approach it? After pok

[2017-02-08 03:13] diasdavid commented on #754
Have you seen https://github.com/ipfs/js-ipfs/blob/master/test/utils/ipfs-factory-instance/index.js ? We have a default config here: https://github.com/ipfs/js-ipfs/blob/master/test/utils/ipfs-factory-instance/index.js#L82-L98 and load that one, in that example, we create a PeerId per node, but you can do a [PeerId.createfromJSON](https://github.com/libp2p/js-peer-id/blob/master/src/index.js#L177)

[2017-02-08 05:02] nicola commented on #755
Thank you :)

[2017-02-08 07:46] dryajov commented on #725
The linked PRs should address the full webworker support, with this changes I'm able to run js-ipfs tests in webworkers.

[2017-02-08 09:58] dignifiedquire commented on #725
Looks like brorand shipped yesterday with the fixes :)

[2017-02-08 15:11] diasdavid commented on #725
woooot! So now, we just need to enable webworker tests in all the repos? Let's make all of this on time for #756 \o/

[2017-02-08 15:26] dignifiedquire commented on #725
@diasdavid all you have to do for that is upgrade to aegir@10 which runs them by default

[2017-02-08 17:18] gavinmcdermott commented on #754
Thank you @diasdavid—working this into our library this morning.

[2017-02-08 19:36] diasdavid commented on #725
-> https://github.com/ipfs/js-ipfs-unixfs-engine/pull/137#issuecomment-278431672

[2017-02-08 19:40] dryajov commented on #725
@diasdavid for projects that we want to skip webworker tests you can pass the --dom parameter to aegir.

[2017-02-08 19:56] dryajov commented on #725
@diasdavid I would also merge and release this PRs before bumping aegir on the rest of the projects, because they would fail without those changes, I've seen multihashing-async being the culprit in most cases...

[2017-02-08 21:15] diasdavid commented on #725
why `--dom`? That doesn't seem like to be something obvious for what it does

[2017-02-08 21:19] dryajov commented on #725
there are two flags now, --webworker which will run webworker only tests and --dom which will run tests in a `dom enabled env`™ only, I've no attachment to that flag whatsoever and open to hearing suggestions - naming is **hard**. 😛

[2017-02-08 21:21] diasdavid commented on #725
indeed :) let's do `--webworker=only` and `--webworker=false` for only webworker and except webworker respectively, being `--webworker=true` the default

[2017-02-08 21:25] dryajov commented on #725
that seems reasonable :)

[2017-02-09 15:38] diasdavid commented on #725
@dryajov https://github.com/dignifiedquire/aegir/pull/99

[2017-02-10 02:59] diasdavid commented on #725
- [ ] https://github.com/dignifiedquire/aegir/pull/99

[2017-02-10 16:29] diasdavid commented on #756
@kumavis how is the testing on https://github.com/ipld/js-ipld-resolver/pull/78 going? I'm really tempted in cutting this release and enable people to experiment the DAG API plus not have troubles installing it from npm and then releasing a patch version with all the ethereum resolvers.

[2017-02-10 17:28] diasdavid commented on #756
Extra two issues to handle:
- [ ] Handle https://github.com/libp2p/js-libp2p-crypto/issues/70
- [ ] Merge https://github.com/ipfs/js-ipfs/pull/762

[2017-02-10 19:00] daviddias opened #763 "🌟 Parity to IPFS"
Goal: Add a 'Storage Backend' for js-ipfs that backed by Parity, the Rust implementation of Ethereum. This will enable js-ipfs nodes to fetch content from the Ethereum Network as if it was just a big bucket with all the blocks from the chain.

TASKS

- [x] rust-cid
- [x] Implement an http endpoint in Parity that lets us retrieve the blocks
- [ ] Implement the datastore backend that mounts on top o

[2017-02-11 00:45] kumavis commented on #763
from parity `mh-ipfs branch`
[code]
while thats running, you can make requests by cid
[code]

[2017-02-11 01:33] kumavis commented on #763
i made this util to help with this https://github.com/kumavis/eth-ipld

[2017-02-11 02:27] kumavis commented on #756
eth-resolvers are ready to go

[2017-02-14 00:53] diasdavid commented on #756
# Last mile for this release, Orbit testing with the new js-ipfs :)

## orbit-db

Currently, not every test of orbit-db passes on master, before the link

[code]

## orbit-core

It fails on test:

[code]

This is due to the change on IPFS creation, now when you create an instance, you have to do:

[code]

@haadcode could you prepare orbit-core for the new version?

### ipfs-log

Same problem as or

[2017-02-14 14:58] haadcode commented on #756
Working on it

[2017-02-14 15:44] haadcode commented on #756
@diasdavid I updated all repos for this. You should be able to run the tests with latest `ipfs` by doing:
[code]

I ran tests for all the above repos with `js-ipfs` from master and they all succeed except one. The one failing is the replication test in `orbit-db` which syncs the databases via pubsub. There's a pre-condition for the test that the peers must be connected and this is checked with `ip

[2017-02-14 20:26] kumavis commented on #756
[code]

just need to bump dep `ipld-resolver` to `0.9.0`

[2017-02-15 08:07] diasdavid commented on #756
@haadcode that is an easy fix, pubsub is now behind an [EXPERIMENTAL boolean](https://github.com/ipfs/js-ipfs#create-a-ipfs-node-instance) as recommended by @whyrusleeping

[2017-02-15 08:30] haadcode commented on #756
@diasdavid I added the flag to the IPFS init sequence as described in the doc: https://github.com/haadcode/ipfs-daemon/blob/master/src/ipfs-node-daemon.js#L40. Did I miss something?

[2017-02-15 08:35] diasdavid commented on #756
Oh, that means something is broken. What does `ipfs.swarm.peers` return you?

[2017-02-15 08:39] haadcode commented on #756
Empty array, `[]`

[2017-02-15 11:52] VictorBjelkholm opened #766 "Failing tests on ubuntu+osx on current master"
While trying to get the jenkins integration to work, I've noticed that there is some tests failing on both ubuntu and osx when running the browser+node tests. cc @diasdavid

Failing tests:

## osx
### browser
[code]
### node
[code]

## ubuntu
### browser
[code]
### node
All passing

Link to full logs: https://ipfs.io/ipfs/QmYyt6qUoDpH3Su3udJ4crq8nXTSr5DkgEgGUyjZ1hqp3k

[2017-02-15 13:27] diasdavid commented on #766
fixed on https://github.com/ipfs/js-ipfs/commit/e999f05674dd5e1567cb88b29f60e094b20271fe

Sorry for the troubles, I updated them all by mistake.

[2017-02-15 13:39] #766 closed

[2017-02-15 13:41] diasdavid commented on #756
It means that your peers are not connected. Where is the swarm.connect call? Can you verify that it returns with success?

[2017-02-15 14:01] haadcode commented on #756
There's no swarm.connect call. Previously, the peers always found each other automatically.

[2017-02-15 14:05] diasdavid commented on #756
Can you do a `config.get` of your node for me?

[2017-02-15 17:03] diasdavid commented on #756
Found the issue, you were subscribing to a topic and waiting for peers in another topic, that is why there was peers in the swarm but never in the topic pool:

[code]

[2017-02-15 18:02] diasdavid commented on #756
Ok, so last thing is:

[code]

@haadcode ?

[2017-02-15 18:03] diasdavid commented on #756
Got greenlight from @haadcode ✳️

[2017-02-15 18:43] diasdavid commented on #756
\o/ https://github.com/ipfs/js-ipfs/releases `v0.22.0`

![](https://media.giphy.com/media/l0Ex7OYRjmY0dnxqo/giphy.gif)

[2017-02-15 19:11] whyrusleeping commented on #756
:wave:  "Wow" :wave:

[2017-02-15 23:12] #756 closed

[2017-02-16 10:14] diasdavid commented on #721
https://github.com/ipfs/in-web-browsers/issues/19#issuecomment-280281313

[2017-02-21 17:48] lgierth commented on #599
I've brought up FlyWeb again, but for local peer discovery: https://github.com/ipfs/in-web-browsers/issues/45

[2017-02-23 14:38] jackkleeman commented on #721
Any news on the status of this in browsers? I have no issues from node in spdy, but in browser both spdy and multiplex (after enabling multiplex on the go listener) fails during the handshake, after `selecting /spdy/3.1.0` or `selecting /mplex/6.7.0`. Well, it doesn't fail with an error, it just stalls.

[2017-02-23 17:43] dignifiedquire commented on #721
The version on `master` is fully interoperable with go using multiplex on node.js. I am still working through testing multiplex in the browser.

[2017-02-23 18:04] jackkleeman commented on #721
Yes it looks like my problem is the outdated ipfs fork used by OpenBazaar. Thanks!

[2017-02-23 20:10] compsocial opened #771 "Finding hash on gateway.ipfs.io"
I succeeded in obtaining js-ipfs via an npm install on Mac OS 10.12.3, after a decent amount of debugging of a few underlying dependencies. I then added files using both the jsipfs command line tool, as well as via both the browserify and webpack examples. Everything looks good in the terminal and the browser. For example:

[code]
Similar results with the browser (that I'm actually more interested

[2017-02-24 15:11] aphelionz opened #773 "Browser: Reloading page with static repoName throws error"
Steps to reproduce:

Run this code in the browser to connect to a repo with a static name. In this case "pastebin"

[code]

Expected Behavior: console should log "good to go" every time
Actual Behavior: the console logs "good to go" the first time, and throws the error the second time

This is related to IndexedDB. It seems ipfs.init doesn't like existing repos.

It also seems that emptyRepo has n

[2017-02-24 15:27] dignifiedquire commented on #773
This is somewhat expected, but I agree the api is currently not easy to understand.

- `ipfs.init` corresponds `ipfs init` on the cli, which has the same behaviour, it will error out if a repo already exists in its place. The concept here is, this should only be called once, and on subsequent calls it's not needed anymore.
- `emptyRepo` as you wrote, controls if there are some seed files put into

[2017-02-24 15:38] aphelionz commented on #773
Thanks! I will try `ipfs._repo.exists` and report back.

[2017-02-24 15:42] aphelionz commented on #773
@dignifiedquire that worked. How can I help getting it exposed and documented?

[2017-02-24 15:50] dignifiedquire commented on #773
How about exposing it to the main `ipfs` object in `src/core/index.js`, so it can be used like this

[code]

[2017-02-24 19:48] dignifiedquire commented on #718
@dryajov `master` now is now transferring files with go-ipfs `0.4.6-rc.1` happily if you enable multiplex. Can we close this issue?

[2017-02-24 20:51] dryajov commented on #718
Yep, closing.

[2017-02-24 20:51] #718 closed

[2017-02-25 22:51] KRYPTOHAUS opened #777 "WebRTC error: node-pre-gyp ERR!"
When attempting to install jsipfs I encounter a build error towards the end of the process. I start this with the following command: 'sudo npm install ipfs --global' I've tried using '--unsafe_perm' as well.

The entry labelled under "IPFS Error" shows what console output I get relevant to this issue.

After a bit of troubleshooting I found this to be a problem with gyp and the node webrtc stack.

[2017-02-26 06:20] zabirauf opened #778 "Getting 'Cannot find module wrtc.node'"
I installed the ipfs package globally and when I run `jsipfs` I get the following error

[code]

[2017-02-26 21:16] compsocial commented on #777
I had a similar issue on OS X. If you visit the wrtc package page, it will list a number of development packages you need installed at compilation time. That may be at the root of your problem.

[2017-02-26 21:20] compsocial commented on #778
Also had this issue. For me, it stemmed from wrtc installation problems (but somehow ipfs install kept going?). Like #777, the fix was to get the development libraries, check that I could build wrtc from source via npm, and then reinstall a clean js-ipfs.

[2017-02-27 05:08] zabirauf commented on #778
Thanks @compsocial, that worked.

For anyone else running into the issue, I did the following to make it work

[code]

[2017-02-27 05:08] #778 closed

[2017-02-28 18:30] thisconnect commented on #771
I have the same issue. not sure if I do something wrong, firewall issue, or if js-ipfs already supports that.

[2017-02-28 18:35] thisconnect commented on #556
is "how do I get a js-ipfs node instance" already possible with current js-ipfs ?

[2017-02-28 18:59] dignifiedquire commented on #556
@thisconnect the setup described at the very top works with the current version.

[2017-02-28 19:04] dignifiedquire commented on #771
js-ipfs does not support connecting to the gateways out of the box currently. The reason for that is that the gateways run go-ipfs and that js-ipfs has not implemented all features yet that are needed to easily fetch content on the gateways from it.

The latest release improves on things a little bit, as it now enables content transfer between two nodes directly. To test this you can connect to `/

[2017-03-01 06:59] thisconnect commented on #556
@dignifiedquire thanks for the quick reply and also your answer here https://github.com/ipfs/js-ipfs/issues/771#issuecomment-283132010

About this issue, is API still open for discussion?
What do you guys think about using native Promises?
(Users on Node.js can easily polyfill promises with the implementation of their choice)

i.e.
[code]

which would/should then work with async/await as well

[2017-03-01 07:02] thisconnect commented on #771
@dignifiedquire thanks! I will play with go-ipfs and js-ipfs-api
Where is the best place to see the current state of js-ipfs, the waffle board?

[2017-03-02 06:07] redcherry999 commented on #526
**Hello sir ,

i'm getting same errror as**

`module.js:327
throw err;
^

Error: Cannot find module 'readable-stream'
at Function.Module._resolveFilename (module.js:325:15)
at Function.Module._load (module.js:276:25)
at Module.require (module.js:353:17)
at require (internal/module.js:12:17)
at Object. (/home/root/aws_nodejs/node_modules/aws-iot-device-sdk/node_modules/mqtt/lib/store.js:2:16)
at Mo

[2017-03-03 11:54] VictorBjelkholm commented on #771
@thisconnect there is a "Project Status" section in the ROADMAP.md file that might help you getting an overview: https://github.com/ipfs/js-ipfs/blob/master/ROADMAP.md#project-status

The Waffle board is more for day-to-day organization and also to find something to work on. Issues that are under the "Ready" column, should be ready to be picked up and worked on without any further information.

Ho

[2017-03-03 11:54] #771 closed

[2017-03-03 11:58] VictorBjelkholm commented on #556
@thisconnect we do have a ongoing discussion about the exposed interface over here: https://github.com/ipfs/js-ipfs/issues/557

And worth mentioning, today we're exposing both callbacks and promises via `promisify`. You can see an example of that over here: https://github.com/ipfs/js-ipfs/blob/fe710132443cf6ec852b918491e0f50ac89ab7e4/src/core/components/config.js#L53-L55

Basically, what that mean

[2017-03-05 20:20] mitar opened #2906 "pin ls could return also sizes of pinned objects"
So it could be easier to get a grasp of storage requirements of pinned objects.

[2017-03-06 09:12] mitar opened #2880 "A way to sign things using IPFS keys"
So each peer has its own key (and optional additional keys), but it seems there is no API which would allow one to sign messages using those keys (except by storing them inside IPNS).

[2017-03-06 16:40] diasdavid commented on #777
@KRYPTOHAUS after you install the pre-requisites listed on https://www.npmjs.com/package/wrtc#prerequisites, does it work for you? I believe I didn't have to do anything other than installing xcode in all my 3 machines to make it work, but if you find this to be the solution for you, I'll add it to the install notes.

[2017-03-06 16:46] diasdavid commented on #773
We kind of mimicked the behaviour of go-ipfs in this one, but I can the value of having a direct call to check for a boolean instead of checking for an error.

There is already a repoExists available at https://github.com/ipfs/js-ipfs/blob/master/src/core/utils.js#L3-L15 that is used by https://github.com/ipfs/js-ipfs/blob/master/src/core/components/repo.js#L11-L24.

I see three ways we can have t

[2017-03-06 16:56] diasdavid commented on #718
![](https://media.giphy.com/media/5xJIIRPC23yZG/giphy.gif)

[2017-03-06 17:01] diasdavid commented on #721
@jackkleeman keep us up to date with OB on top of js-ipfs and go-ipfs. If there are tests we can run before releasing new versions, that would be sweet to make sure we don't break anything by mistake (the same way we do with orbit) :)

[2017-03-06 17:32] jackkleeman commented on #721
Will do, I am in the early stages of porting to JS. We have a dht relay for offline messaging, but aim to build online messaging with js ipfs for outbound and the new relay circuit for inbound. I doubt we will have a friendly test suite for some time :p

[2017-03-06 17:32] aphelionz commented on #773
Thanks @diasdavid

I've started the work here: https://github.com/ipfs/js-ipfs/pull/776. Let me know which direction I should take it and I'll be happy to finish the work.

[2017-03-06 19:28] diasdavid commented on #721
all right :) Considering this issue done then :)

[2017-03-06 19:28] #721 closed

[2017-03-07 16:18] diasdavid commented on #773
@aphelionz gave you my feedback there. Will close this issue, let's continue the discussion of this feature there. Thank you for contributing! :)

[2017-03-07 16:18] #773 closed

[2017-03-08 10:52] daviddias opened #779 "🌟 adding Torrent support to IPFS"
I've started working in enabling [Torrent support for js-ipfs](https://github.com/ipld/js-ipld-torrent/pull/1), very much in the same way that we have support for: dag-pb, dag-cbor, eth-blocks, eth-tx, zcash (go-ipfs only), git (go-ipfs only) and bitcoin (go-ipfs only).

The end goal is to expose two top level commands to add and retrieve files that are Torrents, from the IPFS or BitTorrent networ

[2017-03-08 12:10] lgierth commented on #779
This sounds like the pragmatic way for me too -- we'll likely get a better idea of what to do with the whole torrent in the process of working on this.

Given that the torrent file itself is not already content-addressed, it's also the "correct" way I think. Magnet URIs address the info hash anyway.

[2017-03-08 12:14] lgierth commented on #779
[code]

[2017-03-08 12:22] diasdavid commented on #779
Notes from a chat with @jbenet and @whyrusleeping

- ~~Instead of having `ipld-torrent-file` and `ipld-torrent-info`, we just need `ipld-bencode` to be able to resolve through bencode encoded objects.~~ After rethinking this, I remembered why we need `ipld-torrent-file` and `ipld-torrent-info`, we need them to enable the resolver to resolve through paths inside these objects (i.e. `dag.get(infoHas

[2017-03-08 12:28] jbenet commented on #779
\o/

[2017-03-08 13:00] dignifiedquire commented on #779
@diasdavid maybe wait with the torrent blob store for the datastore refactor?

[2017-03-08 13:06] aphelionz opened #780 "ipfs.files.exists?"
Another possible "exists" request.

I'm working with `ipfs.files.cat` and I may have the need to detect whether a hash exists in the local repo before trying to get it from a gateway. Since the browser node isn't autoatically peering and retrieving files from the DHT yet (or I don't know how to manually implement it yet (or both)), I need to create a workflow that's something like:

1. Try to atte

[2017-03-08 14:33] diasdavid commented on #725
@dryajov what is the state of this? Would love to have it complete.

[2017-03-08 14:36] dignifiedquire opened #781 "Not fully compatible with node 4 anymore"
While adding a `yarn.lock` file I discovered that a dependency we are using is actually only working on node 6: https://github.com/ethjs/ethjs-util. As specified in its engine field. I also checked and it actually fails its tests on node 4.

[code]

[2017-03-08 14:38] diasdavid commented on #781
@kumavis @wanderer  can that tool become Node.js 4 compatible?

[2017-03-08 14:44] diasdavid commented on #780
@aphelionz I believe that is what `ipfs refs local` is for, although it just lists the hashes of objects, it has no notion of 'files'.

[code]

A `files.exists` might be indeed useful, but also misleading, it should include options for:

- local
- check only root (avoid recursively checking all the leafs)

Please consider making a proposal to https://github.com/ipfs/interface-ipfs-core/tree/master

[2017-03-08 14:48] aphelionz commented on #780
Right, I'm still getting the nomenclature right. Checking to see if the hash exists locally should be enough. Let me try with that and I'll report back and close the issue if it suffices.

[2017-03-08 14:55] aphelionz commented on #780
@diasdavid Though, should the pull() function have an error state that throws and therefore doesnt break the promise chain? Or am I using that / reading that incorrectly?

[2017-03-08 16:07] dryajov commented on #725
I believe the only outstanding issue is this PR https://github.com/dignifiedquire/aegir/pull/99, but support of ww itself is ready.

[2017-03-08 18:21] diasdavid commented on #779
@dignifiedquire I see the value, but won't block Torrent support because of the datastore refactor, it is not a dependency.

[2017-03-08 18:22] diasdavid commented on #779
To keep on log, here is the real structure of both Torrent file and info fields - https://wiki.theory.org/BitTorrentSpecification#Metainfo_File_Structure

[2017-03-08 18:33] diasdavid commented on #779
Bringing this one back (🎪 )

It turns out that we might actually just need to do the bencode, because the format, as described in -- https://wiki.theory.org/BitTorrentSpecification#Metainfo_File_Structure -- prescribes that the SHA1 hashes of the pieces be all concatenated, which means that there won't be any `<infohash>/info/pieces/<insert piece number>`, unless we apply a transformation to the b

[2017-03-08 21:10] kumavis commented on #781
cc @SilentCicero

[2017-03-09 06:53] thisconnect commented on #781
drop Node.js 4 :)

[2017-03-09 11:10] VictorBjelkholm commented on #781
Not sure that's a great idea, yet. According to the last user survey from NodeJS Foundation found that most people were running version 4 in 2016. Probably that looks different today, but couldn't find anything from 2017. https://nodejs.org/static/documents/2016-survey-report.pdf ||

Also, version 4 is still actively in LTS and would be too soon to drop it. https://github.com/nodejs/LTS#lts-schedu

[2017-03-09 11:21] dignifiedquire commented on #781
@VictorBjelkholm that is not the only issue. It seems it relies on the new way of ascii and utf8 character code point handling, as some of the tests fail on the encoding methods on node@4. So it's more involved to make it work on node@4. Also template strings are available in node@4

[2017-03-09 12:04] VictorBjelkholm commented on #781
@dignifiedquire thanks for clarifying, you're right. Did not run the tests myself but just read through quickly.

Still, if enough people are still on version 4, it would be a bad idea to stop supporting it, even if it would take a bit of work.

[2017-03-09 22:48] mitar opened #2892 "Maybe there should be a way for pin rm command not to throw an error when object is not pinned"
Otherwise currently user has first to check if object is pinned, if they just try to forget about an object fully.

[2017-03-09 23:43] KRYPTOHAUS commented on #777
All that was suggested was tried... it would not work. Only when  we installed Linux from scratch did we gain any ground. We needed Linux 14 rather than the updated 16 that we were on before. On 14, it installs perfectly.

[2017-03-09 23:43] #777 closed

[2017-03-10 03:31] lgierth commented on #779
It's pretty ironic, but we can exploit the fact that it prescribes SHA1 and split every 40 bytes.

[2017-03-10 09:59] diasdavid commented on #779
20 bytes*, @lgierth we can indeed, that falls into the 'Transformations' category, as IPLD compatible format goes, we are strict about not messing with the data.

[2017-03-10 11:13] VictorBjelkholm commented on #777
@KRYPTOHAUS this is very useful information, but it's unclear what you mean with "Linux 14" and "16". Are you talking about version of a specific Linux distribution (seems to be Ubuntu version?) or the kernel itself? If we can verify that downgrading helps, it'll be useful information to put in our readme for both js-ipfs and js-libp2p-webrtc-star

[2017-03-13 14:57] diasdavid commented on #781
We've a couple of options in this case.

- Update ethjs-util to support Node.js 4 for now
- Remove eth support by default on js-ipfs. Support can be added to a running node with `ipldResolver.support.add`
- Drop Node.js 4

The first option would be the optimal, the second makes me sad, the third is something that was planned, but not 'now', we might reconsider next month during the gather.

[2017-03-13 14:58] dignifiedquire opened #787 "Awesome Datastore Endeavour"
As described in https://github.com/ipfs/js-ipfs-repo/issues/112 we need and want to upgrade our storage game. So here comes another awesome endeavour 🌟

The general goal is to create a datastore interface and implementations to match the way go handles storage and matching features like `query` that we need down the line. The new library has been implemented in [interface-datastore](https://github

[2017-03-13 15:01] dignifiedquire commented on #781
Given the comments above, I don't think it's likely Node 4 support will be merged. So I would suggest to remove eth support for the time being and discuss how to move forward about Node 4 next month at the gathering.

[2017-03-13 15:03] diasdavid commented on #787
the ipfs-repo update and block-service should be part of this endeavour as well :)

[2017-03-13 15:03] diasdavid commented on #787
//cc @kumavis @SidHarder that might be interested in following this one

[2017-03-13 15:05] dignifiedquire commented on #787
added

[2017-03-13 15:43] diasdavid commented on #725
I'm intrigued, I still see this today:

[code]

And yet, after https://github.com/dignifiedquire/aegir/pull/99#discussion_r104973985, tests still don't fail after the webworker tests fail.

[2017-03-13 15:56] dryajov commented on #725
@diasdavid what project is that? This might be a project that needs WW disabled. As for them not failing, are you on the latest Aegir with those fixes applied?

[2017-03-13 16:16] diasdavid commented on #725
This is `js-ipfs` itself

[2017-03-13 16:24] dryajov commented on #725
Ah, thats weird. I'll take a look at it, wonder if any changes have been introduced which could bring window in again? In any case will take a look ASAP.

[2017-03-13 21:29] diasdavid opened #789 "Complete the Packages Table"
And add a column for CI too https://github.com/ipfs/js-ipfs#packages

[2017-03-14 17:19] diasdavid commented on #556
Ok, grabbing this issue again, lot's of discussion have happened with tons of valuable input. I'm going ahead and attempt to coalesce all of the ideas into one proposal in which I'll be implementing in the next couple of days. This will be the time where feedback is more crucial than ever, as I'll have to move forward with this pretty quickly.

## New Init API

Init'ing an IPFS instance will look

[2017-03-14 20:18] kumavis commented on #781
i think `ethereumjs-block` can be updated to remove `ethereumjs-util` and thus `ethjs`

[2017-03-15 13:34] diasdavid commented on #556
All right, work happening here! https://github.com/ipfs/js-ipfs/pull/790

[2017-03-15 13:34] #556 closed

[2017-03-16 08:48] diasdavid opened #795 "🚀 0.23 Release 🌟"
# Highlights

### ✨ A new way API is born, welcome to `.dag`

The new DAG API (available through `ipfs.dag`) offers a new way to create and operate over any MerkleGraph, today it has support for the IPFS MerkleDAG (referenced as dag-cbor), the new dag-cbor (which lets you drop json into IPFS seamlessly) and a preview of Ethereum.

You can learn how to use it through:
- [docs](https://github.com/ip

[2017-03-16 08:55] diasdavid commented on #725
@dryajov still seeing this one, any developments?

[2017-03-16 09:04] diasdavid commented on #795
@haadcode I already know that orbitdb, orbit-core and ipfs-log tests will fail because the "Improving Init endeavor" has happened, see the updated one here: https://github.com/ipfs/js-ipfs#ipfs-core-use-ipfs-as-a-module. Could you timely update orbit to check everything is working fine? Thank you :)

[2017-03-16 14:53] diasdavid commented on #725
Since @dignifiedquire asked me to update aegir in all the repos (thanks dig!), I'm going to list out here which repos still don't have webworker support

# Need webworker support

- [ ] https://github.com/multiformats/js-multihashing/pull/19

[2017-03-16 15:00] dryajov commented on #725
@diasdavid, we also need this https://github.com/dignifiedquire/aegir/issues/107 in aegir. For now, we can just disable window as a global without any specific message, if you have a chance to update aegirs eslint with the rule, it might be a good time.

[2017-03-16 18:04] diasdavid commented on #795
@lgierth, once you have deployed bootstrapers with 0.4.7, could you list their multiaddrs here. Thank you.

[2017-03-16 23:51] diasdavid commented on #787
@dignifiedquire do you feel that you will have the 3 remaining PR's tomorrow? I think we can pull this one all together tomorrow :)

[2017-03-17 09:00] dryajov commented on #725
@diasdavid `webrtcsupport` lib is the one causing issues, it is the last lib we need fixed before full WW support is finally ready. Here is a PR addressing it https://github.com/HenrikJoreteg/webrtcsupport/pull/30.

[2017-03-17 12:37] diasdavid commented on #787
I'm really happy with the way we figured to make this big code changes `\o/ awesome endeavours`

[2017-03-17 15:44] diasdavid commented on #755
This is not a problem anymore since `0.22`, since we moved all our below 1.x.x deps to use ~ instead of ^.

Thanks for the report @nicola

[2017-03-17 15:44] #755 closed

[2017-03-17 15:47] diasdavid commented on #729
I believe this is now answered, let me know if this is not the case.

Also, with the new init setup, it is 100x simpler to add that websockets addr:
https://github.com/ipfs/js-ipfs#advanced-options-when-creating-an-ipfs-node

Note: today, by default, js-ipfs ships with a websockets multiaddr, so you don't even have to add one :)

[2017-03-17 15:47] #729 closed

[2017-03-17 15:47] diasdavid commented on #515
I've removed this from everywhere, as this is not really an option anymore. Apologies for the confusion!

[2017-03-17 15:47] #515 closed

[2017-03-17 15:51] diasdavid commented on #17
Now bitswap is at least 236% more documented at https://github.com/ipfs/js-ipfs-bitswap#usage

Closing this issue as we have both interop and a state of where the project is, further development will happen in a different thread.

[2017-03-17 15:51] #17 closed

[2017-03-17 15:52] #632 closed

[2017-03-17 15:53] diasdavid commented on #745
dexie is going away with new datastore, so no more worries :)

Closing this one!

[2017-03-17 15:53] #745 closed

[2017-03-17 16:18] diasdavid commented on #696
@harshjv it is indeed! I've no idea why it took me so much to review this issue. Go ahead with the PR :)

[2017-03-17 17:56] kumavis commented on #781
@dignifiedquire we are discussing this now - where can we find the test failures

[2017-03-17 18:19] dignifiedquire commented on #781
@kumavis I have a branch on my laptop but never pushed it, I can push probably in an hour or so. As far as I remember I just installed deps on node 4 and ran the test

[2017-03-17 20:20] dignifiedquire commented on #781
@kumavis https://github.com/dignifiedquire/ethjs-util/tree/node-4 this branch fails for me:

[code]

[2017-03-18 05:06] harshjv commented on #696
@diasdavid done. https://github.com/ipfs/js-ipfs/pull/798

[2017-03-18 08:04] fippo commented on #725
@dryajov: i'd advise against using the webrtcsupport package. Its legacy and contains 90% stuff that you don't need anymore in 2017.

@diasdavid i would strongly advise against "making noise", in particular making the kind of noise that has happened on the worker topic in the past.. Trying to get someone else to do work that benefits you like this typically doesn't work out. If you want to be cons

[2017-03-18 18:54] dryajov commented on #725
@fippo thanks for pointing this out. Indeed all we use it for is detection of the presence of webrtc support in the environment, we can perhaps not need that in the browser anymore, but what about nodejs?

[2017-03-19 03:43] zabirauf opened #800 "Not seeing any connected peers when using js-ipfs in browser"
I have the following code to connect to IPFS

[code]

The node is connected, `isOnline` is `true` but when I get the list of peers I get nothing. Even when trying to get a file, nothing. Is there a known issue in using js-ipfs in browser or is there something wrong in the code I have to connect to IPFS?

[2017-03-20 06:35] tpae commented on #127
Is this issue still open, anyone currently working on it?

[2017-03-20 07:21] dryajov commented on #127
Not currently, this ended up starting the webworker effort, but this issue didn't get much progress after that. If your willing to give it a shot, now might be a good time, I can give some pointers as to what I was trying to accomplish if interested.

[2017-03-20 10:20] VictorBjelkholm commented on #800
First it should be a lot simpler to use js-ipfs now. You could something like this instead:

[code]

Secondly, there might just not be any peers connected at the same time as you. Have you tried having two tabs open or two different browsers loading the same page and see if it still happens?

[2017-03-20 10:26] VictorBjelkholm commented on #127
Maybe this could be developed as a webpack plugin? Where once the plugin is included + js-ipfs, it outputs a `bootstrap.js` or similar, who purpose is to load the rest of the assets. Would be pretty nifty for getting benefits of ipfs simply by including a plugin in your config.

[2017-03-20 10:29] dignifiedquire commented on #795
__BLOCKER__: https://github.com/ipfs/js-ipfs/pull/797#issuecomment-287722223 we need to fix the new init process before we can release it

[2017-03-20 14:15] diasdavid commented on #800
@zabirauf where did you get such example of creating a IPFS instance? That options object doesn't really match the API.

As @VictorBjelkholm suggested, if you checkout js-ipfs master, you will have a new experience for init that is way simpler than before, what you are looking to is:

[code]

Let me know if this works for you.

[2017-03-20 14:35] haadcode commented on #795
tldr: I won't be able to update Orbit and its modules to use the new init quickly.

I don't think I can change Orbit just yet to use the new init. As Orbit uses both, js-ipfs and js-ipfs-api, it expects to have the same API regardless of the module. I might be able to hack it so that ipfs-daemon uses two different APIs under the hood, but I'd rather avoid that. Furthermore, since the constructor o

[2017-03-20 14:38] diasdavid commented on #795
In terms of API, it remains exactly the same, the only thing that is different is the 'init->load->goOnline' step, which was exclusive to js-ipfs.

[2017-03-20 14:56] diasdavid commented on #795
answer to @dignifiedquire's 'blocker' - https://github.com/ipfs/js-ipfs/compare/fix/race?expand=1

[2017-03-20 15:00] dryajov commented on #127
That could be one way, I kinda went a bit more ambitious with this one and was trying to get it working in serviceworkers with an eye on integrating it with the SW tools from Google. Good thing is that we ended up with WW support so it should be possible now. But a webpack plugin would also do.

[2017-03-20 15:02] diasdavid commented on #725
@fippo I clearly didn't word that in the best way possible. Entirely agree with you, it is orders of magnitude more valuable to provide constructive help and willingness to be part of the process than a simple 'I want this too'. Currently, I'm underwater and unavailable to provide significant help to that development, however, I do hope in the best way possible, that by bringing other people that

[2017-03-20 15:21] fippo commented on #725
@diasdavid at least you didn't tweet about it like certain other people. If you just want to check for support ```RTCPeerConnection && ('createDataChannel' in RTCPeerConnection.prototype)``` should be sufficient.

[2017-03-20 15:30] tpae commented on #127
I was thinking of a different approach, but since I'm new to ipfs, I won't know it will work until I try.

Here's my thoughts:
1. get `.html` from ipfs as a stream, and parse the text to be `json` format.
2. separate resources and html content. Start fetching the resources.
3. use the json-based html structure, and call the DOM API to build out the rendering tree structure (virtual DOM).
4. once r

[2017-03-20 15:31] haadcode commented on #795
Understood. What I meant was that `ipfs-daemon` has been a way for Orbit to have one (same) API for both ipfs modules and I'll need to re-write the node.js/browser part to use the new init API. My original plan was that once both modules (js-ipfs and js-ipfs-api/js-ipfsd-ctl) support the same user facing API, I'd be able to just switch the modules with (no or) minimal work and eventually make ipfs

[2017-03-20 15:33] diasdavid commented on #795
See:
- https://github.com/ipfs/js-ipfs/issues/556#issuecomment-286494980
- https://github.com/ipfs/js-ipfsd-ctl/issues/149

tl;dr; Yeah, I want that too :)

[2017-03-20 16:08] dryajov commented on #127
@tpae That might be a bit of an overkill IMHO. What's needed is a way of loading those assets from IPFS as if they were fetched with HTTP. The nice thing about ServiceWorkers is that they can proxy requests transparently, so if instead of doing a fetch to the original resource, you could fetch it from IPFS. From the perspective of an existing website (or just in general, the serviceworker flow), w

[2017-03-20 17:02] tpae commented on #127
@dryajov that makes sense. I was doing some reading and found this example: https://github.com/GoogleChrome/samples/blob/gh-pages/service-worker/mock-responses/service-worker.js

So you want to simulate cache hit with IPFS and return resources from IPFS directly, right?

From my understanding of service workers, they have limitations (don't have access to DOM, https, etc..), but still flexible eno

[2017-03-20 17:13] dryajov commented on #127
@tpae Yep, there should be a few more examples as to how the sw-precache does its thing, which is very close to what we're trying to accomplish here. Also, take a look at this example - https://github.com/GoogleChrome/voice-memos, I was using this as a test bet, its a pretty popular SW example and we could also take advantage of IPFS to store the voice memos them self, which is a bonus. As for sec

[2017-03-20 17:18] tpae commented on #127
How do you go about registering the service worker? They need to come from same origin, do you suggest loading it locally for now, and figure it out later? Do you foresee IPFS becoming part of the browser anytime soon?

I'm also concerned about mobile browser support, since service workers are not widely supported yet.

[2017-03-20 17:34] dryajov commented on #127
@tpae Yeah, it has to be a hybrid for now, the initial resource would be served over HTTP along with the SW code, from then on IPFS would be fetching the remainder of the resources, note that the initial resource could be also hosted/stored on IPFS but served by and HTTP gateway.

As for browser support, there is work being done to get browser vendors to start adopting this, but no idea on the tim

[2017-03-20 17:50] dryajov commented on #127
@tpae Thinking about security a bit more, there should really be no issues... The reason is, first you're only loading resources that you know about, second the hash guaranties that the resource can't be tampered with. However, if you try to proxy all calls to IPFS, then sure, anything could come back, but it is no different than calling some third party resource, some trust schema has to be estab

[2017-03-20 18:01] dryajov commented on #725
@diasdavid I'll do what @fippo is suggesting.

[2017-03-20 18:45] tpae commented on #127
@dryajov right, it makes sense. I think this is why they require HTTPS in order to run service workers. It adds some level of security, knowing that the data isn't tampered during the process.

I think having the initial bootstrap layer that loads resources makes sense. As a user, if I want to host my app on IPFS, I should be able to provide a proxy layer (either through github pages or other mean

[2017-03-20 18:56] theD1360 opened #802 "`ipfs.files.add` callbacks and promises do not resolve on Ionic2 platform"
Can anyone help me out with this? Below is a simplified version of what I have running on an ionic2 project.
I seems that the connection is working but it never seems to trigger the callback but it also never triggers any errors or warnings. Tried using the promises as well but still nothing.
[code]

[2017-03-20 18:57] diasdavid commented on #802
@theD1360 what is the `file` var you are passing?

[2017-03-20 18:59] diasdavid commented on #802
@theD1360, @VictorBjelkholm just brought up that you might be using a older version of js-ipfs, which version are you using?

[2017-03-20 19:03] theD1360 commented on #802
@diasdavid Should be using master. I added this in my package.json
`"ipfs": "git@github.com:ipfs/js-ipfs.git#master",`

the ipfs-api package.json shows `"version": "12.1.7"`

[2017-03-20 19:26] theD1360 commented on #802
Here is what is the calling snippet looks like.

[code]

[2017-03-21 06:13] #229 closed

[2017-03-21 08:06] rodkeys commented on #800
I am on  js-ipfs master and I cannot find any peers as well. I am running Ubuntu 14.05.5 and node v6.7.0.

I am using a modified example script

`
const node = new IPFS({
    repo: path.join(os.tmpdir() + '/' + new Date().toString()),
    config: { // overload the default config
        Addresses: {
            Swarm: [
                '/libp2p-webrtc-star/dns4/star-signal.cloud.ipfs.team/wss'

[2017-03-21 09:18] diasdavid commented on #795
**Interop tests are passing** https://github.com/ipfs/js-ipfs/commit/ae4bb9d9de089f5ea672f10de471174c59cc152c

[2017-03-21 10:25] diasdavid commented on #800
Let's try one more thing, spawn several browser tabs with your code and instead of doing just once `node.swarm.peers` do it in a setInterval.

[2017-03-21 10:44] RodZokos commented on #800
@diasdavid that worked my peers are now showing up, thank you.

[2017-03-21 11:23] diasdavid commented on #795
Bootstrapers are on by default now too \o/

[2017-03-21 13:41] diasdavid commented on #696
Thank you so much @harshjv :) I've already using it today!

[2017-03-21 13:41] #696 closed

[2017-03-21 13:55] diasdavid commented on #795
@haadcode I wanted to PR an update to ipfs-daemon, but I got lost. What is the branch you use today? Master seems out of date for a while and it is not the version that is published on npm.

As per your suggestion, going to drop orbit tests for this release.

[2017-03-21 14:45] zabirauf commented on #800
@diasdavid pulling from master and then starting it as you suggested made it work.

I got the config that I was using from this example from https://github.com/haadcode/orbit-db/blob/master/examples/browser/index.js

BTW is there a documentation on what are the different values of config and what each of them means?

[2017-03-21 15:17] diasdavid opened #804 "Deploying js-ipfs to the Galaxy"
Similar to go-ipfs, we want to run some js-ipfs nodes and monitor their behaviour. From a quick chat with @lgierth on IRC, here are some notes:

[code]

[2017-03-21 15:32] dignifiedquire commented on #804
![nasa-89125](https://cloud.githubusercontent.com/assets/790842/24155338/dbb1ad8e-0e53-11e7-9f2f-c59eae184812.jpg)

[2017-03-21 15:56] theD1360 commented on #802
@diasdavid Could this be caused by not having any peers connected? I've checked the peer connections and it comes an empty array.

[2017-03-21 16:08] dryajov commented on #804
@lgierth @diasdavid

I have a not there regarding passive and active relays:

How are active relays gonna be handled, does it make sense to have them as dedicated nodes, maybe part of the bootstrap list?

https://github.com/libp2p/js-libp2p-circuit/issues/4

[2017-03-21 16:24] VictorBjelkholm commented on #802
@theD1360 could you try listening to the `error` event as when when you initialize your node? Could be something that is not working when initializing but you're not catching any errors so might just be silent.

[2017-03-21 16:35] diasdavid commented on #802
@theD1360 can you push a full script that reproduces the case? Since you are using your own wrappers, I can't be sure of what is going on inside.

[2017-03-21 16:44] theD1360 commented on #802
@diasdavid

https://github.com/theD1360/CygnusLoop/blob/master/src/app/app.component.ts#L136
https://github.com/theD1360/CygnusLoop/blob/master/src/providers/ipfs.ts

[2017-03-21 17:48] diasdavid commented on #802
@theD1360 looks like Ionic doesn't offer a native TCP shim module or a WebSockets one (read it here: https://forum.ionicframework.com/t/tcp-sockets-in-ionic-2/67806/3). Seems like we need to create a custom transport, that supports Ionic2 networking.

See how we did TCP for Node.js -- https://github.com/libp2p/js-libp2p-tcp/ -- and how we bundle it in here: https://github.com/ipfs/js-libp2p-ipfs-n

[2017-03-21 18:11] diasdavid commented on #800
@zabirauf awesome to hear! Unfortunately, we have not, this is the closest -- https://github.com/ipfs/specs/tree/master/repo#config-state --, they should be, however, very intuitive. Wanna update the spec with the descriptions of those that you know, asking those you don't know?

Closing this issue for now as it was resolved :)

[2017-03-21 18:11] #800 closed

[2017-03-21 18:26] diasdavid commented on #763
@kumavis let's pick up on this again, now that we have datastore bubbling up all the way :)

[2017-03-22 01:20] kumavis commented on #763
whee~

[2017-03-22 14:25] diasdavid commented on #795
Updated the first post to include all the highlights and a Future section :)

[2017-03-22 14:32] diasdavid opened #806 "Latest yargs update broke jsipfs cli out of jsipfs repo folder"
`jsipfs daemon` fails if spawned from a folder that is not this repo. There is an assumption on process.cwd()

[code]

[2017-03-22 14:34] dignifiedquire commented on #806
@diasdavid is this a problem with the datastore pr as well?

[2017-03-22 19:14] theD1360 commented on #802
Upon further inspection it looks like WebSockets are available in the window object not sure what else I need to get this working. I also decided to build the app for android and am getting a new error regarding secure origins on init. Is it possible that this is related to this issue? If not is there any way that I can circumvent the secure origins restriction (webrtc or something)?

I'll take so

[2017-03-23 00:45] #787 closed

[2017-03-23 00:52] diasdavid commented on #806
now it is all good again :)

[2017-03-23 00:52] #806 closed

[2017-03-23 01:21] diasdavid commented on #802
Ok, let's go with WebSockets first then :) We just need to make sure it exposes the same interface that one would get from using WebSockets in a browser context, if it does, then it should work like a charm.

Could you tell us more?

Btw, if you can set up some custom simple apps on Ionic2 for us to have a quick sandbox to try things, that would be extremely helpful.

[2017-03-23 01:26] diasdavid commented on #30
Hi everyone, this is your Captain speaking. I'm aware I haven't shared an update here in a while (mainly due we opened new channels like the waffle board, the roadmap, awesome endeavors and so on), but I didn't want to miss the opportunity to capture your attention to Issue https://github.com/ipfs/js-ipfs/issues/795#issue-214633515, the 0.23 release.

v0.23.0 brings a lot of exciting new things, i

[2017-03-23 04:49] jbenet commented on #795
\o/

[2017-03-23 18:45] diasdavid commented on #738
We are now supporting experimental features by passing flags to the `options` object on new IPFS.

Does everyone feel like this is resolved? If so, I'll close the issue :)

[2017-03-23 19:05] diasdavid commented on #795
Ok, last bits to get in for this release:

- [ ] https://github.com/ipfs/js-ipfs/pull/808
- [ ] surprise 🎁 😃

[2017-03-24 01:32] theD1360 commented on #802
For sure. I'll see what I can figure out as far as the websockets go. In the meantime, feel free to clone my [CygnusLoop](https://github.com/theD1360/CygnusLoop/) app repo. Standard ionic 2 install and build nothing fancy.

Login page is fake just enter any values. Check out the [Ionic 2 docs for debugging ](https://ionicframework.com/docs/v2/resources/developer-tips/) for debugging info.

[2017-03-24 11:51] diasdavid commented on #795
### Surprise 🎁 js-ipfs now supports unixfs sharding as well!

To enable it, simply:

[code]

If you are not familiar with sharding, you can read more about it here: https://github.com/ipfs/notes/issues/76. It essentially enables you to add directories with many entries without causing a single node in the graph to become really large due to having lots of links and clogging the bitswap wire protoc

[2017-03-24 12:11] diasdavid commented on #795
![](https://media.giphy.com/media/tO2Ws20kv13Dq/giphy.gif)

[code]

[2017-03-24 23:30] #795 closed

[2017-03-25 12:35] devingfx commented on #619
Hello,

I've got trouble installing js-ipfs, some dependencies can't compile I've got `make` errors...
After investigation, I figured out my node-gyp is v3.5.0 and my node is v6.0.0 is this normal ?
(I'm node expert with npm and gyp so I assume that it have to be in the same version number no?)

_I'm on ubuntu 14, I installed/switched to node v6 using `n`, I  updated npm with `npm install npm@late

[2017-03-25 19:46] diasdavid commented on #619
@devingfx it is weird that it fails specifically at sha3 for you, can you check you have all your OS packages up to date as well?

The normal error is with the wrtc package, which requires all of this deps -- listed here: https://www.npmjs.com/package/wrtc#debianubuntu --.

@VictorBjelkholm this is a recurring question, since you are the most save installing in Ubuntu, could you compile a list of

[2017-03-26 01:35] SidHarder commented on #619
@devingfx I had this problem a few months ago and spent several hours trying to solve it.  As I remember the problem had to do with node-gyp and python.  After I got node-gyp and the correct version of python installed things started working.

[2017-03-26 13:13] jackkleeman opened #812 "Using the best address available"
It seems to me that if I have a peerinfo with two addresses of which one is successful, a call to dialbypeerinfo works only 50% of the time, if the 'good' address is attempted first. If the bad address is attempted first, I just get a dial error; I was under the impression that libp2p would try all options until one succeeds.
I have had this issue with addresses that totally fail, eg local address

[2017-03-26 14:21] jackkleeman commented on #812
See https://github.com/libp2p/js-libp2p-swarm/pull/193 where I have fixed this.

[2017-03-26 22:15] diasdavid commented on #812
Thanks for catching this @jackkleeman, seems that there might have been a regression along some swarm refactoring, the intended behaviour is for it to try all addresses.

[2017-03-26 22:20] jackkleeman commented on #812
No problem! Fortunately an easy fix

[2017-03-27 12:08] dignifiedquire commented on #812
PR is here: https://github.com/libp2p/js-libp2p-swarm/pull/195

[2017-03-28 00:05] devingfx commented on #619
I did upgrade the most I could... nothing...
I couldn't even install the libs from your link @diasdavid (wrtc) :

[code]

I get :

[code]

I abandon... I'll test on a better config, as I'm on a chrooted ubuntu in parallel with a chromeOS in dev mode, not the better place to test ipfs !

Thank still for your help!

[2017-03-28 12:04] diasdavid commented on #812
This has been fixed. Use js-ipfs master to benefit from these changes :)

[2017-03-28 12:04] #812 closed

[2017-03-28 17:57] baimurzin opened #816 "Local subnet offline file system"
Is it possible to run IPFS locally(on local network), for example for only my devices: laptop, pc, android. And sharing files between

[2017-03-28 19:27] diasdavid commented on #816
- ✅  Run IPFS locally
- ✅  Devices:
  - ✅  laptop
  - ✅  pc
  - ✅  android (inside Chrome)
- ✅  share files

Absolutely! Now it is all about UX, if you are looking for something like Dropbox or Google Drive, that is something we haven't built yet, the closest we have is https://github.com/ipfs/station

[2017-03-28 19:36] baimurzin commented on #816
@diasdavid ok, thanks a lot for the answer, but I do not need this like dropbox, I just learning how to build my local network IPFS, can you suggest where to look?

[2017-03-28 19:41] diasdavid commented on #816
Have you checked the transfer-files tutorial https://github.com/ipfs/js-ipfs/tree/master/examples/transfer-files ?

[2017-03-28 19:50] baimurzin commented on #816
@diasdavid using this solution I can communicate only with my nodes, correct me if I mistaken?

[2017-03-28 20:02] diasdavid commented on #816
It should not be seen as a solution, it is just an starting point that shows you how stuff works.

[2017-03-28 20:30] baimurzin commented on #816
@diasdavid Ok, I got it, thanks. But it is just a approach to transfer a file from one device to another.
But my question is is there any solution to use IPFS as default distributed fs, but among my devices which have ipfs daemon or something else.  For example, when I run one instance of API and upload the file it's file is available from [https://gateway.ipfs.io/ipfs/](url) for all users, becaus

[2017-03-28 21:17] dryajov commented on #816
@baimurzin if your ipfs network is isolated from the outside world, then you should be able to, just don't let it connect to anything outside that network.

[2017-03-28 21:29] baimurzin commented on #816
@diasdavid ok, I'm grateful for your help. Now it's more clearly, but what of this library I should use for it and how my device found another one in network?

[2017-03-29 02:15] kumavis commented on #779
@diasdavid I dont think splitting on 20 bytes for each piece is any different that splitting on the first N bytes for the first parameter

i would say its not a transformation if the serialization doesn't need to change

our thinking seems to diverge here, based on previous discussions around ethereum resolvers

[2017-03-29 02:31] kumavis commented on #763
seems simple enough

https://github.com/ipfs/js-datastore-level
https://github.com/ipfs/interface-datastore

how do you mount multiple stores? and can you mount one as read-only?

[2017-03-29 02:32] kumavis commented on #763
also - do you have a preferred isomorphic xhr module? otherwise ill use what i usually do

[2017-03-29 03:37] diasdavid commented on #229
As a note, this has been solved :)

[2017-03-29 03:43] diasdavid commented on #763
We shim `stream-http` in js-ipfs-api https://github.com/ipfs/js-ipfs-api/blob/master/package.json#L10

The code for reaching to the block store, given that it exposes the same API as go-ipfs does for blocks, is exactly what js-ipfs-api does https://github.com/ipfs/js-ipfs-api/blob/master/src/api/block.js

On `read-only`, it means that essentially when it calls write, you say 'All good folks', but

[2017-03-29 03:48] diasdavid commented on #779
@kumavis agreed that there might be space to be a little less strict with the separation of `local resolver` vs `transformation`. Note: I intuitively did the same as you with dag-pb https://github.com/ipld/js-ipld-dag-pb/blob/master/src/resolver.js#L44-L47 .

I'll be with @nicola next week and revisit this question for IPLD transformations. Let's continue this thread on the IPLD repo https://githu

[2017-03-29 03:50] diasdavid commented on #816
@baimurzin just starting the daemon should suffice, it uses MulticastDNS for that local discovery :)

[2017-03-29 04:32] noffle commented on #229
\o/

[2017-03-29 05:12] pyromaticx commented on #619
@devingfx Im getting the same errors after running
[code]
 Installing wrtc globally fixed this for me on linux, but its more of a quick fix than anything else. I am having this issue on osx as well as ubuntu 16

[2017-03-29 05:22] lgierth commented on #619
You don't need git-all btw. I got js-ipfs working just a few minutes ago with a `git clean -fdx`, after installing the wrtc dependencies and installing node v6.

[2017-03-29 08:53] baimurzin commented on #816
@diasdavid ok, good, And how can I find the devices what "connected" with me?

[2017-03-29 14:04] josselinchevalay opened #819 "install failed on ubuntu 16.04"
Hi all

i install js-ipfs on my project by that command

[code]

i use :
- npm 3.10.10
- node v6.10.1
- OS ubuntu 16.04

when run  :

[code]

i have this error :

[code]

[2017-03-29 14:11] VictorBjelkholm commented on #819
Are you getting any errors when running npm install? Seems like wrtc wasn't
installed correctly

On Wed, Mar 29, 2017, 16:04 CHEVALAY JOSSELIN <notifications@github.com>
wrote:

[2017-03-29 14:37] josselinchevalay commented on #819
no i haven't error aout wrtc

[2017-03-29 14:43] diasdavid commented on #819
Seems like wrtc is missing indeed, could you try a fresh install? Also see: https://github.com/ipfs/js-ipfs/issues/619

@VictorBjelkholm anytime to handle https://github.com/ipfs/js-ipfs/issues/619#issuecomment-289234926 ?

[2017-03-29 15:56] VictorBjelkholm commented on #819
So, tried installing js-ipfs on a completely fresh Ubuntu 16.04 box, with same node and npm version as you.

### Install Dependencies + nodejs
[code]
### Temporary application path
[code]
### Installing js-ipfs, no errors
[code]
### Contents of `index.js`
[code]
### Running
[code]
Output:
[code]
### Reinstalling wrtc again and then run it again
[code]
Output:
[code]
### Manually reinstall leveldow

[2017-03-29 17:02] josselinchevalay commented on #819
after your process when run index .js have this output :

`̀``
assert.js:81
  throw new assert.AssertionError({
  ^
AssertionError: The libp2p node is not started yet
    at Node.dialByPeerInfo (/home/josselin/waiting/js-ipfs/node_modules/libp2p/src/index.js:219:5)
    at EventEmitter.self._libp2pNode.discovery.on (/home/josselin/waiting/js-ipfs/node_modules/ipfs/src/core/components/libp2p.js:37:3

[2017-03-29 17:03] josselinchevalay commented on #819
my npm version

[code]

[2017-03-29 17:48] diasdavid commented on #819
Not being able to replicate locally:
[code]

@VictorBjelkholm can you verify in your machine?

[2017-03-29 17:51] VictorBjelkholm commented on #819
@josselinchevalay sorry, made a mistake with listening to `ready` instead of `start`. Try changing to

[code]

instead and see if everything works.

[2017-03-29 19:29] Vladislav719 opened #820 "How can I run node as daemon?"
Is it alternative for **jsipfs daemon** command?
[code]

If yes, how can I start it and working with API
**node index.js** ?

[2017-03-29 20:29] #816 closed

[2017-03-30 06:11] diasdavid commented on #820
@Vladislav719 'almost', starting that way you get an instance, if you want the HTTP API you need to start an HTTP API with https://github.com/ipfs/js-ipfs/blob/master/src/http-api/index.js. You can see code that does that here: https://github.com/ipfs/js-ipfs/blob/master/test/utils/ipfs-factory-daemon/index.js

[2017-03-30 06:11] diasdavid commented on #819
@VictorBjelkholm any luck on those docs?

[2017-03-30 07:04] josselinchevalay commented on #819
@diasdavid @VictorBjelkholm i propose to change that into the README.md

[2017-03-30 07:27] diasdavid commented on #819
@josselinchevalay it is the other way around, you should always check for the `start` event

[2017-03-30 07:36] Jacodelange commented on #819
@VictorBjelkholm I had the same problem, your steps fixed it.

[2017-03-30 07:40] josselinchevalay commented on #819
@Jacodelange  you talk about replace ready by start ?

[2017-03-30 07:45] diasdavid commented on #819
Updated the readme to clarify this.

- `start` means that the node has been booted (with listeners)
- `ready` means that whatever were the steps you used as options, they are completed and it is ready to go. So if you didn't set "start: false", it means it also started.

[2017-03-30 07:50] josselinchevalay commented on #819
👍  @diasdavid  it's more clear thanks a lot ! =)

[2017-03-30 07:55] Jacodelange commented on #819
@josselinchevalay the issue with the Cannot find module wrtc

[2017-03-30 07:57] josselinchevalay commented on #819
@Jacodelange  ok thx a lot

[2017-03-30 08:57] VictorBjelkholm commented on #819
I don't think reinstalling two modules manually is a acceptable fix, just a debugging step. Something is clearly wrong with how to modules are being installed, but I'm still unsure about the reason for it. I'll reopen this for tracking that.

[2017-03-30 09:02] josselinchevalay commented on #819
@VictorBjelkholm  ok let me know if you need some help for test =)

[2017-04-01 18:45] jgostylo commented on #800
I was having a lot of issues with this as well and I am still not able to isolate my problem.  I am using the hosted package for the browser at:
[code]

I assume it is up to date.

I was going off the examples which seem to be a little out of date.  I the behavior I was seeing was that my callback with node.files.cat(hash, callback) was never getting called.  I feel like I traced through the code

[2017-04-02 11:47] diasdavid opened #823 "ENFILE when daemon is on"
I started seeing a `ENFILE` error when adding large directories with the daemon on. This is we are trying to open all the files to then send them through js-ipfs-api -- https://github.com/ipfs/js-ipfs/blob/master/src/cli/commands/files/add.js --.

Note that I have my ulimit already increased by default and not using Mac OS X default.

[code]

This can be reproduced by simply adding the `node_modul

[2017-04-02 14:04] diasdavid commented on #800
@jgostylo Thank you for the throughout issue report, I believe I understand what you are experiencing.

tl;dr You can't get a file that isn't within your reach and since we haven't implemented timeouts (see more why here: https://github.com/ipfs/interface-ipfs-core/issues/58), the call stays there waiting for the file to exist. That being said, if you issue a `files.add` of that file in another no

[2017-04-02 16:49] jgostylo commented on #800
@diasdavid Thank you for the reply, explanation, and for working on this project.  This kind of brings me back to where I was when I attempted to run manual connections before I knew about the alternate setup with webRTC.  I list out my peers in go-ipfs and I select about a dozen of them to set up connections manually.  Here is an example of code that I am using and the error I get (which I don't

[2017-04-02 18:03] diasdavid commented on #800
@jgostylo the address that you are trying to dial from the browser is a TCP one, a transport that unfortunately is not available in the Browser runtime, therefore a Browser node can't dial to a node listing on TCP.

In the browser there is only support for WebSockets and WebRTC (we could add HTTP, but wouldn't bring any value at the moment). You need to make your Node listen on WebSockets.

The tr

[2017-04-02 23:00] jgostylo commented on #800
@diasdavid, Ok so it looks as if connection to the outside world will require a running daemon locally on the machine and then connecting the browser run js-ipfs to the websocket enable daemon.  What I am eventually trying to do is have a browser client that can contact the broader ipfs world and grab data that it did not add itself.  Does this following idea make sense then?:  If there was a clie

[2017-04-03 20:24] kumavis commented on #779
I think ipld/ipld#13 is slightly more complicated (pre-process with hash, split into halfbytes).

splitting the concatenated SHA1 refs still falls under (consume path part, return result) which is no more of a transformation than any IPFS resolver performs.

[2017-04-04 04:22] kumavis commented on #725
found this recently https://github.com/Joris-van-der-Wel/karma-mocha-webworker

[2017-04-04 04:27] dryajov commented on #725
@kumavis thats what we ended up using.

To get the last mile of this, we need a pretty small change in how we detect WebRTC. Looking up that issue...

[2017-04-05 01:42] thisbejim opened #826 "files.get availability"
Hi there, are you able use files.get to download files from the network when running a js-ipfs node? I can only see [files.cat](https://github.com/ipfs/js-ipfs/blob/92d3fbe11e3e96b8d22cc43d2e8b205a2a014c1f/examples/browser-script-tag/index.html#L61) being used in the browser example which, as I understand it, grabs files stored locally.

At the moment when I use files.get on a hash for a file that

[2017-04-05 22:18] #826 closed

[2017-04-05 22:34] diasdavid commented on #820
@Vladislav719 let me know if you had any trouble, otherwise, closing this issue :)

[2017-04-05 22:34] #820 closed

[2017-04-05 22:58] diasdavid commented on #731
Did I answer your question @negamaxi ? Let me know if not. Closing this now.

[2017-04-05 22:58] #731 closed

[2017-04-05 22:59] diasdavid commented on #739
Almost all done, last mile is https://github.com/ipfs/js-ipfs/pull/740

[2017-04-05 22:59] #739 closed

[2017-04-06 06:15] theD1360 commented on #802
Current master appears to be initializing without errors on both iOS and Android. As far as the secure origins goes it appears that it was related to ionic live reload. Still having issues with uploading to the the network but it seems to be a different issue. I'll keep this issue open until I verify that the new error is unrelated.

Thanks guys.

[2017-04-07 13:38] ticruz38 opened #828 "Can't have it working with webpack 2 and typescript"
Here is my webpack config
[code]
Here is my package.json

[code]

When importing ipfs in my project, I keep having this error somewhere in my dependencies:
[code]

Do you guys have any idea what's wrong in my config?

[2017-04-07 15:47] dryajov commented on #828
Could you please provide more details on how your importing  ipfs - import vs require, do you have a typings.d.ts file and how does that look?

Ideally, this should be a lote easier to troubleshoot with some sample code.

[2017-04-07 15:52] ticruz38 commented on #828
I import ipfs in a require function, I do not have a typing library for ipfs,
I even tried by importing it in a js file with a babel-loader as it is done in the webpack sample... same results

[2017-04-08 18:32] zabirauf commented on #828
@ticruz38 I'm also using webpack2 with typescript. I created a type declaration package for IPFS so that I can import and use it with some types in Typescript.

To use it put the following under devDependencies
`"@types/ipfs": "git+https://git@github.com/zabirauf/ipfs-types.git"`
then import as
`import * as IPFS from 'ipfs';`

See if that helps. Though keep in mind that the declaration file is not

[2017-04-09 13:07] ticruz38 commented on #828
Thanks for the ipfs types library, my problem came from another module, removing ethereum related modules fixed my problem, seems like there was some incompatibility, and using 'yarn install' made it crash somehow...
now it works

[2017-04-09 13:07] #828 closed

[2017-04-11 10:14] nxtpool opened #829 "Connect to running "ipfs daemon""
Is it possible to connect to already running daemon instance not creating new one?

[2017-04-13 23:29] grassias commented on #823
I can confirm this issue. The problem is that, in my machine, when I try to add a small directory (e.g. `img` folder from js-ipfs) with the daemon on, I get another error:
[code]
Can someone reproduce it as well? Or there is something wrong with my configuration of js-ipfs? I am noting that my ulimit is 256 (default in macOS Sierra).

[2017-04-14 15:47] diasdavid commented on #829
Absolutely, have you tried it? Let me know if you have hit any obstacle.

[2017-04-15 16:08] jgostylo opened #832 "ipfs.files.add not working"
I am including JS-IPFS in my browser using:
[code]

I know that I am connecting to my running IPFS daemon using web sockets.  I do an ipfs.files.cat on a resource that I know is in IPFS and it grabs it just fine.  Here is my code for adding my json snippet to IPFS:
[code]
I know my buffer code is working.  When I am in the debugger I am getting to the line inside the res.forEach and the file objec

[2017-04-15 22:45] jgostylo commented on #832
Update: I ran a test to go through my code and create a dummy json structure to upload to IPFS.  It worked.  I tried going back to my old workflow and it once again failed.  I tried hitting IPFS through the go daemon at different parts of the workflow that worked and it seems that a good work around for me is to cat the IPFS location right after I add it.  The data is not available in the IPFS dae

[2017-04-16 10:53] diasdavid commented on #832
@jgostylo are you 100% positive that both nodes are connected?

Make an `ipfs.swarm.peers` just to be sure.

[2017-04-16 14:02] #789 closed

[2017-04-16 15:02] jgostylo commented on #832
Yes.  I have two instances showing me that the browser is connected to the go daemon and the go daemon is connected to the outside world.  I have a call in my browser that grabs something that originated from an outside source.  That call works and I download the ipfs resource (it makes it all the way to the browser).

The second instance where I have seen this work is with the following workflow.

[2017-04-16 16:58] dryajov opened #833 "WIP - Awesome Relay Endeavour"
We're getting close to completing the JS circuit implementation, this issue is to track further progress. Main work is being done here - ~~https://github.com/libp2p/js-libp2p-circuit/pull/9~~ https://github.com/libp2p/js-libp2p-circuit/pull/14.

### Assumptions (needs validation)
   1. All addresses are encapsulated with `p2p-circuit` by default to make them dialable over circuit relay
   2. If an

[2017-04-16 21:52] diasdavid commented on #833
Bumping this as my priority of focus for the next couple of days :) (meaning, will prioritize this over https://github.com/ipfs/js-ipfs/pull/822)

[2017-04-16 23:29] jgostylo commented on #832
Another update:
So I constructed a new test and I have different results.  The ipfs.files.cat that I was running I do not believe was necessary.  I think the reason my locally running go daemon was not getting the ipfs resource was because my browser client was stopped at a breakpoint.

So if I run the cat with my IPFS daemon I will get the resource.  If I run the cat from something like http://ip

[2017-04-18 04:49] dryajov commented on #833
@diasdavid I've updated the above with some more info. In general circuit should be ready to be reviewed, there might be some minor churn but in general, I don't expect any more major changes. I'll concentrate on finalizing integration with `libp2p` and `js-ipfs`, and continue adding more tests.

[2017-04-20 22:14] xSkyripper opened #834 "Runtime Support: Cordova"
Hello.

Is it possible to start a js-ipfs daemon properly in a cordova app on android ?

More exactly, I used the script tag in my main html and added the js code for the daemon to start.
The app starts fine, the daemon seems to start too but I have no discovery at all.
Swarm peers returns an empty array and I also cannot find the specific device's ID from a linux machine connected to the same rou

[2017-04-23 06:59] josselinchevalay opened #835 "electron app not found wrtc"
Hello guys,

i implement electron in my web app and try to run but i have this error.

Error: Cannot find module '/home/josselin/development/telescope/node_modules/wrtc/build/wrtc/v0.0.61/Release/electron-v1.6-linux-x64/wrtc.node'

i try to install leveldown and wrtc manually with `npm install --save wrtc leveldown`but not works againt

regards

[2017-04-23 07:43] nannal commented on #835
Ensure the electron-v1.6-linux-x64 diectore exists, if not create it and then move wrtc.node into it.

You'll likely get an error about it being built for the wrong version at which point you need to do some funky s fuck arcane shit with electron-rebuild. from then on it will work but dont even think about trying to package it up using electron-packer because that just breaks it.

Someone who know

[2017-04-23 11:09] josselinchevalay commented on #835
now i have that :

was compiled against a different Node.js version using
NODE_MODULE_VERSION 48. This version of Node.js requires
NODE_MODULE_VERSION 53. Please try re-compiling or re-installing

[2017-04-23 12:48] lgierth commented on #835
cc @kyledrake

[2017-04-23 16:37] gaieges opened #836 "Unable to get / put objects sequentially"
This may be a noob question, but for some reason I'm unable to `put` and object into the store, and then simply `get` it right after. Here's what I'm working with as a simple demo:

[code]

Theoretically based on my understanding, this should work fine - it should put the object (which it does successfully) and then spit it out again.  However what I'm seeing is that it hangs when `get`'ing the ob

[2017-04-24 17:34] kyledrake opened #837 "ipfs.files.get and ipfs.files.cat do not support ipfs-path format"
[code]

The go-ipfs daemon takes care of this for me (`ipfs cat QmcKi2ae3uGb1kBg1yBpsuwoVqfmcByNdMiZ2pukxyLWD8/index.html`), so I was surprised to run into this.
The way it seems to be implemented in js-ipfs is that `ipfs.files.get` can iterate over every "file" and provides an object with a path and stream, but that could have performance implications if we were trying to grab individual objects

[2017-04-24 18:21] dryajov commented on #837
I believe that your hash has to be "fully qualified" with `/ipfs/QmHash`.

[2017-04-24 18:41] kyledrake commented on #837
Nope, even with that I still get this for ipfs.files.get: `Error: not valid multihash`. ipfs.files.cat throws an exception for a non-base58 character.

[2017-04-26 09:57] kenshyx opened #838 "object.patch.addLink not returning"
If no encoding is specified, ex `{enc: 'base58'}`, this method never returns.
`Node version: 7.4.0`

[2017-04-26 10:24] kenshyx commented on #838
Same issue for `object.links`

[2017-04-29 20:30] sophiii opened #839 "dest undefined for ipfs.files.get"
I am trying to get a file
[code]
But it returns `TypeError: dest is undefined` in the browser.

[2017-05-01 10:22] ticruz38 commented on #828
@zabirauf that would be cool if you could add your library to the definitelytyped official repo

[2017-05-04 09:10] zabirauf commented on #828
@ticruz38 I'm planning to do it at some point, when I have some more coverage on the types included.

[2017-05-04 17:01] pgte opened #840 "Chrome slowdown (WebRTC)"
Noticed a serious communication speed degradation when window is on a background tab.

Here is a video demonstrating this, where I used the example [here](https://github.com/pgte/ipfs-iiif-db/tree/master/examples/simple-producer-consumer) : https://youtu.be/dnlNOxDQ3H0

[Here you can find the IPFS config](https://github.com/pgte/ipfs-iiif-db/blob/master/src/start.js#L6-L18).

Using Chrome 58.0.302

[2017-05-04 17:04] VictorBjelkholm commented on #840
Hm, noticed some slowness in Chrome as well, filled here: https://github.com/ipfs/js-ipfs/issues/611

Also, when tabs are in the background, Chrome slows everything down, and I don't think there is a workaround for that, unless you use a webworker.

[2017-05-04 18:06] grsind19 opened #841 "node.stop() is thrwing the libp2p node not started error"
Installed the ipfs node module locally

then wrote this code,

[code]

After running the code, getting the below error

[code]

can someone explain this.

[2017-05-05 09:31] ticruz38 commented on #828
I'm asking because I'd like to release a type declaration for orbitdb which is based on ipfs

[2017-05-05 15:20] kenshyx opened #842 "electron-rebuild error"
I tried to use js-ipfs from my electron app and everytime I try to rebuild it using `electron-rebuild` I get this [error](https://gist.github.com/kenshyx/08aa6d7df0fd4a23f382a4fd411ff359). It might be a dependency of js-ipfs which uses `execSync`, similar issue [here](https://github.com/mgutz/execSync/issues/20). Any thoughts?

[2017-05-05 15:36] shuangjj commented on #819
Have the same problem, fixed after `npm install wrtc --build-from-source`

[2017-05-05 15:39] josselinchevalay commented on #819
hey @shuangjj , could you try that

`npm install --save wrtc leveldown`

regards

[2017-05-06 18:07] kumavis commented on #763
would be nice if js-ipfs-repo's data store could be specified externally somehow
seems hardcoded in with a lot of other config https://github.com/ipfs/js-ipfs-repo/blob/master/src/index.js#L136-L139

[2017-05-06 18:30] diasdavid commented on #763
Agreed, right now the decision is being made inside the ipfs-repo module by signalling through the browser property in the package.json, here:

https://github.com/ipfs/js-ipfs-repo/blob/master/package.json#L8

I would rather have those options passed in, so that we can hot swap it per application basis, just like libp2p bundles.

[2017-05-06 19:53] kumavis commented on #763
would be nice if we could boot the http api by passing in an instance of an ipfs node, instead of it needing to boot its own

[2017-05-06 19:54] kumavis commented on #763
for now, i think this will work but NotAGoodIdea™
[code]

[2017-05-06 20:27] kumavis commented on #763
hmmm seems bitswap is somehow not using my late-mounted datastore

[2017-05-06 22:13] kumavis commented on #763
https://github.com/ipfs/js-ipfs-api/pull/550

[2017-05-06 22:24] kumavis commented on #763
ipfs-api uses POST for all requests, parity only implements GET for `block.get`

[2017-05-06 22:48] kumavis commented on #763
PR for the http method fix here https://github.com/ipfs/js-ipfs-api/pull/551

[2017-05-06 23:10] kumavis commented on #763
Remaining IPFS todo's
- [ ] fix js-ipfs-api http method ipfs/js-ipfs-api#551
- [ ] publish `datastore-ipfs-http-api` (is there a less horrible name to use?)

optional:
- [ ] fix js-ipfs-api cid serialization ipfs/js-ipfs-api#550
- [ ] change the http-api server api to accept an ipfs instance instead of a ipfs repo location
- [ ] change the ipfs-repo datastore config to be easier to configure at th

[2017-05-07 05:18] zabirauf commented on #828
@ticruz38 Ok, I'll publish it to definetlytyped repo.

[2017-05-07 10:04] diasdavid commented on #841
That is indeed mysterious, we have a bunch of tests that checks exactly that case in https://github.com/ipfs/js-ipfs/blob/master/test/core/create-node.spec.js

Could you check which version you are using?

[2017-05-07 10:06] diasdavid commented on #835
This solved @kyledrake's issues https://github.com/electron/electron/blob/master/docs/tutorial/using-native-node-modules.md let me know if it works for you.

[2017-05-07 10:07] diasdavid commented on #842
Electron uses it's own version build of Node.js, causing a disparity in the binaries compiled by your own Node.js version and the one it uses.

This solved @kyledrake's issues https://github.com/electron/electron/blob/master/docs/tutorial/using-native-node-modules.md let me know if it works for you.

[2017-05-07 10:10] diasdavid opened #843 "Need better instructions for Electron users."
More and more user's have been having trouble using js-ipfs with Electron due to the native module dependencies, see:

- https://github.com/ipfs/js-ipfs/issues/842
- https://github.com/ipfs/js-ipfs/issues/835

The solution found passes by following this example: https://github.com/electron/electron/blob/master/docs/tutorial/using-native-node-modules.md

We should include instructions to guide user

[2017-05-07 10:11] diasdavid opened #844 "PubSub tests are failing *only* on Travis CI"
This started happening recently, we need to investigate.

[2017-05-07 10:13] diasdavid commented on #837
@kyledrake is correct, currently we don't support subpaths, also tracked here https://github.com/ipfs/js-ipfs/issues/60

@kyledrake would you like to help us achieve that? This would require a modification to the https://github.com/ipfs/js-ipfs-unixfs-engine, it needs to discard part of the tree traversal operations.

[2017-05-07 10:16] diasdavid commented on #839
See the example here: https://github.com/ipfs/interface-ipfs-core/tree/master/API/files#javascript---ipfsfilesgetmultihash-callback, `res` is a stream of files.

[code]

[2017-05-07 10:17] diasdavid commented on #838
Thanks for reporting! Would you like to help us fixing it by adding some tests to https://github.com/ipfs/interface-ipfs-core/blob/master/src/object.js#L668 ?

[2017-05-07 12:32] sophiii commented on #839
thanks, the root cause was i was using ipfs in browser so `process.stdout` was undefined i used https://github.com/kumavis/browser-stdout so now it works.

[2017-05-07 12:32] #839 closed

[2017-05-08 05:02] jbenet commented on #795
looks like this isnt on github: https://github.com/ipfs/js-ipfs/releases

[2017-05-08 05:02] jbenet commented on #795
~~looks like this isnt on github: https://github.com/ipfs/js-ipfs/releases~~ nvm it is.

[2017-05-08 05:03] jbenet commented on #795
was hidden. is not latest release

![image](https://cloud.githubusercontent.com/assets/138401/25790846/f7afca4c-3370-11e7-9529-bbbe64e72ec2.png)

[2017-05-08 05:17] jbenet opened #845 "Example: use in the browser"
browser examples do not show how to connect to network... no idea how to connect an in-browser js-ipfs to the rest of the network

[2017-05-08 07:01] kumavis commented on #763
i have it working and deployed (via patched deps) https://github.com/kumavis/ipfs-eth-bridge

[2017-05-08 10:27] diasdavid commented on #795
Seems `aegir` stopped doing this automatically for us. Will investigate. Thanks for the catch!

[2017-05-08 10:35] diasdavid commented on #845
Did you get the chance to look at the [`transfer-files`](https://github.com/ipfs/js-ipfs/tree/master/examples/transfer-files) example? You should see this:

![image](https://cloud.githubusercontent.com/assets/1211152/25800674/95429504-33ea-11e7-890f-a781881e60cb.png)

[2017-05-08 10:58] kenshyx commented on #842
I have a proper build environment for electron, the problem is that package that can't be built(execSync).

[2017-05-08 11:49] kenshyx commented on #842
I found it, it's from [aegir](https://github.com/dignifiedquire/aegir) package, it uses this old [execSync](https://github.com/mgutz/execSync) package, deprecated a long time ago. Also this package should be a dev dependency of [ipld-eth-storage-trie](https://github.com/ipld/js-ipld-eth-storage-trie/blob/master/package.json)

[2017-05-08 16:37] kenshyx commented on #838
Can you guide me to some docs, where can I find an `IPFSFactory` simple example? I found something on `js-ipfs-api` but there should be something out of the box available that I can plug and write the tests :)

[2017-05-08 17:20] diasdavid commented on #838
Absolutely, the simplest way is to:

[code]

[2017-05-08 21:04] shuangjj opened #846 "pubsub scheme subject to timing?"
When node A subscript to TOPIC, nodes B, C, D are online and they can publish to TOPIC so that A can receive. If node E goes online after A subscribe to TOPIC, even E publishes message to TOPIC, A can not receive the message in this case. Is this correct for current development of pubsub protocol on ipfs? Is there a way to store and relay subscriptions like mqtt's broker scheme?

[2017-05-08 21:05] IamCarbonMan commented on #725
As an outside observer, I have to ask: what does all this mean? Are you actually able to use WebRTC APIs in worker code as has been proposed as standard [here](https://github.com/w3c/webrtc-pc/issues/230)? Or is this issue just to test that the code should theoretically work the same from a worker context, to be ready when worker WebRTC is standardized?

[2017-05-08 21:10] dryajov commented on #725
Good question, glad your asking - this effort is to get IPFS to run in Web and Service workers. The specific outstanding issue right now is related to WebRTC detection functionality that breaks inside Workers because of explicit usage of `window`. WebRTC is tangential to this effort, since its not supported in web/service workers at all at this point.

[2017-05-09 09:00] ticruz38 opened #847 "ipfs-address in the browser"
I am using ipfs in the browser, I just figured out that my browser node does not connect to peers except when I explicitly connect with ipfs.swarm.connect(address). After that I got one peer connected to my browser node.
I am also unable to get my browser node address, the field multiaddress is always an empty list.

Is that a normal behaviour, is there any configuration needed to get my browser n

[2017-05-09 10:23] dignifiedquire commented on #795
@diasdavid it used to work for me, but maybe you were missing the right gh token?

[2017-05-09 11:04] diasdavid commented on #795
@dignifiedquire I just refreshed it, let's see

[2017-05-09 12:12] VictorBjelkholm commented on #847
Take a look at the example "Transfer Files" which shows how you can use a Signaling Server to help nodes to find each others: https://github.com/ipfs/js-ipfs/blob/637250d0faca4f50025e48397149afbd0d99588b/examples/transfer-files/public/js/app.js#L37-L46

There is also bootstrap nodes on the way, which would help as well.

[2017-05-09 13:13] sophiii opened #848 "best practice for ipfs node browser image display"
I have an ipfs/ethereum dapp which gets an ipfs image `ipfs.files.cat(hash, function (err, stream)` then i store that image `img = file.toString("base64");` as a base 64 string. Finally i display that image by setting `document.getElementById("design_display").src= "data:image/jpeg;base64,  " + img;`

The problem is that this causes me to be limited to 250KB images because the browser does not let

[2017-05-09 15:36] kenshyx commented on #838
I found the problem, when I'm passing an ipfs hash as string and I'm not specifying any encoding it silent fails. [This](https://github.com/kenshyx/js-ipfs/commit/7b3caefcee1a6fab9bd40b40459d2353dbe5a374) solves the problem. Should I open a pull request? Also I'm preparing some tests for interface-ipfs-core regarding this issue.

[2017-05-09 17:27] diasdavid commented on #838
@kenshyx yes please :) thanks for catching that!

[2017-05-09 21:08] diasdavid commented on #848
The normal usage is to create an image from a blob. Found an example for you, see http://jsfiddle.net/Jan_Miksovsky/yy7Zs/ and let me know if it worked :)

[2017-05-09 21:45] nginnever commented on #848
Here is an example using David's linked method in a react application I made awhile back.

[Here](https://github.com/nginnever/storj.pics/blob/master/src/containers/PublicContainer.js#L15-L23) you can see I'm getting a uint8array buffer from a `data` api method, followed by web api blobbing the data.

I then set the react state with the url and pass the prop to an img source [here](https://github.

[2017-05-10 10:28] kenshyx commented on #848
Don't forget to revoke the image when is not needed in order to get marked for gc. https://developer.mozilla.org/en-US/docs/Web/API/URL/revokeObjectURL

[2017-05-10 11:08] bgadmin opened #850 "What is garbage collection default policy?"

[2017-05-10 11:12] #850 closed

[2017-05-10 13:59] diasdavid commented on #847
Following on what @VictorBjelkholm already explained.

If you try the latest js-ipfs from github master, it will auto connect to bootstraper nodes, this feature hasn't been released yet

As @VictorBjelkholm suggested, you need to enable the WebRTC transport for that

That is because you are just using WebSockets in the browser, which doesn't have a listener, it can only dial.

[2017-05-10 14:03] diasdavid commented on #846
@shuangjj subscriptions are being propagated on connect, but it is an async operation, you are probably just seeing that happening on a 'warm up period'. Try use a setTimeout to double check.

[2017-05-10 20:13] ticruz38 commented on #847
thank you for your helpful answer, I couldn't find a suitable example in the test folder to up and download file from ipfs, the one you shared works just as expected.

[2017-05-10 20:13] #847 closed

[2017-05-10 20:36] diasdavid commented on #840
@pgte investigated more of this and concluded that this is due to Chrome's aggressive resource throttling policies

https://thenextweb.com/apps/2017/01/26/chrome-throttle-background-tabs-google/#.tnw_WzhZt1q4

[2017-05-10 20:39] diasdavid commented on #611
After @pgte finding and testing this situation (see https://github.com/ipfs/js-ipfs/issues/840#issue-226346360), he discovered that Chrome has aggressive resource throttling for backaground tabs and unfortunately that isn't something we can change.

See this report from TNW https://thenextweb.com/apps/2017/01/26/chrome-throttle-background-tabs-google/#.tnw_WzhZt1q4

[2017-05-10 20:39] diasdavid commented on #840
Let's close this one and continue the convo here: https://github.com/ipfs/js-ipfs/issues/611

[2017-05-10 20:39] #840 closed

[2017-05-10 20:42] fippo commented on #611
are you using http://w3c.github.io/webrtc-pc/#dom-rtcdatachannel-onbufferedamountlow ? If that is throttled... @taylor-b who could look into that? https://twitter.com/webrtc/status/843799556823433217 says  webrtc is exempted from this.

[2017-05-10 21:32] diasdavid commented on #611
Interesting, thanks for jumping in! I need to investigate more and narrow down the throttle, but if that clause exists on Chrome, the slowness we notice might be caused from all the other APIs we use (ie: WebCrypto and IndexedDB).

Btw, you probably have a way to replicate these situations super quickly, any tips and tricks you could share? Thanks :)

[2017-05-10 21:43] taylor-b commented on #611
@fippo I just did some testing with tip-of-tree with a page that uses "bufferedamountlow" and saw no evidence of it being throttled; it was called thousands of times a second with no problem.

[2017-05-11 16:45] sophiii commented on #848
Thanks you everyone. This is perfect. I have updated so i use blobs. :)

One follow up question is Can i use this to stream video/audio from IPFS? I have done a little reading and its possible to redirect a stream to a blob. But is this the recommended way to do this?

[2017-05-11 17:23] diasdavid commented on #848
Yeah, you can use this module -- https://www.npmjs.com/package/mediasource -- for that :)

Closing this issue then, thanks!

[2017-05-11 17:23] #848 closed

[2017-05-13 14:04] negamaxi opened #852 ""assert is not defined" in Electron"
Simple webpack bundle with this two lines:
[code]
...throws this  in Electron app.
![error1](https://cloud.githubusercontent.com/assets/16529171/26026089/c63e83a4-37fd-11e7-82d5-a3f7ae8a42c1.png)
Same code works well in Chrome tab. First I assumed something wrong with webpack bundle, but cdn bundle of ipfs-iiif-db embeded with <script> tag also refuses to work in Electron.

webpack 2.3.3 + webpack

[2017-05-13 14:16] negamaxi commented on #852
[code]
[code]
throws this error, again, only in Electron window
[code]

[2017-05-14 15:00] baimurzin opened #853 "Fail: cannot find module async/each"
I have installed ipfs
`npm i ipfs`

Then I call it:
[code]
And got an error:

module.js:471
    throw err;
    ^

Error: Cannot find module 'async/each'
    at Function.Module._resolveFilename (module.js:469:15)
    at Function.Module._load (module.js:417:25)
    at Module.require (module.js:497:17)
    at require (internal/module.js:20:19)
    at Object.<anonymous> (/Users/vladislav/WebstormProje

[2017-05-14 16:08] #853 closed

[2017-05-14 16:42] diasdavid commented on #852
@negamaxi it is important to understand which process of electron you are using, is it the Node.js process or the Browser process?

[2017-05-15 07:55] ticruz38 commented on #847
I've enabled webRTC, so now my peers do have address and browser nodes connect directly to each other.
But it seems like webRTC enabled node can't share data via block or file api. Only the pubsub seems to work.
Is this a normal behaviour? Something in the configuration to enable block and file sharing via webRTC?

[2017-05-15 08:11] diasdavid commented on #847
They should be able to share it, see the example https://github.com/ipfs/js-ipfs/tree/master/examples/transfer-files

Note, if you are using Chrome, you might need to open two windows due to Chrome's throttling policy https://github.com/ipfs/js-ipfs/issues/611

[2017-05-15 08:41] negamaxi commented on #852
@diasdavid ipfs code served by webpack on 'http://localhost:8080'. Electron opens this address in a new window. That means browser process, I guess.

[code]

Same page opened in Chrome in parallel works just fine.

[2017-05-15 11:29] ticruz38 commented on #847
they do open a connection through the file api, but it's as if the stream object were damaged. it either never ends or ends up with such error.
[code]
I'm trying to transfer image files (png, jpg) as shown in this [sample](https://github.com/ipfs/js-ipfs/blob/637250d0faca4f50025e48397149afbd0d99588b/examples/transfer-files/public/js/app.js#L37-L46)
the files resolve when they are already stored in

[2017-05-15 13:09] diasdavid commented on #847
Do you have success using the example? As in, did you manage to transfer files using it?

[2017-05-16 07:10] diasdavid commented on #844
fixed with #851

[2017-05-16 07:10] #844 closed

[2017-05-16 11:41] diasdavid commented on #725
@IamCarbonMan you are not able to, but `libp2p` dark magic uses whatever the runtime has to offer it, it won't use WebRTC if there is no support but the issue is that we are checking the support by checking the `window` object which is also not defined.

[2017-05-16 12:03] ticruz38 commented on #847
I just tried the transfer file sample. I do have the same problems. I opened 2 chrome windows and launched a desktop websocket enabled node. connected my two browser node together and with the desktop node.
Uploading and fetching file in the same window works. Fetching a file from the other window dont.
I tried with different connection, wifi and mobile data, the result is the same.
### When fetch

[2017-05-17 12:39] prettydiff opened #854 "Question about application management utilities for IPFS"
I have this application distribution utility that I have written: https://github.com/prettydiff/biddle .  In an upcoming version I plan to fully transition from HTTP to IPFS https://github.com/prettydiff/biddle/issues/50 .  All this work will be unnecessary if a better solution is already present.  A solution to application management already exist for IPFS?

Here is a brief run down of biddle des

[2017-05-19 00:58] shuangjj commented on #846
@diasdavid Thanks! It makes sense A doesn't get the message since E haven't updated its subscriber including A. Then there's a great chance A misses the message if E publishes message without checking the number of the subscribers.

[2017-05-19 14:04] diasdavid commented on #829
You can check examples of this here https://github.com/ipfs/js-ipfs-api/tree/master/examples

Let me know if you ran into any issue, closing this one for now :)

[2017-05-19 14:04] #829 closed

[2017-05-19 14:05] diasdavid commented on #836
Hi @gaieges, there was indeed a bug that was fixed with https://github.com/ipfs/js-ipfs/pull/849 by @kenshyx, you should not see this problem anymore. Thanks for the report :)

[2017-05-19 14:05] #836 closed

[2017-05-19 14:51] diasdavid opened #855 "⚡️ v0.24.0 RELEASE 🚀"
🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟🌟

# Highlights

### 👢 WebSockets DNS Bootstrappers by default on the browser

With this release, you won’t need to connect to Bootstrapper nodes manually, they will dialled from the start through their WebSockets endpoints. This also means that we’ve successfully deploy DNS support for multiaddrs, so that you can host your js-ipfs enabled app behind an HTTPS domain an

[2017-05-19 15:11] diasdavid commented on #855
This release comes in handy for the new **CRDTs on IPFS endeavor** and **IIIF Viewers with IPFS**. If you want to learn more about it check:

- https://github.com/ipfs/research-CRDT
- https://github.com/pgte/ipfs-iiif-db
- https://github.com/ipfs/notes/issues/240

You can find a working version and multiple demos and videos, here:

- iiif-db https://www.youtube.com/watch?v=8xE1MEyZsbo
- uv using i

[2017-05-19 20:54] diasdavid commented on #725
WebWorker tests are now passing! :D woot!

https://github.com/ipfs/js-ipfs/pull/857

[2017-05-20 18:04] pgte opened #858 "webRTCStar discovery disabled by default"
Against current master, to use webRTCStar discovery I had to set `config.Discovery.webRTCStar.Enabled` to `true`, even though I had `config.Addresses.Swarm` set to `['/libp2p-webrtc-star/dns4/star-signal.cloud.ipfs.team/wss']`.

I think this wasn't necessary before.
If not a bug, perhaps it should be added to the instructions.

[2017-05-21 15:20] diasdavid commented on #858
@pgte could you check your repo to see if this flag is correctly set? https://github.com/ipfs/js-ipfs/blob/master/src/init-files/default-config-browser.json#L15

[2017-05-21 15:29] diasdavid commented on #855
Hi @ipfs/javascript-team, just posted the Highlights for this release, let me know if I missed something.

To everyone using `js-ipfs`, I would really appreciate if you could try this before the release happens and report any problems you might find. If you weren't using any internals directly, you should be golden :)

[2017-05-21 15:39] diasdavid commented on #858
I can see there is something, although discovery seems to be working:

![image](https://cloud.githubusercontent.com/assets/1211152/26285247/d42a3aae-3e19-11e7-81de-ee3c4fee438e.png)

I don't get to have two nodes in different Chrome windows (or even one using Firefox) to see each other. This could be related with the new SS set up https://github.com/libp2p/js-libp2p-webrtc-star/pull/111. Do you se

[2017-05-21 15:43] diasdavid commented on #858
Interesting, it might be my current network configuration (in a coffee shop). The ICE is not working between browser to browser but browser to `wrtc` works flawlessly.

[2017-05-21 17:35] VictorBjelkholm commented on #858
@diasdavid

Seems like in that file, the property `Discovery` is overwritten with `{}`

[2017-05-21 17:44] negamaxi commented on #852
Reproduced on pure electron-quickstart-app here https://github.com/negamaxi/electron-ipfs-quick-start . IPFS added with script tag and initialized in renderer.js. Throws createServer error already mentioned above. When added via npm throws something new:
[code]
It maybe somehow connected with this errors occured during installation.
[code]

[2017-05-21 18:53] diasdavid commented on #855
### Run tests on projects using js-ipfs.

@haadcode went through the process of testing orbit modules with latest js-ipfs, you can find the results at:

- orbitdb https://github.com/orbitdb/orbit-db/issues/221
- orbit-core https://github.com/orbitdb/orbit-core/issues/6
- ipfs-log https://github.com/haadcode/ipfs-log/issues/108

Seems that the modules are still living on v0.22.0

[2017-05-21 19:07] diasdavid commented on #763
Checked the boxes that are already done

Yeah, just call it`js-datastore-ipfs`, it is an IPFS adapter for the datastore. Kind of a mobius strip datastore, but that is what it is :) Just make it clear in the Readme

---

@kumavis did you manage to figure out the bug of the other day?

[2017-05-21 19:17] diasdavid commented on #858
You have to check what is the loaded config. Note, Discovery works, just to show added a console log on peers found:

![image](https://cloud.githubusercontent.com/assets/1211152/26286657/a3dccbb8-3e38-11e7-85dd-b0789dff7f76.png)

[2017-05-21 19:32] diasdavid commented on #858
Still, no clue why 2 peers in the same machine are not finding each other. If we dial manually using connect, they dial successfully and exchange files.

[2017-05-21 19:32] diasdavid commented on #858
yeah, WebRTCStar Discovery is not being enabled :( hte whole Discovery disappears

[2017-05-21 19:45] diasdavid commented on #858
Ok, so I narrowed down the problem to this:

![image](https://cloud.githubusercontent.com/assets/1211152/26286837/62b5a41c-3e3c-11e7-99bd-24423da8bef3.png)

For some reason, the `require('location of config')` is yielding a config that has no keys on the Discovery property

[2017-05-21 19:46] diasdavid commented on #858
![image](https://cloud.githubusercontent.com/assets/1211152/26286858/b80992f2-3e3c-11e7-9715-1403ff188059.png)

[2017-05-21 19:47] VictorBjelkholm commented on #858
<img width="845" alt="image" src="https://cloud.githubusercontent.com/assets/459764/26286863/18dda294-3e6f-11e7-8db2-2359015671bf.png">

;)

[2017-05-21 19:50] diasdavid commented on #858
When I read "overwritten" I understood that somewhere in the code that was happening. thanks :)

[2017-05-21 19:55] #858 closed

[2017-05-21 21:20] grncdr commented on #845
I would support @jbenet's concern here, I'll explain the step I took:

1. I tried to start with `ipfs.files.cat` and a known multihash, but this will just hang indefinitely AFAICT.
2. I then looked at the `browser-script-tag` example, which worked, but only with data added to the same local repo.
3. I eventually looked at open issues, and this one was (thankfully) near the top of the list.
4. I th

[2017-05-21 21:31] grncdr commented on #845
In case my previous comment sounded negative... it's *awesome* to see that this does in fact work! 👍

[2017-05-21 22:53] diasdavid commented on #845
All valid points, thanks for the feedback @grncdr :)

At the current moment, you can fetch any data that is available to the Bootstraper nodes/gateways due to the lack of DHT as you learned. That said though, we are really onto the [DHT](https://github.com/ipfs/js-ipfs/pull/856) and [Relay](https://github.com/ipfs/js-ipfs/pull/830), the last to pieces to make this just work seamlessly for everyone

[2017-05-22 11:11] nezzard opened #861 "node js ipfs on windows"
Hi, i'm tried to install ipfs from npm on windows 10, but i always get an errors. So i have question, can i install ipfs on windows, or it's only for linux?

[2017-05-22 11:13] VictorBjelkholm commented on #861
Don't think there is something that should stop it from working, but not sure how well tested js-ipfs is on windows. It'll help a lot of you post a full log of the errors and also the output from `npm version`

[2017-05-22 11:18] nezzard commented on #861
`npm: '3.10.10',
  ares: '1.10.1-DEV',
  http_parser: '2.7.0',
  icu: '58.2',
  modules: '48',
  node: '6.10.3',
  openssl: '1.0.2k',
  uv: '1.9.1',
  v8: '5.1.281.101',
  zlib: '1.2.11' }`

And npm install log
`npm WARN deprecated graceful-fs@1.2.3: graceful-fs v3.0.0 and before will fail on node releases >= v7.0. Please update to graceful-fs@^4.0.0 as soon as possible. Use 'npm ls graceful-fs' t

[2017-05-22 18:15] kumavis commented on #763
because of the GET/POST mismatch, ended up making a "read-only-hooked datastore" module, used here: https://github.com/kumavis/ipfs-eth-bridge/blob/master/index.js#L24-L39

[2017-05-23 01:10] diasdavid commented on #861
Hi @nezzard, thanks for reporting. This is a known issue with some proposed PR changes:

- https://github.com/ipfs/interface-datastore/pull/5
- https://github.com/ipfs/interface-datastore/pull/6

Wanna help us fix this issue? I need to get a Windows VM set up and won't have fast enough connectivity this week to download the full image.

[2017-05-23 11:27] nezzard commented on #861
I tried to make fix from ipfs/interface-datastore#5 but nothing work, i have the same error like before

[2017-05-23 14:42] gediminasml opened #862 "Transfer-files example crashes when initiating a node"
Clicking on the `Start IPFS` button shows the following error:
[code]
And, well, the app just crashes.
I built IPFS from the latest master, also tried building from `d7c9eec` - no success. Any ideas what's wrong?.

EDIT: `f876171` building from this commit seems to solve this issue. However, it's still not working in the latest master branch

[2017-05-23 18:50] diasdavid commented on #862
Investigating this. Where is `f876171`?

[2017-05-23 19:45] diasdavid commented on #862
This was the change that is breaking this https://github.com/Level/levelup/commit/6bcd95927dce29575112dbc76038fdb2cdef4d36

[2017-05-23 20:01] diasdavid commented on #855
# With this release, you can run [`js-ipfs in a Service Worker`](https://github.com/ipfs/in-web-browsers/issues/55) \o/

[2017-05-24 01:09] diasdavid commented on #862
I've narrowed down the issue to the calls of levelDown, which don't exist:

- https://github.com/Level/levelup/blob/master/lib/levelup.js#L114
- https://github.com/Level/levelup/blob/master/lib/levelup.js#L385

The second issue I'm having is that levelup is required by a bunch of dependencies at different versions and webpack keeps picking at least one that causes the issue.

[2017-05-24 01:36] diasdavid commented on #862
https://github.com/Level/levelup/issues/426

[2017-05-24 12:44] gediminasml commented on #862
Thanks for looking into this, @diasdavid! Sorry for not getting back to you - timezone differences 🕐
Do you need any further clarification?

[2017-05-24 20:13] diasdavid commented on #862
Fix incoming \o/

Now last thing missing is this `Object.assign` issue, I created a [q in stack overflow](https://stackoverflow.com/questions/44167566/did-object-assign-behaviour-changed-when-using-webpack?noredirect=1#comment75351431_44167566) for it, as its nature is so strange.

[2017-05-24 20:15] diasdavid commented on #862
I believe I know what is going on, Object.assign works well everywhere except in `js-ipfs`, which means that there is some js-ipfs dep that is remapping that global 🙀.

Does anyone have a tip to find that remapping quickly?

[2017-05-24 20:18] diasdavid commented on #862
Oh, I know!

[2017-05-24 20:59] #862 closed

[2017-05-24 22:43] diasdavid commented on #855
# `ipfs@0.24.0 [18:39] Published to npm.`

![](https://media.giphy.com/media/5DNfRDqjxybxS/giphy.gif)

[2017-05-25 09:34] josselinchevalay commented on #835
hi i test your proposal to build native module with electron-rebuild

after a first error because i need to add libssl-dev now i have that

[code]

any idea ?

[2017-05-25 11:12] VictorBjelkholm opened #868 "Running `daemon` in CLI screws up config"
If I initialize a new repo, look at the config, run `jsipfs daemon` and then look at the config, they look different. There is some mumbo-jumbo being added in the bottom of the config. Steps to reproduce:

[code]

**Log**

[code]

[2017-05-26 08:14] jefft0 commented on #615
For awesome documentation, each example link should be pinned somewhere so that the reader can try the example. E.g. the example for "This is some data" on the examples page doesn't resolve:

https://ipfs.io/ipfs/QmNZiPk974vDsPmQii3YbrMKfi12KTSNM7XMiYyiea4VYZ/example#/ipfs/QmRFTtbyEp3UaT67ByYW299Suw7HKKnWK6NJMdNFzDjYdX/data/readme.md

Also, the links for the example web site on this page don't wor

[2017-05-26 10:14] reit-c opened #870 "Send arbitrary message to another peer addressed by their peer ID through js-ipfs"
How do I send an arbitrary message from a js-ipfs node to another js-ipfs node by peer ID? It is my understanding that logically js-ipfs must have within it somewhere the capacity to send a message to a peer based on their peer ID ('QmABCDEtc'), something like a standard XMLHttpRequest but using a multiaddr/peerID instead of a domain name/ip address. This function doesn't appear to be exposed thro

[2017-05-26 11:09] mkg20001 commented on #861
Or you can try https://www.appveyor.com/

[2017-05-28 00:51] diasdavid commented on #870
You can't send 'any arbitrary message', but you can prepare your js-ipfs nodes to receive the arbitrary messages you want to send.

You will need to use the libp2p instance inside js-ipfs, learn how with this simple example: https://github.com/ipfs/js-libp2p-ipfs-nodejs/tree/master/examples/echo

[2017-05-28 01:10] #855 closed

[2017-05-28 07:50] mathpunk opened #871 "Needed documentation: Begin with js-ipfs cli"
Hi, I've been interested in this project very near the beginning, but it's only recently that I've skilled up enough as a dev to have a hope of helping out.

I decided I wanted to experiment with ipfs nodes on my machines, and so I went to the [basic example](https://github.com/ipfs/js-ipfs/tree/master/examples/basics) page, and while the code has been touched recently there's no story about what

[2017-05-28 13:11] edsilv opened #872 "Hashes created on iPad not resolvable through ipfs.io gateway"
I'm seeing an issue on my iPad where hashes created with js-ipfs are not resolvable through the ipfs.io gateway.

Here's a test page: https://edsilv.github.io/ipfs-tests/ipad.html

https://github.com/edsilv/ipfs-tests/blob/gh-pages/ipad.html

I'm creating a cache-busted json object, adding it, then generating a link to view on the gateway.

Here's the user agent string:

[code]

It seems to have t

[2017-05-28 18:42] diasdavid commented on #872
Hi @edsilv, it seems that your demo doesn't work on Safari Desktop, you might have missed this by testing it on a Windows environment.

Checking the JS console on desktop, I noticed that the daemon never gets online.

![image](https://cloud.githubusercontent.com/assets/1211152/26531252/53a9853c-43dd-11e7-8eb6-2d9326360ba2.png)

This might be because it is trying to use WebRTC and it fails to creat

[2017-05-28 18:52] diasdavid commented on #872
Ok, I've been doing more tests on this, I knew there was something more why Safari wasn't fully supported, but I was missing to remember, now I know.

See:

![image](https://cloud.githubusercontent.com/assets/1211152/26531339/1d3af8b2-43df-11e7-8a2f-c9e0b99d35c4.png)

The WebCrypto spec is not fully implemented in Safari yet: https://github.com/libp2p/js-libp2p-crypto/issues/18

[2017-05-29 08:49] diasdavid commented on #871
Hi @mathpunk, welcome!

You aren't being able to cat subfiles due to https://github.com/ipfs/js-ipfs/issues/837, wanna try take a stab at it?

[2017-05-29 21:01] diasdavid commented on #725
fully supported in v0.24.0

[2017-05-29 21:01] #725 closed

[2017-05-30 00:58] mathpunk commented on #871
Stabbing away!

[2017-05-31 09:48] pgte opened #874 ""The libp2p node is not started yet" error during discovery"
Printed message during the tests:

[code]

Looks like there may be a race condition here, since `self.isOnline()` returns true [here](https://github.com/ipfs/js-ipfs/blob/860165c496f6a00045f76c14b1cd00658bd65edb/src/core/components/libp2p.js#L27), but the libp2p `isOn()` assertion fails [here](https://github.com/libp2p/js-libp2p/blob/2e326e1619c0337d97612c708e94950dfbd9a6ec/src/index.js#L239).

[2017-05-31 09:56] pgte commented on #874
I think I found it: https://github.com/ipfs/js-ipfs/blob/860165c496f6a00045f76c14b1cd00658bd65edb/src/core/components/is-online.js#L5

[2017-05-31 09:59] pgte commented on #874
Also, and since this is internal, instead asserting the online status, it should queue the operations for when the node is online (like many database clients do).

In this case, the `.dial()` is being called because we discovered a peer. IMO, we should not ignore this event. Instead, we should queue until every networking component (bitswap and libp2p I guess) is considered to be online.

[2017-05-31 10:37] pgte commented on #874
Can provide a PR, but would like some guidance before :)

[2017-06-03 14:01] diasdavid commented on #758
This shouldn't be a problem anymore \o/

@dignifiedquire could you confirm that:

- [ ] Webpack config no longer has this substitution
- [ ] README has been updated to reflect this change
- [ ] Have examples been updated?

[2017-06-03 14:02] diasdavid commented on #861
There has been a fixed pushed, merged and released for interface-datastore. Could you confirm if this works now for you?

[2017-06-03 14:07] nezzard commented on #861
Just npm install ipfs?
If yes, it's not working

[2017-06-03 14:40] diasdavid commented on #861
Oh, that is because I never released the new interface-datastore, shame on me. Try again now :)

[2017-06-03 14:44] nezzard commented on #861
Did npm uninstall ipfs than install and now get the same error Invalid key: \SHARDING

[2017-06-03 15:10] dignifiedquire commented on #758
@diasdavid I did not have time to do a new release for browserify-zlib I am afraid

[2017-06-03 15:58] diasdavid commented on #874
Interesting, that `if` was added specifically to avoid that race condition. I agree with you, all of these should be queued up. The queueing, however, should not let two dials to be unlocked at the same time, which will confuse libp2p-swarm until it becomes a state machine.

[2017-06-03 16:03] dignifiedquire commented on #758
browserify-zlib@0.2.0 was just released :tada:

[2017-06-03 16:04] pgte commented on #874
ok, I'm onto this..

[2017-06-03 16:05] diasdavid commented on #872
@edsilv now that you have it going on your Android phone I look forward to see the demo! :D Closing this issue :)

[2017-06-03 16:05] #872 closed

[2017-06-03 16:13] diasdavid commented on #868
It doesn't necessarily "screw" the config, it is just serializing stuff that is not required to be in the config. Looks like it needs to be sanitized before stored. @VictorBjelkholm can you PR a fix for this?

[2017-06-04 20:13] download13 commented on #861
Hey, I'd really like to help get js-ipfs running on windows.

To that end I made a pull request to update the dependency of a dependency of this project: https://github.com/ipld/js-ipld-resolver/pull/83

Once that's merged and published the dependency version on here can be updated and we can start looking at whatever the next windows-related bug will be.

[2017-06-05 10:27] diasdavid commented on #861
@download13 which version of npm are you using? You shouldn't have this issue since `interface-datastore` was published as a patch version and ipld-resolver is using semver for that dep.

Could you try doing a fresh npm install on this repo?

[2017-06-05 19:36] download13 commented on #861
I tried it just now. Still getting

[code]

[2017-06-05 20:49] gaieges commented on #836
Confirmed this fixed it, thank you! (Sorry for the delay)

[2017-06-05 23:22] diasdavid commented on #836
Thanks! :)

[2017-06-07 16:10] wanderer opened #876 "expose repo directly"
if application have a minumal set of information they need to store outside of ipfs, it might make sense for them to use the repo.store, instead of creating a seperate db.

[2017-06-07 22:03] diasdavid commented on #876
I wouldn't recommend anyone to do that, you would be messing IPFS usage of the repo, things like delete/move keys that IPFS is using, messing with the locks, or even lock the repo indefinitely could happen if the developers aren't really careful.

[2017-06-08 01:43] download13 commented on #861
Isn't this using a package-lock.json file? I thought you had to update them somehow as the dependencies specified there will always be installed.

[2017-06-08 08:53] MichaelMure opened #2856 "add --nocopy not supported"
Hi,

I'm trying to use the --nocopy option of the filestore through js-ipfs-api but files added this way are stored in the regular blockstore. After a lot of digging I think it's due to how the file is streamed in the http request:

Capture of the multipart/form-data of a request made with the CLI:
[code]

Capture of the multipart/form-data of a request made with js-ipfs-api:
[code]

The absolute

[2017-06-09 18:16] diasdavid commented on #861
Which version of npm are you using?

[2017-06-09 20:31] alienatorZ opened #877 "in pubsub self initialized with ._pubsub undefined"
I am experimenting with ipfs and orbitdb but encountering some errors on pubsub. It seems that under the 'subscribe' function it uses self._pubsub which is undefined. below is my code for a test case.

Thanks,
AlienatorZ

const IPFS = require('ipfs');
const OrbitDB = require('orbit-db');

const ipfs = new IPFS();
const orbitdb = new OrbitDB(ipfs);

ipfs.on('ready', () => {

        const db = orbi